Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix: scrolling mode can hide autoly
  packages/vtable/src/event/listener/scroll-bar.ts
Labels: vtable

docs: add scrollFrozenCols
  docs/assets/demo/en/interaction/scroll-frozen.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/interaction/scroll-frozen.md
  docs/assets/guide/en/basic_function/frozen_column_row.md
  docs/assets/guide/en/interaction/scroll.md
  docs/assets/guide/zh/basic_function/frozen_column_row.md
  docs/assets/guide/zh/interaction/scroll.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/frozen/list-table-scrollable-frozen-cols.ts
Labels: vtable, docs

fix: clear resize column/row indicator line when setRecords or updateOption is called #4120
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/state/state.ts
Labels: vtable

docs: update changelog of rush
  common/changes/@visactor/vtable/fix-resize-col-line-stuck-4120_2026-03-24-00-40.json
Labels: chore

docs: update rules about pivot-chart in skill
  skills/vtable-development-assistant/references/examples/pivot-chart.md
  skills/vtable-development-assistant/references/knowledge/09-data-binding.md
Labels: none

docs: add code abbitation and technical docs
  packages/vtable/docs/frozen-area-scroll-design.md
  packages/vtable/docs/select-border-design.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/utils/get-cell-position.ts
  packages/vtable/src/event/listener/scroll-bar.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/scroll.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/component/util.ts
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/select/create-select-border.ts
  packages/vtable/src/scenegraph/select/delete-select-border.ts
  packages/vtable/src/scenegraph/select/move-select-border.ts
  packages/vtable/src/scenegraph/select/update-custom-select-border.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/scenegraph/select/update-select-style.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: add option scrollFrozenColsPassThroughToBody
  docs/assets/guide/en/interaction/scroll.md
  docs/assets/guide/zh/interaction/scroll.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/frozen/list-table-scrollable-frozen-cols.ts
  packages/vtable/src/event/scroll.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

feat: gantt add locateIcon for taskbar
  docs/assets/demo/en/gantt/gantt-locate-taskbar.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-locate-taskbar.md
  docs/assets/guide/en/gantt/Getting_Started.md
  docs/assets/guide/zh/gantt/Getting_Started.md
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
  packages/vtable-gantt/examples/gantt/gantt-locate-taskbar.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-gantt-autoLocationIcon_2026-03-25-03-56.json
Labels: chore

docs: update gantt locate icon
  docs/assets/demo/en/gantt/gantt-locate-taskbar.md
  docs/assets/demo/zh/gantt/gantt-locate-taskbar.md
  docs/assets/guide/en/gantt/Getting_Started.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/Getting_Started.md
  docs/assets/guide/zh/gantt/introduction.md
Labels: docs

docs: update change log
  common/changes/@visactor/vtable/feat-frozenColumn_scroll_2026-03-20-11-09.json
Labels: chore

docs: generate changelog of release v1.25.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: props error
  packages/vtable-plugins/src/table-carousel-animation.ts
Labels: none

build: prelease version 1.22.13-alpha.9
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-react-vtable-19_2026-03-27-11-07.json
Labels: chore

build: prelease version 1.25.1-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: rende elplus demo
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo-vue/menu.json
  docs/assets/demo-vue/zh/custom-layout/cell-vnode-component.md
  packages/vue-vtable/demo/src/App.vue
  packages/vue-vtable/demo/src/main.ts
  packages/vue-vtable/demo/src/table/elplus/index.vue
  packages/vue-vtable/package.json
Labels: docs, chore

fix: degrade radio/checkbox cells to text in aggregation rows #4027
  packages/vtable/examples/menu.ts
  packages/vtable/examples/type/radio-aggregation.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

docs: update changelog of rush
  common/changes/@visactor/vtable/fix-radio-aggregation-row-4027-v2_2026-03-30-02-28.json
Labels: chore

fix: reset all interaction states on data update to avoid stale resize indicators #4120
  packages/vtable/examples/interactive/resize-setRecords.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/state/state.ts
Labels: vtable

docs: update changelog of rush
  common/changes/@visactor/vtable/fix-resize-col-line-stuck-4120-v2_2026-03-30-02-46.json
Labels: chore

refactor: extract endResizeIfResizing() for cleaner resize cleanup in setRecords
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/state/state.ts
Labels: vtable

fix: react19 reconciler
  common/autoinstallers/create/pnpm-lock.yaml
  common/autoinstallers/lint/pnpm-lock.yaml
  common/autoinstallers/run-script/pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
  common/git-hooks/commit-msg
  common/git-hooks/pre-commit
  common/git-hooks/pre-push
  common/scripts/install-run-rush-pnpm.js
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
  packages/react-vtable/src/table-components/custom/reconciler.ts
  packages/vtable-plugins/package.json
  packages/vtable-sheet/package.json
  packages/vtable-sheet/src/styles/formula-bar.ts
  rush.json
  skills/vtable-browser-debugger-skill/SKILL.md
  skills/vtable-browser-debugger-skill/references/react18-react19.md
Labels: react-vtable, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-react-vtable-19_2026-03-30-09-11.json
  docs/assets/guide/en/Developer_Ecology/react.md
  docs/assets/guide/zh/Developer_Ecology/react.md
Labels: docs, chore

docs: update react guide
  docs/assets/guide/en/Developer_Ecology/react.md
  docs/assets/guide/zh/Developer_Ecology/react.md
Labels: docs

fix: vue build error
  tools/bundler/bin/index.js
  tools/bundler/src/logic/rollup.config.ts
Labels: bundler

fix: pnpm version fix
  common/autoinstallers/run-script/package.json
  common/autoinstallers/run-script/pnpm-lock.yaml
Labels: chore

fix: radio cell type with rowseriesnumber error
  .gitignore
  packages/vtable/examples/type/radio-aggregation.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/header-helper/header-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-radio-aggregation-row-4027_2026-03-31-08-56.json
Labels: chore

feat: refactor skill
  skills/vtable-browser-debugger-skill/SKILL.md
  skills/vtable-browser-debugger-skill/references/snippets.md
Labels: none

fix: correct scroll position calculation for fractional row indices
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/animation.ts
Labels: vtable

fix: correct scroll position calculation for fractional row indices
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/animation.ts
Labels: vtable

build: prelease version 1.22.13-alpha.10
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: set disableSelect when select range not work #5078
  packages/vtable/__tests__/listTable.test.ts
  packages/vtable/examples/list-analysis/list-aggregation.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/state/select/update-position.ts
Labels: vtable, test

chore: update debugger skill
  skills/vtable-browser-debugger-skill/SKILL.md
  skills/vtable-browser-debugger-skill/references/react18-react19.md
  skills/vtable-browser-debugger-skill/references/snippets.md
Labels: none

chore: update skill name
  skills/vtable-browser-debugger-assistant/SKILL.md
  skills/vtable-browser-debugger-assistant/references/react18-react19.md
  skills/vtable-browser-debugger-assistant/references/snippets.md
  skills/vtable-browser-debugger-assistant/references/vrender-graphics.md
  skills/vtable-browser-debugger-assistant/references/vtable-scenegraph.md
Labels: none

chore: refactor debugger skill
  skills/vtable-browser-debugger-assistant/SKILL.md
Labels: none

refactor: when set barToSide and visible focus should not hide scrollbar
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-scrollStyle_barToSide_2026-04-02-09-55.json
Labels: chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
