Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: add batch expand all of column header tree
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

feat: add batch collapse all of column header tree
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

feat: add batch expand/collapse all of row header tree
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

refactor: remove batch collapse logic for header nodes in collapseAllTreeNode
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: add tree mode check before expanding/collapsing all tree nodes
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

chore: add docs for batch expand/collapse methods of pivot table
  docs/assets/api/zh/methods.md
Labels: docs

chore: remove useless comments
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix: fix height is decimal in carousel #3458
  common/changes/@visactor/vtable/2025-07-01-08-49.json
  packages/vtable-plugins/src/carousel-animation.ts
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable, chore

fix: fix bug of event remove from vglobal
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

build: prelease version 1.17.4-alpha.9
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: generate changelog of release v1.19.2
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

feat: add import execl function
  packages/vtable-plugins/src/excel-import.ts
Labels: none

feat: add formula
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-07-01-15-19.json
Labels: chore

fix: 去掉changeCellValues的asnyc
  packages/vtable/src/ListTable.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

build: prelease version 1.13.3-alpha.7
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update excel import demo data
  docs/assets/guide/en/plugin/excel-import.md
  docs/assets/guide/zh/plugin/excel-import.md
Labels: docs

feat: scrollbar visible space recalculate
  packages/vtable/examples/theme/scroll-style.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/resize/update-resize-column.ts
  packages/vtable/src/state/resize/update-resize-row.ts
Labels: vtable

feat: update vrender into 0.22.15
  common/changes/@visactor/vtable/release-1.18.7_2025-07-02-07-00.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

feat: table series number
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

feat: table series number plugin
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/demo/index.html
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/style.css
  packages/vtable-plugins/demo/table-series-number/pivot-table-series-number.ts
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/demo/vite.config.js
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/animation.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

feat: series number plugin
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

feat: series number sort update
  packages/vtable-plugins/demo/table-series-number/pivot-table-series-number.ts
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/table-series-number.ts
Labels: none

feat: series number plugin
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable

fix: set frozen col count render error
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: clarify hierarchy type descriptions for grid, tree, and grid-tree in PivotTable documentation
  docs/assets/contributing/en/source-code-details/7.3-PivotTable-Code-Structure-and-Detail-Analysis.md
  docs/assets/contributing/zh/source-code-details/7.3-PivotTable-Code-Structure-and-Detail-Analysis.md
Labels: docs

fix: set frozen col count render error
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: series number sort update
  packages/vtable-plugins/demo/table-series-number/pivot-table-series-number.ts
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/table-series-number.ts
Labels: none

feat: table series number plugin
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/demo/index.html
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/style.css
  packages/vtable-plugins/demo/table-series-number/pivot-table-series-number.ts
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/demo/vite.config.js
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/animation.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

feat: table series number
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

feat: series number plugin
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable

feat: series number plugin
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

feat: support globally configure selected-cell text color via selectionStyle
  packages/vtable/examples/list/list-highlightInRange.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable

docs: selected-text-style configuration documentation
  docs/assets/option/en/common/theme-style.md
  docs/assets/option/en/common/theme.md
  docs/assets/option/zh/common/theme-style.md
  docs/assets/option/zh/common/theme.md
Labels: docs

fix: 去掉changeCellValues的asnyc
  packages/vtable/src/ListTable.ts
Labels: vtable

feat: table series number
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/state/state.ts
Labels: vtable

feat: delete unused code
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

fix: paste validateValue missing position table params
  packages/vtable/src/core/record-helper.ts
Labels: vtable

feat: table series number
  packages/vtable-plugins/src/table-series-number.ts
Labels: none
