Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: fix cell radius set in getCellCornerRadius()
  packages/vtable/src/core/tableHelper.ts
Labels: vtable

fix: fix range cache in _updateSize()
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

feat: add dynamicUpdateSelectionSize config in theme.selectionStyle
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable

fix: update gantt table header title occor error #3719
  packages/vtable-gantt/examples/gantt/gantt-tree.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/gantt-table-sync.ts
Labels: none

fix: hide menu when srcoll table
  packages/vtable/src/components/menu/dom/MenuHandler.ts
Labels: vtable

fix: fix chart picker logic
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

fix: fix chart picker logic
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

docs: generate changelog of release v1.17.7
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: fix search-component path incorrect
  docs/assets/guide/en/search.md
  docs/assets/guide/zh/search.md
Labels: docs

chore: release 1.18.0
  common/changes/@visactor/vtable/chore-release-minor_2025-04-17-07-31.json
Labels: chore

chore: release 1.18.0
  common/changes/@visactor/vtable/chore-release-minor_2025-04-17-07-31.json
Labels: chore

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

chore: release 1.18.0
  common/changes/@visactor/vtable/chore-release-minor_2025-04-17-07-31.json
Labels: chore

docs: generate changelog of release v1.18.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: add rotate table plugin #3734
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/rotate-table/rotate-table.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/rotate-table.ts
  packages/vtable/src/event/listener/touch.ts
Labels: vtable

fix: resolve vtable-editor focus style issues
  packages/vtable-editors/src/date-input-editor.ts
  packages/vtable-editors/src/list-editor.ts
  packages/vtable-editors/src/textArea-editor.ts
  packages/vtable-plugins/demo/highlight-header/highlight-header.ts
Labels: none

chore: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: skip serial number calculation for aggregation rows when groupBy is enabled
  packages/vtable/src/ListTable.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-group-series-number-for-aggregation-rows_2025-04-18-14-45.json
Labels: chore

feat: scrollbar always visible space correction
  packages/vtable/examples/menu.ts
  packages/vtable/examples/style/scrollbar-always-visible-space-correction.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/tools/style.ts
Labels: vtable

feat: scrollbar always visible space correction
  packages/vtable/examples/menu.ts
  packages/vtable/examples/theme/scrollbar-always-visible-space-correction.ts
Labels: vtable

fix: hide rowSeriesNumber and checkbox in aggregation #2173
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-vtable-hide-rowSeriesNumber-checkbox_2025-04-19-15-01.json
Labels: chore

fix: fix scroll console error #3770
  common/changes/@visactor/vtable/fix-scroll-error_2025-04-21-09-16.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: fix merge cell autoHeight #3752
  common/changes/@visactor/vtable/fix-large-merge-autoHeight_2025-04-21-09-39.json
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

feat: optimize large merge cell stick-text performance
  packages/vtable/src/scenegraph/stick-text/index.ts
Labels: vtable

fix: updateOption with dataSource object occor error #3768
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3768-bug-updateoption-dataSource-error_2025-04-21-09-55.json
Labels: chore

fix(frozen-layout): skip border nodes during row movement
  packages/vtable/src/scenegraph/layout/frozen.ts
Labels: vtable

fix: optimize icon display logic for body cells
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: vtable

refactor: plugins update progress #3788
  docs/assets/demo/zh/plugin/excel-online-editing.md
  docs/assets/guide/en/plugin/contribute.md
  docs/assets/guide/en/plugin/row-column-series.md
  docs/assets/guide/zh/plugin/contribute.md
  docs/assets/guide/zh/plugin/row-column-series.md
  packages/vtable-plugins/demo/combine-plugins/combine-plugins.ts
  packages/vtable-plugins/demo/focus-highlight/focus-highlight.ts
  packages/vtable-plugins/demo/highlight-header/highlight-header.ts
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/carousel-animation.ts
  packages/vtable-plugins/src/column-series.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-plugins/src/focus-highlight.ts
  packages/vtable-plugins/src/highlight-header-when-select-cell.ts
  packages/vtable-plugins/src/row-series.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/plugins/interface.ts
  packages/vtable/src/plugins/plugin-manager.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3788-bug-focusHighlight-plugin_2025-04-23-07-29.json
Labels: chore

fix: check editorManager value
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

fix: when records is blank updateColumns api occor error #3766
  packages/vtable/src/ListTable.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3766-bug-row-frozen-occor-error_2025-04-23-12-19.json
Labels: chore

chore(change): add change file for gantt zoom
  common/changes/@visactor/vtable/develop_2025-04-23-13-24.json
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore

feat(vtable): support get all columns width list
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/self-event-listener/base-table/dbclick-auto-column-width.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: add `getAllColsWidths` api
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
Labels: docs

fix: when hide pivot header find headerPath error #3791
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3791-bug-pivotTable-widthConfig-notWork-noHeaderCase_2025-04-24-11-27.json
Labels: chore
