Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: drag order for vtable-sheet
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/component/cell-mover.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4603-feature-table-series-number-plugin-dragorder_2025-10-20-10-33.json
Labels: chore

fix: table plugin init error
  common/config/rush/pnpm-lock.yaml
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable/package.json
  packages/vtable/src/event/event.ts
Labels: vtable, chore

fix: drag column error for vtable-sheet
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

fix: drag column error for vtable-sheet
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

docs: supplement auto wrap text guide
  docs/assets/guide/en/basic_function/auto_wrap_text.md
  docs/assets/guide/zh/basic_function/auto_wrap_text.md
Labels: docs

docs: supplement faq
  docs/assets/faq/en/53- How to control the timing of exiting edit mode after implementing editable cells in VTable components.md
  docs/assets/faq/zh/53- How to control the timing of exiting edit mode after implementing editable cells in VTable components.md
Labels: docs

docs: demo-vue
  docs/assets/demo-vue/en/edit-data/edit-render.md
  docs/assets/demo-vue/zh/edit-data/edit-render.md
Labels: docs

docs: demo-vue
  docs/assets/demo-vue/en/custom-layout/cell-custom-component.md
  docs/assets/demo-vue/en/usage/event.md
  docs/assets/demo-vue/zh/custom-layout/cell-custom-component.md
  docs/assets/demo-vue/zh/usage/event.md
Labels: docs

docs: demo-react & demo-openinula
  docs/assets/demo-openinula/en/event/event.md
  docs/assets/demo-openinula/zh/event/event.md
  docs/assets/demo-react/en/event/event.md
  docs/assets/demo-react/zh/event/event.md
Labels: docs

docs: demo-vue
  docs/assets/demo-vue/zh/grammatical-tag/list-table.md
Labels: docs

fix: saveToConfig columns update and insertRecords performance
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
Labels: none

fix: edit slot vModel do not work
  packages/vue-vtable/src/edit/editor.ts
Labels: none

fix: addColumns deleteColumns handle with colWidthMap
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: fix issue of markline layout in PivotChart
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-pivot-chart-markline-layout_2025-10-22-12-17.json
Labels: chore

feat: delete row update rowheightmap
  packages/vtable/src/core/utils/get-cell-position.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/layout/row-height-map.ts
Labels: vtable

refactor: add getColAtRelativePosition and getRowAtRelativePosition
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/utils/get-cell-position.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

refactor: delete multipe rows performance
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
Labels: none

fix: dynamic rendering editing #4621
  packages/vue-vtable/src/edit/editor.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-vue-vtable-dynamic-render-editor_2025-10-23-08-07.json
Labels: chore

feat: the addition of the refValue parameter in vue-vtable dynamic rendering editing now supports v-model #4597
  packages/vue-vtable/demo/src/App.vue
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable-editor-render.vue
  packages/vue-vtable/src/edit/editor.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-vue-vtable-dynamic-render-editor_2025-10-23-08-23.json
Labels: chore

feat: support return import excel data
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

refactor: requestAnimationFrame use vrender api #4619
  .vscode/launch.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable-gantt/src/tools/debounce.ts
  packages/vtable-gantt/src/tools/inertia.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
  packages/vtable-plugins/src/gantt-export-image.ts
  packages/vtable/nodejs/index.js
  packages/vtable/nodejs/index.ts
  packages/vtable/src/event/scroll.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/tools/debounce.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: vtable, chore

perf: optimize the refValue property of vue-vtable DynamicRenderEditorParams
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable-editor-render.vue
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
  packages/vue-vtable/src/edit/editor.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/4619-refactor-node-requestanimationframe-use-vrender-api_2025-10-24-03-11.json
Labels: chore

fix: add or delete rows to update rowHeightMap
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/layout/row-height-map.ts
Labels: vtable

fix: drag row order to update rowHeightMap
  packages/vtable/src/layout/row-height-map.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4603-feature-table-series-number-plugin-dragorder_2025-10-24-09-21.json
  packages/vtable/examples/list/list-transpose-rowSeriesNumber.ts
Labels: vtable, chore

fix: after resize column width legend title position error #4629
  packages/vtable/src/state/resize/update-resize-column.ts
  packages/vtable/src/state/resize/update-resize-row.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4629-bug-resize-column-width-pivotchart-with-legend-position-error_2025-10-24-09-46.json
Labels: chore

feat: auto headerExpandLevel hierarchyState adaptation
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: none

feat: auto headerExpandLevel hierarchyState adaptation
  packages/vtable/src/data/DataSource.ts
Labels: vtable

feat: drag column order to update and calculate formula
  CLAUDE.md
  packages/vtable-sheet/__tests__/column-position-change.test.ts
  packages/vtable-sheet/debug-parse-a1.js
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable/src/event/helper.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, test

docs: update changlog of rush
  common/changes/@visactor/vtable/4603-feature-table-series-number-plugin-dragorder_2025-10-27-10-02.json
Labels: chore

feat: drag column order to update and calculate formula
  packages/vtable/src/layout/row-height-map.ts
Labels: vtable

test: update unit test case
  packages/vtable-sheet/__tests__/column-position-change.test.ts
Labels: test

test: update test demo
  packages/vtable/examples/list/list.ts
Labels: vtable

fix: select row use row series number with cell merge, select state error
  packages/vtable/src/state/state.ts
Labels: vtable
