Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-issue-5162-gantt-sort-drag_2026-06-17-10-52.json
Labels: chore

chore: fix changefile metadata
  common/changes/@visactor/vtable/fix-issue-5162-gantt-sort-drag_2026-06-17-10-52.json
Labels: chore

fix: let Gantt use app-scoped VRender env
  packages/vtable-gantt/__tests__/gantt-bugserver-init.test.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
Labels: test

fix: normalize desktop browser VRender env
  packages/vtable/__tests__/vrender-app-renderer.test.ts
  packages/vtable/__tests__/vrender-app.test.ts
  packages/vtable/src/vrender-app.ts
Labels: vtable, test

fix: align Gantt stage pixel ratio with parsed options
  packages/vtable-gantt/__tests__/gantt-bugserver-init.test.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
Labels: test

fix: align Gantt data zoom stage pixel ratio
  packages/vtable-gantt/__tests__/gantt-bugserver-init.test.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
Labels: test

fix: preserve Gantt canvas DPR control
  packages/vtable-gantt/__tests__/gantt-bugserver-init.test.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/tools/pixel-ratio.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
Labels: test

fix: restore clipped-label tips in app-scoped VRender
  packages/vtable-gantt/__tests__/gantt-bugserver-init.test.ts
  packages/vtable/__tests__/vrender-app-renderer.test.ts
  packages/vtable/__tests__/vrender-app.test.ts
  packages/vtable/src/vrender-app.ts
Labels: vtable, test

fix: keep sheet multi-header record fields
  packages/vtable-sheet/__tests__/multi-header-record-data.test.ts
  packages/vtable-sheet/examples/menu.ts
  packages/vtable-sheet/examples/sheet/issue-5184-multi-header.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
Labels: test

fix: guard formula editor input sync
  packages/vtable-sheet/__tests__/formula-input-editor.test.ts
  packages/vtable-sheet/src/formula/formula-editor.ts
Labels: test

fix: handle scroll frozen columns width
  common/changes/@visactor/vtable/codex-fix-issue-5187-max-frozen-width_2026-06-23-08-46.json
  packages/vtable/__tests__/options/listTable-scroll-frozen-cols.test.ts
  packages/vtable/examples/debug/issue-5187-max-frozen-width.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/component/util.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/state.ts
Labels: vtable, chore

build: prerelease version 1.26.3-alpha.0 [skip ci]
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs

feat: upgrade vrender vchart
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: keep fractional row scroll target
  packages/vtable/__tests__/api/listTable-scrollToRow.test.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-issue-5088-carousel-fractional-row_2026-06-23-10-48.json
Labels: chore

fix: keep pivot row tree scroll position
  common/changes/@visactor/vtable/codex-fix-pivot-expand-scroll-anchor_2026-06-24-00-52.json
  packages/vtable/__tests__/pivotTable-tree.test.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable, test, chore

fix: preserve custom layout falsy values
  common/changes/@visactor/vtable/fix-issue-1949-custom-layout-value_2026-06-24-08-02.json
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
  packages/vtable/__tests__/columns/listTable-custom-layout.test.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable, react-vtable, chore

fix: skip click cell after resize
  common/changes/@visactor/vtable/codex-fix-issue-5186-skip-click-after-resize_2026-06-24-16-11.json
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable, chore

fix: shouldSkipClickCell set value
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

build: release version 1.26.3 [skip ci]
  common/changes/@visactor/vtable/codex-fix-issue-5186-skip-click-after-resize_2026-06-24-16-11.json
  common/changes/@visactor/vtable/codex-fix-issue-5187-max-frozen-width_2026-06-23-08-46.json
  common/changes/@visactor/vtable/codex-fix-pivot-expand-scroll-anchor_2026-06-24-00-52.json
  common/changes/@visactor/vtable/fix-issue-1949-custom-layout-value_2026-06-24-08-02.json
  common/changes/@visactor/vtable/fix-issue-3672-right-frozen-count_2026-06-16-07-08.json
  common/changes/@visactor/vtable/fix-issue-5088-carousel-fractional-row_2026-06-23-10-48.json
  common/changes/@visactor/vtable/fix-issue-5162-gantt-sort-drag_2026-06-17-07-15.json
  common/changes/@visactor/vtable/fix-issue-5162-gantt-sort-drag_2026-06-17-10-52.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

feat: upgrade vrender to fix contribution
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable-gantt/examples/vite.config.js
  packages/vtable-gantt/jest.config.js
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
  packages/vtable-gantt/tsconfig.eslint.json
  packages/vtable/__tests__/vrender-app-lifecycle.test.ts
  packages/vtable/__tests__/vrender-app-renderer.test.ts
  packages/vtable/__tests__/vrender-app.test.ts
  packages/vtable/examples/debug/header-frame-border-null-color.ts
  packages/vtable/examples/menu.ts
  packages/vtable/package.json
  packages/vtable/src/scenegraph/runtime-contributions.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/vrender-app.ts
  packages/vtable/src/vrender.ts
Labels: vtable, test, jest, typescript, chore

fix: align rush changelog release version
  .github/workflows/release.yml
  common/scripts/align-rush-changelog-version.js
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
Labels: vtable, chore

fix: preserve shifted rush changelog entries
  common/scripts/align-rush-changelog-version.js
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
Labels: vtable, chore

fix: generate release changelog from current version
  .github/workflows/release.yml
  common/scripts/align-rush-changelog-version.js
Labels: chore

fix: optimize grouped updateOption refresh path
  AGENTS.md
  packages/vtable/__tests__/data-update/listTable-updateOption-group-perf.test.ts
  packages/vtable/examples/list/list-group-updateOption-perf.ts
  packages/vtable/examples/menu.ts
  packages/vtable/issue-5183-benchmark/index.html
  packages/vtable/issue-5183-benchmark/main.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/tsconfig.eslint.json
Labels: vtable, typescript

fix: export table event type from gantt package
  packages/vtable-gantt/__tests__/listTable-event-type.test.ts
  packages/vtable-gantt/src/index.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vtable-gantt/fix-issue-4320-list-table-event-type_2026-06-25-15-59.json
Labels: chore

fix: handle sticky group border during container update
  packages/vtable/examples/list/list-group-tree-stick-updateOption.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix: prevent Gantt crash when zoomScale is configured without scales
  common/changes/@visactor/vtable-gantt/fix-issue-5159-gantt-sort-scales_2026-06-26-12-00.json
  packages/vtable-gantt/__tests__/gantt-sort-scales.test.ts
  packages/vtable-gantt/src/Gantt.ts
Labels: test, chore

fix: address grouped update review comments
  AGENTS.md
  packages/vtable/__tests__/data-update/listTable-updateOption-group-perf.test.ts
  packages/vtable/examples/list/list-group-tree-stick-updateOption.ts
  packages/vtable/examples/list/list-group-updateOption-perf.ts
  packages/vtable/issue-5183-benchmark/main.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable

build: prerelease version 1.26.4-alpha.0 [skip ci]
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs

fix: the formula fails when data is of type Array<Object>
  packages/vtable-sheet/examples/menu.ts
  packages/vtable-sheet/examples/sheet/issue-5204-formula-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: none

feat: support video first frame snapshot
  packages/vtable/__tests__/cell-type/video-cell-first-frame.test.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

chore: add video snapshot changefile
  common/changes/@visactor/vtable/feat-video-first-frame-snapshot_2026-07-06-15-35.json
Labels: chore

chore: remove unused pre-release workflow
  .github/workflows/pre-release.yml
Labels: chore

build: release version 1.26.4 [skip ci]
  common/changes/@visactor/vtable/feat-video-first-frame-snapshot_2026-07-06-15-35.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: render group title for single-column lists
  common/changes/@visactor/vtable/fix-issue-5014-group-single-column_2026-07-06-13-55.json
  packages/vtable/__tests__/layout/listTable-group-single-column.test.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: vtable, chore

docs: update zh release note for 1.26.4
  docs/assets/changelog/zh/release.md
Labels: docs

fix: handle null table container
  packages/vtable/__tests__/options/listTable-null-container.test.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
