Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

feat: add enablePivotPathCache in PivotTable customConfig
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

build: prelease version 1.17.3-alpha.9
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: enable all ticks in getChartAxisRange()
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
Labels: vtable

chore: add rush change
  common/changes/@visactor/vtable/fix-enable-ticks-label_2025-03-20-03-20.json
Labels: chore

build: prelease version 1.17.3-alpha.10
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix right button select problem
  common/changes/@visactor/vtable/fix-right-button_2025-03-20-07-25.json
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/self-event-listener/base-table/dbclick-auto-column-width.ts
  packages/vtable/src/event/self-event-listener/base-table/dropdown-menu.ts
  packages/vtable/src/event/self-event-listener/base-table/icon.ts
  packages/vtable/src/event/self-event-listener/base-table/right-button-click.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/event/self-event-listener/pivot-chart/axis-click.ts
  packages/vtable/src/event/self-event-listener/pivot-chart/axis-hover.ts
  packages/vtable/src/event/self-event-listener/pivot-table/drill.ts
Labels: vtable, chore

docs: fix async in table-export
  docs/assets/demo/zh/export/table-export.md
Labels: docs

fix: (vue-vtable) repeated rendering issues caused by multiple triggering cycles
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

perf: removing default mouse events & context passing
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

refactor: move the method of obtaining context to options.customConfig
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
  packages/vue-vtable/src/edit/editor.ts
Labels: none

chore: type definition & context method add Vue tag
  packages/vtable/src/ts-types/base-table.ts
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
  packages/vue-vtable/src/edit/editor.ts
Labels: vtable

perf: change the method of obtaining context: read directly from the current instance
  packages/vtable/src/ts-types/base-table.ts
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
  packages/vue-vtable/src/edit/editor.ts
  packages/vue-vtable/src/edit/util.ts
  packages/vue-vtable/src/hooks/useCellRender.ts
  packages/vue-vtable/src/hooks/useEditorRender.ts
Labels: vtable

perf: dom rendering filtering annotation nodes
  packages/vue-vtable/src/edit/editor.ts
  packages/vue-vtable/src/utils/customLayoutUtils.ts
Labels: none

fix: fix row update range #3468
  common/changes/@visactor/vtable/fix-row-update-direction_2025-03-21-07-18.json
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable, chore

docs: supplement updateRecords api description
  docs/assets/guide/en/data/data_format.md
  docs/assets/guide/zh/data/data_format.md
  packages/vtable/src/ListTable.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/pre-release-1.17.3-alpha.11_2025-03-21-08-38.json
Labels: chore

chore: add changelog
  common/changes/@visactor/vtable/pre-release-1.17.3-alpha.11_2025-03-21-08-38.json
Labels: chore

build: prelease version 1.17.3-alpha.11
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix react component update #3474
  common/changes/@visactor/vtable/fix-react-component-update_2025-03-21-09-53.json
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
  packages/vtable/src/components/react/react-custom-layout.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable, react-vtable, chore

fix: add arg for isAutoRowHeight()
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/sort-vertical.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/customElement.ts
Labels: vtable

fix: fix return type in updateCell()
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

fix: fix row update range #3468
  common/changes/@visactor/vtable/fix-row-update-direction_2025-03-21-07-18.json
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable, chore

docs: fix async in table-export
  docs/assets/demo/zh/export/table-export.md
Labels: docs

fix: fix right button select problem
  common/changes/@visactor/vtable/fix-right-button_2025-03-20-07-25.json
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/self-event-listener/base-table/dbclick-auto-column-width.ts
  packages/vtable/src/event/self-event-listener/base-table/dropdown-menu.ts
  packages/vtable/src/event/self-event-listener/base-table/icon.ts
  packages/vtable/src/event/self-event-listener/base-table/right-button-click.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/event/self-event-listener/pivot-chart/axis-click.ts
  packages/vtable/src/event/self-event-listener/pivot-chart/axis-hover.ts
  packages/vtable/src/event/self-event-listener/pivot-table/drill.ts
Labels: vtable, chore

feat: enable all ticks in getChartAxisRange()
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
Labels: vtable

chore: add rush change
  common/changes/@visactor/vtable/fix-enable-ticks-label_2025-03-20-03-20.json
Labels: chore

feat: add maintainedColumnCount config
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

chore: add rush change
  common/changes/@visactor/vtable/feat-maintainedColumnCount_2025-03-19-04-33.json
Labels: chore

fix: fix frozen col update problem
  packages/vtable/src/scenegraph/layout/frozen.ts
Labels: vtable

chore: add rush change
  common/changes/@visactor/vtable/fix-frozen-update_2025-03-19-03-13.json
Labels: chore

feat: add custom reactAttributePlugin in react-vtable
  common/changes/@visactor/vtable/feat-custom-react-plugin_2025-03-12-08-14.json
  packages/react-vtable/demo/src/component/custom-layout-dom-site-1.tsx
  packages/react-vtable/src/table-components/index.ts
  packages/react-vtable/src/tables/base-table.tsx
Labels: react-vtable, chore

feat: add enablePivotPathCache in PivotTable customConfig
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

Revert "Fix/vue custom render"
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
  packages/vue-vtable/src/edit/editor.ts
  packages/vue-vtable/src/edit/util.ts
  packages/vue-vtable/src/hooks/useCellRender.ts
  packages/vue-vtable/src/hooks/useEditorRender.ts
  packages/vue-vtable/src/utils/customLayoutUtils.ts
Labels: none

feat: add excel keyboard plugin
  packages/vtable-plugins/demo/combine-plugins/combine-plugins.ts
  packages/vtable-plugins/demo/highlight-header/highlight-header.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/column-series.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-plugins/src/highlight-header.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/types.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

fix: duplicate registration verification of VTableVueAttributePlugin
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
  packages/vue-vtable/src/hooks/useCellRender.ts
Labels: none

perf: supports the transmission of context
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
  packages/vue-vtable/src/edit/editor.ts
Labels: none

refactor: last column fillhandler position
  packages/vtable/examples/interactive/fill-handle.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: add VTable-11 docs
  docs/assets/contributing/en/11-VTable Data Editing Function Source Code Documentation.md
  docs/assets/contributing/menu.json
  docs/assets/contributing/zh/11-VTable Data Editing Function Source Code Documentation.md
Labels: docs

docs: update changlog of rush
  package-lock.json
  package.json
  yarn.lock
Labels: none

feat: add can_scroll event
  packages/vtable/examples/interactive/custom-scroll.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
