Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: setRecord set sortSate is null
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: fix play async task count in CarouselAnimationPlugin
  packages/vtable/src/plugins/carousel-animation.ts
Labels: vtable

docs: add animation in custom-layout
  docs/assets/guide/en/custom_define/custom_layout.md
  docs/assets/guide/zh/custom_define/custom_layout.md
Labels: docs

feat: add animation&timeline in jsx
  packages/vtable/examples/custom-layout-jsx/list-jsx.tsx
  packages/vtable/src/scenegraph/component/custom.ts
Labels: vtable

fix: call renderWithRecreateCells should not effect colWidth when widthMode is adaptive #2835
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/2835-bug-call-renderwithrecreatecells-colWidthChange_2024-11-14-12-03.json
Labels: chore

feat: multiple rows tasks
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Inline.ts
  packages/vtable-gantt/examples/gantt/gantt-table-groupBy.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/data/DataSource.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/sub-tasks-inline-helper.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

docs: change custom-layout graphic into vrender
  docs/assets/demo/en/custom-render/complex-corner.md
  docs/assets/demo/en/custom-render/custom-cell-layout.md
  docs/assets/demo/en/custom-render/simple-corner.md
  docs/assets/demo/zh/custom-render/complex-corner.md
  docs/assets/demo/zh/custom-render/custom-cell-layout.md
  docs/assets/demo/zh/custom-render/simple-corner.md
  docs/assets/faq/en/34-How to implement text type buttons.md
  docs/assets/faq/en/47- How to make text automatically omitted based on cell width when using custom rendering with VTable components.md
  docs/assets/faq/zh/34-How to implement text type buttons.md
  docs/assets/faq/zh/47- How to make text automatically omitted based on cell width when using custom rendering with VTable components.md
  docs/assets/guide/en/custom_define/custom_component.md
  docs/assets/guide/en/custom_define/custom_layout.md
  docs/assets/guide/en/table_type/List_table/group_list.md
  docs/assets/guide/zh/components/dropdown.md
  docs/assets/guide/zh/custom_define/custom_component.md
  docs/assets/guide/zh/custom_define/custom_layout.md
  docs/assets/guide/zh/table_type/List_table/group_list.md
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, docs

docs: fix contextMenuItems type
  docs/assets/guide/en/components/dropdown.md
Labels: docs

docs: supplement validateValue description
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
Labels: docs

feat: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/contributions/draw-interceptor.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
Labels: vtable, chore

fix: fix originCol/Row in custom computation
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/ts-types/customElement.ts
Labels: vtable, react-vtable

docs: remove percentCalc in custom-layout docs
  docs/assets/demo-vue/en/custom-layout/cell-custom-component.md
  docs/assets/demo-vue/zh/custom-layout/cell-custom-component.md
  docs/assets/demo/en/custom-render/custom-cell-layout.md
  docs/assets/demo/zh/custom-render/custom-cell-layout.md
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/en/custom_define/custom_layout.md
  docs/assets/guide/en/custom_define/vue-custom-component.md
  docs/assets/guide/zh/Developer_Ecology/vue.md
  docs/assets/guide/zh/custom_define/custom_layout.md
  docs/assets/guide/zh/custom_define/vue-custom-component.md
  docs/assets/option/en/custom-layout/container-custom-layout-element.md
  docs/assets/option/zh/custom-layout/container-custom-layout-element.md
Labels: docs

feat: dependency line can create with sub_task case
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Inline.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

docs: add plugins demos
  common/changes/@visactor/vtable/feat-fs-bs_2024-10-17-09-03.json
  docs/assets/demo/en/animation/carousel-animation.md
  docs/assets/demo/en/interaction/head-highlight.md
  docs/assets/demo/en/interaction/invert-highlight.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/animation/carousel-animation.md
  docs/assets/demo/zh/interaction/head-highlight.md
  docs/assets/demo/zh/interaction/invert-highlight.md
Labels: docs, chore

chore: change rush change
  common/changes/@visactor/vtable/feat-calendar_2024-11-07-11-19.json
Labels: chore

fix: when call updatePagination with tree mode render error
  packages/vtable/src/data/DataSource.ts
Labels: vtable

docs: add setLoadingHierarchyState api
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
Labels: docs

fix: change calendar namespace
  docs/assets/demo/en/calendar/calendar-basic.md
  docs/assets/demo/en/calendar/calendar-custom-event.md
  docs/assets/demo/zh/calendar/calendar-basic.md
  docs/assets/demo/zh/calendar/calendar-custom-event.md
  docs/assets/guide/en/calendar/Getting_Started.md
  docs/assets/guide/en/calendar/introduction.md
  docs/assets/guide/zh/calendar/Getting_Started.md
  docs/assets/guide/zh/calendar/introduction.md
  docs/assets/option/en/table/calendar.md
  docs/assets/option/zh/table/calendar.md
  docs/src/main.tsx
  packages/vtable-calendar/README.md
  packages/vtable-calendar/bundler.config.js
  packages/vtable-calendar/demo/list/edit-demo.ts
  packages/vtable-calendar/demo/list/list.ts
  packages/vtable-calendar/demo/list/site-demo.ts
  packages/vtable-calendar/src/custom/custom-handler.ts
  packages/vtable-calendar/src/custom/custom-layout.ts
  packages/vtable-calendar/src/month-calendar.ts
Labels: docs, bundler

fix: fix originCol/Row in custom computation
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/ts-types/customElement.ts
Labels: vtable, react-vtable

feat: add InvertHighlightPlugin
  packages/vtable/examples/interactive/mask.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/index.ts
  packages/vtable/src/plugins/invert-highlight.ts
  packages/vtable/src/scenegraph/graphic/group.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/tools/cell-range.ts
Labels: vtable

fix: fix header adaptive height computation
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable

feat: add limitContentHeight config
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

fix: fix play async task count in CarouselAnimationPlugin
  packages/vtable/src/plugins/carousel-animation.ts
Labels: vtable

fix: fix row pos in HeaderHighlightPlugin
  packages/vtable/src/plugins/header-highlight.ts
Labels: vtable

fix: fix highlight logic in InvertHighlightPlugin
  packages/vtable/examples/interactive/mask.ts
  packages/vtable/src/plugins/invert-highlight.ts
Labels: vtable

feat: change animation logic in CarouselAnimationPlugin
  packages/vtable/src/plugins/carousel-animation.ts
Labels: vtable

feat: add autoHeightInAdaptiveMode config
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: add HeaderHighlightPlugin
  packages/vtable/examples/interactive/highlight-color.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/index.ts
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/plugins/header-highlight.ts
Labels: vtable

docs: add plugins demos
  common/changes/@visactor/vtable/feat-fs-bs_2024-10-17-09-03.json
  docs/assets/demo/en/animation/carousel-animation.md
  docs/assets/demo/en/interaction/head-highlight.md
  docs/assets/demo/en/interaction/invert-highlight.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/animation/carousel-animation.md
  docs/assets/demo/zh/interaction/head-highlight.md
  docs/assets/demo/zh/interaction/invert-highlight.md
Labels: docs, chore

chore: update rush change
  common/changes/@visactor/vtable/feat-fs-bs_2024-10-17-09-01.json
  common/changes/@visactor/vtable/feat-fs-bs_2024-10-17-09-02.json
Labels: chore

feat: add CarouselAnimationPlugin
  packages/vtable/examples/interactive/mask.ts
  packages/vtable/src/index.ts
  packages/vtable/src/plugins/carousel-animation.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

fix: change scroll to top animation in CarouselAnimationPlugin
  packages/vtable/src/plugins/carousel-animation.ts
Labels: vtable

fix: delete useless dependency in vtable-calendar
  packages/vtable-calendar/package.json
Labels: none

chore: update pnpm-lock
  common/config/rush/pnpm-lock.yaml
Labels: chore

chore: update pnpm-lock
  common/config/rush/pnpm-lock.yaml
Labels: chore

chore: update pnpm-lock
  common/config/rush/pnpm-lock.yaml
  packages/vtable-calendar/bundler.config.js
  packages/vtable-export/bundler.config.js
  packages/vtable-search/bundler.config.js
Labels: bundler, chore

fix: when up on canvas blank area not drag position rightly #2831
  packages/vtable/src/event/helper.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/state/cell-move/index.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2831-bug-drag-row-error_2024-11-15-10-55.json
Labels: chore

docs: fix docs problem
  common/config/rush/command-line.json
  docs/assets/demo/en/calendar/calendar-basic.md
  docs/assets/demo/en/calendar/calendar-custom-event.md
  docs/assets/demo/en/interaction/head-highlight.md
  docs/assets/demo/en/interaction/invert-highlight.md
  docs/assets/demo/zh/calendar/calendar-basic.md
  docs/assets/demo/zh/calendar/calendar-custom-event.md
  docs/assets/demo/zh/interaction/head-highlight.md
  docs/assets/demo/zh/interaction/invert-highlight.md
  docs/assets/guide/en/calendar/Getting_Started.md
  docs/assets/guide/en/calendar/introduction.md
  docs/assets/guide/zh/calendar/Getting_Started.md
  docs/assets/guide/zh/calendar/introduction.md
  docs/src/main.tsx
Labels: docs, chore
