Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

feat: sub menu list
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/styles/formula-bar.css
  packages/vtable-sheet/src/styles/menu.css
Labels: none

docs: add contextmenu_canvas docs in react/vue
  docs/assets/guide/en/Developer_Ecology/react.md
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/zh/Developer_Ecology/react.md
  docs/assets/guide/zh/Developer_Ecology/vue.md
Labels: docs

docs: add contextmenu_canvas docs in event.md
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/guide/en/Event/event_list.md
  docs/assets/guide/zh/Event/event_list.md
Labels: docs

docs: add contextmenu_canvas docs in VTable.md
  docs/assets/contributing/en/source-code-details/4.1-VTable-Event-Design.md
  docs/assets/contributing/en/source-code-details/4.3-Built-in-Event-Definition-and-Implementation.md
  docs/assets/contributing/zh/source-code-details/4.1-VTable-Event-Design.md
  docs/assets/contributing/zh/source-code-details/4.3-Built-in-Event-Definition-and-Implementation.md
Labels: docs

docs: add contextmenu_canvas docs in theme.md
  docs/assets/guide/en/Developer_Ecology/openinula.md
  docs/assets/guide/zh/Developer_Ecology/openinula.md
  docs/assets/option/en/register/theme.md
  docs/assets/option/zh/register/theme.md
Labels: docs

feat: add onContextMenuCanvas methods
  packages/openinula-vtable/src/eventsUtils.ts
  packages/react-vtable/src/eventsUtils.ts
  packages/vue-vtable/src/eventsUtils.ts
Labels: react-vtable, openinula-vtable

docs: supplement gantt date document
  docs/assets/guide/en/gantt/gantt_date.md
  docs/assets/guide/zh/gantt/gantt_date.md
Labels: docs

fix: fix error when current date not in calendar range #4297
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-calendar/src/table/table-option.ts
Labels: none

fix: add filterPlugin config
  packages/vtable-sheet/src/core/table-plugins.ts
Labels: none

fix: fix dayTitles display error #4298
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-calendar/src/table/table-option.ts
Labels: none

refactor: add table export plugin
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo/en/export/table-export-format.md
  docs/assets/demo/en/export/table-export-ignore-icon.md
  docs/assets/demo/en/export/table-export.md
  docs/assets/demo/zh/export/table-export-format.md
  docs/assets/demo/zh/export/table-export-ignore-icon.md
  docs/assets/demo/zh/export/table-export.md
  docs/assets/guide/en/export/csv.md
  docs/assets/guide/en/export/excel.md
  docs/assets/guide/en/plugin/table-export.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/export/csv.md
  docs/assets/guide/zh/export/excel.md
  docs/assets/guide/zh/plugin/table-export.md
  docs/assets/guide/zh/plugin/usage.md
  packages/vtable-export/README.md
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/table-export/table-export.ts
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/table-export.ts
  packages/vtable-plugins/src/table-export/csv/index.ts
  packages/vtable-plugins/src/table-export/excel/index.ts
  packages/vtable-plugins/src/table-export/excel/style.ts
  packages/vtable-plugins/src/table-export/index.ts
  packages/vtable-plugins/src/table-export/util/color.ts
  packages/vtable-plugins/src/table-export/util/download.ts
  packages/vtable-plugins/src/table-export/util/encode.ts
  packages/vtable-plugins/src/table-export/util/indent.ts
  packages/vtable-plugins/src/table-export/util/pagination.ts
  packages/vtable-plugins/src/table-export/util/promise.ts
  packages/vtable-plugins/src/table-export/util/type.ts
Labels: docs, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/refactor-export-table-plugin_2025-08-07-10-22.json
Labels: chore

chore: update lock file
  common/config/rush/pnpm-lock.yaml
Labels: chore

fix: when no records markline render error #4305
  packages/vtable-gantt/src/scenegraph/mark-line.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/4305-bug-gantt-noRecords-markline-error_2025-08-07-11-28.json
Labels: chore

fix: correct month iteration logic in getRecords
  packages/vtable-calendar/demo/list/list.ts
  packages/vtable-calendar/src/date-util.ts
  packages/vtable-calendar/src/table/table-option.ts
Labels: none

fix: fix dayTitles display error #4298
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-calendar/src/table/table-option.ts
Labels: none

fix: fix error when current date not in calendar range #4297
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-calendar/src/table/table-option.ts
Labels: none

feat: change to timePerPixel
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: basic zoom interaction
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: change to timePerPixel
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

feat: change to timePerPixel
  packages/vtable-gantt/src/Gantt.ts
Labels: none

feat: become plugin
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/self-event-listener/base-table/icon.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/state/sort/index.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: become plugin
  packages/vtable/examples/master/list-master-detail.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/state/sort/index.ts
Labels: vtable

feat: become plugin
  packages/vtable-plugins/src/master-detail-plugin.ts
Labels: none

feat: become plugin
  packages/vtable/src/ts-types/events.ts
Labels: vtable

feat: become plugin
  packages/vtable/src/ts-types/events.ts
Labels: vtable

docs: generate changelog of release v1.19.6
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

Revert "chore: add workflow to sync main to develop after release"
  .github/workflows/sync-main-to-develop.yml
Labels: chore

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update export guide
  docs/assets/demo/en/export/table-export.md
  docs/assets/guide/en/export/csv.md
  docs/assets/guide/en/export/excel.md
  docs/assets/guide/zh/export/csv.md
  docs/assets/guide/zh/export/excel.md
Labels: docs

feat: finish semi plugin
  packages/vtable-plugins/src/master-detail-plugin.ts
Labels: none

feat: export sheet
  packages/vtable-plugins/src/table-export/csv/index.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/ts-types/base.ts
Labels: none

fix: filter type error
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

feat: add canvas clip
  packages/vtable-plugins/src/master-detail-plugin.ts
Labels: none

fix: use field as column unique identifier instead of simple index
  packages/vtable-plugins/src/filter.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-sheet/examples/sheet/persistence.ts
  packages/vtable-sheet/src/core/table-plugins.ts
Labels: none

fix: only show filter panel when right mouse click
  packages/vtable-plugins/src/filter.ts
Labels: none

fix: filter panel would auto hide when clicking other cells or blank areas
  packages/vtable-plugins/src/filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
Labels: none

feat: heightlight
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

feat: tableRowIndex to bodyRowIndex
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin.ts
Labels: none

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
