Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: fix row pos in HeaderHighlightPlugin
  packages/vtable/src/plugins/header-highlight.ts
Labels: vtable

fix: fix build problem in vue-vtable
  packages/vue-vtable/src/tables/base-table.vue
Labels: none

fix: fix build problem in vue-vtable
  packages/vue-vtable/src/tables/base-table.vue
Labels: none

fix: pivot chart spec enable select not work #2210
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2210-bug-vtable-pivotChart-selectenable_2024-11-07-10-57.json
Labels: chore

chore: add rush change
  common/changes/@visactor/vtable/feat-calendar_2024-11-07-11-19.json
Labels: chore

fix: fix tree frozen row problem #2619
  common/changes/@visactor/vtable/fix-tree-frozen-row_2024-11-05-13-32.json
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable, chore

fix: fix menu scale pos problem #2734
  common/changes/@visactor/vtable/fix-scale-menu-pos_2024-11-05-09-24.json
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
Labels: vtable, chore

fix: fix cellLocation in pivot-table #2694
  common/changes/@visactor/vtable/fix-pivot-frozen-col_2024-11-05-06-26.json
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/column.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: vtable, chore

fix: add indicatorKeys slice in getAxisRange()
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
Labels: vtable

fix: add indicatorKeys slice in getAxisRange()
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
Labels: vtable

fix: sortState field undefined occor error
  packages/vtable/src/ListTable.ts
  packages/vtable/src/state/state.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-sortState-fieldUndefined-error_2024-11-07-14-50.json
Labels: chore

docs: generate changelog of release v1.10.4
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: pivot chart pie type selected state not work #2178
  packages/vtable/src/PivotChart.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2178-bug-pivotchart-pie-selected-selected_reverse_2024-11-11-08-51.json
Labels: chore

fix: rose pivotchart click legend then hover chart render error #2209
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2178-bug-pivotchart-pie-selected-selected_reverse_2024-11-11-10-40.json
Labels: chore

docs: generate changelog of release v1.10.5
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

refactor: when set disableSelect but api selectCell can work #2799
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2799-bug-disableselec-selectcell-api_2024-11-11-11-32.json
Labels: chore

feat: add custom layout animation
  packages/vtable/examples/custom/custom-layout.ts
  packages/vtable/src/core/animation.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

feat: change animation logic in CarouselAnimationPlugin
  packages/vtable/src/plugins/carousel-animation.ts
Labels: vtable

fix: when after select range not exist #2804
  packages/vtable/src/scenegraph/layout/frozen.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2804-bug-selectRange-after-resize_2024-11-12-05-57.json
Labels: chore

fix: when chart row is frozen render error #2800
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2800-bug-frozen-vchart-render-error_2024-11-12-09-28.json
Labels: chore

feat: add argument recalculateColWidths for api toggleHierarchyState #2817
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

feat: add argument recalculateColWidths for api toggleHierarchyState #2817
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/2817-feature-toggleHierarchyState-add-arg-recalculateColWidths_2024-11-12-10-19.json
Labels: chore

feat: add argument recalculateColWidths for api toggleHierarchyState #2817
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable, docs

feat: add gif icon
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/icon/icon-register.ts
  packages/vtable/examples/icons8.gif
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/contributions/draw-interceptor.ts
  packages/vtable/src/scenegraph/graphic/contributions/image-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/index.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/tools/icons.ts
  packages/vtable/src/ts-types/icon.ts
Labels: vtable, chore

docs: supplement showTooltip api description
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/components/tooltip.md
  docs/assets/guide/zh/components/tooltip.md
Labels: docs

feat: tooltip support innerHTML
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/components/tooltip/logic/BubbleTooltipElement.ts
  packages/vtable/src/ts-types/tooltip.ts
Labels: vtable, docs

fix: change scroll to top animation in CarouselAnimationPlugin
  packages/vtable/src/plugins/carousel-animation.ts
Labels: vtable

docs: supplement event change_header_position_fail and start
  docs/assets/guide/en/Developer_Ecology/react.md
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/zh/Developer_Ecology/react.md
  docs/assets/guide/zh/Developer_Ecology/vue.md
  packages/react-vtable/src/eventsUtils.ts
  packages/vue-vtable/src/eventsUtils.ts
Labels: react-vtable, docs

feat: drag order line use theme dragHeaderSplitLine style
  packages/vtable-gantt/src/scenegraph/drag-order-line.ts
Labels: none

feat: drag order line use theme dragHeaderSplitLine style
  packages/vtable-gantt/src/scenegraph/drag-order-line.ts
Labels: none

feat: access loading icon into tree mode
  packages/vtable/examples/icon/icon-register.ts
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/icons.ts
  packages/vtable/src/scenegraph/graphic/contributions/image-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/ts-types/icon.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: add docs & demos about loading icon
  docs/assets/api/en/icon/image-icon.md
  docs/assets/api/zh/icon/image-icon.md
  docs/assets/demo/en/table-type/list-table-tree-lazy-load.md
  docs/assets/demo/zh/table-type/list-table-tree-lazy-load.md
  docs/assets/guide/en/table_type/List_table/tree_list.md
  docs/assets/guide/zh/table_type/List_table/tree_list.md
Labels: docs
