Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

feat: ListTableConstructorOptions to use
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix: when set hide for column with children occor error #4223
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4223-bug-listtable-set-hidetrueError_2025-08-11-06-37.json
Labels: chore

feat: solve underline problem
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin.ts
Labels: none

feat: solve underline problem
  packages/vtable-plugins/src/master-detail-plugin.ts
Labels: none

fix: fix error in syncGroupCollapseState when use InputEditor update groupBy config key.#4216
  packages/vtable/examples/list/list-groupBy.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/groupby_2025-08-11-09-32.json
Labels: chore

fix: fix error in syncGroupCollapseState when use InputEditor update groupBy config key.#4216
  packages/vtable/examples/list/list-groupBy.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/new-groupBy_2025-08-11-09-44.json
Labels: chore

feat: add set table header menu
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, docs

feat: add export and import api
  packages/vtable-plugins/src/excel-import.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
Labels: none

fix: sheet cursor setting
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/styles/sheet.css
  packages/vtable/src/event/listener/scroll-bar.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

feat: master icon system
  packages/vtable-export/src/excel/index.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/event/self-event-listener/base-table/icon.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/utils/get-hierarchy-offset.ts
Labels: vtable

feat: fix ListTable
  packages/vtable/src/ListTable.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
Labels: vtable

Update search-component.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

Update search-component.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

fix: delete some no use code
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

fix: delete some no use code
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: delete some no use code
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: delete some no use code
  packages/vtable/src/index.ts
Labels: vtable

refactor: scrollbar layout
  packages/vtable/examples/theme/scroll-style.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/component/table-component.ts
Labels: vtable

fix: delete some no use code
  packages/vtable-plugins/src/master-detail-plugin.ts
Labels: none

fix: delete some no use code
  packages/vtable-plugins/src/master-detail-plugin.ts
Labels: none

Update search-component.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

expand treeNode
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

Update search-component.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

Update search-component.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

Update search-component.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

fix: delete some no use code
  packages/vtable-plugins/src/master-detail-plugin.ts
Labels: none

fix: delete some no use code
  packages/vtable-plugins/src/master-detail-plugin.ts
Labels: none

fix: delete some no use code
  packages/vtable-plugins/src/master-detail-plugin.ts
Labels: none

feat: 配置滚动条吃否计算冻结列的宽度
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/examples/frozen/list-table-scrollx-skip-frozen.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

refactor: scrollbar not show when less records no need show scrollbar
  packages/vtable/examples/theme/scroll-style.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/state/resize/update-resize-column.ts
  packages/vtable/src/state/resize/update-resize-row.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/refactor-scrollbar-layout_2025-08-12-08-03.json
Labels: chore

refactor: update legend logic position
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

feat: 配置滚动条是否计算冻结列的宽度
  docs/assets/demo/en/basic-functionality/list-table-scrollStyle-ignore-frozen.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/basic-functionality/list-table-scrollStyle-ignore-frozen.md
  docs/assets/option/en/common/scroll-style.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/common/scroll-style.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/examples/frozen/list-table-scrollx-skip-frozen.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable, docs

fix: vtableMergeId delete
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable

fix: adjust legend init logic
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable

fix: delete some no use code
  packages/vtable-plugins/src/master-detail-plugin.ts
Labels: none

fix: delete some no use code
  packages/vtable/src/core/row-series-number-helper.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
