Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat:add log
  packages/vtable/CHANGELOG.md
Labels: vtable

feat: fix code change
  docs/assets/contributing/en/source-code-details/11-Data-Editing.md
  docs/assets/contributing/zh/source-code-details/11-Data-Editing.md
Labels: docs

feat: add cancelEditCell method to ListTable and PivotTable APIs
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

feat:add log
  packages/vtable/CHANGELOG.md
Labels: vtable

feat: add cancelEditCell method to ListTable and PivotTable APIs
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
  packages/vtable/CHANGELOG.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

feat: add cancelEditCell API
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: develop SpreadSheetEventType
  packages/vtable-sheet/__tests__/spreadsheet-events.test.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/event/spreadsheet-event-manager.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/managers/sheet-manager.ts
  packages/vtable-sheet/src/ts-types/spreadsheet-events.ts
Labels: test

feat: add spreadsheet event
  packages/vtable-sheet/__tests__/event-timing-fix.test.ts
  packages/vtable-sheet/__tests__/formula-removal-fix.test.ts
  packages/vtable-sheet/__tests__/sheet-manager-events.test.ts
  packages/vtable-sheet/__tests__/worksheet-event-integration-simple.test.ts
  packages/vtable-sheet/__tests__/worksheet-event-registration-fix.test.ts
  packages/vtable-sheet/__tests__/worksheet-events.test.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/event/worksheet-event-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: test

fix: adjust the positioning of the media overlay
  packages/vtable/src/event/media-click.ts
Labels: vtable

fix(layout): correct proxy row handling when exceeding row limit
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable

fix: showSubTotalsOnTreeNode judgement empty #4921
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

fix(layout): prevent unnecessary row updates when start position unchanged
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable

fix(layout): correct proxy row handling when exceeding row limit
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable

fix(layout): prevent unnecessary row updates when start position unchanged
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable

fix(scenegraph): reset proxy row status when start exceeds end
  common/changes/@visactor/vtable/fix-delete_row_2026-01-15-08-17.json
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable, chore

feat: support chart multiple select and add shouldTreatAsClickOnTable hook
  packages/vtable/examples/pivot-chart/pivotChart-brushState.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: support chart multiple select and add shouldTreatAsClickOnTable hook
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

docs: generate changelog of release v1.22.11
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: interactions occor error
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

docs: update changelog
  docs/assets/changelog/zh/release.md
Labels: docs

fix: chartOption added after delete occor error
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: generate changelog of release v1.18.8
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: when trigger pivotchart click should clearBrushingChartInstance
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/examples/pivot-chart/pivotChart-brushState1.ts
  packages/vtable/package.json
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: remove inversify of vrender
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/react-vtable/src/table-components/custom/reconciler.ts
  packages/react-vtable/src/table-components/custom/vtable-browser-env-contribution.ts
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
  packages/react-vtable/src/tables/base-table.tsx
  packages/vtable-export/package.json
  packages/vtable-gantt/src/scenegraph/graphic/group-contribution-render.ts
  packages/vtable-gantt/src/scenegraph/graphic/index.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/draw-interceptor.ts
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/image-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/index.ts
  packages/vtable/src/scenegraph/graphic/contributions/picker-interceptor.ts
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/text-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/render-service.ts
  packages/vtable/src/scenegraph/utils/text-measure.ts
  packages/vtable/src/vrender.ts
  packages/vue-vtable/package.json
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/pre-release-1.12.12-alpha.2_2026-01-20-09-59.json
Labels: chore

feat: fix changelog problem
  packages/vtable/CHANGELOG.md
Labels: vtable

feat: add cancelEditCell method to ListTable and PivotTable APIs
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-cancelEdit_2026-01-21-00-59.json
Labels: chore

refactor: active cell chart list global var
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

chore: update pnpm lock file
  common/config/rush/pnpm-lock.yaml
Labels: chore

build: prelease version 1.22.12-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: makeSelectCellVisible set false when click row series number #4942
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4942-bug-makeselectcellvisible-false_2026-01-21-06-50.json
Labels: chore

feat: vtablesheet type define
  packages/vtable-plugins/src/filter/value-filter.ts
  packages/vtable-sheet/__tests__/comprehensive-tab-switching-debug.test.ts
  packages/vtable-sheet/__tests__/formula-event-utils.test.ts
  packages/vtable-sheet/__tests__/real-environment-tab-switching.test.ts
  packages/vtable-sheet/__tests__/sheet-manager-events.test.ts
  packages/vtable-sheet/__tests__/spreadsheet-events.test.ts
  packages/vtable-sheet/__tests__/worksheet-events.test.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/event/base-event-manager.ts
  packages/vtable-sheet/src/event/event-interfaces.ts
  packages/vtable-sheet/src/event/event-performance.ts
  packages/vtable-sheet/src/event/event-validator.ts
  packages/vtable-sheet/src/event/formula-event-utils.ts
  packages/vtable-sheet/src/event/index.ts
  packages/vtable-sheet/src/event/spreadsheet-event-manager.ts
  packages/vtable-sheet/src/event/table-event-relay.ts
  packages/vtable-sheet/src/event/vtable-sheet-event-bus.ts
  packages/vtable-sheet/src/event/worksheet-event-manager.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/managers/sheet-manager.ts
  packages/vtable-sheet/src/managers/tab-drag-manager.ts
  packages/vtable-sheet/src/ts-types/spreadsheet-events.ts
Labels: test

feat: vtablesheet type define
  packages/vtable-sheet/__tests__/worksheet-events.test.ts
  packages/vtable-sheet/src/event/event-validator.ts
Labels: test

fix: fix last row dimension column width when row series number is enabled
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-row-series-number-last-dimension-column-width_2026-01-22-03-29.json
Labels: chore

docs: update sheet event guide
  docs/assets/api/en/SheetAPI.md
  docs/assets/api/zh/SheetAPI.md
  packages/vtable-sheet/docs/event-implementation-plan.zh-CN.md
  packages/vtable-sheet/docs/event-system-guide.md
  packages/vtable-sheet/docs/event-usage-examples.zh-CN.md
  packages/vtable-sheet/docs/excel-multi-sheet-import.md
  packages/vtable-sheet/docs/三层事件架构-实现现状.md
  packages/vtable-sheet/docs/事件系统方案总结.md
  packages/vtable-sheet/docs/代码清理完成-spreadsheet-events.md
  packages/vtable-sheet/docs/代码清理建议-spreadsheet-events.md
  packages/vtable-sheet/docs/修复-tableEventRelay未初始化.md
  packages/vtable-sheet/docs/修复-添加clearAllListeners调用.md
  packages/vtable-sheet/docs/修复-移除不支持的query参数.md
  packages/vtable-sheet/docs/最终方案.md
  packages/vtable-sheet/docs/正确的事件方案.md
  packages/vtable-sheet/docs/统一事件系统-使用示例.md
  packages/vtable-sheet/docs/统一事件系统-完整方案.md
  packages/vtable-sheet/docs/统一事件系统.md
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/event/spreadsheet-event-manager.ts
  packages/vtable-sheet/src/event/worksheet-event-manager.ts
  packages/vtable-sheet/src/ts-types/spreadsheet-events.ts
Labels: docs

build: prelease version 1.22.12-alpha.4
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update sheet event test
  packages/vtable-sheet/__tests__/worksheet-events.test.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/event/worksheet-event-manager.ts
Labels: test
