Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: gantt overscrollBehavior none work #3638
  packages/vtable-gantt/src/event/scroll.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3638-bug-gantt-overscrollbehavior_2025-03-28-03-49.json
Labels: chore

fix: fix cell radius set in getCellCornerRadius()
  packages/vtable/src/core/tableHelper.ts
Labels: vtable

feat: add dynamicUpdateSelectionSize config in theme.selectionStyle
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable

chore: update rush change
  common/changes/@visactor/vtable/fix-selected-border-update_2025-03-28-08-48.json
Labels: chore

build: prelease version 1.17.4-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add optimization parameter to exporting excel
  docs/assets/guide/en/export/excel.md
  docs/assets/guide/zh/export/excel.md
  packages/vtable-export/src/excel/index.ts
Labels: docs

fix: when set renderChartAsync setRecords api render error #3661
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3661-bug-renderchartasync-setrecords-renderError_2025-03-31-11-43.json
Labels: chore

fix: add isCustom tag for merge cell range #3504
  common/changes/@visactor/vtable/fix-custom-merge-tag_2025-03-24-11-25.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, chore

fix: fix checkbox state order update #3606
  common/changes/@visactor/vtable/fix-checkbox-order-change_2025-03-25-06-58.json
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable, chore

fix: fix button style problem #3614
  common/changes/@visactor/vtable/fix-button-style_2025-03-25-07-01.json
  packages/vtable/src/scenegraph/group-creater/cell-type/button-cell.ts
Labels: vtable, chore

feat: add barMarkInBar style config in progressbar #3616
  common/changes/@visactor/vtable/feat-barMarkInBar_2025-03-25-07-07.json
  docs/assets/option/en/common/style.md
  docs/assets/option/zh/common/style.md
  packages/vtable/src/body-helper/style/ProgressBarStyle.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/ts-types/column/style.ts
Labels: vtable, docs, chore

fix: disable group title editor
  common/changes/@visactor/vtable/fix-group-title-editor_2025-03-25-10-01.json
  packages/vtable/examples/editor/date-editor.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable, chore

fix: fix range cache in _updateSize()
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

fix: fix record undefined in startEditCell()
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

fix: fix record undefined in startEditCell()
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

build: prelease version 1.17.4-alpha.4
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.17.4-alpha.5
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: generate changelog of release v1.17.4
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: refactor pivotTable corner with no columns or rows case #3653
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3653-feature-pivotTable-corner_2025-04-01-08-01.json
Labels: chore

feat: refactor pivotTable corner with no columns or rows case #3653
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix: fix child cell get method in setBodyAndRowHeaderY()
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

feat: refactor carousel animation
  packages/vtable-plugins/demo/carousel-animation/(deprecated)carousel-animation.ts
  packages/vtable-plugins/demo/table-carousel-animation/table-carousel-animation.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
Labels: none

perf: vue custom rendering: control memory usage, increase node reuse, optimize style updates
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

docs: change the demo component for custom DOM rendering in Vue to slot based
  docs/assets/demo-vue/en/custom-layout/cell-dom-component.md
  docs/assets/demo-vue/zh/custom-layout/cell-dom-component.md
Labels: docs

fix: when set corner customlayout and customMerge cornder cell render error
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

build: prelease version 1.17.5-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

chore: add current row data to edit slot parameters
  packages/vue-vtable/src/edit/editor.ts
Labels: none

docs: update Chinese changelog for v1.17.4 release
  docs/assets/changelog/zh/release.md
Labels: docs

build: prelease version 1.17.5-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix merge cell checkbox state update #3668
  common/changes/@visactor/vtable/fix-fix-merge-checkbox-state_2025-04-02-08-58.json
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable, chore

fix: gantt change taskbar schedule update record error
  packages/vtable-gantt/src/Gantt.ts
Labels: none

fix: fix switch default direction #3667
  common/changes/@visactor/vtable/fix-fix-switch-direction_2025-04-02-09-23.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: fix merge cell checkbox state update #3668
  common/changes/@visactor/vtable/fix-fix-merge-checkbox-state_2025-04-02-08-58.json
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable, chore

docs: generate changelog of release v1.17.5
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: remove the secondary header
  docs/assets/demo-vue/en/custom-layout/cell-dom-component.md
  docs/assets/demo-vue/zh/custom-layout/cell-dom-component.md
Labels: docs

feat: column header of the ListTable supports folding
  packages/vtable/src/ListTable.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable
