Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

build: prelease version 1.19.9-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: init sort state on sheet instantiation instead of activation
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
Labels: none

feat: add sort state persistence
  packages/vtable-sheet/examples/sheet/persistence.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

refactor: formula helper
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/event/event-manager.ts
  packages/vtable-sheet/src/formula/formula-autocomplete.ts
  packages/vtable-sheet/src/formula/formula-editor.ts
  packages/vtable-sheet/src/formula/formula-helper.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/formula/formula-ui-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/managers/tab-drag-manager.ts
  packages/vtable-sheet/src/test/formula-range-selector.test.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
Labels: none

feat: modify task bar interaction with new triangle handle and update progress display
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

feat: edit cell can drag cell range
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/event/event-manager.ts
  packages/vtable-sheet/src/formula/formula-editor.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/formula/formula-ui-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: none

fix: fix release error in node server mode #4439
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
Labels: vtable

feat: some function adapt
  docs/assets/demo/menu.json
  docs/assets/demo/zh/plugin/master-detail-plugin.md
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin4.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
Labels: docs

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin2.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin4.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
Labels: none

feat: some function adapt
  docs/assets/demo/zh/plugin/master-detail-plugin.md
Labels: docs

feat: some function adapt
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
Labels: vtable

refactor: formula feat
  packages/vtable-editors/src/types.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/event/event-manager.ts
  packages/vtable-sheet/src/formula/formula-editor.ts
  packages/vtable-sheet/src/formula/formula-helper.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/formula/formula-ui-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

refactor: sheet formula feat
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/formula/formula-ui-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

feat: refactor: formula feat
  packages/vtable-editors/src/types.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/formula/formula-editor.ts
  packages/vtable-sheet/src/formula/formula-ui-manager.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

refactor: formula feat
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/formula/formula-autocomplete.ts
  packages/vtable-sheet/src/formula/formula-helper.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/formula/formula-ui-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

docs: formula guide
  docs/assets/guide/zh/sheet/formula.md
Labels: docs

docs: vtable sheet guide and option
  docs/assets/demo/en/vtable-sheet/sheet.md
  docs/assets/guide/en/sheet/Getting_Started.md
  docs/assets/guide/en/sheet/editor.md
  docs/assets/guide/en/sheet/filter.md
  docs/assets/guide/en/sheet/formula.md
  docs/assets/guide/en/sheet/import_export.md
  docs/assets/guide/en/sheet/introduction.md
  docs/assets/guide/en/sheet/menu.md
  docs/assets/guide/en/sheet/multi-sheet.md
  docs/assets/guide/en/sheet/other.md
  docs/assets/guide/en/sheet/persistence.md
  docs/assets/guide/en/sheet/plugins.md
  docs/assets/guide/en/sheet/style.md
  docs/assets/guide/zh/sheet/other.md
  docs/assets/option/en/option.md
  docs/assets/option/en/table/sheet.md
  docs/assets/option/zh/table/sheet.md
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: docs

docs: update filter plugin
  docs/assets/guide/en/plugin/auto-fill.md
  docs/assets/guide/en/plugin/filter.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/auto-fill.md
  docs/assets/guide/zh/plugin/filter.md
Labels: docs

feat: some function adapt
  docs/assets/demo/en/plugin/master-detail.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/plugin/master-detail.md
  docs/assets/guide/en/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable-plugins/src/master-detail-plugin/utils.ts
Labels: docs

fix: hyperFormula data
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/formula/formula-ui-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: none

fix: 修复打包别名在windows下异常的问题
  tools/bundler/src/logic/alias.ts
Labels: bundler

chore: vtable-sheet project prepare
  docs/assets/guide/en/Event/event_list.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/en/shortcut.md
  docs/assets/guide/zh/Event/event_list.md
  docs/assets/guide/zh/plugin/usage.md
  docs/assets/guide/zh/shortcut.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable-plugins/src/auto-fill/index.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-plugins/src/wps-fill-handle.ts
  packages/vtable-sheet/bundler.config.js
  packages/vtable-sheet/examples/filter.html
  packages/vtable-sheet/examples/formula.html
  packages/vtable-sheet/examples/index-1.html
  packages/vtable-sheet/examples/main.ts
  packages/vtable-sheet/examples/menu.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/ts-types/base-table.ts
  tools/bugserver-trigger/package.json
  tools/bugserver-trigger/src/index.ts
  tools/bugserver-trigger/tsconfig.json
Labels: vtable, docs, bundler

chore: vtable-plugin bugServer setting
  packages/vtable-plugins/tsconfig.json
  tools/bugserver-trigger/package.json
  tools/bugserver-trigger/src/index.ts
  tools/bugserver-trigger/tsconfig.json
Labels: typescript

fix: 解决打包时内存溢出的问题
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bundler/src/logic/alias.ts
Labels: vtable, react-vtable, openinula-vtable, bundler

refactor: sheet export module
  common/config/rush/pnpm-lock.yaml
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/formula/formula-throttle.ts
  packages/vtable-sheet/src/formula/formula-ui-manager.ts
  packages/vtable-sheet/src/index.ts
Labels: chore

feat: 更新pnpm-lock文件
  common/config/rush/pnpm-lock.yaml
Labels: chore

chore: bugserver delete sheet
  tools/bugserver-trigger/package.json
  tools/bugserver-trigger/src/index.ts
  tools/bugserver-trigger/tsconfig.json
Labels: none

docs: add docs for progressAdjustable feature
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
Labels: docs

chore: bugserver delete sheet
  common/config/rush/pnpm-lock.yaml
Labels: chore

fix: when select row fill handler not show #4376
  packages/vtable/src/event/event.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
Labels: vtable

chore: bugserver delete plugins
  common/config/rush/pnpm-lock.yaml
  tools/bugserver-trigger/package.json
  tools/bugserver-trigger/src/index.ts
  tools/bugserver-trigger/tsconfig.json
Labels: chore

docs: add gantt progress adjust demo
  docs/assets/demo/en/gantt/gantt-progress-adjust.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-progress-adjust.md
Labels: docs

chore: bugserver add plugins
  packages/vtable-plugins/package.json
  tools/bugserver-trigger/package.json
  tools/bugserver-trigger/src/index.ts
  tools/bugserver-trigger/tsconfig.json
Labels: none

chore: bugserver add plugins
  common/config/rush/pnpm-lock.yaml
Labels: chore

chore: vtable-plugin bugServer setting
  common/config/rush/pnpm-lock.yaml
  tools/bugserver-trigger/package.json
  tools/bugserver-trigger/src/index.ts
  tools/bugserver-trigger/tsconfig.json
Labels: chore

chore: vtable-plugin bugServer setting
  packages/vtable-plugins/src/table-series-number.ts
  tools/bugserver-trigger/src/index.ts
Labels: none

fix: handle with sheet css file
  packages/vtable-sheet/bundler.config.js
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/index.ts
  packages/vtable-sheet/src/styles/common.ts
  packages/vtable-sheet/src/styles/formula-autocomplete.ts
  packages/vtable-sheet/src/styles/formula-bar.ts
  packages/vtable-sheet/src/styles/index.css
  packages/vtable-sheet/src/styles/menu.ts
  packages/vtable-sheet/src/styles/sheet-tab.ts
  packages/vtable-sheet/src/styles/sheet.ts
  packages/vtable-sheet/src/styles/style-manager.ts
  packages/vtable-sheet/src/tools/env.ts
Labels: bundler

feat: 添加配置ignoreCtrlForSelectCells禁用ctrl的时候依然可以通过selectCells多选
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: ignoreCtrlForSelectCells参数文档编写
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

fix: remove child node error
  packages/vtable-sheet/src/managers/menu-manager.ts
Labels: none

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
