Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix: bugserver build error
  tools/bugserver-trigger/package.json
  tools/bugserver-trigger/tsconfig.json
Labels: none

fix: when dimension value is empty string should different from no dimension value #4935
  packages/vtable/src/tools/join.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4935-bug-dimensionValue-null-indicatorValue_2026-01-22-07-49.json
Labels: chore

fix: bugserver build error
  common/config/rush/pnpm-lock.yaml
  tools/bugserver-trigger/package.json
Labels: chore

fix: chartNode occor error
  packages/vtable/src/PivotChart.ts
Labels: vtable

docs: update pivotchart api
  docs/assets/option/en/table/pivotChart.md
  docs/assets/option/zh/table/pivotChart.md
Labels: docs

build: prelease version 1.22.12-alpha.5
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

chore: build bugserver ci error
  tools/bugserver-trigger/bundler.config.js
  tools/bundler/src/bootstrap.ts
  tools/bundler/src/tasks/umd.ts
Labels: bundler

fix: delete console.log code
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: vtable

fix: tsconfig setting update
  packages/openinula-vtable/tsconfig.json
  packages/react-vtable/tsconfig.json
  packages/vtable-calendar/tsconfig.json
  packages/vtable-export/tsconfig.json
  packages/vtable-gantt/tsconfig.json
  packages/vtable-plugins/tsconfig.json
  packages/vtable-search/tsconfig.json
  packages/vtable-sheet/tsconfig.json
  packages/vue-vtable/tsconfig.json
Labels: react-vtable, openinula-vtable, typescript

fix(pivot): trigger change_cell_value in high-dimension editing (#4953)
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

fix: bugerser ci run build error
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/tsconfig.json
  packages/vtable-sheet/tsconfig.json
  tools/bugserver-trigger/package.json
  tools/bugserver-trigger/tsconfig.json
Labels: typescript, chore

fix: bugerser ci run build error
  packages/vtable-sheet/src/event/event-validator.ts
Labels: none

test: add iframe demo
  packages/vtable/examples/iframe-demo.html
  packages/vtable/examples/list/list-iframe.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-brushState.ts
  packages/vtable/examples/pivot-chart/pivotChart-iframe-brushState.ts
Labels: vtable

chore: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: react type define
  packages/react-vtable/src/tables/list-table-simple.tsx
  packages/react-vtable/src/tables/list-table.tsx
  packages/react-vtable/src/tables/pivot-chart.tsx
  packages/react-vtable/src/tables/pivot-table-simple.tsx
  packages/react-vtable/src/tables/pivot-table.tsx
Labels: react-vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/react-vtable-probs_2026-01-26-03-27.json
Labels: chore

docs: generate changelog of release v1.22.12
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

build: prelease version 1.22.13-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update release change log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: add records update formula
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-sheet/__tests__/formula-row-resize-insert.test.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/sheet-helper.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-vtablesheet-event-fixBuild_2026-01-26-11-12.json
Labels: chore

fix: react define type
  packages/react-vtable/src/containers/withContainer.tsx
Labels: react-vtable

build: prelease version 1.22.13-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: change dimension value to recalculate totalTree #4953
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4953-bug-editCell-rowhierarchytype-grid-tree_2026-01-27-08-29.json
Labels: chore

fix: when change dimenison value should update cached changedTree value
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4953-bug-editCell-rowhierarchytype-grid-tree_2026-01-27-09-19.json
Labels: chore

fix: when no columnTree to adjust columnWidthConfig #4935
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4935-bug-dimensionValue-null-indicatorValue_2026-01-27-11-41.json
Labels: chore

feat(vtable-sheet): add sheet update apis
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/index.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

test(vtable-sheet): add sheet update api specs
  packages/vtable-sheet/__tests__/sheet-update-api.test.ts
Labels: test

chore(vtable-sheet): lint fixes for update apis
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

feat(vtable): support componentLayoutOrder to control title/legend layout priority
  packages/vtable/README.md
  packages/vtable/examples/components/legend-title-order.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update pivot corner option
  docs/assets/option/en/common/pivot-corner.md
  docs/assets/option/zh/common/pivot-corner.md
Labels: docs

feat: add updateOption api
  packages/vtable-sheet/__tests__/sheet-update-api.test.ts
  packages/vtable-sheet/src/components/sheet-tab-event-handler.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-sheet-update-api_2026-01-28-09-23.json
Labels: chore

feat: add componentLayoutOrder api #4965
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/components/legend-title-order.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-component-layout-order_2026-01-28-11-33.json
Labels: chore

refactor: legend and title component position calculation logic #4965
  packages/vtable/src/components/legend/continue-legend/continue-legend.ts
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
  packages/vtable/src/components/title/title.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
