Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-column-dimension-null-empty-distinction_2026-01-04-10-53.json
  common/changes/@visactor/vtable/fix-column-dimension-null-empty-distinction_2026-01-04-10-54.json
  packages/vtable/examples/pivot/1.json
  packages/vtable/examples/pivot/pivot.ts
Labels: vtable, chore

fix: distinguish null and empty string values in column dimensions
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-column-dimension-null-empty-distinction_2026-01-04-11-03.json
Labels: chore

fix: eventHandlers move
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-sheet/src/formula/formula-editor.ts
Labels: none

docs: generate changelog of release v1.22.10
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

build: prelease version 1.22.11-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix(vtable): 修改 triggerEvent 参数类型以支持特定事件控制
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
Labels: vtable

feat(table): 为单元格修改方法添加静默事件参数
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

fix: 移除嵌套索引处理逻辑,避免逻辑错误
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: 将 triggerEvent 参数默认值设为 true
  packages/vtable/src/ListTable.ts
Labels: vtable

docs: update changlog of rush
  .vscode/settings.json
  common/changes/@visactor/vtable/feat-support_cell_values_change_2026-01-05-09-32.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, chore

build: prelease version 1.22.11-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

chore: update version vchart
  common/changes/@visactor/vtable-gantt/feature-distanceToTaskBar.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: when has merge cells to delete column #4848
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable/examples/list/list.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/state/select/update-position.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4848-bug-vtable-sheet-deleteCol-withMergeCellState_2026-01-06-11-47.json
Labels: chore

Update official website link and star history section
  README.md
Labels: none

Fix duplicate Star History section in README
  README.md
Labels: none

fix: 修复theme配置theme.headerStyle.textStickBaseOnAlign不生效问题
  common/changes/@visactor/vtable/fix-theme--textStickBaseOnAlign-----_2026-01-06-11-51.json
  packages/vtable/src/themes/theme-define.ts
Labels: vtable, chore

feat(table): 新增基于记录索引的单元格值修改方法及优化范围删除性能
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable/examples/list-analysis/list-filter.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-support_cell_values_change_2026-01-07-06-52.json
Labels: chore

feat(table): revert formatter
  .vscode/settings.json
Labels: chore

feat(table): remover no use change log
  common/changes/@visactor/vtable/feat-support_cell_values_change_2026-01-05-09-32.json
  common/changes/feat-support_cell_values_change-1767100301.json
Labels: chore

feat(表格操作): 为增删改记录方法添加triggerEvent参数控制事件触发
  packages/vtable/src/ListTable.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

refactor: update cell merge delete records logic #4848
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/4848-bug-vtable-sheet-deleteCol-withMergeCellState_2026-01-07-07-53.json
Labels: chore

build: prelease version 1.22.11-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: prepareEdit occor error #4871
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4871-bug-prepareEdit_2026-01-07-08-16.json
Labels: chore

feat: add clearChartState and disableTooltip api
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/examples/pivot-chart/pivotChart-brushState.ts
  packages/vtable/examples/pivot-chart/pivotChart-brushState1.ts
  packages/vtable/package.json
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/table-engine.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-pie_chart_linkage_2026-01-07-09-55.json
Labels: chore

feat: optimize search latency
  packages/vtable-search/src/search-component/search-component.ts
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-search-latency-optimize_2026-01-08-03-16.json
Labels: chore

build: prelease version 1.22.11-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat(custom-cell-style): improve performance and memory management for custom cell styles
  packages/vtable/__tests__/plugins/custom-cell-style.test.ts
  packages/vtable/src/PivotTable-all.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
Labels: vtable

fix: upgrade filter icon after update plugin options
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

fix: upgrade filter icon after update plugin options
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/4871-bug-prepareEdit_2026-01-07-08-16.json
Labels: chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-search-latency-optimize_2026-01-08-03-16.json
Labels: chore

fix: prepareEdit occor error #4871
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
