Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

test(vtable): cover Firefox paste event fallback
  packages/vtable/__tests__/clipboard-paste.test.ts
  packages/vtable/examples/debug/issue-4699-firefox-paste.ts
  packages/vtable/examples/menu.ts
Labels: vtable, test

test(vtable): run Firefox paste regression in Playwright
  .github/workflows/unit-test.yml
  .gitignore
  common/config/rush/pnpm-lock.yaml
  packages/vtable/e2e/clipboard-paste.firefox.spec.ts
  packages/vtable/e2e/fixtures/app.ts
  packages/vtable/e2e/fixtures/index.html
  packages/vtable/e2e/vite.config.ts
  packages/vtable/examples/debug/issue-4699-firefox-paste.ts
  packages/vtable/examples/menu.ts
  packages/vtable/package.json
  packages/vtable/playwright.config.ts
  packages/vtable/tsconfig.eslint.json
Labels: vtable, typescript, chore

test(vtable): harden Firefox paste regression fixture
  packages/vtable/e2e/clipboard-paste.firefox.spec.ts
  packages/vtable/e2e/fixtures/index.html
Labels: vtable

fix(vtable): enlarge fill handle hit area
  common/changes/@visactor/vtable/fix-issue-4656-fill-handle-hit-area_2026-09-20-10-00.json
  packages/vtable/__tests__/fill-handle-hit-area.test.ts
  packages/vtable/examples/debug/issue-4656-fill-handle-hit-area.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/event/event.ts
Labels: vtable, test, chore

docs(vtable): clarify fill handle target sizing
  packages/vtable/src/event/event.ts
Labels: vtable

test(gantt): cover updateTaskRecord task bar refresh
  packages/vtable-gantt/__tests__/gantt-update-task-record.test.ts
  packages/vtable-gantt/examples/gantt/gantt-issue-4534-update-task-record.ts
  packages/vtable-gantt/examples/menu.ts
Labels: test

fix(gantt): recalculate project dates on setRecords
  common/changes/@visactor/vtable-gantt/fix-issue-4631-set-records-project-times_2026-09-20-16-00.json
  packages/vtable-gantt/__tests__/gantt-set-records.test.ts
  packages/vtable-gantt/examples/gantt/issue-4631-set-records-project.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
Labels: test, chore

test(vtable): cover filtered addRecords persistence
  common/changes/@visactor/vtable/fix-issue-4607-filter-add-records_2026-09-20-17-20.json
  packages/vtable/__tests__/data-update/listTable-data-events.test.ts
  packages/vtable/examples/debug/issue-4607-filter-add-records.ts
  packages/vtable/examples/menu.ts
Labels: vtable, chore

test(vtable): cover filtered updateRecords persistence
  common/changes/@visactor/vtable/fix-issue-4794-filter-update-records_2026-09-20-19-30.json
  packages/vtable/__tests__/data-update/listTable-data-events.test.ts
  packages/vtable/examples/debug/issue-4794-filter-update-records.ts
  packages/vtable/examples/menu.ts
Labels: vtable, chore

chore(vtable): avoid release for test-only changes
  common/changes/@visactor/vtable/fix-issue-4794-filter-update-records_2026-09-20-19-30.json
Labels: chore

fix(vue-vtable): preserve immediate editor cell updates
  common/changes/@visactor/vue-vtable/fix-issue-4925-datasource-editor_2026-09-21-00-00.json
  packages/vue-vtable/__tests__/dynamic-render-editor.test.ts
  packages/vue-vtable/demo/src/App.vue
  packages/vue-vtable/demo/src/table/gramatical/composition/Issue4925DataSourceEditor.vue
  packages/vue-vtable/jest.config.js
  packages/vue-vtable/src/edit/editor.ts
Labels: test, jest, chore

fix(vue-vtable): harden editor validation handling
  packages/vue-vtable/__tests__/dynamic-render-editor.test.ts
  packages/vue-vtable/src/edit/editor.ts
Labels: test

fix(vue-vtable): normalize validator thenables
  packages/vue-vtable/__tests__/dynamic-render-editor.test.ts
  packages/vue-vtable/src/edit/editor.ts
Labels: test

test(react-vtable): cover detached layout controls
  common/changes/@visactor/react-vtable/test-issue-4836-link-button-stage_2026-09-21-16-30.json
  packages/react-vtable/__tests__/custom-layout-components.test.tsx
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/list-table/issue-4836-link-button-stage.tsx
Labels: react-vtable, test, chore

test(bugserver): expose detached React layout coverage
  common/config/rush/pnpm-lock.yaml
  tools/bugserver-trigger/bundler.config.js
  tools/bugserver-trigger/package.json
  tools/bugserver-trigger/src/index.ts
Labels: chore

test(react-vtable): make issue 4836 readiness reliable
  packages/react-vtable/demo/src/list-table/issue-4836-link-button-stage.tsx
  tools/bugserver-trigger/src/index.ts
Labels: react-vtable

test(react-vtable): verify detached controls render
  packages/react-vtable/__tests__/custom-layout-components.test.tsx
Labels: react-vtable, test

test(bugserver): identify detached helper bundle
  tools/bugserver-trigger/src/index.ts
Labels: none

test(bugserver): verify detached controls on stage
  packages/react-vtable/demo/src/list-table/issue-4836-link-button-stage.tsx
  tools/bugserver-trigger/src/index.ts
Labels: react-vtable

test(react-vtable): remove unused bugserver coverage
  common/config/rush/pnpm-lock.yaml
  tools/bugserver-trigger/bundler.config.js
  tools/bugserver-trigger/package.json
  tools/bugserver-trigger/src/index.ts
Labels: chore

test(react-vtable): exercise component ref effects
  packages/react-vtable/demo/src/list-table/issue-4836-link-button-stage.tsx
Labels: react-vtable

test(react-vtable): isolate demo readiness runs
  packages/react-vtable/demo/src/list-table/issue-4836-link-button-stage.tsx
Labels: react-vtable

test(react-vtable): isolate strict mode errors
  packages/react-vtable/demo/src/list-table/issue-4836-link-button-stage.tsx
Labels: react-vtable

fix(vtable): map sorted view index to source record in deleteRecords/updateRecords
  common/changes/@visactor/vtable/fix-sorted-sync-record-index_2026-09-23-09-50.json
  packages/vtable/__tests__/data-update/listTable-data-events.test.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable, chore

test(vtable): cover transpose frozen columns
  common/changes/@visactor/vtable/test-issue-4111-transpose-frozen-columns_2026-09-23-11-00.json
  packages/vtable/__tests__/options/listTable-frozen.test.ts
  packages/vtable/examples/frozen/issue-4111-transpose-frozen-columns.ts
  packages/vtable/examples/menu.ts
Labels: vtable, chore

fix(vtable): release frozen observer on destroy
  common/changes/@visactor/vtable/test-issue-4111-transpose-frozen-columns_2026-09-23-11-00.json
  packages/vtable/__tests__/options/listTable-frozen.test.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/state/state.ts
Labels: vtable, chore

test(vtable): cover frozen observer recovery
  packages/vtable/__tests__/options/listTable-frozen.test.ts
  packages/vtable/examples/frozen/issue-4111-transpose-frozen-columns.ts
  packages/vtable/src/state/state.ts
Labels: vtable

test(vtable): add transpose frozen observer case
  packages/vtable/examples/debug/issue-4111-transpose-frozen-observer.ts
  packages/vtable/examples/menu.ts
Labels: vtable

test(vtable): make frozen observer race reproducible
  packages/vtable/examples/debug/issue-4111-transpose-frozen-observer.ts
Labels: vtable

test: cover VTable hover selection and frozen edges
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/cells/checkbox-header-options.mjs
  packages/vtable/__tests__/visual/cases/frozen/empty-records-header.mjs
  packages/vtable/__tests__/visual/cases/frozen/frozen-shadow-end.mjs
  packages/vtable/__tests__/visual/cases/frozen/frozen-shadow-middle.mjs
  packages/vtable/__tests__/visual/cases/frozen/frozen-shadow-start.mjs
  packages/vtable/__tests__/visual/cases/frozen/scrollbar-ignore-frozen.mjs
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/interaction/hover-column.mjs
  packages/vtable/__tests__/visual/cases/interaction/hover-cross.mjs
  packages/vtable/__tests__/visual/cases/interaction/hover-row.mjs
  packages/vtable/__tests__/visual/cases/interaction/hover-single.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-column-disabled.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-drag-outside.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-global-disabled.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-header-cell.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-header-disabled-drag.mjs
Labels: vtable

test: cover selection modes and run visual regression in CI
  .github/workflows/vtable-visual.yml
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/api/change-cell-values.mjs
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-highlight-column.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-highlight-cross-header-cell.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-highlight-cross-theme.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-highlight-cross-transpose.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-highlight-row.mjs
Labels: vtable, chore

test: extend VTable visual cases and stabilize pie selection
  .github/workflows/vtable-visual.yml
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/interaction/drag-row-series-order.mjs
  packages/vtable/__tests__/visual/cases/pivot-chart/pie-multi-select.mjs
  packages/vtable/__tests__/visual/cases/pivot/custom-sort-click-colors.mjs
Labels: vtable, chore

test: cover Sheet insertion boundaries in local visuals
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/sheet/insert-columns-before-second.mjs
  packages/vtable/__tests__/visual/cases/sheet/insert-columns-before-third.mjs
  packages/vtable/__tests__/visual/cases/sheet/insert-rows-after-first.mjs
  packages/vtable/__tests__/visual/cases/sheet/insert-rows-at-start.mjs
Labels: vtable

test: cover anonymous Gantt header resize
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/gantt/resize-task-list-header.mjs
  packages/vtable/__tests__/visual/cases/index.mjs
Labels: vtable

test: expand VTable visual interaction coverage
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/api/update-columns-after-selection.mjs
  packages/vtable/__tests__/visual/cases/api/update-columns-on-mouseleave.mjs
  packages/vtable/__tests__/visual/cases/cells/checkbox-over-thousand-rows.mjs
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/interaction/disable-hover-columns.mjs
  packages/vtable/__tests__/visual/cases/interaction/double-click-auto-column-width.mjs
  packages/vtable/__tests__/visual/cases/interaction/double-click-auto-width-height.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-header-scroll-top.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-highlight-in-range.mjs
  packages/vtable/__tests__/visual/cases/layout/auto-fill-width-resize-container.mjs
  packages/vtable/__tests__/visual/cases/pivot-chart/brush-multiple-selection.mjs
  packages/vtable/__tests__/visual/cases/pivot/update-sort-rules-after-click.mjs
  packages/vtable/__tests__/visual/cases/plugins/auto-fill-grid-tree-origin-value.mjs
Labels: vtable

test: cover remaining representative BugServer visual gaps
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/cells/link-merged-auto-height.mjs
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/pivot-chart/area-axis-sort.mjs
  packages/vtable/__tests__/visual/cases/pivot-chart/rose-indicator-title.mjs
  packages/vtable/__tests__/visual/cases/pivot/chart-spec-mark-line.mjs
  packages/vtable/__tests__/visual/cases/pivot/color-legend-order.mjs
  packages/vtable/__tests__/visual/cases/pivot/indicator-hide-frozen.mjs
  packages/vtable/__tests__/visual/cases/plugins/excel-delete-range.mjs
Labels: vtable

docs: finalize visual case migration guidance
  AGENTS.md
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/README.md
Labels: vtable

fix(animation): correct scroll position after animation to handle fractional row/col heights
  packages/vtable-plugins/src/table-carousel-animation.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/animation.ts
Labels: vtable

test: expand VTable visual interaction coverage
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/api/update-columns-after-selection.mjs
  packages/vtable/__tests__/visual/cases/api/update-columns-on-mouseleave.mjs
  packages/vtable/__tests__/visual/cases/cells/checkbox-over-thousand-rows.mjs
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/interaction/disable-hover-columns.mjs
  packages/vtable/__tests__/visual/cases/interaction/double-click-auto-column-width.mjs
  packages/vtable/__tests__/visual/cases/interaction/double-click-auto-width-height.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-header-scroll-top.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-highlight-in-range.mjs
  packages/vtable/__tests__/visual/cases/layout/auto-fill-width-resize-container.mjs
  packages/vtable/__tests__/visual/cases/pivot-chart/brush-multiple-selection.mjs
  packages/vtable/__tests__/visual/cases/pivot/update-sort-rules-after-click.mjs
  packages/vtable/__tests__/visual/cases/plugins/auto-fill-grid-tree-origin-value.mjs
Labels: vtable

docs: finalize visual case migration guidance
  AGENTS.md
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/README.md
Labels: vtable
