Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

chore: update workspace version
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.17.1-alpha.2
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: add midscene guide
  docs/assets/guide/en/Developer_Ecology/midscene.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/Developer_Ecology/midscene.md
Labels: docs

docs: add midscene guide
  docs/assets/guide/en/Developer_Ecology/midscene.md
  docs/assets/guide/zh/Developer_Ecology/midscene.md
Labels: docs

feat: 修改变量命名&无tooltip配置时，不显示tooltip&支持配置svg
  packages/vtable-gantt/examples/gantt/gantt-phase.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/scenegraph/tooltip.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: 文件重命名为createMarkLine
  packages/vtable-gantt/examples/gantt/gantt-createMarkLine.ts
  packages/vtable-gantt/examples/menu.ts
Labels: none

fix: 修复当禁用表头select时点击checkbox也会触发列/行的drag问题
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

refactor: 修复checkColumnMover方法的拼写错误
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

build: prelease version 1.17.1-alpha.3
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: 完善demo，并增加addMarkLine和updateCurrentMarkLine接口
  packages/vtable-gantt/examples/gantt/gantt-createMarkLine.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

feat: 完善创建markline的类型定义文档
  docs/assets/option/en/common/gantt/create-mark-line.md
  docs/assets/option/en/common/gantt/mark-line.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/common/gantt/create-mark-line.md
  docs/assets/option/zh/common/gantt/mark-line.md
  docs/assets/option/zh/table/gantt.md
  packages/vtable-gantt/examples/gantt/gantt-createMarkLine.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/scenegraph/tooltip.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

docs: 添加markline的添加和更新文档说明
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
Labels: docs

docs: 补充markline遗漏的类型
  docs/assets/option/en/common/gantt/mark-line.md
  docs/assets/option/zh/common/gantt/mark-line.md
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-add_milestone_2025-03-05-07-17.json
  docs/assets/demo/en/gantt/gantt-interaction-create-mark-line.md
  docs/assets/demo/zh/gantt/gantt-interaction-create-mark-line.md
Labels: docs, chore

docs: 补充创建markline的demo
  docs/assets/demo/en/gantt/gantt-interaction-create-mark-line.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-interaction-create-mark-line.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-add_milestone_2025-03-05-09-28.json
  common/changes/@visactor/vtable/feat-add_milestone_2025-03-05-09-29.json
Labels: chore

docs: update markline tutorial
  common/changes/@visactor/vtable/feat-add_milestone_2025-03-05-07-17.json
  common/changes/@visactor/vtable/feat-add_milestone_2025-03-05-09-28.json
  common/changes/@visactor/vtable/feat-add_milestone_2025-03-05-09-29.json
  docs/assets/demo/en/gantt/gantt-interaction-create-mark-line.md
  docs/assets/demo/zh/gantt/gantt-interaction-create-mark-line.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
Labels: docs, chore

refactor: 重命名并优化表头复选框事件处理方法
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

chore: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: fix tree checkbox state update problem
  common/changes/@visactor/vtable/fix-fix-tree-checkbox-state-sync_2025-03-05-13-32.json
  packages/vtable/examples/list/list-tree-checkbox.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/event/list-table/checkbox.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable, chore

build: prelease version 1.17.1-alpha.4
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: strict canvasSize config
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

feat: update vrender to 0.21.15-alpha.1
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: fix header checkbox update in tree table
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/list-table/checkbox.ts
Labels: vtable

fix: fix normal checkbox update affect row series
  packages/vtable/src/event/list-table/checkbox.ts
Labels: vtable

feat: update vrender to 0.21.2-alpha.3
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

build: prelease version 1.13.1-alpha.8
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

chore: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: fix cell border in cell with corner-radius
  common/changes/@visactor/vtable/fix-corner-stroke_2025-03-06-11-35.json
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
Labels: vtable, chore

build: prelease version 1.17.1-alpha.6
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix stroke order in cell border with corner radius
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
Labels: vtable

feat: add getCornerRadius function for select rect
  packages/vtable/src/scenegraph/select/create-select-border.ts
Labels: vtable

build: prelease version 1.17.1-alpha.7
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: 优化行序号列树形支持的类型定义
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/chore-update_vrender_version_2025-03-07-07-23.json
Labels: chore

docs: 更新行序号列文档，添加树形展示配置说明
  docs/assets/guide/en/basic_function/row_series_number.md
  docs/assets/guide/zh/basic_function/row_series_number.md
  docs/assets/option/en/common/row-series-number.md
  docs/assets/option/zh/common/row-series-number.md
Labels: docs

build: prelease version 1.17.1-alpha.8
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: active right button interactive #3482
  common/changes/@visactor/vtable/fix-right-button-interactive_2025-02-27-06-45.json
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable, chore

docs: add custom-cell-style docs & demo
  docs/assets/demo/en/custom-render/custom-style.md
  docs/assets/demo/zh/custom-render/custom-style.md
  docs/assets/guide/en/custom_define/custom_style.md
  docs/assets/guide/zh/custom_define/custom_style.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

feat: customCellStyle supports functional config #3483
  common/changes/@visactor/vtable/feat-custom-cell-style-func_2025-02-27-07-25.json
  packages/vtable/examples/style/custom-cell-style.ts
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/ts-types/common.ts
Labels: vtable, chore
