Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix: fix vue build error
  packages/vue-vtable/src/tables/base-table.vue
Labels: none

fix: fix vue build error
  packages/vue-vtable/src/tables/base-table.vue
Labels: none

docs: generate changelog of release v1.16.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: fix keepColumnWidthChange in vue-table
  packages/vue-vtable/src/tables/base-table.vue
Labels: none

fix: fix keepColumnWidthChange in vue-table
  packages/vue-vtable/src/tables/base-table.vue
Labels: none

fix: when column has custom aggregation edit cell update #3333
  packages/vtable/examples/editor/input-editor.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3333-bug-edit-customAggragtion_2025-02-10-07-56.json
Labels: chore

fix: fix dom position in react-vtable #3314
  common/changes/@visactor/vtable/fix-dom-container_2025-02-10-09-32.json
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: react-vtable, chore

feat: gantt barStyle support function #3364
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3364-feature-vtable-gantt-style-function_2025-02-10-10-51.json
Labels: chore

docs: supplement taskbar style function
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

refactor: supplement theme frozen frameStyle border create #3400
  docs/assets/option/en/common/theme.md
  docs/assets/option/zh/common/theme.md
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3400-refactor-bottomFrozenStyle_2025-02-11-09-54.json
Labels: chore

fix: progress will only support number not decimals #3401
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3401-bug-gantt-progress-oneValue_2025-02-11-11-13.json
Labels: chore

fix: when rowHierarchyType is tree total value show on top no work #3322
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3322-bug-pivot-tree-showgrandtotalsontop_2025-02-12-03-47.json
Labels: chore

fix: when rowHierarchyType is tree total value show on top no work #3322
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

feat: add visibleOnHover setting for columnResize #3349
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/option/en/common/column-resize-style.md
  docs/assets/option/zh/common/column-resize-style.md
  packages/vtable/examples/pivot-analysis/pivot-analysis-total.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3349-feature-hoverShowResizeLine_2025-02-12-08-42.json
Labels: chore

refactor: progressbar type cell support customLayou #3295
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3295-bug-progressbar-customlayout_2025-02-12-09-42.json
Labels: chore

feat: disable auto resize column width when double clicking the column border line
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/react-vtable/demo/src/list-table/list-table.tsx
  packages/vtable/examples/list/list.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, react-vtable, docs

refactor: rowSeriesNumber setting add customlayout #3413
  packages/vtable/examples/list/list-rowSeriesNumber.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

fix: fix bodyGroup frame update #3404
  common/changes/@visactor/vtable/fix-body-frame_2025-02-13-06-22.json
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/style/frame-border.ts
Labels: vtable, chore

fix: fix sorted checkbox state #3394
  common/changes/@visactor/vtable/fix-sort-checkbox_2025-02-13-06-33.json
  packages/vtable/src/ListTable.ts
Labels: vtable, chore

fix: fix groupBy judgement in getHierarchyState() #3406
  common/changes/@visactor/vtable/fix-group-hierarchy-state_2025-02-13-06-42.json
  packages/vtable/src/ListTable.ts
Labels: vtable, chore

fix: field with dot occor error # 3409
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-SortTotal.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3409-feature-pivot-table-sortByTotalValue_2025-02-13-06-54.json
Labels: chore

fix: 修复scroll相关事件的scrollWidth与scrollHeight的取值
  packages/vtable/examples/list/list.ts
  packages/vtable/src/state/state.ts
Labels: vtable

fix: disable auto resize column width when double clicking the column border line
  packages/vtable/src/event/event.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-listable-disableDbTapColBdAutoResizeColWidth_2025-02-13-07-41.json
Labels: chore

fix(vtable): complement the missing columns type
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/index.ts
Labels: vtable

chore(vtable): remove duplicate export
  packages/vtable/src/ts-types/index.ts
Labels: vtable

fix: fix dom position in react-vtable #3314
  common/changes/@visactor/vtable/fix-dom-container_2025-02-10-09-32.json
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: react-vtable, chore

fix: fix bodyGroup frame update #3404
  common/changes/@visactor/vtable/fix-body-frame_2025-02-13-06-22.json
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/style/frame-border.ts
Labels: vtable, chore

fix: fix sorted checkbox state #3394
  common/changes/@visactor/vtable/fix-sort-checkbox_2025-02-13-06-33.json
  packages/vtable/src/ListTable.ts
Labels: vtable, chore

fix: fix groupBy judgement in getHierarchyState() #3406
  common/changes/@visactor/vtable/fix-group-hierarchy-state_2025-02-13-06-42.json
  packages/vtable/src/ListTable.ts
Labels: vtable, chore

fix(vtable): remove unnecessary erroneous imports
  packages/vtable/src/tools/diff-cell.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
