Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: fix iterator map in getCheckboxState() #3177 #3239
  common/changes/@visactor/vtable/fix-interator-map-checkbox_2025-01-02-12-13.json
  packages/vtable/src/ListTable.ts
Labels: vtable, chore

fix: fix collapse checkbox state update #3171
  common/changes/@visactor/vtable/fix-collapse-checkbox-update_2025-01-02-12-57.json
  packages/vtable/src/event/list-table/checkbox.ts
Labels: vtable, chore

docs: supplement Creation Schedule guide
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  packages/vtable-gantt/src/Gantt.ts
Labels: docs

docs: supplement sort usage #3250
  docs/assets/guide/en/basic_function/sort/list_sort.md
  docs/assets/guide/zh/basic_function/sort/list_sort.md
  packages/vtable/examples/header/sort-false.ts
  packages/vtable/examples/menu.ts
Labels: vtable, docs

build: prelease version 1.14.4-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: aggregationType custom work in pivot table #1508
  docs/assets/guide/en/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/guide/zh/data_analysis/pivot_table_dataAnalysis.md
  packages/vtable/examples/pivot-analysis/pivot-analysis-aggregationRules.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/dataset/statistics-helper.ts
  packages/vtable/src/ts-types/new-data-set.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/1508-feature-pivottable-customAggregation_2025-01-03-10-14.json
Labels: chore

fix: null reference bug of state/checkbox/updateHeaderCheckedState function
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

fix: when header tree indicator node has different value, columnWidthConfig not work #3258
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3258-bug-columnwidthconfig-not-work_2025-01-06-06-30.json
Labels: chore

feat: add imageAnonymous in customConfig
  common/changes/@visactor/vtable/pre-release-1.11.6-alpha.4_2025-01-06-08-02.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/type/image.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

build: prelease version 1.11.6-alpha.5
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add vtable-calendar gif demo
  packages/vtable-calendar/demo/gif/icons8-冬季.gif
  packages/vtable-calendar/demo/gif/icons8-夏季.gif
  packages/vtable-calendar/demo/gif/icons8-多云兼雨.gif
  packages/vtable-calendar/demo/gif/icons8-小雨2.gif
  packages/vtable-calendar/demo/gif/icons8-有风的天气.gif
  packages/vtable-calendar/demo/gif/icons8-瓢泼大雨.gif
  packages/vtable-calendar/demo/gif/icons8-白天晴间多云.gif
  packages/vtable-calendar/demo/gif/icons8-雨.gif
  packages/vtable-calendar/demo/list/custom-weather.ts
  packages/vtable-calendar/demo/menu.ts
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-calendar/src/table/table-option.ts
  packages/vtable/src/index.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
Labels: vtable

feat: add imageAnonymous in customConfig
  common/changes/@visactor/vtable/pre-release-1.11.6-alpha.4_2025-01-06-08-02.json
  packages/vtable/examples/type/image.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

feat: support register aggregator #1508
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-register-aggregationRule.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/dataset/dataset-pivot-table.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/register.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
  packages/vtable/src/ts-types/dataset/index.ts
  packages/vtable/src/ts-types/index.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/new-data-set.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/1508-feature-pivottable-customAggregation_2025-01-06-09-58.json
Labels: chore

feat: add keepColumnWidthChange in options mode react-vtable
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/list-table/list-component.tsx
  packages/react-vtable/demo/src/list-table/list-table.tsx
  packages/react-vtable/src/tables/base-table.tsx
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: vtable, react-vtable

build: prelease version 1.14.4-alpha.4
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix aggregation display issue in tree-structured table headers
  packages/vtable/examples/list-analysis/list-aggregation-group-header.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-aggregation_2025-01-07-06-07.json
Labels: chore

docs: add register aggregation type
  docs/assets/demo/en/data-analysis/pivot-analysis-customAggregator.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/data-analysis/pivot-analysis-calculatedField.md
  docs/assets/demo/zh/data-analysis/pivot-analysis-customAggregator.md
  docs/assets/guide/en/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/guide/zh/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable/examples/pivot-analysis/pivot-analysis-register-aggregationRule.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
  packages/vtable/src/ts-types/new-data-set.ts
Labels: vtable, docs

fix: when left table set autoWidth gantt chart render error #3266
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3266-bug-gantt-width-change_2025-01-07-09-18.json
Labels: chore

feat: add penetrateEventList config in react-component
  common/changes/@visactor/vtable/feat-react-penetrateEventList_2025-01-07-09-27.json
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/component/custom-layout-dom-site-1.tsx
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: react-vtable, chore

fix: when resize taskBar width the text label should update #3263
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3263-bug-taskbar-labeltextstyle-update_2025-01-07-11-24.json
Labels: chore

docs: update error method description #3273
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

fix: clear sort target when setRecords in dataset
  common/changes/@visactor/vtable/fix-dataset-sort_2025-01-07-12-36.json
  packages/vtable/src/dataset/dataset.ts
Labels: vtable, chore

feat: add displayMode in emptyTip
  common/changes/@visactor/vtable/feat-empty-tip-display-mode_2025-01-07-13-06.json
  docs/assets/option/en/common/empty-tip-define.md
  docs/assets/option/zh/common/empty-tip-define.md
  packages/vtable/src/components/empty-tip/empty-tip.ts
  packages/vtable/src/ts-types/component/empty-tip.ts
Labels: vtable, docs, chore

docs: supplement react-custom-component link
  docs/assets/guide/en/Developer_Ecology/react.md
  docs/assets/guide/zh/Developer_Ecology/react.md
Labels: docs

docs: add showDropdownMenu method api
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
Labels: docs

feat: add keyboardOptions and add delete_dependency_link contextmenu_dependency_link event #3268
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  packages/vtable-gantt/examples/gantt/gantt-dependency.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3268-feature-gantt-deleteLinkLine_2025-01-08-07-27.json
Labels: chore

feat: add displayMode in emptyTip
  common/changes/@visactor/vtable/feat-empty-tip-display-mode_2025-01-07-13-06.json
  docs/assets/option/en/common/empty-tip-define.md
  docs/assets/option/zh/common/empty-tip-define.md
  packages/vtable/src/components/empty-tip/empty-tip.ts
  packages/vtable/src/ts-types/component/empty-tip.ts
Labels: vtable, docs, chore

fix: clear sort target when setRecords in dataset
  common/changes/@visactor/vtable/fix-dataset-sort_2025-01-07-12-36.json
  packages/vtable/src/dataset/dataset.ts
Labels: vtable, chore

feat: add imageAnonymous in customConfig
  common/changes/@visactor/vtable/pre-release-1.11.6-alpha.4_2025-01-06-08-02.json
  packages/vtable/examples/type/image.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

fix: fix collapse checkbox state update #3171
  common/changes/@visactor/vtable/fix-collapse-checkbox-update_2025-01-02-12-57.json
  packages/vtable/src/event/list-table/checkbox.ts
Labels: vtable, chore

fix: fix iterator map in getCheckboxState() #3177 #3239
  common/changes/@visactor/vtable/fix-interator-map-checkbox_2025-01-02-12-13.json
  packages/vtable/src/ListTable.ts
Labels: vtable, chore

fix: fix frozen update problem in react-dom-component
  common/changes/@visactor/vtable/fix-frozen-update-in-reacr-vtable_2025-01-02-09-08.json
  packages/react-vtable/demo/src/component/custom-layout-dom.tsx
  packages/vtable/src/scenegraph/layout/frozen-react.ts
Labels: vtable, react-vtable, chore

docs: add react-vtable penetrateEventList docs
  docs/assets/demo-react/en/custom-layout/cell-custom-dom.md
  docs/assets/demo-react/zh/custom-layout/cell-custom-dom.md
  docs/assets/guide/en/custom_define/react-custom-component.md
  docs/assets/guide/zh/custom_define/react-custom-component.md
Labels: docs
