Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix: refine http clipboard fallback
  packages/vtable/src/event/event.ts
Labels: vtable

fix: handle clipboard html fallback
  packages/vtable/src/event/event.ts
Labels: vtable

fix: stabilize clipboard html paste handling
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/util.ts
Labels: vtable

fix: normalize pasted html cell content
  packages/vtable/src/event/event.ts
Labels: vtable

fix: harden clipboard cut paste state
  common/changes/@visactor/vtable/fix-issue-5274-http-copy_2026-08-24-15-00.json
  packages/vtable/src/event/event.ts
  packages/vtable/src/tools/style.ts
Labels: vtable, chore

fix: harden clipboard paste transactions
  common/changes/@visactor/vtable/fix-issue-5274-http-copy_2026-08-24-15-00.json
  packages/vtable/src/event/event.ts
Labels: vtable, chore

fix: handle empty audio and video previews
  common/changes/@visactor/vtable/fix-5290-image-null-preview_2026-08-25-17-50.json
  packages/vtable/__tests__/media-click.test.ts
  packages/vtable/src/event/media-click.ts
Labels: vtable, test, chore

fix: guard cut cleanup
  packages/vtable/src/event/event.ts
Labels: vtable

fix: harden clipboard transaction guards
  packages/vtable/src/event/event.ts
Labels: vtable

fix: harden clipboard transactions
  packages/vtable/src/event/event.ts
Labels: vtable

fix: address clipboard review issues
  packages/vtable/src/event/event.ts
Labels: vtable

fix: harden clipboard async operations
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: improve third-party component popup handling guidance and demos (#4232, #4213)
  docs/assets/demo-react/en/functional-components/arco-select-editor.md
  docs/assets/demo-react/zh/functional-components/arco-select-editor.md
  docs/assets/demo-vue/en/edit-data/arco-select-editor.md
  docs/assets/demo-vue/zh/edit-data/arco-select-editor.md
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
Labels: docs

fix: tighten clipboard transaction guards
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

fix: correct Vue Arco Select triggerProps.contentClass and remove broad arco-select-popup check
  docs/assets/demo-vue/en/edit-data/arco-select-editor.md
  docs/assets/demo-vue/zh/edit-data/arco-select-editor.md
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
Labels: docs

fix(vtable): harden custom corner merge cleanup
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/utils/corner-custom-merge.ts
Labels: vtable

fix(vtable): guard custom corner merge rendering
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/utils/corner-custom-merge.ts
Labels: vtable

fix(vtable): preserve corner custom layout during resize
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: vtable

fix(vtable): refresh corner merge layout safely
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/utils/corner-custom-merge.ts
Labels: vtable

fix(vtable): correct complex corner divider paths
  docs/assets/demo/en/custom-render/complex-corner.md
  docs/assets/demo/zh/custom-render/complex-corner.md
  packages/vtable/examples/custom/complex-corner.ts
Labels: vtable, docs

fix(react-vtable): flush custom layout unmounts
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
Labels: react-vtable

fix(vtable): stabilize corner custom layout refresh
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
  packages/vtable/src/components/react/react-custom-layout.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/utils/corner-custom-merge.ts
Labels: vtable, react-vtable

fix: stabilize react custom layout refresh
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
  packages/vtable/src/components/react/react-custom-layout.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/corner-custom-merge.ts
  packages/vtable/src/state/resize/update-resize-column.ts
  packages/vtable/src/state/resize/update-resize-row.ts
Labels: vtable, react-vtable

fix: defer corner merge refresh during resize
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/corner-custom-merge.ts
  packages/vtable/src/state/resize/update-resize-column.ts
  packages/vtable/src/state/resize/update-resize-row.ts
Labels: vtable

fix: preserve corner merge react state on resize
  packages/vtable/src/scenegraph/utils/corner-custom-merge.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-issue-5298-clear-col-width-cache_2026-08-28-00-00.json
Labels: chore

fix: preserve pivot column widths after updateOption
  packages/vtable/__tests__/create-group-for-first-screen-issue-5298.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable, test

fix(vtable-search): search expanded master-detail tables (#5036)
  packages/vtable-search/__tests__/master-detail-search-highlight.test.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vtable-search/fix-issue-5036-master-detail-search_2026-08-29-02-12.json
Labels: chore

fix: avoid allocating resized column scan array
  packages/vtable/__tests__/create-group-for-first-screen-issue-5298.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable, test

fix: preserve unresized row height recalculation
  packages/vtable/__tests__/create-group-for-first-screen-issue-5298.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable, test

fix: keep autoHeight row sync independent
  packages/vtable/__tests__/create-group-for-first-screen-issue-5298.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable, test

fix: preserve manual row heights during recompute
  packages/vtable/__tests__/create-group-for-first-screen-issue-5298.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable, test

fix: preserve manual row heights during recompute
  packages/vtable/__tests__/create-group-for-first-screen-issue-5298.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable, test

fix: keep autoHeight row sync independent
  packages/vtable/__tests__/create-group-for-first-screen-issue-5298.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable, test

fix: preserve unresized row height recalculation
  packages/vtable/__tests__/create-group-for-first-screen-issue-5298.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable, test

fix: avoid allocating resized column scan array
  packages/vtable/__tests__/create-group-for-first-screen-issue-5298.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable, test

fix: preserve pivot column widths after updateOption
  packages/vtable/__tests__/create-group-for-first-screen-issue-5298.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable, test

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-issue-5298-clear-col-width-cache_2026-08-28-00-00.json
Labels: chore

feat: support grouped grand totals by dimension
  docs/assets/demo/en/data-analysis/pivot-analysis-total.md
  docs/assets/demo/zh/data-analysis/pivot-analysis-total.md
  docs/assets/guide/en/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/guide/zh/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable/__tests__/pivotTable-analysis.test.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/ts-types/new-data-set.ts
Labels: vtable, test, docs

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
