Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix(sheet): 修复tab栏样式
  packages/vtable-sheet/src/styles/sheet-tab.css
Labels: none

fix(sheet): 修复sheet生成时容器挂载错误
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
Labels: none

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat/exec-import
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/demo/excel-import/excel-import.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/excel-import.ts
  packages/vtable-plugins/src/index.ts
Labels: chore

feat(gantt): allow outerFrameStyle borderLineWidth array config
  docs/assets/option/en/common/gantt/frame-style.md
  docs/assets/option/zh/common/gantt/frame-style.md
  packages/vtable-gantt/examples/gantt/gantt-borderLineWidth-array-config.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/src/index.ts
Labels: vtable, docs

feat(gantt): allow outerFrameStyle borderLineWidth array config
  packages/vtable-gantt/examples/gantt/gantt-try.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
Labels: none

feat(gantt): allow outerFrameStyle borderLineWidth array config
  packages/vtable-gantt/examples/gantt/gantt-try.ts
  packages/vtable-gantt/examples/menu.ts
Labels: none

feat(gantt): allow outerFrameStyle borderLineWidth array config
  packages/vtable-gantt/examples/gantt/gantt-try.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
Labels: none

feat(gantt): allow outerFrameStyle borderLineWidth array config
  packages/vtable-gantt/examples/gantt/gantt-try.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
Labels: none

fix(aggregation): when only defining global aggregation, calling the updateColumns method will result in an error
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: null detection when using customLayout in customMergeCell
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: vtable

feat: enhance selected cell text styles to support other cell types
  packages/vtable/examples/list/list-highlightInRange.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable

feat/allow-frame-array
  packages/vtable-gantt/examples/gantt/gantt-try.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
Labels: none

feat: init sheet table
  .gitignore
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/carousel-animation.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/examples/vite.config.js
  packages/vtable-sheet/package copy.json
  packages/vtable-sheet/package.json
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/formula/a
  packages/vtable-sheet/src/index.ts
  packages/vtable-sheet/src/managers/FilterManager.ts
  packages/vtable-sheet/src/managers/FormulaManager.ts
  packages/vtable-sheet/src/managers/SheetManager.ts
  packages/vtable-sheet/src/managers/data-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/plugins/index.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable-sheet/tsconfig.eslint.json
Labels: typescript, chore

chore: update gitnore file
  .gitignore
Labels: none

fix: console log error
  packages/vtable-sheet/src/components/VTableSheet.ts
Labels: none

feat: init formula
  common/config/rush/pnpm-lock.yaml
  packages/vtable-sheet/package.json
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/formula/a
  packages/vtable-sheet/src/formula/hyperformula-engine.ts
  packages/vtable-sheet/src/managers/EnhancedFormulaManager.ts
Labels: chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-playground_2025-06-10-14-22.json
Labels: chore

chore: init vtable-sheet project
  packages/vtable-sheet/__tests__/dom.ts
  packages/vtable-sheet/__tests__/listTable-1W.test.ts
Labels: test

feat: enhance cell-formula bar real-time synchronization
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/styles/formula-bar.css
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-playground_2025-06-23-22-45.json
Labels: chore

feat(gantt): allow outerFrameStyle.borderLineWidth array config
  packages/vtable-gantt/examples/gantt/gantt-try.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
Labels: none

feat(gantt): allow outerFrameStyle.borderLineWidth array config
  packages/vtable-gantt/examples/menu.ts
Labels: none

feat: update vrender into 0.22.14
  common/changes/@visactor/vtable/2025-06-25-07-16.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

feat: add import execl functional plugin
  docs/assets/guide/en/plugin/excel-import.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/excel-import.md
  docs/assets/guide/zh/plugin/usage.md
  packages/vtable-plugins/demo/excel-import/excel-import.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/excel-import.ts
Labels: docs

feat: add import execl functional plugin
  packages/vtable-plugins/src/excel-import.ts
Labels: none

feat: add import execl functional plugin
  packages/vtable-plugins/demo/excel-import/excel-import.ts
Labels: none

docs: 修改方法名称从 getAllColsWidths 为 getColsWidths
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
Labels: docs

chore: update pnpm lock file
  common/config/rush/pnpm-lock.yaml
Labels: chore

fix: fix bug for updating zero for MinAggregator, MaxAggregator and AvgAggregator
  packages/vtable/src/ts-types/dataset/aggregation.ts
Labels: vtable

feat: series number plugin
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

fix:hideColumnsSubHeader error
  packages/vtable/examples/list/list-header-levelSpan.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

feat: add import execl functional plugin
  docs/assets/guide/en/plugin/excel-import.md
  docs/assets/guide/zh/plugin/excel-import.md
  packages/vtable-plugins/demo/excel-import/excel-import.ts
  packages/vtable-plugins/src/excel-import.ts
Labels: docs

feat: add import execl functional plugin
  docs/assets/guide/en/plugin/excel-import.md
  docs/assets/guide/zh/plugin/excel-import.md
  packages/vtable-plugins/demo/excel-import/excel-import.ts
Labels: docs

feat: add import execl functional plugin
  docs/assets/guide/en/plugin/excel-import.md
  docs/assets/guide/zh/plugin/excel-import.md
  packages/vtable-plugins/src/excel-import.ts
Labels: docs

feat: add import execl functional plugin
  packages/vtable-plugins/src/excel-import.ts
Labels: none

fix: 修复单元格校验不通过却可以编辑内容问题
  packages/vtable/src/core/record-helper.ts
Labels: vtable

fix: list-tree delete root level error when using deleteRecords
  packages/vtable/src/data/DataSource.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-list-tree-deleteRecords-bug-3991_2025-06-27-07-43.json
Labels: chore

fix: fix templateLink in export excel #4106
  common/changes/@visactor/vtable/fix-excel-link_2025-06-27-07-56.json
  packages/vtable-export/demo/list/link.ts
  packages/vtable-export/src/excel/index.ts
Labels: chore
