Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

docs: generate changelog of release aeolus
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: fix column update in progress
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix: updateLinkLinePoints with date is null
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
Labels: none

fix: fix column update in progress
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

docs: correct height prop as number to ListTable for react-vtable
  docs/assets/guide/en/Developer_Ecology/openinula.md
  docs/assets/guide/en/Developer_Ecology/react.md
  docs/assets/guide/zh/Developer_Ecology/openinula.md
  docs/assets/guide/zh/Developer_Ecology/react.md
  packages/openinula-vtable/README.md
  packages/react-vtable/README.md
  packages/react-vtable/demo/src/event/event-rebind.tsx
Labels: react-vtable, openinula-vtable, docs

fix: fix child judegment in get first/last child
  packages/vtable/__tests__/columns/listTable-checkbox.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/util.ts
Labels: vtable

fix: fix child judegment in get first/last child
  packages/vtable/__tests__/columns/listTable-checkbox.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/util.ts
Labels: vtable

build: prelease version 1.11.6-alpha.4
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: generate changelog of release aeolus-241225
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: fix borderLineWidth array config #3183
  common/changes/@visactor/vtable/fix-stroke-array_2024-12-25-07-33.json
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
Labels: vtable, chore

feat: add hide for indicator setting #2257 #2451
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-hide.ts
  packages/vtable/examples/pivot/pivot-tree-hide.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/layout-helper.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2630-feature-showSort-function_2024-12-25-07-49.json
Labels: chore

feat: update vrender to "0.21.7-alpha.1
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

docs: add hide for pivot table
  docs/assets/guide/en/table_type/Pivot_table/custom_header.md
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_useage.md
  docs/assets/guide/zh/table_type/Pivot_table/custom_header.md
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_useage.md
  docs/assets/option/en/indicator/base-indicator-type.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/indicator/base-indicator-type.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/layout-helper.ts
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable, docs

fix: fix borderLineWidth array config #3183
  common/changes/@visactor/vtable/fix-stroke-array_2024-12-25-07-33.json
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
Labels: vtable, chore

feat: update vrender to "0.21.7-alpha.1
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: fix child judegment in get first/last child
  packages/vtable/__tests__/columns/listTable-checkbox.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/util.ts
Labels: vtable

fix: fix column update in progress
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix: when set resizable false hover taskbar occor error #3189
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-updateListTabelOption_2024-12-25-09-34.json
Labels: chore

docs: update contribution guide
  docs/assets/contributing/zh/5-How to Contribute Code.md
Labels: docs

fix: fix borderLineWidth array config #3183
  common/changes/@visactor/vtable/fix-stroke-array_2024-12-25-07-33.json
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
Labels: vtable, chore

fix: fix column update in progress
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

docs: generate changelog of release v1.14.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: update vrender to "0.21.7-alpha.1
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: fix child judegment in get first/last child
  packages/vtable/__tests__/columns/listTable-checkbox.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/util.ts
Labels: vtable

docs: update changelog
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: hide row indicator case can not find cell value
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: add scheduleCreatable doc
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feature-taskBarCreatableSupportFn_2024-12-25-10-50.json
Labels: chore

fix: update option when table width change
  packages/vtable-gantt/src/Gantt.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-updateListTabelOption_2024-12-25-14-14.json
Labels: chore

fix: udpateOption gantt chart error
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

docs: update register api
  docs/assets/api/en/register.md
  docs/assets/api/zh/register.md
Labels: docs

fix: change taskRecord type from string to any
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feature-taskBarCreatableSupportFn_2024-12-26-07-10.json
Labels: chore

fix: fix row range when delete rows in fixUpdateRowRange()
  packages/vtable/src/tools/update-row.ts
Labels: vtable

feat: add enableTreeCheckbox config
  packages/vtable/examples/list/list-rowSeriesNumber.ts
  packages/vtable/examples/list/list-tree-checkbox.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/list-table/checkbox.ts
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: frozenColCount work in pivot table #3201
  docs/assets/guide/en/basic_function/frozen_column_row.md
  docs/assets/guide/zh/basic_function/frozen_column_row.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3201-refactor-frozenWidth_2024-12-27-06-44.json
Labels: chore
