Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

docs: generate changelog of release v1.11.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: trasnlate release notes
  docs/assets/changelog/zh/release.md
Labels: docs

docs: add gantt option
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/table/gantt.md
Labels: docs

docs: add gantt release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: add gantt release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: add isValidatingValue state to fix call validateValue api repeatedly #2830
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2830-bug-editor-validatevalue-repeatedly_2024-11-18-07-08.json
Labels: chore

docs: add guides of plugins
  docs/assets/demo/en/animation/carousel-animation.md
  docs/assets/demo/en/interaction/head-highlight.md
  docs/assets/demo/en/interaction/invert-highlight.md
  docs/assets/demo/zh/animation/carousel-animation.md
  docs/assets/demo/zh/interaction/head-highlight.md
  docs/assets/demo/zh/interaction/invert-highlight.md
  docs/assets/guide/en/animation/carousel_animation.md
  docs/assets/guide/en/plugin/header-highlight.md
  docs/assets/guide/en/plugin/invert-highlight.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/animation/carousel_animation.md
  docs/assets/guide/zh/plugin/header-highlight.md
  docs/assets/guide/zh/plugin/invert-highlight.md
Labels: docs

fix: fix merge cell text position #2858
  common/changes/@visactor/vtable/fix-merge-cell-pos-fs_2024-11-18-13-39.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, chore

feat: isShowOverflowTextTooltip support function
  common/changes/@visactor/vtable/feat-isShowOverflowTextTooltip-func_2024-11-18-13-51.json
  packages/vtable/src/components/tooltip/TooltipHandler.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

fix: fix isShowOverflowTextTooltip function
  packages/vtable/src/components/tooltip/TooltipHandler.ts
Labels: vtable

fix: fix isShowOverflowTextTooltip function
  packages/vtable/src/components/tooltip/TooltipHandler.ts
Labels: vtable

feat: optimize range select in HeaderHighlightPlugin
  common/changes/@visactor/vtable/feat-HeaderHighlightPlugin-update_2024-11-19-03-55.json
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/plugins/header-highlight.ts
Labels: vtable, chore

feat: add option customComputeRowHeight and defaultRowHeight can set "auto"
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/index.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

feat: gantt chart support showHierarchyMode "sub_tasks"
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: add option customComputeRowHeight and defaultRowHeight can set "auto"
  packages/vtable/src/core/utils/get-cell-position.ts
  packages/vtable/src/scenegraph/group-creater/column.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2829-feature-gantt-chart-support-table-groupby_2024-11-19-09-05.json
  packages/vtable/src/scenegraph/group-creater/column.ts
Labels: vtable, chore

feat: add setCustomSelectRanges in stateManager #2750 #2845
  common/changes/@visactor/vtable/feat-custom-select_2024-11-19-09-29.json
  packages/vtable/examples/interactive/highlight-color.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/scenegraph/select/update-select-style.ts
  packages/vtable/src/state/select/custom-select.ts
  packages/vtable/src/state/state.ts
Labels: vtable, chore

fix: when not left table columns render normally
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

fix: when not left table columns render normally
  packages/vtable-gantt/examples/gantt/gantt-noLeftListTable.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

fix: fix cell border dash update #2818
  common/changes/@visactor/vtable/fix-fix-linsDash-update_2024-11-19-10-48.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, chore

fix: fix merge cell text position #2858
  common/changes/@visactor/vtable/fix-merge-cell-pos-fs_2024-11-18-13-39.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, chore

fix: fix isShowOverflowTextTooltip function
  packages/vtable/src/components/tooltip/TooltipHandler.ts
Labels: vtable

fix: fix isShowOverflowTextTooltip function
  packages/vtable/src/components/tooltip/TooltipHandler.ts
Labels: vtable

feat: isShowOverflowTextTooltip support function
  common/changes/@visactor/vtable/feat-isShowOverflowTextTooltip-func_2024-11-18-13-51.json
  packages/vtable/src/components/tooltip/TooltipHandler.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

feat: optimize range select in HeaderHighlightPlugin
  common/changes/@visactor/vtable/feat-HeaderHighlightPlugin-update_2024-11-19-03-55.json
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/plugins/header-highlight.ts
Labels: vtable, chore

feat: add setCustomSelectRanges in stateManager #2750 #2845
  common/changes/@visactor/vtable/feat-custom-select_2024-11-19-09-29.json
  packages/vtable/examples/interactive/highlight-color.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/scenegraph/select/update-select-style.ts
  packages/vtable/src/state/select/custom-select.ts
  packages/vtable/src/state/state.ts
Labels: vtable, chore

fix: cell content height update
  packages/vtable/src/scenegraph/component/cell-content.ts
Labels: vtable

fix: fix cell border dash update #2818
  common/changes/@visactor/vtable/fix-fix-linsDash-update_2024-11-19-10-48.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, chore

fix: cell content height update
  packages/vtable/src/scenegraph/component/cell-content.ts
Labels: vtable

fix: cell content height update
  packages/vtable/src/scenegraph/component/cell-content.ts
Labels: vtable

feat: optimize range select in HeaderHighlightPlugin
  common/changes/@visactor/vtable/feat-HeaderHighlightPlugin-update_2024-11-19-03-55.json
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/plugins/header-highlight.ts
Labels: vtable, chore

fix: fix isShowOverflowTextTooltip function
  packages/vtable/src/components/tooltip/TooltipHandler.ts
Labels: vtable

fix: when up on canvas blank area not drag position rightly #2831
  packages/vtable/src/event/helper.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/state/cell-move/index.ts
Labels: vtable

fix: fix isShowOverflowTextTooltip function
  packages/vtable/src/components/tooltip/TooltipHandler.ts
Labels: vtable

fix: fix cell border dash update #2818
  common/changes/@visactor/vtable/fix-fix-linsDash-update_2024-11-19-10-48.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, chore

docs: add gantt release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: add isValidatingValue state to fix call validateValue api repeatedly #2830
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

docs: generate changelog of release v1.11.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/2830-bug-editor-validatevalue-repeatedly_2024-11-18-07-08.json
Labels: chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
