Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-issue-5217-null-container_2026-07-13-13-10.json
Labels: chore

fix: handle object sheet data formula fields
  packages/vtable-sheet/__tests__/multi-header-record-data.test.ts
  packages/vtable-sheet/examples/sheet/issue-5204-formula-manager.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
Labels: test

fix: initialize gantt timeline scales for zoomScale
  packages/vtable-gantt/__tests__/gantt-sort-scales.test.ts
  packages/vtable-gantt/src/Gantt.ts
Labels: test

fix: hide row series number in aggregation rows
  packages/vtable/__tests__/options/listTable-row-series-number-aggregation.test.ts
  packages/vtable/src/ListTable.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-issue-5213-aggregation-series-number_2026-07-14-20-50.json
Labels: chore

fix: delete reverse-selected rows from context menu
  packages/vtable-plugins/__tests__/context-menu/handle-menu-helper.test.ts
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-plugins/src/table-series-number.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-issue-5214-delete-selected-rows_2026-07-14-21-21.json
Labels: chore

fix: avoid shared default gantt timeline scale
  common/changes/@visactor/vtable-gantt/fix-issue-5159-gantt-sort-scales_2026-06-26-12-00.json
  packages/vtable-gantt/__tests__/gantt-sort-scales.test.ts
  packages/vtable-gantt/src/Gantt.ts
Labels: test, chore

fix: adapt gantt to vrender 1.1.4
  packages/vtable-gantt/jest.config.js
  packages/vtable-gantt/src/scenegraph/graphic/group-contribution-render.ts
  packages/vtable-gantt/src/scenegraph/graphic/index.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/vrender-vtable-compat.d.ts
  packages/vtable-gantt/tsconfig.json
Labels: jest, typescript

fix: prevent vtable-sheet formula code execution
  packages/vtable-sheet/__tests__/basic-formula-test.test.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
Labels: test

chore: add vtable-sheet change log
  common/changes/@visactor/vtable-sheet/fix-formula-code-execution_2026-07-15-10-53.json
Labels: chore

fix: adapt table series number events to vrender 1.1.4
  packages/vtable-plugins/src/table-series-number.ts
Labels: none

docs: clarify vtable-sheet formula arithmetic
  docs/assets/guide/en/sheet/formula.md
  docs/assets/guide/zh/sheet/formula.md
Labels: docs

chore: align vchart for vrender 1.1.4 upgrade
  common/config/jest/vrender-module-name-mapper.js
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/react-vtable/src/table-components/custom/vtable-browser-env-contribution.ts
  packages/react-vtable/src/tables/base-table.tsx
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: preserve blank rows when importing excel files
  packages/vtable-plugins/__tests__/excel-import/excel.test.ts
  packages/vtable-plugins/src/excel-import/excel.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable-plugins/fix-issue-5227-excel-leading-blank-row_2026-07-15-09-34.json
Labels: chore

ci: pin npm version for release workflow
  .github/workflows/release.yml
Labels: chore

build: release version 1.26.5 [skip ci]
  common/changes/@visactor/vtable/fix-issue-5014-group-single-column_2026-07-06-13-55.json
  common/changes/@visactor/vtable/fix-issue-5217-null-container_2026-07-13-13-10.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update zh release note for 1.26.5
  docs/assets/changelog/zh/release.md
Labels: docs

demo: add issue 5214 reproduction
  packages/vtable-plugins/demo/context-menu/issue-5214-reverse-selected-row-delete.ts
  packages/vtable-plugins/demo/menu.ts
Labels: none

demo: add issue 5227 reproduction
  packages/vtable-plugins/demo/excel-import/issue-5227-leading-blank-row.ts
  packages/vtable-plugins/demo/menu.ts
Labels: none

demo: add issue 5213 reproduction
  packages/vtable/examples/debug/issue-5213-row-series-number-aggregation.ts
  packages/vtable/examples/menu.ts
Labels: vtable

fix: prevent page scroll after canceling table rotation
  common/changes/@visactor/vtable-plugins/fix-issue-5235-rotate-wheel_2026-07-25-12-00.json
  packages/vtable-plugins/__tests__/rotate-table-plugin.test.ts
  packages/vtable-plugins/src/rotate-table.ts
Labels: test, chore

fix: refresh functional icons after theme updates
  common/changes/@visactor/vtable/fix-issue-4816-functional-icon-theme_2026-07-27-15-36.json
  packages/vtable/__tests__/functional-icons-theme.test.ts
  packages/vtable/src/body-helper/body-helper.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/row-series-number-helper.ts
  packages/vtable/src/header-helper/header-helper.ts
Labels: vtable, test, chore

fix: recalculate formula chains
  common/changes/@visactor/vtable-sheet/fix-issue-5234-formula-chain_2026-07-27-15-55.json
  packages/vtable-sheet/__tests__/recalculation-issue-test.test.ts
  packages/vtable-sheet/examples/menu.ts
  packages/vtable-sheet/examples/sheet/issue-5234-formula-chain.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
Labels: test, chore

test: add issue 4816 functional icon reproduction
  common/changes/@visactor/vtable/fix-issue-4816-functional-icon-theme_2026-07-27-15-36.json
  packages/vtable/examples/debug/issue-4816-functional-icons-theme.ts
  packages/vtable/examples/menu.ts
Labels: vtable, chore

test: add issue 5235 rotate wheel reproduction
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/rotate-table/issue-5235-rotate-wheel.ts
Labels: none

fix: handle missing gantt task bar rect
  common/changes/@visactor/vtable-gantt/fix-issue-4778-taskbar-relative-rect_2026-07-27-18-45.json
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  packages/vtable-gantt/examples/gantt/issue-4778-taskbar-relative-rect.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
Labels: docs, chore

fix: keep master detail expandable after setRecords
  common/changes/@visactor/vtable-plugins/fix-issue-5185-master-detail-set-records_2026-07-27-19-20.json
  packages/vtable-plugins/demo/master-detail-plugin/issue-5185-set-records-expand.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
Labels: chore

fix: update records without explicit indexes
  common/changes/@visactor/vtable/fix-issue-4761-update-records-render_2026-07-27-19-55.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/examples/debug/issue-4761-update-records-edit-render.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs, chore

fix: remount input editor safely
  common/changes/@visactor/vtable-editors/fix-issue-4810-input-editor-remount_2026-07-27-20-25.json
  packages/vtable-editors/src/input-editor.ts
  packages/vtable/examples/debug/issue-4810-edit-cell-double-click-blank.ts
  packages/vtable/examples/menu.ts
Labels: vtable, chore

fix(gantt): support inline subtask path for taskbar rect
  packages/vtable-gantt/examples/gantt/issue-4778-taskbar-relative-rect.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

fix(plugins): cancel stale master detail expansion
  packages/vtable-plugins/src/master-detail-plugin/config.ts
Labels: none

fix(vtable): guard grouped update records indexes
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable

fix(editors): refresh reused textarea editor
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-editors/src/textArea-editor.ts
Labels: none

fix(gantt): sync project records after subtask updates
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

fix(plugins): invalidate expansion on release
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
Labels: none

fix(editors): clear reused editor empty values
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-editors/src/textArea-editor.ts
Labels: none

fix(gantt): sync inline subtask record updates
  packages/vtable-gantt/src/Gantt.ts
Labels: none

fix(sheet): infer add record rule
  packages/vtable-sheet/src/core/WorkSheet.ts
Labels: none

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
