Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: handle merge cell
  packages/vtable-plugins/src/auto-fill/auto-fill-helper.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin2.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin5.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin6.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin8.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
Labels: none

docs: update question docs
  docs/assets/faq/en/8-How to insert sparklines in table.md
Labels: docs

feat: fix the date and getscalelevel
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
Labels: none

feat: theme can ben seted on sheet
  docs/assets/guide/zh/sheet/editor.md
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable/src/themes/theme-define.ts
Labels: vtable, docs

feat: fix the initial
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: some function adapt
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/master-detail.md
  docs/assets/guide/zh/plugin/usage.md
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: docs

docs: simple to write
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/src/master-detail-plugin/config.ts
Labels: docs

docs: simple to write
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/guide/en/plugin/master-detail.md
Labels: docs

feat: date rule
  packages/vtable-plugins/src/auto-fill/fill-tools.ts
  packages/vtable-plugins/src/auto-fill/rules.ts
  packages/vtable-plugins/src/auto-fill/seriesConverters.ts
Labels: none

feat: add firstRowAsHeader for sheet
  docs/assets/guide/menu.json
  docs/assets/guide/zh/sheet/Getting_Started.md
  docs/assets/guide/zh/sheet/filter.md
  docs/assets/guide/zh/sheet/introduction.md
  docs/assets/guide/zh/sheet/plugin.md
  docs/assets/guide/zh/sheet/style.md
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/index.ts
  packages/vtable-sheet/src/managers/filter-manager.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
Labels: docs

docs: supplement plugin usage
  docs/assets/guide/zh/sheet/Getting_Started.md
  docs/assets/guide/zh/sheet/plugin.md
  docs/assets/guide/zh/sheet/plugins.md
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
Labels: docs

docs: add contextmenu toturial
  docs/assets/guide/en/plugin/context-menu.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/context-menu.md
  docs/assets/guide/zh/sheet/menu.md
  docs/assets/guide/zh/sheet/plugins.md
  docs/assets/guide/zh/sheet/table-series-number.md
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/ts-types/base.ts
Labels: docs

feat: update vrender dependencies to alpha version and optimize text measure
  common/changes/@visactor/vtable/feat-vrender-text-measure_2025-08-27-12-42.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/text-measure.ts
  packages/vtable/src/vrender.ts
Labels: vtable, chore

docs: simple to write
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
Labels: docs

docs: simple to write
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
Labels: docs

fix(auto-fill): date rule
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/auto-fill.md
  packages/vtable-plugins/demo/auto-fill/auto-fill.ts
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/auto-fill/fill-tools.ts
  packages/vtable-plugins/src/auto-fill/rules.ts
  packages/vtable-plugins/src/auto-fill/series-converters.ts
  packages/vtable-plugins/src/auto-fill/seriesConverters.ts
Labels: docs, chore

docs: simple to write
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin7.ts
Labels: none

fix: auto-fill plugin docs
  docs/assets/guide/zh/plugin/auto-fill.md
Labels: docs

fix: columnWidthConfig not work when just has indicator on pivot table #4388
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4388-bug-columnwidthconfig-error_2025-08-28-08-23.json
Labels: chore

refactor: mainMenuItemKey
  docs/assets/guide/zh/sheet/menu.md
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/ts-types/base.ts
Labels: docs

chore: remove date-fns
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
  packages/vtable-plugins/src/auto-fill/date-tools.ts
  packages/vtable-plugins/src/auto-fill/rules.ts
  packages/vtable-plugins/src/auto-fill/series-converters.ts
  packages/vtable-plugins/src/auto-fill/utils/date.ts
  packages/vtable-plugins/src/auto-fill/utils/fill.ts
Labels: chore

feat: auto-fill-plugin fillMode options
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
  packages/vtable-plugins/src/auto-fill/index.ts
  packages/vtable-plugins/src/auto-fill/types.ts
Labels: none

chore: implement fx formula bar select multipe cell to calculate
  packages/vtable-sheet/src/components/formula-range-selector.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-08-28-16-00.json
Labels: chore

feat: fast fill
  packages/vtable-plugins/demo/auto-fill/auto-fill.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
  packages/vtable-plugins/src/auto-fill/index.ts
Labels: none

fix: bottom frozen row render error #4357
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: vtable

docs: add persistence tutorial
  docs/assets/guide/zh/sheet/Getting_Started.md
  docs/assets/guide/zh/sheet/persistence.md
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-sheet/src/components/formula-autocomplete.ts
  packages/vtable-sheet/src/components/formula-editor.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/managers/cell-highlight-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, docs

feat(table): improve custom scroll behavior with autoFillWidth
  packages/vtable/examples/interactive/custom-scroll.ts
Labels: vtable

feat(pivot-table): add autoFillWidth example and improve width adaptive logicing mo
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-autoFillWidth.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix: columnWidthConfig not work when just has indicator on pivot table #4388
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: generate changelog of release v1.19.8
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat(pivot-table): add autoFillWidth example and improve width adaptive logicing mo
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-autoFillWidth.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

docs: add sheet optionn
  docs/assets/contributing/zh/1-Setting-Up-the-Development-Environment.md
  docs/assets/contributing/zh/2-Howto Submit an Issue.md
  docs/assets/contributing/zh/3-How to Contribute Documentation.md
  docs/assets/contributing/zh/4-How to Contribute to a Demo.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/excel-import.md
  docs/assets/guide/zh/plugin/gantt-export-image.md
  docs/assets/guide/zh/sheet/editor.md
  docs/assets/guide/zh/sheet/formula.md
  docs/assets/guide/zh/sheet/import_export.md
  docs/assets/guide/zh/sheet/other.md
  docs/assets/guide/zh/sheet/plugins.md
  docs/assets/option/zh/option.md
  docs/assets/option/zh/table/sheet.md
Labels: docs

chore: update vrender dependencies from alpha to stable versions
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

chore: update vrender verison
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

feat: add progress adjustment feature for task bars
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none
