Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix: adjust legend init logic
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

feat: become mode
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/config/index.ts
  packages/vtable-plugins/src/master-detail-plugin/core/index.ts
  packages/vtable-plugins/src/master-detail-plugin/events/index.ts
  packages/vtable-plugins/src/master-detail-plugin/index.ts
  packages/vtable-plugins/src/master-detail-plugin/rendering/index.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable/index.ts
  packages/vtable-plugins/src/master-detail-plugin/types/index.ts
  packages/vtable-plugins/src/master-detail-plugin/utils/index.ts
Labels: none

feat: 配置滚动条是否计算冻结列的宽度
  docs/assets/demo/en/basic-functionality/list-table-scrollStyle-ignore-frozen.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/basic-functionality/list-table-scrollStyle-ignore-frozen.md
  docs/assets/option/en/common/scroll-style.md
  docs/assets/option/zh/common/scroll-style.md
  packages/vtable/examples/frozen/list-table-scrollx-skip-frozen.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable, docs

feat: become mode
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/config/index.ts
  packages/vtable-plugins/src/master-detail-plugin/core/index.ts
  packages/vtable-plugins/src/master-detail-plugin/events/index.ts
  packages/vtable-plugins/src/master-detail-plugin/rendering/index.ts
  packages/vtable-plugins/src/master-detail-plugin/types/index.ts
  packages/vtable-plugins/src/master-detail-plugin/utils/index.ts
Labels: none

feat: become mode
  packages/vtable-plugins/src/master-detail-plugin/config/index.ts
  packages/vtable-plugins/src/master-detail-plugin/core/index.ts
  packages/vtable-plugins/src/master-detail-plugin/events/index.ts
  packages/vtable-plugins/src/master-detail-plugin/types/index.ts
Labels: none

feat: become mode
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
Labels: none

feat: become mode
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
  packages/vtable-plugins/src/master-detail-plugin/utils.ts
Labels: none

feat: become mode
  packages/vtable-plugins/src/master-detail-plugin/core.ts
Labels: none

fix: after init table call resize to correct scrollbar layout
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable

refactor: 重命名参数和删除不需要文件
  docs/assets/demo/en/basic-functionality/list-table-scrollStyle-ignore-frozen.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/basic-functionality/list-table-scrollStyle-ignore-frozen.md
  docs/assets/guide/en/interaction/scroll.md
  docs/assets/guide/zh/interaction/scroll.md
  docs/assets/option/en/common/scroll-style.md
  docs/assets/option/zh/common/scroll-style.md
  packages/vtable/examples/frozen/list-table-scrollx-skip-frozen.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable, docs

feat: fix resize and subtable flicker and scroll
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: none

feat: fix resize and subtable flicker and scroll
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
Labels: none

chore: update plugin html layout
  packages/vtable-plugins/demo/index.html
Labels: none

chore: update readme
  README.md
  README.zh-CN.md
  packages/vtable-gantt/README.md
  packages/vtable-gantt/README.zh-CN.md
Labels: none

docs: update unfreezeAllOnExceedsMaxWidth option description
  docs/assets/guide/en/basic_function/frozen_column_row.md
  docs/assets/guide/zh/basic_function/frozen_column_row.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

feat: add contextMenuWorkOnlyCell in the react-vatable menu
  packages/react-vtable/src/table-components/component/menu.tsx
Labels: react-vtable

feat: add contextMenuWorkOnlyCell in the openinula-vtable menu
  packages/openinula-vtable/src/components/component/menu.tsx
Labels: openinula-vtable

feat: add contextMenuWorkOnlyCell in the vue-vtable menu
  packages/vue-vtable/src/components/component/menu.tsx
Labels: none

feat: add contextMenuWorkOnlyCell in the vtable
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: add contextMenuWorkOnlyCell in the docs
  docs/assets/guide/en/components/dropdown.md
  docs/assets/guide/zh/components/dropdown.md
Labels: docs

fix: legend layout when resize
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
Labels: vtable

fix: adjust tableNoFrameWidth with frameStyle borderWidth
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

fix: markline refresh container size #4319
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/vtable.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/4319-bug-gantt-markline-notShow-after-setrecords_2025-08-14-12-02.json
Labels: chore

feat: add contextMenuWorkOnlyCell docs in the vtable/option/ListTable/#menu
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin2.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: none

docs: add custom layout demo
  docs/assets/demo/en/custom-render/cell-custom-reactive-layout.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/custom-render/cell-custom-reactive-layout.md
Labels: docs

fix: unit test error
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

fix: unit test error
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

fix: unit test error
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

docs: update custom demo group
  docs/assets/demo/en/custom-render/cell-custom-reactive-layout.md
  docs/assets/demo/zh/custom-render/cell-custom-reactive-layout.md
Labels: docs

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin2.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
Labels: none

feat: auto-fill plugin
  LICENSE-APACHE
  packages/vtable-plugins/demo/auto-fill/auto-fill.ts
  packages/vtable-plugins/demo/auto-fill/mockData.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-helper.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-services.ts
  packages/vtable-plugins/src/auto-fill/fill-tools.ts
  packages/vtable-plugins/src/auto-fill/index.ts
  packages/vtable-plugins/src/auto-fill/rules.ts
  packages/vtable-plugins/src/auto-fill/types.ts
Labels: none

feat: improve time unit crossing
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

feat: add the zoom demo
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin2.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/utils.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/demo/menu.ts
Labels: none

docs: generate changelog of release v1.19.7
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: supplement theme option
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/common/tooltip-style.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/common/tooltip-style.md
Labels: docs

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
