Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: fix animation config in TableAnimatinManager
  packages/vtable/src/core/animation.ts
Labels: vtable

docs: update faq file name delete colons #2713
  docs/assets/faq/menu.json
  docs/assets/faq/zh/27-How to set the expanded and collapsed state of the tree structure.md
  docs/assets/faq/zh/29-How to obtain the total number of rows in a table and the actual height of the content.md
  docs/assets/faq/zh/31-How to implement hover to a cell to show or hide part of the content.md
  docs/assets/faq/zh/32-How to implement scrollbar DOM container boundary display.md
  docs/assets/faq/zh/33-How to implement drag-and-drop adjustment of line-height.md
  docs/assets/faq/zh/34-How to implement text type buttons.md
  docs/assets/faq/zh/35-How to set the border style around cells separately.md
  docs/assets/faq/zh/36-How to make the table automatically calculate column width based only on the content width of the table header.md
  docs/assets/faq/zh/42-How to add column total information to the list.md
  docs/assets/faq/zh/43-How to listen to table area selection and cancellation events.md
  docs/assets/faq/zh/44-How to set only one column to not be selected for operation.md
  docs/assets/faq/zh/45-How to manually control the tooltip display.md
  docs/assets/faq/zh/46-How to set multi-level table headers.md
Labels: docs

docs: faq file rename
  docs/assets/faq/en/24-How to display table row numbers.md
  docs/assets/faq/en/27-How to set the expanded and collapsed state of the tree structure.md
  docs/assets/faq/en/29-How to obtain the total number of rows in a table and the actual height of the content.md
  docs/assets/faq/en/31-How to implement hover to a cell to show or hide part of the content.md
  docs/assets/faq/en/32-How to implement scrollbar DOM container boundary display.md
  docs/assets/faq/en/33-How to implement drag-and-drop adjustment of line-height.md
  docs/assets/faq/en/34-How to implement text type buttons.md
  docs/assets/faq/en/35-How to set the border style around cells separately.md
  docs/assets/faq/en/36-How to make the table automatically calculate column width based only on the content width of the table header.md
  docs/assets/faq/en/42-How to add column total information to the list.md
  docs/assets/faq/en/43-How to listen to table area selection and cancellation events.md
  docs/assets/faq/en/44- to set only one column to not be selected for operation.md
  docs/assets/faq/en/45-How to manually control the tooltip display.md
  docs/assets/faq/en/46-How to set multi-level table headers.md
  docs/assets/faq/en/52-How to configure the editor and whether it can be reused.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/24-How to display table row numbers.md
  docs/assets/faq/zh/27-How to set the expanded and collapsed state of the tree structure.md
  docs/assets/faq/zh/29-How to obtain the total number of rows in a table and the actual height of the content.md
  docs/assets/faq/zh/31-How to implement hover to a cell to show or hide part of the content.md
  docs/assets/faq/zh/32-How to implement scrollbar DOM container boundary display.md
  docs/assets/faq/zh/33-How to implement drag-and-drop adjustment of line-height.md
  docs/assets/faq/zh/34-How to implement text type buttons.md
  docs/assets/faq/zh/35-How to set the border style around cells separately.md
  docs/assets/faq/zh/36-How to make the table automatically calculate column width based only on the content width of the table header.md
  docs/assets/faq/zh/42-How to add column total information to the list.md
  docs/assets/faq/zh/43-How to listen to table area selection and cancellation events.md
  docs/assets/faq/zh/44-How to set only one column to not be selected for operation.md
  docs/assets/faq/zh/45-How to manually control the tooltip display.md
  docs/assets/faq/zh/46-How to set multi-level table headers.md
  docs/assets/faq/zh/52-How to configure the editor and whether it can be reused.md
Labels: docs

fix: when has gantt and table same time internal theme should not be changed #2708
  docs/assets/faq/en/24-How to display table row numbers.md
  docs/assets/faq/en/29-How to obtain the total number of rows in a table and the actual height of the content.md
  docs/assets/faq/en/31-How to implement hover to a cell to show or hide part of the content.md
  docs/assets/faq/en/32-How to implement scrollbar DOM container boundary display.md
  docs/assets/faq/en/33-How to implement drag-and-drop adjustment of line-height.md
  docs/assets/faq/en/34-How to implement text type buttons.md
  docs/assets/faq/en/35-How to set the border style around cells separately.md
  docs/assets/faq/en/36-How to make the table automatically calculate column width based only on the content width of the table header.md
  docs/assets/faq/en/42-How to add column total information to the list.md
  docs/assets/faq/en/43-How to listen to table area selection and cancellation events.md
  docs/assets/faq/en/44-How to set only one column to not be selected for operation.md
  docs/assets/faq/en/45-How to manually control the tooltip display.md
  docs/assets/faq/en/46-How to set multi-level table headers.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/24-How to display table row numbers.md
Labels: docs

docs: update faq file name #2713
  docs/assets/faq/en/27-How to set the expanded and collapsed state of the tree structure.md
  docs/assets/faq/en/52-How to configure the editor and whether it can be reused.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/52-How to configure the editor and whether it can be reused.md
Labels: docs

docs: add tutorial about columnWidthConfig
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotTable.md
Labels: docs

fix: when gantt and table use same theme not conflict #2708
  packages/vtable/src/themes/theme.ts
Labels: vtable

fix: fix large children tree update
  packages/vtable/examples/list/list-group-manyChild.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/layout/row-height-map.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix: fix bottomFrozenRowCount in _refreshHierarchyState()
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: fix check state update #2667
  common/changes/@visactor/vtable/fix-check-state-update_2024-10-25-11-40.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable, chore

fix: add selected_cell event in select-all #2664
  common/changes/@visactor/vtable/fix-select-all-event_2024-10-25-12-11.json
  packages/vtable/src/event/event.ts
Labels: vtable, chore

fix: fix list-editor space problem
  common/changes/@visactor/vtable/fix-list-editor_2024-10-28-08-52.json
  docs/assets/demo/zh/edit/edit-cell.md
  packages/vtable-editors/src/list-editor.ts
Labels: docs, chore

fix: add event in react-vtable
  common/changes/@visactor/vtable/fix-react-event_2024-10-28-09-24.json
  packages/react-vtable/src/eventsUtils.ts
Labels: react-vtable, chore

fix: fix disableRowSeriesNumberSelect in select-all #2665
  common/changes/@visactor/vtable/fix-select-all-series-number_2024-10-28-09-43.json
  packages/vtable/src/state/select/update-position.ts
Labels: vtable, chore

fix: change pointerupoutside event callback #2674 #2659
  common/changes/@visactor/vtable/fix-pointerupoutside_2024-10-28-12-12.json
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable, chore

fix: fix title resize in adaptive mode #2704
  common/changes/@visactor/vtable/fix-title-resize_2024-10-29-13-01.json
  packages/vtable/src/components/title/title.ts
Labels: vtable, chore

fix: fix animation config in TableAnimatinManager
  packages/vtable/src/core/animation.ts
Labels: vtable

fix: theme extend usage not work #2708
  packages/vtable/src/themes/theme.ts
Labels: vtable

fix: validateValue api not exist case
  packages/vtable/src/core/record-helper.ts
Labels: vtable

fix: tab key navigation behavior
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

fix: theme extend problem
  packages/vtable/src/themes/theme.ts
Labels: vtable

fix: when transpose table and set disableHeaderSelect rowSeries not selected
  packages/vtable/src/state/select/update-position.ts
Labels: vtable

fix: judge if has editor
  packages/vtable/src/core/record-helper.ts
Labels: vtable

fix: when has gantt and table same time internal theme should not be changed #2708
  packages/vtable-gantt/src/Gantt.ts
Labels: none

fix: when has gantt and table same time internal theme should not be changed #2708
  packages/vtable/src/themes/theme.ts
Labels: vtable

fix: fix large number rows in updateRow()
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable

fix: fix large number rows in updateRow()
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable

feat: add autoHeightInAdaptiveMode config
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

fix: type define columnWidthConfig
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-type_define_columnWidthConfig_2024-11-01-02-28.json
Labels: chore

docs: generate changelog of release v1.10.2
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: generate changelog of release v1.10.3
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: when markline date less then minDate should not show #2689
  docs/assets/guide/en/Contribution_Guide.md
  docs/assets/guide/zh/Contribution_Guide.md
  packages/vtable-gantt/src/scenegraph/mark-line.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/2689-bug-gantt-markline-position-error_2024-11-01-06-18.json
Labels: chore

feat: refactor utils to optimize functionality
  packages/vue-vtable/src/tables/base-table.vue
  packages/vue-vtable/src/tables/list-table.vue
  packages/vue-vtable/src/tables/pivot-chart.vue
  packages/vue-vtable/src/tables/pivot-table.vue
  packages/vue-vtable/src/tables/utils.ts
  packages/vue-vtable/src/utils.ts
  packages/vue-vtable/src/utils/customLayoutUtils.ts
  packages/vue-vtable/src/utils/slotUtils.ts
  packages/vue-vtable/src/utils/stringUtils.ts
  packages/vue-vtable/src/utils/vnodeUtils.ts
Labels: none

fix: remove unnecessary elements in demo for cleaner code
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable-editor.vue
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable.vue
  packages/vue-vtable/demo/src/table/unified/composition/pivot-table/pivot-table-lazyTreeload.vue
Labels: none

fix: restore focus to table element on Esc key press
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

feat: add event in vtable-calendar
  packages/vtable-calendar/demo/list/list.ts
  packages/vtable-calendar/demo/vite.config.js
  packages/vtable-calendar/src/custom/custom-handler.ts
  packages/vtable-calendar/src/event/type.ts
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-calendar/src/table/table-option.ts
Labels: none
