Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: dropdownmenu support function #3443
  docs/assets/guide/en/components/dropdown.md
  docs/assets/guide/zh/components/dropdown.md
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/dimension/base-dimension-type.md
  docs/assets/option/en/indicator/base-indicator-type.md
  docs/assets/option/zh/column/base-column-type.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/dimension/base-dimension-type.md
  docs/assets/option/zh/indicator/base-indicator-type.md
  packages/vtable/examples/interactive/menu.ts
  packages/vtable/src/components/menu/dom/MenuHandler.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/header-helper/header-helper.ts
  packages/vtable/src/scenegraph/component/menu.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/pivot-table/dimension/basic-dimension.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3443-feature-dropdownmenu-function_2025-02-19-09-07.json
Labels: chore

docs: generate changelog of release v1.16.2
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release changelog
  common/changes/@visactor/vtable/3409-feature-pivot-table-sortByTotalValue_2025-02-13-06-54.json
  common/changes/@visactor/vtable/3442-feature-showOneChart-crosshair_2025-02-18-11-49.json
  common/changes/@visactor/vtable/3444-bug-pivotChart-axis-autoWidth_2025-02-19-03-04.json
  common/changes/@visactor/vtable/fix-state-sort_2025-02-17-13-31.json
  docs/assets/changelog/zh/release.md
Labels: docs, chore

fix: fix bug of duplicate compute tableY in getCellAtRelativePosition
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable

build: prelease version 1.16.2-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix switch & button width height compute
  packages/react-vtable/src/components/button/button.tsx
  packages/vtable/examples/menu.ts
  packages/vtable/examples/type/button.ts
  packages/vtable/examples/type/checkbox.ts
  packages/vtable/examples/type/switch.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/height-util.ts
  packages/vtable/src/ts-types/column/type.ts
Labels: vtable, react-vtable

feat: sync react events
  packages/react-vtable/src/eventsUtils.ts
Labels: react-vtable

feat: add switch API
  packages/vtable/src/ListTable.ts
Labels: vtable

feat: add disable button cursor
  packages/vtable/examples/type/switch.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/button-cell.ts
Labels: vtable

fix: after release instance, resize event occor error #3459
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3459-bug-after-released-resize-error_2025-02-21-03-46.json
Labels: chore

build: prelease version 1.16.3-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix radio & switch state change
  packages/vtable/src/ListTable.ts
  packages/vtable/src/state/radio/radio.ts
Labels: vtable

chore: add switch unit case
  packages/vtable/__tests__/cell-type/switch.test.ts
Labels: vtable

fix: when set autoFillWidth the rowSeriesNumber column not change his width #3459
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3459-bug-after-released-resize-error_2025-02-21-09-16.json
Labels: chore

revert: revert editCellTrigger type
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

fix: delete pivot table grid-tree tutorial path
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_useage.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_useage.md
Labels: docs

docs: update description of editCellTrigger' field
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

chore: replace ListTable to ListTableAPI
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

feat: vue-vtable support custom dom components
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
  packages/vue-vtable/src/tables/base-table.vue
  packages/vue-vtable/src/utils/customLayoutUtils.ts
Labels: none

feat: add api activateChartInstance replaceChartCacheImage
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-operate-activeChartInstance_2025-02-24-02-35.json
Labels: chore

build: prelease version 1.16.3-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: when resize taskbar start or end time tree node update error #3460
  packages/vtable-gantt/src/Gantt.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3460-bug-gantt-resize-taskbar-time-error_2025-02-24-03-23.json
Labels: chore

perf: wrapContainer inherits the parent container style(For layout adjustment)
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

fix: fix row/col is decimal in animation #3455
  common/changes/@visactor/vtable/fix-carousel_2025-02-24-06-53.json
  packages/vtable/src/core/animation.ts
Labels: vtable, chore

fix: fix height is decimal in carousel #3458
  common/changes/@visactor/vtable/fix-carousel_2025-02-24-06-56.json
  packages/vtable-plugins/src/carousel-animation.ts
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable, chore

build: prelease version 1.16.3-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add verticalLineDependenceOnTimeScale #3467
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-hide-time-scale.md
  docs/assets/option/en/common/gantt/grid.md
  docs/assets/option/zh/common/gantt/grid.md
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3467-feature-gantt-verticalLineDependenceOnTimeScale_2025-02-24-08-08.json
Labels: chore

fix: fix bug of duplicate compute tableY in getCellAtRelativePosition
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable

build: prelease version 1.16.3-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: when change time scale not include verticalLineDependenceOnTimeScale
  packages/vtable-gantt/src/scenegraph/grid.ts
Labels: none

fix: x position add 0.5
  packages/vtable-gantt/src/scenegraph/grid.ts
Labels: none

fix: when call api updateScales should resize container
  packages/vtable-gantt/src/Gantt.ts
Labels: none

feat: 显示markLine的phase内容
  packages/vtable-gantt/examples/gantt/gantt-phase.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: the header slot supports custom DOM components
  packages/vue-vtable/src/utils/customLayoutUtils.ts
  packages/vue-vtable/src/utils/slotUtils.ts
Labels: none
