Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

feat: filter plugin operate undo redo
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.syncSingleStateFromTableData.backup.ts
  packages/vtable-plugins/src/history/history-plugin.ts
  packages/vtable-plugins/src/history/replay.ts
  packages/vtable-plugins/src/history/types.ts
  packages/vtable-sheet/__tests__/filter-plugin-add-columns.test.ts
  packages/vtable-sheet/__tests__/filter-plugin-add-empty-record.test.ts
  packages/vtable-sheet/__tests__/filter-plugin-edit-cell-keeps-selection.test.ts
  packages/vtable-sheet/__tests__/filter-plugin-sync-state-condition.test.ts
  packages/vtable-sheet/__tests__/history-plugin-integration.test.ts
  packages/vtable-sheet/examples/sheet/history.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/test-shims/vtable-plugins.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, test

fix: markline show when data not range
  packages/vtable-gantt/src/scenegraph/mark-line.ts
Labels: none

fix: resize row heigth error after add new records
  packages/vtable-sheet/__tests__/formula-row-resize-insert.test.ts
  packages/vtable-sheet/examples/sheet/sheet-deleteRecord.ts
  packages/vtable/src/core/record-helper.ts
Labels: vtable, test

feat: optimiz skill, add self introduction
  skills/vtable-development-assistant/SKILL.md
Labels: none

feat: sort undo redo
  packages/vtable-plugins/src/history/history-plugin.ts
  packages/vtable-plugins/src/history/replay.ts
  packages/vtable-plugins/src/history/types.ts
  packages/vtable-sheet/__tests__/history-plugin-integration.test.ts
  packages/vtable-sheet/examples/sheet/history.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable/src/state/state.ts
Labels: vtable, test

feat: merge cell undo redo
  packages/vtable-sheet/__tests__/history-plugin-integration.test.ts
  packages/vtable/src/ListTable.ts
Labels: vtable, test

feat: merge cell undo redo
  packages/vtable-plugins/src/history/history-plugin.ts
  packages/vtable-sheet/__tests__/history-plugin-integration.test.ts
Labels: test

feat: drag order undo redo
  packages/vtable-sheet/examples/sheet/history.ts
  packages/vtable/__tests__/columns/listTable-dragHeader.test.ts
  packages/vtable/__tests__/data-update/listTable-pagination-dragOrder.test.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: vtable sheet undo redo
  packages/vtable-plugins/demo/history/history.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/auto-fill/index.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-plugins/src/history/README.md
  packages/vtable-plugins/src/history/history-plugin.ts
  packages/vtable-plugins/src/history/index.ts
  packages/vtable-plugins/src/history/types.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
  packages/vtable-plugins/src/rotate-table.ts
  packages/vtable-plugins/src/table-export/util/pagination.ts
  packages/vtable-plugins/src/wps-fill-handle.ts
  packages/vtable-sheet/docs/WORKBOOK_HISTORY_DESIGN.md
  packages/vtable-sheet/examples/sheet/history.ts
  packages/vtable-sheet/src/components/sheet-tab-event-handler.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/formula/formula-editor.ts
  packages/vtable-sheet/src/managers/tab-drag-manager.ts
  packages/vtable-sheet/src/managers/workbook-history-manager.ts
  packages/vtable/__tests__/edit-manager-custom-merge.test.js
  packages/vtable/examples/list/list-title.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/index.ts
Labels: vtable, test

feat: undo redo icon button
  packages/vtable-sheet/examples/sheet/history.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/managers/workbook-history-manager.ts
  packages/vtable-sheet/src/styles/menu.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

feat: undo redo icon button
  packages/vtable-sheet/src/core/table-plugins.ts
Labels: none

fix: formula has formula case compute result error
  packages/vtable-plugins/package.json
  packages/vtable-sheet/__tests__/nested-formula-engine.test.ts
  packages/vtable-sheet/src/formula/formula-editor.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-sheet-undo-redo_2026-03-16-06-37.json
Labels: chore

fix(filter): show correct tab when filterModes only contains byCondition
  packages/vtable-plugins/src/filter/filter-toolbar.ts
Labels: none

docs: sheet undo redo feature
  docs/assets/api/en/SheetAPI.md
  docs/assets/api/en/event/event.md
  docs/assets/api/en/methods.md
  docs/assets/api/zh/SheetAPI.md
  docs/assets/api/zh/event/event.md
  docs/assets/api/zh/methods.md
  docs/assets/demo/en/vtable-sheet/sheet.md
  docs/assets/demo/zh/vtable-sheet/sheet.md
  docs/assets/guide/en/Event/event_list.md
  docs/assets/guide/en/plugin/history.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/en/sheet/Getting_Started.md
  docs/assets/guide/en/sheet/other.md
  docs/assets/guide/en/sheet/plugins.md
  docs/assets/guide/en/shortcut.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/Event/event_list.md
  docs/assets/guide/zh/plugin/history.md
  docs/assets/guide/zh/plugin/usage.md
  docs/assets/guide/zh/sheet/Getting_Started.md
  docs/assets/guide/zh/sheet/other.md
  docs/assets/guide/zh/sheet/plugins.md
  docs/assets/guide/zh/shortcut.md
  docs/assets/option/en/table/sheet.md
  docs/assets/option/zh/table/sheet.md
Labels: docs

fix(table): use rowHeightsMap directly in scrollToCell to fix position with dynamic row heights
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

fix: call updateOption sheet mainmenu position error
  packages/vtable-sheet/src/components/vtable-sheet.ts
Labels: none

fix: formulaEditro updateOption init
  packages/vtable-sheet/src/components/vtable-sheet.ts
Labels: none

docs: weekend hide option
  docs/assets/demo/en/gantt/gantt-basic.md
  docs/assets/demo/zh/gantt/gantt-basic.md
  docs/assets/guide/en/gantt/Getting_Started.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/Getting_Started.md
  docs/assets/guide/zh/gantt/introduction.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/table/gantt.md
Labels: docs

fix: insert records after filter undo redo error
  packages/vtable-plugins/__tests__/history/replay.test.ts
  packages/vtable-plugins/src/filter/value-filter.ts
  packages/vtable-plugins/src/history/history-plugin.ts
  packages/vtable-plugins/src/history/replay.ts
  packages/vtable-plugins/src/history/types.ts
  packages/vtable-sheet/__tests__/formula-row-resize-insert.test.ts
  packages/vtable-sheet/__tests__/history-plugin-integration.test.ts
  packages/vtable-sheet/jest.config.js
Labels: test, jest

fix: checkbox cell render error when set groupBy with rowSeriesNumber
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-groupBy-with-rowSeriesNumber_2026-03-17-11-23.json
Labels: chore

docs: update change log
  common/changes/@visactor/vtable/feat-gantt-weekend-columnWidth_2026-03-16-06-37.json
  common/changes/@visactor/vtable/feat-sheet-undo_2026-03-17-11-23 copy.json
Labels: chore

fix(scrolling): ensure target row/col is reached after animation
  common/changes/@visactor/vtable/fix-animation_position_2026-03-18-07-54.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/animation.ts
Labels: vtable, chore

fix: test case coverage
  packages/vtable-plugins/jest.config.js
Labels: jest

docs: generate changelog of release v1.24.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

fix: line height is digit and scroll bug. fix#4812
  packages/vtable-plugins/demo/table-carousel-animation/table-carousel-animation.ts
Labels: none

build: prelease version 1.22.13-alpha.6
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: line height is digit and scroll bug. fix#4812
  packages/vtable-plugins/demo/table-carousel-animation/table-carousel-animation.ts
  packages/vtable/src/core/animation.ts
Labels: vtable

build: prelease version 1.22.13-alpha.7
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

chore: add cases for test
  packages/vtable-plugins/demo/index.html
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/table-carousel-animation/table-carousel-animation.ts
Labels: none

fix: temporarily fix scroll position
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/animation.ts
Labels: vtable

build: prelease version 1.22.13-alpha.8
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add option scrollFrozenCols
  packages/vtable-plugins/demo/auto-fill/auto-fill.ts
  packages/vtable/examples/frozen/list-table-scrollable-frozen-cols.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/core/utils/get-cell-position.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/scroll.ts
  packages/vtable/src/event/util.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/component/util.ts
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/group-creater/init-scenegraph.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/select/create-select-border.ts
  packages/vtable/src/scenegraph/select/delete-select-border.ts
  packages/vtable/src/scenegraph/select/update-custom-select-border.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-frozenColumn_scroll_2026-03-20-11-09.json
Labels: chore

fix: radio cell should fallback to text in aggregation row #4027
  common/changes/@visactor/vtable/fix-radio-aggregation-row-4027_2026-03-21-03-53.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, chore

fix: addRecords recreateSelectRangeComponent
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

feat: add left frozen and right frozen columns region scroll component
  packages/vtable/examples/frozen/list-table-scrollable-frozen-cols.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/utils/get-cell-position.ts
  packages/vtable/src/event/listener/scroll-bar.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/scroll.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/component/util.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

fix: scrolling mode can drag scrollbar
  packages/vtable/src/event/listener/scroll-bar.ts
  packages/vtable/src/state/state.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
