Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

docs: add validateValue docs
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
Labels: docs

chore: change rush change log
  common/changes/@visactor/vtable/fix-checkbox_2024-12-13-11-46.json
Labels: chore

chore: change validateValue return
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
  packages/vtable-editors/src/types.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable, docs

feat: add grid rowBackgroundColor and columnBackgroundColor weekendBackgroundColor #3155
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3155-feature-gantt-workday-style_2024-12-20-08-58.json
Labels: chore

fix: fix check-state init in pivot-table
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

fix: reshresh record link nodes when node not exist
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
Labels: none

fix: fix tickCount function ticks caculation
  packages/vtable/src/layout/chart-helper/get-axis-domain.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

refactor: add option tableSizeAntiJitter #3160
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3160-refactor-vtable-anti-jitter_2024-12-20-09-32.json
  packages/vtable/examples/index.html
Labels: vtable, chore

fix: fix args missed in getAxisRangeAndTicks()
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
Labels: vtable

refactor: add option tableSizeAntiJitter #3160
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, docs

fix: fix no records in initRecordCheckState()
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

docs: generate changelog of release v1.14.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: translate release notes
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: demo html container width
  packages/vtable/examples/index.html
Labels: vtable

feat: fire CHANGE_CELL_VALUE event when real update
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/record-helper.ts
Labels: vtable

feat: pivot table change cells value when real update
  packages/vtable/examples/editor/date-editor.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable

docs: horizontalBackgroundColor verticalBackgroundColor
  docs/assets/option/en/common/gantt/grid.md
  docs/assets/option/zh/common/gantt/grid.md
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

docs: update gantt's demo for grid background color
  docs/assets/demo/en/gantt/gantt-basic.md
  docs/assets/demo/en/gantt/gantt-table-mergeCell.md
  docs/assets/demo/zh/gantt/gantt-basic.md
  docs/assets/demo/zh/gantt/gantt-table-mergeCell.md
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
Labels: docs

docs: update custom-cell-layout-jsx demo
  docs/assets/demo/en/custom-render/custom-cell-layout-jsx.md
  docs/assets/demo/zh/custom-render/custom-cell-layout-jsx.md
  packages/vtable/examples/custom-layout-jsx/pivot-jsx.tsx
Labels: vtable, docs

fix: gantt taskbar resize width interaction can not limit one time unit #3161
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3161-refactor-gantt-taskbar-resize_2024-12-23-07-54.json
Labels: chore

fix: fix axes count error in seriesIds config
  common/changes/@visactor/vtable/fix-seriesId-repeat_2024-12-23-08-05.json
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: vtable, chore

feat: showSort support function type #2630
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/en/dimension/base-dimension-type.md
  docs/assets/option/en/indicator/base-indicator-type.md
  docs/assets/option/zh/column/base-column-type.md
  docs/assets/option/zh/dimension/base-dimension-type.md
  docs/assets/option/zh/indicator/base-indicator-type.md
  packages/vtable/src/header-helper/header-helper.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/pivot-table/dimension/basic-dimension.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/2630-feature-showSort-function_2024-12-23-08-39.json
  packages/vtable/examples/cell-move/pivot-move.ts
Labels: vtable, chore

fix: fix umd config in vtable-export
  packages/vtable-export/bundler.config.js
Labels: bundler

feat: showSort support function type #2630
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/zh/column/base-column-type.md
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
Labels: vtable, docs

fix: fix umd config in vtable-export
  packages/vtable-export/bundler.config.js
Labels: bundler

fix: fix axes count error in seriesIds config
  common/changes/@visactor/vtable/fix-seriesId-repeat_2024-12-23-08-05.json
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: vtable, chore

fix: judge showSort logic
  packages/vtable/src/header-helper/header-helper.ts
Labels: vtable

fix: fix checkbox state update in pivot-table
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

docs: fix demo url
  docs/assets/demo-openinula/en/custom-layout/custom-layout.md
  docs/assets/demo-openinula/zh/custom-layout/custom-layout.md
  docs/assets/demo-react/en/custom-layout/cell-custom-component.md
  docs/assets/demo-react/en/custom-layout/cell-custom-dom.md
  docs/assets/demo-react/en/custom-layout/cell-custom-layout-dom.md
  docs/assets/demo-react/zh/custom-layout/cell-custom-component.md
  docs/assets/demo-react/zh/custom-layout/cell-custom-dom.md
  docs/assets/demo-react/zh/custom-layout/cell-custom-layout-dom.md
  docs/assets/demo-vue/en/custom-layout/cell-custom-component.md
  docs/assets/demo-vue/zh/custom-layout/cell-custom-component.md
  docs/assets/guide/en/custom_define/react-custom-component.md
  docs/assets/guide/zh/custom_define/react-custom-component.md
Labels: docs

docs: fix demo url
  docs/assets/demo-openinula/en/custom-layout/custom-layout.md
  docs/assets/demo-openinula/zh/custom-layout/custom-layout.md
  docs/assets/demo-react/en/custom-layout/cell-custom-component.md
  docs/assets/demo-react/en/custom-layout/cell-custom-dom.md
  docs/assets/demo-react/en/custom-layout/cell-custom-layout-dom.md
  docs/assets/demo-react/zh/custom-layout/cell-custom-component.md
  docs/assets/demo-react/zh/custom-layout/cell-custom-dom.md
  docs/assets/demo-react/zh/custom-layout/cell-custom-layout-dom.md
  docs/assets/demo-vue/en/custom-layout/cell-custom-component.md
  docs/assets/demo-vue/zh/custom-layout/cell-custom-component.md
  docs/assets/guide/en/custom_define/react-custom-component.md
  docs/assets/guide/zh/custom_define/react-custom-component.md
Labels: docs

fix: fix checkbox state update in pivot-table
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

feat: taskbar scheduleCreatable support function
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

docs: generate changelog of release v1.14.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update changelog
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: update list table option replace release
  packages/vtable-gantt/src/Gantt.ts
Labels: none

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
