Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: optimize search latency
  packages/vtable-search/src/search-component/search-component.ts
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable

build: prelease version 1.22.11-alpha.4
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: optimize brush chart interaction
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/examples/pivot-chart/pivotChart-brushState1.ts
  packages/vtable/package.json
  packages/vtable/src/event/event.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-pie_chart_linkage_2026-01-09-08-48.json
Labels: chore

build: prelease version 1.22.11-alpha.5
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix(gantt): correct month difference calculation for variable month lengths
  packages/vtable-gantt/src/tools/util.ts
Labels: none

build: prelease version 1.22.11-alpha.6
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat(pivot): add showSubTotalsOnTreeNode option
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/ts-types/new-data-set.ts
Labels: vtable

feat(数据操作): 添加syncRecordOperationsToSourceRecords选项支持同步操作到源数据
  packages/vtable/__tests__/data-update/listTable-data-events.test.ts
  packages/vtable/examples/list-analysis/list-filter.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-support_cell_values_change_2026-01-12-07-50.json
Labels: chore

fix: pivot chart brush logic
  packages/vtable/examples/pivot-chart/pivotChart-brushState.ts
  packages/vtable/examples/pivot-chart/pivotChart-brushState1.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/scroll-bar.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

build: prelease version 1.22.11-alpha.7
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.22.11-alpha.8
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: paste to table performance when has prepared edit cell #4912
  packages/vtable-editors/src/input-editor.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/4912-bug-paste-performance_2026-01-12-09-17.json
Labels: chore

feat: add event system for vtable sheet #4861
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/core/table-event-relay.ts
  packages/vtable-sheet/src/event/event-manager.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable-sheet/src/ts-types/spreadsheet-events.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/4861-vtablesheet-event_2026-01-12-11-47.json
  packages/vtable-sheet/docs/event-implementation-plan.zh-CN.md
  packages/vtable-sheet/docs/event-system-guide.md
  packages/vtable-sheet/docs/event-usage-examples.zh-CN.md
  packages/vtable-sheet/docs/三层事件架构-实现现状.md
  packages/vtable-sheet/docs/事件系统方案总结.md
  packages/vtable-sheet/docs/代码清理完成-spreadsheet-events.md
  packages/vtable-sheet/docs/代码清理建议-spreadsheet-events.md
  packages/vtable-sheet/docs/修复-tableEventRelay未初始化.md
  packages/vtable-sheet/docs/修复-添加clearAllListeners调用.md
  packages/vtable-sheet/docs/修复-移除不支持的query参数.md
  packages/vtable-sheet/docs/最终方案.md
  packages/vtable-sheet/docs/正确的事件方案.md
  packages/vtable-sheet/docs/统一事件系统-使用示例.md
  packages/vtable-sheet/docs/统一事件系统-完整方案.md
  packages/vtable-sheet/docs/统一事件系统.md
Labels: chore

fix(vtable): 修复过滤状态下新增记录位置错误问题
  packages/vtable/__tests__/data-update/listTable-data-events.test.ts
  packages/vtable/examples/list-analysis/list-filter.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-support_cell_values_change_2026-01-12-12-44.json
Labels: chore

docs(pivot): add showSubTotalsOnTreeNode option docs
  docs/assets/guide/en/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/guide/zh/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotTable.md
Labels: docs

build: prelease version 1.22.11-alpha.9
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: time unit computeCountToTimeScale month exactitude #4909
  packages/vtable-gantt/src/tools/util.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-gantt-time-scaleCount_2026-01-13-09-13.json
Labels: chore

chore: delete console
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

refactor: vtable sheet event logic #4861
  packages/openinula-vtable/tsconfig.json
  packages/react-vtable/tsconfig.json
  packages/vtable-calendar/tsconfig.json
  packages/vtable-export/tsconfig.json
  packages/vtable-gantt/tsconfig.json
  packages/vtable-plugins/tsconfig.json
  packages/vtable-search/tsconfig.json
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/event/dom-event-manager.ts
  packages/vtable-sheet/src/event/event-manager.ts
  packages/vtable-sheet/src/event/event-target.ts
  packages/vtable-sheet/src/event/table-event-relay.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/sheet-helper.ts
  packages/vtable-sheet/src/ts-types/event.ts
  packages/vtable-sheet/src/ts-types/events.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable-sheet/tsconfig.json
  packages/vtable/src/state/hover/col.ts
  packages/vtable/src/state/hover/is-cell-hover.ts
  packages/vtable/src/state/hover/update-cell.ts
  packages/vtable/src/ts-types/pivot-table/corner.ts
  packages/vtable/tsconfig.json
  packages/vue-vtable/tsconfig.json
Labels: vtable, react-vtable, openinula-vtable, typescript

refactor: vtable sheet event logic #4861
  packages/vtable-sheet/__tests__/formula.test.ts
Labels: test

fix: clear brushing chart instance and imgCache
  packages/vtable/examples/index.html
  packages/vtable/examples/pivot-chart/pivotChart-brushState1.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/event/listener/scroll-bar.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

build: prelease version 1.22.11-alpha.10
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: when updateOption clearChart occor error
  packages/vtable/examples/pivot-chart/pivotChart-brushState1.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix: dimenson linkage tooltip and brush logic
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

build: prelease version 1.22.11-alpha.11
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix(scenegraph): reset proxy row status when start exceeds end
  common/changes/@visactor/vtable/fix-delete_row_2026-01-15-08-17.json
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable, chore

fix: when trigger chart click update brush state
  packages/vtable/examples/pivot-chart/pivotChart-brushState1.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

build: update vrender dependencies to 1.0.17-alpha.0
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

build: prelease version 1.19.10-alpha.4
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.22.11-alpha.12
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: add description
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

feat: add worksheet event
  packages/vtable-sheet/__tests__/event-timing-fix.test.ts
  packages/vtable-sheet/__tests__/formula-event-utils.test.ts
  packages/vtable-sheet/__tests__/formula-removal-fix.test.ts
  packages/vtable-sheet/__tests__/sheet-manager-events.test.ts
  packages/vtable-sheet/__tests__/worksheet-event-integration-simple.test.ts
  packages/vtable-sheet/__tests__/worksheet-event-registration-fix.test.ts
  packages/vtable-sheet/__tests__/worksheet-events.test.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/sheet-tab-event-handler.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/event/formula-event-utils.ts
  packages/vtable-sheet/src/event/index.ts
  packages/vtable-sheet/src/event/worksheet-event-manager.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/managers/sheet-manager.ts
  packages/vtable-sheet/src/ts-types/spreadsheet-events.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vtable/4861-vtablesheet-event_2026-01-17-11-40.json
Labels: chore

feat: add cancelEditCell method to ListTable and PivotTable APIs
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/contributing/en/source-code-details/11-Data-Editing.md
  docs/assets/contributing/zh/source-code-details/11-Data-Editing.md
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs
