Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: pivotchart handle with markline value to axis range
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/5021-feature-linear-axis-markLine_2026-03-03-11-04.json
Labels: chore

fix: scrollToRow ，滚动到的位置不对
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

feat: pivotchart handle with markline value to axis range
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

build: prelease version 1.19.10-alpha.7
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

chore: update vrender dependencies to stable version 1.0.41
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: scrollToRow,滚动到的位置不对(#5020)
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

fix: scrollToRow,滚动到的位置不对(#5020)
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

fix(core): prevent memory leaks in table cleanup
  common/changes/@visactor/vtable/fix-mem_leak_2026-03-02-13-18.json
Labels: chore

fix(core): prevent memory leaks in table cleanup
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/debug/mem.ts
  packages/vtable/examples/menu.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, chore

chore: update vrender dependencies to stable version 1.0.41
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: scrollToRow内滚动前清理定时器
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

docs: generate changelog of release v1.23.3
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update gantt baseline demo
  docs/assets/demo/en/gantt/gantt-baseline.md
  docs/assets/demo/zh/gantt/gantt-baseline.md
Labels: docs

docs: update gantt baseline demo
  docs/assets/demo/en/gantt/gantt-baseline.md
  docs/assets/demo/zh/gantt/gantt-baseline.md
Labels: docs

fix(core): prevent memory leaks in table cleanup
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/debug/mem.ts
  packages/vtable/examples/menu.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, chore

fix(core): prevent memory leaks in table cleanup
  common/changes/@visactor/vtable/fix-mem_leak_2026-03-02-13-18.json
Labels: chore

chore: update vrender dependencies to stable version 1.0.41
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

feat: optimiz workflows for release
  .github/workflows/develop-synced-dispatch.yml
  .github/workflows/post-release.yml
  .github/workflows/release.yml
  .github/workflows/sync-main-to-develop.yml
Labels: chore

feat: optimiz workflows for post-release
  .github/workflows/post-release.yml
Labels: chore

fix: groupBy with frozenColCount and enableTreeStickCell usage problem
  packages/vtable/src/scenegraph/group-creater/init-scenegraph.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/5037-bug-groupBy-enableTreeStickCell_2026-03-06-03-56.json
Labels: chore

feat: table sheet undo redo plugin
  packages/vtable-plugins/.eslintignore
  packages/vtable-plugins/__tests__/auto-fill/formula-integration.test.ts
  packages/vtable-plugins/__tests__/history-plugin-formula-undo.test.ts
  packages/vtable-plugins/__tests__/history/history-plugin.test.ts
  packages/vtable-plugins/__tests__/history/history-utils.test.ts
  packages/vtable-plugins/__tests__/history/replay.test.ts
  packages/vtable-plugins/jest.config.js
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/auto-fill/__tests__/formula-integration.test.ts
  packages/vtable-plugins/src/auto-fill/series-converters.ts
  packages/vtable-plugins/src/filter/filter-engine.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/history-plugin.ts
  packages/vtable-plugins/src/history/README.md
  packages/vtable-plugins/src/history/formula.ts
  packages/vtable-plugins/src/history/history-plugin.ts
  packages/vtable-plugins/src/history/index.ts
  packages/vtable-plugins/src/history/replay.ts
  packages/vtable-plugins/src/history/sheet-key.ts
  packages/vtable-plugins/src/history/snapshot.ts
  packages/vtable-plugins/src/history/types.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/tscofig.eslint.json
  packages/vtable-plugins/tsconfig.json
  packages/vtable-sheet/__tests__/history-plugin-integration.test.ts
  packages/vtable-sheet/examples/menu.ts
  packages/vtable-sheet/examples/sheet/history.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/test-shims/vtable-plugins.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, test, jest, typescript

chore: update skill content
  skills/vtable-development-assistant/SKILL.md
  skills/vtable-development-assistant/references/knowledge/09-data-binding.md
Labels: none

build: prelease version 1.22.8-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: develop weekendColWidth
  packages/vtable-gantt/__tests__/gantt-baseline.test.ts
  packages/vtable-gantt/__tests__/gantt-weekend-col-width.test.ts
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/plugins/index.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: test

fix: when just has only one column groupTitle not show
  packages/vtable/examples/list/groupBy-oneCol.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-groupBy-justOneCol-notShowTitle_2026-03-06-11-34.json
Labels: chore

fix(core): prevent memory leaks in table cleanup
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/debug/mem.ts
  packages/vtable/examples/menu.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, chore

fix(core): prevent memory leaks in table cleanup
  common/changes/@visactor/vtable/fix-mem_leak_2026-03-02-13-18.json
Labels: chore

chore: update vrender dependencies to stable version 1.0.41
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

build: prelease version 1.22.13-alpha.4
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: merge cell undo/redo
  .vscode/settings.json
  packages/vtable-plugins/__tests__/history/history-plugin.test.ts
  packages/vtable-plugins/__tests__/history/replay.test.ts
  packages/vtable-plugins/jest.config.js
  packages/vtable-plugins/src/history/README.md
  packages/vtable-plugins/src/history/formula.ts
  packages/vtable-plugins/src/history/history-plugin.ts
  packages/vtable-plugins/src/history/replay.ts
  packages/vtable-plugins/src/history/snapshot.ts
  packages/vtable-plugins/src/history/types.ts
  packages/vtable-sheet/__tests__/history-plugin-integration.test.ts
  packages/vtable-sheet/__tests__/merge-cell-delete-row.test.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable/__tests__/header/listTable-merge-cell-delete-row.test.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, test, jest, chore

fix(core): prevent memory leaks in table cleanup
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/debug/mem.ts
  packages/vtable/examples/menu.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, chore

fix(core): prevent memory leaks in table cleanup
  common/changes/@visactor/vtable/fix-mem_leak_2026-03-02-13-18.json
Labels: chore

chore: update vrender dependencies to stable version 1.0.41
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

build: prelease version 1.22.13-alpha.5
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix(vtable): 修复透视表维度隐藏后点击排序失效的问题
  packages/vtable/src/PivotTable.ts
Labels: vtable

fix(vtable): 修复透视表维度隐藏后点击排序失效的问题
  packages/vtable/src/PivotTable.ts
Labels: vtable
