Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: checkbox state should not saved when cancel filter
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-11-24-16-01.json
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

fix: checkbox disabled after filter
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-11-24-16-02.json
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

fix: checkbox should display raw value
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

build: prelease version 1.22.4-alpha.8
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: domainline visible true when set labelHoverOnAxis
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-combined.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter.ts
  packages/vtable/src/components/axis/get-axis-attributes.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
Labels: vtable

fix: domainline visible true when set labelHoverOnAxis
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
Labels: vtable

fix: domainline visible true when set labelHoverOnAxis
  packages/vtable/examples/pivot-chart/pivotChart-scatter.ts
  packages/vtable/src/components/axis/get-axis-attributes.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
Labels: vtable

fix: domainline visible true when set labelHoverOnAxis
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
Labels: vtable

refactor: pivotchart linkage event response time
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-line.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

feat: vtable-sheet support formula auto fill
  packages/vtable-plugins/src/auto-fill/__tests__/formula-integration.test.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-services.ts
  packages/vtable-plugins/src/auto-fill/formula-integration.ts
  packages/vtable-plugins/src/auto-fill/index.ts
  packages/vtable-plugins/src/auto-fill/rules.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-sheet-hanlde-fill-formula_2025-11-25-09-11.json
Labels: chore

docs: add chartDimensionLinkage option
  docs/assets/option/en/table/pivotChart.md
  docs/assets/option/zh/table/pivotChart.md
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

chore: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: update checkbox item after update option
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-11-25-17-57.json
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

build: prelease version 1.22.4-alpha.9
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: update checkbox item after update option
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

build: prelease version 1.22.4-alpha.10
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: generate changelog of release v1.22.5
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: copy formula to paste cell
  packages/vtable-sheet/__tests__/copy-source-position.test.ts
  packages/vtable-sheet/__tests__/debug-formula-paste.test.ts
  packages/vtable-sheet/__tests__/end-to-end-copy-paste.test.ts
  packages/vtable-sheet/__tests__/formula-copy-paste.test.ts
  packages/vtable-sheet/__tests__/formula-relative-reference.test.ts
  packages/vtable-sheet/__tests__/formula-simple-copy-paste.test.ts
  packages/vtable-sheet/__tests__/integration-formula-copy-paste.test.ts
  packages/vtable-sheet/__tests__/real-copy-paste-scenario.test.ts
  packages/vtable-sheet/__tests__/simple-copy-paste-scenario.test.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/formula/formula-paste-processor.ts
  packages/vtable-sheet/src/formula/formula-reference-adjustor.ts
  packages/vtable-sheet/src/formula/index.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/util.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, test

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-sheet-cell-copyFormula_2025-11-26-11-27.json
Labels: chore

feat(plugin-filter): 增强筛选工具栏与值筛选功能
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

feat(plugIn-filter): 加强筛选状态管理，支持搜索与候选值 - 新增 ⁠filterMenuStates 管理筛选菜单状态，包含稳定候选值与当前搜索关键词 - 新增初始化状态、更新搜索关键词、按搜索获取可见已选值的方法 - 更新 ⁠ValueFilter 接入新状态管理，确保筛选与选择时正确处理可见值
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

refactor: rework candidate value collection and filtering logic in value filter
  packages/vtable-plugins/demo/filter/value-filter.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

feat: copy formula to paste cell
  packages/vtable-sheet/__tests__/real-copy-paste-scenario.test.ts
Labels: test

refactor: formula paste
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

refactor: vtable sheet argument order
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/formula/formula-ui-manager.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
Labels: none

fix: bugserver case error
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
Labels: none

fix: bugserver case error
  packages/vtable/src/event/event.ts
Labels: vtable

fix: rightaxis not show
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

refactor: auto fill sheet formula code
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
  packages/vtable-plugins/src/auto-fill/formula-integration.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/ts-types/formula.ts
Labels: none

fix: excel keyboard del and back to delete
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-deleteCellValueUseKey_2025-11-28-04-03.json
Labels: chore

build: prelease version 1.22.6-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: linkage hoverOn label hide
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/linkage-pivotChart-horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart-radar.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

fix: dataId be compatible with number
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
Labels: vtable

build: prelease version 1.22.6-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update excel keyboard plugin
  docs/assets/guide/en/plugin/excel-keyboard-alignment.md
  docs/assets/guide/en/shortcut.md
  docs/assets/guide/zh/plugin/excel-keyboard-alignment.md
  docs/assets/guide/zh/shortcut.md
Labels: docs

fix: distinguish null and empty string values in row/column dimensions
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-dimension-null-empty-distinction_2025-11-29-08-16.json
Labels: chore

docs: update formula guide
  docs/assets/guide/en/sheet/formula.md
  docs/assets/guide/zh/sheet/formula.md
Labels: docs
