Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: add columnhirerachytype
  packages/vtable/src/tools/diff-cell.ts
Labels: vtable

feat: add columnhirerachytype
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix: update class names for Vue ArcoSelect components
  docs/assets/demo-vue/en/edit-data/arco-select-editor.md
  docs/assets/demo-vue/zh/edit-data/arco-select-editor.md
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable-editor-arco.vue
Labels: docs

feat: support columnHierarchyType
  packages/vtable/examples/pivot/pivot-grid-tree-column.ts
  packages/vtable/examples/pivot/pivot-grid-tree.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/layout/frozen.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/diff-cell.ts
Labels: vtable

feat: support columnHierarchyType
  packages/vtable/src/state/state.ts
Labels: vtable

feat: support columnHierarchyType
  packages/vtable/src/state/state.ts
Labels: vtable

feat: add columnhirerachytype
  packages/vtable/examples/pivot/pivot-grid-tree.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/update-auto-row.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable

feat: for node env
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

build: prelease version 1.15.2-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: column grid tree mode expand render
  packages/vtable/examples/pivot/pivot-grid-tree-column.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable

fix: support column header grid-tree mode
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/update-auto-row.ts
  packages/vtable/src/scenegraph/layout/update-col.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: init 2.1 scenegraph concept
  docs/assets/contributing/menu.json
  docs/assets/contributing/zh/2.1-scenegraph concept.md
Labels: docs

feat: add skipImageExportCellType in vtable-export
  common/changes/@visactor/vtable/feat-vtable-export-skipImageExportCellType_2025-01-24-03-58.json
  packages/vtable-export/demo/list/list-custom.ts
  packages/vtable-export/demo/menu.ts
  packages/vtable-export/src/excel/index.ts
Labels: chore

build: prelease version 1.15.2-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: hierarchyType support grid-tree
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-grid-tree-column.ts
  packages/vtable/examples/pivot/pivot-grid-tree-row&column.ts
  packages/vtable/examples/pivot/pivot-grid-tree.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/layout-helper.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

feat: hierarchyType support grid-tree
  packages/vtable/src/data/DataSource.ts
Labels: vtable

fix: scroll render
  packages/vtable/src/PivotTable.ts
Labels: vtable

fix: resize or move taskbar update record problem #3321
  packages/vtable-gantt/examples/gantt/gantt-tree.ts
  packages/vtable-gantt/src/Gantt.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3321-bug-updateTableRecordError_2025-01-26-07-26.json
Labels: chore

feat: dependField&batType support function in progress-bar
  common/changes/@visactor/vtable/feat-barType-dependField-func_2025-01-26-07-58.json
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
Labels: vtable, chore

fix: fix emptyTip option cause react updateOption
  packages/vtable/src/components/empty-tip/empty-tip.ts
Labels: vtable

feat: dependField&batType support function in progress-bar
  common/changes/@visactor/vtable/feat-barType-dependField-func_2025-01-26-07-58.json
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
Labels: vtable, chore

build: prelease version 1.11.6-alpha.6
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: dependField&batType support function in progress-bar
  common/changes/@visactor/vtable/feat-barType-dependField-func_2025-01-26-07-58.json
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
Labels: vtable, chore

feat: add skipImageExportCellType in vtable-export
  common/changes/@visactor/vtable/feat-vtable-export-skipImageExportCellType_2025-01-24-03-58.json
  packages/vtable-export/demo/list/list-custom.ts
  packages/vtable-export/demo/menu.ts
  packages/vtable-export/src/excel/index.ts
Labels: chore

fix: updateScales to quarter taskbar size error #3348
  packages/vtable-gantt/src/tools/util.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3348-bug-vtable-gantt-updateScale_2025-01-26-09-55.json
Labels: chore

docs: generate changelog of release v1.15.2
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: reset release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: generate changelog of release v1.15.2
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: reset release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: rowSubTotalLabel in last key getValue work
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-grid-tree-totals.ts
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

fix: not records columnHeader render error
  packages/vtable/examples/pivot/pivot.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix: tree indicator expand state error
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

fix: no records occor error
  packages/vtable/src/scenegraph/layout/frozen.ts
Labels: vtable

fix: right frozen col handle with
  packages/vtable/src/scenegraph/layout/update-col.ts
Labels: vtable

fix: case pivot-analysis-grid-tree-cornerOnColumn
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

fix: test custom header tree
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

docs: add tutorial and demo
  docs/assets/demo/en/table-type/pivot-analysis-table-grid-tree.md
  docs/assets/demo/en/table-type/pivot-analysis-table-tree.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/table-type/pivot-analysis-table-grid-tree.md
  docs/assets/demo/zh/table-type/pivot-analysis-table-tree.md
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_tree.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_tree.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotTable.md
Labels: docs

docs: add tutorial and demo
  docs/assets/option/en/table/pivotTable.md
Labels: docs
