Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: add theme for vtable sheet
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/tools/index.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

feat: change to zoomScaleLevel
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable-gantt/src/ts-types/zoom-scale.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
  packages/vtable-gantt/src/zoom-scale/index.ts
Labels: none

feat: license
  LICENSE-APACHE
  packages/vtable-plugins/LICENSE-APACHE
  packages/vtable-plugins/README.md
  packages/vtable-plugins/src/auto-fill/index.ts
  packages/vtable-plugins/src/index.ts
Labels: none

feat: delete tab button
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/managers/sheet-manager.ts
  packages/vtable-sheet/src/styles/sheet-tab.css
Labels: none

fix: fix type in SearchComponentOption
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

feat: delete tab button
  packages/vtable-sheet/src/components/vtable-sheet.ts
Labels: none

fix: getLayoutRowTree api error #4346
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4346-bug-getlayoutrowtree-api-error_2025-08-20-06-53.json
Labels: chore

feat: theme rowSeriesNumberCellStyle
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

refactor: sorout vtable sheet code
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/managers/data-manager.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/ts-types/base.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

feat: change to zoomScaleLevel
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: change to zoomScaleLevel
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/zoom-scale.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: change to zoomScaleLevel
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: update vrender into 0.22.16
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

ci: update release workflow to publish with beta tag
  .github/workflows/release.yml
Labels: chore

chore: update vrender dependency to 0.22.16
  common/changes/@visactor/vtable/release-1.18.8_2025-08-21-03-31.json
Labels: chore

refactor: context menu and table series number plugin
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/table-series-number.ts
Labels: none

update treeSearch docs
  docs/assets/guide/zh/search.md
Labels: docs

优化search方法。未search到的时候不报错， 修改clear方法
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

docs: add context menu guide
  docs/assets/guide/en/plugin/context-menu.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/context-menu.md
  docs/assets/guide/zh/plugin/usage.md
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
Labels: docs

docs: add Filter Plugin documentation (zh/en)
  docs/assets/guide/en/plugin/filter.md
  docs/assets/guide/zh/plugin/filter.md
Labels: docs

feat: add filterModes settings for filter plugin
  packages/vtable-plugins/src/filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-sheet/examples/sheet/filter.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

feat: add format value support for filter plugin
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

Update search-component.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

fix: when has many columns expand columnTree scenegraph node y error #4357
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4357-bug-scenegraph-origanize-error_2025-08-22-06-26.json
Labels: chore

refactor: contextmenu-click event arguments #4364
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/self-event-listener/base-table/right-button-click.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4364-bug-right-click-cornerCell-arguments-cell_2025-08-22-09-16.json
Labels: chore

fix: fill header cell
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
Labels: none

fix: rename sheet title
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
Labels: none

fix: clean up sheet code
  packages/vtable-plugins/README.md
  packages/vtable-sheet/src/components/formula-editor.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/index.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/state/state-manager.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
Labels: none

fix: clean up sheet code
  packages/vtable-plugins/README.md
Labels: none

fix: clean up sheet code
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
Labels: none

feat: access auto fill plugin
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
Labels: none

fix: syncHierarchyState api error #4346
  packages/vtable/src/PivotTable.ts
Labels: vtable

refactor: sheet name problem
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/managers/cell-highlight-manager.ts
  packages/vtable-sheet/src/managers/sheet-manager.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin2.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin4.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin5.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin6.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin7.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

feat: test commit
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
Labels: none

feat:auto-fill-plugin dbclick fill
  packages/vtable-plugins/src/auto-fill/auto-fill-helper.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
  packages/vtable-plugins/src/auto-fill/index.ts
Labels: none

fix: dbclick fill direction
  packages/vtable-plugins/demo/auto-fill/mockData.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
Labels: none
