Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix: frozencolcount compute logic
  packages/vtable/examples/list/list.ts
  packages/vtable/src/state/state.ts
Labels: vtable

fix: fix group checkbox unchecked bug
  packages/vtable/src/event/list-table/checkbox.ts
Labels: vtable

docs: add group checkbox doc & demos
  docs/assets/demo/en/table-type/list-table-group-checkbox.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/table-type/list-table-group-checkbox.md
  docs/assets/guide/en/table_type/List_table/group_list.md
  docs/assets/guide/zh/table_type/List_table/group_list.md
Labels: docs

chore: update rush change
  common/changes/@visactor/vtable/feat-tree-checkbox_2024-12-27-08-44.json
Labels: chore

chore: update rush change
  common/changes/@visactor/vtable/feat-tree-checkbox_2024-12-27-08-44.json
Labels: chore

feat: add enableTreeCheckbox config
  packages/vtable/examples/list/list-rowSeriesNumber.ts
  packages/vtable/examples/list/list-tree-checkbox.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/list-table/checkbox.ts
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: add group checkbox doc & demos
  docs/assets/demo/en/table-type/list-table-group-checkbox.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/table-type/list-table-group-checkbox.md
  docs/assets/guide/en/table_type/List_table/group_list.md
  docs/assets/guide/zh/table_type/List_table/group_list.md
Labels: docs

fix: fix group checkbox unchecked bug
  packages/vtable/src/event/list-table/checkbox.ts
Labels: vtable

fix: fix row range when delete rows in fixUpdateRowRange()
  packages/vtable/src/tools/update-row.ts
Labels: vtable

fix: reset argument remove
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

fix: type lint error
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

fix: when frozenColCount less rowHeaderLevelCount occor error
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable

docs: generate changelog of release v1.14.3
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-support-vchart-spec-transform-in-cell_2024-12-27-09-29.json
Labels: chore

feat: add `specTransformInCell` for support modifying vchart spec of each cell in PivotChart
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

build: prelease version 1.14.4-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: supplement apis
  docs/assets/api/en/methods.md
  docs/assets/api/en/properties.md
  docs/assets/api/zh/methods.md
  docs/assets/api/zh/properties.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

feat: add moveToExtendDateRange option #3221
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3221-bug-taskbar-move-occor-error_2024-12-30-10-25.json
Labels: chore

feat: customMergeCell support array config #3202
  common/changes/@visactor/vtable/feat-custom-merge-config_2024-12-30-11-28.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/utils/get-custom-merge-cell-func.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, chore

build: prelease version 1.14.4-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

Revert "docs: correct height prop as number to ListTable for react-vtable"
  docs/assets/guide/en/Developer_Ecology/openinula.md
  docs/assets/guide/en/Developer_Ecology/react.md
  docs/assets/guide/zh/Developer_Ecology/openinula.md
  docs/assets/guide/zh/Developer_Ecology/react.md
  packages/openinula-vtable/README.md
  packages/react-vtable/README.md
  packages/react-vtable/demo/src/event/event-rebind.tsx
Labels: react-vtable, openinula-vtable, docs

fix: add string type to width and height of BaseTableProps
  packages/react-vtable/src/tables/base-table.tsx
Labels: react-vtable

docs: add moveToExtendDateRange option
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3199-bug-listtable-rowHeight-hide_2024-12-31-06-36.json
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/3199-bug-listtable-rowHeight-hide_2024-12-31-06-37.json
Labels: chore

fix: columns is all hide not generate cell ids #3199
  common/changes/@visactor/vtable/3199-bug-listtable-rowHeight-hide_2024-12-31-06-36.json
  common/changes/@visactor/vtable/3199-bug-listtable-rowHeight-hide_2024-12-31-06-37.json
Labels: chore

feat: add keepColumnWidthChange props in react-vtable
  common/changes/@visactor/vtable/fix-react-props-update_2024-12-31-07-46.json
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/list-table/list-component.tsx
  packages/react-vtable/src/tables/base-table.tsx
  packages/vtable/src/ListTable.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, react-vtable, chore

chore: update vchart version
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: keepColumnWidthChange support pivot-table
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/pivot-table/pivot-comonent.tsx
  packages/react-vtable/demo/src/pivot-table/pivot-data.json
  packages/react-vtable/src/tables/base-table.tsx
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, react-vtable

feat: tasksShowMode sub_task mode support createSchedule #3235
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Separate.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

build: prelease version 1.14.4-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: show create schedule button
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Arrange.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

feat: groupby support array config
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-groupby-value-get_2025-01-02-07-31.json
Labels: chore

feat: lodash import get
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/tsconfig.json
Labels: vtable, typescript

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-groupby-value-get_2025-01-02-08-34.json
Labels: chore

fix: fix frozen update problem in react-dom-component
  common/changes/@visactor/vtable/fix-frozen-update-in-reacr-vtable_2025-01-02-09-08.json
  packages/react-vtable/demo/src/component/custom-layout-dom.tsx
  packages/vtable/src/scenegraph/layout/frozen-react.ts
Labels: vtable, react-vtable, chore

feat: taskshowmode sub_task support create schedule #3235
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Arrange.ts
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Inline.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
