Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

docs: add documentation for progressAdjustable feature
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
Labels: docs

fix: undefine cell value
  packages/vtable-plugins/src/auto-fill/auto-fill-helper.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
  packages/vtable-plugins/src/auto-fill/rules.ts
Labels: none

fix: fast fill maxrows
  packages/vtable-plugins/src/auto-fill/auto-fill-helper.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
Labels: none

docs: auto fill eh docs
  docs/assets/guide/en/plugin/auto-fill.md
  docs/assets/guide/zh/plugin/auto-fill.md
Labels: docs

chore: implement ctrl/cmd cell with formula calculate
  packages/vtable-sheet/src/components/formula-range-selector.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-08-31-14-25.json
Labels: chore

docs: add vtable-sheet demo
  docs/assets/demo/menu.json
  docs/assets/demo/zh/vtable-sheet/sheet.md
  docs/assets/option/zh/table/sheet.md
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/ts-types/base.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, docs

fix: add isReleased check before resize in initialization
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable

chore: add rush change log
  common/changes/@visactor/vtable/fix-setTimeout_2025-09-01-11-45.json
Labels: chore

fix: resolve bugs where cells with numeric types cannot be filtered properly
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

chore: add rush change log
  common/changes/@visactor/vtable/fix-setTimeout_2025-09-01-11-45.json
Labels: chore

build: prelease version 1.19.9-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: prevent error on Enter key in value filter options
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

fix: improve filter icon interaction
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

chore: add rush change log
  common/changes/@visactor/vtable/feat-lark_base_2025-09-02-03-48.json
Labels: chore

feat: formula bar support drag cell range
  packages/vtable-editors/src/types.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/formula-editor.ts
  packages/vtable-sheet/src/components/formula-range-selector.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/managers/cell-highlight-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/test/formula-complete.test.ts
  packages/vtable-sheet/src/test/formula-range-selector.test.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

feat: add the apis and opstimize the zoomScale
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable-gantt/src/ts-types/zoom-scale.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: some function adapt
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin4.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin8.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin9.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, docs

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin9.ts
  packages/vtable-plugins/demo/menu.ts
Labels: none

feat: add the apis and opstimize the zoomScale
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/ts-types/zoom-scale.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: update @visactor/vrender dependencies to 0.22.17
  common/changes/@visactor/vtable/feat-lark_base_2025-09-03-04-32.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

feat: support detailPath when pick vchart
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-support-detailPath-when-pick-vchart_2025-09-03-08-27.json
Labels: chore

build: prelease version 1.19.9-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: top formula input support click and ctrl key
  packages/vtable-sheet/src/components/formula-range-selector.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/test/formula-range-selector.test.ts
Labels: none

docs: update change log
  docs/assets/changelog/zh/release.md
Labels: docs

feat: add the demo and options
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/event/scroll.ts
Labels: none

feat: add the demo and options
  docs/assets/demo/en/gantt/gantt-zoom.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-zoom.md
  docs/assets/option/en/common/gantt/zoom-scale.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/common/gantt/zoom-scale.md
  docs/assets/option/zh/table/gantt.md
Labels: docs

feat: opstimize the demo and options
  docs/assets/demo/en/gantt/gantt-zoom.md
  docs/assets/demo/zh/gantt/gantt-zoom.md
  docs/assets/option/en/common/gantt/zoom-scale.md
  docs/assets/option/zh/common/gantt/zoom-scale.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
Labels: docs

chore: set default value of taskBarProgressAdjustable to false
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

fix: formula use custom cell style
  packages/vtable-sheet/src/managers/cell-highlight-manager.ts
Labels: none

fix: optimize group init hierarchy performance
  packages/vtable/src/data/DataSource.ts
Labels: vtable

feat: set reuse false when chart updateSpec
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
Labels: vtable

build: prelease version 1.19.9-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: formula code logic
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/event/event-manager.ts
  packages/vtable-sheet/src/formula/cell-highlight-manager.ts
  packages/vtable-sheet/src/formula/formula-autocomplete.ts
  packages/vtable-sheet/src/formula/formula-editor.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/formula/formula-ui-manager.ts
  packages/vtable-sheet/src/formula/index.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/test/formula-range-selector.test.ts
  packages/vtable-sheet/src/ts-types/events.ts
Labels: none

fix: add isReleased check before resize in initialization
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable

chore: add rush change log
  common/changes/@visactor/vtable/fix-setTimeout_2025-09-01-11-45.json
Labels: chore

feat: support detailPath when pick vchart
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-support-detailPath-when-pick-vchart_2025-09-03-08-27.json
Labels: chore

feat: set reuse false when chart updateSpec
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
