Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: add _disableColumnAndRowSizeRound support into getRowsHeight
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

build: prelease version 1.22.9-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: add _disableColumnAndRowSizeRound support into getRowsHeight
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

docs: update edit guide
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
Labels: docs

fix: swtich tab after update styles
  packages/vtable-plugins/src/filter/filter-toolbar.ts
Labels: none

fix: swtich tab after update styles
  packages/vtable-plugins/src/filter/filter-toolbar.ts
Labels: none

chore: lint error
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

chore: update dependencies version
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: github ci unittest can not pass
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

fix: github ci error fix code error
  .github/workflows/release.yml
  packages/openinula-vtable/src/components/pivot/pivot-dimension.tsx
  packages/openinula-vtable/src/containers/withContainer.tsx
  packages/openinula-vtable/src/context/table.tsx
  packages/openinula-vtable/src/tables/base-table.tsx
  packages/openinula-vtable/src/tables/list-table.tsx
  packages/openinula-vtable/src/tables/pivot-chart.tsx
  packages/openinula-vtable/src/tables/pivot-table.tsx
  packages/react-vtable/src/components/avatar/avatar.tsx
  packages/react-vtable/src/containers/withContainer.tsx
  packages/react-vtable/src/context/table.tsx
  packages/react-vtable/src/table-components/base-component.tsx
  packages/react-vtable/src/table-components/pivot/pivot-dimension.tsx
  packages/react-vtable/src/tables/base-table.tsx
  packages/react-vtable/src/tables/list-table-simple.tsx
  packages/react-vtable/src/tables/list-table.tsx
  packages/react-vtable/src/tables/pivot-chart.tsx
  packages/react-vtable/src/tables/pivot-table-simple.tsx
  packages/react-vtable/src/tables/pivot-table.tsx
  packages/vtable-calendar/src/table/table-option.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/event/touch.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/plugins/interface.ts
  packages/vtable-gantt/src/plugins/plugin-manager.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/drag-order-line.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/scenegraph/tooltip.ts
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vue-vtable/src/edit/editor.ts
  packages/vue-vtable/src/edit/util.ts
  test-release-build.sh
  tools/bundler/src/tasks/modules.ts
Labels: react-vtable, openinula-vtable, bundler, chore

fix: github ci error fix code error
  packages/vtable-sheet/src/formula/formula-editor.ts
Labels: none

build: prelease version 1.22.9-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: github release ci fix
  packages/react-vtable/src/components/avatar/avatar.tsx
  packages/react-vtable/src/tables/list-table-simple.tsx
  packages/react-vtable/src/tables/list-table.tsx
  packages/react-vtable/src/tables/pivot-chart.tsx
  packages/react-vtable/src/tables/pivot-table-simple.tsx
  packages/react-vtable/src/tables/pivot-table.tsx
  packages/vtable-gantt/src/Gantt.ts
Labels: react-vtable

build: prelease version 1.22.9-alpha.4
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

chore: release workflow add error log
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

build: prelease version 1.22.9-alpha.5
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: mcp test file
  common/config/rush/pnpm-lock.yaml
  packages/vtable-mcp-server/package.json
  packages/vtable-mcp-server/scripts/E2E_TEST_README.md
  packages/vtable-mcp-server/scripts/e2e-test.js
  packages/vtable-mcp/__tests__/TESTING.md
  packages/vtable-mcp/__tests__/test-utils.ts
  packages/vtable-mcp/__tests__/tools/cell-operations.test.ts
  packages/vtable-mcp/__tests__/tools/operate-data.test.ts
  packages/vtable-mcp/__tests__/tools/range-operations.test.ts
  packages/vtable-mcp/__tests__/tools/style-operations.test.ts
  packages/vtable-mcp/jest.config.js
  packages/vtable-mcp/package.json
  packages/vtable-mcp/src/plugins/tools/cell-operations.ts
  packages/vtable-mcp/src/plugins/tools/operate-data.ts
  packages/vtable-mcp/tsconfig.json
Labels: test, jest, typescript, chore

docs: generate changelog of release v1.22.9
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: mcp client parse data error
  packages/vtable-mcp/ARCHITECTURE.md
  packages/vtable-mcp/jest.config.js
  packages/vtable-mcp/src/mcp-config.ts
  packages/vtable-mcp/src/mcp-tool-registry.ts
  packages/vtable-mcp/src/plugins/mcp-client.ts
  packages/vtable-mcp/tsconfig.json
  packages/vtable-mcp/tsconfig.test.json
Labels: jest, typescript

feat: add selectedStateFilter for pivotChart
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-pie_chart_linkage_2025-12-29-09-19.json
Labels: chore

build: prelease version 1.22.10-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: rose pivotchart show indicator title problem
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-indicatorTitleShowPivotChart_2025-12-30-03-40.json
Labels: chore

feat: pie chart linkage
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/examples/pivot-chart/linkage-pivotChart-horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart-pie-legend.ts
  packages/vtable/package.json
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: support cell values change event and improve delete/update records handling
  packages/vtable/examples/editor/custom-date-editor.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/core/index.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/feat-support_cell_values_change-1767100301.json
Labels: chore

feat: support cell values change event and improve delete/update records handling
  packages/vtable/examples/editor/custom-date-editor.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/core/index.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/feat-support_cell_values_change-1767100301.json
Labels: chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-support_cell_values_change_from_1.22.8_2025-12-31-07-34.json
Labels: chore

build: prelease version 1.22.9-alpha.15
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: prepareEdit logic occor some bug
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/formula/formula-editor.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-edit_cell_trigger_error_prepareEditLogic_2025-12-31-10-00.json
Labels: chore

fix: cacheLastSelectedCellEditor set value validate
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable

feat(gantt): Add configurable options for the distance from the dependency line to the task bar
  common/changes/@visactor/vtable-gantt/feature-distanceToTaskBar.json
  docs/assets/demo/en/gantt/gantt-dependency-link-line.md
  docs/assets/demo/zh/gantt/gantt-dependency-link-line.md
  docs/assets/option/en/common/gantt/dependency-line.md
  docs/assets/option/zh/common/gantt/dependency-line.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs, chore

feat: pivotchart brush state logic
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-brushState.ts
  packages/vtable/examples/pivot-chart/pivotChart-brushState1.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: pivotchart brush state logic
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

feat: add cancellableThrottle function
  packages/vtable/examples/pivot-chart/pivotChart-brushState.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/tools/util.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

fix: distinguish null and empty string values in column dimensions
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable
