Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix: isColumnHeader api judement logic #2491
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/state/select/update-position.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2491-feature-justSelectBody_2024-10-23-04-12.json
Labels: chore

fix: rowSeriesNumber when be frozen can render customlayout #2653
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2653-bug-frozencolcount-rowseriesnumber_2024-10-23-09-36.json
Labels: chore

fix: fix export in vrender.ts
  packages/vtable/src/vrender.ts
Labels: vtable

fix: fix CONTEXTMENU auto hide
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

feat: add maxHeight in menu container #2602
  common/changes/@visactor/vtable/feat-menu-scroll_2024-10-14-11-35.json
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
  packages/vtable/src/components/menu/dom/logic/MenuElementStyle.ts
Labels: vtable, chore

fix: disable cellInnerBorder when no frame border
  common/changes/@visactor/vtable/fix-cell-border_2024-10-22-06-58.json
  packages/vtable/src/scenegraph/utils/cell-border-stroke-width.ts
  packages/vtable/src/tools/style.ts
Labels: vtable, chore

build: prelease version 1.9.2-alpha.5
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add CustomEventHandler in vtable-calendar
  packages/vtable-calendar/demo/list/list.ts
  packages/vtable-calendar/src/custom/custom-handler.ts
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-calendar/src/table/table-option.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

fix: fix check state update #2667
  common/changes/@visactor/vtable/fix-check-state-update_2024-10-25-11-40.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable, chore

fix: add selected_cell event in select-all #2664
  common/changes/@visactor/vtable/fix-select-all-event_2024-10-25-12-11.json
  packages/vtable/src/event/event.ts
Labels: vtable, chore

fix: fix list-editor space problem
  common/changes/@visactor/vtable/fix-list-editor_2024-10-28-08-52.json
  docs/assets/demo/zh/edit/edit-cell.md
  packages/vtable-editors/src/list-editor.ts
Labels: docs, chore

refactor: custom merge cell ignore check state jude #2683
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2683-refactor-customMerge-checkState_2024-10-28-09-15.json
Labels: chore

fix: add event in react-vtable
  common/changes/@visactor/vtable/fix-react-event_2024-10-28-09-24.json
  packages/react-vtable/src/eventsUtils.ts
Labels: react-vtable, chore

fix: fix disableRowSeriesNumberSelect in select-all #2665
  common/changes/@visactor/vtable/fix-select-all-series-number_2024-10-28-09-43.json
  packages/vtable/src/state/select/update-position.ts
Labels: vtable, chore

feat: add event changing_header_position
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  packages/vtable-gantt/examples/gantt/gantt-dependency.ts
  packages/vtable-gantt/examples/gantt/gantt-editor.ts
  packages/vtable-gantt/examples/gantt/gantt-minMaxDate.ts
  packages/vtable-gantt/examples/gantt/gantt-noLeftListTable.ts
  packages/vtable-gantt/examples/gantt/gantt-splitLine.ts
  packages/vtable-gantt/examples/gantt/gantt-style.ts
  packages/vtable-gantt/examples/gantt/gantt-tree.ts
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/scenegraph/component/cell-mover.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/2680-feature-gantt-drag-taskbar-order_2024-10-28-10-55.json
Labels: chore

fix: change pointerupoutside event callback #2674 #2659
  common/changes/@visactor/vtable/fix-pointerupoutside_2024-10-28-12-12.json
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable, chore

refactor: paste cell value should use editor validateValidate api #2691
  packages/vtable-editors/src/types.ts
  packages/vtable/src/core/record-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2691-paste-cell-value-validate_2024-10-29-06-41.json
Labels: chore

fix: fix record generate function
  packages/vtable-calendar/src/date-util.ts
  packages/vtable-calendar/src/table/table-option.ts
Labels: none

fix: remove year&month for debug
  packages/vtable-calendar/src/date-util.ts
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-calendar/src/style.ts
Labels: none

feat: contextMenuItems add table params
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/openinula-vtable/src/components/component/menu.tsx
  packages/react-vtable/src/table-components/component/menu.tsx
  packages/vtable/examples/list/list-title.ts
  packages/vtable/src/components/menu/dom/MenuHandler.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, react-vtable, openinula-vtable, docs

fix: when has empty tip scrollbar can not be clicked #2690
  packages/vtable/src/components/empty-tip/empty-tip.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2690-bug-emptyTip-ScrollBartoside_2024-10-29-08-44.json
Labels: chore

feat: optimize custom config in vtable-calendar
  packages/vtable-calendar/demo/list/list.ts
  packages/vtable-calendar/demo/vite.config.js
  packages/vtable-calendar/src/custom/custom-handler.ts
  packages/vtable-calendar/src/custom/custom-layout.ts
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-calendar/src/table/table-option.ts
Labels: none

docs: update event docs
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
Labels: docs

feat: add custom event update in vtable-calendar
  packages/vtable-calendar/demo/list/list.ts
  packages/vtable-calendar/src/custom/custom-handler.ts
  packages/vtable-calendar/src/custom/custom-layout.ts
  packages/vtable-calendar/src/month-calendar.ts
Labels: none

fix: when field set array，record no corresponding field，occur error #2702
  packages/vtable/src/tools/util.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2702-bug-field-set-array-error_2024-10-29-10-35.json
Labels: chore

fix: fix title resize in adaptive mode #2704
  common/changes/@visactor/vtable/fix-title-resize_2024-10-29-13-01.json
  packages/vtable/src/components/title/title.ts
Labels: vtable, chore

fix: fix animation config in TableAnimatinManager
  packages/vtable/src/core/animation.ts
Labels: vtable

fix: fix type problem in vtable-calendar
  packages/vtable-calendar/src/custom/custom-layout.ts
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable/src/ts-types/animation/index.ts
  packages/vtable/src/ts-types/index.ts
Labels: vtable

feat: add columnWidthConfig to set width by dimensions #2696
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-column-width.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2696-feature-pivot-table-columnWdith_2024-10-30-03-49.json
Labels: chore

feat: add columnWidthConfig to set width by dimensions #2696
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: vtable

fix: when has gantt and table same time internal theme should not be changed #2708
  packages/vtable-gantt/examples/gantt/gantt-listTable.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable/src/themes/theme.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2708-refactor-gantt-change-vtable-theme_2024-10-30-06-58.json
Labels: chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
