Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: vtable, chore

feat: resize taskbar recreate nodes
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/tools/util.ts
Labels: none

chore: reset pnpm-lock
  common/config/rush/pnpm-lock.yaml
Labels: chore

feat: add dependency link point click event
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

feat: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

feat: add parentElement in menu option
  common/changes/@visactor/vtable/fix-carousel-config_2024-11-26-08-11.json
  packages/vtable/src/components/menu/dom/logic/MenuContainer.ts
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

fix: fix functional padding update #2774
  common/changes/@visactor/vtable/fix-padding-func_2024-11-20-07-15.json
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: vtable, chore

feat: templateLink support function #2847
  common/changes/@visactor/vtable/feat-templateLink-func_2024-11-20-08-59.json
  docs/assets/guide/en/cell_type/link.md
  docs/assets/guide/zh/cell_type/link.md
  docs/assets/option/en/column/link-column-type.md
  docs/assets/option/en/dimension/link-dimension-type.md
  docs/assets/option/en/indicator/link-indicator-type.md
  docs/assets/option/zh/column/link-column-type.md
  docs/assets/option/zh/dimension/link-dimension-type.md
  docs/assets/option/zh/indicator/link-indicator-type.md
  packages/vtable/src/event/media-click.ts
  packages/vtable/src/ts-types/list-table/define/composite-define.ts
  packages/vtable/src/ts-types/list-table/define/link-define.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/pivot-table/dimension/link-dimension.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
  packages/vtable/src/ts-types/pivot-table/indicator/composite-indicator.ts
  packages/vtable/src/ts-types/pivot-table/indicator/link-indicator.ts
Labels: vtable, docs, chore

feat: cell support multi-custom-style #2841
  common/changes/@visactor/vtable/feat-multi-custom-style_2024-11-21-07-17.json
  packages/vtable/examples/style/custom-cell-style.ts
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable, chore

chore: remove react in react-vtable umd file
  packages/react-vtable/bundler.config.js
Labels: react-vtable, bundler

feat: add position in tooltip config #2869
  common/changes/@visactor/vtable/feat-tooltip-position_2024-11-22-07-21.json
  packages/vtable/examples/interactive/tooltip.ts
  packages/vtable/src/components/tooltip/TooltipHandler.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

docs: generate changelog of release v1.11.2
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: 补充点击连接点事件的文档
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
Labels: docs

feat: add show mode sub_tasks_compact
  packages/vtable-gantt/examples/gantt/gantt-Arrange-customLayout.ts
  packages/vtable-gantt/examples/gantt/gantt-Compact-customLayout.ts
  packages/vtable-gantt/examples/gantt/gantt-Inline-customLayout.ts
  packages/vtable-gantt/examples/gantt/gantt-Separate-customLayout.ts
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Separate.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/data/DataSource.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: add @visactor/vtable-plugins
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/.eslintrc.js
  packages/vtable-plugins/README.md
  packages/vtable-plugins/bundler.config.js
  packages/vtable-plugins/demo/index.html
  packages/vtable-plugins/demo/list/list.ts
  packages/vtable-plugins/demo/main.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/pivot/pivot-basic.ts
  packages/vtable-plugins/demo/style.css
  packages/vtable-plugins/demo/vite.config.js
  packages/vtable-plugins/package.json
  packages/vtable-plugins/setup-mock.js
  packages/vtable-plugins/src/carousel-animation.ts
  packages/vtable-plugins/src/custom-cell-style.ts
  packages/vtable-plugins/src/header-highlight.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/invert-highlight.ts
  packages/vtable-plugins/src/list-tree-stick-cell.ts
  packages/vtable-plugins/tscofig.eslint.json
  packages/vtable-plugins/tsconfig.json
  packages/vtable/jest.config.js
  packages/vtable/package.json
  packages/vtable/src/ListTable-all.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/style-helper.ts
  packages/vtable/src/index.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/tsconfig.eslint.json
  rush.json
Labels: vtable, eslint, jest, typescript, bundler, chore

docs: supplement icon register and gantt-customlayout demo #2921
  docs/assets/demo/en/gantt/gantt-customLayout.md
  docs/assets/demo/zh/gantt/gantt-customLayout.md
  docs/assets/guide/en/custom_define/custom_icon.md
  docs/assets/guide/zh/custom_define/custom_icon.md
Labels: docs

fix: frozen chart not update when resize row or column width #2876
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix: add deleted code by mistake
  packages/vtable-gantt/src/event/event-manager.ts
Labels: none

fix: bugserver case error gantt setRecords and isNeedInitHeaderCheckedStateFromRecord
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

fix: frozen chart not update when resize row or column width #2876
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2876-bug-frozen-vchart-update_2024-11-27-08-56.json
Labels: chore

fix: fix custom-component update in deleteRecords api
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/component/custom-layout.tsx
  packages/react-vtable/src/components/radio/radio.tsx
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
  packages/vtable/src/ListTable.ts
  packages/vtable/src/components/react/react-custom-layout.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/record-helper.ts
Labels: vtable, react-vtable

chore: update rush change
  common/changes/@visactor/vtable/fix-custom-component-update_2024-11-27-12-07.json
Labels: chore

fix: add judgement in emptyTip
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable

feat: change disableselect api function
  .gitignore
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/column/base-column-type.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
Labels: vtable, docs

docs: update auto-wrap-text demo
  docs/assets/demo/en/basic-functionality/auto-wrap-text.md
  docs/assets/demo/zh/basic-functionality/auto-wrap-text.md
Labels: docs

fix: fix src package name of vtable
  packages/react-vtable/demo/vite.config.ts
  packages/react-vtable/src/components/radio/radio.tsx
  packages/react-vtable/src/table-components/component/menu.tsx
  packages/vtable-calendar/src/event/type.ts
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-export/src/excel/index.ts
  packages/vtable-plugins/src/custom-cell-style.ts
  packages/vtable/examples/vite.config.js
Labels: vtable, react-vtable

feat: enhance mergeCell functionality to support more detailed conditions
  packages/vtable/examples/list/list-merge-cell.ts
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
  packages/vtable/src/ts-types/common.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-merge-cell_2024-11-28-04-27.json
Labels: chore

docs: update docs
  docs/assets/guide/zh/basic_function/merge_cell.md
  docs/assets/option/zh/column/text-column-type.md
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-merge-cell_2024-11-28-04-28.json
Labels: chore

fix: when arrange custom style cell range is beyond table ange occor error #2932
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable

docs: update row series number guide and auto wrap text guide
  docs/assets/guide/en/basic_function/auto_wrap_text.md
  docs/assets/guide/en/basic_function/row_series_number.md
  docs/assets/guide/zh/basic_function/auto_wrap_text.md
  docs/assets/guide/zh/basic_function/row_series_number.md
Labels: docs

docs: add contributing docs
  docs/assets/contributing/en/1-Setting-Up-the-Development-Environment.md
  docs/assets/contributing/en/2-Howto Submit an Issue.md
  docs/assets/contributing/en/3-How to Contribute Documentation.md
  docs/assets/contributing/en/4-How to Contribute to a Demo.md
  docs/assets/contributing/en/5-How to Contribute Code.md
  docs/assets/contributing/menu.json
  docs/assets/contributing/zh/1-Setting-Up-the-Development-Environment.md
  docs/assets/contributing/zh/2-Howto Submit an Issue.md
  docs/assets/contributing/zh/3-How to Contribute Documentation.md
  docs/assets/contributing/zh/4-How to Contribute to a Demo.md
  docs/assets/contributing/zh/5-How to Contribute Code.md
  docs/menu.json
  docs/vite.config.js
Labels: docs

fix: set vtable peerDependencies in vtable-plugins
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/package.json
Labels: chore

refactor: when columnWidthConfig set wrong dimensions should judge this case #2948
  packages/vtable/src/PivotTable.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2948-refactor-columnwidthconfig_2024-11-28-10-24.json
Labels: chore

chore: update rush change
  common/changes/@visactor/vtable/fix-custom-component-update_2024-11-27-12-07.json
Labels: chore

fix: add judgement in emptyTip
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable

fix: fix custom-component update in deleteRecords api
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/component/custom-layout.tsx
  packages/react-vtable/src/components/radio/radio.tsx
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
  packages/vtable/src/ListTable.ts
  packages/vtable/src/components/react/react-custom-layout.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/record-helper.ts
Labels: vtable, react-vtable
