Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

docs: update changlog of rush
  common/changes/@visactor/vtable/4618-bug-rowSeriesNumber-selectRow-withMergeCell_2025-10-28-06-30.json
Labels: chore

refactor: formula context support lower case character #4628
  packages/vtable-sheet/src/formula/__tests__/formula-case-correction.test.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/4628-bug-sheet-formula-case-sensitivity_2025-10-28-08-06.json
Labels: chore

feat: drag row order to update formula cell
  common/config/rush/pnpm-lock.yaml
  packages/vtable-sheet/__tests__/row-position-change-edge-cases.1test.ts
  packages/vtable-sheet/__tests__/row-position-change-formula-engine.1test.ts
  packages/vtable-sheet/__tests__/row-position-change-formula-manager.1test.ts
  packages/vtable-sheet/__tests__/row-position-change-simple.test.ts
  packages/vtable-sheet/__tests__/row-position-change-worksheet.1test.ts
  packages/vtable-sheet/__tests__/row-vs-column-position-change-comparison.1test.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable/package.json
Labels: vtable, test, chore

fix: rows height drag order api exchangeOrder
  packages/vtable/src/layout/row-height-map.ts
Labels: vtable

chore: update vrender version
  .vscode/launch.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/__tests__/formula-case-correction.test.ts
  packages/vtable-sheet/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, test, chore

fix: test case use file
  packages/vtable-sheet/__tests__/formula-engine/test-specific-case.fs-1test.ts
Labels: none

docs: generate changelog of release v1.22.2
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: auto headerExpandLevel hierarchyState adaptation
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
Labels: none

改进 updateFilterIcons 以实现更好的筛选图标逻辑
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

feat: support boxPlot for PivotChart
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-boxPlot.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/new-data-set.ts
Labels: vtable

feat: support boxPlot horizontal
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-boxPlot-horizontal.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-boxplot-pivotChart_2025-10-30-08-37.json
Labels: chore

docs: update change log
  common/changes/@visactor/vtable/feat-boxplot-pivotChart_2025-10-30-08-37.json
Labels: chore

build: prelease version 1.22.3-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: api getCellAdressByHeaderPath
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

build: prelease version 1.18.11-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-addApi-getCellRowHeaderFullPaths_2025-10-14-09-05.json
Labels: chore

fix: api getCellAdressByHeaderPath
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

feat: add api getCellRowHeaderFullPaths for pivotTable
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/examples/pivot-analysis/pivot-analysis.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

fix: api BaseTableAPI define
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

fix: getCellAdressByHeaderPath logic
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix: vtable-sheet drag column position #4645
  packages/vtable-sheet/__tests__/column-position-change.test.ts
  packages/vtable-sheet/__tests__/row-position-change-simple.test.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
Labels: test

fix(table-carousel-animation): handle frozen rows in animation calculation
  packages/vtable-plugins/demo/table-carousel-animation/table-carousel-animation.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
Labels: none

fix: vtable-sheet drag column position #4645
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/state/cell-move/adjust-header.ts
  packages/vtable/src/state/cell-move/index.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4645-bug-vtable-sheet-drag-columnheader-bugs_2025-10-31-07-48.json
Labels: chore

feat(styles): add style interfaces for radio, button, switch and checkbox
  packages/vtable/src/body-helper/style/ButtonStyle.ts
  packages/vtable/src/body-helper/style/CheckboxStyle.ts
  packages/vtable/src/body-helper/style/RadioStyle.ts
  packages/vtable/src/body-helper/style/SwitchStyle.ts
Labels: vtable

feat: 完善在列移动后更新 _widthResizedColMap 的逻辑
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: 修复列移动后 _widthResizedColMap 更新逻辑的bug
  packages/vtable/__tests__/adjust-header-extended.test.ts
  packages/vtable/__tests__/adjust-header.test.ts
  packages/vtable/docs/bug-fix-column-move-width-map.md
  packages/vtable/src/state/cell-move/adjust-header-fixed.ts
  packages/vtable/src/state/cell-move/adjust-header.ts
Labels: vtable, test

fix(table-carousel-animation): handle frozen rows in animation calculation
  packages/vtable-plugins/src/carousel-animation.ts
Labels: none

feat(styles): add style interfaces for radio, button, switch and checkbox
  packages/vtable/src/body-helper/style/CheckboxStyle.ts
  packages/vtable/src/body-helper/style/RadioStyle.ts
Labels: vtable

build: prelease version 1.13.3-alpha.10
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix(table-carousel-animation): handle frozen rows in animation calculation
  packages/vtable-plugins/demo/table-carousel-animation/table-carousel-animation.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
Labels: none

feat(styles): add style interfaces for radio, button, switch and checkbox
  packages/vtable/src/body-helper/style/ButtonStyle.ts
  packages/vtable/src/body-helper/style/CheckboxStyle.ts
  packages/vtable/src/body-helper/style/RadioStyle.ts
  packages/vtable/src/body-helper/style/SwitchStyle.ts
Labels: vtable

chore: add change log
  common/changes/@visactor/vtable/pre-release-1.18.3-alpha.2_2025-11-03-08-47.json
Labels: chore

build: prelease version 1.18.4-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: save column width for vtableSheet #4653
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable/__tests__/adjust-width-resized-col-map-fixed.test.ts
  packages/vtable/__tests__/adjust-width-resized-col-map.test.ts
  packages/vtable/examples/list/list.ts
  packages/vtable/examples/pivot-chart/pivotChart-histogram.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
Labels: vtable, test

fix(table-carousel-animation): handle frozen rows in animation calculation
  packages/vtable-plugins/demo/table-carousel-animation/table-carousel-animation.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
Labels: none

feat(styles): add style interfaces for radio, button, switch and checkbox
  packages/vtable/src/body-helper/style/ButtonStyle.ts
  packages/vtable/src/body-helper/style/CheckboxStyle.ts
  packages/vtable/src/body-helper/style/RadioStyle.ts
  packages/vtable/src/body-helper/style/SwitchStyle.ts
Labels: vtable
