Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

feat: table series number
  packages/vtable-plugins/demo/combine-plugins/combine-plugins.ts
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/table-series-number.ts
Labels: none

feat: support sheet list switching
  packages/vtable-plugins/demo/style.css
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/styles/sheet-tab.css
Labels: none

fix: reset url to fix build error
  packages/vtable/examples/icon/icon-register.ts
Labels: vtable

feat: table series number click corner
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
Labels: vtable

build: prelease version 1.13.3-alpha.8
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: prevent crash on PivotTable row move
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-moveRow.ts
  packages/vtable/src/state/cell-move/index.ts
Labels: vtable

fix: table series style arguments
  docs/assets/guide/en/plugin/table-series-number.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/table-series-number.md
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/table-series-number.ts
Labels: docs

fix: paste isCanchange validate logic
  packages/vtable/src/core/record-helper.ts
Labels: vtable

fix: click to edit cell not work with groupBy #4172
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4170-bug-svg-replace_2025-07-08-09-01.json
Labels: chore

feat: add contextmenuReturnAllSelectedCells api #4064
  docs/assets/guide/en/data/async_data.md
  docs/assets/guide/zh/data/async_data.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/4064-feature-contextmenu-click-event-arguments_2025-07-08-10-22.json
Labels: chore

fix: startDate and endDate null
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

fix: animation logic
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo/en/animation/carousel-animation.md
  docs/assets/demo/zh/animation/carousel-animation.md
  docs/assets/guide/en/Load_on_Demand.md
  docs/assets/guide/zh/Load_on_Demand.md
  packages/vtable/examples/animation/scroll-to.ts
  packages/vtable/src/ListTable-all.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable-all.ts
  packages/vtable/src/components/index.ts
Labels: vtable, docs, chore

build: prelease version 1.19.3-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: click cell event trigger time #4172
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

docs: supplement icon register
  docs/assets/guide/en/custom_define/custom_icon.md
  docs/assets/guide/zh/custom_define/custom_icon.md
Labels: docs

fix: click cell event trigger time
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

feat: table series number docs and add event
  docs/assets/api/en/event/event.md
  docs/assets/api/en/methods.md
  docs/assets/api/zh/event/event.md
  docs/assets/api/zh/methods.md
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/examples/vite.config.js
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

fix: click cell event trigger time #4172
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

chore: update vrender verison
  common/config/rush/pnpm-lock.yaml
  docs/vite.config.js
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/demo/vite.config.js
  packages/vtable-sheet/examples/vite.config.js
  packages/vtable/package.json
Labels: vtable, docs, chore

Fix: Add clearSelected() to BaseTableAPI interface (#4180)
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: generate changelog of release v1.19.3
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

feat: add table
  packages/vtable/examples/master/test.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/MasterDetailTable-all.ts
  packages/vtable/src/MasterDetailTable-simple.ts
  packages/vtable/src/MasterDetailTable.ts
  packages/vtable/src/index.ts
  packages/vtable/src/layout/master-detail-layout.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: add saveToConfig api
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/managers/SheetManager.ts
  packages/vtable-sheet/src/state/state-manager.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

feat: support sheet resize
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/event/event-manager.ts
Labels: none

fix: fix adjust the already set width or height when resizing
  packages/vtable-sheet/src/components/VTableSheet.ts
Labels: none

feat: remove redundant changes
  packages/vtable-plugins/demo/style.css
Labels: none

fix: note url to avoid test error
  packages/vtable/src/icons.ts
Labels: vtable

build: prelease version 1.13.3-alpha.9
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor(sheet): refactor sheet active and update
  packages/vtable-sheet/src/components/VTableSheet.ts
Labels: none

feat: context menu plugin
  packages/vtable-plugins/demo/context-menu/context-menu.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/demo/vite.config.js
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/index.ts
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
  packages/vtable-plugins/src/contextmenu/styles.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

feat: sheet tab overflow ellipsis
  packages/vtable-sheet/src/styles/sheet-tab.css
Labels: none

feat: sheet menu item style
  packages/vtable-sheet/src/styles/sheet-tab.css
Labels: none

feat: add table
  packages/vtable/examples/master/test.ts
  packages/vtable/src/MasterDetailTable.ts
  packages/vtable/src/core/master-detail-row-manager.ts
  packages/vtable/src/layout/master-detail-layout.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: add table
  packages/vtable/examples/master/test.ts
  packages/vtable/src/core/master-detail-row-manager.ts
Labels: vtable

feat: add HyperFormula & refactor formulat-manager
  common/config/rush/pnpm-lock.yaml
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/package.json
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/event/event-target.ts
  packages/vtable-sheet/src/formula/a
  packages/vtable-sheet/src/index.ts
  packages/vtable-sheet/src/managers/FormulaManager.ts
  packages/vtable-sheet/src/managers/filter-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/managers/sheet-manager.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-06-29-17-24.json
Labels: chore

feat: sync formula when user select
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/styles/sheet.css
Labels: none

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
