Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix(sheet): complete object record support
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
Labels: none

fix: support context menu on canvas blank area
  common/changes/@visactor/vtable-plugins/fix-issue-5215-context-menu-canvas_2026-07-28-00-00.json
  common/changes/@visactor/vtable/fix-issue-5215-plugin-init_2026-07-28-00-00.json
  packages/vtable-plugins/__tests__/context-menu/handle-menu-helper.test.ts
  packages/vtable-plugins/demo/context-menu/issue-5215-context-menu-canvas.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable/src/plugins/interface.ts
  packages/vtable/src/plugins/plugin-manager.ts
Labels: vtable, chore

fix: support checkbox state by record index
  common/changes/@visactor/vtable/fix-issues-5211-checkbox-record-index_2026-07-28-00-00.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/__tests__/listTable-checkbox-record-index.test.ts
  packages/vtable/examples/list/issue-5211-tree-checkbox-record-index.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, test, docs, chore

fix: refresh vue custom layout after sort
  common/changes/@visactor/vue-vtable/fix-issue-5150-vue-custom-layout-sort_2026-07-28-00-00.json
  packages/vue-vtable/demo/src/App.vue
  packages/vue-vtable/demo/src/table/gramatical/composition/Issue5150CustomLayoutSort.vue
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: chore

fix: support context menu on canvas blank area
  common/changes/@visactor/vtable-plugins/fix-issue-5215-context-menu-canvas_2026-07-28-00-00.json
  common/changes/@visactor/vtable/fix-issue-5215-plugin-init_2026-07-28-00-00.json
  packages/vtable-plugins/__tests__/context-menu/handle-menu-helper.test.ts
  packages/vtable-plugins/demo/context-menu/issue-5215-context-menu-canvas.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable/src/plugins/interface.ts
  packages/vtable/src/plugins/plugin-manager.ts
Labels: vtable, chore

fix: support checkbox state by record index
  common/changes/@visactor/vtable/fix-issues-5211-checkbox-record-index_2026-07-28-00-00.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/__tests__/listTable-checkbox-record-index.test.ts
  packages/vtable/examples/list/issue-5211-tree-checkbox-record-index.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, test, docs, chore

fix: refresh vue custom layout after sort
  common/changes/@visactor/vue-vtable/fix-issue-5150-vue-custom-layout-sort_2026-07-28-00-00.json
  packages/vue-vtable/demo/src/App.vue
  packages/vue-vtable/demo/src/table/gramatical/composition/Issue5150CustomLayoutSort.vue
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: chore

fix: refine canvas context menu items
  packages/vtable-plugins/__tests__/context-menu/handle-menu-helper.test.ts
  packages/vtable-plugins/demo/context-menu/issue-5215-context-menu-canvas.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable/src/plugins/plugin-manager.ts
Labels: vtable

fix: refine checkbox record index state updates
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/__tests__/listTable-checkbox-record-index.test.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable, test, docs

fix: pass latest options when adding plugins
  packages/vtable-plugins/__tests__/context-menu/handle-menu-helper.test.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/plugins/plugin-manager.ts
Labels: vtable

fix: refine context menu plugin demo and cleanup
  packages/vtable-plugins/__tests__/context-menu/handle-menu-helper.test.ts
  packages/vtable-plugins/demo/context-menu/issue-5215-context-menu-canvas.ts
  packages/vtable/src/plugins/plugin-manager.ts
Labels: vtable

fix: render checkbox record index updates
  packages/vtable/__tests__/listTable-checkbox-record-index.test.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable, test

fix(vtable): expose auto row real height
  packages/vtable/examples/debug/issue-5117-auto-height-real-height.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

fix(vtable): fill auto height zero rows
  packages/vtable/examples/debug/issue-5115-auto-height-zero-row.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable

fix(vue-vtable): keep custom layout off scrollbars
  packages/vue-vtable/demo/src/App.vue
  packages/vue-vtable/demo/src/table/gramatical/composition/Issue5157CustomLayoutScrollbar.vue
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

fix(vtable): preserve custom row height semantics
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable

fix(vtable): limit zero-row fill to auto height
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable

fix(vue-vtable): clip custom layout by scrollbar bounds
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

fix(vtable): keep row height cache during zero fill
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable

fix(vue-vtable): align scrollbar clip coordinates
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

fix(vtable): avoid global auto row min height
  packages/vtable/examples/debug/issue-5117-auto-height-real-height.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable

fix(vue-vtable): match horizontal scrollbar range
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

fix(vtable): align first screen body row range
  packages/vtable/examples/debug/issue-5115-auto-height-zero-row.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable

fix(vue-vtable): align vertical scrollbar tolerance
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

fix(vtable): keep real height getter non-enumerable
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable

fix(vue-vtable): clip frozen horizontal scrollbars
  packages/vue-vtable/demo/src/table/gramatical/composition/Issue5157CustomLayoutScrollbar.vue
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

fix(vtable): fill auto height rows after tree toggle
  packages/vtable/examples/debug/issue-5115-auto-height-zero-row.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable

fix(vue-vtable): clip scrollbar hit area with padding
  packages/vue-vtable/demo/src/table/gramatical/composition/Issue5157CustomLayoutScrollbar.vue
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

fix(vtable): sync record index checkbox cascade state
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

fix(vtable): sync auto height first screen rows
  packages/vtable/examples/debug/issue-5115-auto-height-zero-row.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable

fix(vtable): preserve bottom frozen height timing
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
Labels: vtable

fix: align frozen rows in short tables
  common/changes/@visactor/vtable/fix-issue-5253-frozen-row-layout_2026-07-29-17-46.json
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable, chore

fix(vtable): avoid frozen row height duplication
  packages/vtable/examples/debug/issue-4904-frozen-row-gap.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix(vtable): restore scenegraph visible height calculation
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix(vue-vtable): avoid slot editor wrapper background
  packages/vue-vtable/demo/src/App.vue
  packages/vue-vtable/demo/src/table/gramatical/composition/Issue4884SlotEditorBackground.vue
  packages/vue-vtable/src/edit/editor.ts
Labels: none

fix(vtable): reset reused icon opacity by visible time
  packages/vtable/examples/debug/issue-4798-sort-icon-visible-time.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: vtable

test(vtable-plugins): add filter popup position regression demo
  packages/vtable-plugins/demo/filter/issue-4625-filter-popup-position.ts
  packages/vtable-plugins/demo/menu.ts
Labels: none

fix(vtable): update reused text icon attributes
  packages/vtable/examples/debug/issue-4798-sort-icon-visible-time.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: vtable

fix(vtable): align issue 4904 demo last name field
  packages/vtable/examples/debug/issue-4904-frozen-row-gap.ts
Labels: vtable

fix(vtable): keep bottom frozen rows connected for short content
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable
