Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

docs: supplement verticalLine custom function
  docs/assets/option/en/common/gantt/grid.md
  docs/assets/option/zh/common/gantt/grid.md
Labels: docs

fix: correct typo in event handler name
  packages/vue-vtable/src/eventsUtils.ts
Labels: none

fix: when has select cells to resize col width or row height error #3085
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/state/state.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3085-bug-rowHeight-resize-bug_2024-12-16-06-55.json
Labels: chore

fix: copy permission check when in iframe #3077
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3077-bug-vtable-copy-occor-error_2024-12-16-07-12.json
Labels: chore

build: prelease version 1.13.2-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: retaining typo for backward compatibility
  packages/vue-vtable/src/eventsUtils.ts
Labels: none

fix: fix tree data checkbox state init
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

build: prelease version 1.13.1-alpha.7
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add updateOption and updateScales api
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-updateOption_2024-12-16-10-17.json
Labels: chore

fix: hack loading icon url
  packages/vtable/src/icons.ts
Labels: vtable

fix: hack loading icon url
  packages/vtable/src/icons.ts
Labels: vtable

docs: generate changelog of release v1.13.2
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: change release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: fix tick-align in axis sync
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/package.json
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-axis-domain.ts
  packages/vtable/src/layout/chart-helper/tick-align.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.13.3-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: customComputeRowHeight logic
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/refactor-customComputeRowHeight_2024-12-17-07-19.json
Labels: chore

build: prelease version 1.13.3-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: customComputeRowHeight logic
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/components/react/react-custom-layout.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/sort-vertical.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

fix: judge getRecordByRowCol return value
  packages/vtable-gantt/src/Gantt.ts
Labels: none

fix: judge getRecordByRowCol return value
  packages/vtable-gantt/src/Gantt.ts
Labels: none

fix: fix customStyle update not work #3068
  common/changes/@visactor/vtable/fix-custom-style_2024-12-17-11-34.json
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable, chore

fix: fix customStyle update not work #3068
  common/changes/@visactor/vtable/fix-custom-style_2024-12-17-11-34.json
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable, chore

build: prelease version 1.13.3-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix font-weight in vtable-export #3005
  common/changes/@visactor/vtable/fix-excel-font-weight_2024-12-17-13-14.json
  packages/vtable-export/src/excel/style.ts
Labels: chore

fix: fix group title link click #3022
  common/changes/@visactor/vtable/fix-group-link_2024-12-17-13-32.json
  packages/vtable/src/event/media-click.ts
Labels: vtable, chore

fix: render grid,grid and background when change option
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
Labels: none

fix(vtable): inside getCellValue method of ListTable couldn't find out record when rerender groups
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: fix graphic html attribute error in react-vrender
  packages/react-vtable/src/table-components/custom/vtable-browser-env-contribution.ts
Labels: react-vtable

fix: add functionality to merge slot options for simplified option handling
  packages/vue-vtable/src/tables/list-table.vue
  packages/vue-vtable/src/tables/pivot-chart.vue
  packages/vue-vtable/src/tables/pivot-table.vue
  packages/vue-vtable/src/utils/slotUtils.ts
Labels: none

chore: add rush change
  common/changes/@visactor/vtable/fix-graphic-html_2024-12-18-08-11.json
Labels: chore

fix: fix graphic html attribute error in react-vrender
  packages/react-vtable/src/table-components/custom/vtable-browser-env-contribution.ts
Labels: react-vtable

fix: customComputeRowHeight judge logic
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/sort-vertical.ts
Labels: vtable

chore: add rush change
  common/changes/@visactor/vtable/fix-graphic-html_2024-12-18-08-11.json
Labels: chore

build: prelease version 1.13.3-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.13.3-alpha.4
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add milestone type #3097
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Arrange.ts
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Inline.ts
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Separate.ts
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
