Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-06-30-21-53.json
Labels: chore

feat: sync cell & fx value
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-07-01-15-19.json
Labels: chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-06-29-23-02.json
Labels: chore

feat: add formula
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: none

feat(sheet): support renaming sheet tabs via double-click
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/styles/sheet-tab.css
Labels: none

feat(sheet): add snackbar for duplicate sheet name warning
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/styles/sheet.css
Labels: none

fix(sheet): update menu after rename tab
  packages/vtable-sheet/src/components/VTableSheet.ts
Labels: none

refactor: sheet rename
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/styles/sheet.css
  packages/vtable-sheet/src/tools/ui/snackbar.ts
Labels: none

feat: add table
  packages/vtable/examples/master/test.ts
  packages/vtable/src/MasterDetailTable.ts
  packages/vtable/src/core/master-detail-row-manager.ts
  packages/vtable/src/layout/master-detail-layout.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
Labels: vtable

refactor(sheet): sheet tab rename
  packages/vtable-sheet/src/components/VTableSheet.ts
Labels: none

fix: use dependency bug
  packages/vtable-plugins/demo/gantt-export-image/gantt-export-image.ts
  packages/vtable-plugins/src/gantt-export-image.ts
Labels: none

fix: Add the functionality to drag the taskbar to non-visible areas and synchronize the bottom scrollbar accordingly.#4102
  packages/vtable-gantt/examples/gantt/gantt-month.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

fix: Add the functionality to drag the taskbar to non-visible areas and synchronize the bottom scrollbar accordingly.#4102
  packages/vtable-gantt/src/event/event-manager.ts
Labels: none

fix: Add the functionality to drag the taskbar to non-visible areas and synchronize the bottom scrollbar accordingly.#4102
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

feat: vtable sheet context menu copy cut paste
  packages/vtable-plugins/demo/context-menu/context-menu.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

feat: vtable sheet context menu copy cut paste
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
Labels: none

refactor: rough refactoring and overall code cleanup
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/event/event-manager.ts
  packages/vtable-sheet/src/event/event-target.ts
  packages/vtable-sheet/src/index.ts
  packages/vtable-sheet/src/managers/data-manager.ts
  packages/vtable-sheet/src/managers/filter-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/managers/sheet-manager.ts
  packages/vtable-sheet/src/state/state-manager.ts
  packages/vtable-sheet/src/ts-types/base.ts
  packages/vtable-sheet/src/ts-types/event.ts
  packages/vtable-sheet/src/ts-types/filter.ts
  packages/vtable-sheet/src/ts-types/formula.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-07-14-22-24.json
Labels: chore

fix: fix custom style update dx
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

feat: implement value-based filtering for table plugin
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/filter.ts
  packages/vtable-plugins/src/index.ts
Labels: none

fix: throw error and records arguments
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/group-helper.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/ts-types/new-data-set.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: add addRecordRule option
  packages/vtable/src/ListTable.ts
Labels: vtable

refactor: refactor sheet resize
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/resize-helper.ts
Labels: none

refactor: refactor resize
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/resize-helper.ts
Labels: none

feat: sheet tab dragable
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/managers/sheet-manager.ts
  packages/vtable-sheet/src/managers/tab-drag-manager.ts
  packages/vtable-sheet/src/styles/sheet-tab.css
Labels: none

feat(sheet): tab rename check rule
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/tools/index.ts
Labels: none

feat: add table
  packages/vtable/examples/master/test.ts
  packages/vtable/src/MasterDetailTable.ts
Labels: vtable

feat: add frozen row count api
  packages/vtable-plugins/demo/context-menu/context-menu.ts
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
  packages/vtable-plugins/src/contextmenu/styles.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/layout/frozen.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/update-container.ts
Labels: vtable

feat: add frozen row count api
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

feat: run paste add row column plugin demo
  packages/vtable-plugins/demo/paste-add-row-column/paste-add-row-column.ts
Labels: none

refactor: update merge cell performance #3293
  packages/vtable/src/scenegraph/layout/update-col.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3293-refactor-update-mergeCell-performance_2025-07-16-07-16.json
Labels: chore

feat: add frozen row count api
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

build: prelease version 1.19.4-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: restructure filter plugin into modular architecture
  packages/vtable-plugins/src/filter.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-engine.ts
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/index.ts
  packages/vtable-plugins/src/filter/styles.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

feat: context menu merge
  packages/vtable-plugins/demo/context-menu/context-menu.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
  packages/vtable-plugins/src/contextmenu/styles.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

feat: implement condition-based filtering for table plugin
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-engine.ts
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/styles.ts
Labels: none

fix: sheet active options
  packages/vtable-sheet/src/managers/sheet-manager.ts
Labels: none

feat: apply distinct filter icons for columns with active filters
  packages/vtable-plugins/src/filter.ts
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/types.ts
Labels: none
