Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

feat: zoom interaction
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: some function adapt
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin9.ts
  packages/vtable-plugins/src/master-detail-plugin/checkbox.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, docs

feat: some function adapt
  packages/vtable-plugins/src/master-detail-plugin/events.ts
Labels: none

fix: the use of changeOrder in pagination mode
  packages/vtable/src/data/DataSource.ts
Labels: vtable

refactor: updateSelectPosition call logic #4443
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/examples/list/list.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
Labels: vtable

docs: guide contributor signature
  docs/assets/guide/en/plugin/auto-fill.md
  docs/assets/guide/en/plugin/filter.md
  docs/assets/guide/zh/plugin/auto-fill.md
  docs/assets/guide/zh/plugin/filter.md
Labels: docs

feat: fix the datazoom
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
Labels: none

fix: sheet tab list cannot autohide
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/formula/types.d.ts
  packages/vtable-sheet/src/ts-types/event.ts
Labels: none

refactor: vtable sheet tab file
  packages/vtable-sheet/src/components/sheet-tab-event-handler.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
Labels: none

feat: some function adapt
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
Labels: docs

feat: fix the datazoom
  packages/vtable-gantt/examples/gantt/gantt-listTable.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
Labels: none

test: add unit test for changeOrder
  packages/vtable/__tests__/data-update/listTable-pagination-dragOrder.test.ts
Labels: vtable

fix: mainMenu onclick handle with
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
Labels: none

docs: add faq docs
  docs/assets/faq/en/61-The font of VTable is blurry or ghosted after the browser is zoomed.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/61-The font of VTable is blurry or ghosted after the browser is zoomed.md
  docs/public/vtable/faq/61-1.gif
  docs/vite.config.js
Labels: docs

fix: heatmap compute row heigth & col width
  docs/assets/demo/en/table-type/pivot-chart-heatmap.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/table-type/pivot-chart-heatmap.md
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable, docs

docs: supplement methods properties en
  docs/assets/api/en/methods.md
  docs/assets/api/en/properties.md
Labels: docs

fix: node environment release error
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
Labels: vtable

refactor: add detectPickChartItem
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update change log
  common/changes/@visactor/vtable/bug-fix-selectCells-not-work-with-ctrlMultiSelect-false_2025-09-17-03-17.json
  common/changes/@visactor/vtable/bug-row-change-order-not-work-with-pagination_2025-09-17-03-17 copy.json
Labels: chore

docs: generate changelog of release v1.20.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin2.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin4.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin5.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin6.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin7.ts
  packages/vtable-plugins/src/master-detail-plugin/checkbox.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable-plugins/src/master-detail-plugin/utils.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin2.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin4.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin5.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin6.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin7.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin8.ts
Labels: none

fix: umd build for plugins
  packages/vtable-plugins/bundler.config.js
Labels: bundler

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-umdNuild-plugins_2025-09-28-04-05.json
Labels: chore

fix: update the cells when setting frozenRowCount
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

refactor: vtable import format
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
  packages/vtable-plugins/src/auto-fill/index.ts
  packages/vtable-plugins/src/auto-fill/rules.ts
  packages/vtable-plugins/src/auto-fill/utils/fill.ts
  packages/vtable-plugins/src/column-series.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
  packages/vtable-plugins/src/contextmenu/types.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-plugins/src/excel-import.ts
  packages/vtable-plugins/src/fillHandleUtils/autoFillHandle.ts
  packages/vtable-plugins/src/fillHandleUtils/translateRowObj.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-engine.ts
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.ts
  packages/vtable-plugins/src/focus-highlight.ts
  packages/vtable-plugins/src/gantt-export-image.ts
  packages/vtable-plugins/src/header-highlight.ts
  packages/vtable-plugins/src/paste-add-row-column.ts
  packages/vtable-plugins/src/rotate-table.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
  packages/vtable-plugins/src/table-export.ts
  packages/vtable-plugins/src/table-export/csv/index.ts
  packages/vtable-plugins/src/table-export/util/type.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-plugins/src/wps-fill-handle.ts
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

refactor: refactor vtable plugins define
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/auto-fill/index.ts
  packages/vtable-plugins/src/column-series.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-plugins/src/excel-import.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/focus-highlight.ts
  packages/vtable-plugins/src/highlight-header-when-select-cell.ts
  packages/vtable-plugins/src/paste-add-row-column.ts
  packages/vtable-plugins/src/rotate-table.ts
  packages/vtable-plugins/src/row-series.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
  packages/vtable-plugins/src/table-export.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-plugins/src/wps-fill-handle.ts
  packages/vtable/src/index.ts
Labels: vtable

feat: some function adapt
  packages/vtable-plugins/src/master-detail-plugin/checkbox.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
Labels: none

fix: bugserver build
  tools/bugserver-trigger/src/index.ts
Labels: none

refactor: vtable and plugins bundle config
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/bundler.config.js
  packages/vtable-plugins/demo/test-umd.html
  packages/vtable-plugins/demo/test-umd.js
  packages/vtable/bundler.config.js
  packages/vtable/package.json
Labels: vtable, bundler, chore

docs: vtable sheet umd import
  docs/assets/guide/en/sheet/Getting_Started.md
  docs/assets/guide/zh/sheet/Getting_Started.md
  packages/vtable-plugins/demo/test-umd.html
  packages/vtable-plugins/demo/test-umd.js
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-umdNuild-plugins_2025-09-29-09-03.json
Labels: chore

docs: supplement columnWidthConfigForRowHeader usage
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  docs/assets/option/en/table/pivotChart.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotChart.md
  docs/assets/option/zh/table/pivotTable.md
Labels: docs

fix: the clear method does not take effect
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

fix: formula list auto complete
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-sheet/src/formula/formula-autocomplete.ts
  packages/vtable-sheet/src/formula/formula-editor.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin2.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin9.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

perf: optimize the arrangeCustomCellStyle method
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

perf: extract the usage of StyleId as a constant
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

chore: modify the annotations
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
