Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix: address grouped grand total review issues
  docs/assets/demo/en/data-analysis/pivot-analysis-total.md
  docs/assets/demo/zh/data-analysis/pivot-analysis-total.md
  docs/assets/guide/en/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/guide/zh/data_analysis/pivot_table_dataAnalysis.md
  packages/vtable/__tests__/pivotTable-analysis.test.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/tools/get-data-path/index.ts
  packages/vtable/src/ts-types/common.ts
Labels: vtable, test, docs

fix: keep pivot header width default during updateOption
  packages/vtable/__tests__/pivotTable.test.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, test

fix: complete grouped grand total integrations
  packages/vtable/__tests__/pivotTable-analysis.test.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
Labels: vtable, test

fix(vtable-search): preserve custom styles during navigation
  packages/vtable-search/__tests__/master-detail-search-highlight.test.ts
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: test

fix: complete grouped grand total edge cases
  docs/assets/option/en/table/pivotChart.md
  docs/assets/option/zh/table/pivotChart.md
  packages/vtable/__tests__/pivotChart.test.ts
  packages/vtable/__tests__/pivotTable-analysis.test.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, test, docs

fix: preserve data config in data path lookup
  packages/vtable/__tests__/layout/get-data-cell-path.test.ts
  packages/vtable/src/tools/get-data-path/create-dataset.ts
Labels: vtable

fix: preserve resized columns during adaptive width
  packages/vtable/__tests__/adaptive-width-resized-col.test.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: vtable, test

fix: keep autoFillWidth resized columns fillable
  packages/vtable/__tests__/adaptive-width-resized-col.test.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: vtable, test

fix: complete grouped grand total chart paths
  packages/vtable/__tests__/pivotChart.test.ts
  packages/vtable/__tests__/pivotTable-analysis.test.ts
  packages/vtable/src/dataset/dataset.ts
Labels: vtable, test

fix: handle grouped grand total review regressions
  packages/vtable/__tests__/pivotChart.test.ts
  packages/vtable/__tests__/pivotTable-analysis.test.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable, test

fix: preserve tree header path lookup compatibility
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix(vtable): update nested fields by path
  common/changes/@visactor/vtable/fix-issue-4186-nested-field-update_2026-09-04-10-30.json
  packages/vtable/__tests__/data-update/listTable-nested-field-update.test.ts
  packages/vtable/__tests__/data/data-source-nested-field-update.test.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable, chore

fix(vtable-search): address master-detail review feedback
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: test

fix(vtable-search): tighten detail viewport handling
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: test

fix(vtable-search): ignore tables during release
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: test

fix(vtable-search): search expanded master-detail tables (#5036)
  packages/vtable-search/__tests__/master-detail-search-highlight.test.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: test

fix(vtable-search): address master-detail review feedback
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vtable-search/fix-issue-5036-master-detail-search_2026-08-29-02-12.json
Labels: chore

fix(vtable-search): ignore tables during release
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: test

fix(vtable-search): preserve custom styles during navigation
  packages/vtable-search/__tests__/master-detail-search-highlight.test.ts
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: test

fix(vtable-search): tighten detail viewport handling
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: test

fix(vtable-search): harden search navigation and highlighting
  .github/workflows/unit-test.yml
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/package.json
  packages/vtable-search/src/search-component/search-component.ts
Labels: test, chore

fix(vtable-search): resolve remaining review issues
  common/changes/@visactor/vtable/fix-custom-style-lookup_2026-09-14-16-00.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/demo/list/issue-5036-master-detail-search.ts
  packages/vtable-search/demo/main.ts
  packages/vtable-search/demo/menu.ts
  packages/vtable-search/demo/vite.config.js
  packages/vtable-search/package.json
  packages/vtable-search/src/search-component/search-component.ts
  packages/vtable/__tests__/plugins/custom-cell-style.test.ts
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable, test, chore

fix(vtable-search): isolate search style overlays
  common/changes/@visactor/vtable/fix-custom-style-lookup_2026-09-14-16-00.json
  packages/vtable-search/__tests__/master-detail-search-highlight.test.ts
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/demo/vite.config.js
  packages/vtable-search/src/search-component/search-component.ts
  packages/vtable-search/tsconfig.test.json
  packages/vtable/__tests__/plugins/custom-cell-style.test.ts
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable, test, chore

fix(vtable-search): address latest review blockers
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/demo/list/issue-5036-master-detail-search.ts
  packages/vtable-search/src/search-component/search-component.ts
  packages/vtable/__tests__/plugins/custom-cell-style.test.ts
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable, test

feat(theme): support overflow-based frozen column shadows
  common/changes/@visactor/vtable/feat-frozen-shadow-overflow_2026-09-15-10-00.json
  docs/assets/demo/en/basic-functionality/frozen-col.md
  docs/assets/demo/zh/basic-functionality/frozen-col.md
  docs/assets/option/en/common/frozen-column-line-style.md
  docs/assets/option/zh/common/frozen-column-line-style.md
  packages/vtable/__tests__/frozen-column-shadow.test.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable, test, docs, chore

fix(vtable-search): complete merged style refreshes
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/src/search-component/search-component.ts
  packages/vtable/__tests__/plugins/custom-cell-style.test.ts
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable, test

perf: reuse complex cell graphics during scrolling
  packages/vtable/__tests__/cell-type/complex-cell-fast-update.test.ts
  packages/vtable/examples/debug/issue-5308-scroll-performance.ts
  packages/vtable/examples/issue-5308-scroll-performance.html
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/button-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/switch-cell.ts
Labels: vtable

fix: preserve complex cell rendering fallbacks
  packages/vtable/__tests__/cell-type/complex-cell-fast-update.test.ts
  packages/vtable/examples/debug/issue-5308-scroll-performance.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

fix: use resolved values in complex cell reuse
  packages/vtable/__tests__/cell-type/complex-cell-fast-update.test.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

fix: guard stale pivot tree cell updates
  packages/vtable/__tests__/pivotTable-tree.test.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, test

fix(vtable-search): sync master-detail navigation
  packages/vtable-search/__tests__/review-regressions.test.ts
  packages/vtable-search/src/search-component/search-component.ts
  packages/vtable/examples/debug/issue-5036-master-detail-search.ts
  packages/vtable/examples/main.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/vite.config.js
Labels: vtable, test

fix: harden complex cell reuse state
  packages/vtable/__tests__/cell-type/complex-cell-fast-update.test.ts
  packages/vtable/examples/debug/issue-5308-scroll-performance.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
Labels: vtable

feat(theme): support overflow-based frozen column shadows
  common/changes/@visactor/vtable/feat-frozen-shadow-overflow_2026-09-15-10-00.json
  docs/assets/demo/en/basic-functionality/frozen-col.md
  docs/assets/demo/zh/basic-functionality/frozen-col.md
  docs/assets/option/en/common/frozen-column-line-style.md
  docs/assets/option/zh/common/frozen-column-line-style.md
  packages/vtable/__tests__/frozen-column-shadow.test.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable, test, docs, chore

test: add scroll performance regression benchmark
  .github/workflows/performance-benchmark.yml
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/debug/issue-5308-scroll-performance.ts
  packages/vtable/package.json
  packages/vtable/scripts/benchmark-scroll-performance.mjs
Labels: vtable, chore

fix: stabilize scroll benchmark gate
  packages/vtable/scripts/benchmark-scroll-performance.mjs
Labels: vtable

test: clarify scroll benchmark CI summary
  packages/vtable/scripts/benchmark-scroll-performance.mjs
Labels: vtable

fix(vtable): handle empty bottom frozen rows
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/examples/debug/issue-3903-delete-all-bottom-frozen.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/layout/frozen.ts
Labels: vtable

feat(vtable): auto-merge rectangular body multi-ranges
  common/changes/@visactor/vtable/feat-select-auto-merge-ranges_2026-09-18-12-20.json
  packages/vtable/__tests__/listTable-select-auto-merge.test.ts
  packages/vtable/src/state/select/auto-merge-ranges.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, test, chore

feat(vtable): auto-merge rectangular body multi-ranges
  packages/vtable/__tests__/listTable-select-auto-merge.test.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/state/state.ts
Labels: vtable, test

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
