Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

docs: generate changelog of release v1.21.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: add api getCellRowHeaderFullPaths for pivotTable
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/examples/pivot-analysis/pivot-analysis.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-addApi-getCellRowHeaderFullPaths_2025-10-14-09-05.json
Labels: chore

feat: add api getCellRowHeaderFullPaths for pivotTable
  common/config/rush/pnpm-lock.yaml
Labels: chore

build: prelease version 1.18.11-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: supplement plugin usage about cdn import #4562
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/en/sheet/Getting_Started.md
  docs/assets/guide/zh/plugin/usage.md
  docs/assets/guide/zh/sheet/Getting_Started.md
Labels: docs

fix: fix the scroll deltaY ±0 cases
  packages/vtable-gantt/src/event/scroll.ts
Labels: none

fix: the getFilteredRecords method of PivotTable
  packages/vtable/src/PivotTable.ts
Labels: vtable

feat: a new getFilteredRecords method has been added to ListTable #4537
  packages/vtable/examples/list-analysis/list-filter.ts
  packages/vtable/src/ListTable.ts
Labels: vtable

docs: update the description of the getFilteredRecords method
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-ListTable-getFilteredRecords_2025-10-15-01-27.json
Labels: chore

feat: some function adapt
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
Labels: docs

fix: plugin HighlightHeaderWhenSelectCellPlugin options parse
  packages/vtable-plugins/src/highlight-header-when-select-cell.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-HighlightHeaderWhenSelectCellPlugin_2025-10-15-06-54.json
Labels: chore

Update 53- How to control the timing of exiting edit mode after implementing editable cells in VTable components.md
  docs/assets/faq/zh/53- How to control the timing of exiting edit mode after implementing editable cells in VTable components.md
Labels: docs

feat: some function adapt
  docs/assets/demo/en/plugin/master-detail.md
  docs/assets/demo/en/table-type/list-table-master-detail-table.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/plugin/master-detail.md
  docs/assets/demo/zh/table-type/list-table-master-detail-table.md
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin2.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin4.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin5.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin6.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin7.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin8.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: docs

feat: some function adapt
  docs/assets/demo/en/table-type/list-table-master-detail-table.md
  docs/assets/demo/zh/table-type/list-table-master-detail-table.md
Labels: docs

feat: add delectColumns for table and use in vtable-sheet
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

test: update sheet unit test
  packages/vtable-sheet/__tests__/active-sheet-race-condition.test.ts
  packages/vtable-sheet/__tests__/complete-tab-switching-fix.test.ts
  packages/vtable-sheet/__tests__/tab-switching-formula.test.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: test

feat: handle with delete column for vtable sheet
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-sheet/__tests__/column-operations.test.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, test

feat: taskBar支持配置是否裁剪
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

docs: 增加taskBarClip配置文档
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
Labels: docs

feat: fix gannt progress handle
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

docs: update menu order
  docs/assets/demo/menu.json
  docs/assets/guide/menu.json
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-MasterSubTable_2025-10-16-09-01.json
Labels: chore

docs: update change log
  common/changes/@visactor/vtable/feat-MasterSubTable_2025-10-16-09-01.json
Labels: chore

fix: add del record should update formula
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/column-series.ts
  packages/vtable-plugins/src/paste-add-row-column.ts
  packages/vtable-sheet/__tests__/column-debug.test.ts
  packages/vtable-sheet/__tests__/column-logic-debug.test.ts
  packages/vtable-sheet/__tests__/column-operations.test.ts
  packages/vtable-sheet/__tests__/formula-engine/debug-adjustment.js
  packages/vtable-sheet/__tests__/formula-engine/formula-engine-adjust-references.test.ts
  packages/vtable-sheet/__tests__/formula-engine/formula-engine-core.test.ts
  packages/vtable-sheet/__tests__/formula-engine/formula-engine-deletion-scenarios.test.ts
  packages/vtable-sheet/__tests__/formula-engine/formula-engine-edge-cases.test.ts
  packages/vtable-sheet/__tests__/formula-engine/formula-engine-final.test.ts
  packages/vtable-sheet/__tests__/formula-engine/formula-engine-ref-errors.test.ts
  packages/vtable-sheet/__tests__/formula-engine/formula-engine-simple.test.ts
  packages/vtable-sheet/__tests__/range-adjustment-debug.test.ts
  packages/vtable-sheet/__tests__/row-operations-debug.test.ts
  packages/vtable-sheet/__tests__/row-operations-debug2.test.ts
  packages/vtable-sheet/__tests__/row-operations-debug3.test.ts
  packages/vtable-sheet/__tests__/row-operations.test.ts
  packages/vtable-sheet/src/formula/__tests__/debug-b2-logic.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable/src/ListTable.ts
Labels: vtable, test

fix: the resize event of tableContainer #4558
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-table-container-resize_2025-10-17-01-12.json
Labels: chore

docs: generate changelog of release v1.22.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

fix: adjust formula dependency cell change
  packages/vtable-sheet/__tests__/formula-engine/formula-engine-ref-errors.test.ts
  packages/vtable-sheet/__tests__/formula-engine/test-compare-cases.test.ts
  packages/vtable-sheet/__tests__/formula-engine/test-row-deletion-fix.test.ts
  packages/vtable-sheet/__tests__/formula-engine/test-specific-case.test.ts
  packages/vtable-sheet/__tests__/range-adjustment-debug.test.ts
  packages/vtable-sheet/__tests__/row-operations-debug.test.ts
  packages/vtable-sheet/__tests__/row-operations-debug3.test.ts
  packages/vtable-sheet/__tests__/row-operations.test.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
  test_debug_output.txt
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-change-formula-dependency-address_2025-10-17-07-17.json
Labels: chore

chore: add rush change
  common/changes/@visactor/vtable/feat-widthAdaptiveMode-for-autoFillWidth_2025-10-17-07-57.json
Labels: chore

chore: add rush change
  common/changes/@visactor/vtable/feat-widthAdaptiveMode-for-autoFillWidth_2025-10-17-07-57.json
Labels: chore

feat(pivot-table): add autoFillWidth example and improve width adaptive logicing mo
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-autoFillWidth.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

feat(table): improve custom scroll behavior with autoFillWidth
  packages/vtable/examples/interactive/custom-scroll.ts
Labels: vtable

refactor(vtable): unify toBoxArray return type and simplify box tuple logic
  packages/vtable/src/tools/helper.ts
Labels: vtable

chore: clear code
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none
