Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

docs: add taskShowMode demos and guide
  docs/assets/demo/en/gantt/gantt-table-mergeCell.md
  docs/assets/demo/en/gantt/gantt-taskShowMode.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-table-mergeCell.md
  docs/assets/demo/zh/gantt/gantt-taskShowMode.md
  docs/assets/guide/en/gantt/subtask_layout.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/gantt/subtask_layout.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/table/gantt.md
  packages/vtable-gantt/examples/gantt/gantt-Arrange-customLayout.ts
  packages/vtable-gantt/examples/gantt/gantt-taskMerge-customLayout.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

fix: fix strokeArrayWidth update in updateCell() #2811
  common/changes/@visactor/vtable/fix-strokeArrayWidth-update_2024-12-02-12-11.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, chore

fix: fix legend visible problem when reize table
  common/changes/@visactor/vtable/fix-legeng-resize_2024-12-02-13-30.json
  packages/vtable/src/components/legend/continue-legend/continue-legend.ts
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
Labels: vtable, chore

build: prelease version 1.11.6-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: 修复甘特图执行updateScales时，grid宽度计算错误的问题
  packages/vtable-gantt/src/scenegraph/grid.ts
Labels: none

chore: update dependencies
  docs/package.json
Labels: docs

fix: when record no dependency link not exist occor error
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

chore: update dependencies
  common/config/rush/pnpm-lock.yaml
Labels: chore

fix: after add taskbarclip group resize error
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

fix: fix merge radio cell check update #2881
  common/changes/@visactor/vtable/fix-radio-update_2024-12-03-07-55.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
Labels: vtable, chore

fix: select not work when select set disableSelect #2981
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/examples/interactive/select.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/2981-selectCell-api-disableselect_2024-12-03-08-05.json
Labels: chore

fix: fix default row height in computeRowHeight() #2903
  common/changes/@visactor/vtable/fix-default-row-height-compute_2024-12-03-08-44.json
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable, chore

fix: fix cache problem in Icon.loadGif() #2905
  common/changes/@visactor/vtable/fix-load-gif_2024-12-03-09-19.json
  packages/vtable/src/scenegraph/graphic/icon.ts
Labels: vtable, chore

chore: add changelog
  common/changes/@visactor/vtable/2949-feature-add-taskShowMode_2024-11-29-10-32.json
Labels: chore

fix: fix last col&row editor size #2926
  common/changes/@visactor/vtable/feat-fs-bs_2024-12-02-08-23.json
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable, chore

fix: fix cell update event problem in CustomCellStylePlugin #2927
  common/changes/@visactor/vtable/feat-fs-bs_2024-12-02-08-27.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/demo/header-highlight/header-highlight.ts
  packages/vtable-plugins/demo/index.html
  packages/vtable-plugins/demo/main.ts
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/header-highlight.ts
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/column/style.ts
Labels: vtable, chore

fix: fix react-component in tree mode update
  common/changes/@visactor/vtable/fix-custom-component-update_2024-12-02-09-42.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable, chore

fix: fix strokeArrayWidth update in updateCell() #2811
  common/changes/@visactor/vtable/fix-strokeArrayWidth-update_2024-12-02-12-11.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, chore

fix: fix legend visible problem when reize table
  common/changes/@visactor/vtable/fix-legeng-resize_2024-12-02-13-30.json
  packages/vtable/src/components/legend/continue-legend/continue-legend.ts
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
Labels: vtable, chore

fix: fix merge radio cell check update #2881
  common/changes/@visactor/vtable/fix-radio-update_2024-12-03-07-55.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
Labels: vtable, chore

fix: fix cache problem in Icon.loadGif() #2905
  common/changes/@visactor/vtable/fix-load-gif_2024-12-03-09-19.json
  packages/vtable/src/scenegraph/graphic/icon.ts
Labels: vtable, chore

fix: fix default row height in computeRowHeight() #2903
  common/changes/@visactor/vtable/fix-default-row-height-compute_2024-12-03-08-44.json
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable, chore

docs: generate changelog of release v1.12.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: translate release doc
  docs/assets/changelog/zh/release.md
Labels: docs

docs: generate changelog of release v1.12.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: translate release doc
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update gantt demo problem
  docs/assets/demo/en/gantt/gantt-table-mergeCell.md
  docs/assets/demo/zh/gantt/gantt-table-mergeCell.md
Labels: docs

docs: update changelog
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: 修复当日期非day时，createButton宽度和位置不对的bug
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
Labels: none

fix: fix col&row range in getCellMergeRange() #2906
  common/changes/@visactor/vtable/fix-merge-range_2024-12-04-06-17.json
  packages/vtable/src/scenegraph/icon/icon-update.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/stick-text/index.ts
  packages/vtable/src/state/hover/update-cell.ts
  packages/vtable/src/tools/merge-range.ts
Labels: vtable, chore

fix: fix textAlign in checkbox/radio #2908
  common/changes/@visactor/vtable/fix-checkbox-textAlign_2024-12-04-07-37.json
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
Labels: vtable, chore

fix: 修复因floor导致grid跟timelineheader对不齐的情况
  packages/vtable-gantt/src/scenegraph/grid.ts
Labels: none

fix: fix ListTreeStickCellPlugin update in tree_hierarchy_state_change event #2914
  common/changes/@visactor/vtable/fix-tree-stick-update_2024-12-04-09-21.json
  packages/vtable/src/plugins/list-tree-stick-cell.ts
Labels: vtable, chore

feat: add time scale unit hour #2976
  packages/vtable-gantt/examples/gantt/gantt-hour.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/data/DataSource.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/tools/util.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/2976-feature-gantt-scale-hour_2024-12-04-11-46.json
Labels: chore

fix: fix merge cell select range update #2944
  common/changes/@visactor/vtable/fix-select-range_2024-12-04-13-07.json
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/merge-range.ts
Labels: vtable, chore

docs: fix vue example docs
  docs/assets/guide/zh/Developer_Ecology/vue.md
Labels: docs

docs: fix vue example docs
  docs/assets/guide/en/Developer_Ecology/vue.md
Labels: docs

fix: outsideClickDeselect event in menu element
  common/changes/@visactor/vtable/fix-menu-clear-select_2024-12-05-03-54.json
  packages/vtable/src/components/menu/dom/BaseMenu.ts
  packages/vtable/src/components/menu/dom/MenuHandler.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable, chore
