Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

refactor: when columnWidthConfig set wrong dimensions should judge this case #2948
  packages/vtable/src/PivotTable.ts
Labels: vtable

feat: 当用户进入或离开taskBar时，暴露出当前taskbar的信息
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

docs: 更新进入或离开节点时的事件文档
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-fireTargetInfoWhenEnterOrLeave_2024-11-28-11-56.json
Labels: chore

fix: makeSelectCellVisible consider isSelectMoving #2840
  packages/vtable/src/event/event.ts
Labels: vtable

feat: 将整个event事件暴露出来
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

docs: 更新甘特图事件文档，暴露整个e的信息
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-fireTargetInfoWhenEnterOrLeave_2024-11-28-12-31.json
Labels: chore

docs: generate changelog of release v1.11.3
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: change vtable-plugins files
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/demo/carousel-animation/carousel-animation.ts
  packages/vtable-plugins/demo/header-highlight/header-highlight.ts
  packages/vtable-plugins/demo/invert-highlight/invert-highlight.ts
  packages/vtable-plugins/demo/list/list.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/pivot/pivot-basic.ts
  packages/vtable-plugins/demo/vite.config.js
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/invert-highlight.ts
  packages/vtable/package.json
  packages/vtable/src/ListTable-all.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/style-helper.ts
  packages/vtable/src/index.ts
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/plugins/invert-highlight.ts
  packages/vtable/src/plugins/list-tree-stick-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

docs: change docs about vtable-plugins
  docs/assets/demo/en/animation/carousel-animation.md
  docs/assets/demo/en/interaction/head-highlight.md
  docs/assets/demo/en/interaction/invert-highlight.md
  docs/assets/demo/zh/animation/carousel-animation.md
  docs/assets/demo/zh/interaction/head-highlight.md
  docs/assets/demo/zh/interaction/invert-highlight.md
  docs/assets/guide/en/animation/carousel_animation.md
  docs/assets/guide/en/plugin/header-highlight.md
  docs/assets/guide/en/plugin/invert-highlight.md
  docs/assets/guide/zh/animation/carousel_animation.md
  docs/assets/guide/zh/plugin/header-highlight.md
  docs/assets/guide/zh/plugin/invert-highlight.md
  docs/src/main.tsx
Labels: docs

fix: columnWidthConfig match problem #2957
  packages/vtable/src/PivotTable.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2957-bug-hideIndicator-columnwidthconfig_2024-11-29-03-15.json
Labels: chore

fix: columnWidthConfig match problem #2957
  packages/vtable/src/PivotTable.ts
Labels: vtable

fix: parseColumnWidthConfig occor error when argument is error
  packages/vtable/src/PivotTable.ts
Labels: vtable

chore: add rush change
  common/changes/@visactor/vtable/feat-vtable-plugins_2024-11-29-06-41.json
Labels: chore

docs: fix gantt api tutorial error
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
Labels: docs

fix: change vtable-plugins files
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/demo/carousel-animation/carousel-animation.ts
  packages/vtable-plugins/demo/header-highlight/header-highlight.ts
  packages/vtable-plugins/demo/invert-highlight/invert-highlight.ts
  packages/vtable-plugins/demo/list/list.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/pivot/pivot-basic.ts
  packages/vtable-plugins/demo/vite.config.js
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/invert-highlight.ts
  packages/vtable/package.json
  packages/vtable/src/ListTable-all.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/style-helper.ts
  packages/vtable/src/index.ts
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/plugins/invert-highlight.ts
  packages/vtable/src/plugins/list-tree-stick-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

fix: set vtable peerDependencies in vtable-plugins
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/package.json
Labels: chore

feat: add @visactor/vtable-plugins
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/.eslintrc.js
  packages/vtable-plugins/README.md
  packages/vtable-plugins/bundler.config.js
  packages/vtable-plugins/demo/index.html
  packages/vtable-plugins/demo/list/list.ts
  packages/vtable-plugins/demo/main.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/pivot/pivot-basic.ts
  packages/vtable-plugins/demo/style.css
  packages/vtable-plugins/demo/vite.config.js
  packages/vtable-plugins/package.json
  packages/vtable-plugins/setup-mock.js
  packages/vtable-plugins/src/carousel-animation.ts
  packages/vtable-plugins/src/custom-cell-style.ts
  packages/vtable-plugins/src/header-highlight.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/invert-highlight.ts
  packages/vtable-plugins/src/list-tree-stick-cell.ts
  packages/vtable-plugins/tscofig.eslint.json
  packages/vtable-plugins/tsconfig.json
  packages/vtable/jest.config.js
  packages/vtable/package.json
  packages/vtable/src/ListTable-all.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/style-helper.ts
  packages/vtable/src/index.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/tsconfig.eslint.json
  rush.json
Labels: vtable, eslint, jest, typescript, bundler, chore

docs: add contributing docs
  docs/assets/contributing/en/1-Setting-Up-the-Development-Environment.md
  docs/assets/contributing/en/2-Howto Submit an Issue.md
  docs/assets/contributing/en/3-How to Contribute Documentation.md
  docs/assets/contributing/en/4-How to Contribute to a Demo.md
  docs/assets/contributing/en/5-How to Contribute Code.md
  docs/assets/contributing/menu.json
  docs/assets/contributing/zh/1-Setting-Up-the-Development-Environment.md
  docs/assets/contributing/zh/2-Howto Submit an Issue.md
  docs/assets/contributing/zh/3-How to Contribute Documentation.md
  docs/assets/contributing/zh/4-How to Contribute to a Demo.md
  docs/assets/contributing/zh/5-How to Contribute Code.md
  docs/menu.json
  docs/vite.config.js
Labels: docs

fix: fix src package name of vtable
  packages/react-vtable/demo/vite.config.ts
  packages/react-vtable/src/table-components/component/menu.tsx
  packages/vtable-calendar/src/event/type.ts
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-export/src/excel/index.ts
  packages/vtable-plugins/src/custom-cell-style.ts
  packages/vtable/examples/vite.config.js
Labels: vtable, react-vtable

docs: change docs about vtable-plugins
  docs/assets/demo/en/animation/carousel-animation.md
  docs/assets/demo/en/interaction/head-highlight.md
  docs/assets/demo/en/interaction/invert-highlight.md
  docs/assets/demo/zh/animation/carousel-animation.md
  docs/assets/demo/zh/interaction/head-highlight.md
  docs/assets/demo/zh/interaction/invert-highlight.md
  docs/assets/guide/en/animation/carousel_animation.md
  docs/assets/guide/en/plugin/header-highlight.md
  docs/assets/guide/en/plugin/invert-highlight.md
  docs/assets/guide/zh/animation/carousel_animation.md
  docs/assets/guide/zh/plugin/header-highlight.md
  docs/assets/guide/zh/plugin/invert-highlight.md
  docs/src/main.tsx
Labels: docs

chore: add rush change
  common/changes/@visactor/vtable/feat-vtable-plugins_2024-11-29-06-41.json
Labels: chore

docs: add getTaskBarRelativeRect api #2920
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  packages/vtable-gantt/src/Gantt.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/2920-feature-vtable-gantt-taskbar-position_2024-11-29-07-40.json
Labels: chore

chore: add vtable devDependencies in vtable-plugins
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/package.json
Labels: chore

docs: generate changelog of release v1.11.5
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update setRecords usage
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/ListTable.ts
Labels: vtable, docs

fix: when edit record task date update taskbar occor error #2938
  packages/vtable-gantt/examples/gantt/gantt-editor.ts
  packages/vtable-gantt/examples/gantt/gantt-tree-dependency.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2938-bug-edit-createLink-error_2024-11-29-10-32.json
Labels: chore

test: update gantt test demo
  packages/vtable-gantt/examples/gantt/gantt-Arrange-customLayout.ts
  packages/vtable-gantt/examples/gantt/gantt-Compact-customLayout.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

fix: when can not find record occor error
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
Labels: none

fix: drag row order height error
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/src/layout/row-height-map.ts
  packages/vtable/src/tools/NumberMap.ts
Labels: vtable

docs: update docs
  common/changes/@visactor/vtable/feat-merge-cell_2024-12-02-03-04.json
Labels: chore

docs: refined PR based on review suggestions: - updated English documentation - added merge-cell-function usage demo - updated table type definitions
  docs/assets/option/en/column/text-column-type.md
  packages/vtable/examples/list/list-merge-cell-function.ts
  packages/vtable/examples/list/list-merge-cell.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ts-types/common.ts
Labels: vtable, docs

fix: records not children occor error
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: none

fix: fix last col&row editor size #2926
  common/changes/@visactor/vtable/feat-fs-bs_2024-12-02-08-23.json
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable, chore

fix: fix cell update event problem in CustomCellStylePlugin #2927
  common/changes/@visactor/vtable/feat-fs-bs_2024-12-02-08-27.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/demo/header-highlight/header-highlight.ts
  packages/vtable-plugins/demo/index.html
  packages/vtable-plugins/demo/main.ts
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/header-highlight.ts
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/column/style.ts
Labels: vtable, chore

fix: fix react-component in tree mode update
  common/changes/@visactor/vtable/fix-custom-component-update_2024-12-02-09-42.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable, chore
