Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: rowHierarchyType support grid-tree #401
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-grid-tree.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/layout-helper.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/utils/get-hierarchy-offset.ts
  packages/vtable/src/tools/diff-cell.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

fix: fix undefined record in getOriginRecordIndexForGroup()
  packages/vtable/__tests__/data-update/listTable-group-data-update.test.ts
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable

fix: fix row update in frozen rows
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable

fix: fix updateDomContainer timing
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

refactor: tree grid
  packages/vtable/examples/pivot/pivot-grid-tree.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

build: prelease version 1.15.1-alpha.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix custom-layout-demo
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/component/custom-layout-pivot.tsx
Labels: react-vtable

fix: fix empty-tip layout problem when resize window #3312
  common/changes/@visactor/vtable/fix-empty-tip-layout_2025-01-16-12-41.json
  packages/vtable/src/components/empty-tip/empty-tip.ts
Labels: vtable, chore

fix: remove tree limit in handleTextStick() #3274
  common/changes/@visactor/vtable/fix-stick-frozen_2025-01-16-13-12.json
  packages/vtable/src/scenegraph/stick-text/index.ts
Labels: vtable, chore

docs: add dom component container description
  docs/assets/guide/en/custom_define/react-custom-component.md
  docs/assets/guide/zh/custom_define/react-custom-component.md
Labels: docs

feat: grid-tree mode
  packages/vtable/examples/pivot/pivot-grid-tree.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

feat: grid-tree mode
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

feat: add groupTitleFieldFormat API #3092
  common/changes/@visactor/vtable/feat-tree-data-update_2025-01-17-07-17.json
  docs/assets/demo/en/table-type/list-table-group.md
  docs/assets/demo/zh/table-type/list-table-group.md
  docs/assets/guide/en/table_type/List_table/group_list.md
  docs/assets/guide/zh/table_type/List_table/group_list.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/examples/list/list-group.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs, chore

fix: remove tree limit in handleTextStick() #3274
  common/changes/@visactor/vtable/fix-stick-frozen_2025-01-16-13-12.json
  packages/vtable/src/scenegraph/stick-text/index.ts
Labels: vtable, chore

fix: fix empty-tip layout problem when resize window #3312
  common/changes/@visactor/vtable/fix-empty-tip-layout_2025-01-16-12-41.json
  packages/vtable/src/components/empty-tip/empty-tip.ts
Labels: vtable, chore

fix: fix custom-layout-demo
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/component/custom-layout-pivot.tsx
Labels: react-vtable

feat: add emptyTip click event
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  packages/react-vtable/src/eventsUtils.ts
  packages/vtable/examples/pivot-analysis/pivot-empty-tip.ts
  packages/vtable/src/components/empty-tip/empty-tip.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, react-vtable, docs

fix: disable react-dom component wheel event temporarily
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: react-vtable

fix: fix row update in frozen rows
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable

chore: add rush change
  common/changes/@visactor/vtable/feat-react-dom-component_2025-01-15-09-55.json
Labels: chore

fix: fix updateDomContainer timing
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

docs: add docs about tree data update
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/data/data_format.md
  docs/assets/guide/zh/data/data_format.md
Labels: docs

perf: replace the anonymous types with the declared types
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable

fix: fix frozen row update in computeRowsHeight()
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable

fix: fix undefined record in getOriginRecordIndexForGroup()
  packages/vtable/__tests__/data-update/listTable-group-data-update.test.ts
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable

fix: fix beforeChangedRecordsMap update
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

fix: fix beforeChangedRecordsMap index in group mode
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

fix: fix group mode sorted update
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

docs: add docs about tree data update
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/data/data_format.md
  docs/assets/guide/zh/data/data_format.md
Labels: docs

fix: fix sort state in tree mode data update
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

fix: fix rowSeriesNumber update problem in group mode
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable

fix: fix frozen row update in computeRowsHeight()
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable

feat: add groupTitleFieldFormat API #3092
  common/changes/@visactor/vtable/feat-tree-data-update_2025-01-17-07-17.json
  docs/assets/demo/en/table-type/list-table-group.md
  docs/assets/demo/zh/table-type/list-table-group.md
  docs/assets/guide/en/table_type/List_table/group_list.md
  docs/assets/guide/zh/table_type/List_table/group_list.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/examples/list/list-group.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs, chore

chore: add tree(group) mode data update unit test
  packages/vtable/__tests__/data-update/listTable-group-data-update.test.ts
  packages/vtable/__tests__/data-update/listTable-tree-data-update.test.ts
Labels: vtable

fix: remove tree limit in handleTextStick() #3274
  common/changes/@visactor/vtable/fix-stick-frozen_2025-01-16-13-12.json
  packages/vtable/src/scenegraph/stick-text/index.ts
Labels: vtable, chore

perf: replace the anonymous types with the declared types
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable

fix: fix beforeChangedRecordsMap index in group mode
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

docs: add docs about tree data update
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/data/data_format.md
  docs/assets/guide/zh/data/data_format.md
Labels: docs

feat: add data update in list-table tree(group) mode
  common/changes/@visactor/vtable/feat-tree-data-update_2025-01-10-07-14.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable, chore

feat: canvasWidth canvasHeight support auto setting #3089
  packages/vtable/src/core/BaseTable.ts
Labels: vtable
