Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

docs: add MenuListItem/disabled config and update menu-list-item.md related docs
  docs/assets/option/en/common/menu-list-item.md
  docs/assets/option/zh/common/menu-list-item.md
Labels: docs

docs: update gantt/dependency/linkDeletable docs
  docs/assets/option/en/common/gantt/dependency-line.md
  docs/assets/option/zh/common/gantt/dependency-line.md
Labels: docs

docs: update gantt/dependency/linkDeletable docs
  docs/assets/option/zh/common/gantt/dependency-line.md
Labels: docs

docs: update gantt/dependency/linkDeletable docs
  docs/assets/option/zh/common/gantt/dependency-line.md
Labels: docs

feat: add onBeforeCacheChartImage event
  packages/react-vtable/src/eventsUtils.ts
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, react-vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-onBeforeCacheChartImage_2025-04-14-09-57.json
Labels: chore

docs: add plugin usage and contribute guide
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/contribute.md
  docs/assets/guide/zh/plugin/excel-keyboard-alignment.md
  docs/assets/guide/zh/plugin/focus-highlight.md
  docs/assets/guide/zh/plugin/row-column-series.md
  docs/assets/guide/zh/plugin/table-carousel-animation.md
  docs/assets/guide/zh/plugin/usage.md
  packages/vtable-plugins/demo/column-series/column-series.ts
  packages/vtable-plugins/demo/focus-highlight/focus-highlight.ts
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/column-series.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-plugins/src/focus-highlight.ts
  packages/vtable-plugins/src/highlight-header-when-select-cell.ts
  packages/vtable-plugins/src/row-series.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
  packages/vtable/src/plugins/interface.ts
  packages/vtable/src/tools/cell-range.ts
Labels: vtable, docs

docs: add plugin demos
  docs/assets/guide/zh/plugin/focus-highlight.md
  docs/assets/guide/zh/plugin/header-highlight.md
  docs/assets/guide/zh/plugin/row-column-add.md
  docs/assets/guide/zh/plugin/table-carousel-animation.md
  packages/vtable-plugins/demo/combine-plugins/combine-plugins.ts
  packages/vtable-plugins/demo/highlight-header/highlight-header.ts
  packages/vtable-plugins/src/focus-highlight.ts
Labels: docs

fix: fix pivotTable/rowseriesNumber/headerIcon not taking effect
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: update export.md about requestIdleCallback docs
  docs/assets/guide/en/export/excel.md
  docs/assets/guide/zh/export/excel.md
Labels: docs

fix: fix pivotTable/rowseriesNumber/headerIcon not taking effect
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: add plugin tutorial english
  docs/assets/demo/en/animation/carousel-animation.md
  docs/assets/demo/en/interaction/head-highlight.md
  docs/assets/demo/en/interaction/invert-highlight.md
  docs/assets/demo/zh/animation/carousel-animation.md
  docs/assets/demo/zh/interaction/head-highlight.md
  docs/assets/demo/zh/interaction/invert-highlight.md
  docs/assets/guide/en/animation/carousel_animation.md
  docs/assets/guide/en/plugin/contribute.md
  docs/assets/guide/en/plugin/excel-keyboard-alignment.md
  docs/assets/guide/en/plugin/focus-highlight.md
  docs/assets/guide/en/plugin/invert-highlight.md
  docs/assets/guide/en/plugin/row-column-add.md
  docs/assets/guide/en/plugin/row-column-series.md
  docs/assets/guide/en/plugin/table-carousel-animation.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/zh/animation/carousel_animation.md
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/plugins/interface.ts
  packages/vtable/src/plugins/plugin-manager.ts
Labels: vtable, docs

feat: update vrender to 0.22.7-alpha.9
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
Labels: vtable, chore

fix: fix poptip position in vtable-gantt
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: none

refactor: change event listener with vglobal #3734
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/listener/touch.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3734-refactor-unify-event-listen-use-vrender_2025-04-15-09-07.json
Labels: chore

docs: add plugins tutorial
  docs/assets/demo/en/plugin/excel-online-editing.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/plugin/excel-online-editing.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/zh/plugin/usage.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable-plugins/demo/combine-plugins/combine-plugins.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/pivot/pivot-plugin.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable, docs

fix: fix table size in getCellsRect() #3681
  common/changes/@visactor/vtable/fix-cell-rect_2025-04-15-12-40.json
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, chore

fix: correct column index calculation when rowSeriesNumber is configured
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-column-index-calculation-with-series-number_2025-04-16-05-30.json
Labels: chore

feat: set vrender version to 0.22.6
  common/changes/@visactor/vtable/test-same-vrender-version_2025-04-16-06-28.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
Labels: vtable, chore

fix: fix image flash problem #3588
  common/changes/@visactor/vtable/fix-image-flash_2025-04-16-06-43.json
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
Labels: vtable, chore

fix: fix validateDragOrderOnEnd judgement in dragOrder option
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

feat: add autoExtendColumn for plugin
  docs/assets/guide/en/plugin/row-column-series.md
  docs/assets/guide/zh/plugin/row-column-series.md
  packages/vtable-plugins/demo/combine-plugins/combine-plugins.ts
  packages/vtable-plugins/src/column-series.ts
  packages/vtable-plugins/src/row-series.ts
  packages/vtable/src/ListTable.ts
Labels: vtable, docs

fix: fix row/column update problem in text-stick #3744
  common/changes/@visactor/vtable/fix-stick-row-update_2025-04-16-08-02.json
  packages/vtable/src/scenegraph/layout/update-col.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/stick-text/index.ts
Labels: vtable, chore

feat: update VRender to 0.22.8
  common/changes/@visactor/vtable/fix-fix-switch-direction_2025-04-02-09-23.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: fix switch default direction #3667
  common/changes/@visactor/vtable/fix-fix-switch-direction_2025-04-02-09-23.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

feat: update vrender to 0.22.7-alpha.9
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
Labels: vtable, chore

feat: update VRender to 0.22.8
  common/changes/@visactor/vtable/fix-fix-switch-direction_2025-04-02-09-23.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: fix poptip position in vtable-gantt
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: none

feat: add chart picker
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

feat: use group point to pick
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

feat: add chart picker
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/index.ts
  packages/vtable/src/scenegraph/graphic/contributions/picker-interceptor.ts
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

feat: support customConfig disableBuildInChartActive
  packages/vtable/src/state/hover/update-position.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-support-disable-buildin-active-chart_2025-03-27-03-30.json
Labels: chore

fix: fix row/column update problem in text-stick #3744
  common/changes/@visactor/vtable/fix-stick-row-update_2025-04-16-08-02.json
  packages/vtable/src/scenegraph/layout/update-col.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/stick-text/index.ts
Labels: vtable, chore

fix: fix image flash problem #3588
  common/changes/@visactor/vtable/fix-image-flash_2025-04-16-06-43.json
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
Labels: vtable, chore

fix: fix validateDragOrderOnEnd judgement in dragOrder option
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

fix: fix table size in getCellsRect() #3681
  common/changes/@visactor/vtable/fix-cell-rect_2025-04-15-12-40.json
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, chore

chore: update rush change
  common/changes/@visactor/vtable/fix-selected-border-update_2025-03-28-08-48.json
Labels: chore
