Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: 通过option控制是否显示创建的按钮
  packages/vtable-gantt/examples/gantt/gantt-phase.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: 支持tooltip的显示位置
  packages/vtable-gantt/examples/gantt/gantt-phase.ts
  packages/vtable-gantt/src/scenegraph/tooltip.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

feat: 支持定制tooltip的内容
  packages/vtable-gantt/examples/gantt/gantt-phase.ts
  packages/vtable-gantt/src/scenegraph/tooltip.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: 支持定制tooltip的样式
  packages/vtable-gantt/examples/gantt/gantt-phase.ts
  packages/vtable-gantt/src/scenegraph/tooltip.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

fix: active right button interactive #3482
  common/changes/@visactor/vtable/fix-right-button-interactive_2025-02-27-06-45.json
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable, chore

feat: customCellStyle supports functional config #3483
  common/changes/@visactor/vtable/feat-custom-cell-style-func_2025-02-27-07-25.json
  packages/vtable/examples/style/custom-cell-style.ts
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/ts-types/common.ts
Labels: vtable, chore

docs: add custom-cell-style docs & demo
  docs/assets/demo/en/custom-render/custom-style.md
  docs/assets/demo/zh/custom-render/custom-style.md
  docs/assets/guide/en/custom_define/custom_style.md
  docs/assets/guide/zh/custom_define/custom_style.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

build: prelease version 1.17.1-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

perf(vtable-vue): optimize component rendering: implement viewport detection & DOM reuse & style updates
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable-dom.vue
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

fix: mobile drill icon state update #3485
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3485-feature-mobile-pivotTable-drill_2025-02-27-11-18.json
Labels: chore

perf(vtable-vue): check before rendering and removal
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

fix: customize DOM in 0 rows and 0 columns
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

docs: vue custom DOM component
  docs/assets/demo-vue/en/custom-layout/cell-dom-component.md
  docs/assets/demo-vue/menu.json
  docs/assets/demo-vue/zh/custom-layout/cell-dom-component.md
Labels: docs

feat: 创建里程碑cursor设置为point
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
Labels: none

feat: 提供滚动到指定日期的功能
  packages/vtable-gantt/src/Gantt.ts
Labels: none

feat: add tree support for row series number column
  packages/vtable/examples/debug/site.ts
  packages/vtable/src/layout/layout-helper.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

build: prelease version 1.17.1-alpha.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: move task record _updateRecordToListTable call logic #3488
  packages/vtable-gantt/src/Gantt.ts
Labels: none

fix: when drag exceed gantt occor error #3436
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

feat: 支持自定义icon的背景和大小
  packages/vtable-gantt/examples/gantt/gantt-phase.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: 变量重命名为markline
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

fix: 修复事件部分ts类型报错
  packages/vtable-gantt/src/event/EventTarget.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

fix: move task record _updateRecordToListTable call logic #3488
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: none

feat: 已经有markline的不允许再创建
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

fix: getBodyIndexByTableIndex api with row series number #3494
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

fix: click row series number cell cellRnage #3492
  packages/vtable/src/state/state.ts
Labels: vtable

refactor: dragHeaderMode move position
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: fix demo in theme doc
  docs/assets/guide/en/theme_and_style/theme.md
  docs/assets/guide/zh/theme_and_style/theme.md
Labels: docs

feat: sortByIndicatorRule support sortFunc #3508
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/ts-types/new-data-set.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3508-feature-pivottable-sortbyindicatorrule_2025-03-03-08-00.json
Labels: chore

feat: add validateDragOrderOnEnd on dragOrder option #3493
  docs/assets/demo/en/cell-type/chart.md
  docs/assets/demo/en/component/tooltip_custom_content.md
  docs/assets/demo/en/custom-render/complex-corner.md
  docs/assets/demo/en/interaction/move-header-position.md
  docs/assets/demo/en/list-table-data-analysis/list-table-aggregation-multiple.md
  docs/assets/demo/en/table-type/pivot-table-multi-tree.md
  docs/assets/demo/en/table-type/pivot-table-tree-lazy-load.md
  docs/assets/demo/en/table-type/pivot-table-tree.md
  docs/assets/demo/zh/cell-type/chart.md
  docs/assets/demo/zh/component/tooltip_custom_content.md
  docs/assets/demo/zh/custom-render/complex-corner.md
  docs/assets/demo/zh/interaction/move-header-position.md
  docs/assets/demo/zh/list-table-data-analysis/list-table-aggregation-multiple.md
  docs/assets/demo/zh/table-type/pivot-table-multi-tree.md
  docs/assets/demo/zh/table-type/pivot-table-tree-lazy-load.md
  docs/assets/demo/zh/table-type/pivot-table-tree.md
  docs/assets/faq/en/7-How to improve the performance of rendering a large number of charts in a web page.md
  docs/assets/faq/zh/7-How to improve the performance of rendering a large number of charts in a web page.md
  docs/assets/guide/en/interaction/drag_header.md
  docs/assets/guide/zh/interaction/drag_header.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/examples/cell-move/column-move.ts
  packages/vtable/examples/list/list-rowSeriesNumber.ts
  packages/vtable/examples/pivot/pivot-drag-header.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3493-feature-dragOrder-option_2025-03-03-10-19.json
Labels: chore

docs: supplement pivot table analysis usage
  docs/assets/guide/en/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_useage.md
  docs/assets/guide/zh/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_useage.md
Labels: docs

fix: enhance getCheckboxState to support tree structure
  packages/vtable/examples/debug/site.ts
  packages/vtable/src/ListTable.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3469-feature-vtable-setLoadingHierarchyState_2025-03-04-02-22.json
Labels: chore

feat: vue-vtable supports custom slot editors
  packages/vue-vtable/src/edit/editor.ts
  packages/vue-vtable/src/edit/index.ts
  packages/vue-vtable/src/edit/util.ts
  packages/vue-vtable/src/tables/base-table.vue
  packages/vue-vtable/src/utils/slotUtils.ts
Labels: none

docs: vue-vtable custom slot editors
  docs/assets/demo-vue/en/edit-data/edit-render.md
  docs/assets/demo-vue/menu.json
  docs/assets/demo-vue/zh/edit-data/edit-render.md
  packages/vue-vtable/demo/src/components/content.vue
  packages/vue-vtable/demo/src/components/sidebar.vue
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable-editor-render.vue
Labels: docs

build: prelease version 1.16.3-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update tutorial for pivot table sort
  docs/assets/faq/en/60-How the VTable component progressively loads sub-nodes in pivot tables.md
  docs/assets/faq/zh/60-How the VTable component progressively loads sub-nodes in pivot tables.md
  docs/assets/guide/en/basic_function/sort/pivot_sort.md
  docs/assets/guide/en/table_type/Pivot_table/custom_header.md
  docs/assets/guide/zh/basic_function/sort/pivot_sort.md
  docs/assets/guide/zh/table_type/Pivot_table/custom_header.md
Labels: docs
