Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

chore: add change log
  common/changes/@visactor/vtable/pre-release-1.18.4-alpha.3_2025-11-03-09-20.json
Labels: chore

build: prelease version 1.18.4-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: add rowHeightConfig to set rowHeight
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/state/cell-move/adjust-header-fixed.ts
  packages/vtable/src/state/cell-move/adjust-header.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

fix: dependencies problem
  packages/vtable-plugins/package.json
Labels: none

chore: rush update
  common/config/rush/pnpm-lock.yaml
Labels: chore

build: prelease version 1.18.4-alpha.4
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: save row height column width to sheet #4653
  packages/vtable-plugins/src/filter/filter-engine.ts
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable/__tests__/adjust-width-resized-col-map-fixed.test.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/state/cell-move/adjust-header.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, test

fix: fix typo
  docs/assets/guide/en/components/tooltip.md
  docs/assets/guide/zh/components/tooltip.md
Labels: docs

refactor: lazy load can delete record #4657
  packages/vtable/examples/list/list-data-del-promise.ts
  packages/vtable/examples/menu.ts
Labels: vtable

fix: excluding scenarios where the target value exceeds the boundary
  packages/vtable-gantt/src/data/DataSource.ts
Labels: none

fix: the getTargetGroup method of vue-vtable #4663
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-vue-vtable-headerCustomLayout_2025-11-05-05-31.json
Labels: chore

perf: replace some constants for use
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable/src/index.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: vtable, react-vtable

chore: remove useless files
  packages/vue-vtable/src/tables/utils.ts
Labels: none

refactor: lazy load can delete record #4657
  packages/vtable/examples/list/list-data-del-promise.ts
Labels: vtable

fix: prevent filter icon from overriding custom icons
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

refactor: overscrollBehavior set none not scrollbar effect #4675
  packages/vtable/src/event/listener/touch.ts
  packages/vtable/src/event/scroll.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4675-feature-overscrollbehavior-refactor-interaction-effect_2025-11-06-07-45.json
Labels: chore

feat: add enableChartDimensionLinkage for pivotChart
  packages/vtable/examples/pivot-chart/pivotChart_site_demo.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-pivotChartLinkage_2025-11-06-12-30.json
Labels: chore

feat: add enableChartDimensionLinkage for pivotChart
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
Labels: vtable

feat: add dragOrder to vtableSheet
  docs/assets/demo/en/vtable-sheet/sheet.md
  docs/assets/demo/zh/vtable-sheet/sheet.md
  docs/assets/guide/en/sheet/Getting_Started.md
  docs/assets/guide/en/sheet/plugins.md
  docs/assets/guide/zh/sheet/Getting_Started.md
  docs/assets/guide/zh/sheet/plugins.md
  docs/assets/option/en/table/sheet.md
  docs/assets/option/zh/table/sheet.md
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/4653-feature-vtable-sheet-resized-column-width-save_2025-11-07-07-09.json
Labels: chore

fix(table-carousel-animation): handle frozen rows in animation calculation
  packages/vtable-plugins/demo/table-carousel-animation/table-carousel-animation.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
Labels: none

feat(styles): add style interfaces for radio, button, switch and checkbox
  packages/vtable/src/body-helper/style/ButtonStyle.ts
  packages/vtable/src/body-helper/style/CheckboxStyle.ts
  packages/vtable/src/body-helper/style/RadioStyle.ts
  packages/vtable/src/body-helper/style/SwitchStyle.ts
Labels: vtable

fix: leftTop cornder render frame border line #4677
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4677-bug-cornerleftbottomcellstyles-border-cornerHeader_2025-11-07-09-14.json
Labels: chore

fix(pivot-table): fix frozenColCount being invalid when set to 0
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/state/state.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-pivot-table-frozen-col-count-zero-invalid_2025-11-07-10-37.json
Labels: chore

docs: generate changelog of release v1.22.3
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update row height guide
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
Labels: docs

feat: add chartDimensionLinkage for pivotChart
  common/config/rush/pnpm-lock.yaml
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/examples/pivot-chart/horizontal-hideHeader.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter.ts
  packages/vtable/examples/pivot-chart/pivotChart_site_demo.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-pivotChartLinkage_2025-11-10-11-45.json
Labels: chore

feat: add chartDimensionLinkage for pivotChart
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

refactor: getCellAdressByHeaderPath api
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

build: prelease version 1.18.11-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: crosshair for scatter chart
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter-reverse.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter1.ts
  packages/vtable/examples/pivot-chart/pivotChart_site_demo.ts
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: prevent filter plugin crash when input data is missing
  packages/vtable-plugins/demo/filter/bug.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

fix: reset filter when setFilterState receives empty params
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
