Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix: after rotate drag select interaction error
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

docs: generate changelog of release v1.18.2
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

feat: 添加复选框列的自动宽度处理
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: vtable

feat: 同时渲染checkbox与tree初尝试
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: vtable

fix: export data is current page size when if current mode is pagination
  packages/vtable-export/src/csv/index.ts
  packages/vtable-export/src/excel/index.ts
Labels: none

feat: addded plugin that supports copying and pasting from excel files
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/paste-add-row-column.md
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/paste-add-row-column/add-row-column.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/paste-add-row-column.ts
Labels: docs

refactor: add id to plugin options
  docs/assets/guide/en/plugin/rotate-table.md
  docs/assets/guide/zh/plugin/rotate-table.md
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/column-series.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-plugins/src/focus-highlight.ts
  packages/vtable-plugins/src/highlight-header-when-select-cell.ts
  packages/vtable-plugins/src/rotate-table.ts
  packages/vtable-plugins/src/row-series.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
Labels: docs

fix: solve which problem #3726
  docs/assets/guide/zh/export/excel.md
  packages/vtable-export/src/csv/index.ts
  packages/vtable-export/src/excel/index.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-export-all-data_2025-05-07-14-58.json
Labels: chore

perf: add keys to custom nodes
  packages/vue-vtable/src/utils/customLayoutUtils.ts
Labels: none

fix: when resize left table colWidth gantt header render error #3797
  packages/vtable-gantt/src/state/gantt-table-sync.ts
Labels: none

fix: unintended edit state activation on functional button clicks
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

fix: when no rowTree treeMode occor error #3830
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3830-bug-vtable-pivot-treeMode-occorError_2025-05-08-07-38.json
Labels: chore

build: prelease version 1.18.3-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add frozenColumnLine visible on theme #3828
  docs/assets/guide/en/theme_and_style/theme.md
  docs/assets/guide/zh/theme_and_style/theme.md
  docs/assets/option/en/common/frozen-column-line-style.md
  docs/assets/option/zh/common/frozen-column-line-style.md
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/themes/ARCO.ts
  packages/vtable/src/themes/BRIGHT.ts
  packages/vtable/src/themes/DARK.ts
  packages/vtable/src/themes/DEFAULT.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3828-feature-theme-frozencolumnlineshadow_2025-05-08-10-17.json
Labels: chore

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-click-edit-state-handling_2025-05-08-11-38.json
Labels: chore

chore: update changelog
  common/changes/@visactor/vtable/fix-click-edit-state-handling_2025-05-08-11-38.json
Labels: chore

build: prelease version 1.18.3-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat(gantt): add export functionality for gantt chart as image
  packages/vtable-gantt/src/export-helper.ts
Labels: none

feat(gantt): Implement plugin manager and add full export feature
  common/changes/@visactor/vtable/feat-gantt-export_2025-05-08-13-36.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/index.ts
  packages/vtable-gantt/src/plugins/index.ts
  packages/vtable-gantt/src/plugins/interface.ts
  packages/vtable-gantt/src/plugins/plugin-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable-plugins/demo/gantt-export-helper/gantt-export-helper.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/gantt-export-helper.ts
  packages/vtable-plugins/src/index.ts
Labels: chore

feat(gantt): Implement plugin manager and add full export feature
  packages/vtable-gantt/src/export-helper.ts
Labels: none

feat(gantt): Implement plugin manager and add full export feature
  packages/vtable-plugins/demo/gantt-export-image/gantt-export-image.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/gantt-export-image.ts
  packages/vtable-plugins/src/index.ts
Labels: none

feat: add support for text not to be hidden
  docs/assets/demo/en/gantt/gantt-orient.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-orient.md
  docs/assets/option/en/common/gantt/task-bar-label-text-style.md
  docs/assets/option/zh/common/gantt/task-bar-label-text-style.md
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

feat(gantt): Implement plugin manager and add full export feature
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/contribute.md
  docs/assets/guide/zh/plugin/gantt-export-image.md
  docs/assets/guide/zh/plugin/usage.md
Labels: docs

fix: resolve taskBar width problem when click linkPonitNode #3829
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

fix: resolve taskBar width problem when click linkPonitNode #3829
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-pointerdown-resizeTaskBar-resizing_2025-05-09-08-39.json
Labels: chore

feat: add support for text not to be hidden
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable/src/index.ts
Labels: vtable

feat(gantt): Implement plugin manager and add full export feature
  docs/assets/guide/en/plugin/contribute.md
  docs/assets/guide/en/plugin/gantt-export-image.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/zh/plugin/contribute.md
Labels: docs

feat: add milestone text
  docs/assets/option/en/common/gantt/milestone-style.md
  docs/assets/option/zh/common/gantt/milestone-style.md
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

feat: 实现支持cellType: checkbox与tree: true可同时配置
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/src/scenegraph/component/checkbox-content.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
Labels: vtable

feat: 父子元素复选框同步状态（仍有bug）
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/ts-types/list-table/define/checkbox-define.ts
Labels: vtable

feat: 父子元素复选框同步状态（仍有bug）
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
Labels: vtable

feat: add 'date' position to markline
  docs/assets/demo/en/gantt/gantt-interaction-create-mark-line.md
  docs/assets/demo/zh/gantt/gantt-interaction-create-mark-line.md
  docs/assets/option/en/common/gantt/mark-line.md
  docs/assets/option/zh/common/gantt/mark-line.md
  packages/vtable-gantt/examples/gantt/gantt-createMarkLine.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feature-Markline-position-date_2025-05-10-11-41.json
Labels: chore

chore: improvement of plug-in unit testing
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/__tests__/add-row-column.test.ts
  packages/vtable-plugins/__tests__/carousel-animation.test.ts
  packages/vtable-plugins/__tests__/column-series.test.ts
  packages/vtable-plugins/__tests__/excel-edit-cell-keyboard.test.ts
  packages/vtable-plugins/__tests__/focus-highlight.test.ts
  packages/vtable-plugins/__tests__/gantt-export-image.test.ts
  packages/vtable-plugins/__tests__/highlight-header-when-select-cell.test.ts
  packages/vtable-plugins/__tests__/rotate-table.test.ts
  packages/vtable-plugins/__tests__/row-series.test.ts
  packages/vtable-plugins/__tests__/table-carousel-animation.test.ts
  packages/vtable-plugins/jest.config.js
  packages/vtable-plugins/package.json
  packages/vtable-plugins/setup-mock.js
  packages/vtable-plugins/src/focus-highlight.ts
  packages/vtable-plugins/src/global.d.ts
  packages/vtable-plugins/tscofig.eslint.json
  packages/vtable-plugins/tsconfig.json
Labels: test, jest, typescript, chore

fix: solve which problem #3726
  docs/assets/guide/zh/export/csv.md
  packages/vtable-export/src/csv/index.ts
  packages/vtable-export/src/excel/index.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable, docs

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
