Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

docs: update release lgo
  common/changes/@visactor/vtable/feat-react-vtable-19_2026-03-27-11-07.json
Labels: chore

docs: update release lgo
  common/changes/@visactor/vtable/feat-react-vtable-19_2026-03-27-11-07.json
Labels: chore

docs: generate changelog of release v1.26.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

fix: correct unpkg package metadata
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/bundler.config.js
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, bundler

fix: pivot sort state show error when rows and columns have same dimension #5055
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-sort-state-echo.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-pivot-sort-state-corner_2026-04-07-06-36.json
Labels: chore

fix(vue-vtable): resolve DOM component flickering during column resize (#5038)
  packages/vue-vtable/__tests__/vue-stable-id.test.ts
  packages/vue-vtable/jest.config.js
  packages/vue-vtable/package.json
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
  packages/vue-vtable/src/utils/customLayoutUtils.ts
  packages/vue-vtable/tscofig.eslint.json
Labels: test, jest

chore: update debugger skill
  skills/vtable-browser-debugger-assistant/SKILL.md
Labels: none

fix: pivot sort state
  packages/vtable/src/PivotTable.ts
  skills/vtable-browser-debugger-assistant/SKILL.md
Labels: vtable

fix: pivot sort state
  packages/vtable/src/PivotTable.ts
Labels: vtable

fix: fill handle logic about get cell value #5096
  .gitignore
  packages/vtable-plugins/demo/auto-fill/fill-handle-origin-value.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-helper.ts
  skills-lock.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/5096-bug-drag-autofill-plugin-getorigincellvalue_2026-04-08-08-39.json
Labels: chore

chore: update skill
  .gitignore
  skills/vtable-browser-debugger-assistant/SKILL.md
Labels: none

feat: add custom styles, icons, and class names for context-menu plugin
  packages/vtable-plugins/demo/context-menu/context-menu.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
  packages/vtable-plugins/src/contextmenu/styles.ts
  packages/vtable-plugins/src/contextmenu/types.ts
Labels: none

fix: aggregation precisionAdd precisionSub
  packages/vtable/__tests__/dataset/aggregation-float.test.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/5102-bug-aggregation-float_2026-04-10-01-47.json
Labels: chore

fix: aggregation error
  packages/vtable/__tests__/pivotChart.test.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
Labels: vtable, test

fix(types): use Partial<ITextGraphicAttribute> for TextIcon style
  packages/vtable/src/ts-types/icon.ts
Labels: vtable

fix(table): radio cell should not render in summary row series number column
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

demo(business): add personnel information sheet with phone masking #2093
  docs/assets/demo/en/business/personnel-info.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/business/personnel-info.md
Labels: docs

feat: add sheet formula type
  packages/vtable-sheet/__tests__/formula-engine/formula-engine-core.test.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-add-sheet-formula-types_2026-04-14-09-52.json
Labels: chore

fix: arrow key navigation causes white blank area (#5105)
  packages/vtable/__tests__/listTable-arrow-key-scroll.test.ts
  packages/vtable/examples/interactive/arrow-key-scroll.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable, test

feat: add custom styles, icons, and class names for context-menu plugin
  packages/vtable-plugins/demo/context-menu/context-menu.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
  packages/vtable-plugins/src/contextmenu/styles.ts
  packages/vtable-plugins/src/contextmenu/types.ts
Labels: none

fix: rename non-standard variable naming
  packages/vtable-plugins/demo/context-menu/context-menu.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/styles.ts
Labels: none

chore: update vrender to 0.22.19
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/pre-release-1.18.11-alpha.2_2026-04-17-02-48.json
Labels: chore

build: prelease version 1.18.12-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.26.1-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: edit cell invalidateNotExit #5114
  packages/vtable/examples/debug/issue-5114.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-editCellInvalidateNotExit_2026-04-22-10-57.json
Labels: chore

fix: edit cell invalidateNotExit #5114
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

fix: update vue vtable packages build export files
  packages/vue-vtable/package.json
  tools/bundler/src/tasks/vue-modules.ts
Labels: bundler

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-vue-vtable-packages_2026-04-23-01-49.json
Labels: chore

fix: when search text with tree table results error #5071
  packages/vtable-search/__tests__/tree-search-highlight.test.ts
  packages/vtable-search/demo/list/list-tree.ts
  packages/vtable-search/demo/menu.ts
  packages/vtable-search/jest.config.js
  packages/vtable-search/src/search-component/search-component.ts
  packages/vtable-search/tscofig.eslint.json
  packages/vtable-search/tsconfig.test.json
  skills/vtable-browser-debugger-assistant/SKILL.md
  skills/vtable-browser-debugger-assistant/references/snippets.md
Labels: test, jest

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-searchPluginTreeTableCase_2026-04-23-07-48.json
Labels: chore

fix: retry target row/col resolve when scroll anchor missing
  packages/vtable/__tests__/listTable-arrow-key-scroll.test.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
Labels: vtable, test

fix: 5113 issue error
  packages/vtable/__tests__/listTable-arrow-key-scroll.test.ts
Labels: vtable, test

fix: dblclickHandler not handle rightClick
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
