Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

perf: wrapContainer default behavior
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

feat: markLine的content支持点击事件
  packages/vtable-gantt/examples/gantt/gantt-phase.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

perf: change the container of the slot to automatically determine based on the slot name
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
  packages/vue-vtable/src/utils/customLayoutUtils.ts
Labels: none

docs: add demo component
  packages/vue-vtable/demo/src/components/content.vue
  packages/vue-vtable/demo/src/components/sidebar.vue
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable-dom.vue
  packages/vue-vtable/demo/src/table/unified/composition/list-table/list-table-dom.vue
  packages/vue-vtable/demo/src/table/utils/index.ts
Labels: none

fix: fix bug of duplicate compute tableY in getCellAtRelativePosition
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable

feat: delete loading icon auto register
  common/changes/@visactor/vtable/fix-carousel_2025-02-25-13-33.json
  docs/assets/demo/en/table-type/list-table-tree-lazy-load.md
  docs/assets/demo/zh/table-type/list-table-tree-lazy-load.md
  docs/assets/guide/en/table_type/List_table/tree_list.md
  docs/assets/guide/zh/table_type/List_table/tree_list.md
  packages/vtable/src/icons.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable, docs, chore

fix: fix targetGroup error in checkFrozenContainer()
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: react-vtable

build: prelease version 1.17.0-alpha.4
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: change font icon name to text
  docs/assets/api/en/icon/base-icon.md
  docs/assets/api/zh/icon/base-icon.md
Labels: docs

chore: update package start shell
  packages/vtable/package.json
Labels: vtable

fix: fix row/col is decimal in animation #3455
  common/changes/@visactor/vtable/fix-carousel_2025-02-24-06-53.json
  packages/vtable/src/core/animation.ts
Labels: vtable, chore

feat: delete loading icon auto register
  common/changes/@visactor/vtable/fix-carousel_2025-02-25-13-33.json
  docs/assets/demo/en/table-type/list-table-tree-lazy-load.md
  docs/assets/demo/zh/table-type/list-table-tree-lazy-load.md
  docs/assets/guide/en/table_type/List_table/tree_list.md
  docs/assets/guide/zh/table_type/List_table/tree_list.md
  packages/vtable/src/icons.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable, docs, chore

fix: fix height is decimal in carousel #3458
  common/changes/@visactor/vtable/fix-carousel_2025-02-24-06-56.json
  packages/vtable-plugins/src/carousel-animation.ts
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable, chore

fix: fix targetGroup error in checkFrozenContainer()
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: react-vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-support-vchart-spec-transform-in-cell_2024-12-27-09-29.json
Labels: chore

feat: add `specTransformInCell` for support modifying vchart spec of each cell in PivotChart
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: for node env
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

chore: add rush change
  common/changes/@visactor/vtable/feat-node-env_2025-02-18-12-41.json
Labels: chore

fix: editor start parameters
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

fix: container movement issue after freezing columns && wrapContainer inherits cell style
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

fix: editCellTrigger default doubleclick
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

fix: editCellTrigger default doubleclick
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

feat: pivot table add api setLoadingHierarchyState #3469
  packages/vtable/examples/pivot/pivot-tree.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

feat: add disable button cursor
  packages/vtable/examples/type/switch.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/button-cell.ts
Labels: vtable

fix: fix switch & button width height compute
  packages/react-vtable/src/components/button/button.tsx
  packages/vtable/examples/menu.ts
  packages/vtable/examples/type/button.ts
  packages/vtable/examples/type/checkbox.ts
  packages/vtable/examples/type/switch.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/height-util.ts
  packages/vtable/src/ts-types/column/type.ts
Labels: vtable, react-vtable

fix: editCellTrigger default doubleclick
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

feat: add switch API
  packages/vtable/src/ListTable.ts
Labels: vtable

feat: change vrender import path
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/components/axis/label-overlap.ts
  packages/vtable/src/components/legend/continue-legend/continue-legend.ts
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
  packages/vtable/src/components/title/title.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/render/jsx/index.ts
  packages/vtable/src/render/layout/index.ts
  packages/vtable/src/render/layout/tag.ts
  packages/vtable/src/render/layout/text.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/height-util.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/cell-border-stroke-width.ts
  packages/vtable/src/scenegraph/utils/text-measure.ts
  packages/vtable/src/state/radio/radio.ts
  packages/vtable/src/state/select/custom-select.ts
  packages/vtable/src/ts-types/component/legend.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable

feat: add switch cell type
  common/changes/@visactor/vtable/feat-text-icon_2025-02-18-13-34.json
  packages/vtable/examples/type/checkbox.ts
  packages/vtable/src/ListTable-all.ts
  packages/vtable/src/body-helper/body-helper.ts
  packages/vtable/src/body-helper/style/SwitchStyle.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/index.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/switch-cell.ts
  packages/vtable/src/ts-types/column/style.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/list-table/define/index.ts
  packages/vtable/src/ts-types/list-table/define/switch-define.ts
Labels: vtable, chore

docs: change font icon name to text
  docs/assets/api/en/icon/base-icon.md
  docs/assets/api/zh/icon/base-icon.md
Labels: docs

feat: sync react events
  packages/react-vtable/src/eventsUtils.ts
Labels: react-vtable

feat: add textIcon
  packages/vtable/examples/icon/font-icon.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/component/cell-content.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/tools/icons.ts
  packages/vtable/src/ts-types/icon.ts
Labels: vtable

chore: add switch unit case
  packages/vtable/__tests__/cell-type/switch.test.ts
Labels: vtable

feat: add button cell type
  common/changes/@visactor/vtable/feat-text-icon_2025-02-18-13-34.json
  packages/vtable/src/ListTable-all.ts
  packages/vtable/src/body-helper/body-helper.ts
  packages/vtable/src/body-helper/style.ts
  packages/vtable/src/body-helper/style/ButtonStyle.ts
  packages/vtable/src/body-helper/style/SwitchStyle.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/component/button.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/button-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/index.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/column/style.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/list-table/define/button-define.ts
  packages/vtable/src/ts-types/list-table/define/index.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable, chore

fix: fix radio & switch state change
  packages/vtable/src/ListTable.ts
  packages/vtable/src/state/radio/radio.ts
Labels: vtable

fix: editCellTrigger default doubleclick
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

docs: generate changelog of release v1.17.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: enhance the demo components of vue-vtable
  packages/vue-vtable/demo/src/components/content.vue
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable-dom.vue
  packages/vue-vtable/demo/src/table/unified/composition/list-table/list-table-dom.vue
  packages/vue-vtable/demo/src/table/utils/index.ts
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: none

feat: 丢外暴露当前点击目标的位置
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/ts-types/common.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
