Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix: fix backtracking issue in getCellAdressByHeaderPath matching algorithm
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-getCellAdressByHeaderPath-matching_2025-11-12-07-38.json
Labels: chore

fix: adjust filter menu to correct position
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

feat(plugin-search): 新增当搜索结果不在视窗内时，自动滚动表格与页面以将结果定位到可见位置。
  docs/assets/guide/en/search.md
  docs/assets/guide/zh/search.md
  packages/vtable-search/demo/index.html
  packages/vtable-search/demo/style.css
  packages/vtable-search/src/search-component/search-component.ts
Labels: docs

feat(plugIn-filter): 加强筛选状态管理，支持搜索与候选值 - 新增 ⁠filterMenuStates 管理筛选菜单状态，包含稳定候选值与当前搜索关键词 - 新增初始化状态、更新搜索关键词、按搜索获取可见已选值的方法 - 更新 ⁠ValueFilter 接入新状态管理，确保筛选与选择时正确处理可见值
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

feat(plugin-filter): 增强筛选工具栏与值筛选功能
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-filter-plugins_2025-11-13-07-35.json
Labels: chore

docs: update change log
  common/changes/@visactor/vtable/fix-filter-plugins_2025-11-13-07-35.json
Labels: chore

fix: frozenColCount set value error #4688
  packages/vtable/src/state/state.ts
Labels: vtable

build: prelease version 1.22.4-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: add some descripte
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/gantt-export-image/gantt-export-image.ts
  packages/vtable-plugins/src/gantt-export-image.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
Labels: docs

feat(plugin-search): update search component documentation and fix spelling errors and enhanced search component methods to support scrolling to search results based on the new configuration.
  docs/assets/guide/en/search.md
  docs/assets/guide/zh/search.md
  packages/vtable-search/src/search-component/search-component.ts
Labels: docs

feat: update vrender axis component use labelHoverOnAxis
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/horizontal-hideHeader.ts
  packages/vtable/examples/pivot-chart/pivotChart-linkage.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter.ts
  packages/vtable/examples/pivot-chart/pivotChart_site_demo.ts
  packages/vtable/examples/vite.config.js
  packages/vtable/package.json
  packages/vtable/src/components/axis/get-axis-attributes.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

feat: update vrender axis component use labelHoverOnAxis
  common/config/rush/pnpm-lock.yaml
Labels: chore

fix: tooltip show for pivotChart
  packages/vtable/examples/pivot-chart/horizontal-hideHeader.ts
  packages/vtable/examples/pivot-chart/pivotChart-horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart_site_demo.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: filter plugin support custom styles. close#4720
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-11-14-08-35.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/styles.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

build: prelease version 1.22.4-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: dragOrder type error
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

refactor: chartDimensionLinkage config
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/pivot-chart/horizontal-hideHeader.ts
  packages/vtable/examples/pivot-chart/pivotChart-horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart-linkage.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter-reverse.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter1.ts
  packages/vtable/examples/pivot-chart/pivotChart_site_demo.ts
  packages/vtable/package.json
  packages/vtable/src/components/axis/get-axis-attributes.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, chore

refactor: chartDimensionLinkage config
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
Labels: vtable

docs: add some descripte
  packages/vtable-plugins/src/master-detail-plugin/config.ts
Labels: none

docs: add some descripte
  packages/vtable-plugins/src/master-detail-plugin/config.ts
Labels: none

feat(plugin-filter): 增强筛选工具栏与值筛选功能
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

feat(plugIn-filter): 加强筛选状态管理，支持搜索与候选值 - 新增 ⁠filterMenuStates 管理筛选菜单状态，包含稳定候选值与当前搜索关键词 - 新增初始化状态、更新搜索关键词、按搜索获取可见已选值的方法 - 更新 ⁠ValueFilter 接入新状态管理，确保筛选与选择时正确处理可见值
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

feat: filter plugin support custom styles. close#4720
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-11-14-08-35.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/styles.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

build: prelease version 1.22.4-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: the serial number cannot be edited #4627
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-vtable-seriesNumber_2025-11-18-01-34.json
Labels: chore

docs: update changlog of rush
  packages/vtable-plugins/src/table-export/csv/index.ts
Labels: none

docs: generate changelog of release v1.22.4
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

feat: add class name for filter container
  packages/vtable-plugins/src/filter/filter-toolbar.ts
Labels: none

fix: add null check for nodeChildren in matchDimensionPath
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-node-children-null-check_2025-11-19-03-38.json
Labels: chore

fix: filter error when update option
  packages/vtable-plugins/src/focus-highlight.ts
Labels: none

refactor: resolve pivotchart dimension linkage problems
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/pivot-chart/pivotChart-linkage.ts
  packages/vtable/examples/pivot-chart/pivotChart-pie1.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter.ts
  packages/vtable/package.json
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/components/axis/get-axis-component-size.ts
  packages/vtable/src/core/style-helper.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/themes/theme-define.ts
Labels: vtable, chore

test: fix unit test __vtableAxisCellPadding
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
Labels: vtable

feat: add filter categories options
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/constants.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/types.ts
Labels: none

fix: axix cell padding change
  packages/vtable/examples/pivot-chart/pivotChart-scatter.ts
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/components/axis/get-axis-component-size.ts
  packages/vtable/src/core/style-helper.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable

fix: axix cell padding change
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
