Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

test: cover VTable hover selection and frozen edges
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/cells/checkbox-header-options.mjs
  packages/vtable/__tests__/visual/cases/frozen/empty-records-header.mjs
  packages/vtable/__tests__/visual/cases/frozen/frozen-shadow-end.mjs
  packages/vtable/__tests__/visual/cases/frozen/frozen-shadow-middle.mjs
  packages/vtable/__tests__/visual/cases/frozen/frozen-shadow-start.mjs
  packages/vtable/__tests__/visual/cases/frozen/scrollbar-ignore-frozen.mjs
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/interaction/hover-column.mjs
  packages/vtable/__tests__/visual/cases/interaction/hover-cross.mjs
  packages/vtable/__tests__/visual/cases/interaction/hover-row.mjs
  packages/vtable/__tests__/visual/cases/interaction/hover-single.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-column-disabled.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-drag-outside.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-global-disabled.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-header-cell.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-header-disabled-drag.mjs
Labels: vtable

test: cover Sheet insertion boundaries in local visuals
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/sheet/insert-columns-before-second.mjs
  packages/vtable/__tests__/visual/cases/sheet/insert-columns-before-third.mjs
  packages/vtable/__tests__/visual/cases/sheet/insert-rows-after-first.mjs
  packages/vtable/__tests__/visual/cases/sheet/insert-rows-at-start.mjs
Labels: vtable

test: extend VTable visual cases and stabilize pie selection
  .github/workflows/vtable-visual.yml
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/interaction/drag-row-series-order.mjs
  packages/vtable/__tests__/visual/cases/pivot-chart/pie-multi-select.mjs
  packages/vtable/__tests__/visual/cases/pivot/custom-sort-click-colors.mjs
Labels: vtable, chore

test: cover remaining representative BugServer visual gaps
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/cells/link-merged-auto-height.mjs
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/pivot-chart/area-axis-sort.mjs
  packages/vtable/__tests__/visual/cases/pivot-chart/rose-indicator-title.mjs
  packages/vtable/__tests__/visual/cases/pivot/chart-spec-mark-line.mjs
  packages/vtable/__tests__/visual/cases/pivot/color-legend-order.mjs
  packages/vtable/__tests__/visual/cases/pivot/indicator-hide-frozen.mjs
  packages/vtable/__tests__/visual/cases/plugins/excel-delete-range.mjs
Labels: vtable

test: cover selection modes and run visual regression in CI
  .github/workflows/vtable-visual.yml
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/api/change-cell-values.mjs
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-highlight-column.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-highlight-cross-header-cell.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-highlight-cross-theme.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-highlight-cross-transpose.mjs
  packages/vtable/__tests__/visual/cases/interaction/select-highlight-row.mjs
Labels: vtable, chore

test: cover anonymous Gantt header resize
  packages/vtable/__tests__/visual/cases/BUGSERVER_CANDIDATE_TRIAGE.json
  packages/vtable/__tests__/visual/cases/COVERAGE.md
  packages/vtable/__tests__/visual/cases/gantt/resize-task-list-header.mjs
  packages/vtable/__tests__/visual/cases/index.mjs
Labels: vtable

feat: 给表格增加一个配置项
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/interaction/resize-column-non-realtime.mjs
  packages/vtable/__tests__/visual/cases/interaction/resize-column-realtime-default.mjs
  packages/vtable/examples/interactive/resize-realtime.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/state/resize/update-resize-column.ts
  packages/vtable/src/state/resize/update-resize-row.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: update doc
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

fix: preserve complex cell rendering fallbacks
  packages/vtable/__tests__/cell-type/complex-cell-fast-update.test.ts
  packages/vtable/examples/debug/issue-5308-scroll-performance.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

perf: reuse complex cell graphics during scrolling
  packages/vtable/__tests__/cell-type/complex-cell-fast-update.test.ts
  packages/vtable/examples/debug/issue-5308-scroll-performance.ts
  packages/vtable/examples/issue-5308-scroll-performance.html
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/button-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/switch-cell.ts
Labels: vtable

fix: use resolved values in complex cell reuse
  packages/vtable/__tests__/cell-type/complex-cell-fast-update.test.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

fix: harden complex cell reuse state
  packages/vtable/__tests__/cell-type/complex-cell-fast-update.test.ts
  packages/vtable/examples/debug/issue-5308-scroll-performance.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
Labels: vtable

fix: guard stale pivot tree cell updates
  packages/vtable/__tests__/pivotTable-tree.test.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, test

test: clarify scroll benchmark CI summary
  packages/vtable/scripts/benchmark-scroll-performance.mjs
Labels: vtable

fix: stabilize scroll benchmark gate
  packages/vtable/scripts/benchmark-scroll-performance.mjs
Labels: vtable

test: add scroll performance regression benchmark
  .github/workflows/performance-benchmark.yml
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/debug/issue-5308-scroll-performance.ts
  packages/vtable/package.json
  packages/vtable/scripts/benchmark-scroll-performance.mjs
Labels: vtable, chore

fix: harden complex cell reuse regression gates
  common/config/rush/pnpm-lock.yaml
  packages/vtable/__tests__/cell-type/complex-cell-fast-update.test.ts
  packages/vtable/scripts/benchmark-scroll-performance.mjs
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, chore

fix(vtable): resolve view indexes for sorted/paginated delete and update
  packages/vtable/__tests__/data-update/listTable-data-events.test.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

fix: restrict performance benchmark token permissions
  .github/workflows/performance-benchmark.yml
Labels: chore

fix(vtable): preserve lazily loaded pivot records when updating filters
  common/changes/@visactor/vtable/codex-fix-pivot-lazy-filter-records_2026-10-09-04-17.json
  packages/vtable/__tests__/pivotTable-tree-lazy-filter.test.ts
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/pivot/lazy-filter-records.mjs
  packages/vtable/src/dataset/dataset.ts
Labels: vtable, test, chore

ci: add manual PR screenshot workflow [skip ci]
  .github/scripts/bug-server-manual.cjs
  .github/scripts/bug-server-manual.test.cjs
  .github/scripts/extract_bug_server_bundle.py
  .github/scripts/test_extract_bug_server_bundle.py
  .github/workflows/bug-server-manual-report.yml
  .github/workflows/bug-server-manual.yml
Labels: chore

fix(ci): isolate untrusted builds and validate artifact paths [skip ci]
  .github/scripts/bug-server-manual.cjs
  .github/scripts/bug-server-manual.test.cjs
  .github/workflows/bug-server-manual.yml
Labels: chore

ci: clarify bundle file validation variable [skip ci]
  .github/workflows/bug-server-manual.yml
Labels: chore

ci: use artifact path name in trusted validation [skip ci]
  .github/workflows/bug-server-manual.yml
Labels: chore

fix(ci): isolate untrusted builds and validate artifact paths [skip ci]
  .github/scripts/bug-server-manual.cjs
  .github/scripts/bug-server-manual.test.cjs
  .github/workflows/bug-server-manual.yml
Labels: chore

ci: add manual PR screenshot workflow [skip ci]
  .github/scripts/bug-server-manual.cjs
  .github/scripts/bug-server-manual.test.cjs
  .github/scripts/extract_bug_server_bundle.py
  .github/scripts/test_extract_bug_server_bundle.py
  .github/workflows/bug-server-manual-report.yml
  .github/workflows/bug-server-manual.yml
Labels: chore

ci: clarify bundle file validation variable [skip ci]
  .github/workflows/bug-server-manual.yml
Labels: chore

ci: use artifact path name in trusted validation [skip ci]
  .github/workflows/bug-server-manual.yml
Labels: chore

ci: route manual Bug Server PR tests to CN PPE
  .github/scripts/bug-server-manual.cjs
  .github/scripts/bug-server-manual.test.cjs
  .github/workflows/bug-server-manual-report.yml
  .github/workflows/bug-server-manual.yml
Labels: chore

ci: route manual Bug Server PR tests to CN PPE
  .github/scripts/bug-server-manual.cjs
  .github/scripts/bug-server-manual.test.cjs
  .github/workflows/bug-server-manual-report.yml
  .github/workflows/bug-server-manual.yml
Labels: chore

fix: correct resize clamp direction and avoid double-subtracting delta
  packages/vtable/__tests__/visual/cases/index.mjs
  packages/vtable/__tests__/visual/cases/interaction/resize-column-adaptive-neighbor.mjs
  packages/vtable/__tests__/visual/cases/interaction/resize-column-non-realtime-min-clamp.mjs
  packages/vtable/__tests__/visual/cases/interaction/resize-row-adaptive-neighbor.mjs
  packages/vtable/examples/interactive/resize-realtime.ts
  packages/vtable/src/state/resize/update-resize-column.ts
  packages/vtable/src/state/resize/update-resize-row.ts
Labels: vtable

fix: restrict manual controls and isolate PR source checkout
  .github/workflows/bug-server-manual.yml
Labels: chore

fix: restrict manual controls and isolate PR source checkout
  .github/workflows/bug-server-manual.yml
Labels: chore
