Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/3097-feature-gantt-milestone_2024-12-18-10-17.json
Labels: chore

feat: add milestone type #3097
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

fix: application define in react-vtable umd file #3093
  common/changes/@visactor/vtable/fix-graphic-html_2024-12-18-12-12.json
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: react-vtable, chore

build: prelease version 1.13.3-alpha.5
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update contribute guide
  common/changes/@visactor/vtable/feat-merge-cell_2024-12-02-03-04.json
  docs/assets/contributing/en/5-How to Contribute Code.md
  docs/assets/contributing/zh/5-How to Contribute Code.md
Labels: docs, chore

docs: update contribute guide
  docs/assets/contributing/en/5-How to Contribute Code.md
  docs/assets/contributing/zh/5-How to Contribute Code.md
Labels: docs

fix: fix undeline height in text measurement #3112
  common/changes/@visactor/vtable/fix-underline-height_2024-12-19-06-21.json
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable, chore

fix: add default underlineOffset in text measurement
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable

fix: fix cell group judgement when scroll #3149
  common/changes/@visactor/vtable/fix-scroll-group_2024-12-19-07-48.json
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: vtable, chore

docs: update gantt taskbar milestone type
  docs/assets/demo/en/gantt/gantt-basic.md
  docs/assets/demo/en/gantt/gantt-dependency-link-create.md
  docs/assets/demo/en/gantt/gantt-edit.md
  docs/assets/demo/en/gantt/gantt-hour.md
  docs/assets/demo/en/gantt/gantt-interaction-creation-button.md
  docs/assets/demo/en/gantt/gantt-interaction-drag-taskBar.md
  docs/assets/demo/en/gantt/gantt-taskShowMode.md
  docs/assets/demo/zh/gantt/gantt-basic.md
  docs/assets/demo/zh/gantt/gantt-dependency-link-create.md
  docs/assets/demo/zh/gantt/gantt-edit.md
  docs/assets/demo/zh/gantt/gantt-hour.md
  docs/assets/demo/zh/gantt/gantt-interaction-creation-button.md
  docs/assets/demo/zh/gantt/gantt-interaction-drag-taskBar.md
  docs/assets/demo/zh/gantt/gantt-taskShowMode.md
  docs/assets/guide/en/gantt/Getting_Started.md
  docs/assets/guide/en/gantt/gantt_customLayout.md
  docs/assets/guide/en/gantt/gantt_edit.md
  docs/assets/guide/zh/gantt/Getting_Started.md
  docs/assets/guide/zh/gantt/gantt_customLayout.md
  docs/assets/guide/zh/gantt/gantt_edit.md
  docs/assets/option/en/common/gantt/milestone-style.md
  docs/assets/option/en/common/gantt/task-bar-style.md
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/milestone-style.md
  docs/assets/option/zh/common/gantt/task-bar-style.md
  docs/assets/option/zh/common/gantt/task-bar.md
  packages/vtable-gantt/examples/gantt/gantt-customLayout.ts
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

feat: add updateMarkLine
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-updateMarkline_2024-12-19-09-05.json
Labels: chore

fix: adjust scroll hot area limited on table group #3152
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3152-resize-hotArea-limitedTableGroup_2024-12-19-11-14.json
Labels: chore

fix: validateValue not promise case can not be recalled #3144
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3144-bug-validatevalue-recall_2024-12-19-11-29.json
Labels: chore

feat: add contextmenu_task_bar event #3013
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3013-feature-gantt-contextmenu-event_2024-12-19-12-05.json
Labels: chore

fix: fix delete row update in fixUpdateRowRange()
  packages/vtable/src/tools/update-row.ts
Labels: vtable

feat: add eventOptions for gantt chart
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/table/gantt.md
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

fix: fix customRender error in react-vtable #3142
  common/changes/@visactor/vtable/fix-graphic-html_2024-12-20-03-36.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, chore

fix: fix delete row update in fixUpdateRowRange()
  packages/vtable/src/tools/update-row.ts
Labels: vtable

fix: fix cell group judgement when scroll #3149
  common/changes/@visactor/vtable/fix-scroll-group_2024-12-19-07-48.json
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: vtable, chore

fix: fix undeline height in text measurement #3112
  common/changes/@visactor/vtable/fix-underline-height_2024-12-19-06-21.json
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable, chore

fix: add default underlineOffset in text measurement
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable

fix: application define in react-vtable umd file #3093
  common/changes/@visactor/vtable/fix-graphic-html_2024-12-18-12-12.json
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: react-vtable, chore

fix: fix graphic html attribute error in react-vrender
  packages/react-vtable/src/table-components/custom/vtable-browser-env-contribution.ts
Labels: react-vtable

chore: add rush change
  common/changes/@visactor/vtable/fix-graphic-html_2024-12-18-08-11.json
Labels: chore

fix: fix group title link click #3022
  common/changes/@visactor/vtable/fix-group-link_2024-12-17-13-32.json
  packages/vtable/src/event/media-click.ts
Labels: vtable, chore

fix: fix font-weight in vtable-export #3005
  common/changes/@visactor/vtable/fix-excel-font-weight_2024-12-17-13-14.json
  packages/vtable-export/src/excel/style.ts
Labels: chore

fix: fix customStyle update not work #3068
  common/changes/@visactor/vtable/fix-custom-style_2024-12-17-11-34.json
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable, chore

fix: set checkedState into Map
  packages/vtable/src/ListTable.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/state/state.ts
Labels: vtable

fix: fix tree data checkbox state init
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

chore: add rush change
  common/changes/@visactor/vtable/fix-checkbox_2024-12-13-11-46.json
Labels: chore

fix: fix return type in getCheckboxState()
  packages/vtable/__tests__/columns/listTable-checkbox.test.ts
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: fix tick-align in axis sync
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/package.json
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-axis-domain.ts
  packages/vtable/src/layout/chart-helper/tick-align.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: reset indicatorKeys in pivot-chart
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: vtable

fix: fix tickAlign nice display
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-axis-domain.ts
Labels: vtable

fix: fix axis display bug in pivot-chart
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

feat: support tickAlign in PivotChart
  common/changes/@visactor/vtable/feat-pivot-chart-axes_2024-12-12-13-35.json
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/components/axis/get-axis-component-size.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/chart-helper/tick-align.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
Labels: vtable, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
