Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: 解决shift禁用后的闪动问题
  packages/vtable/src/state/select/update-position.ts
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable.vue
Labels: vtable

perf: optimize the use of DYNAMIC_RENDER_EDITOR
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable-editor-render.vue
  packages/vue-vtable/src/constants.ts
  packages/vue-vtable/src/edit/util.ts
  packages/vue-vtable/src/index.ts
Labels: none

refactor: heatmap test demo fix
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-heatmap-twoIndicator.ts
  packages/vtable/examples/pivot-chart/pivotChart-twoIndicator-heatmap.ts
Labels: vtable

feat: change cell value formula recomputed
  CLAUDE.md
  packages/vtable-sheet/__tests__/basic-functionality/cell-linkage.test.ts
  packages/vtable-sheet/__tests__/formula-manager/formula-complete.test.ts
  packages/vtable-sheet/__tests__/formula-manager/formula-manager-fixed.test.ts
  packages/vtable-sheet/__tests__/formula.test.ts
  packages/vtable-sheet/__tests__/range-dependency/all-range-functions.test.ts
  packages/vtable-sheet/__tests__/range-dependency/range-dependency-fix.test.ts
  packages/vtable-sheet/__tests__/range-dependency/range-dependency-real-scenario.test.ts
  packages/vtable-sheet/__tests__/range-dependency/range-dependency.test.ts
  packages/vtable-sheet/__tests__/range-dependency/simple-dependency-test.test.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/formula/formula-ui-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: test

feat: basic zoom interaction
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: fix the initial
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: change to timePerPixel
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: add the apis and opstimize the zoomScale
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/ts-types/zoom-scale.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: fix the min datazoom mismatched
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
Labels: none

feat: fix the zoom viewcore
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/Gantt.ts
Labels: none

feat: optimize the datazoom
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
Labels: none

feat: change to zoomScaleLevel
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: add the demo and options
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/event/scroll.ts
Labels: none

feat: change to zoomScaleLevel
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable-gantt/src/ts-types/zoom-scale.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
  packages/vtable-gantt/src/zoom-scale/index.ts
Labels: none

feat: change to timePerPixel
  packages/vtable-gantt/src/Gantt.ts
Labels: none

feat: change the options to guide
  docs/assets/demo/en/gantt/gantt-zoom.md
  docs/assets/demo/zh/gantt/gantt-zoom.md
  docs/assets/guide/en/gantt/gantt_zoom_scale.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/gantt/gantt_zoom_scale.md
Labels: docs

feat: improve time unit crossing
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

feat: add the datazoom in gantt zoom demo
  DataZoom-Integration-Technical-Proposal.md
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
Labels: none

feat: opstimize the demo and options
  docs/assets/demo/en/gantt/gantt-zoom.md
  docs/assets/demo/zh/gantt/gantt-zoom.md
  docs/assets/option/en/common/gantt/zoom-scale.md
  docs/assets/option/zh/common/gantt/zoom-scale.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
Labels: docs

feat: split the datazoomTest core functions from the demo
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/ts-types/zoom-scale.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
  packages/vtable-gantt/src/zoom-scale/index.ts
Labels: none

feat: change to timePerPixel
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

feat: change to zoomScaleLevel
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/zoom-scale.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: add the zoom demo
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

feat: change to zoomScaleLevel
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: add the demo and options
  docs/assets/demo/en/gantt/gantt-zoom.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-zoom.md
  docs/assets/option/en/common/gantt/zoom-scale.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/common/gantt/zoom-scale.md
  docs/assets/option/zh/table/gantt.md
Labels: docs

feat: add the apis and opstimize the zoomScale
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable-gantt/src/ts-types/zoom-scale.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: fix the date and getscalelevel
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: change the zoomScale position and change the name of datazoom to datazoomaxis
  docs/assets/demo/en/gantt/gantt-datazoom.md
  docs/assets/demo/en/gantt/gantt-zoom.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-datazoom.md
  docs/assets/demo/zh/gantt/gantt-zoom.md
  docs/assets/guide/en/gantt/gantt_datazoom.md
  docs/assets/guide/en/gantt/gantt_zoom_scale.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/gantt/gantt_datazoom.md
  docs/assets/guide/zh/gantt/gantt_zoom_scale.md
  docs/assets/option/en/common/gantt/data-zoom-config.md
  docs/assets/option/en/common/gantt/zoom-scale.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/common/gantt/data-zoom-config.md
  docs/assets/option/zh/common/gantt/zoom-scale.md
  docs/assets/option/zh/table/gantt.md
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable-gantt/src/ts-types/index.ts
  packages/vtable-gantt/src/ts-types/zoom-scale.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
  packages/vtable-gantt/src/zoom-scale/index.ts
Labels: docs

feat: optimize the gantt zoom
  DataZoom-Integration-Technical-Proposal.md
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/zoom-scale.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: optimize the gantt zoom
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: none

feat: add the demo and guide and options
  docs/assets/demo/en/gantt/gantt-datazoom.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-datazoom.md
  docs/assets/guide/en/gantt/gantt_datazoom.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/gantt/gantt_datazoom.md
  docs/assets/option/en/common/gantt/data-zoom-config.md
  docs/assets/option/en/common/gantt/zoom-scale.md
  docs/assets/option/zh/common/gantt/data-zoom-config.md
  docs/assets/option/zh/common/gantt/zoom-scale.md
Labels: docs

feat: add api for sheet and refactor sheet eventd
  docs/assets/api/en/SheetAPI.md
  docs/assets/api/en/api.md
  docs/assets/api/zh/SheetAPI.md
  docs/assets/api/zh/api.md
  docs/assets/guide/en/sheet/formula.md
  docs/assets/guide/zh/sheet/formula.md
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/event/event-manager.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/ts-types/event.ts
Labels: docs

feat: fix the initoptions
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
Labels: none

fix: set frozen row count logic
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

feat: change the name of timeperpixel and optimize the options
  docs/assets/demo/en/gantt/gantt-datazoom.md
  docs/assets/demo/en/gantt/gantt-zoom.md
  docs/assets/demo/zh/gantt/gantt-datazoom.md
  docs/assets/demo/zh/gantt/gantt-zoom.md
  docs/assets/guide/en/gantt/gantt_zoom_scale.md
  docs/assets/guide/zh/gantt/gantt_zoom_scale.md
  docs/assets/option/en/common/gantt/zoom-scale.md
  docs/assets/option/zh/common/gantt/zoom-scale.md
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/ts-types/zoom-scale.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: docs

refactor: remove console log
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/formula/formula-autocomplete.ts
  packages/vtable-sheet/src/formula/formula-editor.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/formula/formula-ui-manager.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/tools/env.ts
Labels: none

fix: rendering editing of grouped columns in vue-vtable
  packages/vue-vtable/src/edit/util.ts
  packages/vue-vtable/src/hooks/useEditorRender.ts
Labels: none

feat: fix the lefthead width error and optimize the demo
  docs/assets/demo/en/gantt/gantt-datazoom.md
  docs/assets/demo/en/gantt/gantt-zoom.md
  docs/assets/demo/zh/gantt/gantt-datazoom.md
  docs/assets/demo/zh/gantt/gantt-zoom.md
  docs/assets/guide/en/gantt/gantt_datazoom.md
  docs/assets/guide/zh/gantt/gantt_datazoom.md
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
Labels: docs

refactor: formula replace
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/sheet/formula.md
  docs/assets/guide/zh/sheet/formula.md
  packages/vtable-sheet/__tests__/basic-formula-test.test.ts
  packages/vtable-sheet/__tests__/nested-formula-engine.test.ts
  packages/vtable-sheet/__tests__/recalculation-issue-test.test.ts
  packages/vtable-sheet/package.json
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable-sheet/src/formula/formula-range-selector.ts
  packages/vtable-sheet/src/formula/types.d.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: test, docs, chore

feat: some function adapt
  docs/assets/demo/en/plugin/master-detail.md
  docs/assets/demo/zh/plugin/master-detail.md
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin2.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin4.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin5.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin6.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin7.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin8.ts
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/checkbox.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/index.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: docs
