Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

chore: add filter docs
  docs/assets/guide/en/plugin/filter.md
  docs/assets/guide/zh/plugin/filter.md
Labels: docs

fix: props null error
  packages/vtable/src/state/state.ts
Labels: vtable

fix: 面板显示状态下, 切换tab, 更新styles, tab状态保持不变
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
Labels: none

build: prelease version 1.22.7-alpha.10
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.22.7-alpha.11
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: vtable mcp server and client
  packages/vtable-mcp/.eslintrc.js
  packages/vtable-mcp/package.json
  packages/vtable-mcp/src/plugins/vtable-tool-registry.ts
Labels: eslint

feat: vtable mcp server and client
  packages/vtable-mcp/.eslintrc.js
Labels: eslint

docs(demo): add custom column type demo showing TypeScript extension (no runtime changes)
  packages/vtable/examples/menu.ts
  packages/vtable/examples/type/custom.ts
Labels: vtable

fix: when pivot table set grid-tree subTotal value not show #4815
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4815-bug-pivotTable-tree-subTotal_2025-12-11-10-35.json
Labels: chore

fix: pivot table get aggregator with SubTotalLabel
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

feat: vtable-sheet support cross sheet calculate formula
  CLAUDE.md
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-sheet/__tests__/basic-case-correction.test.ts
  packages/vtable-sheet/__tests__/chinese-exclamation-mark.test.ts
  packages/vtable-sheet/__tests__/chinese-sheet-direct.test.ts
  packages/vtable-sheet/__tests__/chinese-sheet-simple.test.ts
  packages/vtable-sheet/__tests__/cross-sheet-formula-fixes.test.ts
  packages/vtable-sheet/__tests__/cross-sheet-formula-simple.test.ts
  packages/vtable-sheet/__tests__/cross-sheet-formula.test.ts
  packages/vtable-sheet/__tests__/cross-sheet-highlight.test.ts
  packages/vtable-sheet/__tests__/debug-chinese-exclamation.test.ts
  packages/vtable-sheet/__tests__/debug-quoted-sheet.test.ts
  packages/vtable-sheet/__tests__/debug-simple-quoted.test.ts
  packages/vtable-sheet/__tests__/integration/cross-sheet-integration.test.ts
  packages/vtable-sheet/__tests__/sheet-title-case-correction.test.ts
  packages/vtable-sheet/__tests__/sheet-title-formula.test.ts
  packages/vtable-sheet/examples/sheet/persistence.ts
  packages/vtable-sheet/src/components/sheet-tab-event-handler.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/formula/cell-highlight-manager.ts
  packages/vtable-sheet/src/formula/cross-sheet-data-synchronizer.ts
  packages/vtable-sheet/src/formula/cross-sheet-formula-handler.ts
  packages/vtable-sheet/src/formula/cross-sheet-formula-manager.ts
  packages/vtable-sheet/src/formula/cross-sheet-formula-validator.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable-sheet/src/formula/index.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-cross-tab-formula_2025-12-12-03-16.json
Labels: chore

feat: vtable-sheet support cross sheet calculate formula
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/formula/formula-paste-processor.ts
  packages/vtable-sheet/src/formula/formula-reference-adjustor.ts
Labels: none

chore: eslint problem
  packages/vtable/src/data/DataSource.ts
Labels: vtable

fix: should not publish api of onFilterRecordsEnd
  docs/assets/guide/en/plugin/filter.md
  docs/assets/guide/zh/plugin/filter.md
Labels: docs

feat: change onFilterRecordsEnd to a void return api
  docs/assets/guide/en/plugin/filter.md
  docs/assets/guide/zh/plugin/filter.md
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable, docs

feat: vtable-sheet support cross sheet calculate formula
  packages/vtable-plugins/src/filter/value-filter.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
Labels: none

fix: formula problems
  packages/vtable-sheet/__tests__/active-sheet-race-condition.test.ts
  packages/vtable-sheet/__tests__/basic-formula-test.test.ts
  packages/vtable-sheet/__tests__/basic-functionality/cell-linkage.test.ts
  packages/vtable-sheet/__tests__/column-debug.test.ts
  packages/vtable-sheet/__tests__/column-logic-debug.test.ts
  packages/vtable-sheet/__tests__/column-operations.test.ts
  packages/vtable-sheet/__tests__/column-position-change.test.ts
  packages/vtable-sheet/__tests__/complete-tab-switching-fix.test.ts
  packages/vtable-sheet/__tests__/cross-sheet-formula-comprehensive.test.ts
  packages/vtable-sheet/__tests__/cross-sheet-formula.test.ts
  packages/vtable-sheet/__tests__/debug-simple-quoted.test.ts
  packages/vtable-sheet/__tests__/formula-engine-debug.test.ts
  packages/vtable-sheet/__tests__/formula-manager/formula-manager-fixed.test.ts
  packages/vtable-sheet/__tests__/integration/cross-sheet-integration.test.ts
  packages/vtable-sheet/__tests__/range-adjustment-debug.test.ts
  packages/vtable-sheet/__tests__/range-dependency/all-range-functions.test.ts
  packages/vtable-sheet/__tests__/range-dependency/range-dependency-fix.test.ts
  packages/vtable-sheet/__tests__/range-dependency/range-dependency-real-scenario.test.ts
  packages/vtable-sheet/__tests__/range-dependency/range-dependency.test.ts
  packages/vtable-sheet/__tests__/row-operations-debug3.test.ts
  packages/vtable-sheet/__tests__/row-operations.test.ts
  packages/vtable-sheet/__tests__/sheet-title-case-correction.test.ts
  packages/vtable-sheet/__tests__/sheet-title-formula.test.ts
  packages/vtable-sheet/__tests__/tab-switching-formula.test.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/formula/cross-sheet-formula-manager.ts
  packages/vtable-sheet/src/formula/cross-sheet-formula-validator.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
Labels: test

chore: format code
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/state/state.ts
Labels: vtable

docs: add guide for extending custom column types via TypeScript
  docs/assets/guide/en/cell_type/cellType.md
  docs/assets/guide/zh/cell_type/cellType.md
Labels: docs

feat: vtable-sheet support excel multiple sheets
  packages/vtable-plugins/EXCEL_MULTI_SHEET_导入说明.md
  packages/vtable-plugins/README-MULTISHEET-IMPORT.md
  packages/vtable-plugins/docs/excel-import-multiple-sheets.md
  packages/vtable-plugins/docs/excel-multi-sheet-import-changelog.md
  packages/vtable-plugins/docs/excel-multi-sheet-import-guide.md
  packages/vtable-plugins/src/excel-import.ts
  packages/vtable-sheet/docs/excel-multi-sheet-import.md
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/ts-types/base.ts
Labels: none

fix: test cases error
  packages/vtable-sheet/__tests__/basic-case-correction.test.ts
  packages/vtable-sheet/__tests__/basic-functionality/cell-linkage.test.ts
  packages/vtable-sheet/__tests__/column-debug.test.ts
  packages/vtable-sheet/__tests__/column-logic-debug.test.ts
  packages/vtable-sheet/__tests__/column-operations.test.ts
  packages/vtable-sheet/__tests__/column-position-change.test.ts
  packages/vtable-sheet/__tests__/complete-tab-switching-fix.test.ts
  packages/vtable-sheet/__tests__/formula-manager/formula-manager-fixed.test.ts
  packages/vtable-sheet/__tests__/range-dependency/all-range-functions.test.ts
  packages/vtable-sheet/__tests__/range-dependency/range-dependency-fix.test.ts
  packages/vtable-sheet/__tests__/range-dependency/range-dependency-real-scenario.test.ts
  packages/vtable-sheet/__tests__/range-dependency/range-dependency.test.ts
  packages/vtable-sheet/__tests__/row-operations-debug3.test.ts
  packages/vtable-sheet/__tests__/row-operations.test.ts
  packages/vtable-sheet/__tests__/tab-switching-formula.test.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable-sheet/src/formula/formula-paste-processor.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: test

feat: excel export multiply sheets
  packages/vtable-plugins/src/table-export/excel/index.ts
  packages/vtable-plugins/src/table-export/index.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/ts-types/base.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-multiply-sheets-export_2025-12-15-09-04.json
Labels: chore

fix: exportSheetToFile api and supplement docs
  docs/assets/api/en/SheetAPI.md
  docs/assets/api/zh/SheetAPI.md
  docs/assets/guide/en/plugin/table-export.md
  docs/assets/guide/en/sheet/import_export.md
  docs/assets/guide/zh/plugin/table-export.md
  docs/assets/guide/zh/sheet/import_export.md
  packages/vtable-plugins/src/index.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
Labels: docs

fix: supplement _exportMutipleTablesToExcel for vtableSheet instance
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/table-export.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
Labels: none

refactor: no use catch error
  packages/vtable-sheet/src/formula/formula-engine.ts
Labels: none

test: modify unit test cases
  packages/vtable-sheet/__tests__/basic-case-correction.test.ts
Labels: test

feat: mergecell import into vtable-sheet
  packages/vtable-plugins/src/excel-import.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
Labels: none

feat: support import multiply sheets from excel file
  packages/vtable-plugins/src/excel-import.ts
  packages/vtable-plugins/src/excel-import/excel.ts
  packages/vtable-plugins/src/excel-import/index.ts
  packages/vtable-plugins/src/excel-import/types.ts
  packages/vtable-plugins/src/excel-import/vtable-sheet.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/ts-types/base.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-excel-multiply-sheet-import_2025-12-16-09-22.json
Labels: chore

docs: update sheet api
  docs/assets/api/en/SheetAPI.md
  docs/assets/api/zh/SheetAPI.md
  docs/assets/guide/en/sheet/import_export.md
  docs/assets/guide/zh/sheet/import_export.md
Labels: docs

doc: Add star history section to README
  README.md
Labels: none

fix: delete key down should not complete edit cell
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-delete_exit_edit_2025-12-16-10-58.json
Labels: chore

fix: compare values about number
  packages/vtable-plugins/src/filter/filter-engine.ts
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

fix: delete no use import-plugin funcitons
  packages/vtable-plugins/src/excel-import.ts
  packages/vtable-plugins/src/excel-import/index.ts
  packages/vtable-plugins/src/excel-import/vtable-sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
Labels: none

docs: supplement chartDimensionLinkage demo
  docs/assets/demo/en/table-type/pivot-chart-linkage.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/table-type/pivot-chart-linkage.md
  docs/assets/guide/en/table_type/pivot_chart.md
  docs/assets/guide/zh/table_type/pivot_chart.md
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/docs-pivotChart-linkage_2025-12-17-06-58.json
Labels: chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
