Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: add cell position trim
  packages/vtable/__tests__/listTable-highlightInRange.test.ts
  packages/vtable/__tests__/listTable.test.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/state/state.ts
Labels: vtable, test

fix: fix select position trim logic
  packages/vtable/src/state/state.ts
Labels: vtable

fix: gantt scale set quarter parser problem #3612
  packages/vtable-gantt/src/tools/util.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3612-bug-gantt-renderProblem_2025-03-24-08-21.json
Labels: chore

fix: fix video play icon position
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
Labels: vtable

fix: fix IRowSeriesNumber radio type
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

feat: add select/cornerHeaderSelectMode config
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: add chart picker
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/index.ts
  packages/vtable/src/scenegraph/graphic/contributions/picker-interceptor.ts
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

feat: add chart picker
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

fix: add isCustom tag for merge cell range #3504
  common/changes/@visactor/vtable/fix-custom-merge-tag_2025-03-24-11-25.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, chore

docs: generate changelog of release v1.17.3
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: translate release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: product compare demo
  docs/assets/demo/en/business/product-compare.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/business/product-compare.md
Labels: docs

feat: cell support marked function #3583
  docs/assets/option/en/common/style-item-define.md
  docs/assets/option/en/common/style.md
  docs/assets/option/zh/common/style-item-define.md
  docs/assets/option/zh/common/style.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/scenegraph/graphic/mark.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/ts-types/style-define.ts
Labels: vtable, docs

fix: fix checkbox state order update #3606
  common/changes/@visactor/vtable/fix-checkbox-order-change_2025-03-25-06-58.json
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/3583-feature-mark-style_2025-03-25-06-30.json
Labels: chore

fix: fix button style problem #3614
  common/changes/@visactor/vtable/fix-button-style_2025-03-25-07-01.json
  packages/vtable/src/scenegraph/group-creater/cell-type/button-cell.ts
Labels: vtable, chore

feat: add barMarkInBar style config in progressbar #3616
  common/changes/@visactor/vtable/feat-barMarkInBar_2025-03-25-07-07.json
  docs/assets/option/en/common/style.md
  docs/assets/option/zh/common/style.md
  packages/vtable/src/body-helper/style/ProgressBarStyle.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/ts-types/column/style.ts
Labels: vtable, docs, chore

build: prelease version 1.17.4-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: use group point to pick
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

feat: add select/cornerHeaderSelectMode config
  packages/vtable/examples/pivot/pivot-grid-tree-select-cornerHeaderSelectMode.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: add select/cornerHeaderSelectMode demo and related docs
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/menu.ts
Labels: vtable, docs

fix: disable group title editor
  common/changes/@visactor/vtable/fix-group-title-editor_2025-03-25-10-01.json
  packages/vtable/examples/editor/date-editor.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable, chore

refactor: invert-highlight change to focus highlight
  packages/vtable-plugins/demo/focus-highlight/focus-highlight.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/focus-highlight.ts
  packages/vtable-plugins/src/header-highlight.ts
  packages/vtable-plugins/src/highlight-header.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable/src/ts-types/index.ts
Labels: vtable

refactor: carouselAnimationPlugin change
  packages/vtable-plugins/demo/carousel-animation/(deprecated)carousel-animation.ts
  packages/vtable-plugins/demo/header-highlight/(deprecated)header-highlight.ts
  packages/vtable-plugins/demo/invert-highlight/(deprecated)invert-highlight.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/table-carousel-animation/table-carousel-animation.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
Labels: none

feat: add select/cornerHeaderSelectMode config
  packages/vtable/src/state/select/update-position.ts
Labels: vtable

fix: rowHeight error when set adaptive heightMode #3640
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3640-bug-adaptive-heightmode_2025-03-26-09-15.json
Labels: chore

feat: support customConfig disableBuildInChartActive
  packages/vtable/src/state/hover/update-position.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-support-disable-buildin-active-chart_2025-03-27-03-30.json
Labels: chore

build: prelease version 1.17.4-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: excel keyboard plugin
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
Labels: none

feat: use group point to pick
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

feat: add chart picker
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/index.ts
  packages/vtable/src/scenegraph/graphic/contributions/picker-interceptor.ts
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

feat: add chart picker
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

build: prelease version 1.17.4-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: gantt chart updateRecords error when table is tree mode #3639
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3639-bug-gantt-createSchedule_2025-03-27-12-11.json
Labels: chore

feat: improve the performance of exporting excel
  packages/vtable-export/src/excel/index.ts
Labels: none

docs: update demo
  docs/assets/demo/en/business/product-compare.md
  docs/assets/demo/zh/business/product-compare.md
Labels: docs
