Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix(vtable-plugins): stabilize context menu click test
  packages/vtable-plugins/__tests__/context-menu/handle-menu-helper.test.ts
Labels: none

fix(vtable): address audio review follow-ups
  packages/vtable/src/index.ts
  packages/vtable/src/layout/layout-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/ts-types/pivot-table/dimension/index.ts
Labels: vtable

fix(vtable): avoid removing custom video cell icons
  packages/vtable/__tests__/cell-type/video-cell-first-frame.test.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
Labels: vtable

fix(vtable): keep headers after setRecords at scroll edge
  packages/vtable/__tests__/data-update/listTable-set-records-scroll.test.ts
  packages/vtable/examples/debug/issue-5278-set-records-header-blank.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
Labels: vtable

fix(vtable): avoid resizing custom media icons
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/media-cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
Labels: vtable

fix(vtable): mark all media cell nodes
  packages/vtable/__tests__/cell-type/video-cell-first-frame.test.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/audio-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/media-cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
Labels: vtable

fix(vtable): align frame border with short frozen rows
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/examples/debug/issue-5277-frozen-row-border.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix(vtable): harden audio media cleanup
  packages/vtable/src/event/media-click.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/audio-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/media-cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/list-table/layout-map/index.ts
Labels: vtable

fix(vtable): guard async media cell reuse
  packages/vtable/__tests__/cell-type/video-cell-first-frame.test.ts
  packages/vtable/src/event/media-click.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/tools/media.ts
Labels: vtable

fix(vtable): use resolved async cell values
  packages/vtable/__tests__/cell-type/video-cell-first-frame.test.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/utils/deal-promise-data.ts
Labels: vtable

fix(vtable): propagate resolved async cell values
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/audio-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/button-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/spark-line-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/switch-cell.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: vtable

fix(vtable): guard async cell lifecycle reuse
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: vtable

fix(vtable-plugins): snapshot context menu cell value
  packages/vtable-plugins/__tests__/context-menu/handle-menu-helper.test.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
Labels: none

fix(vtable-plugins): preserve empty context menu values
  packages/vtable-plugins/__tests__/context-menu/handle-menu-helper.test.ts
  packages/vtable-plugins/src/context-menu.ts
Labels: none

fix(vtable): preserve tree checkbox state on row move
  packages/vtable/__tests__/listTable-checkbox-record-index.test.ts
  packages/vtable/examples/list/issue-3975-tree-checkbox-row-move.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/state/state.ts
Labels: vtable, test

fix(vtable): fix auto height merged cell scrolling
  common/changes/@visactor/vtable/fix-issue-3752-large-merge-autoheight_2026-08-19-17-19.json
  packages/vtable/__tests__/options/listTable-large-merge-autoRowHeight.test.ts
  packages/vtable/examples/debug/issue-3752-large-merge-auto-height.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/stick-text/index.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

chore: add change entry for tree checkbox row move
  common/changes/@visactor/vtable/fix-issue-3975-tree-checkbox-row-move_2026-08-19-19-18.json
Labels: chore

chore: update issue 3752 changelog
  common/changes/@visactor/vtable/fix-issue-3752-large-merge-autoheight_2026-08-19-17-19.json
Labels: chore

chore: add missing changelogs for merged PRs
  common/changes/@visactor/vtable-editors/fix-list-editor-html-injection_2026-08-19-20-00.json
  common/changes/@visactor/vtable-plugins/fix-issue-4655-context-menu-click-event_2026-08-19-20-00.json
  common/changes/@visactor/vtable/feat-issue-5271-audio-cell-support_2026-08-19-20-00.json
  common/changes/@visactor/vtable/fix-issue-4655-context-menu-click-event_2026-08-19-20-00.json
  common/changes/@visactor/vtable/fix-issue-5277-frozen-row-border_2026-08-19-20-00.json
  common/changes/@visactor/vtable/fix-issue-5278-setrecords-header-blank_2026-08-19-20-00.json
  common/changes/@visactor/vue-vtable/fix-issue-5265-vue-frozen-row-dom_2026-08-19-20-00.json
Labels: chore

fix(vtable): preserve radio state on row move
  packages/vtable/__tests__/listTable-checkbox-record-index.test.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/state/radio/radio.ts
  packages/vtable/src/state/state.ts
Labels: vtable, test

fix(vtable-sheet): make package tests pass without builds
  common/changes/@visactor/vtable-sheet/fix-vtable-sheet-hook-failures_2026-08-19-21-00.json
  packages/vtable-sheet/jest.config.js
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable-sheet/src/test-shims/vtable-plugins.ts
Labels: jest, chore

fix(vtable): type row move record path lookup
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

fix(vtable): move serialized radio record paths
  packages/vtable/__tests__/listTable-checkbox-record-index.test.ts
  packages/vtable/src/state/radio/radio.ts
  packages/vtable/src/state/state.ts
Labels: vtable, test

fix(vtable-sheet): allow spaced unary plus formulas
  packages/vtable-sheet/__tests__/nested-formula-engine.test.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
Labels: test

build: release version 1.26.7 [skip ci]
  common/changes/@visactor/vtable/feat-issue-5112-tooltip-appear-delay_2026-08-04-00-00.json
  common/changes/@visactor/vtable/feat-issue-5271-audio-cell-support_2026-08-19-20-00.json
  common/changes/@visactor/vtable/fix-issue-3752-large-merge-autoheight_2026-08-19-17-19.json
  common/changes/@visactor/vtable/fix-issue-3975-tree-checkbox-row-move_2026-08-19-19-18.json
  common/changes/@visactor/vtable/fix-issue-4655-context-menu-click-event_2026-08-19-20-00.json
  common/changes/@visactor/vtable/fix-issue-4964-custom-render-lazy-data-source_2026-08-04-16-08.json
  common/changes/@visactor/vtable/fix-issue-5265-vue-frozen-row-dom_2026-08-04-14-53.json
  common/changes/@visactor/vtable/fix-issue-5277-frozen-row-border_2026-08-19-20-00.json
  common/changes/@visactor/vtable/fix-issue-5278-setrecords-header-blank_2026-08-19-20-00.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: translate v1.26.7 changelog
  docs/assets/changelog/zh/release.md
Labels: docs

fix(vtable): refresh custom merged corner layout
  docs/assets/demo/en/custom-render/complex-corner.md
  docs/assets/demo/zh/custom-render/complex-corner.md
  packages/vtable/examples/custom/complex-corner.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: vtable, docs

docs: link v1.26.7 changelog issues
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix(vtable): harden custom merged corner rendering
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/utils/corner-custom-merge.ts
Labels: vtable

build: update vrender dependencies
  packages/vtable/package.json
Labels: vtable

revert: move vrender dependency update off develop
  packages/vtable/package.json
Labels: vtable

build: update vrender dependencies
  packages/vtable/package.json
Labels: vtable

docs: complete personnel info demo icons
  docs/assets/demo/en/business/personnel-info.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/business/personnel-info.md
Labels: docs

docs: fix personnel info eye icon state
  docs/assets/demo/en/business/personnel-info.md
  docs/assets/demo/zh/business/personnel-info.md
Labels: docs

docs: fix typo defalut -> default
  docs/assets/demo/en/animation/scroll-animation.md
Labels: docs

docs: fix personnel info eye icon toggle
  docs/assets/demo/en/business/personnel-info.md
  docs/assets/demo/zh/business/personnel-info.md
Labels: docs

fix: support dynamic gantt mark line styles
  docs/assets/demo/en/gantt/gantt-zoom.md
  docs/assets/demo/zh/gantt/gantt-zoom.md
  docs/assets/guide/en/gantt/gantt_markline.md
  docs/assets/guide/zh/gantt/gantt_markline.md
  docs/assets/option/en/common/gantt/mark-line.md
  docs/assets/option/zh/common/gantt/mark-line.md
  packages/vtable-gantt/__tests__/gantt-bugserver-init.test.ts
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: test, docs

fix: prevent image preview for null/undefined image values
  packages/vtable/src/event/media-click.ts
Labels: vtable

fix: support copy fallback on http
  common/changes/@visactor/vtable/fix-issue-5274-http-copy_2026-08-24-15-00.json
  packages/vtable/src/event/event.ts
Labels: vtable, chore

fix(vtable-sheet): exclude test shim from compile
  common/changes/@visactor/vtable-sheet/fix-vtable-sheet-compile_2026-08-25-09-30.json
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/tsconfig.json
Labels: typescript, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
