Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

feat(gantt): allow outerFrameStyle borderLineWidth array config
  docs/assets/option/en/common/gantt/frame-style.md
  docs/assets/option/zh/common/gantt/frame-style.md
  packages/vtable-gantt/examples/gantt/gantt-borderLineWidth-array-config.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/src/index.ts
Labels: vtable, docs

feat: 添加containerFit选项确保表格尺寸与容器匹配
  packages/vtable/examples/list/list-container-fit.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/layout/frozen-react.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update changlog of rush
  packages/vtable/examples/list/list-container-fit.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: add containerFit mode for ListTable to support non-stretch container-fit layout
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

feat: 添加containerFit选项确保表格尺寸与容器匹配
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: 修复没指定 canvasWidth/Height，canvas 尺寸用内容区
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

build: prelease version 1.18.5-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

chore: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

build: prelease version 1.19.0-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat(gantt): Implement plugin manager and add full export feature
  docs/assets/guide/en/plugin/gantt-export-image.md
  docs/assets/guide/zh/plugin/gantt-export-image.md
Labels: docs

docs(gantt): add plugin manager and full export feature usage gudie
  docs/assets/guide/en/plugin/gantt-export-image.md
  docs/assets/guide/zh/plugin/gantt-export-image.md
Labels: docs

feat(gantt): add theme adaptation capability
  packages/vtable-gantt/examples/gantt/gantt-theme-adaptation.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/src/themes/ARCO.ts
  packages/vtable/src/themes/BRIGHT.ts
  packages/vtable/src/themes/DARK.ts
  packages/vtable/src/themes/DEFAULT.ts
  packages/vtable/src/themes/SIMPLIFY.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable

feat(gantt): add theme adaptation capability
  packages/vtable-gantt/examples/gantt/gantt-theme-adaptation.ts
  packages/vtable-gantt/src/index.ts
  packages/vtable-gantt/src/themes.ts
  packages/vtable-gantt/src/themes/ARCO.ts
  packages/vtable-gantt/src/themes/BRIGHT.ts
  packages/vtable-gantt/src/themes/DARK.ts
  packages/vtable-gantt/src/themes/DEFAULT.ts
  packages/vtable-gantt/src/themes/SIMPLIFY.ts
  packages/vtable-gantt/src/themes/theme-define.ts
  packages/vtable-gantt/src/tools/helper.ts
  packages/vtable-gantt/src/ts-types/gantt-theme-define.ts
  packages/vtable/src/themes/ARCO.ts
  packages/vtable/src/themes/BRIGHT.ts
  packages/vtable/src/themes/DARK.ts
  packages/vtable/src/themes/DEFAULT.ts
  packages/vtable/src/themes/SIMPLIFY.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable

feat(gantt): add theme adaptation capability
  packages/vtable/src/themes/DARK.ts
  packages/vtable/src/themes/DEFAULT.ts
  packages/vtable/src/themes/SIMPLIFY.ts
Labels: vtable

feat(gantt): add theme adaptation capability
  packages/vtable-gantt/src/themes.ts
  packages/vtable-gantt/src/themes/ARCO.ts
  packages/vtable-gantt/src/themes/BRIGHT.ts
  packages/vtable-gantt/src/themes/DARK.ts
  packages/vtable-gantt/src/themes/DEFAULT.ts
  packages/vtable-gantt/src/themes/SIMPLIFY.ts
  packages/vtable-gantt/src/themes/theme-define.ts
  packages/vtable-gantt/src/tools/helper.ts
Labels: none

feat(vtable): add clearColWidthCache option to updateColumns
  docs/assets/api/zh/methods.md
  packages/vtable/src/ListTable.ts
Labels: vtable, docs

feat: add docs for linkLineStyle
  docs/assets/option/zh/common/gantt/dependency-line.md
Labels: docs

feat(gantt): remove unused definitions from examples​
  packages/vtable-gantt/examples/gantt/gantt-linkLine-style.ts
Labels: none

feat(gantt): add theme adaptation capability
  packages/vtable-gantt/src/themes.ts
Labels: none

revert: rowSeriesNumber default field
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

fix: fix type error in vtable-gantt templately
  packages/vtable-gantt/__tests__/gantt.test.ts
  packages/vtable-gantt/jest.config.js
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/event/touch.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/plugins/plugin-manager.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/drag-order-line.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/scenegraph/tooltip.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/tsconfig.json
Labels: test, jest, typescript

fix: solve which problem #3867
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
Labels: vtable

fix: solve table corrupted problem in issue#3961
  packages/vtable/src/data/DataSource.ts
Labels: vtable

fix: right click cannot preserve inverse selection
  packages/vtable/src/event/self-event-listener/base-table/right-button-click.ts
Labels: vtable

fix: when pointer up set isDown false
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-mobileModeOnPCbrower_2025-06-03-12-15.json
Labels: chore

build: prelease version 1.18.5-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

issue fix: 3839 fix the problem of total not updating in PivotTable
  packages/vtable/examples/custom-layout-jsx/debug.tsx
  packages/vtable/examples/menu.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
  packages/vtable/src/ts-types/new-data-set.ts
Labels: vtable

fix: solve issue #3839
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

fix: solve issue #3839
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
Labels: vtable

issue fix: 3839 fix the problem of total not updating in PivotTable
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

issue fix: 3839 fix the problem of total not updating in PivotTable
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

feat: add containerFit to ensure the frame match canvas
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/resize/update-resize-column.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update the containerFit demo in docs
  docs/assets/demo/en/basic-functionality/container-fit.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/basic-functionality/container-fit.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

issue fix: 3839 fix the problem of total not updating in PivotTable
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

issue fix: 3839 fix the problem of total not updating in PivotTable
  packages/vtable/examples/custom-layout-jsx/debug.tsx
  packages/vtable/examples/menu.ts
Labels: vtable

issue fix: 3839 fix the problem of total not updating in PivotTable
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
Labels: vtable

chore: add auto resize based on VTable column width modes
  packages/vtable/src/state/resize/update-resize-column.ts
Labels: vtable

chore: recall column resize
  packages/vtable/src/state/resize/update-resize-column.ts
Labels: vtable

feat: add additional English docs
  docs/assets/api/en/methods.md
Labels: docs

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
