Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

feat: pivot table headerType support cellType funcitonal #4993
  docs/assets/guide/en/cell_type/cellType.md
  docs/assets/guide/zh/cell_type/cellType.md
  packages/vtable/examples/unit-test-demo/unitTestPivotTable.ts
  packages/vtable/src/core/style-helper.ts
  packages/vtable/src/event/media-click.ts
  packages/vtable/src/header-helper/header-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/pivot-table/dimension/composite-dimension.ts
  packages/vtable/src/ts-types/pivot-table/dimension/index.ts
  packages/vtable/src/ts-types/pivot-table/indicator/composite-indicator.ts
  packages/vtable/src/ts-types/pivot-table/indicator/index.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/4993-feature-pivottable-headertype-support-function_2026-02-06-09-15.json
Labels: chore

feat: pivot table headerType support cellType funcitonal #4993
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
Labels: vtable

fix: video load fail damage icon
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-video_damage_pic_2026-02-06-10-37.json
Labels: chore

build: prelease version 1.19.10-alpha.5
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: image url not pass should call failCallback
  packages/vtable/examples/icon/image-loadFail.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-video_damage_pic_2026-02-07-02-46.json
Labels: chore

feat: add image_damage_pic and video_damage_pic type icons register & fix video damage icon ratio
  docs/assets/api/en/icon/base-icon.md
  docs/assets/api/zh/icon/base-icon.md
  docs/assets/guide/en/custom_define/custom_icon.md
  docs/assets/guide/zh/custom_define/custom_icon.md
  packages/vtable/examples/icon/image-loadFail.ts
  packages/vtable/src/icons.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/ts-types/icon.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-video_damage_pic_2026-02-09-08-09.json
Labels: chore

build: prelease version 1.19.10-alpha.6
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add skills
  skills/vtable-assistant/references/examples/README.md
  skills/vtable-assistant/references/examples/cell-types.md
  skills/vtable-assistant/references/examples/custom-layout-jsx.md
  skills/vtable-assistant/references/examples/interaction-patterns.md
  skills/vtable-assistant/references/examples/list-table-basic.md
  skills/vtable-assistant/references/examples/list-table-tree.md
  skills/vtable-assistant/references/examples/pivot-chart.md
  skills/vtable-assistant/references/examples/pivot-table-analysis.md
  skills/vtable-assistant/references/knowledge/00-overview.md
  skills/vtable-assistant/references/knowledge/01-table-types.md
  skills/vtable-assistant/references/knowledge/02-column-cell-types.md
  skills/vtable-assistant/references/knowledge/03-style-theme.md
  skills/vtable-assistant/references/knowledge/04-custom-render-layout.md
  skills/vtable-assistant/references/knowledge/05-api-methods.md
  skills/vtable-assistant/references/knowledge/06-api-properties.md
  skills/vtable-assistant/references/knowledge/07-events.md
  skills/vtable-assistant/references/knowledge/08-pivot-dimensions.md
  skills/vtable-assistant/references/knowledge/09-data-bindingd.md
  skills/vtable-assistant/references/knowledge/10-interaction.md
  skills/vtable-assistant/references/knowledge/11-common-patterns.md
  skills/vtable-assistant/references/type/base-table-options.md
  skills/vtable-assistant/references/type/column-defines.md
  skills/vtable-assistant/references/type/custom-layout.md
  skills/vtable-assistant/references/type/custom-render.md
  skills/vtable-assistant/references/type/event-types.md
  skills/vtable-assistant/references/type/list-table-options.md
  skills/vtable-assistant/references/type/pivot-chart-options.md
  skills/vtable-assistant/references/type/pivot-table-options.md
  skills/vtable-assistant/references/type/pivot-types.md
  skills/vtable-assistant/references/type/style-defines.md
  skills/vtable-assistant/skill.md
Labels: none

fix: setRecordChildren fetches wrong record after sorting
  packages/vtable-plugins/src/master-detail-plugin/core.ts
Labels: none

refactor: change vtable skill package name
  skills/vtable-development-assistant/references/examples/README.md
  skills/vtable-development-assistant/references/examples/cell-types.md
  skills/vtable-development-assistant/references/examples/custom-layout-jsx.md
  skills/vtable-development-assistant/references/examples/interaction-patterns.md
  skills/vtable-development-assistant/references/examples/list-table-basic.md
  skills/vtable-development-assistant/references/examples/list-table-tree.md
  skills/vtable-development-assistant/references/examples/pivot-chart.md
  skills/vtable-development-assistant/references/examples/pivot-table-analysis.md
  skills/vtable-development-assistant/references/knowledge/00-overview.md
  skills/vtable-development-assistant/references/knowledge/01-table-types.md
  skills/vtable-development-assistant/references/knowledge/02-column-cell-types.md
  skills/vtable-development-assistant/references/knowledge/03-style-theme.md
  skills/vtable-development-assistant/references/knowledge/04-custom-render-layout.md
  skills/vtable-development-assistant/references/knowledge/05-api-methods.md
  skills/vtable-development-assistant/references/knowledge/06-api-properties.md
  skills/vtable-development-assistant/references/knowledge/07-events.md
  skills/vtable-development-assistant/references/knowledge/08-pivot-dimensions.md
  skills/vtable-development-assistant/references/knowledge/09-data-bindingd.md
  skills/vtable-development-assistant/references/knowledge/10-interaction.md
  skills/vtable-development-assistant/references/knowledge/11-common-patterns.md
  skills/vtable-development-assistant/references/type/base-table-options.md
  skills/vtable-development-assistant/references/type/column-defines.md
  skills/vtable-development-assistant/references/type/custom-layout.md
  skills/vtable-development-assistant/references/type/custom-render.md
  skills/vtable-development-assistant/references/type/event-types.md
  skills/vtable-development-assistant/references/type/list-table-options.md
  skills/vtable-development-assistant/references/type/pivot-chart-options.md
  skills/vtable-development-assistant/references/type/pivot-table-options.md
  skills/vtable-development-assistant/references/type/pivot-types.md
  skills/vtable-development-assistant/references/type/style-defines.md
  skills/vtable-development-assistant/skill.md
Labels: none

refactor: rename skill name
  skills/vtable-development-assistant/SKILL.md
Labels: none

fix: masterSubTable plugin setRecordChildren fetches wrong record after sorting
  packages/vtable-plugins/src/master-detail-plugin/core.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-masterSubTable-lazyTable_2026-02-10-07-34.json
Labels: chore

fix: fix datazoom version update
  docs/assets/demo/en/gantt/gantt-datazoom.md
  docs/assets/demo/en/gantt/gantt-zoom.md
  docs/assets/demo/zh/gantt/gantt-datazoom.md
  docs/assets/demo/zh/gantt/gantt-zoom.md
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-datazoom_2026-02-10-08-35.json
Labels: chore

fix: clear selection on outside click when outsideClickDeselect is true (issue #5006)
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

docs: generate changelog of release v1.23.2
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

feat(master-detail): add support for custom childrenKey in master-detail plugin
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin9.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: none

fix: stabilize deselect flow for outside click and next selection
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
Labels: vtable

chore: remove stale commented deselect call
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

fix: trigger render after force clearing selection
  packages/vtable/src/state/state.ts
Labels: vtable

fix: editor element occor error #5003
  packages/vtable-editors/src/list-editor.ts
  packages/vtable-editors/src/textArea-editor.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/5003-bug-copyToListEditorCell-occorError_2026-02-12-09-23.json
Labels: chore

docs: update masterDetail childrenKey
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
Labels: docs

docs: add workflow scenarios for VTable diagnosis and configuration generation
  skills/vtable-development-assistant/SKILL.md
  skills/vtable-development-assistant/scripts/generate_demo_html.py
  skills/vtable-development-assistant/scripts/generate_diagnosis_html.py
  skills/vtable-development-assistant/template/demo.html
  skills/vtable-development-assistant/template/diagnosis.html
  skills/vtable-development-assistant/workflows/scenario-1-diagnosis.md
  skills/vtable-development-assistant/workflows/scenario-2-generation.md
Labels: none

chore: fix formatter of skills
  .prettierignore
  skills/vtable-development-assistant/template/diagnosis.html
Labels: none

fix: animation plugin bug when reset
  packages/vtable-plugins/src/table-carousel-animation.ts
Labels: none

build: prelease version 1.22.8-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix(core): prevent memory leaks in table cleanup
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/debug/mem.ts
  packages/vtable/examples/menu.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, chore

fix(core): prevent memory leaks in table cleanup
  common/changes/@visactor/vtable/fix-mem_leak_2026-03-02-13-18.json
Labels: chore

build: prelease version 1.23.3-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat(gantt): 基线任务条文档与示例同步
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  docs/assets/demo/en/gantt/gantt-baseline.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-baseline.md
  docs/assets/guide/en/gantt/gantt_baseline.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/gantt/gantt_baseline.md
  docs/assets/option/en/common/gantt/task-bar-style.md
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar-style.md
  docs/assets/option/zh/common/gantt/task-bar.md
  packages/vtable-gantt/__tests__/gantt-baseline.test.ts
  packages/vtable-gantt/examples/gantt/gantt-baseline.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/jest.config.js
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: test, docs, jest

fix(gantt): 修正列表行高自适应为返回 undefined；完善基线日期字段缺失的判断
  packages/vtable-gantt/src/Gantt.ts
Labels: none

docs: update gantt baseline guide
  docs/assets/guide/en/gantt/gantt_baseline.md
  docs/assets/guide/zh/gantt/gantt_baseline.md
Labels: docs

fix: event listenersData is undefined error
  packages/vtable/src/event/EventTarget.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
