Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: gantt chart task show mode type
  packages/vtable-gantt/examples/gantt/project-sub-tasks-inline.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/data/DataSource.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

fix: 修复父元素勾选导致下一组的父元素被勾选的bug
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
Labels: vtable

fix: 修复父元素勾选导致下一组的父元素被勾选的bug
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
Labels: vtable

feat(gantt): allow outerFrameStyle.borderLineWidth array config
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: split task for project
  packages/vtable-gantt/examples/gantt/project-sub-tasks-inline.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat(gantt): allow outerFrameStyle.borderLineWidth array config
  packages/vtable-gantt/examples/gantt/gantt-borderLineWidth-array-config .ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable/src/index.ts
Labels: vtable

feat: add milestone text
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: none

feat: add projectStyle for gantt
  packages/vtable-gantt/examples/gantt/gantt-project-type.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

feat: add milestone text
  docs/assets/demo/en/gantt/gantt-milestone.md
  docs/assets/demo/zh/gantt/gantt-milestone.md
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: docs

fix: fix bug of chart matrix when has scale
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-bug-of-chart-matrix_2025-05-19-12-47.json
Labels: chore

fix: 修复表头勾选不同步 & 子节点勾选不同步 & 新增enableCheckboxCascade字段控制父子元素同步
  packages/vtable/examples/list/list-checkbox-tree.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: 在demo新增checkbox树形展示的代码与说明
  docs/assets/demo/en/table-type/list-table-tree-lazy-load.md
  docs/assets/demo/zh/table-type/list-table-tree-lazy-load.md
Labels: docs

build: prelease version 1.18.4-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add pasted_data event #3908
  docs/assets/demo/en/interaction/arrowkeys-move-select.md
  docs/assets/demo/en/interaction/copy-paste-cell-value.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/interaction/arrowkeys-move-select.md
  docs/assets/demo/zh/interaction/copy-paste-cell-value.md
  docs/assets/guide/en/Event/event_list.md
  docs/assets/guide/zh/Event/event_list.md
  packages/react-vtable/src/eventsUtils.ts
  packages/vtable/examples/list/list-add-records.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/table-engine.ts
  packages/vue-vtable/src/eventsUtils.ts
Labels: vtable, react-vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3908-feature-add-pasted_data-event-for-vtable_2025-05-20-11-12.json
Labels: chore

feat: add pasted_data event #3908
  packages/vtable/src/core/record-helper.ts
Labels: vtable

fix: fix bug of editor manager
  packages/vtable/src/PivotChart.ts
Labels: vtable

fix: fix bug of editor manager
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

fix: fix bug of editor manager
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

build: prelease version 1.18.4-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix bug of editor manager
  packages/vtable/src/PivotChart.ts
Labels: vtable

fix: fix bug of editor manager
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

feat(gantt): allow outerFrameStyle.borderLineWidth array config
  docs/assets/option/en/common/gantt/frame-style.md
  docs/assets/option/zh/common/gantt/frame-style.md
Labels: docs

feat:add levelSpan feature for list-table
  docs/assets/changelog/zh/release.md
  list-header-levelSpan.ts
  packages/vtable/examples/list/list-header-levelSpan.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
Labels: vtable, docs

Revert "fix: fix bug of editor manager"
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

fix: fix bug of chart matrix when has scale
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
Labels: vtable

chore: revert commit in 1.18
  packages/vtable/src/PivotChart.ts
Labels: vtable

fix: fix bug of chart matrix when has scale
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
Labels: vtable

build: prelease version 1.17.4-alpha.6
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update readme
  README.ja-JP.md
  README.md
  README.zh-CN.md
Labels: none

docs: modify menue
  docs/assets/contributing/menu.json
Labels: docs

docs: update gantt guide
  docs/assets/guide/menu.json
  docs/assets/guide/zh/gantt/gantt_date.md
  docs/assets/guide/zh/gantt/gantt_dependency_links.md
  docs/assets/guide/zh/gantt/gantt_export.md
  docs/assets/guide/zh/gantt/gantt_grid.md
  docs/assets/guide/zh/gantt/gantt_scales.md
  docs/assets/guide/zh/gantt/gantt_style.md
  docs/assets/guide/zh/gantt/gantt_task_data.md
  docs/assets/guide/zh/gantt/gantt_task_show_mode.md
  docs/assets/guide/zh/gantt/gantt_tasks.md
  gantt_tasks.md
Labels: docs

feat: rowSeriesNumber复选框支持在records设置选中和禁用状态
  packages/vtable/examples/list/list-tree-checkbox.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
Labels: vtable

docs: update contribution guide
  docs/assets/guide/en/Contribution_Guide.md
  docs/assets/guide/zh/Contribution_Guide.md
Labels: docs

feat:add levelSpan feature for list-table
  list-header-levelSpan.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
Labels: vtable

feat:add levelSpan for list-table
  packages/vtable/examples/list/list-header-levelSpan.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
Labels: vtable

feat: add vue-table export type /es/*.d.ts
  packages/vue-vtable/package.json
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/develop_2025-05-22-08-21.json
Labels: chore

feat(gantt): Implement plugin manager and add full export feature
  docs/assets/guide/en/plugin/gantt-export-image.md
  docs/assets/guide/zh/plugin/gantt-export-image.md
Labels: docs
