Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: fix the datazoom range
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
Labels: none

refactor: develop formula engine
  packages/vtable-sheet/__tests__/formula.test.ts
  packages/vtable-sheet/__tests__/nested-formula-engine.test.ts
  packages/vtable-sheet/__tests__/range-dependency/all-range-functions.test.ts
  packages/vtable-sheet/__tests__/range-dependency/simple-dependency-test.test.ts
  packages/vtable-sheet/debug-parse-a1.js
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable-sheet/src/formula/formula-helper.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: test

feat: some function adapt
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin9.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: docs

feat: some function adapt
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/src/master-detail-plugin/config.ts
Labels: docs

feat: some function adapt
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin9.ts
Labels: docs

feat: some function adapt
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin9.ts
Labels: docs

feat: formula engine
  packages/vtable-sheet/__tests__/active-sheet-race-condition.test.ts
  packages/vtable-sheet/__tests__/complete-tab-switching-fix.test.ts
  packages/vtable-sheet/__tests__/range-dependency/all-range-functions.test.ts
  packages/vtable-sheet/__tests__/tab-switching-formula.test.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: test

refactor: table series number style
  packages/vtable-plugins/src/table-series-number.ts
Labels: none

fix: save to config reload data
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
Labels: none

docs: generate changelog of release v1.20.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update change log
  docs/assets/changelog/zh/release.md
  docs/assets/guide/en/sheet/persistence.md
  docs/assets/guide/zh/sheet/persistence.md
Labels: docs

docs: update vtable-sheet demo
  docs/assets/demo/en/vtable-sheet/sheet.md
  docs/assets/demo/zh/vtable-sheet/sheet.md
Labels: docs

docs: update vtable-sheet demo
  docs/assets/option/en/table/sheet.md
  docs/assets/option/zh/table/sheet.md
Labels: docs

docs: update vtable-sheet demo
  docs/assets/guide/en/sheet/persistence.md
  docs/assets/guide/zh/sheet/persistence.md
Labels: docs

refactor: updateFilterRules add throttle logic
  packages/vtable/src/PivotChart.ts
Labels: vtable

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin9.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: none

feat: some function adapt
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: docs

feat: some function adapt
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/src/master-detail-plugin/core.ts
Labels: none

docs: supplement api usage description
  docs/assets/api/zh/methods.md
  docs/assets/api/zh/properties.md
Labels: docs

chore: update readme file
  packages/vtable-sheet/README.md
Labels: none

docs: update gantt api description
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
Labels: docs

fix: when updateOption change enablecheckboxcascade not work #4499
  packages/vtable/__tests__/listTable-checkbox-cascade-behavior.test.ts
  packages/vtable/__tests__/listTable-checkbox-cascade-functional.test.ts
  packages/vtable/__tests__/listTable-checkbox-cascade-updateOption.test.ts
  packages/vtable/examples/list/list-tree-checkbox.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable, test

docs: update changlog of rush
  common/changes/@visactor/vtable/4499-bug-enablecheckboxcascade-updateOption_2025-09-23-08-39.json
Labels: chore

fix: maxfrozenwidth not work when set brower scale #4494
  CLAUDE.md
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4494-bug-maxfrozenwidth-notWork-WhenBrowerScale_2025-09-23-11-28.json
Labels: chore

feat: some function adapt
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin9.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, docs

feat: some function adapt
  packages/vtable-plugins/src/master-detail-plugin/core.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
Labels: none

fix: deleteRecord switchState error after call renderWidthCreateCells api #4436
  packages/vtable/__tests__/cell-type/issue-4436-reproduction.test.ts
  packages/vtable/__tests__/cell-type/simple-switch-delete.test.ts
  packages/vtable/src/core/record-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4436-bug-deleteRecord-switchStateError-after-renderwithrecreatecells_2025-09-24-02-18.json
Labels: chore

fix: solve which problem #4419
  packages/vtable/src/event/event.ts
Labels: vtable

fix: gannt grid line style linedash not work #4495
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/scenegraph/task-creation-button.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/4495-bug-gantt-gridLine-linedash_2025-09-24-03-00.json
Labels: chore

docs: update scatter demo
  docs/assets/demo/en/table-type/pivot-chart-scatter.md
  docs/assets/demo/zh/table-type/pivot-chart-scatter.md
Labels: docs

feat: support detailPath when pick vchart
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

feat: set reuse false when chart updateSpec
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-support-detailPath-when-pick-vchart_2025-09-03-08-27.json
Labels: chore

fix: the serial number column configuration field
  packages/vtable/src/ListTable.ts
Labels: vtable

feat: change the brushSelect and change the style of handler
  docs/assets/guide/en/gantt/gantt_datazoom.md
  docs/assets/guide/zh/gantt/gantt_datazoom.md
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
Labels: docs
