Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

docs: documentation supplement
  docs/assets/guide/en/gantt/gantt_dependency_links.md
  docs/assets/guide/zh/gantt/gantt_dependency_links.md
  docs/assets/option/en/common/gantt/dependency-line.md
Labels: docs

fix: fix node-canvas range in PivotChart #3997
  common/changes/@visactor/vtable/fix-canvas-range_2025-06-06-06-51.json
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, chore

fix: fix node-canvas range in PivotChart #3997
  common/changes/@visactor/vtable/fix-canvas-range_2025-06-06-06-51.json
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, chore

build: prelease version 1.11.6-alpha.8
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: the changeCellValues method is executed twice when both rows and columns are insufficient
  docs/assets/demo/zh/plugin/excel-online-editing.md
  docs/assets/guide/menu.json
  packages/vtable-plugins/src/paste-add-row-column.ts
Labels: docs

docs: 增加全逻辑填充柄demo（同wps功能一致）
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo/zh/edit/fill-handle.md
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/component/custom-layout-dom-site-1.tsx
  packages/react-vtable/demo/src/list-table/fillHandleUtils/autoFillHandle.ts
  packages/react-vtable/demo/src/list-table/fillHandleUtils/translateRowObj.ts
  packages/react-vtable/demo/src/list-table/fillHandleUtils/useDragHandle.ts
  packages/react-vtable/demo/src/list-table/list-fill-handle.tsx
  packages/react-vtable/package.json
Labels: react-vtable, docs, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/docs-wps-fill-handle_2025-06-06-09-15.json
Labels: chore

chore: init vtable-sheet project
  packages/vtable-sheet/__tests__/dom.ts
  packages/vtable-sheet/__tests__/listTable-1W.test.ts
Labels: test

docs:add levelSpan to option
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/zh/column/base-column-type.md
Labels: docs

fix: update checkbox status in rowMov of tree ListTable
  packages/vtable/examples/list/list-checkbox-tree-moveRow.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/state/state.ts
Labels: vtable

docs: generate changelog of release v1.18.5
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: add task-bar minSize config #4016
  common/changes/@visactor/vtable/feat-min-bar-size_2025-06-09-07-54.json
  docs/assets/option/en/common/gantt/task-bar-style.md
  docs/assets/option/zh/common/gantt/task-bar-style.md
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs, chore

build: prelease version 1.18.6-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: init sheet table
  .gitignore
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/carousel-animation.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/examples/vite.config.js
  packages/vtable-sheet/package copy.json
  packages/vtable-sheet/package.json
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/formula/a
  packages/vtable-sheet/src/index.ts
  packages/vtable-sheet/src/managers/FilterManager.ts
  packages/vtable-sheet/src/managers/FormulaManager.ts
  packages/vtable-sheet/src/managers/SheetManager.ts
  packages/vtable-sheet/src/managers/data-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/plugins/index.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable-sheet/tsconfig.eslint.json
Labels: typescript, chore

fix: fix node-canvas range in PivotChart #3997
  common/changes/@visactor/vtable/fix-canvas-range_2025-06-06-06-51.json
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, chore

fix: fix node-canvas range in PivotChart #3997
  common/changes/@visactor/vtable/fix-canvas-range_2025-06-06-06-51.json
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, chore

build: prelease version 1.17.7-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.18.3-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

issue fix: 3839
  packages/vtable/__tests__/dataset/aggregation.test.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

feat: add column series number #2298
  docs/assets/option/en/common/gantt/grid.md
  docs/assets/option/zh/common/gantt/grid.md
  packages/vtable/examples/list/list-rowSeriesNumber.ts
  packages/vtable/examples/list/list-transpose.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/tools/util.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/2298-columnSeriesNumber_2025-06-10-11-51.json
Labels: chore

feat: add column series number #2298
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: init formula
  common/config/rush/pnpm-lock.yaml
  packages/vtable-sheet/package.json
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/formula/a
  packages/vtable-sheet/src/formula/hyperformula-engine.ts
  packages/vtable-sheet/src/managers/EnhancedFormulaManager.ts
Labels: chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-playground_2025-06-10-14-22.json
Labels: chore

fix: not update cell value
  docs/assets/demo/zh/plugin/excel-online-editing.md
  docs/assets/guide/en/plugin/paste-add-row-column.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/paste-add-row-column.md
  packages/vtable-plugins/src/paste-add-row-column.ts
Labels: docs

fix: some taskShowMode should compute all row height on vtable #4011
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4011-gantt-chart-row-height-error_2025-06-11-04-07.json
Labels: chore

feat: column series number for transpose #2298
  packages/vtable/examples/list/list-columnSeriesNumber.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/style-helper.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/component/cell-mover.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/state/select/update-position.ts
Labels: vtable

feat: column series number for transpose #2298
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

chore: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

feat: add batch expand/collapse all tree nodes
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/examples/list/list-tree-expandAndCollapseAll.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable, docs

fix: preserve sort state after batch expand/collapse of tree nodes
  packages/vtable/examples/list/list-tree-expandAndCollapseAll.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

feat(table): support text color customization for selected cells in replace mode
  packages/vtable/examples/list/list-highlightInRange.ts
  packages/vtable/src/scenegraph/graphic/contributions/index.ts
  packages/vtable/src/scenegraph/graphic/contributions/text-contribution-render.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable

fix: group release so gif can stop animation #4029
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, chore

docs: 增加wps填充柄插件
  .vscode/settings.json
  common/changes/@visactor/vtable/docs-wps-fill-handle_2025-06-13-04-27.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/zh/plugin/wps-fill-handle.md
  packages/vtable-plugins/demo/header-highlight/(deprecated)header-highlight.ts
  packages/vtable-plugins/demo/index.html
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/wps-fill-handle/mockData.ts
  packages/vtable-plugins/demo/wps-fill-handle/wps-fill-handle.ts
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/fillHandleUtils/autoFillHandle.ts
  packages/vtable-plugins/src/fillHandleUtils/translateRowObj.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/wps-fill-handle.ts
Labels: docs, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/4029-bug-loading-gif-release_2025-06-13-06-29.json
Labels: chore

docs: add changelog
  common/changes/@visactor/vtable/3337-feat-add-containerFit_2025-06-13-06-29.jseaon
Labels: chore

feat(gantt): allow outerFrameStyle borderLineWidth array config
  packages/vtable-gantt/examples/gantt/gantt-try.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
Labels: none

feat(gantt): allow outerFrameStyle borderLineWidth array config
  packages/vtable-gantt/examples/gantt/gantt-try.ts
  packages/vtable-gantt/examples/menu.ts
Labels: none
