Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

revert(vtable): cancel the type of columns field added
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

revert(vtable): cancel the export of base-table
  packages/vtable/src/ts-types/index.ts
Labels: vtable

feat(vtable): allow customRender table types to be customized
  packages/vtable/src/ts-types/customElement.ts
Labels: vtable

fix: fix args in _generateCustomElementsGroup()
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

feat: 增加日期hover功能
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/scenegraph/tooltip.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

feat(vtable): onStart adds table parameter
  common/config/rush/pnpm-lock.yaml
  packages/vtable-editors/package.json
  packages/vtable-editors/src/types.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable, chore

fix(vtable-editors): remove circular reference dependency
  common/config/rush/pnpm-lock.yaml
  packages/vtable-editors/package.json
  packages/vtable-editors/src/types.ts
Labels: chore

feat: gantt time scale support visible #3098
  docs/assets/demo/en/gantt/gantt-hide-hour-scale.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-hide-hour-scale.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/en/common/gantt/timeline-scale.md
  docs/assets/option/zh/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/timeline-scale.md
  packages/vtable-gantt/examples/gantt/gantt-hour-scaleHide.ts
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3098-feature-gantt-hide-scale_2025-02-14-09-34.json
Labels: chore

fix: fix args in _generateCustomElementsGroup()
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3098-feature-gantt-hide-scale_2025-02-14-09-35.json
Labels: chore

revert(vtable): restore the handling of historical api
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

revert(vtable): restore the handling of historical api
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

docs: generate changelog of release v1.16.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: translate release log
  docs/assets/changelog/zh/release.md
Labels: docs

feat:调整tooltip样式
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/scenegraph/tooltip.ts
Labels: none

对外暴露点击里程碑的事件
  packages/vtable-gantt/examples/gantt/gantt-phase.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/scenegraph/tooltip.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

docs: 修复禁用双击自动调整列款的参数文档
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
Labels: docs

perf: resolve the memory leak in the edit-manager
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

fix(vtable): editCellTrigger does not take effect after fixing the options update
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: change vrender import path
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/components/axis/label-overlap.ts
  packages/vtable/src/components/legend/continue-legend/continue-legend.ts
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
  packages/vtable/src/components/title/title.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/render/jsx/index.ts
  packages/vtable/src/render/layout/index.ts
  packages/vtable/src/render/layout/tag.ts
  packages/vtable/src/render/layout/text.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/height-util.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/cell-border-stroke-width.ts
  packages/vtable/src/scenegraph/utils/text-measure.ts
  packages/vtable/src/state/radio/radio.ts
  packages/vtable/src/state/select/custom-select.ts
  packages/vtable/src/ts-types/component/legend.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable

chore: complement the missing default value
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

docs: change event RESIZE_COLUMN_END return property name
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/option/en/register/theme.md
Labels: docs

fix: sort icon effect with sortBy indicator total value #3409
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

fix: sort icon effect with sortBy indicator total value #3409
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

feat: add textIcon
  packages/vtable/examples/icon/font-icon.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/component/cell-content.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/tools/icons.ts
  packages/vtable/src/ts-types/icon.ts
Labels: vtable

fix: fix sort function in getCheckboxState() #3394
  common/changes/@visactor/vtable/fix-state-sort_2025-02-17-13-31.json
  packages/vtable/src/ListTable.ts
Labels: vtable, chore

build: prelease version 1.16.2-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: pivotChart options.resize error
  packages/vtable/src/PivotChart.ts
Labels: vtable

refactor: add deprecated annotation
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

fix: test unit case
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

fix: getChartInstance log vchart updateViewBox method #3442
  packages/vtable/src/PivotChart.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3442-feature-showOneChart-crosshair_2025-02-18-11-49.json
Labels: chore

chore: add rush change
  common/changes/@visactor/vtable/feat-node-env_2025-02-18-12-41.json
Labels: chore

build: prelease version 1.16.2-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add switch cell type
  common/changes/@visactor/vtable/feat-text-icon_2025-02-18-13-34.json
  packages/vtable/examples/type/checkbox.ts
  packages/vtable/src/ListTable-all.ts
  packages/vtable/src/body-helper/body-helper.ts
  packages/vtable/src/body-helper/style/SwitchStyle.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/index.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/switch-cell.ts
  packages/vtable/src/ts-types/column/style.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/list-table/define/index.ts
  packages/vtable/src/ts-types/list-table/define/switch-define.ts
Labels: vtable, chore

fix: computeAxisComponentWidth value ceil #3444
  packages/vtable/src/components/axis/get-axis-component-size.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3444-bug-pivotChart-axis-autoWidth_2025-02-19-03-04.json
Labels: chore

fix: fix sort function in getCheckboxState() #3394
  common/changes/@visactor/vtable/fix-state-sort_2025-02-17-13-31.json
  packages/vtable/src/ListTable.ts
Labels: vtable, chore

feat: add button cell type
  common/changes/@visactor/vtable/feat-text-icon_2025-02-18-13-34.json
  packages/vtable/src/ListTable-all.ts
  packages/vtable/src/body-helper/body-helper.ts
  packages/vtable/src/body-helper/style.ts
  packages/vtable/src/body-helper/style/ButtonStyle.ts
  packages/vtable/src/body-helper/style/SwitchStyle.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/component/button.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/button-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/index.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/column/style.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/list-table/define/button-define.ts
  packages/vtable/src/ts-types/list-table/define/index.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
