Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: add more operators support for condition filter
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-engine.ts
  packages/vtable-plugins/src/filter/styles.ts
  packages/vtable-plugins/src/filter/types.ts
Labels: none

feat: add table
  packages/vtable/examples/master/test.ts
  packages/vtable/src/MasterDetailTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/master-detail-row-manager.ts
  packages/vtable/src/core/row-series-number-helper.ts
  packages/vtable/src/layout/master-detail-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: add table
  packages/vtable/examples/master/test.ts
  packages/vtable/src/MasterDetailTable.ts
  packages/vtable/src/core/master-detail-row-manager.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: add getRecordHierarchyState api and fix change header position arguments #4226
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/event/helper.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/util.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4226-bug-change_header_position-args_2025-07-21-15-39.json
Labels: chore

feat: add getRecordHierarchyState api and fix change header position arguments #4226
  packages/vtable/src/state/state.ts
Labels: vtable

feat: add getRecordHierarchyState api and fix change header position arguments #4226
  packages/vtable/src/state/state.ts
Labels: vtable

feat: add getRecordHierarchyState api and fix change header position arguments #4226
  packages/vtable/src/state/cell-move/index.ts
Labels: vtable

chore: fix the problem with formula calculations
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-07-21-21-51.json
Labels: chore

Update checkbox.md
  docs/assets/guide/zh/cell_type/checkbox.md
Labels: docs

feat: add table
  packages/vtable/src/MasterDetailTable.ts
Labels: vtable

feat: add table
  packages/vtable/examples/master/test.ts
  packages/vtable/src/MasterDetailTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/master-detail-row-manager.ts
  packages/vtable/src/layout/master-detail-layout.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: add table
  packages/vtable/src/core/row-series-number-helper.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: add table
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

feat: add table
  packages/vtable/src/MasterDetailTable.ts
Labels: vtable

chore: update dbclick cell status
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-07-22-18-06.json
Labels: chore

feat: add table
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

build: prelease version 1.19.4-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: vchart trasnparent bgColor replace cell hover color #4245
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/state/hover/update-position.ts
Labels: vtable, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/4235-bug-vchart-transparent-bgcolor-replace-cell-bgcolor_2025-07-23-08-33.json
Labels: chore

feat: context menu plugin custom select style
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/examples/list/list-contextMenu-disabledMenu.ts
  packages/vtable/src/scenegraph/select/create-select-border.ts
  packages/vtable/src/scenegraph/select/update-custom-select-border.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/scenegraph/utils/cell-pos.ts
  packages/vtable/src/state/select/custom-select.ts
Labels: vtable

Revert "Refactor/deal with task bar resize"
  packages/vtable-gantt/examples/gantt/gantt-month.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

refactor: afterClearScreen call
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

feat: menuClickCallback api
  packages/vtable-plugins/demo/context-menu/context-menu.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
  packages/vtable/src/scenegraph/select/update-custom-select-border.ts
Labels: vtable

feat: menuClickCallback api
  packages/vtable/src/scenegraph/select/update-custom-select-border.ts
Labels: vtable

feat: menuClickCallback api
  packages/vtable/src/state/select/custom-select.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/style-define.ts
Labels: vtable

feat: vtable sheet context menu
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/demo/vite.config.js
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable/package.json
  packages/vtable/src/event/event.ts
  packages/vtable/src/tools/style.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, chore

feat: add clearSelected api
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

refactor: hide menu list when scroll #4214
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/self-event-listener/base-table/dropdown-menu.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4214-bug-scrollHideMenuList_2025-07-25-06-27.json
Labels: chore

feat: add enableCheckboxCascade option #4130
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/ts-types/list-table/define/checkbox-define.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4130-checkbox-not-linkage_2025-07-25-08-19.json
Labels: chore

refactor: vrender afterClearRect api
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/examples/list/list-chart.ts
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: vrender afterClearRect api
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

feat: add groupConfig replace groupBy and group** & add titleCheckbox #4130
  packages/vtable/examples/list/list-group.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
  packages/vtable/src/layout/layout-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/init-scenegraph.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/utils/get-hierarchy-offset.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4130-checkbox-not-linkage_2025-07-25-11-48.json
Labels: chore

docs: supplement group config
  docs/assets/demo/en/gantt/gantt-project-taskShowMode.md
  docs/assets/demo/en/gantt/gantt-table-mergeCell.md
  docs/assets/demo/en/gantt/gantt-taskShowMode.md
  docs/assets/demo/en/table-type/list-table-group-checkbox.md
  docs/assets/demo/en/table-type/list-table-group.md
  docs/assets/demo/en/table-type/list-table-tree-lazy-load.md
  docs/assets/demo/zh/gantt/gantt-project-taskShowMode.md
  docs/assets/demo/zh/gantt/gantt-table-mergeCell.md
  docs/assets/demo/zh/table-type/list-table-group-checkbox.md
  docs/assets/demo/zh/table-type/list-table-group.md
  docs/assets/demo/zh/table-type/list-table-tree-lazy-load.md
  docs/assets/guide/en/cell_type/checkbox.md
  docs/assets/guide/en/table_type/List_table/group_list.md
  docs/assets/guide/zh/cell_type/checkbox.md
  docs/assets/guide/zh/table_type/List_table/group_list.md
  docs/assets/option/en/common/row-series-number.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/common/row-series-number.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
Labels: vtable, docs

docs: supplement enableCheckboxCascade config
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
Labels: docs
