Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix: solve issue #3839
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
Labels: vtable

feat: project task type
  docs/assets/guide/menu.json
  docs/assets/guide/zh/gantt/gantt_date.md
  docs/assets/guide/zh/gantt/gantt_export.md
  docs/assets/guide/zh/gantt/gantt_markline.md
  docs/assets/guide/zh/gantt/gantt_scales.md
  packages/vtable-gantt/examples/gantt/project-sub-tasks-inline.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable, docs

fix: solve issue #3839
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

fix: dependencyLinks occor error
  packages/vtable-gantt/examples/gantt/gantt-project-type.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

fix: project task type occor error
  packages/vtable-gantt/examples/gantt/gantt-project-type.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

fix: fix bug of pivot chart canvas cache
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
Labels: vtable

build: prelease version 1.17.4-alpha.7
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: project task type support dependency line
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-project-taskShowMode.md
  packages/vtable-gantt/examples/gantt/gantt-project-type.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: docs

fix: column widths display incorrectly after updateColmns
  packages/vtable/src/ListTable.ts
Labels: vtable

feat(gantt): add theme adaptation capability
  packages/vtable-gantt/examples/gantt/gantt-theme-adaptation.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/src/themes/ARCO.ts
  packages/vtable/src/themes/BRIGHT.ts
  packages/vtable/src/themes/DARK.ts
  packages/vtable/src/themes/DEFAULT.ts
  packages/vtable/src/themes/SIMPLIFY.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable

fix: fixed the issue that the `SelectedClear` could not be triggered in the Vue component. #3859
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable.vue
  packages/vue-vtable/src/eventsUtils.ts
Labels: none

fix: maintain scrollbar visibility after scrolling in focus mode
  packages/vtable/src/event/scroll.ts
Labels: vtable

Fix the bug of table box selection
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

feat(gantt): add methods to expand all levels of tree
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/ListTable.ts
Labels: vtable, docs

fix: 修复头部缩进问题 & 为RowSeriesNumber开启feild字段
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: judge event listener pasted_data
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update gantt project guide
  docs/assets/demo/en/gantt/gantt-basic.md
  docs/assets/demo/en/gantt/gantt-project-taskShowMode.md
  docs/assets/demo/en/gantt/gantt-taskShowMode.md
  docs/assets/demo/zh/gantt/gantt-basic.md
  docs/assets/demo/zh/gantt/gantt-taskShowMode.md
Labels: docs

docs: supplement en tutorial
  docs/assets/demo/en/gantt/gantt-project-taskShowMode.md
  docs/assets/demo/zh/gantt/gantt-project-taskShowMode.md
  docs/assets/guide/en/gantt/gantt_date.md
  docs/assets/guide/en/gantt/gantt_dependency_links.md
  docs/assets/guide/en/gantt/gantt_export.md
  docs/assets/guide/en/gantt/gantt_grid.md
  docs/assets/guide/en/gantt/gantt_markline.md
  docs/assets/guide/en/gantt/gantt_scales.md
  docs/assets/guide/en/gantt/gantt_style.md
  docs/assets/guide/en/gantt/gantt_task_show_mode.md
  docs/assets/guide/en/gantt/gantt_tasks.md
  docs/assets/guide/en/gantt/subtask_layout.md
  docs/assets/guide/zh/gantt/gantt_task_data.md
  docs/assets/guide/zh/gantt/gantt_task_show_mode.md
  docs/assets/guide/zh/gantt/gantt_tasks.md
Labels: docs

fix: fix bug of pivot chart canvas cache
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
Labels: vtable

Revert "Feat/scrollbar always visible space correction"
  packages/vtable/examples/menu.ts
  packages/vtable/examples/theme/scrollbar-always-visible-space-correction.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/tools/style.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-pasted-add-row-col-plugin_2025-05-26-10-53.json
  docs/assets/demo/en/plugin/excel-online-editing.md
  docs/assets/demo/zh/plugin/excel-online-editing.md
  docs/assets/guide/en/plugin/paste-add-row-column.md
  docs/assets/guide/zh/plugin/paste-add-row-column.md
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/paste-add-row-column/paste-add-row-column.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/paste-add-row-column.ts
  packages/vtable-plugins/src/paste-add-row.ts
Labels: docs, chore

simplify
  common/config/rush/.npmrc
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable, chore

simplify
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

Update .npmrc
  common/config/rush/.npmrc
Labels: chore

Update package.json
  packages/vtable/package.json
Labels: vtable

Update container-dom.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

Update container-dom.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

Update container-dom.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

Update container-dom.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

Update pnpm-lock.yaml
  common/config/rush/pnpm-lock.yaml
Labels: chore

feat(gantt): support custom style for each dependency link
  packages/vtable-gantt/examples/gantt/gantt-linkLine-style.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

Optimize Code: Remove Redundant Code Logic
  packages/vue-vtable/src/eventsUtils.ts
Labels: none

docs: add Trae context documentation
  docs/assets/guide/en/Getting_Started/Quickly_Get_Started_with_VisActor_Using_Trae_Context_Doc.md
  docs/assets/guide/zh/Getting_Started/Quickly_Get_Started_with_VisActor_Using_Trae_Context_Doc.md
Labels: docs

feat: add import execl functional plugin
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/plugin/execl-import.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/execl-import.md
  docs/assets/guide/zh/plugin/gantt-export-image.md
  docs/assets/guide/zh/plugin/usage.md
  packages/vtable-plugins/demo/execl-import/execl-import.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/excel-import.ts
  packages/vtable-plugins/src/index.ts
Labels: docs, chore

fix: typescripte hint type error
  packages/vtable/src/event/event.ts
Labels: vtable

docs: generate changelog of release v1.18.4
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update gantt guide
  docs/assets/guide/en/gantt/gantt_tasks.md
  docs/assets/guide/zh/gantt/gantt_tasks.md
Labels: docs

chore: update vrender 1.0.0
  common/changes/@visactor/vtable/develop_2025-05-27-11-26.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/examples/vchart/test-progress.ts
  packages/vtable/package.json
  packages/vtable/src/vrender.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

chore: update vrender 1.0.0
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/vrender.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
