Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: integrate filter plugin with flexible column-level control
  packages/vtable-plugins/src/filter.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-engine.ts
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.ts
  packages/vtable-sheet/examples/menu.ts
  packages/vtable-sheet/examples/sheet/filter.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

docs: add move_end_task_bar docs.#4266
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  packages/vtable-gantt/src/state/state-manager.ts
Labels: docs

fix: update demo of filter in vtable-sheet
  packages/vtable-sheet/examples/sheet/filter.ts
Labels: none

feat: remove callback config method of filter in vtable-sheet
  packages/vtable-plugins/src/filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-sheet/examples/sheet/filter.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

feat: vtable sheet filter and context menu
  packages/vtable-plugins/demo/context-menu/context-menu.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-plugins/src/contextmenu/index.ts
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
  packages/vtable-plugins/src/contextmenu/types.ts
  packages/vtable-plugins/src/filter.ts
  packages/vtable-plugins/src/types.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: add contexnemu_canvas event type
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
Labels: vtable

fix: chart bgcolor with cell hover
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-07-30-20-32.json
Labels: chore

chore: add range cell highlight
  packages/vtable-sheet/src/managers/cell-highlight-manager.ts
Labels: none

fix: prevent row height update when detaY is zero and use precise height value
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix: prevent row height update when detaY is zero and use precise height value
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

refactor: show cancel filter menu
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/types.ts
  packages/vtable-sheet/src/core/table-plugins.ts
Labels: none

docs: generate changelog of release v1.19.5
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: add contextmenu_canvas event handle
  packages/vtable/src/components/menu/dom/MenuHandler.ts
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

feat: resize cellGroup content
  packages/vtable/examples/master/list-master-detail.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: vtable

feat: subTable auto scoll
  packages/vtable/examples/master/list-master-detail.ts
  packages/vtable/src/ListTable.ts
Labels: vtable

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

chore: add workflow to sync main to develop after release
  .github/workflows/sync-main-to-develop.yml
Labels: chore

fix: fix sync-main-to-develop.yml
  .github/workflows/sync-main-to-develop.yml
Labels: chore

fix: add rightdown show menu canvasShowMenu handle in the sceneGraph
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix: pivot table set columnHierarchyType gird expand tree error #4254
  packages/vtable/src/scenegraph/icon/icon-update.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4254-bug-columnHierarchyType-grid-expand-error_2025-08-01-06-08.json
Labels: chore

docs: add cell custom reactive layout demo
  docs/assets/demo-vue/en/custom-layout/cell-custom-reactive-layout.md
  docs/assets/demo-vue/en/custom-layout/cell-dom-component.md
  docs/assets/demo-vue/menu.json
  docs/assets/demo-vue/zh/custom-layout/cell-custom-reactive-layout.md
  docs/assets/demo-vue/zh/custom-layout/cell-dom-component.md
  docs/src/main.tsx
Labels: docs

docs: update demo link
  docs/assets/demo-vue/en/custom-layout/cell-custom-reactive-layout.md
  docs/assets/demo-vue/zh/custom-layout/cell-custom-reactive-layout.md
Labels: docs

fix: improve handling of filter configuration updates in filter plugin
  packages/vtable-plugins/src/filter.ts
  packages/vtable-plugins/src/filter/filter-engine.ts
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-sheet/examples/sheet/filter.ts
  packages/vtable-sheet/src/core/table-plugins.ts
Labels: none

fix: correct month iteration logic in getRecords
  packages/vtable-calendar/demo/list/list.ts
  packages/vtable-calendar/src/date-util.ts
  packages/vtable-calendar/src/table/table-option.ts
Labels: none

feat: save frozen config
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable/src/scenegraph/layout/frozen.ts
Labels: vtable

feat: pivot chart add columnWidthConfig option
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/en/table/pivotChart.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/listTable.md
  docs/assets/option/zh/table/pivotChart.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable/examples/pivot-chart/pivotChart-horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-pivot_chart_columnWidthConfig_2025-08-04-07-08.json
Labels: chore

feat: sort and expand lastRow
  packages/vtable/examples/master/list-master-detail.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/get-hierarchy-offset.ts
  packages/vtable/src/state/sort/index.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: subTable reisze
  packages/vtable/src/ListTable.ts
Labels: vtable

feat: subTable selected status
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: delete some no use code
  packages/vtable/src/ListTable.ts
  packages/vtable/src/MasterDetailTable-all.ts
  packages/vtable/src/MasterDetailTable-simple.ts
  packages/vtable/src/MasterDetailTable.ts
  packages/vtable/src/index.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: vtable sheet add main menu
  packages/vtable-plugins/src/excel-import.ts
  packages/vtable-sheet/examples/sheet/filter.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/index.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/styles/formula-bar.css
  packages/vtable-sheet/src/styles/index.css
  packages/vtable-sheet/src/styles/menu.css
  packages/vtable-sheet/src/styles/sheet.css
  packages/vtable-sheet/src/ts-types/base.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

fix: delete some no use code
  packages/vtable/examples/master/test.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/event/self-event-listener/base-table/icon.ts
  packages/vtable/src/index.ts
  packages/vtable/src/layout/master-detail-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/state/sort/index.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

fix: delete some no use code
  packages/vtable-export/src/excel/index.ts
Labels: none

fix: delete some no use code
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

feat: implement filter status persistence in vtable-sheet
  packages/vtable-plugins/src/filter.ts
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/value-filter.ts
  packages/vtable-sheet/examples/menu.ts
  packages/vtable-sheet/examples/sheet/persistence.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/ts-types/filter.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

feat: optimize option collection logic in value-filter
  packages/vtable-plugins/src/filter/value-filter.ts
  packages/vtable-sheet/examples/sheet/persistence.ts
Labels: none

fix: delete some no use code
  packages/vtable/src/ListTable.ts
  packages/vtable/src/state/sort/index.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable
