Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

test(vtable): align sort icon visibility demo
  packages/vtable/examples/debug/issue-4798-sort-icon-visible-time.ts
Labels: vtable

fix(vtable): align right frozen area for short content
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix(vtable): guard bottom right corner visibility
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix(vtable): hide bottom right corner without bottom frozen rows
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix(vtable): hide bottom left corner without frozen columns
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix(vtable): reset frozen corner visibility
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix(react-vtable): lazy load custom layout reconciler
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/list-table/issue-5203-vite-react19.tsx
  packages/react-vtable/demo/vite.config.issue5203.ts
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
Labels: react-vtable

fix(vtable): keep right frozen header at right edge
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix(vtable): place bottom frozen rows below header
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix(vtable): place bottom frozen rows below right frozen body
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

fix(vtable): fallback invalid functional cell type
  packages/vtable/__tests__/options/listTable-celltype-function.test.ts
  packages/vtable/examples/debug/issue-celltype-function-undefined.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

fix(bundler): inline dynamic imports for umd output
  tools/bundler/src/tasks/umd.ts
Labels: bundler

fix(bundler): inline dynamic imports for umd output
  tools/bundler/src/tasks/umd.ts
Labels: bundler

build: release version 1.26.6 [skip ci]
  common/changes/@visactor/vtable/fix-issue-4761-update-records-render_2026-07-27-19-55.json
  common/changes/@visactor/vtable/fix-issue-4816-functional-icon-theme_2026-07-27-15-36.json
  common/changes/@visactor/vtable/fix-issue-5213-aggregation-series-number_2026-07-14-20-50.json
  common/changes/@visactor/vtable/fix-issue-5214-delete-selected-rows_2026-07-14-21-21.json
  common/changes/@visactor/vtable/fix-issue-5215-plugin-init_2026-07-28-00-00.json
  common/changes/@visactor/vtable/fix-issues-5211-checkbox-record-index_2026-07-28-00-00.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: translate 1.26.6 zh changelog
  docs/assets/changelog/zh/release.md
Labels: docs

fix(vtable): avoid loading lazy data in custom render sizing
  packages/vtable/__tests__/options/listTable-custom-render-async-dataSource.test.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable

docs(vtable): add issue 4964 custom render demo
  packages/vtable/examples/debug/issue-4964-custom-render-async-value.ts
  packages/vtable/examples/menu.ts
Labels: vtable

feat(vtable): support tooltip appear delay
  common/changes/@visactor/vtable/feat-issue-5112-tooltip-appear-delay_2026-08-04-00-00.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/components/tooltip.md
  docs/assets/guide/zh/components/tooltip.md
  docs/assets/option/en/icon/base-icon.md
  docs/assets/option/zh/icon/base-icon.md
  packages/vtable/__tests__/components/listTable-tooltip.test.ts
  packages/vtable/examples/debug/issue-5112-tooltip-appear-delay.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/components/tooltip/TooltipHandler.ts
  packages/vtable/src/scenegraph/icon/icon-update.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/icon.ts
  packages/vtable/src/ts-types/tooltip.ts
Labels: vtable, docs, chore

docs: add changelog for issue 4964
  common/changes/@visactor/vtable/fix-issue-4964-custom-render-lazy-data-source_2026-08-04-16-08.json
Labels: chore

fix: render vue components in top frozen rows
  common/changes/@visactor/vtable/fix-issue-5265-vue-frozen-row-dom_2026-08-04-14-53.json
  packages/vue-vtable/__tests__/vue-stable-id.test.ts
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
Labels: test, chore

docs(vtable): narrow issue 4964 demo custom render
  packages/vtable/__tests__/options/listTable-custom-render-async-dataSource.test.ts
  packages/vtable/examples/debug/issue-4964-custom-render-async-value.ts
Labels: vtable

fix: prevent React plugin render loop
  common/changes/@visactor/react-vtable/fix-issue-4859-react-plugins-loop_2026-08-05-16-50.json
  packages/react-vtable/__tests__/list-table-plugins.test.tsx
  packages/react-vtable/jest.config.js
  packages/react-vtable/package.json
  packages/react-vtable/src/tables/base-table.tsx
  packages/react-vtable/tscofig.eslint.json
Labels: react-vtable, test, jest, chore

fix(vtable): emit context menu click event
  docs/assets/guide/en/plugin/context-menu.md
  docs/assets/guide/zh/plugin/context-menu.md
  packages/vtable-plugins/__tests__/context-menu/handle-menu-helper.test.ts
  packages/vtable-plugins/demo/context-menu/issue-4655-context-menu-click.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/menu.ts
Labels: vtable, docs

fix: stabilize React plugin Jest setup
  packages/react-vtable/__tests__/list-table-plugins.test.tsx
  packages/react-vtable/jest.config.js
Labels: react-vtable, test, jest

docs(vtable): clarify context menu click event behavior
  docs/assets/guide/en/plugin/context-menu.md
  docs/assets/guide/zh/plugin/context-menu.md
Labels: docs

fix(vtable-editors): avoid HTML injection in list editor
  packages/vtable-editors/src/list-editor.ts
Labels: none

test(vtable-editors): cover list editor HTML injection
  packages/vtable-editors/__tests__/list-editor.test.ts
  packages/vtable-editors/jest.config.js
  packages/vtable-editors/tsconfig.test.json
Labels: test, jest

test(vtable-editors): add package test script
  packages/vtable-editors/package.json
Labels: none

fix(vtable): defer chart constructor render retry
  packages/vtable/__tests__/chart-graphic.test.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable, test

fix(vtable): address audio cell review feedback
  docs/assets/guide/en/cell_type/cellType.md
  docs/assets/guide/en/table_type/List_table/list_table_define_and_generate.md
  docs/assets/guide/zh/cell_type/cellType.md
  docs/assets/guide/zh/table_type/List_table/list_table_define_and_generate.md
  docs/assets/option/en/column/audio-column-type.md
  docs/assets/option/en/column/image-column-type.md
  docs/assets/option/en/dimension/audio-dimension-type.md
  docs/assets/option/en/dimension/image-dimension-type.md
  docs/assets/option/en/indicator/audio-indicator-type.md
  docs/assets/option/en/indicator/image-indicator-type.md
  docs/assets/option/zh/column/audio-column-type.md
  docs/assets/option/zh/column/image-column-type.md
  docs/assets/option/zh/dimension/audio-dimension-type.md
  docs/assets/option/zh/dimension/image-dimension-type.md
  docs/assets/option/zh/indicator/audio-indicator-type.md
  docs/assets/option/zh/indicator/image-indicator-type.md
  packages/vtable/examples/type/audio.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/audio-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/tools/media.ts
Labels: vtable, docs

fix(vtable): preserve chart retry errors
  packages/vtable/__tests__/chart-graphic.test.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable, test

fix(vtable): narrow deferred chart render retry
  packages/vtable/__tests__/chart-graphic.test.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable, test

fix(vtable): match deferred chart retry source
  packages/vtable/__tests__/chart-graphic.test.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable, test

fix(vtable): gate deferred chart render by construction state
  packages/vtable/__tests__/chart-graphic.test.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
Labels: vtable, test

fix(vtable): defer only confirmed chart constructor retry errors
  packages/vtable/__tests__/chart-graphic.test.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
Labels: vtable, test

fix(vtable): cover chart retry lifecycle and local repro
  packages/vtable/__tests__/chart-graphic.test.ts
  packages/vtable/examples/debug/bugserver-6a7b16f-pivot-chart.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable, test

fix(vtable): keep bugserver pivot chart repro runnable
  packages/vtable/__tests__/chart-graphic.test.ts
  packages/vtable/examples/debug/bugserver-6a7b16f-pivot-chart.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
Labels: vtable, test

fix(vtable): use pivot records for chart retry gate
  packages/vtable/__tests__/chart-graphic.test.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
Labels: vtable, test

fix(vtable): address audio cell review gaps
  docs/assets/guide/en/cell_type/image_video.md
  docs/assets/guide/zh/cell_type/image_video.md
  docs/assets/guide/zh/custom_define/custom_icon.md
  docs/assets/option/en/column/audio-column-type.md
  docs/assets/option/en/dimension/audio-dimension-type.md
  docs/assets/option/en/indicator/audio-indicator-type.md
  docs/assets/option/en/indicator/base-indicator-type.md
  docs/assets/option/zh/column/audio-column-type.md
  docs/assets/option/zh/dimension/audio-dimension-type.md
  docs/assets/option/zh/indicator/audio-indicator-type.md
  docs/assets/option/zh/indicator/base-indicator-type.md
  packages/vtable/examples/type/audio.ts
  packages/vtable/src/event/media-click.ts
  packages/vtable/src/layout/layout-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/audio-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/ts-types/list-table/define/image-define.ts
  packages/vtable/src/ts-types/list-table/define/index.ts
  packages/vtable/src/ts-types/pivot-table/dimension/image-dimension.ts
  packages/vtable/src/ts-types/pivot-table/dimension/index.ts
  packages/vtable/src/ts-types/pivot-table/indicator/image-indicator.ts
  packages/vtable/src/ts-types/pivot-table/indicator/index.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

fix(vtable-plugins): align context menu click payload
  docs/assets/guide/en/plugin/context-menu.md
  docs/assets/guide/zh/plugin/context-menu.md
  packages/vtable-plugins/__tests__/context-menu/handle-menu-helper.test.ts
  packages/vtable-plugins/demo/context-menu/issue-4655-context-menu-click.ts
  packages/vtable-plugins/src/context-menu.ts
Labels: docs
