Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix: excel keyboard action
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

chore: update start server command
  packages/vtable-plugins/package.json
Labels: none

fix: mobile touch event resize column width #3693
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3693-bug-mobile-touch-event-error_2025-04-03-06-30.json
Labels: chore

docs: add docs and guide of ListTable header folding
  docs/assets/demo/en/basic-functionality/list-table-header-group-collapse.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/basic-functionality/list-table-header-group-collapse.md
  docs/assets/guide/en/table_type/List_table/columns_tree.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/table_type/List_table/columns_tree.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable, docs

chore: listtable header grouping configuration parameter name modification: column -> header
  docs/assets/demo/en/basic-functionality/list-table-header-group-collapse.md
  docs/assets/demo/zh/basic-functionality/list-table-header-group-collapse.md
  docs/assets/guide/en/table_type/List_table/columns_tree.md
  docs/assets/guide/zh/table_type/List_table/columns_tree.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-listtable-columntree_2025-04-03-10-14.json
Labels: chore

docs: update changelog
  common/changes/@visactor/vtable/feat-listtable-columntree_2025-04-03-10-14.json
Labels: chore

fix: list table create DimensionTree
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

build: prelease version 1.17.6-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: listTable added dispatchOnValueChange parameter to changeCellValue
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-changeCellValue_2025-04-05-12-31.json
Labels: chore

fix: frame border set array render bottom line position error #3684
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3684-bug-frame-border-with-array_2025-04-07-03-54.json
Labels: chore

fix: when set frozen disableDragSelect not work #3702
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3702-bug-disabledragselect-frozencolcount_2025-04-07-07-57.json
Labels: chore

feat: add select/cornerHeaderSelectMode config
  packages/vtable/examples/list/list-rowSeriesNumber-cornerHeaderSelectMode.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-grid-tree-select-cornerHeaderSelectMode.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
Labels: vtable

fix: updateTaskRecord api #3639
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-gantt-updateRecord_2025-04-07-11-35.json
Labels: chore

fix: when move tree node position code occor error #3645 #3706
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3645-bug-tree-node-move-position-error_2025-04-08-02-45.json
Labels: chore

refactor: computeColsWidth api call time
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: vtable

build: prelease version 1.17.6-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: listTable added tiggerEvent parameter to changeCellValue
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-changeCellValue_2025-04-08-13-35.json
Labels: chore

fix: repeat call computeColsWidth adaptive mode result error
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/refactor-computeColsWidth_api_call_time_2025-04-09-06-31.json
Labels: chore

build: prelease version 1.17.6-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix flex layout update in react-custom-layout component #3696
  common/changes/@visactor/vtable/fix-custom-flex-layout_2025-04-09-08-08.json
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/component/user/custom-layout-update.tsx
  packages/react-vtable/src/table-components/custom/reconciler.ts
Labels: react-vtable, chore

build: prelease version 1.17.6-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: add plugins usage
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/contribute.md
  docs/assets/guide/zh/plugin/focus-highlight.md
  docs/assets/guide/zh/plugin/header-highlight.md
  docs/assets/guide/zh/plugin/invert-highlight.md
  docs/assets/guide/zh/plugin/row-column-series.md
  docs/assets/guide/zh/plugin/usage.md
  packages/vtable-plugins/demo/column-series/column-series.ts
  packages/vtable-plugins/demo/highlight-header/highlight-header.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
Labels: docs

docs: correct the dropdown menu click event name
  docs/assets/demo/en/component/dropdown.md
  docs/assets/demo/en/interaction/context-menu.md
  docs/assets/demo/zh/component/dropdown.md
  docs/assets/demo/zh/interaction/context-menu.md
  docs/assets/faq/en/16-How to customize the drop-down menu in table component.md
  docs/assets/faq/en/18-How to customize the context menu in the table component.md
  docs/assets/faq/zh/16-How to customize the drop-down menu in table component.md
  docs/assets/faq/zh/18-How to customize the context menu in the table component.md
  docs/assets/guide/en/Event/event_list.md
  docs/assets/guide/zh/Event/event_list.md
  packages/vtable/src/scenegraph/component/menu.ts
Labels: vtable, docs

fix: fix flex layout update in react-custom-layout component #3696
  common/changes/@visactor/vtable/fix-custom-flex-layout_2025-04-09-08-08.json
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/component/user/custom-layout-update.tsx
  packages/react-vtable/src/table-components/custom/reconciler.ts
Labels: react-vtable, chore

docs: generate changelog of release v1.17.6
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: add plugins tutorial
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/excel-keyboard-alignment.md
  docs/assets/guide/zh/plugin/header-highlight.md
  docs/assets/guide/zh/plugin/row-column-series.md
  packages/vtable-plugins/demo/combine-plugins/combine-plugins.ts
  packages/vtable-plugins/src/case-before-init.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-plugins/src/highlight-header-when-select-cell.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/row-series.ts
Labels: docs

docs: add row column plus plugin
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/row-column-add.md
Labels: docs

feat: add menu/disabled config
  packages/vtable/src/ts-types/menu.ts
Labels: vtable

feat: add menu/disabled config
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
  packages/vtable/src/components/menu/dom/logic/MenuElementStyle.ts
Labels: vtable

feat: add list-contextMenu-disabledMenu demo
  packages/vtable/examples/list/list-contextMenu-disabledMenu.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-grid-tree.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
