Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/3558-feature-rowSeriesNumber-radio_2025-03-12-09-32.json
Labels: chore

refactor: plugins manager
  packages/vtable-plugins/demo/add-row-column/add-row-column.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/carousel-animation
  packages/vtable-plugins/src/case-before-init.ts
  packages/vtable-plugins/src/header-highlight
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/invert-highlight
  packages/vtable-plugins/src/plugins
  packages/vtable-plugins/src/plus-row-column
  packages/vtable-plugins/src/plus-row-column.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/index.ts
  packages/vtable/src/plugins/index.ts
  packages/vtable/src/plugins/interface.ts
  packages/vtable/src/plugins/plugin-manager.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

refactor: plugins manager
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

docs: update vue-vtable demo
  docs/assets/demo-vue/en/custom-layout/cell-dom-component.md
  docs/assets/demo-vue/zh/custom-layout/cell-dom-component.md
Labels: docs

docs: update guide option
  docs/assets/option/en/common/scroll-style.md
  docs/assets/option/zh/common/scroll-style.md
  packages/vtable/src/ts-types/theme.ts
Labels: vtable, docs

fix: fix viewbox value in updateViewBox()
  packages/vtable/examples/interactive/custom-scroll.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

build: prelease version 1.17.3-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: plugins progress
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

refactor: plugins progress
  packages/vtable-plugins/src/add-row-column.ts
Labels: none

feat: add column series plugins
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-plugins/demo/column-series/column-series.ts
  packages/vtable-plugins/demo/combine-plugins/combine-plugins.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/case-before-init.ts
  packages/vtable-plugins/src/column-series.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/row-series.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

fix: set cellInnerBorder false frame border render error #3574
  packages/vtable/src/core/tableHelper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3574-bug-frameBorder_2025-03-17-06-37.json
Labels: chore

fix: set cellInnerBorder false frame border render error #3574
  packages/vtable/src/core/tableHelper.ts
Labels: vtable

build: prelease version 1.17.2-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add column series plugin
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-plugins/demo/column-series/column-series.ts
  packages/vtable-plugins/demo/combine-plugins/combine-plugins.ts
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/column-series.ts
  packages/vtable-plugins/src/row-series.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

feat: add column series plugin
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/plugins/interface.ts
Labels: vtable

feat: add resize_table event #3575
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/guide/en/Event/event_list.md
  docs/assets/guide/zh/Event/event_list.md
  docs/assets/option/en/register/theme.md
  docs/assets/option/zh/register/theme.md
  packages/openinula-vtable/src/eventsUtils.ts
  packages/react-vtable/src/eventsUtils.ts
  packages/vtable/examples/pivot-chart/pivot-chart-event.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/events.ts
  packages/vue-vtable/src/eventsUtils.ts
Labels: vtable, react-vtable, openinula-vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/3575-feature-after-resize-event_2025-03-18-07-24.json
Labels: chore

docs: fix gantt api updateOptions to updateOption
  docs/assets/api/zh/GanttAPI.md
Labels: docs

chore: merge resize table branch
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.17.3-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix canvas resize
  packages/vtable/examples/interactive/custom-scroll.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

build: prelease version 1.17.3-alpha.4
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: add operate scenegraph guide
  docs/assets/guide/en/operate_scenegraph.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/operate_scenegraph.md
Labels: docs

fix: fix frozen col update problem
  packages/vtable/src/scenegraph/layout/frozen.ts
Labels: vtable

build: prelease version 1.17.3-alpha.5
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix frozen col update problem
  packages/vtable/src/scenegraph/layout/frozen.ts
Labels: vtable

chore: add rush change
  common/changes/@visactor/vtable/fix-frozen-update_2025-03-19-03-13.json
Labels: chore

feat: add maintainedColumnCount config
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: add api maintainColCount
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-add_maintainColCount_2025-03-19-04-31.json
Labels: chore

chore: add rush change
  common/changes/@visactor/vtable/feat-maintainedColumnCount_2025-03-19-04-33.json
Labels: chore

Revert "Feat/add maintain col count"
  common/changes/@visactor/vtable/feat-add_maintainColCount_2025-03-19-04-31.json
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

feat: add maintainedColumnCount config
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

build: prelease version 1.17.3-alpha.6
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.17.3-alpha.7
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix table resize flash
  packages/vtable/examples/interactive/custom-scroll.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

build: prelease version 1.17.3-alpha.8
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: fillHandle function #3582
  packages/vtable/examples/interactive/fill-handle.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3582-feature-fillHandle-function_2025-03-19-10-33.json
Labels: chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
