Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

chore: update change log
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-06-29-23-02.json
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-06-30-21-53.json
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-07-01-15-19.json
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-07-14-22-24.json
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-07-21-21-51.json
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-07-22-18-06.json
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-07-25-15-43.json
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-07-25-21-38.json
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-07-26-12-20.json
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-07-30-20-32.json
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-08-28-16-00.json
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-08-31-14-25.json
Labels: chore

feat: 添加disableSelectOnContextMenu配置，右键点击单元格是否禁用选择单元格。
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

chore: vtable sheet setting
  packages/vtable-sheet/examples/sheet/persistence.ts
  packages/vtable-sheet/package.json
  packages/vtable-sheet/src/global.d.ts
  packages/vtable-sheet/src/index.ts
Labels: none

chore: update gantt module import for plugin
  packages/vtable-plugins/bundler.config.js
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/gantt-export-image.ts
  packages/vtable-sheet/src/index.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
Labels: bundler

chore: update gantt module import for plugin
  packages/vtable-plugins/README.md
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/gantt-export-image.ts
  packages/vtable-plugins/src/gantt-extensions.ts
Labels: none

fix: add column record handle
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: 修复ctrl禁用时，selectCells失效问题
  packages/vtable/src/event/event.ts
Labels: vtable

docs: generate changelog of release v1.19.9
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: keyboardOptions.ctrlMultiSelect = false，禁用ctrl时，selectCells方法失效
  packages/vtable/src/event/event.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable.vue
Labels: vtable

docs: update changelog
  docs/assets/changelog/zh/release.md
Labels: docs

feat: pivot chart heatmap
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-funnel-legend.ts
  packages/vtable/examples/pivot-chart/pivotChart-heatmap-legend.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix: adjust filter icon size and color
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

fix: test case result
  packages/vtable/__tests__/pivotChart.test.ts
  packages/vtable/src/PivotChart.ts
Labels: vtable, test

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin4.ts
  packages/vtable-plugins/src/master-detail-plugin/checkbox.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
  packages/vtable-plugins/src/master-detail-plugin/utils.ts
Labels: none

feat: some function adapt
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
Labels: docs

fix: pivot chart not show axes tick
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: vtable

feat: gannt task progress support decimal
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

docs: update gannt task progress dmo
  docs/assets/demo/zh/gantt/gantt-progress-adjust.md
Labels: docs

docs: color legend description
  docs/assets/option/en/legend/legend-color.md
  docs/assets/option/zh/legend/legend-color.md
  packages/vtable/examples/pivot-chart/pivotChart-heatmap-legend.ts
Labels: vtable, docs

fix: axis set option not chartSpec
  packages/vtable/examples/pivot-chart/pivotChart-heatmap-legend.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
Labels: vtable

refactor: axis code logic
  CLAUDE.md
  packages/vtable/src/layout/chart-helper/chart-common.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: vtable

refactor: axis optimization
  packages/vtable/src/layout/chart-helper/axis-utils.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/chart-helper/tick-align.ts
  packages/vtable/src/layout/chart-helper/types.ts
Labels: vtable

chore: update vrender version to 1.0.16
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/chore-update-vrender-version_2025-09-16-10-18.json
Labels: chore

feat: adjust histogram chart type
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-histogram.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

build: prelease version 1.19.10-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: adjust sunburst chart type
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-sunburst.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: vtable

docs: fix document writing errors
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/zh/Developer_Ecology/react.md
  docs/assets/guide/zh/Developer_Ecology/vue.md
Labels: docs

feat: some function adapt
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin5.ts
  packages/vtable-plugins/src/master-detail-plugin/checkbox.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
  packages/vtable-plugins/src/master-detail-plugin/utils.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, docs

feat: support ciclepacking sunburst and treemap chart
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-circlePacking.ts
  packages/vtable/examples/pivot-chart/pivotChart-sankey.ts
  packages/vtable/examples/pivot-chart/pivotChart-sunburst.ts
  packages/vtable/examples/pivot-chart/pivotChart-treemap.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4408-feature-funnel-and-heatmap-pivot-chart_2025-09-17-03-17.json
Labels: chore

feat: saveToConfig add formula
  packages/vtable-sheet/README.md
  packages/vtable-sheet/__tests__/formula.test.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: test

fix: two indicators in heatMap render bug
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-twoIndicator-heatmap.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix: two indicators in heatMap render bug
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

feat: some function adapt
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: vtable

feat: some function adapt
  packages/vtable/src/core/tableHelper.ts
Labels: vtable

fix: 修复keyboardOptions.ctrlMultiSelect = false，禁用ctrl时，selectCells方法失效
  packages/vtable/src/event/event.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/table-engine.ts
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable.vue
Labels: vtable

docs: shift禁用文档完善
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

feat: some function adapt
  docs/assets/demo/en/plugin/master-detail.md
  docs/assets/demo/zh/plugin/master-detail.md
Labels: docs

perf: remove useless variables
  packages/vue-vtable/src/constants.ts
Labels: none

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
