Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

build: prelease version 1.22.8-alpha.12
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: pivotChart linkage getAxis node occor error
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-release_chartAxis_occor_error_2025-12-17-07-34.json
Labels: chore

refactor: when no axis compute col width logic
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-release_chartAxis_occor_error_2025-12-17-09-07.json
Labels: chore

fix: typeScript build failures
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

docs: generate changelog of release v1.22.8
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

fix: delete a wrong logic
  packages/vtable-plugins/src/filter/filter-toolbar.ts
Labels: none

fix: toggleSelectAll only in searched item. fix#4838
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-18-13-35.json
  packages/vtable-plugins/demo/filter/filter.ts
Labels: chore

fix: toggleSelectAll only in searched item. fix#4838
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

fix: pivot chart no left axis case
  packages/vtable/src/event/self-event-listener/pivot-chart/axis-hover.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-noLeftAxes-pivotChart_2025-12-19-06-36.json
Labels: chore

fix: hasLeftIndicatorAxis judgement logic
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix: resolve filter malfunction in grouped header scenarios
  packages/vtable-plugins/demo/filter/group.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

build: prelease version 1.22.9-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: mcp server demo
  packages/vtable-mcp-server/examples/index.html
  packages/vtable-mcp-server/examples/main.ts
Labels: none

refactor: mcp tool list
  packages/vtable-mcp-cli/src/index.ts
  packages/vtable-mcp-cli/test-string-value.js
  packages/vtable-mcp-server/src/mcp-compliant-server.ts
  packages/vtable-mcp-server/src/stdio-mcp-server.ts
  packages/vtable-mcp/ARCHITECTURE.md
  packages/vtable-mcp/UNIFIED_TOOL_SYSTEM.md
  packages/vtable-mcp/src/cli-tool-definitions.ts
  packages/vtable-mcp/src/mcp-config.ts
  packages/vtable-mcp/src/mcp-tool-registry.ts
  packages/vtable-mcp/src/plugins/tools/cell-operations.ts
  packages/vtable-mcp/src/plugins/tools/dimension-operations.ts
  packages/vtable-mcp/src/plugins/tools/export-operations.ts
  packages/vtable-mcp/src/plugins/tools/index.ts
  packages/vtable-mcp/src/plugins/tools/range-operations.ts
  packages/vtable-mcp/src/plugins/tools/selection-operations.ts
  packages/vtable-mcp/src/plugins/tools/style-operations.ts
  packages/vtable-mcp/src/plugins/tools/view-operations.ts
  packages/vtable-mcp/src/plugins/vtable-tool-registry.ts
Labels: none

feat: add vtable mcp tools
  packages/vtable-mcp-cli/package.json
  packages/vtable-mcp-cli/scripts/bundle.js
  packages/vtable-mcp-cli/scripts/mcp-smoke-http.js
  packages/vtable-mcp-cli/scripts/mcp-smoke-stdio.js
  packages/vtable-mcp-cli/test-cli.js
  packages/vtable-mcp-cli/test-cursor-connection.js
  packages/vtable-mcp-cli/test-server-call.js
  packages/vtable-mcp-cli/test-string-value.js
  packages/vtable-mcp-server/package.json
  packages/vtable-mcp-server/scripts/mcp-smoke.js
  packages/vtable-mcp-server/src/mcp-compliant-server.ts
  packages/vtable-mcp-server/test-full-flow.js
  packages/vtable-mcp-server/test-vtable-client-3002.js
  packages/vtable-mcp-server/test-vtable-client.js
  packages/vtable-mcp-server/test-websocket.js
  packages/vtable-mcp/src/plugins/tools/cell-operations.ts
  packages/vtable-mcp/src/plugins/tools/style-operations.ts
Labels: none

fix: show dimension tooltip delay logic error
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-noLeftAxes-pivotChart_2025-12-22-07-09.json
Labels: chore

build: prelease version 1.22.9-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: vtable tool define
  common/config/rush/pnpm-lock.yaml
  packages/vtable-mcp/package.json
  packages/vtable-mcp/src/plugins/tools/cell-operations.ts
  packages/vtable-mcp/src/plugins/tools/dimension-operations.ts
  packages/vtable-mcp/src/plugins/tools/export-operations.ts
  packages/vtable-mcp/src/plugins/tools/index.ts
  packages/vtable-mcp/src/plugins/tools/merge-operations.ts
  packages/vtable-mcp/src/plugins/tools/range-operations.ts
  packages/vtable-mcp/src/plugins/tools/selection-operations.ts
  packages/vtable-mcp/src/plugins/tools/style-operations.ts
  packages/vtable-mcp/src/plugins/tools/view-operations.ts
  packages/vtable-mcp/tsconfig.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, typescript, chore

fix: properly handle null or undefined data in filter plugin
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

feat: add operate data mcp tool
  packages/vtable-mcp-server/examples/main.ts
  packages/vtable-mcp/src/plugins/mcp-client.ts
  packages/vtable-mcp/src/plugins/tools/index.ts
  packages/vtable-mcp/src/plugins/tools/operate-data.ts
  packages/vtable/src/index.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

refactor: vtable mcp server readme
  packages/vtable-mcp-server/README.md
  packages/vtable-mcp-server/package.json
  packages/vtable-mcp-server/src/mcp-compliant-server.ts
Labels: none

fix: fix the issue with second-level display length
  packages/vtable-gantt/src/Gantt.ts
Labels: none

refactor: when set editCellTrigger keydown input chinese first letter problem #4847
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-editors/src/types.ts
  packages/vtable/examples/editor/input-editor.ts
  packages/vtable/examples/index.html
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/edit/editor-input-element.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/refactor-keydownTriggerEditChinese_2025-12-23-10-04.json
Labels: chore

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-fix-secondsUnit_2025-12-23-14-32.json
Labels: chore

fix: pivot table in the test environment fails to registerCustomCellStylePlugin
  packages/vtable/src/PivotTable-all.ts
Labels: vtable

fix: fix the issue with second-level display length
  packages/vtable-gantt/src/Gantt.ts
Labels: none

fix: editor support keydown chinese #4847
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-editors/src/types.ts
  packages/vtable/examples/editor/custom-date-editor.ts
  packages/vtable/examples/editor/input-editor.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/edit/editor-input-element.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/refactor-keydownTriggerEditChinese_2025-12-24-08-29.json
Labels: chore

fix: editor support keydown chinese #4847
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

fix: editor support keydown chinese #4847
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

fix: editor support keydown chinese #4847
  packages/vtable/examples/editor/date-editor.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-contextmenuPlugin_2025-12-25-06-38.json
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
Labels: chore

refactor: recognize millisecond for gantt taskbar
  packages/vtable-gantt/src/Gantt.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-gantt-secondsUnit-parse_2025-12-25-08-39.json
Labels: chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
