Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

docs: add react-vtable penetrateEventList docs
  docs/assets/demo-react/en/custom-layout/cell-custom-dom.md
  docs/assets/demo-react/zh/custom-layout/cell-custom-dom.md
  docs/assets/guide/en/custom_define/react-custom-component.md
  docs/assets/guide/zh/custom_define/react-custom-component.md
Labels: docs

feat: add penetrateEventList config in react-component
  common/changes/@visactor/vtable/feat-react-penetrateEventList_2025-01-07-09-27.json
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/component/custom-layout-dom-site-1.tsx
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: react-vtable, chore

docs: modify ColumnIconOption define url
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/en/common/gantt/dependency-line.md
  docs/assets/option/en/common/row-series-number.md
  docs/assets/option/zh/column/base-column-type.md
  docs/assets/option/zh/common/gantt/dependency-line.md
  docs/assets/option/zh/common/row-series-number.md
Labels: docs

docs: add keepColumnWidthChange docs in react-vtable
  docs/assets/guide/en/Developer_Ecology/react.md
  docs/assets/guide/zh/Developer_Ecology/react.md
Labels: docs

fix: listTable aggregation dimension change to field
  packages/vtable/src/data/DataSource.ts
Labels: vtable

docs: add customMergeCell array type docs
  docs/assets/guide/en/basic_function/merge_cell.md
  docs/assets/guide/zh/basic_function/merge_cell.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

docs: add weather calendar demo
  common/changes/@visactor/vtable/feat-calendar-gif_2025-01-08-12-00.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo/en/calendar/calendar-custom-layout.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/calendar/calendar-custom-layout.md
  docs/assets/guide/en/calendar/calendar_custom_layout.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/calendar/calendar_custom_layout.md
  packages/vtable-calendar/demo/list/custom-weather.ts
  packages/vtable/package.json
Labels: vtable, docs, chore

fix: different tasksShowMode has different schedule creatable
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/common/gantt/task-bar.md
  docs/assets/option/zh/table/gantt.md
  packages/vtable-gantt/src/gantt-helper.ts
Labels: docs

fix: create schedule position error
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

chore: update rush changge type
  common/changes/@visactor/vtable/1508-feature-pivottable-customAggregation_2025-01-03-10-14.json
  common/changes/@visactor/vtable/feat-groupby-value-get_2025-01-02-08-34.json
Labels: chore

fix: namespace in CacheDataSource
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable

refactor: dataSource support setted in option
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: generate changelog of release v1.15.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: dataSource support canChangeOrder and changeOrder
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

docs: update population-pyramid demo
  docs/assets/demo/en/business/population-pyramid.md
  docs/assets/demo/zh/business/population-pyramid.md
Labels: docs

feat: add data update in list-table tree(group) mode
  common/changes/@visactor/vtable/feat-tree-data-update_2025-01-10-07-14.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable, chore

perf: replace the anonymous types with the declared types
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable

fix: when mouse leave gantt should trigger mouseleave_taskbar #3294
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/drag-order-line.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/scroll-bar.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3294-bug-mouseleave_task_bar-trigger_2025-01-10-07-50.json
  packages/vtable-gantt/examples/gantt/gantt.ts
Labels: chore

revert: restore gantt demo
  packages/vtable-gantt/examples/gantt/gantt.ts
Labels: none

fix: run "rush change-all" failed (via NodeJs CVE-2024-27980) (#3303)
  common/scripts/install-run.js
Labels: chore

fix: fix beforeChangedRecordsMap update
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

docs: update event description
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
Labels: docs

feat: support tree node drag cross parent node
  docs/assets/guide/en/basic_function/row_series_number.md
  docs/assets/guide/en/interaction/drag_header.md
  docs/assets/guide/zh/basic_function/row_series_number.md
  docs/assets/guide/zh/interaction/drag_header.md
  packages/vtable/examples/list/list-dataSource-changeOrder.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable, docs

fix: fix beforeChangedRecordsMap update
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

fix: fix sort state in tree mode data update
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

feat: canvasWidth canvasHeight support auto setting #3089
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-tableSIzeAdaptive_2025-01-14-08-35.json
Labels: chore

feat: canvasWidth canvasHeight support auto setting #3089
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

feat: canvasWidth canvasHeight support auto setting #3089
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

fix: fix rowSeriesNumber update problem in group mode
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable

fix: fix group mode sorted update
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

fix: fix beforeChangedRecordsMap index in group mode
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

chore: add tree(group) mode data update unit test
  packages/vtable/__tests__/data-update/listTable-group-data-update.test.ts
  packages/vtable/__tests__/data-update/listTable-tree-data-update.test.ts
Labels: vtable

docs: supplement tableSize adaptive
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
Labels: docs

fix: disable react-dom component wheel event temporarily
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: react-vtable

feat: add emptyTip click event
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  packages/react-vtable/src/eventsUtils.ts
  packages/vtable/examples/pivot-analysis/pivot-empty-tip.ts
  packages/vtable/src/components/empty-tip/empty-tip.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, react-vtable, docs

chore: add rush change
  common/changes/@visactor/vtable/feat-react-dom-component_2025-01-15-09-55.json
Labels: chore

build: prelease version 1.15.1-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore
