Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

build: prelease version 1.15.2-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update event
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/demo/en/gantt/gantt-dependency-link-create.md
  docs/assets/demo/zh/gantt/gantt-dependency-link-create.md
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/pivot-table/dimension/basic-dimension.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

chore: update version
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: when resize gantt view size should update dependency node size #3287
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3287-bug-gantt-dependencyLine_2025-02-05-10-55.json
Labels: chore

docs: update changlog of rush
  common/changes/@visactor/vtable/401-feature-pivot-grid-expandCollapse_2025-02-05-11-03.json
Labels: chore

chore: update changelog
  common/changes/@visactor/vtable/401-feature-pivot-grid-expandCollapse_2025-02-05-11-03.json
Labels: chore

chore: update changelog
  common/changes/@visactor/vtable/401-feature-pivot-grid-expandCollapse_2025-02-05-11-03.json
Labels: chore

build: prelease version 1.16.0-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix text vertical layout #3353
  common/changes/@visactor/vtable/fix-nodejs-text-layout_2025-02-06-06-45.json
  packages/vtable/src/scenegraph/utils/text-measure.ts
Labels: vtable, chore

fix: fix rowData error in media-click #3342
  common/changes/@visactor/vtable/fix-fix-pivot-link_2025-02-06-08-47.json
  packages/vtable/src/event/media-click.ts
Labels: vtable, chore

refactor: rowSeriesNumber cell can use theme headerStyle #3362
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3362-bug-rowseriesnumber-headerstyle_2025-02-06-09-13.json
Labels: chore

feat: support async in downloadCsv&downloadExcel
  common/changes/@visactor/vtable/feat-export-async_2025-02-06-11-52.json
  docs/assets/demo/en/export/table-export-format.md
  docs/assets/demo/en/export/table-export-ignore-icon.md
  docs/assets/demo/en/export/table-export.md
  docs/assets/demo/zh/export/table-export-format.md
  docs/assets/demo/zh/export/table-export-ignore-icon.md
  docs/assets/demo/zh/export/table-export.md
  docs/assets/guide/en/export/csv.md
  docs/assets/guide/en/export/excel.md
  docs/assets/guide/zh/export/csv.md
  docs/assets/guide/zh/export/excel.md
  packages/vtable-export/README.md
  packages/vtable-export/demo/main.ts
  packages/vtable-export/src/util/download.ts
Labels: docs, chore

feat: linkJump & linkDetect support function
  common/changes/@visactor/vtable/feat-link-func_2025-02-06-12-39.json
  docs/assets/option/en/column/link-column-type.md
  docs/assets/option/en/dimension/link-dimension-type.md
  docs/assets/option/en/indicator/link-indicator-type.md
  docs/assets/option/zh/column/link-column-type.md
  docs/assets/option/zh/dimension/link-dimension-type.md
  docs/assets/option/zh/indicator/link-indicator-type.md
  packages/vtable/src/event/media-click.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/ts-types/list-table/define/link-define.ts
  packages/vtable/src/ts-types/style-define.ts
Labels: vtable, docs, chore

feat: linkJump & linkDetect support function
  common/changes/@visactor/vtable/feat-link-func_2025-02-06-12-39.json
  docs/assets/option/en/column/link-column-type.md
  docs/assets/option/en/dimension/link-dimension-type.md
  docs/assets/option/en/indicator/link-indicator-type.md
  docs/assets/option/zh/column/link-column-type.md
  docs/assets/option/zh/dimension/link-dimension-type.md
  docs/assets/option/zh/indicator/link-indicator-type.md
  packages/vtable/src/event/media-click.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/ts-types/list-table/define/link-define.ts
  packages/vtable/src/ts-types/style-define.ts
Labels: vtable, docs, chore

build: prelease version 1.11.6-alpha.7
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add keepColumnWidthChange in vue-vtable #3346
  .vscode/settings.json
  common/changes/@visactor/vtable/feat-vue-keepColumnWidthChange_2025-02-07-08-03.json
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/zh/Developer_Ecology/vue.md
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable.vue
  packages/vue-vtable/src/tables/base-table.vue
Labels: docs, chore

fix: mouseover last date border occor error for gantt #3373
  packages/vtable-gantt/src/Gantt.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3373-bug-vtable-gantt-mousemoveBorderOccorError_2025-02-07-10-00.json
Labels: chore

feat: support react17 in customLayout function
  common/changes/@visactor/vtable/feat-react-17_2025-02-07-12-01.json
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: react-vtable, chore

build: prelease version 1.15.3-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix merge cell style update in vtable-search #3327
  common/changes/@visactor/vtable/fix-search-style-update_2025-02-07-12-26.json
  packages/vtable-search/demo/menu.ts
  packages/vtable-search/demo/pivot/pivot-merge.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: chore

fix: expand row node merge info error
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

build: prelease version 1.16.0-alpha.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix header checkbox state in functional cellType #3334
  common/changes/@visactor/vtable/fix-func-checkbox_2025-02-07-13-05.json
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable, chore

fix: when indicator title on dimension set all update corner cell
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: add ai tool help usage
  docs/assets/guide/en/Getting_Started/AI_tools_help.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/Getting_Started/AI_tools_help.md
Labels: docs

fix: fix clipped judgement in getCellOverflowText()
  common/changes/@visactor/vtable/fix-cliped-text_2025-02-08-09-01.json
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: vtable, chore

fix: fix rowData error in media-click #3342
  common/changes/@visactor/vtable/fix-fix-pivot-link_2025-02-06-08-47.json
  packages/vtable/src/event/media-click.ts
Labels: vtable, chore

feat: support async in downloadCsv&downloadExcel
  common/changes/@visactor/vtable/feat-export-async_2025-02-06-11-52.json
  docs/assets/demo/en/export/table-export-format.md
  docs/assets/demo/en/export/table-export-ignore-icon.md
  docs/assets/demo/en/export/table-export.md
  docs/assets/demo/zh/export/table-export-format.md
  docs/assets/demo/zh/export/table-export-ignore-icon.md
  docs/assets/demo/zh/export/table-export.md
  docs/assets/guide/en/export/csv.md
  docs/assets/guide/en/export/excel.md
  docs/assets/guide/zh/export/csv.md
  docs/assets/guide/zh/export/excel.md
  packages/vtable-export/README.md
  packages/vtable-export/demo/main.ts
  packages/vtable-export/src/util/download.ts
Labels: docs, chore

feat: linkJump & linkDetect support function
  common/changes/@visactor/vtable/feat-link-func_2025-02-06-12-39.json
  docs/assets/option/en/column/link-column-type.md
  docs/assets/option/en/dimension/link-dimension-type.md
  docs/assets/option/en/indicator/link-indicator-type.md
  docs/assets/option/zh/column/link-column-type.md
  docs/assets/option/zh/dimension/link-dimension-type.md
  docs/assets/option/zh/indicator/link-indicator-type.md
  packages/vtable/src/event/media-click.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/ts-types/list-table/define/link-define.ts
  packages/vtable/src/ts-types/style-define.ts
Labels: vtable, docs, chore

fix: fix text vertical layout #3353
  common/changes/@visactor/vtable/fix-nodejs-text-layout_2025-02-06-06-45.json
  packages/vtable/src/scenegraph/utils/text-measure.ts
Labels: vtable, chore

feat: add keepColumnWidthChange in vue-vtable #3346
  .vscode/settings.json
  common/changes/@visactor/vtable/feat-vue-keepColumnWidthChange_2025-02-07-08-03.json
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/zh/Developer_Ecology/vue.md
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable.vue
  packages/vue-vtable/src/tables/base-table.vue
Labels: docs, chore

feat: support react17 in customLayout function
  common/changes/@visactor/vtable/feat-react-17_2025-02-07-12-01.json
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: react-vtable, chore

fix: fix merge cell style update in vtable-search #3327
  common/changes/@visactor/vtable/fix-search-style-update_2025-02-07-12-26.json
  packages/vtable-search/demo/menu.ts
  packages/vtable-search/demo/pivot/pivot-merge.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: chore

fix: fix header checkbox state in functional cellType #3334
  common/changes/@visactor/vtable/fix-func-checkbox_2025-02-07-13-05.json
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable, chore

fix: fix clipped judgement in getCellOverflowText()
  common/changes/@visactor/vtable/fix-cliped-text_2025-02-08-09-01.json
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: vtable, chore

fix: when no data corner show title error
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix: when no data corner show title error
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
