Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-component-layout-order_2026-01-29-03-52.json
Labels: chore

chore: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

Change event type from 'none' to 'minor'
  common/changes/@visactor/vtable/4861-vtablesheet-event_2026-01-17-11-40.json
Labels: chore

docs: generate changelog of release v1.23.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: 新增批量修改单元格值接口及优化筛选态数据同步
  docs/assets/api/en/event/event.md
  docs/assets/api/en/methods.md
  docs/assets/api/zh/event/event.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/data/data_format.md
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/en/plugin/excel-keyboard-alignment.md
  docs/assets/guide/zh/data/data_format.md
  docs/assets/guide/zh/edit/edit_cell.md
  docs/assets/guide/zh/plugin/excel-keyboard-alignment.md
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable/examples/list-analysis/list-filter.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/index.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-support_cell_values_change_2026-01-29-08-35.json
  docs/assets/guide/en/plugin/excel-keyboard-alignment.md
Labels: docs, chore

chore: init spec kit
  .cursor/commands/speckit.analyze.md
  .cursor/commands/speckit.checklist.md
  .cursor/commands/speckit.clarify.md
  .cursor/commands/speckit.constitution.md
  .cursor/commands/speckit.implement.md
  .cursor/commands/speckit.plan.md
  .cursor/commands/speckit.specify.md
  .cursor/commands/speckit.tasks.md
  .cursor/commands/speckit.taskstoissues.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Labels: none

test: update component layout demo
  packages/vtable/examples/components/legend-title-order.ts
Labels: vtable

fix: set white background for media overlay image
  common/changes/@visactor/vtable/fix-image_background_2026-01-29-11-47.json
  packages/vtable/src/event/media-click.ts
Labels: vtable, chore

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update vtable sheet plugin guide
  docs/assets/guide/en/sheet/plugins.md
  docs/assets/guide/zh/sheet/plugins.md
Labels: docs

build: prelease version 1.23.1-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: when double click on vchart occor error after rightdown
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

feat(sheet): editable
  docs/assets/guide/en/sheet/edit_control.md
  docs/assets/guide/zh/sheet/edit_control.md
  docs/assets/option/zh/table/sheet.md
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
Labels: docs

fix: updateOption run resize logic #4965
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-component-layout-order_2026-02-01-08-25.json
  packages/vtable/examples/components/legend-title-order.ts
Labels: vtable, chore

feat: add updateOption api for vtable-sheet
  common/changes/@visactor/vtable/feat-sheet-update-api_2026-01-28-09-23.json
  docs/assets/api/en/SheetAPI.md
  docs/assets/api/zh/SheetAPI.md
  packages/vtable-sheet/examples/menu.ts
  packages/vtable-sheet/examples/sheet/sheet-update.ts
  packages/vtable-sheet/package.json
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/event/table-event-relay.ts
  packages/vtable-sheet/src/managers/menu-manager.ts
  packages/vtable-sheet/src/sheet-helper.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
  packages/vtable/src/themes.ts
  packages/vtable/src/themes/themes.ts
Labels: vtable, docs, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-sheet-update-api_2026-02-02-02-49.json
Labels: chore

fix: test case error
  packages/vtable-sheet/__tests__/sheet-update-api.test.ts
  packages/vtable-sheet/examples/sheet/sheet-update.ts
Labels: test

build: prelease version 1.23.1-alpha.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: test case error
  packages/vtable-sheet/__tests__/sheet-update-api.test.ts
  packages/vtable-sheet/jest.config.js
Labels: test, jest

fix(csv): handle escape option correctly for CSV export
  common/changes/@visactor/vtable/fix-csv_escape_2026-02-02-07-32.json
  packages/vtable-export/src/csv/index.ts
Labels: chore

fix: handle escape option correctly for CSV export
  docs/assets/guide/en/plugin/table-export.md
  docs/assets/guide/zh/plugin/table-export.md
  packages/vtable-plugins/src/table-export/csv/index.ts
Labels: docs

fix: updateOption api
  packages/vtable-sheet/examples/sheet/sheet-update.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
Labels: none

docs: updateOption api document
  docs/assets/api/en/SheetAPI.md
  docs/assets/api/zh/SheetAPI.md
Labels: docs

feat: add editable to vtable-sheet
  docs/assets/guide/en/sheet/edit_control.md
  docs/assets/guide/zh/sheet/edit_control.md
  docs/assets/option/en/table/sheet.md
  docs/assets/option/zh/table/sheet.md
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-sheet/examples/menu.ts
  packages/vtable-sheet/examples/sheet/sheet-editable.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-sheet-editable_2026-02-02-11-05.json
Labels: chore

fix: resize call occor layout change problem
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable

fix: component layout bottom
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

build: prelease version 1.23.1-alpha.2
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: delete unused code
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
Labels: none

fix: adjust sheets order
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/managers/sheet-manager.ts
Labels: none

feat: when updateOption should rebuild formula
  packages/vtable-sheet/__tests__/complete-tab-switching-fix.test.ts
  packages/vtable-sheet/__tests__/update-option-formulas-first-row-header.test.ts
  packages/vtable-sheet/__tests__/update-option-formulas.test.ts
  packages/vtable-sheet/examples/sheet/sheet-update.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
Labels: test

refactor: delete unused file
  packages/vtable/docs/bug-fix-column-move-width-map.md
Labels: vtable

docs: generate changelog of release v1.23.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat:增加健壮性
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-editors/src/list-editor.ts
  packages/vtable-editors/src/textArea-editor.ts
Labels: none

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: cell formula cache error after delete row record
  packages/vtable-sheet/__tests__/sheet-delete-record-formula.test.ts
  packages/vtable-sheet/__tests__/table-plugins-formula-detection.test.ts
  packages/vtable-sheet/examples/menu.ts
  packages/vtable-sheet/examples/sheet/sheet-deleteRecord.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-delete_record_formula_error_2026-02-05-06-30.json
Labels: chore

docs: update custom icon
  docs/assets/guide/en/custom_define/custom_icon.md
  docs/assets/guide/zh/custom_define/custom_icon.md
Labels: docs
