Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

build: prelease version 1.19.4-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix table name repeat
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-07-25-15-43.json
Labels: chore

feat: add formula auto complete
  packages/vtable-sheet/src/components/formula-autocomplete.ts
  packages/vtable-sheet/src/components/formula-editor.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/styles/formula-autocomplete.css
  packages/vtable-sheet/src/styles/index.css
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-07-25-21-38.json
Labels: chore

feat: add cell highlight when input formula
  packages/vtable-sheet/src/components/formula-editor.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/managers/cell-highlight-manager.ts
  packages/vtable-sheet/src/styles/formula-autocomplete.css
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-07-26-12-20.json
Labels: chore

Create static.yml
  .github/workflows/static.yml
Labels: chore

feat: group title checkbox set value
  docs/assets/demo/en/table-type/list-table-group-checkbox.md
  docs/assets/demo/zh/table-type/list-table-group-checkbox.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

Update checkbox.md
  docs/assets/guide/en/cell_type/checkbox.md
Labels: docs

fix: text stroke color
  docs/assets/guide/en/table_type/List_table/group_list.md
  docs/assets/guide/zh/table_type/List_table/group_list.md
Labels: docs

feat: rowSeriesNumber support set field #3902
  packages/vtable/src/ListTable.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3902-feature-rowseriesnumber-field_2025-07-28-07-42.json
Labels: chore

fix: fix loading icon update in pivot-table #4236
  common/changes/@visactor/vtable/develop_2025-07-28-07-48.json
  packages/vtable/src/tools/diff-cell.ts
Labels: vtable, chore

docs: supplement row series number option
  docs/assets/guide/en/basic_function/row_series_number.md
  docs/assets/guide/zh/basic_function/row_series_number.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/common/row-series-number.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/common/row-series-number.md
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

Create static.yml
  .github/workflows/static.yml
Labels: chore

docs: english site
  README.md
  docs/en/README.md
  docs/en/advanced/performance-optimization.md
  docs/en/core/data-handling.md
  docs/en/core/table-types.md
  docs/en/examples/enterprise-examples.md
  docs/en/faq.md
  docs/en/getting-started.md
  docs/en/integrations/react-integration.md
  docs/en/integrations/vue-integration.md
  docs/en/troubleshooting/debugging-guide.md
  english-demo/README.md
  english-demo/examples/color-themes.html
  english-demo/examples/interactive-behavior.html
  english-demo/examples/performance-advanced.html
  english-demo/examples/table-operations-offline.html
  english-demo/examples/table-operations.html
  english-demo/index.html
  english-demo/offline-demo.html
  llms.txt
Labels: docs

chore: update vchart version
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: add guide for rendering table on existing canvas
  docs/assets/guide/en/basic_function/render_on_current_canvas.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/basic_function/render_on_current_canvas.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

fix: fix loading icon update in pivot-table #4236
  common/changes/@visactor/vtable/develop_2025-07-28-07-48.json
  packages/vtable/src/tools/diff-cell.ts
Labels: vtable, chore

docs: add guide for rendering table on existing canvas
  docs/assets/guide/en/basic_function/render_on_current_canvas.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/basic_function/render_on_current_canvas.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

docs: generate changelog of release v1.19.4
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

expand treeNode
  packages/vtable-search/src/search-component/search-component.ts
Labels: none

feat: add cutSelected for vtable
  docs/assets/demo-vue/en/edit-data/arco-select-editor.md
  docs/assets/demo-vue/en/edit-data/edit-cell.md
  docs/assets/demo-vue/zh/edit-data/arco-select-editor.md
  docs/assets/demo-vue/zh/edit-data/edit-cell.md
  docs/assets/guide/en/plugin/excel-keyboard-alignment.md
  docs/assets/guide/en/shortcut.md
  docs/assets/guide/zh/plugin/excel-keyboard-alignment.md
  docs/assets/guide/zh/shortcut.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/tools/style.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-cut-keyboard_2025-07-29-08-20.json
Labels: chore

feat: add cellMerge for sheet
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: none

docs: update excel online editing demo
  docs/assets/demo/en/plugin/excel-online-editing.md
  docs/assets/demo/zh/plugin/excel-online-editing.md
Labels: docs

feat: add table
  packages/vtable-export/src/excel/index.ts
  packages/vtable/examples/master/list-master-detail.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/MasterDetailTable.ts
  packages/vtable/src/event/self-event-listener/base-table/icon.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/utils/get-hierarchy-offset.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

refactor: when delete and add records update checkstate #4240
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/refactor-delete-addrecordsUpdateCheckstate_2025-07-30-09-19.json
Labels: chore

fix: return logic error
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable

fix: setCellCheckboxState not work when tree column set checkbox cell type
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/refactor-delete-addrecordsUpdateCheckstate_2025-07-30-09-47.json
Labels: chore

feat: add move_end_task_bar event for vtable-gantt.#4266
  packages/vtable-gantt/examples/gantt/gantt-task-bar-move.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/test_2025-07-30-10-21.json
Labels: chore

feat: add move_end_task_bar event for vtable-gantt.#4266
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: none

feat: add enableHeaderCheckboxCascade option
  docs/assets/demo/en/table-type/list-table-group-checkbox.md
  docs/assets/demo/en/table-type/list-table-group.md
  docs/assets/demo/en/table-type/list-table-tree-lazy-load.md
  docs/assets/demo/zh/table-type/list-table-group-checkbox.md
  docs/assets/demo/zh/table-type/list-table-group.md
  docs/assets/demo/zh/table-type/list-table-tree-lazy-load.md
  docs/assets/guide/en/cell_type/checkbox.md
  docs/assets/guide/en/table_type/List_table/group_list.md
  docs/assets/guide/zh/cell_type/checkbox.md
  docs/assets/guide/zh/table_type/List_table/group_list.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/4267-feature-add-option-enableheadercheckboxcascade_2025-07-30-11-53.json
Labels: chore

fix: resolve state loading issues when reopening condition filter panel
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none
