Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

chore: add docs_request.yml
  .github/ISSUE_TEMPLATE/docs_request.yml
Labels: chore

chore: add docs_request.yml
  .github/ISSUE_TEMPLATE/docs_request.yml
Labels: chore

fix: when scale set hour handle with dependency line
  packages/vtable-gantt/examples/gantt/gantt-hour.ts
  packages/vtable-gantt/examples/gantt/gantt-week.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
Labels: none

fix: when resize taskbar width dependency link render error
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

fix: fix header highlight plugin update
  packages/vtable-plugins/src/header-highlight.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable

feat: add enums in validateValue of vtable-editor #3039
  common/changes/@visactor/vtable/fix-fs-bs_2024-12-10-07-03.json
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-editors/src/types.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, chore

fix: left table width handle with tableWidth set auto #3033
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/3033-bug-tableWidth-auto-resizeColWidth_2024-12-10-07-09.json
Labels: chore

feat: customize the width of the column width handle
  docs/assets/guide/en/interaction/resize_column_width.md
  docs/assets/guide/en/theme_and_style/theme.md
  docs/assets/guide/zh/interaction/resize_column_width.md
  docs/assets/guide/zh/theme_and_style/theme.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable, docs

fix: fix react-component update in tree table
  common/changes/@visactor/vtable/fix-component-tree-update_2024-12-10-11-38.json
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
  packages/vtable/src/tools/update-row.ts
Labels: vtable, react-vtable, chore

fix: isCanChange type in listTableChangeCellValues()
  packages/vtable/src/core/record-helper.ts
Labels: vtable

feat: add disableMultiSelect config #2995
  common/changes/@visactor/vtable/feat-disableMultiSelect_2024-12-06-07-55.json
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs, chore

docs: update gantt demo problem
  docs/assets/demo/en/gantt/gantt-table-mergeCell.md
  docs/assets/demo/zh/gantt/gantt-table-mergeCell.md
Labels: docs

fix: fix textAlign in checkbox/radio #2908
  common/changes/@visactor/vtable/fix-checkbox-textAlign_2024-12-04-07-37.json
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
Labels: vtable, chore

fix: spell of event "onChangeCellValue" from vue-vtable
  packages/vue-vtable/src/eventsUtils.ts
Labels: none

fix: change ctrlMultiSelect config name
  common/changes/@visactor/vtable/feat-disableMultiSelect_2024-12-06-07-55.json
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs, chore

fix: fix ListTreeStickCellPlugin update in tree_hierarchy_state_change event #2914
  common/changes/@visactor/vtable/fix-tree-stick-update_2024-12-04-09-21.json
  packages/vtable/src/plugins/list-tree-stick-cell.ts
Labels: vtable, chore

fix: fix col&row range in getCellMergeRange() #2906
  common/changes/@visactor/vtable/fix-merge-range_2024-12-04-06-17.json
  packages/vtable/src/scenegraph/icon/icon-update.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/stick-text/index.ts
  packages/vtable/src/state/hover/update-cell.ts
  packages/vtable/src/tools/merge-range.ts
Labels: vtable, chore

docs: update changelog
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: translate release doc
  docs/assets/changelog/zh/release.md
Labels: docs

fix: fix merge cell select range update #2944
  common/changes/@visactor/vtable/fix-select-range_2024-12-04-13-07.json
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/merge-range.ts
Labels: vtable, chore

docs: generate changelog of release v1.12.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: fix vue example docs
  docs/assets/guide/en/Developer_Ecology/vue.md
Labels: docs

fix: fix style update in forceFastUpdate
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

fix: 修复甘特图自定义taskbar时，拖拽taskbar报错的问题
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

fix: fix row update range in _refreshHierarchyState() #2987
  common/changes/@visactor/vtable/fix-tree-update_2024-12-06-06-42.json
  common/config/rush/command-line.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/tools/update-row.ts
Labels: vtable, chore

docs: fix vue example docs
  docs/assets/guide/zh/Developer_Ecology/vue.md
Labels: docs

feat: add panelStyle&arrowStyle config in Popover #2988
  common/changes/@visactor/vtable/fix-popup-style_2024-12-06-07-14.json
  packages/react-vtable/demo/src/component/custom-layout.tsx
  packages/react-vtable/src/components/popover/popover.tsx
Labels: react-vtable, chore

fix: fix currentRow update in updateRow()
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/tools/update-row.ts
Labels: vtable

fix: outsideClickDeselect event in menu element
  common/changes/@visactor/vtable/fix-menu-clear-select_2024-12-05-03-54.json
  packages/vtable/src/components/menu/dom/BaseMenu.ts
  packages/vtable/src/components/menu/dom/MenuHandler.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable, chore

fix: remove loading icon temporarily
  packages/vtable/src/icons.ts
Labels: vtable

fix: add keepCenterInLine config in Text graphic
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: vtable

chore: add docs_request.yml
  .github/ISSUE_TEMPLATE/docs_request.yml
Labels: chore

fix: fix editor position in disable-select mode
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

chore: update rush change
  common/changes/@visactor/vtable/feat-update-vrender_2024-12-06-10-11.json
Labels: chore

docs: translate release notes
  docs/assets/changelog/zh/release.md
Labels: docs

fix: clear during Adjust row height Check Clear
  packages/vtable/src/state/state.ts
Labels: vtable

fix: fix group judgement in updateCellGroupIcon()
  packages/vtable/src/scenegraph/icon/icon-update.ts
Labels: vtable

docs: generate changelog of release v1.13.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: update vrender to 0.21.1
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore
