Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-export-all-data_2025-05-12-02-37.json
Labels: chore

chore: improvement of plug-in unit testing
  common/changes/@visactor/vtable/chore-ai-enhance-plugins-tests_2025-05-12-02-53.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/__tests__/add-row-column.test.ts
  packages/vtable-plugins/__tests__/column-series.test.ts
  packages/vtable-plugins/__tests__/excel-edit-cell-keyboard.test.ts
  packages/vtable-plugins/__tests__/focus-highlight.test.ts
  packages/vtable-plugins/__tests__/highlight-header-when-select-cell.test.ts
  packages/vtable-plugins/__tests__/rotate-table.test.ts
  packages/vtable-plugins/__tests__/row-series.test.ts
  packages/vtable-plugins/__tests__/table-carousel-animation.test.ts
  packages/vtable-plugins/jest.config.js
  packages/vtable-plugins/package.json
Labels: test, jest, chore

fix: optimize judgment conditions
  packages/vtable-export/src/csv/index.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-export-all-data_2025-05-12-02-57.json
Labels: chore

chore: improvement of plug-in unit testing
  .github/workflows/unit-test.yml
Labels: chore

feat: add 'date' position to markline
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
Labels: none

feat: add 'date' position to markline
  packages/vtable-gantt/__tests__/scenegraph/mark-line.test.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
Labels: none

feat: add 'date' position to markline
  packages/vtable-gantt/__tests__/gantt-mark-line.test.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
Labels: test

feat: support `getCellOriginColumn` api
  packages/vtable/src/ListTable.ts
Labels: vtable

docs: add about `getCellOriginColumn` api docs
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
Labels: docs

docs: update `getCellOriginColumn` api desc
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
Labels: docs

fix: solve which problem #3726
  packages/vtable-export/src/csv/index.ts
  packages/vtable-export/src/excel/index.ts
  packages/vtable-export/src/util/pagination.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-export-all-data_2025-05-12-10-57.json
Labels: chore

feat: add touch event for gantt chart #3864
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/event/touch.ts
  packages/vtable/src/event/listener/touch.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-touch-gantt_2025-05-12-12-18.json
Labels: chore

feat: add touch event for gantt chart #3864
  packages/vtable-gantt/src/event/touch.ts
Labels: none

docs: supplement gantt plugin guide
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/zh/plugin/contribute.md
  docs/assets/guide/zh/plugin/usage.md
Labels: docs

docs: update change log
  common/changes/@visactor/vtable/fix-export-all-data_2025-05-07-14-58.json
  common/changes/@visactor/vtable/fix-export-all-data_2025-05-12-02-37.json
  common/changes/@visactor/vtable/fix-export-all-data_2025-05-12-02-57.json
  common/changes/@visactor/vtable/fix-export-all-data_2025-05-12-10-57.json
Labels: chore

fix: solve which problem #3710
  docs/assets/demo/zh/plugin/excel-online-editing.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/paste-add-row.md
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/paste-add-row/paste-add-row.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/paste-add-row-column.ts
  packages/vtable-plugins/src/paste-add-row.ts
Labels: docs

feat: add milestone text
  docs/assets/demo/en/gantt/gantt-milestone.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-milestone.md
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: docs

fix: solve which problem #3710
  docs/assets/demo/zh/plugin/excel-online-editing.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/paste-add-row.md
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/paste-add-row/paste-add-row.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/paste-add-row-column.ts
  packages/vtable-plugins/src/paste-add-row.ts
Labels: docs

fix: over eslint maxinum line length
  packages/vtable-plugins/demo/gantt-export-image/gantt-export-image.ts
Labels: none

chore: add rush package tag
  .github/workflows/unit-test.yml
  rush.json
Labels: chore

fix: type error compile
  packages/vtable-gantt/src/event/touch.ts
  packages/vtable/src/event/listener/touch.ts
Labels: vtable

feat: add milestone text
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: none

feat: add milestone text
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

docs: generate changelog of release v1.18.3
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: 实现父子元素复选框同步
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

docs: add getBodyColumnDefine docs description
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

fix: code style optimization
  packages/vtable-plugins/src/paste-add-row.ts
Labels: none

feat: add milestone text
  docs/assets/demo/en/gantt/gantt-milestone.md
  docs/assets/demo/zh/gantt/gantt-milestone.md
Labels: docs

feat: add updateTasksShowMode api
  docs/assets/demo/en/gantt/gantt-taskShowMode.md
  docs/assets/demo/zh/gantt/gantt-taskShowMode.md
  packages/vtable-gantt/src/Gantt.ts
Labels: docs

feat: add milestone text
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
Labels: none

feat: 父元素同步删除多余代码
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

feat: 更新cellType: 'checkbox'与tree: true的demo
  packages/vtable/examples/list/list-checkbox-tree.ts
  packages/vtable/examples/menu.ts
Labels: vtable

feat: add paste-add-row plugin
  docs/assets/demo/zh/plugin/excel-online-editing.md
  docs/assets/guide/en/plugin/paste-add-row.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/paste-add-row.md
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/paste-add-row/paste-add-row.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/paste-add-row.ts
Labels: docs

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-paste-add-row-plugin_2025-05-14-14-49.json
Labels: chore

feat: add milestone text
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

feat: record support set project type
  packages/vtable-gantt/examples/gantt/gantt-project-type.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
