Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

refactor: get labelHoverOnAxis config
  packages/vtable/examples/pivot-chart/horizontal-hideHeader.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

fix: axix cell padding change
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
Labels: vtable

feat: add FilterListener type for filter plugin
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/types.ts
Labels: none

fix: the filter plugin cannot be opened normally when clicked #4736
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/types.ts
Labels: none

fix: clear the value of the searchInput when the filter plugin is displayed #4736
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-vtable-plugins-show-searchValue_2025-11-20-05-50.json
Labels: chore

fix: ts error
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

chore: an error occurred during the development environment in the auto-fill example
  packages/vtable-plugins/demo/vite.config.js
Labels: none

feat: support right axis in pivotChart spec #4723
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-rightAxis.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/pivot-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/4723-bug-chart-right-axis-not-work-in-vtable_2025-11-20-07-44.json
Labels: chore

fix: when click fiter icon not show filter plugin error
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-filter-not-show-error_2025-11-20-08-29.json
Labels: chore

chore: an error occurred during the development environment in the auto-fill example
  packages/vtable-plugins/demo/vite.config.js
Labels: none

fix: ts error
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-vtable-plugins-show-searchValue_2025-11-20-05-50.json
Labels: chore

fix: clear the value of the searchInput when the filter plugin is displayed #4736
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

fix: the filter plugin cannot be opened normally when clicked #4736
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/types.ts
Labels: none

feat: add FilterListener type for filter plugin
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/types.ts
Labels: none

fix: filter plugin display error when update
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/plugins/plugin-manager.ts
Labels: vtable

feat: add event when filter menu show or hide
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

chore: add rush change file
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-11-20-13-48.json
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-11-20-13-49.json
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-11-20-13-50.json
Labels: chore

chore: lint error
  packages/vtable/src/plugins/plugin-manager.ts
Labels: vtable

refactor: dimension hover tooltip effect
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

fix: tooltip not show problem
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
Labels: vtable

fix: hide event listener
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

fix: right axis not show in not right indicator
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
Labels: vtable

fix: pivotChart linkage error
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-rightAxis.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter2.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

refactor: type define
  packages/vtable/src/ts-types/theme.ts
Labels: vtable

fix: pivotchart right axis
  packages/vtable/examples/pivot-chart/pivotChart-scatter.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix: pivotchart right axis
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix: pivot chart top axis
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
Labels: vtable

feat(gantt): support custom cell background rendering
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Inline.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-cellStyle_2025-11-24-01-44.json
Labels: chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-cellStyle_2025-11-24-01-48.json
Labels: chore

feat(gantt): support custom cell background rendering
  common/changes/@visactor/vtable/feat-cell-background_2025-11-24-06-47.json
  docs/assets/guide/en/gantt/gantt_grid.md
  docs/assets/guide/zh/gantt/gantt_grid.md
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Inline.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-cell-background_2025-11-24-08-01.json
Labels: chore

fix: histogram horizontal direction
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-histogram-horital.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
Labels: vtable

fix: pivot chart linkage for boxPlot
  packages/vtable/examples/pivot-chart/pivotChart-boxPlot.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

build: prelease version 1.22.5-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: filter not working after update option
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-11-24-15-58.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/plugins/plugin-manager.ts
Labels: vtable, chore
