Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: when updateColumns occor error with aggregation
  packages/vtable/src/ListTable.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-updateColumnsError_hasAggregator_2025-06-27-08-02.json
Labels: chore

fix: fix minWidth & maxWidth in autoFill Width status #4100
  common/changes/@visactor/vtable/fix-min-max-width-autoFillWidth_2025-06-27-08-37.json
  packages/vtable/examples/index.html
  packages/vtable/examples/list/list-autoFillWidth.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: vtable, chore

fix: fix templateLink in export excel #4106
  common/changes/@visactor/vtable/fix-excel-link_2025-06-27-07-56.json
  packages/vtable-export/demo/list/link.ts
  packages/vtable-export/src/excel/index.ts
Labels: chore

fix: 修复自定义编辑器复制粘贴时无法触发异步校验的问题
  docs/assets/guide/zh/edit/edit_cell.md
  packages/vtable/examples/editor/custom-date-editor.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/develop_2025-06-27-08-49.json
Labels: chore

Merge develop into fix/updateColumns-aggregation-error
  common/changes/@visactor/vtable/fix-excel-link_2025-06-27-07-56.json
  common/changes/@visactor/vtable/fix-updateColumnsError_hasAggregator_2025-06-27-08-02.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/option/en/common/gantt/frame-style.md
  docs/assets/option/zh/common/gantt/frame-style.md
  packages/vtable-export/demo/list/link.ts
  packages/vtable-export/src/excel/index.ts
  packages/vtable-gantt/examples/gantt/gantt-borderLineWidth-array-config.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable-plugins/demo/gantt-export-image/gantt-export-image.ts
  packages/vtable-plugins/src/gantt-export-image.ts
  packages/vtable/examples/list/list-cellType-progressBar.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-extension-row3.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/index.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: vtable, docs, chore

fix: fix minWidth & maxWidth in autoFill Width status #4100
  common/changes/@visactor/vtable/fix-min-max-width-autoFillWidth_2025-06-27-08-37.json
  packages/vtable/examples/index.html
  packages/vtable/examples/list/list-autoFillWidth.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: vtable, chore

feat: series number sort update
  packages/vtable-plugins/demo/table-series-number/pivot-table-series-number.ts
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/table-series-number.ts
Labels: none

feat: add import execl functional plugin
  docs/assets/guide/zh/plugin/excel-import.md
Labels: docs

feat: add import execl functional plugin
  docs/assets/guide/en/plugin/excel-import.md
  docs/assets/guide/zh/plugin/excel-import.md
  packages/vtable-plugins/demo/excel-import/excel-import.ts
  packages/vtable-plugins/src/excel-import.ts
  packages/vtable-plugins/src/index.ts
Labels: docs

fix:description
  packages/vtable/examples/list/list-header-levelSpan.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

docs: fix the parameter error in search.md
  docs/assets/guide/en/search.md
  docs/assets/guide/zh/search.md
Labels: docs

fix: set frozen col count render error
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: add HyperFormula & refactor formulat-manager
  common/config/rush/pnpm-lock.yaml
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/package.json
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/event/event-target.ts
  packages/vtable-sheet/src/formula/a
  packages/vtable-sheet/src/index.ts
  packages/vtable-sheet/src/managers/FormulaManager.ts
  packages/vtable-sheet/src/managers/filter-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/managers/sheet-manager.ts
  packages/vtable-sheet/src/ts-types/index.ts
Labels: chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-06-29-17-24.json
Labels: chore

feat: sync formula when user select
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/styles/sheet.css
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-06-29-23-02.json
Labels: chore

fix: pivottable total fix
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

feat: When scrolling the Gantt chart to the edge of the table, the start date of the task bar should remain within the viewport.#4102
  packages/vtable-gantt/examples/gantt/gantt-month.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

docs: add pivot-analysis-updateTotalData doc
  docs/assets/demo/menu.json
Labels: docs

docs: add pivot-analysis-updateTotalData doc
  docs/assets/demo/en/data-analysis/pivot-analysis-updateTotalData.md
  docs/assets/demo/zh/data-analysis/pivot-analysis-updateTotalData.md
Labels: docs

feat: sync cell & fx value
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-06-30-21-53.json
Labels: chore

fix: scrollbar-visible-layout-fix
  packages/vtable/examples/menu.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

feat: 添加滚动条样式示例文件
  packages/vtable/examples/theme/scroll-style.ts
Labels: vtable

fix: handle frozen column calculation when container is invisible
  packages/vtable/src/state/state.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-frozen-column-invisible-container-3836_2025-07-01-05-55.json
Labels: chore

docs: update list table header hierarchy preview image
  docs/assets/demo/en/basic-functionality/list-table-header-group-collapse.md
  docs/assets/demo/zh/basic-functionality/list-table-header-group-collapse.md
Labels: docs

docs: update pivot-analysis-updateTotalData documentation
  docs/assets/demo/en/data-analysis/pivot-analysis-updateTotalData.md
  docs/assets/demo/zh/data-analysis/pivot-analysis-updateTotalData.md
Labels: docs

fix: fix logic for pivotTable edit
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: add doc for dataConfig option
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotTable.md
Labels: docs

docs: update changeCellValues api define
  docs/assets/api/zh/methods.md
  docs/assets/guide/zh/edit/edit_cell.md
Labels: docs

docs: add gif link and subsection for PivotTable#dataConfig.updateAggregationOnEditCell
  docs/assets/demo/en/data-analysis/pivot-analysis-updateTotalData.md
  docs/assets/demo/zh/data-analysis/pivot-analysis-updateTotalData.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotTable.md
Labels: docs

feat: series number plugin
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable

fix: fix bug of event remove from vglobal
  packages/vtable/src/event/event.ts
Labels: vtable

build: prelease version 1.17.4-alpha.8
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add batch expand/collapse all tree nodes
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/examples/list/list-tree-expandAndCollapseAll.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable, docs

fix: preserve sort state after batch expand/collapse of tree nodes
  packages/vtable/examples/list/list-tree-expandAndCollapseAll.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

perf: optimize all tree node expansion/collapse with lightweight scene update
  packages/vtable/src/ListTable.ts
Labels: vtable
