Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: solve add row column plugin release issue #5140
  common/changes/@visactor/vtable-plugins/fix-issue-5140-add-row-column-plugin-release_2026-05-25-17-05.json
  packages/vtable-plugins/__tests__/add-row-column-plugin.test.ts
  packages/vtable-plugins/src/add-row-column.ts
Labels: test, chore

fix(vtable): align with VRender app ownership contract
  packages/vtable/__tests__/animation-appear.test.ts
  packages/vtable/__tests__/scenegraph-stage-ownership.test.ts
  packages/vtable/__tests__/vrender-app-lifecycle.test.ts
  packages/vtable/__tests__/vrender-app-renderer.test.ts
  packages/vtable/__tests__/vrender-app.test.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/animation/appear.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/vrender-app.ts
  packages/vtable/src/vrender.ts
Labels: vtable, test

feat: align with VRender alpha shared state contract
  common/config/jest/vrender-module-name-mapper.js
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo-openinula/en/custom-layout/custom-layout.md
  docs/assets/demo-openinula/zh/custom-layout/custom-layout.md
  docs/assets/demo/en/custom-render/custom-cell-layout-jsx.md
  docs/assets/demo/zh/custom-render/custom-cell-layout-jsx.md
  docs/assets/faq/en/34-How to implement text type buttons.md
  docs/assets/faq/en/56-VTable table component, using customLayout to customize the drawing elements, how to listen for mouse hover events on the elements, similar to the DOM's mouseenter event.md
  docs/assets/faq/zh/34-How to implement text type buttons.md
  docs/assets/faq/zh/56-VTable table component, using customLayout to customize the drawing elements, how to listen for mouse hover events on the elements, similar to the DOM's mouseenter event.md
  docs/assets/guide/en/custom_define/custom_layout.md
  docs/assets/guide/en/table_type/List_table/group_list.md
  docs/assets/guide/zh/custom_define/custom_layout.md
  docs/assets/guide/zh/table_type/List_table/group_list.md
  packages/openinula-vtable/demo/src/list-table/list-custom-layout.tsx
  packages/react-vtable/demo/src/component/custom-layout-dom.tsx
  packages/react-vtable/demo/src/component/custom-layout.tsx
  packages/react-vtable/demo/src/list-table/list-custom-layout.tsx
  packages/react-vtable/src/components/vrender-components/type.ts
  packages/react-vtable/src/table-components/custom/graphic.ts
  packages/vtable-gantt/jest.config.js
  packages/vtable-sheet/jest.config.js
  packages/vtable/__tests__/scenegraph-custom-state.test.ts
  packages/vtable/__tests__/vrender-app-renderer.test.ts
  packages/vtable/__tests__/vrender-app.test.ts
  packages/vtable/examples/custom-layout-jsx/pivot-jsx.tsx
  packages/vtable/examples/list/list-group.ts
  packages/vtable/jest.config.js
  packages/vtable/package.json
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/component/menu.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/vrender-app.ts
  packages/vtable/src/vrender.ts
  packages/vue-vtable/jest.config.js
Labels: vtable, react-vtable, openinula-vtable, test, docs, jest, chore

docs: update release changelog docs
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: resolve regression from #5137 fix which broke nested header drag and exposed internal state
  packages/vtable/src/ListTable.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-issue-5137-regression_2026-06-11-07-35.json
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
Labels: vtable, chore

test: fix vtable-plugins jest environment and module resolution
  packages/vtable-plugins/__tests__/add-row-column-plugin.test.ts
  packages/vtable-plugins/jest.config.js
  packages/vtable-plugins/src/global.d.ts
Labels: test, jest

chore(vtable): align VRender alpha.26 contract
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/scenegraph/utils/text-measure.ts
Labels: vtable, chore

chore: remove local omx artifacts from branch
  .omx/logs/tmux-hook-2026-05-13.jsonl
  .omx/logs/tmux-hook-2026-05-14.jsonl
  .omx/logs/turns-2026-05-13.jsonl
  .omx/logs/turns-2026-05-14.jsonl
  .omx/metrics.json
  .omx/state/hud-state.json
  .omx/state/notify-hook-state.json
  .omx/state/team-leader-nudge.json
  .omx/state/tmux-hook-state.json
Labels: none

fix(vtable): preserve VRender alpha.26 contracts
  packages/vtable-plugins/jest.config.js
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/graphic/group.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
Labels: vtable, jest

fix(vtable): guard VRender tree insertions
  packages/vtable/__tests__/scenegraph/group.test.ts
  packages/vtable/__tests__/scenegraph/text-icon-layout.test.ts
  packages/vtable/src/scenegraph/graphic/group.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/button-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/spark-line-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/switch-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-collapse-scroll-bottom_2026-06-15-08-21.json
  packages/vtable/__tests__/pivotTable-tree.test.ts
  packages/vtable/examples/debug/scroll-collapse-bottom.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable, test, chore

fix: avoid preserving bottom scroll for non-scrollable pivot table
  packages/vtable/__tests__/pivotTable-tree.test.ts
  packages/vtable/src/PivotTable.ts
Labels: vtable, test

ci: remove harmony changelog from vtable release
  .github/workflows/release.yml
Labels: chore

build: release version 1.26.2-none [skip ci]
  .changelog/en.md
  .changelog/zh.md
  common/changes/@visactor/vtable/fix-collapse-scroll-bottom_2026-06-15-08-21.json
  common/changes/@visactor/vtable/fix-issue-4984-group-sticky-collapse_2026-05-20-02-00.json
  common/changes/@visactor/vtable/fix-issue-5027_2026-05-21-07-15.json
  common/changes/@visactor/vtable/fix-issue-5137-filter-column-order_2026-05-20-02-27.json
  common/changes/@visactor/vtable/fix-issue-5137-regression_2026-06-11-07-35.json
  common/changes/@visactor/vtable/fix-issue-5146-shift-arrow-selection_2026-05-25-16-36.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/assets/changelog/en/release.md.bak
  docs/assets/changelog/zh/release.md.bak
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

ci: reuse vchart changelog api secrets
  .github/workflows/release.yml
Labels: chore

Clean up release.md by removing duplicates
  docs/assets/changelog/zh/release.md
Labels: docs

Refactor release changelog to remove duplicates
  docs/assets/changelog/en/release.md
Labels: docs

ci: skip existing release publish
  .github/workflows/release.yml
Labels: chore

build: release version 1.26.2-none [skip ci]
  .changelog/en.md
  .changelog/zh.md
  common/config/rush/version-policies.json
  docs/assets/changelog/en/release.md
  docs/assets/changelog/en/release.md.bak
  docs/assets/changelog/zh/release.md
  docs/assets/changelog/zh/release.md.bak
  docs/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  tools/bugserver-trigger/package.json
Labels: vtable, docs, chore

ci: harden release workflow output
  .github/workflows/release.yml
  common/scripts/apply-release-version.js
Labels: chore

ci: use vtable changelog api secrets
  .github/workflows/release.yml
  common/changes/@visactor/vtable/fix-collapse-scroll-bottom_2026-06-15-08-21.json
  common/changes/@visactor/vtable/fix-issue-4984-group-sticky-collapse_2026-05-20-02-00.json
  common/changes/@visactor/vtable/fix-issue-5027_2026-05-21-07-15.json
  common/changes/@visactor/vtable/fix-issue-5137-filter-column-order_2026-05-20-02-27.json
  common/changes/@visactor/vtable/fix-issue-5137-regression_2026-06-11-07-35.json
  common/changes/@visactor/vtable/fix-issue-5146-shift-arrow-selection_2026-05-25-16-36.json
Labels: chore

ci: reuse vchart changelog api secrets
  .github/workflows/release.yml
Labels: chore

build: release version 1.26.2 [skip ci]
  .changelog/en.md
  .changelog/zh.md
  common/changes/@visactor/vtable/fix-collapse-scroll-bottom_2026-06-15-08-21.json
  common/changes/@visactor/vtable/fix-issue-4984-group-sticky-collapse_2026-05-20-02-00.json
  common/changes/@visactor/vtable/fix-issue-5027_2026-05-21-07-15.json
  common/changes/@visactor/vtable/fix-issue-5137-filter-column-order_2026-05-20-02-27.json
  common/changes/@visactor/vtable/fix-issue-5137-regression_2026-06-11-07-35.json
  common/changes/@visactor/vtable/fix-issue-5146-shift-arrow-selection_2026-05-25-16-36.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/assets/changelog/en/release.md
  docs/assets/changelog/en/release.md.bak
  docs/assets/changelog/zh/release.md
  docs/assets/changelog/zh/release.md.bak
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update v1.26.2 zh release notes
  docs/assets/changelog/zh/release.md
Labels: docs

fix: handle right frozen column count update
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/src/scenegraph/layout/frozen.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-issue-3672-right-frozen-count_2026-06-16-07-08.json
Labels: chore

ci: disable release changelog workflow
  .github/workflows/release-changelog.yml
Labels: chore

docs: generate changelog of release v1.26.2
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

chore: upgrade vrender and vchart
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: align bugserver workspace dependencies
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/package.json
  packages/vtable/package.json
Labels: vtable, chore

fix: keep PivotChart compatible with VRender snapshots
  packages/vtable/__tests__/chart-graphic.test.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable, test

fix: preserve circular image icons on VRender 1.1
  packages/vtable/__tests__/scenegraph/text-icon-layout.test.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: vtable

fix: sync gantt task bars after sorted updates
  packages/vtable-gantt/__tests__/gantt-sort-sync.test.ts
  packages/vtable-gantt/examples/gantt/gantt-issue-5162-sort-drag.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: test

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-issue-5162-gantt-sort-drag_2026-06-17-07-15.json
Labels: chore

chore: fix changefile metadata
  common/changes/@visactor/vtable/fix-issue-5162-gantt-sort-drag_2026-06-17-07-15.json
Labels: chore

fix: refresh gantt bars after sorted record updates
  packages/vtable-gantt/src/Gantt.ts
Labels: none

fix: stabilize package pre-push tests
  .gitignore
  packages/vtable-gantt/jest.config.js
  packages/vtable-plugins/jest.config.js
  packages/vtable-search/jest.config.js
  packages/vtable-sheet/jest.config.js
  packages/vtable/jest.config.js
  packages/vtable/src/scenegraph/utils/padding.ts
  packages/vue-vtable/jest.config.js
Labels: vtable, jest

fix: restore app renderer contributions with VRender alpha 28
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/__tests__/scenegraph/text-icon-layout.test.ts
  packages/vtable/__tests__/vrender-app-renderer.test.ts
  packages/vtable/package.json
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: vtable, test, chore

fix: preserve quad style values
  packages/vtable/__tests__/scenegraph-utils-padding.test.ts
  packages/vtable/src/scenegraph/utils/padding.ts
Labels: vtable, test
