Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-dbclickHandler_2026-05-11-03-36.json
Labels: chore

fix: arrow right to move select cell occor blank #5113
  packages/vtable-sheet/src/core/WorkSheet.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-pr-5113-sheet-followup_2026-05-11-07-51.json
Labels: chore

chore: update workflow
  .github/workflows/develop-synced-dispatch.yml
  .github/workflows/release.yml
  .github/workflows/sync-main-to-develop.yml
Labels: chore

chore: update workflow
  .github/workflows/post-release.yml
Labels: chore

chore: update workflow
  .github/workflows/post-release.yml
Labels: chore

docs: add changelog for v1.26.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: generate changelog of release v1.26.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: upgrade vrender to 1.x
  .omx/logs/tmux-hook-2026-05-13.jsonl
  .omx/logs/tmux-hook-2026-05-14.jsonl
  .omx/logs/turns-2026-05-13.jsonl
  .omx/logs/turns-2026-05-14.jsonl
  .omx/metrics.json
  .omx/state/hud-state.json
  .omx/state/notify-hook-state.json
  .omx/state/team-leader-nudge.json
  .omx/state/tmux-hook-state.json
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/__tests__/animation-appear.test.ts
  packages/vtable/__tests__/vchart-vrender-app.test.ts
  packages/vtable/__tests__/vrender-app-renderer.test.ts
  packages/vtable/__tests__/vrender-app.test.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/animation/appear.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/vrender-app.ts
  packages/vtable/src/vrender.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, test, docs, chore

chore: add omx to gitignore
  .gitignore
Labels: none

chore: update release ci
  .github/workflows/release.yml
Labels: chore

docs: add change log file
  common/changes/@visactor/vtable/chore-update-release-ci.json
Labels: chore

build: prelease version 1.26.2-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

chore: update release ci
  .github/workflows/release.yml
Labels: chore

chore: update release ci
  .github/workflows/release.yml
Labels: chore

feat: add miss script
  common/scripts/apply-release-version.js
Labels: chore

feat: add miss script
  common/scripts/apply-release-version.js
Labels: chore

fix: package file add repository
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vue-vtable/package.json
Labels: react-vtable, openinula-vtable

fix: package file add repository
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vue-vtable/package.json
Labels: react-vtable, openinula-vtable

chore: upgrade vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

build: prelease version 1.22.13-alpha.11
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: add optional chaining in AddRowColumnPlugin release to prevent errors
  packages/vtable-plugins/src/add-row-column.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-add-row-column-plugin-release-error_2026-05-17-02-59.json
Labels: chore

chore: upgrade vrender & vchart
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prerelease version 1.27.0-alpha.2 [skip ci]
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: preserve filter column order after header drag
  packages/vtable-plugins/__tests__/filter/filter-plugin.test.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable/__tests__/columns/listTable-dragHeader.test.ts
  packages/vtable/src/ListTable.ts
Labels: vtable

test: add issue-5137 repro demo
  packages/vtable-plugins/demo/filter/issue-5137.ts
  packages/vtable-plugins/demo/menu.ts
Labels: none

fix: guard filter columns before layout init
  packages/vtable-plugins/__tests__/filter/filter-plugin.test.ts
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

chore: upgrade vrender & vchart
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prerelease version 1.27.0-alpha.3 [skip ci]
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: preserve hidden column order after filter update
  packages/vtable-plugins/__tests__/filter/filter-plugin.test.ts
  packages/vtable-plugins/demo/filter/issue-5137.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable/__tests__/columns/listTable-dragHeader.test.ts
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: preserve sticky group position after toggle
  packages/vtable/src/event/event.ts
  packages/vtable/src/plugins/list-tree-stick-cell.ts
Labels: vtable

docs: update changlog of rush
  .rush-global/node-v24.11.0/pnpm-10.7.0/.npmrc
  .rush-global/node-v24.11.0/pnpm-10.7.0/last-install.flag
  .rush-global/node-v24.11.0/pnpm-10.7.0/package-lock.json
  .rush-global/node-v24.11.0/pnpm-10.7.0/package.json
  common/changes/@visactor/vtable/fix-issue-4984-group-sticky-collapse_2026-05-20-02-00.json
Labels: chore

chore: remove local rush artifacts
  .rush-global/node-v24.11.0/pnpm-10.7.0/.npmrc
  .rush-global/node-v24.11.0/pnpm-10.7.0/last-install.flag
  .rush-global/node-v24.11.0/pnpm-10.7.0/package-lock.json
  .rush-global/node-v24.11.0/pnpm-10.7.0/package.json
Labels: none

docs: update changlog of rush
  .rush-global/node-v24.11.0/pnpm-10.7.0/.npmrc
  .rush-global/node-v24.11.0/pnpm-10.7.0/last-install.flag
  .rush-global/node-v24.11.0/pnpm-10.7.0/package-lock.json
  .rush-global/node-v24.11.0/pnpm-10.7.0/package.json
  common/changes/@visactor/vtable/fix-issue-5137-filter-column-order_2026-05-20-02-27.json
Labels: chore

chore: remove local rush artifacts
  .rush-global/node-v24.11.0/pnpm-10.7.0/.npmrc
  .rush-global/node-v24.11.0/pnpm-10.7.0/last-install.flag
  .rush-global/node-v24.11.0/pnpm-10.7.0/package-lock.json
  .rush-global/node-v24.11.0/pnpm-10.7.0/package.json
Labels: none

fix: avoid selection gap with frozen rows
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/examples/debug/issue-5027.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

docs: update changlog of rush
  .rush-global/node-v24.11.0/pnpm-10.7.0/.npmrc
  .rush-global/node-v24.11.0/pnpm-10.7.0/last-install.flag
  .rush-global/node-v24.11.0/pnpm-10.7.0/package-lock.json
  .rush-global/node-v24.11.0/pnpm-10.7.0/package.json
  common/changes/@visactor/vtable/fix-issue-5027_2026-05-21-07-15.json
Labels: chore

chore: remove local rush artifacts
  .rush-global/node-v24.11.0/pnpm-10.7.0/.npmrc
  .rush-global/node-v24.11.0/pnpm-10.7.0/last-install.flag
  .rush-global/node-v24.11.0/pnpm-10.7.0/package-lock.json
  .rush-global/node-v24.11.0/pnpm-10.7.0/package.json
Labels: none

fix: solve shift arrow multi selection issue #5146
  common/changes/@visactor/vtable/fix-issue-5146-shift-arrow-selection_2026-05-25-16-36.json
  packages/vtable/examples/debug/issue-5146.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/state/select/update-position.ts
Labels: vtable, chore
