Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

docs: update changlog of rush
  common/changes/@visactor/vtable/2981-selectCell-api-disableselect_2024-12-03-08-05.json
Labels: chore

chore: change rush change type
  common/changes/@visactor/vtable/feat-update-vrender_2024-12-06-10-11.json
Labels: chore

feat: update vender version@0.21.2-alpha.1
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: select not work when select set disableSelect #2981
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/examples/interactive/select.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

fix: fix default validateValue in input-editor
  packages/vtable-editors/src/input-editor.ts
Labels: none

build: prelease version 1.13.1-alpha.2
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.13.1-alpha.3
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: customize the width of the column width handle
  docs/assets/guide/en/interaction/resize_column_width.md
  docs/assets/guide/en/theme_and_style/theme.md
  docs/assets/guide/zh/interaction/resize_column_width.md
  docs/assets/guide/zh/theme_and_style/theme.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/theme.ts
Labels: vtable, docs

fix: clear during Adjust row height Check Clear
  packages/vtable/src/state/state.ts
Labels: vtable

refactor: compute every time scale width logic #3003
  packages/vtable-gantt/examples/gantt/gantt-month.ts
  packages/vtable-gantt/examples/gantt/gantt-week.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/data/DataSource.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/tools/util.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

fix: when updateScales occor error not set minDate maxDate #3026
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

fix: reset indicatorKeys in pivot-chart
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: vtable

fix: timeFormat add hh:mm
  packages/vtable-gantt/src/tools/util.ts
Labels: none

fix: no record and noMaxMinDate occor error
  packages/vtable-gantt/src/Gantt.ts
Labels: none

fix: no record dependency id not exist occor error
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/vtable.ts
Labels: none

docs: add time scale support hour minute options
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  docs/assets/option/en/common/gantt/timeline-scale.md
  docs/assets/option/zh/common/gantt/timeline-scale.md
  packages/vtable-gantt/examples/gantt/gantt-hour-day.ts
  packages/vtable-gantt/examples/gantt/gantt-minute.ts
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/examples/menu.ts
Labels: docs

feat: update vrender to 0.21.2-alpha.2
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

build: prelease version 1.13.1-alpha.4
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: gantt task time unit hour second minute
  docs/assets/demo/en/gantt/gantt-hour.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-hour.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  packages/vtable-gantt/examples/gantt/gantt-hour-day.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
Labels: docs

feat: support tickAlign in PivotChart
  common/changes/@visactor/vtable/feat-pivot-chart-axes_2024-12-12-13-35.json
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/components/axis/get-axis-component-size.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/chart-helper/tick-align.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
Labels: vtable, chore

docs: update gantt-hour demo
  docs/assets/demo/en/gantt/gantt-hour.md
  docs/assets/demo/zh/gantt/gantt-hour.md
Labels: docs

fix: fix axis display bug in pivot-chart
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix: fix tickAlign nice display
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-axis-domain.ts
Labels: vtable

feat: resizable and moveable support function #3074
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-resizable_moveable_function_2024-12-13-08-20.json
Labels: chore

fix: update options when record changed
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

docs: update description for resizeHotSpotSize property
  docs/assets/guide/en/interaction/resize_column_width.md
  packages/vtable/src/ts-types/theme.ts
Labels: vtable, docs

docs: update description for resizeHotSpotSize property
  docs/assets/guide/zh/interaction/resize_column_width.md
Labels: docs

docs: generate changelog of release v1.13.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: consider not set mindate maxdate call setRecords api
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/data/DataSource.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-setRecords-UpdateParseOptions_2024-12-13-09-10.json
Labels: chore

feat: gird line support custom funtion
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: set checkedState into Map
  packages/vtable/src/ListTable.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/state/state.ts
Labels: vtable

fix: fix return type in getCheckboxState()
  packages/vtable/__tests__/columns/listTable-checkbox.test.ts
  packages/vtable/src/ListTable.ts
Labels: vtable

chore: add rush change
  common/changes/@visactor/vtable/fix-checkbox_2024-12-13-11-46.json
Labels: chore

build: prelease version 1.13.1-alpha.6
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update changelog
  common/changes/@visactor/vtable/feat-merge-cell_2024-11-28-04-27.json
  common/changes/@visactor/vtable/feat-merge-cell_2024-11-28-04-28.json
  common/changes/@visactor/vtable/feat-merge-cell_2024-12-02-03-04.json
Labels: chore

docs: supplement resizable and moveable
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
Labels: docs

docs: fix option rowResizeMode error
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs
