Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: disable react-dom component wheel event temporarily
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: react-vtable

refactor: dataSource support setted in option
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: dataSource support canChangeOrder and changeOrder
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3294-bug-mouseleave_task_bar-trigger_2025-01-10-07-50.json
  packages/vtable-gantt/examples/gantt/gantt.ts
Labels: chore

docs: update event description
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
Labels: docs

fix: fix empty-tip layout problem when resize window #3312
  common/changes/@visactor/vtable/fix-empty-tip-layout_2025-01-16-12-41.json
  packages/vtable/src/components/empty-tip/empty-tip.ts
Labels: vtable, chore

fix: when mouse leave gantt should trigger mouseleave_taskbar #3294
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/drag-order-line.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/scroll-bar.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
Labels: none

fix: fix row update in frozen rows
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable

feat: canvasWidth canvasHeight support auto setting #3089
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

feat: add groupTitleFieldFormat API #3092
  common/changes/@visactor/vtable/feat-tree-data-update_2025-01-17-07-17.json
  docs/assets/demo/en/table-type/list-table-group.md
  docs/assets/demo/zh/table-type/list-table-group.md
  docs/assets/guide/en/table_type/List_table/group_list.md
  docs/assets/guide/zh/table_type/List_table/group_list.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/examples/list/list-group.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs, chore

feat: add emptyTip click event
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  packages/react-vtable/src/eventsUtils.ts
  packages/vtable/examples/pivot-analysis/pivot-empty-tip.ts
  packages/vtable/src/components/empty-tip/empty-tip.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, react-vtable, docs

docs: supplement tableSize adaptive
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
Labels: docs

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: fix frozen row update in computeRowsHeight()
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: vtable

fix: fix updateDomContainer timing
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

chore: add rush change
  common/changes/@visactor/vtable/feat-react-dom-component_2025-01-15-09-55.json
Labels: chore

fix: fix group mode sorted update
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

fix: fix undefined record in getOriginRecordIndexForGroup()
  packages/vtable/__tests__/data-update/listTable-group-data-update.test.ts
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable

revert: restore gantt demo
  packages/vtable-gantt/examples/gantt/gantt.ts
Labels: none

docs: update population-pyramid demo
  docs/assets/demo/en/business/population-pyramid.md
  docs/assets/demo/zh/business/population-pyramid.md
Labels: docs

fix: fix beforeChangedRecordsMap update
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

fix: fix rowSeriesNumber update problem in group mode
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/CachedDataSource.ts
Labels: vtable

feat: support tree node drag cross parent node
  docs/assets/guide/en/basic_function/row_series_number.md
  docs/assets/guide/en/interaction/drag_header.md
  docs/assets/guide/zh/basic_function/row_series_number.md
  docs/assets/guide/zh/interaction/drag_header.md
  packages/vtable/examples/list/list-dataSource-changeOrder.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable, docs

docs: generate changelog of release v1.15.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: canvasWidth canvasHeight support auto setting #3089
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

fix: fix beforeChangedRecordsMap update
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

fix: fix custom-layout-demo
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/component/custom-layout-pivot.tsx
Labels: react-vtable

chore: add tree(group) mode data update unit test
  packages/vtable/__tests__/data-update/listTable-group-data-update.test.ts
  packages/vtable/__tests__/data-update/listTable-tree-data-update.test.ts
Labels: vtable

fix: fix sort state in tree mode data update
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-tableSIzeAdaptive_2025-01-14-08-35.json
Labels: chore

docs: generate changelog of release v1.15.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: add columnHierarchyType
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-grid-tree-column.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vtable/src/tools/diff-cell.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: add columnHierarchyType
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

feat: add columnHierarchyType
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/tools/get-data-path/create-dataset.ts
Labels: vtable

fix: typo error for datasource
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
Labels: docs

fix: change onEmptyTipDblClick name
  packages/react-vtable/src/eventsUtils.ts
Labels: react-vtable

fix: disable scroll in input-editor & date-input-editor
  packages/vtable-editors/src/date-input-editor.ts
  packages/vtable-editors/src/input-editor.ts
Labels: none

build: prelease version 1.15.2-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add columnhirerachytype
  packages/vtable/examples/pivot/pivot-grid-tree-column.ts
  packages/vtable/examples/pivot/pivot-grid-tree.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vtable/src/scenegraph/layout/update-col.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/tools/NumberMap.ts
  packages/vtable/src/tools/diff-cell.ts
Labels: vtable
