Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

feat: add setCustomSelectRanges in stateManager #2750 #2845
  common/changes/@visactor/vtable/feat-custom-select_2024-11-19-09-29.json
  packages/vtable/examples/interactive/highlight-color.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/scenegraph/select/update-select-style.ts
  packages/vtable/src/state/select/custom-select.ts
  packages/vtable/src/state/state.ts
Labels: vtable, chore

fix: fix merge cell text position #2858
  common/changes/@visactor/vtable/fix-merge-cell-pos-fs_2024-11-18-13-39.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/2831-bug-drag-row-error_2024-11-15-10-55.json
Labels: chore

docs: trasnlate release notes
  docs/assets/changelog/zh/release.md
Labels: docs

feat: isShowOverflowTextTooltip support function
  common/changes/@visactor/vtable/feat-isShowOverflowTextTooltip-func_2024-11-18-13-51.json
  packages/vtable/src/components/tooltip/TooltipHandler.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

docs: add gantt option
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/table/gantt.md
Labels: docs

docs: add gantt release log
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: add guides of plugins
  docs/assets/demo/en/animation/carousel-animation.md
  docs/assets/demo/en/interaction/head-highlight.md
  docs/assets/demo/en/interaction/invert-highlight.md
  docs/assets/demo/zh/animation/carousel-animation.md
  docs/assets/demo/zh/interaction/head-highlight.md
  docs/assets/demo/zh/interaction/invert-highlight.md
  docs/assets/guide/en/animation/carousel_animation.md
  docs/assets/guide/en/plugin/header-highlight.md
  docs/assets/guide/en/plugin/invert-highlight.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/animation/carousel_animation.md
  docs/assets/guide/zh/plugin/header-highlight.md
  docs/assets/guide/zh/plugin/invert-highlight.md
Labels: docs

fix: fix functional padding update #2774
  common/changes/@visactor/vtable/fix-padding-func_2024-11-20-07-15.json
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: vtable, chore

feat: templateLink support function #2847
  common/changes/@visactor/vtable/feat-templateLink-func_2024-11-20-08-59.json
  docs/assets/guide/en/cell_type/link.md
  docs/assets/guide/zh/cell_type/link.md
  docs/assets/option/en/column/link-column-type.md
  docs/assets/option/en/dimension/link-dimension-type.md
  docs/assets/option/en/indicator/link-indicator-type.md
  docs/assets/option/zh/column/link-column-type.md
  docs/assets/option/zh/dimension/link-dimension-type.md
  docs/assets/option/zh/indicator/link-indicator-type.md
  packages/vtable/src/event/media-click.ts
  packages/vtable/src/ts-types/list-table/define/composite-define.ts
  packages/vtable/src/ts-types/list-table/define/link-define.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/pivot-table/dimension/link-dimension.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
  packages/vtable/src/ts-types/pivot-table/indicator/composite-indicator.ts
  packages/vtable/src/ts-types/pivot-table/indicator/link-indicator.ts
Labels: vtable, docs, chore

feat: show dependencyline in multiple task lines
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks.ts
  packages/vtable-gantt/examples/gantt/gantt-customLayout-Sub_Tasks.ts
  packages/vtable-gantt/examples/gantt/gantt-customLayout-Sub_Tasks_Inline.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

fix: when container resize trigger mark line resize #2883
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/2883-bug-gantt-markline-resize_2024-11-21-03-34.json
Labels: chore

feat: add select makeSelectCellVisible #2840
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2840-feature-disable-scroll-when-click-cell_2024-11-21-06-08.json
Labels: chore

fix: when resize column width the select state be cleared #2861
  packages/vtable/src/state/state.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2861-bug-selectState-clear-whenReiszeColWidth_2024-11-21-06-19.json
Labels: chore

docs: generate changelog of release v1.8.3
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: generate changelog of release v1.11.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat: cell support multi-custom-style #2841
  common/changes/@visactor/vtable/feat-multi-custom-style_2024-11-21-07-17.json
  packages/vtable/examples/style/custom-cell-style.ts
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable, chore

refactor: when set headerSelectMode body drag column order should work #2860
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/state/hover/row.ts
  packages/vtable/src/state/hover/single.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2860-feature-dragColumnOrder_2024-11-21-07-20.json
Labels: chore

chore: remove react in react-vtable umd file
  packages/react-vtable/bundler.config.js
Labels: react-vtable, bundler

chore: update vchart version
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: supplement hierarchyExpandLevel for list table
  docs/assets/guide/en/table_type/List_table/tree_list.md
  docs/assets/guide/zh/table_type/List_table/tree_list.md
Labels: docs

feat: rename tasksShowMode type
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks.ts
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Inline.ts
  packages/vtable-gantt/examples/gantt/gantt-customLayout-Sub_Tasks.ts
  packages/vtable-gantt/examples/gantt/gantt-customLayout-Sub_Tasks_Inline.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/package.json
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/data/DataSource.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

fix: set taskbar node zindex
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

feat: add position in tooltip config #2869
  common/changes/@visactor/vtable/feat-tooltip-position_2024-11-22-07-21.json
  packages/vtable/examples/interactive/tooltip.ts
  packages/vtable/src/components/tooltip/TooltipHandler.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

fix: when not set minDate maxDate call setRecords render error #2892
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/data/DataSource.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/2892-bug-gantt-setRecords_2024-11-22-09-44.json
Labels: chore

fix: fix select all in row-series-number checkbox #2880
  common/changes/@visactor/vtable/fix-row-series-number-checkbox_2024-11-22-10-11.json
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable, chore

feat: access vrender measure feature
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vtable/src/scenegraph/utils/text-measure.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: fix issue with unit test
  packages/vtable/__tests__/listTable-highlightInRange.test.ts
  packages/vtable/__tests__/listTable.test.ts
Labels: vtable, test

chore: reset pnpm-lock
  common/config/rush/pnpm-lock.yaml
Labels: chore

chore: reset pnpm-lock
  common/config/rush/pnpm-lock.yaml
Labels: chore

chore: reset pnpm-lock
  common/config/rush/pnpm-lock.yaml
Labels: chore

fix: fix unrender cell check state update in setCellCheckboxState()
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

feat: add tasksShowMode Sub_Tasks_Arrange
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Arrange.ts
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Separate.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/data/DataSource.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

feat: add moveSelectedCellOnArrowKeys config in keyboardOptions
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

feat: add function in CarouselAnimationPlugin
  packages/vtable/src/plugins/carousel-animation.ts
Labels: vtable
