Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

fix: excel edit cell keyboard delete keydown error
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-sheet/src/core/table-plugins.ts
Labels: none

build: prelease version 1.22.6-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: scroll bug when update option
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-12-01-07-29.json
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, chore

feat: excel edit keyboard plugin add deleteWorkOnEditableCell
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
Labels: none

docs: supplement deleteWorkOnEditableCell description
  docs/assets/guide/en/plugin/excel-keyboard-alignment.md
  docs/assets/guide/zh/plugin/excel-keyboard-alignment.md
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
Labels: docs

fix: menu limit to body range
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
Labels: none

fix: menu limit to body range
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-12-01-08-05.json
Labels: chore

build: prelease version 1.22.6-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: async state error
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

fix: select none not effect bug
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-12-01-12-59.json
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

fix: filter state not right after other filter change
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-12-01-15-24.json
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

docs: generate changelog of release v1.22.6
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

refactor: pivot chart linkage tooltip position
  docs/assets/option/en/table/pivotChart.md
  docs/assets/option/zh/table/pivotChart.md
  packages/vtable/examples/pivot-chart/horizontal-hideHeader.ts
  packages/vtable/examples/pivot-chart/linkage-pivotChart-horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart-boxPlot.ts
  packages/vtable/examples/pivot-chart/pivotChart-histogram-horital.ts
  packages/vtable/examples/pivot-chart/pivotChart-horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart-line.ts
  packages/vtable/examples/pivot-chart/pivotChart-linkage.ts
  packages/vtable/examples/pivot-chart/pivotChart-pie1.ts
  packages/vtable/examples/pivot-chart/pivotChart-radar.ts
  packages/vtable/examples/pivot-chart/pivotChart-rightAxis.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter-reverse.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter1.ts
  packages/vtable/examples/pivot-chart/pivotChart-scatter2.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

fix: auto-update value-filter options when table data changes
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

feat: resize support set canResizeColumn function #4764
  docs/assets/guide/en/operate_scenegraph.md
  docs/assets/guide/zh/operate_scenegraph.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/refactor-resizeColumn_2025-12-02-10-14.json
Labels: chore

fix: prevent crash when filtering by value after conditional filter
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

docs: update updateCellContent usage
  docs/assets/guide/en/operate_scenegraph.md
  docs/assets/guide/zh/operate_scenegraph.md
Labels: docs

feat: add update styles api for filter plugin
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-12-02-12-32.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

build: prelease version 1.22.4-alpha.11
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add option for disable sync state for multiple filter
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-12-02-16-37.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

build: prelease version 1.22.4-alpha.12
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: empty line error
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/value-filter.ts
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: empty line error
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-12-03-06-21.json
Labels: chore

refactor: optimize linkage pivotChart tooltip
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/examples/pivot-chart/pivotChart-horizontal.ts
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.22.4-alpha.13
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/refactor-pivotChart-linkage_2025-12-03-06-53.json
Labels: chore

chore: update pnpm lock file
  common/config/rush/pnpm-lock.yaml
Labels: chore

build: prelease version 1.22.7-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.22.7-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: support custom styles. close#4720
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-03-08-59.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

feat: support custom conditionCategories. close#4781
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-03-11-45.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/constant.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/types.ts
Labels: chore

fix: filter swtich enable erroe. fix#4783
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-03-12-00.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/plugins/plugin-manager.ts
Labels: vtable, chore

feat: emit event when filter menu hide or show. close#4784
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-03-12-31.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, chore

fix: apply filter after update table data. fix#4785
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-03-12-44.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/plugins/plugin-manager.ts
Labels: vtable, chore

feat: add option to format display value. close#4786
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-03-13-00.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

fix: update error in focus highlight plugin
  packages/vtable-plugins/src/focus-highlight.ts
Labels: none

fix: update filter state and keys when update data. fix#4787
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-04-07-02.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

feat: add update styles api for filter plugin.close#4790
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-12-02-12-32.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
