Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-vtable-search-clear_2025-10-09-05-07.json
Labels: chore

fix: edit cell formula explanation
  packages/vtable-sheet/src/formula/formula-autocomplete.ts
Labels: none

docs: change log update
  common/changes/@visactor/vtable/fix-vtable-search-clear_2025-10-09-05-07.json
Labels: chore

docs: generate changelog of release v1.20.2
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update changelog
  docs/assets/changelog/zh/release.md
Labels: docs

fix: dbclick the automatic column width in the rightFrozenColCount configuration #4526
  packages/vtable/src/event/self-event-listener/base-table/dbclick-auto-column-width.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-vtable-rightFrozenColCount_2025-10-10-02-42.json
Labels: chore

fix: select formula item use keyboard arrowUp and arrowDown
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-sheet/src/formula/formula-autocomplete.ts
Labels: none

fix: paste html to cell no work #4551
  packages/vtable/src/event/event.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-formula-select-list-keyboard_2025-10-10-07-20.json
Labels: chore

docs: update changlog of rush
  common/changes/@visactor/vtable/4551-bug-pasteHtmlToTable_2025-10-10-07-21.json
Labels: chore

fix: sheet project run test
  packages/vtable-sheet/jest.config.js
  packages/vtable-sheet/src/formula/formula-autocomplete.ts
Labels: jest

docs: generate changelog of release v1.20.3
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin10.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/index.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin10.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/index.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: none

feat: add and del records to update formula dependenies
  packages/vtable-sheet/src/core/WorkSheet.ts
  packages/vtable-sheet/src/formula/__tests__/debug-adjustment.js
  packages/vtable-sheet/src/formula/__tests__/debug-b2-logic.ts
  packages/vtable-sheet/src/formula/__tests__/formula-engine-adjust-references.test.ts
  packages/vtable-sheet/src/formula/__tests__/formula-engine-core.test.ts
  packages/vtable-sheet/src/formula/__tests__/formula-engine-deletion-scenarios.test.ts
  packages/vtable-sheet/src/formula/__tests__/formula-engine-edge-cases.test.ts
  packages/vtable-sheet/src/formula/__tests__/formula-engine-final.test.ts
  packages/vtable-sheet/src/formula/__tests__/formula-engine-ref-errors.test.ts
  packages/vtable-sheet/src/formula/__tests__/formula-engine-simple.test.ts
  packages/vtable-sheet/src/formula/formula-engine.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable/__tests__/data-update/listTable-data-events.test.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

fix: #REF！calculate formula result
  packages/vtable-sheet/src/formula/formula-engine.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/index.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
Labels: none

fix: delete row change to !REF
  packages/vtable-sheet/src/formula/formula-engine.ts
Labels: none

fix: the updateFilterRules method of PivotTable #4450
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-PivotTable-updateFilterRules_2025-10-13-02-55.json
Labels: chore

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/index.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/index.ts
Labels: none

feat: some function adapt
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
Labels: none

test: update unit test
  packages/vtable-sheet/src/formula/__tests__/formula-engine-adjust-references.test.ts
  packages/vtable-sheet/src/formula/__tests__/formula-engine-core.test.ts
  packages/vtable-sheet/src/formula/__tests__/formula-engine-deletion-scenarios.test.ts
  packages/vtable-sheet/src/formula/__tests__/formula-engine-edge-cases.test.ts
  packages/vtable-sheet/src/formula/__tests__/formula-engine-final.test.ts
  packages/vtable-sheet/src/formula/__tests__/formula-engine-simple.test.ts
Labels: none

test: update unit test
  packages/vtable-sheet/__tests__/listTable-1W.test.ts
Labels: test

docs: add change log
  common/changes/@visactor/vtable/4551-bug-pasteHtmlToTable_2025-10-10-07-21.json
Labels: chore

chore: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

docs: update outsideClickDeselect
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

refactor: update updateFilterRules
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/guide/zh/data_analysis/pivot_table_dataAnalysis.md
  packages/vtable/src/PivotTable.ts
Labels: vtable, docs

docs: generate changelog of release v1.21.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update gantt demo
  docs/assets/demo/en/gantt/gantt-datazoom.md
  docs/assets/demo/en/gantt/gantt-zoom.md
  docs/assets/demo/zh/gantt/gantt-datazoom.md
  docs/assets/demo/zh/gantt/gantt-zoom.md
Labels: docs

fix: fix the release
  packages/vtable-gantt/src/Gantt.ts
Labels: none

fix: fix the mouse zoom step
  packages/vtable-gantt/src/event/scroll.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/docs-gantt-zoom_2025-10-14-01-42.json
Labels: chore

docs: update change log
  common/changes/@visactor/vtable/4551-bug-pasteHtmlToTable_2025-10-10-07-21.json
  common/changes/@visactor/vtable/docs-gantt-zoom_2025-10-14-01-42.json
Labels: chore

docs: update gantt zoom demo cover
  docs/assets/demo/en/gantt/gantt-datazoom.md
  docs/assets/demo/en/gantt/gantt-zoom.md
  docs/assets/demo/zh/gantt/gantt-datazoom.md
  docs/assets/demo/zh/gantt/gantt-zoom.md
Labels: docs
