Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: pivot table header icon display incorrect #2735
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2735-bug-header-icon-display-incorrect_2024-11-01-08-26.json
Labels: chore

feat: add vtable-calendar demos
  packages/vtable-calendar/demo/list/edit-demo.ts
  packages/vtable-calendar/demo/list/list.ts
  packages/vtable-calendar/demo/list/site-demo.ts
  packages/vtable-calendar/demo/menu.ts
  packages/vtable-calendar/src/custom/custom-handler.ts
  packages/vtable-calendar/src/custom/custom-layout.ts
  packages/vtable-calendar/src/event/type.ts
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-calendar/src/table/table-option.ts
Labels: none

docs:fix word errors in the document
  docs/assets/guide/en/theme_and_style/style.md
  docs/assets/guide/zh/theme_and_style/style.md
Labels: docs

feat: drag order highlight line render
  packages/vtable-gantt/src/scenegraph/drag-order-line.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/state/gantt-table-sync.ts
Labels: none

fix: fix basic structure in vtable-calendar
  packages/vtable-calendar/README.md
  packages/vtable-calendar/bundler.config.js
  packages/vtable-calendar/package.json
  packages/vtable-calendar/src/index.ts
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable/src/index.ts
Labels: vtable, bundler

docs: update changlog of rush
  common/changes/@visactor/vtable/2680-feature-gantt-drag-taskbar-order_2024-11-01-10-33.json
Labels: chore

docs: add vtable-calendar guide
  docs/assets/guide/en/calendar/Getting_Started.md
  docs/assets/guide/en/calendar/introduction.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/calendar/Getting_Started.md
  docs/assets/guide/zh/calendar/introduction.md
  docs/src/main.tsx
  docs/vite.config.js
Labels: docs

feat: add change_header_position_fail event
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/2680-feature-gantt-drag-taskbar-order_2024-11-01-10-49.json
Labels: chore

fix: trigger SELECTED_CLEAR event when clicking disable-select cell
  packages/vtable/src/event/event.ts
Labels: vtable

fix: parse axes config error when user set axes #2749
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2749-bug-stack-no-work-in-vtable_2024-11-04-07-44.json
Labels: chore

feat: the selected_clear event is performed only if the selected cells do exist
  packages/vtable/src/event/event.ts
Labels: vtable

docs: add VTableCalendar docs
  docs/assets/api/en/api.md
  docs/assets/api/en/calendar-api.md
  docs/assets/api/zh/api.md
  docs/assets/api/zh/calendar-api.md
  docs/assets/demo/en/calendar/calendar-basic.md
  docs/assets/demo/en/calendar/calendar-custom-event.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/calendar/calendar-basic.md
  docs/assets/demo/zh/calendar/calendar-custom-event.md
  docs/assets/option/en/common/calendar/custom-event-option.md
  docs/assets/option/en/common/calendar/custom-event.md
  docs/assets/option/en/option.md
  docs/assets/option/en/table/calendar.md
  docs/assets/option/zh/common/calendar/custom-event-option.md
  docs/assets/option/zh/common/calendar/custom-event.md
  docs/assets/option/zh/option.md
  docs/assets/option/zh/table/calendar.md
Labels: docs

feat: add event export in vtable-calendar
  packages/vtable-calendar/src/index.ts
Labels: none

feat: gantt dependency line support tree node #2701
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable-gantt/examples/gantt/gantt-tree-dependency.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/2701-feature-dependency-line-tree_2024-11-04-11-54.json
Labels: chore

feat: add the highlightMode in select range
  .vscode/settings.json
  common/config/rush/.npmrc
  packages/vtable/examples/list/list.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

docs: add highlightInRange docs
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

fix: cellInRange get an invalid parameter
  packages/vtable/examples/list/list.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
Labels: vtable

feat: add limitContentHeight config
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

fix: cellType set funciton occor error #2754
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2754-bug-celltype-function-error_2024-11-05-06-17.json
Labels: chore

fix: fix cellLocation in pivot-table #2694
  common/changes/@visactor/vtable/fix-pivot-frozen-col_2024-11-05-06-26.json
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/column.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: vtable, chore

fix: when pivot cell type set chart not data cell render error #2758
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/ts-types/list-table/define/chart-define.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/pivot-table/indicator/chart-indicator.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2758-bug-pivot-table-celltype-chart-error_2024-11-05-07-26.json
Labels: chore

docs: supplement rowSeriesNumber options
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/common/row-series-number.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/common/row-series-number.md
Labels: docs

docs: supplement noDataRenderNothing option
  docs/assets/option/en/column/chart-column-type.md
  docs/assets/option/en/indicator/chart-indicator-type.md
  docs/assets/option/zh/column/chart-column-type.md
  docs/assets/option/zh/indicator/chart-indicator-type.md
Labels: docs

fix: fix menu scale pos problem #2734
  common/changes/@visactor/vtable/fix-scale-menu-pos_2024-11-05-09-24.json
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
Labels: vtable, chore

fix: fix tree frozen row problem #2619
  common/changes/@visactor/vtable/fix-tree-frozen-row_2024-11-05-13-32.json
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable, chore

fix: highlightInRange feature does not include the header
  packages/vtable/__tests__/listTable-highlightInRange.test.ts
  packages/vtable/examples/list/list-highlightInRange.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
  packages/vtable/src/tools/helper.ts
Labels: vtable, test

docs: revise component import example
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/zh/Developer_Ecology/vue.md
Labels: docs

feat: when drag on header can select cells continuous #2751
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2751-feature-dargHeader-select_2024-11-06-06-29.json
Labels: chore

fix: create task shedule date error #2771
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/2771-bug-gantt-createSchedule_2024-11-06-07-57.json
Labels: chore

feat: add HeaderHighlightPlugin
  packages/vtable/examples/interactive/highlight-color.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/index.ts
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/plugins/header-highlight.ts
Labels: vtable

fix: legend problems #2764 #2755
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/2764-bug-legend-scrolling-conflicts-with-table_2024-11-06-10-58.json
Labels: chore
