Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: scroll bug when update option
  common/changes/@visactor/vtable/feat-filter-plugin-custom-style_2025-12-01-07-29.json
  packages/vtable/src/core/BaseTable.ts
Labels: vtable, chore

feat: menu limit to body range. close#4791
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-04-07-30.json
  packages/vtable-plugins/src/filter/filter-toolbar.ts
Labels: chore

fix: select none not effect. fix#4792
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-04-07-34.json
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

feat: add config to disable sync multiple filter state. close#4793
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-04-08-19.json
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

fix: empty line bug
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-04-08-27.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

chore: lint error
  packages/vtable/src/plugins/plugin-manager.ts
Labels: vtable

build: prelease version 1.22.7-alpha.2
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: heightLimitToShowTooltipForEdgeRow not set occor error
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
Labels: vtable

fix: update checkbox state after update data. fix#4795
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-04-11-29.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: chore

build: prelease version 1.22.7-alpha.3
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: resolve empty data issue with both grouping and filtering
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

chore: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: boxPlot getBandwidth
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: vtable

build: prelease version 1.22.7-alpha.4
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

chore: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: scatter componentShowContent not use
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/active-cell-chart-list.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vue-vtable/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

build: prelease version 1.22.7-alpha.5
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: pivotChart axis should change zero when has range
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/refactor-pivotChart-linkage_2025-12-08-08-41.json
Labels: chore

chore: add detail of filter
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/styles.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

fix: bug of scroll top in vscreen
  packages/vtable/src/state/state.ts
Labels: vtable

fix: filter empty tips. fix#4804
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable/src/ListTable.ts
Labels: vtable

fix: remove menu dom after release instance. fix#4805
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable-plugins/src/filter/filter.ts
Labels: none

build: prelease version 1.22.7-alpha.6
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

docs: generate changelog of release v1.22.7
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update release log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: fix incorrect container prop in react demo comment
  docs/assets/demo-react/zh/custom-layout/cell-custom-layout-dom.md
Labels: docs

docs: fix incorrect container prop in react demo comment
  docs/assets/demo-react/en/custom-layout/cell-custom-layout-dom.md
Labels: docs

docs: fix incorrect container prop in react demo comment
  docs/assets/demo-react/en/custom-layout/cell-custom-layout-dom.md
Labels: docs

docs: fix incorrect container prop in react demo comment
  docs/assets/demo-react/zh/custom-layout/cell-custom-layout-dom.md
Labels: docs

fix: 配置不联动后， 同一个筛选器的按值筛选和按条件筛选保持独立，不联动
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

fix: 图表更新后, 筛选面板不自动消失
  packages/vtable-plugins/src/filter/filter-toolbar.ts
Labels: none

feat: add config to control filter result
  common/changes/@visactor/vtable/feat-filter-plugin-for-business_2025-12-09-14-53.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/filter-engine.ts
  packages/vtable-plugins/src/filter/types.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/DataSource.ts
Labels: vtable, chore

build: prelease version 1.22.7-alpha.7
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: null error when set scroll top
  packages/vtable/src/state/state.ts
Labels: vtable

feat: no effect for different filter mode. feat#4793
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-state-manager.ts
  packages/vtable-plugins/src/filter/filter.ts
  packages/vtable-plugins/src/filter/value-filter.ts
Labels: none

feat(types): add extensible custom column define support via module augmentation
  packages/vtable/src/ts-types/list-table/define/index.ts
Labels: vtable

build: prelease version 1.22.7-alpha.8
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: panel hide when press enter. fix#4813
  common/changes/@visactor/vtable/pre-release-1.22.7-alpha.8_2025-12-10-11-49.json
  packages/vtable-plugins/demo/filter/filter.ts
  packages/vtable-plugins/src/filter/condition-filter.ts
  packages/vtable-plugins/src/filter/filter-toolbar.ts
  packages/vtable/src/state/state.ts
Labels: vtable, chore

build: prelease version 1.22.7-alpha.9
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable-sheet/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore
