Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**

fix: update checkbox status in rowMov of tree ListTable
  packages/vtable/examples/list/list-checkbox-tree-moveRow.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/state/state.ts
Labels: vtable

fix: prevent crash on PivotTable row move
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-moveRow.ts
  packages/vtable/src/state/cell-move/index.ts
Labels: vtable

fix(gantt): avoid row calculation errors when children is empty array
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

fix: update import paths for Style in ButtonStyle and SwitchStyle #4404
  packages/vtable/src/body-helper/style/ButtonStyle.ts
  packages/vtable/src/body-helper/style/SwitchStyle.ts
Labels: vtable

perf: optimize all tree node expansion/collapse with lightweight scene update
  packages/vtable/src/ListTable.ts
Labels: vtable

docs: update changlog of rush
  .vscode/settings.json
  common/changes/@visactor/vtable/feat-wps-fill-handle_2025-06-16-01-00.json
  packages/vtable-plugins/demo/herder-highlight/(deprecated)header-highlight.ts
  packages/vtable-plugins/demo/index.html
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/fillHandleUtils/autoFillHandle.ts
Labels: chore

docs: update changlog of rush
  common/changes/@visactor/vtable/feat-wps-fill-handle_2025-06-16-01-04.json
  packages/vtable-plugins/demo/header-highlight/(deprecated)header-highlight.ts
Labels: chore

docs: supplement disableDblclickAutoResizeColWidth guide
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
Labels: docs

fix: console log error
  packages/vtable-sheet/src/components/VTableSheet.ts
Labels: none

docs: generate changelog of release v1.19.0
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

feat(gantt): allow outerFrameStyle borderLineWidth array config
  packages/vtable-gantt/examples/gantt/gantt-try.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
Labels: none

chore: update change log
  docs/assets/changelog/zh/release.md
Labels: docs

chore: update github ci
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feaure_request.yml
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs, chore

feat(gantt): allow outerFrameStyle borderLineWidth array config
  packages/vtable-gantt/examples/gantt/gantt-try.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
Labels: none

fix(containerFit): the calculation of row heights and canvas draw range height
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/row-height-map.ts
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
Labels: vtable

chore: update gitnore file
  .gitignore
Labels: none

fix: 修复透视表多列树形表格行表头收起再重新展开后,getCellAddressByHeaderPaths方法获取行号不正确的问题
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-extension-row3.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

fix: copy not work when after copy tooltip text #3968
  packages/vtable/examples/index.html
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-copy-not-work-3968_2025-06-18-03-51.json
Labels: chore

build: prelease version 1.19.1-alpha.0
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix(containerFit): the calculation of col widths and canvas draw range width
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

fix: display configuration after cell icon loading failure
  packages/vtable/src/scenegraph/graphic/icon.ts
Labels: vtable

chore: update vrender 1.0.4 fix animation bug
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/core/animation.ts
Labels: vtable, chore

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-animation-error_2025-06-18-07-12.json
Labels: chore

fix: copy not work when after copy tooltip text #3968
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/tools/env.ts
Labels: vtable

chore: update vrender verison to fix animation bug
  .vscode/launch.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: group by boolean cannot render false
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: vtable

fix: fix the issue where the icon configuration is not effective when cellType is progressBar #4047
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

fix: fix the issue where the icon configuration is not effective when cellType is progressBar #4047
  packages/vtable/examples/list/list-cellType-progressBar.ts
  packages/vtable/examples/menu.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/processBar_2025-06-19-06-54.json
Labels: chore

build: prelease version 1.19.1-alpha.1
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix(gantt): gantt export image
  docs/assets/guide/en/plugin/gantt-export-image.md
  docs/assets/guide/zh/plugin/gantt-export-image.md
  packages/vtable-plugins/demo/gantt-export-image/gantt-export-image.ts
  packages/vtable-plugins/src/gantt-export-image.ts
Labels: docs

fix(gantt): gantt export image
  docs/assets/guide/en/plugin/gantt-export-image.md
Labels: docs

fix(gantt): gantt export image
  docs/assets/guide/en/plugin/gantt-export-image.md
Labels: docs

fix: size exceeds
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

fix: compatible with base class definitions
  packages/vtable/src/scenegraph/graphic/icon.ts
Labels: vtable

fix: fix avgAggregator logic bug, add pivot-analysis-updateTotalData demo
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-updateTotalData.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
Labels: vtable

Rename 3337-feat-add-containerFit_2025-06-13-06-29.jseaon to 3337-feat-add-containerFit_2025-06-13-06-29.json
  common/changes/@visactor/vtable/3337-feat-add-containerFit_2025-06-13-06-29.json
Labels: chore

feat: table series number plugin
  .vscode/launch.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/demo/index.html
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/style.css
  packages/vtable-plugins/demo/table-series-number/pivot-table-series-number.ts
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/demo/vite.config.js
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/animation.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, chore

docs: generate changelog of release v1.19.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs
