Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

docs: fix demo in theme doc
  docs/assets/guide/en/theme_and_style/theme.md
  docs/assets/guide/zh/theme_and_style/theme.md
Labels: docs

docs: add midscene guide
  docs/assets/guide/en/Developer_Ecology/midscene.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/Developer_Ecology/midscene.md
Labels: docs

docs: add midscene guide
  docs/assets/guide/en/Developer_Ecology/midscene.md
  docs/assets/guide/zh/Developer_Ecology/midscene.md
Labels: docs

fix: fix state sync in updateChildrenCheckboxState()
  packages/vtable/src/ListTable.ts
  packages/vtable/src/event/list-table/checkbox.ts
Labels: vtable

fix: fix hierarchy state in bindGroupTitleCheckboxChange()
  packages/vtable/src/event/list-table/checkbox.ts
Labels: vtable

build: prelease version 1.17.1-alpha.9
  common/config/rush/pnpm-lock.yaml
  common/config/rush/version-policies.json
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

fix: clickHeader cell drag Header order error #3492
  packages/vtable/src/state/select/update-position.ts
Labels: vtable

chore: update pnpm lock file
  common/config/rush/pnpm-lock.yaml
Labels: chore

perf(vue-vtable): change the cell renderer and editing renderer to use hooks, optimize rendering timing
  packages/vue-vtable/src/edit/editor.ts
  packages/vue-vtable/src/edit/util.ts
  packages/vue-vtable/src/hooks/index.ts
  packages/vue-vtable/src/hooks/useCellRender.ts
  packages/vue-vtable/src/hooks/useEditorRender.ts
  packages/vue-vtable/src/tables/base-table.vue
Labels: none

docs: generate changelog of release v1.17.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update change log for 1.17.1
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: custom container value error
  packages/vue-vtable/src/hooks/useCellRender.ts
Labels: none

fix: selection mergeCell extend range #3529
  packages/vtable/src/scenegraph/select/update-select-border.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3529-bug-selectionfillmode-replace-error_2025-03-10-08-42.json
Labels: chore

fix: selection mergeCell extend range #3529
  packages/vtable/src/state/select/update-position.ts
Labels: vtable

fix: selection mergeCell extend range #3529
  packages/vtable/src/state/select/update-position.ts
Labels: vtable

build: specify external dependencies
  packages/vue-vtable/bundler.config.js
Labels: bundler

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-vue-custom-component_2025-03-11-02-43.json
Labels: chore

docs: update changelog
  common/changes/@visactor/vtable/fix-vue-custom-component_2025-03-11-02-43.json
Labels: chore

build: prelease version 1.17.2-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

refactor: modify file structor
  packages/vtable-plugins/src/carousel-animation
  packages/vtable-plugins/src/header-highlight
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/invert-highlight
  packages/vtable-plugins/src/plugins
  packages/vtable-plugins/src/plus-row-column
  packages/vtable-plugins/src/plus-row-column.ts
  packages/vtable/src/body-helper/style.ts
  packages/vtable/src/chartModule.ts
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/header-helper/style.ts
  packages/vtable/src/icons.ts
  packages/vtable/src/plugins/chartModules.ts
  packages/vtable/src/plugins/icons.ts
  packages/vtable/src/register.ts
  packages/vtable/src/themes.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/themes/themes.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

chore: add external dependencies
  packages/vue-vtable/bundler.config.js
Labels: bundler

docs: generate changelog of release v1.17.2
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

fix: columnWidthConfig match dimension error
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-getCellPath_api_2025-03-11-10-06.json
Labels: chore

fix: fix viewbox update problem
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

feat: add boolean return in scroll event callback
  packages/vtable/examples/interactive/custom-scroll.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

fix: getCellAdressByHeaderPath api
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

docs: translate change log
  docs/assets/changelog/zh/release.md
Labels: docs

docs: add icon info in setLoadingHierarchyState
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
Labels: docs

fix: getCellAdressByHeaderPath api
  packages/vtable/examples/pivot/pivot-extension-row.ts
  packages/vtable/examples/pivot/pivot-tree-lazy-load.ts
Labels: vtable

docs: update changelog
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
Labels: docs

docs: update vue-vtable custom dom demo
  docs/assets/demo-vue/en/custom-layout/cell-dom-component.md
  docs/assets/demo-vue/zh/custom-layout/cell-dom-component.md
Labels: docs

docs: update vue-vtable custom dom demo
  docs/assets/demo-vue/en/custom-layout/cell-dom-component.md
  docs/assets/demo-vue/zh/custom-layout/cell-dom-component.md
Labels: docs

feat: add getCellPivotRole in PivotTable
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/common.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

fix: fix type error
  packages/vtable/src/PivotTable.ts
Labels: vtable

build: prelease version 1.17.3-alpha.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: add custom reactAttributePlugin in react-vtable
  common/changes/@visactor/vtable/feat-custom-react-plugin_2025-03-12-08-14.json
  packages/react-vtable/demo/src/component/custom-layout-dom-site-1.tsx
  packages/react-vtable/src/table-components/index.ts
  packages/react-vtable/src/tables/base-table.tsx
Labels: react-vtable, chore

build: prelease version 1.17.3-alpha.1
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
  tools/bugserver-trigger/package.json
Labels: vtable, react-vtable, openinula-vtable, docs, chore

feat: rowSeriesNumber support cell type radio #3558
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
