Repository VisActor/VTable, changes with the labels that .github/labeler.yml gives for each.
All labels: vtable, react-vtable, openinula-vtable, test, docs, eslint, jest, typescript, bundler, chore

feat: add support for text not to be hidden
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

revert: logic for calculating column width before restoration
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/self-event-listener/base-table/dbclick-auto-column-width.ts
Labels: vtable

feat: add support for text not to be hidden
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
Labels: none

fix: supplement adaptive widthAdaptiveMode logic #3796
  packages/vtable/examples/cell-move/column-move.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

docs: update changlog of rush
  common/changes/@visactor/vtable/3796-bug-adaptive-with-setting-maxwidth_2025-04-25-08-53.json
Labels: chore

feat: add gantt/minDate and maxDate default value rules #3799
  packages/vtable-gantt/examples/gantt/gantt-default-minDate-maxDate.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/tools/util.ts
Labels: none

feat: add gantt/minDate and maxDate default value rules #3799
  packages/vtable-gantt/examples/gantt/gantt-default-minDate-maxDate.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

feat: add support for text not to be hidden
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

feat: add support for text not to be hidden
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
Labels: none

feat: add support for text not to be hidden
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

docs: update changlog of rush
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
Labels: none

feat: add support for text not to be hidden
  common/changes/@visactor/vtable/feature-text-fix_2025-04-25-13-09.json
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
Labels: chore

feat: add support for text not to be hidden
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: add milestone text
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/feature-milestoneText_2025-04-27-03-18.json
Labels: chore

fix: Resolved the issue of missing default values for gannt/minDate and gannt/maxDate. #3799
  packages/vtable-gantt/examples/gantt/gantt-default-minDate-maxDate.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/data/DataSource.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

fix: Resolved the issue of missing default values for gannt/minDate and gannt/maxDate. #3799
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

fix: Resolved the issue of missing default values for gannt/minDate and gannt/maxDate. #3799
  packages/vtable-gantt/examples/gantt/gantt-default-minDate-maxDate.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: none

fix: update option keep data
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/ListTable.ts
Labels: vtable, docs

feat: add milestone text
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: none

feat: add milestone text
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: none

feat: add configuration to display aggregation result when data is empty
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable, docs

feat: add milestone text
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: add milestone text
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

feat: add milestone text
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

docs: add trae guid
  docs/assets/guide/menu.json
Labels: docs

feat: add support for text not to be hidden
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: none

fix: cancel rotate api
  packages/vtable-plugins/demo/rotate-table/rotate-table.ts
  packages/vtable-plugins/src/rotate-table.ts
Labels: none

feat: add support for text not to be hidden
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: none

feat: add support for text not to be hidden
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: none

fix: transform rotate api
  packages/vtable-plugins/demo/index.html
  packages/vtable-plugins/src/rotate-table.ts
Labels: none

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-cancelTransform_2025-04-29-02-11.json
Labels: chore

chore: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: vtable, chore

fix: click_cell trigger time and select cell when touch
  packages/vtable-plugins/src/rotate-table.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/listener/touch.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

feat: add support for text not to be hidden
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

feat: add support for text not to be hidden
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: none

feat: add support for text not to be hidden
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
Labels: none

feat: add support for text not to be hidden
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: none

fix: after rotate resize column interaction error
  docs/assets/guide/en/plugin/rotate-table.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/rotate-table.md
  docs/assets/guide/zh/plugin/usage.md
  packages/vtable-plugins/demo/rotate-table/rotate-table.ts
  packages/vtable-plugins/demo/style.css
  packages/vtable-plugins/src/rotate-table.ts
  packages/vtable/src/components/menu/dom/MenuHandler.ts
  packages/vtable/src/components/tooltip/TooltipHandler.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/listener/touch.ts
  packages/vtable/src/plugins/plugin-manager.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable, docs

docs: update changlog of rush
  common/changes/@visactor/vtable/fix-cancelTransform_2025-04-30-08-40.json
Labels: chore

.github/labeler.yml:

# Add 'vtable' label to any change within the 'vtable' package
vtable:
  - packages/vtable/**

# Add 'react-vtable' label to any change within the 'react-vtable' package
react-vtable:
  - packages/react-vtable/**

# Add 'openinula-vtable' label to any change within the 'openinula-vtable' package
openinula-vtable:
  - packages/openinula-vtable/**

# Add 'test' label to any change to packages/*/__tests__/* files within the source dir
test:
  - packages/*/__tests__/*

# Add 'docs' label to any change to docs/ files within the source dir
docs:
  - docs/**

# Add 'eslint' label to any change to eslint files within the source dir
eslint:
  - share/eslint-config/**
  - packages/*/.eslintrc.js

# Add 'jest' label to any change to jest files within the source dir
jest:
  - share/jest-config/**
  - packages/*/jest.config.js

# Add 'typescript' label to any change to tsconfig files within the source dir
typescript:
  - share/ts-config/**
  - packages/*/tsconfig.json
  - packages/*/tsconfig.eslint.json

# Add 'bundler' label to any change to tools/bunder/** files within the source dir
bundler:
  - tools/bundler/**
  - packages/*/bundler.config.js

# Add 'chore' label to any change to common/** files within the source dir
chore:
  - common/**
  - .github/**
  - .vscode/**
