Repository VisActor/VTable, pull requests merged in 2023-11, with the labels that each got.

#501 chore: remove canvas dependence
  packages/vtable/examples/list/list-more-columns.ts
  packages/vtable/examples/menu.ts
  packages/vtable/package.json
Labels: core

#504 503 bug axis label sort not right
  common/changes/@visactor/vtable/503-bug-axis-label-sort-not-right_2023-11-01-04-03.json
  packages/vtable/__tests__/pivotChart.test.ts
  packages/vtable/src/dataset/dataset.ts
Labels: core, chore, test

#442 Feat/list perf
  packages/vtable/examples/list/list.ts
  packages/vtable/src/scenegraph/graphic/group.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core

#511 fix: fix adaptive size progress
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-aeolus-large-column.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: core

#494 fix: fix column move display problem
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/cell-move/column.ts
  packages/vtable/package.json
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: core, chore

#520 fix: fix problem in selected config
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
Labels: core

#515 478 refactor up out size select save
  common/changes/@visactor/vtable/478-refactor-upOutSize-select-save_2023-11-03-07-02.json
  common/changes/@visactor/vtable/478-refactor-upOutSize-select-save_2023-11-03-08-11.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list-transpose.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: core, chore, docs

#521 fix: fix stack defalut judgement
  packages/vtable/src/PivotChart.ts
Labels: core

#466 feat: add decodeReactDom for react jsx customLayout
  common/changes/@visactor/vtable/feat-decode-for-react_2023-10-26-02-58.json
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: core, chore

#523 refactor: rename dropdown_menu_click
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/demo/en/component/dropdown.md
  docs/assets/demo/en/interaction/context-menu.md
  docs/assets/demo/zh/component/dropdown.md
  docs/assets/demo/zh/interaction/context-menu.md
  docs/assets/guide/en/Event/event_list.md
  docs/assets/guide/zh/Event/event_list.md
  docs/assets/option/en/register/theme.md
  docs/assets/option/zh/register/theme.md
  packages/vtable/examples/custom-layout-jsx/pivot-jsx.tsx
  packages/vtable/src/components/menu/dom/logic/MenuContainer.ts
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/scenegraph/component/menu.ts
  packages/vtable/src/ts-types/events.ts
Labels: core, docs

#525 fix: fix frozen shadow update in tree mode
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core

#528 chore: add change log
  common/changes/@visactor/vtable/525-bug-axis-label-sort-not-right_2023-11-01-04-03.json
Labels: chore

#532 Fix drag select
  common/changes/@visactor/vtable/fix_drag_select_2023-11-04-05-19.json
  common/changes/@visactor/vtable/fix_drag_select_2023-11-06-03-50.json
  common/changes/@visactor/vtable/fix_drag_select_2023-11-06-11-00.json
  packages/vtable/examples/list/list.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/components/menu/dom/logic/MenuElementStyle.ts
  packages/vtable/src/components/tooltip/logic/BubbleTooltipElementStyle.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/style.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/group-creater/init-scenegraph.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/select/create-select-border.ts
  packages/vtable/src/scenegraph/select/delete-select-border.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: core, chore

#538 535 feature overscroll behavior
  common/changes/@visactor/vtable/535-feature-overscroll-behavior_2023-11-07-08-51.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/touch.ts
  packages/vtable/src/event/scroll.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, chore, docs

#541 fix:[doc]Translate the comments into English
  docs/assets/demo/en/data-analysis/pivot-analysis-aggregation.md
Labels: demo

#542 Main
  common/changes/@visactor/vtable/535-feature-overscroll-behavior_2023-11-07-08-51.json
  common/changes/@visactor/vtable/fix_drag_select_2023-11-04-05-19.json
  common/changes/@visactor/vtable/fix_drag_select_2023-11-06-03-50.json
  common/changes/@visactor/vtable/fix_drag_select_2023-11-06-11-00.json
  docs/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: core, chore, docs

#540 Faq
  docs/assets/faq/en/20-How to use VTable in Vue.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/20-How to use VTable in Vue.md
  docs/assets/guide/en/cross-terminal_and_Developer_Ecology/vue.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/cross-terminal_and_Developer_Ecology/vue.md
  docs/public/vtable/faq/20-0.png
Labels: docs

#545 Faq
  docs/assets/faq/en/20-How to use VTable in Vue.md
  docs/assets/faq/zh/20-How to use VTable in Vue.md
  docs/assets/guide/en/cross-terminal_and_Developer_Ecology/vue.md
  docs/assets/guide/zh/cross-terminal_and_Developer_Ecology/vue.md
Labels: docs

#547 Docs/faq
  docs/assets/faq/en/20-How to use VTable in Vue.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/20-How to use VTable in Vue.md
  docs/assets/faq/zh/7-How to improve the performance of rendering a large number of charts in a web page.md
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/Developer_Ecology/vue.md
Labels: docs

#546 fix: dblclick header trigger dragheader
  packages/vtable/src/state/cell-move/index.ts
Labels: core

#536 Fix/axis tick count
  common/changes/@visactor/vtable/fix-axis-tickCount_2023-11-06-13-04.json
  packages/vtable/__tests__/layout/get-data-cell-path.test.ts
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
  packages/vtable/__tests__/pivotChart.test.ts
  packages/vtable/__tests__/pivotTable-tree.test.ts
  packages/vtable/__tests__/pivotTable.test.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/examples/pivot-chart/bugserver.ts
  packages/vtable/nodejs/index.ts
  packages/vtable/nodejs/pivot-chart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/components/axis/get-axis-attributes.ts
  packages/vtable/src/components/legend/continue-legend/continue-legend.ts
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
  packages/vtable/src/components/title/title.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-axis-domain.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/chart-helper/zero-align.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/ts-types/common.ts
Labels: core, chore, test

#496 feat: add checkbox style config
  docs/assets/option/en/column/checkbox-column-type.md
  docs/assets/option/zh/column/checkbox-column-type.md
  packages/vtable/examples/type/checkbox.ts
  packages/vtable/src/body-helper/style/CheckboxStyle.ts
  packages/vtable/src/header-helper/style/CheckboxStyle.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/tools/util.ts
  packages/vtable/src/ts-types/column/style.ts
Labels: core, docs

#550 Merge develop into dev/0.14.0
  common/changes/@visactor/vtable/fix-axis-tickCount_2023-11-06-13-04.json
  packages/vtable/__tests__/layout/get-data-cell-path.test.ts
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
  packages/vtable/__tests__/pivotChart.test.ts
  packages/vtable/__tests__/pivotTable-tree.test.ts
  packages/vtable/__tests__/pivotTable.test.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/examples/pivot-chart/bugserver.ts
  packages/vtable/nodejs/index.ts
  packages/vtable/nodejs/pivot-chart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/components/axis/get-axis-attributes.ts
  packages/vtable/src/components/legend/continue-legend/continue-legend.ts
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
  packages/vtable/src/components/title/title.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-axis-domain.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/chart-helper/zero-align.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/ts-types/common.ts
Labels: core, chore, test

#464 Feat/merge cell refactor
  common/changes/@visactor/vtable/feat-merge-cell-refactor_2023-10-25-08-25.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo/en/basic-functionality/custom-merge.md
  docs/assets/demo/en/basic-functionality/merge.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/basic-functionality/custom-merge.md
  docs/assets/demo/zh/basic-functionality/merge.md
  docs/assets/guide/en/basic_function/merge_cell.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/basic_function/merge_cell.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  docs/package.json
  packages/vtable/examples/list/list-merge-cell.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/bugserver.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/graphic/group.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/header-icon/layout.ts
  packages/vtable/src/scenegraph/hover-state.ts
  packages/vtable/src/scenegraph/icon/icon-update.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/move-cell.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/stick-text/index.ts
  packages/vtable/src/scenegraph/utils/is-merge-cell-group.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/state/hover/is-cell-hover.ts
  packages/vtable/src/state/hover/update-cell.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: core, chore, docs

#486 add usage trend of the package
  README.md
  README.zh-CN.md
  packages/vtable/package.json
Labels: core

#557 refactor: when drag to canvas blank area to end select #556
  packages/vtable/src/event/listener/table-group.ts
Labels: core

#561 Main
  common/changes/@visactor/vtable/556-refactor-clickTableBlankArea-cancelSelect_2023-11-13-12-02.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: core, chore

#562 develop merge to dev/0.15.0
  README.md
  README.zh-CN.md
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vtable/src/event/listener/table-group.ts
Labels: core

#573 572 bug row header select bound wrong
  common/changes/@visactor/vtable/572-bug-row-header-select-bound-wrong_2023-11-15-10-19.json
  packages/vtable/src/scenegraph/select/update-select-border.ts
Labels: core, chore

#563 551 feature copy event
  common/changes/@visactor/vtable/551-feature-copy-event_2023-11-14-06-58.json
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/guide/en/Event/event_list.md
  docs/assets/guide/en/interaction/select.md
  docs/assets/guide/zh/Event/event_list.md
  docs/assets/guide/zh/interaction/select.md
  packages/vtable/examples/cell-move/pivot.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/ts-types/events.ts
Labels: core, chore, docs

#569 Fix/fix tree auto height
  common/changes/@visactor/vtable/fix-fix-tree-autoHeight_2023-11-16-04-16.json
  docs/assets/demo/en/custom-render/custom-cell-layout-jsx.md
  docs/assets/demo/en/custom-render/custom-cell-layout.md
  docs/assets/demo/zh/custom-render/custom-cell-layout-jsx.md
  docs/assets/demo/zh/custom-render/custom-cell-layout.md
  packages/vtable/examples/pivot/pivot-extension-row2.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, chore, docs

#578 Fix border clip
  common/changes/@visactor/vtable/572-bug-row-header-select-bound-wrong_2023-11-15-10-19.json
  common/changes/@visactor/vtable/fix_border_clip_2023-11-16-07-15.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-extension-bp.ts
  packages/vtable/package.json
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
Labels: core, chore

#580 develop merge to dev/0.15.0
  docs/assets/demo/en/custom-render/custom-cell-layout-jsx.md
  docs/assets/demo/en/custom-render/custom-cell-layout.md
  docs/assets/demo/zh/custom-render/custom-cell-layout-jsx.md
  docs/assets/demo/zh/custom-render/custom-cell-layout.md
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/examples/pivot/pivot-extension-row2.ts
  packages/vtable/package.json
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, docs

#576 Fix border clip
  common/changes/@visactor/vtable/fix_border_clip_2023-11-16-07-15.json
  docs/assets/guide/en/custom_define/custom_render.md
  docs/assets/guide/zh/custom_define/custom_render.md
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-extension-bp.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
Labels: core, chore, docs

#571 570 refactor add dpr argument when init vchart
  common/changes/@visactor/vtable/570-refactor-add-dpr-argument-when-init-vchart_2023-11-15-09-54.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
Labels: core, chore

#581 refactor: dblclick auto compute col width #579
  common/changes/@visactor/vtable/579-refactor-dblclick-force-compute-col-width_2023-11-16-11-55.json
  packages/vtable/__tests__/listTable-1W.test.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: core, chore, test

#585 merge
  common/changes/@visactor/vtable/570-refactor-add-dpr-argument-when-init-vchart_2023-11-15-09-54.json
  common/changes/@visactor/vtable/fix_border_clip_2023-11-16-07-15.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/custom_define/custom_render.md
  docs/assets/guide/zh/custom_define/custom_render.md
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-extension-bp.ts
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
Labels: core, chore, docs

#583 Fix/fix tree auto height
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/pivot/pivot-extension-bp.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/render/layout/line.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/context/canvas.ts
  packages/vtable/src/scenegraph/context/context.ts
  packages/vtable/src/scenegraph/context/module.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/utils/text-measure.ts
Labels: core, chore

#592 590 feature add column with min limit
  common/changes/@visactor/vtable/590-feature-add-column-with-min-limit_2023-11-18-13-36.json
  docs/assets/demo/en/basic-functionality/custom-merge.md
  docs/assets/demo/zh/basic-functionality/custom-merge.md
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list-transpose.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/resize/update-resize-column.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, chore, docs

#597 596 bug fix cell position mismatch problems when bodyrowcount0
  common/changes/@visactor/vtable/596-bug-fix-cell-position-mismatch-problems-when-bodyrowcount0_2023-11-20-08-22.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
Labels: core, chore

#599 add list-editor for vtable-editors
  packages/vtable-editors/src/list-editor.ts
  packages/vtable/examples/editor/custom-date-editor.ts
Labels: core

#601 refactor: update vrender version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: core, chore

#603 565 feat add api gettreehierarchystate
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/data/data_format.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/data/data_format.md
  packages/vtable/__tests__/components/pivotTable-size-legend.test.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-setRecords.ts
  packages/vtable/examples/pivot-chart/pivotChart-setRecords.ts
  packages/vtable/examples/pivot/pivot-basic-setRecords.ts
  packages/vtable/examples/pivot/pivot-different-dimension-setRecords.ts
  packages/vtable/examples/pivot/pivot.ts
  packages/vtable/examples/unit-test-demo/pivotTable-size-legend.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/pivot-layout-helper.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: core, docs

#589 Fix/update cell content
  common/changes/@visactor/vtable/fix-update-cell-content_2023-11-17-09-25.json
  common/changes/@visactor/vtable/fix-update-cell-content_2023-11-20-07-03.json
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
  packages/vtable/examples/list/list-large-columns.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/layout/frozen.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core, chore

#608 feat: update icon hide&show
  common/changes/@visactor/vtable/fix-update-cell-content_2023-11-17-09-25.json
  common/changes/@visactor/vtable/fix-update-cell-content_2023-11-20-07-03.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
  packages/vtable/examples/list/list-large-columns.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/package.json
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/icon/icon-update.ts
  packages/vtable/src/scenegraph/layout/frozen.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core, chore

#610 Fix/fs 0.14.0
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: core

#613 merge develop
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: core

#632 Fix/bug fix 0.15.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/react-vtable/package.json
  packages/vtable/examples/debug/aeolus.ts
  packages/vtable/examples/debug/bugserver.ts
  packages/vtable/examples/debug/site.ts
  packages/vtable/examples/list/list-data-promise.ts
  packages/vtable/examples/list/list-title.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/bugserver.ts
  packages/vtable/package.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/move-cell.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/tools/util.ts
Labels: core, chore, docs

#642 Fix/bug fix 0.15.1
  common/changes/@visactor/vtable/fix-bug-fix-0.15.1_2023-11-29-08-52.json
  packages/vtable/examples/list/list-merge-cell.ts
  packages/vtable/examples/type/checkbox.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
Labels: core, chore

#653 Merge main into develop
  common/changes/@visactor/vtable/fix-bug-fix-0.15.1_2023-11-29-08-52.json
  common/config/rush/version-policies.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: core, chore
