Repository VisActor/VTable, pull requests merged in 2023-07, with the labels that each got.

#90 Demo/81 add demo to express product roadmap
  common/changes/@visactor/vtable/demo-81-add-demo-to-express-product-raodmap_2023-06-30-12-20.json
  common/changes/@visactor/vtable/demo-81-add-demo-to-express-product-raodmap_2023-07-02-12-29.json
  packages/vtable/examples/business/roadmap.ts
  packages/vtable/examples/menu.ts
  packages/vtable/site-demo/business/roadmap.md
  packages/vtable/site-demo/menu.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/customElement.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
Labels: core, chore

#93 docs: add demo
  packages/vtable/examples/business/multiple-table.ts
  packages/vtable/examples/menu.ts
Labels: core

#92 feat: set tableGroup xy before cell create
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/style/frame-border.ts
Labels: core

#96 fix: fix column resize error when frozen column
  packages/vtable/src/scenegraph/layout/frozen.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core

#94 Pre release/0.9.1 alpha.5
  packages/vtable/package.json
Labels: core

#99 Fix/table group border
  packages/vtable/src/scenegraph/layout/frozen.ts
  packages/vtable/src/scenegraph/style/frame-border.ts
Labels: core

#105 docs: update all demo as needed format
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/site-demo/basic-functionality/auto-wrap-text.md
  packages/vtable/site-demo/basic-functionality/frozen-col.md
  packages/vtable/site-demo/basic-functionality/merge.md
  packages/vtable/site-demo/basic-functionality/sort.md
  packages/vtable/site-demo/basic-functionality/width-mode-adaptive.md
  packages/vtable/site-demo/basic-functionality/width-mode-autoWidth.md
  packages/vtable/site-demo/business/color-level.md
  packages/vtable/site-demo/business/project-schedule.md
  packages/vtable/site-demo/business/ranking.md
  packages/vtable/site-demo/business/roadmap.md
  packages/vtable/site-demo/business/temperature-trend.md
  packages/vtable/site-demo/business/trend.md
  packages/vtable/site-demo/cell-type/chart.md
  packages/vtable/site-demo/cell-type/multi-type.md
  packages/vtable/site-demo/cell-type/progressbar.md
  packages/vtable/site-demo/component/dropdown.md
  packages/vtable/site-demo/component/scrollbar.md
  packages/vtable/site-demo/component/tooltip.md
  packages/vtable/site-demo/custom-render/custom-cell-layout.md
  packages/vtable/site-demo/custom-render/custom-icon.md
  packages/vtable/site-demo/custom-render/custom-render-global.md
  packages/vtable/site-demo/custom-render/custom-render.md
  packages/vtable/site-demo/interaction/context-menu.md
  packages/vtable/site-demo/interaction/hover-inline-cross.md
  packages/vtable/site-demo/interaction/hover-inline-row.md
  packages/vtable/site-demo/interaction/move-header-position.md
  packages/vtable/site-demo/interaction/resize-col-width.md
  packages/vtable/site-demo/interaction/select.md
  packages/vtable/site-demo/main.ts
  packages/vtable/site-demo/menu.ts
  packages/vtable/site-demo/performance/100W.md
  packages/vtable/site-demo/removeExample.js
  packages/vtable/site-demo/style/style.md
  packages/vtable/site-demo/table-type/list-table-tree.md
  packages/vtable/site-demo/table-type/list-table.md
  packages/vtable/site-demo/table-type/pivot-table-tree.md
  packages/vtable/site-demo/table-type/pivot-table.md
  packages/vtable/site-demo/table-type/transpose-table.md
  packages/vtable/site-demo/theme/arco.md
  packages/vtable/site-demo/theme/bright.md
  packages/vtable/site-demo/theme/custom.md
  packages/vtable/site-demo/theme/dark.md
  packages/vtable/site-demo/theme/default.md
  packages/vtable/site-demo/theme/extend.md
  packages/vtable/site-demo/theme/register.md
  packages/vtable/site-demo/theme/simplify.md
  packages/vtable/site-demo/upload.js
Labels: core, chore

#108 103 operation simplify the demo in readme
  README.md
  README.zh-CN.md
  common/autoinstallers/lint/commitlint.config.js
Labels: chore

#107 feat: add container background in custom-layout
  packages/vtable/examples/custom/custom-layout.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/style.css
  packages/vtable/src/render/layout/container.ts
Labels: core

#127 chore: change bundler config
  tools/bundler/src/logic/babel.config.ts
  tools/bundler/src/logic/rollup.config.ts
  tools/bundler/src/tasks/umd.ts
Labels: bundler

#129 Feat/116 handle with indicator in rowheader for pivotchart
  common/changes/@visactor/vtable/feat-116-handle-with-indicator-in-rowheader-for-pivotchart_2023-07-10-10-26.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/list/list-chart.ts
  packages/vtable/examples/menu.ts
  packages/vtable/package.json
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/pivot-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
Labels: core, chore

#130 merge develop to feat branch
  common/changes/@visactor/vtable/feat-116-handle-with-indicator-in-rowheader-for-pivotchart_2023-07-10-10-26.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/list/list-chart.ts
  packages/vtable/examples/menu.ts
  packages/vtable/package.json
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/pivot-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
Labels: core, chore

#138 134 demo add tutorial url to demo
  packages/vtable/site-demo/basic-functionality/auto-wrap-text.md
  packages/vtable/site-demo/basic-functionality/frozen-col.md
  packages/vtable/site-demo/basic-functionality/sort.md
  packages/vtable/site-demo/basic-functionality/width-mode-adaptive.md
  packages/vtable/site-demo/basic-functionality/width-mode-autoWidth.md
  packages/vtable/site-demo/cell-type/multi-type.md
  packages/vtable/site-demo/cell-type/progressbar.md
  packages/vtable/site-demo/component/scrollbar.md
  packages/vtable/site-demo/custom-render/custom-cell-layout.md
  packages/vtable/site-demo/custom-render/custom-icon.md
  packages/vtable/site-demo/custom-render/custom-render-global.md
  packages/vtable/site-demo/custom-render/custom-render.md
  packages/vtable/site-demo/interaction/hover-inline-cross.md
  packages/vtable/site-demo/interaction/hover-inline-row.md
  packages/vtable/site-demo/interaction/move-header-position.md
  packages/vtable/site-demo/interaction/resize-col-width.md
  packages/vtable/site-demo/interaction/select.md
  packages/vtable/site-demo/style/style.md
  packages/vtable/site-demo/table-type/list-table-tree.md
  packages/vtable/site-demo/table-type/list-table.md
  packages/vtable/site-demo/table-type/pivot-table-tree.md
  packages/vtable/site-demo/table-type/pivot-table.md
  packages/vtable/site-demo/table-type/transpose-table.md
  packages/vtable/site-demo/theme/arco.md
  packages/vtable/site-demo/theme/bright.md
  packages/vtable/site-demo/theme/custom.md
  packages/vtable/site-demo/theme/dark.md
  packages/vtable/site-demo/theme/default.md
  packages/vtable/site-demo/theme/extend.md
  packages/vtable/site-demo/theme/register.md
  packages/vtable/site-demo/theme/simplify.md
Labels: core

#139 sync from develop to pivot_chart branch
  packages/vtable/examples/style/function.ts
  packages/vtable/site-demo/basic-functionality/auto-wrap-text.md
  packages/vtable/site-demo/basic-functionality/frozen-col.md
  packages/vtable/site-demo/basic-functionality/sort.md
  packages/vtable/site-demo/basic-functionality/width-mode-adaptive.md
  packages/vtable/site-demo/basic-functionality/width-mode-autoWidth.md
  packages/vtable/site-demo/cell-type/multi-type.md
  packages/vtable/site-demo/cell-type/progressbar.md
  packages/vtable/site-demo/component/scrollbar.md
  packages/vtable/site-demo/custom-render/custom-cell-layout.md
  packages/vtable/site-demo/custom-render/custom-icon.md
  packages/vtable/site-demo/custom-render/custom-render-global.md
  packages/vtable/site-demo/custom-render/custom-render.md
  packages/vtable/site-demo/interaction/hover-inline-cross.md
  packages/vtable/site-demo/interaction/hover-inline-row.md
  packages/vtable/site-demo/interaction/move-header-position.md
  packages/vtable/site-demo/interaction/resize-col-width.md
  packages/vtable/site-demo/interaction/select.md
  packages/vtable/site-demo/style/style.md
  packages/vtable/site-demo/table-type/list-table-tree.md
  packages/vtable/site-demo/table-type/list-table.md
  packages/vtable/site-demo/table-type/pivot-table-tree.md
  packages/vtable/site-demo/table-type/pivot-table.md
  packages/vtable/site-demo/table-type/transpose-table.md
  packages/vtable/site-demo/theme/arco.md
  packages/vtable/site-demo/theme/bright.md
  packages/vtable/site-demo/theme/custom.md
  packages/vtable/site-demo/theme/dark.md
  packages/vtable/site-demo/theme/default.md
  packages/vtable/site-demo/theme/extend.md
  packages/vtable/site-demo/theme/register.md
  packages/vtable/site-demo/theme/simplify.md
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core

#140 Feat/117 expose chart event
  common/changes/@visactor/vtable/feat-117-expose-chart-event_2023-07-17-08-49.json
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/layout/pivot-layout.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/ts-types/new-data-set.ts
Labels: core, chore

#144 feat: handle legend event to reset chart
  common/changes/@visactor/vtable/feat-141-legend-with-pivot-chart_2023-07-18-06-08.json
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-legend.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/components/legend/legend.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/dataset/statistics-helper.ts
  packages/vtable/src/layout/pivot-layout.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
Labels: core, chore

#142 Feat/forzen right bottom
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-frozen.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/pivot-layout.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: core

#149 Refactor/145 test performance of pivot chart
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivot-option.json
  packages/vtable/examples/pivot-chart/pivotChart-3W.ts
  packages/vtable/examples/pivot-chart/pivotChart-column.ts
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/examples/pivot-chart/spec.json
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
Labels: core

#154 feat: add title option
  packages/vtable/examples/list/list-title.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/components/legend/legend.ts
  packages/vtable/src/components/title/title.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/component/title.ts
Labels: core

#164 Pre release/0.9.2 alpha.3
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/index.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
Labels: core, chore

#173 160 demo modify demo description to english
  packages/vtable/site-demo/business/color-level.md
  packages/vtable/site-demo/business/project-schedule.md
  packages/vtable/site-demo/business/ranking.md
  packages/vtable/site-demo/business/temperature-trend.md
  packages/vtable/site-demo/business/trend.md
  packages/vtable/site-demo/cell-type/multi-type.md
  packages/vtable/site-demo/custom-render/custom-cell-layout.md
  packages/vtable/site-demo/custom-render/custom-render-global.md
  packages/vtable/site-demo/custom-render/custom-render.md
Labels: core

#178 Main
  .github/workflows/release.yml
  common/changes/@visactor/vtable/feat-116-handle-with-indicator-in-rowheader-for-pivotchart_2023-07-10-10-26.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: core, chore

#177 [merge] merge develop to pivot_chart
  .github/workflows/release.yml
  common/changes/@visactor/vtable/feat-116-handle-with-indicator-in-rowheader-for-pivotchart_2023-07-10-10-26.json
  packages/vtable/.eslintrc.js
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/github-ci.js
  packages/vtable/package.json
  packages/vtable/scripts/trigger-test.ts
  packages/vtable/site-demo/business/color-level.md
  packages/vtable/site-demo/business/project-schedule.md
  packages/vtable/site-demo/business/ranking.md
  packages/vtable/site-demo/business/temperature-trend.md
  packages/vtable/site-demo/business/trend.md
  packages/vtable/site-demo/cell-type/multi-type.md
  packages/vtable/site-demo/custom-render/custom-cell-layout.md
  packages/vtable/site-demo/custom-render/custom-render-global.md
  packages/vtable/site-demo/custom-render/custom-render.md
  packages/vtable/site-demo/vite.config.js
  packages/vtable/src/event/scroll.ts
  packages/vtable/src/render/layout/text.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/ts-types/customElement.ts
Labels: core, chore, eslint

#184 Feat/pivot chart axis
  packages/vtable/examples/pivot-chart/pivotChart-3W.ts
  packages/vtable/examples/pivot-chart/pivotChart-axis.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core

#186 Refactor/185 use barwidth to compute chart column width
  common/changes/@visactor/vtable/185-refactor-barwidth-compute-chart-column-width_2023-07-31-11-49.json
  packages/vtable/__tests__/pivotChart.test.ts
  packages/vtable/examples/pivot-chart/pivotChart_site_demo.ts
  packages/vtable/src/layout/pivot-layout.ts
Labels: core, chore, test
