Repository VisActor/VTable, pull requests merged in 2023-08, with the labels that each got.

#188 Feat/pivot chart axis
  packages/vtable/src/layout/pivot-layout.ts
  packages/vtable/src/state/hover/is-cell-hover.ts
Labels: core

#190 Feat/pivot chart axis
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: core

#191 Fix/189 use updateOption can‘t modify hover highlight mode correctly
  common/changes/@visactor/vtable/189-bug-indicators-set-first-indicator-spec-width-series-data-filter-error_2023-08-01-11-02.json
  packages/vtable/src/state/state.ts
Labels: core, chore

#192 refactor/187 when widthmode setted adaptive, recompute body column to adaptive lefted container space
  common/changes/@visactor/vtable/187-refactor-widthmode-set-adaptive-compute-body-column-to-adaptive-lefted-container-space_2023-08-01-12-23.json
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-adaptive.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core, chore

#197 refactor/196 refactor compute optimize height for chart by axis tick count
  common/changes/@visactor/vtable/196-refactor-compute-optimize-height-for-chart-by-axis-tick-count_2023-08-03-08-49.json
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-horizontal.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/pivot-layout.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core, chore, test, jest

#199 Feat/pivot chart axis
  common/config/rush/pnpm-lock.yaml
  packages/vtable/__tests__/pivotChart.test.ts
  packages/vtable/examples/pivot-chart/horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart-3W.ts
  packages/vtable/examples/unit-test-demo/unitTestPivotChart.ts
  packages/vtable/package.json
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
Labels: core, chore, test

#201 feat: records support format Record<string, any[]> groupby indicator …
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-records.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: core

#206 88 refactor logic for icon interactive setting
  packages/vtable/examples/business/roadmap.ts
  packages/vtable/examples/type/image.ts
  packages/vtable/site-demo/business/roadmap.md
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: core

#207 refactor: double click resize column line should compute column width…
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/ts-types/events.ts
Labels: core

#202 feat: add basic axis component auto width function
  packages/vtable/examples/pivot-chart/pivotChart-3W.ts
  packages/vtable/examples/pivot-chart/pivotChart-adaptive.ts
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/components/axis/get-axis-component-size.ts
  packages/vtable/src/components/axis/linear-scale.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/pivot-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/component/axis.ts
Labels: core

#211 fix: fix scroll update in autoWidth mode
  packages/vtable/examples/list/list-100w.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/update-auto-row.ts
Labels: core

#213 212 fix bugs for pivotchart
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/vite.config.js
  packages/vtable/package.json
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/components/legend/get-legend-attributes.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: core, chore

#214 Fix/fix axis fs
  packages/vtable/examples/fs/update-option.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-axis.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/components/axis/get-axis-attributes.ts
  packages/vtable/src/components/axis/get-axis-component-size.ts
  packages/vtable/src/components/legend/legend.ts
  packages/vtable/src/components/title/title.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core

#210 refactor: optimize compute row height performance and measure text wi…
  packages/vtable/examples/business/testPerformanceMoreColumn.ts
  packages/vtable/examples/main.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/style.css
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/components/axis/get-axis-component-size.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/scroll-bar.ts
  packages/vtable/src/event/scroll.ts
  packages/vtable/src/render/layout/text.ts
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/text.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/measure-text.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core

#218 216 refactor optimize chart render performance
  common/config/rush/pnpm-lock.yaml
  packages/vtable/__tests__/pivotChart.test.ts
  packages/vtable/examples/business/testPerformanceMoreColumn.ts
  packages/vtable/examples/pivot-chart/pivotChart-legend.ts
  packages/vtable/examples/pivot-chart/pivotChart_site_demo.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: core, chore, test

#217 Fix/position error
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-legend.ts
  packages/vtable/examples/pivot/pivot-column-pref.ts
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/components/legend/legend.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/spark-line-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/update-auto-column.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/update-auto-row.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/util.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: core

#222 refactor: optimize chart rerender times when click mark state isn't c…
  packages/vtable/src/event/drill.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/pivot-chart/axis-click.ts
  packages/vtable/src/layout/pivot-layout.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/hover/update-position.ts
Labels: core

#208 Feat/right bottom frozen
  common/changes/@visactor/vtable/feat-right-bottom-frozen_2023-08-09-04-05.json
  packages/vtable/examples/frozen/list-table-bottom-frozen.ts
  packages/vtable/examples/frozen/list-table-right-frozen.ts
  packages/vtable/examples/frozen/list-table-transpose-right-frozen.ts
  packages/vtable/examples/frozen/pivot-table-both-frozen.ts
  packages/vtable/examples/frozen/pivot-table-bottom-frozen.ts
  packages/vtable/examples/frozen/pivot-table-right-frozen.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/examples/pivot-chart/pivotChart-axis.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/group-creater/init-scenegraph.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/layout/frozen.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/style/corner-cell.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, chore

#228 Main
  common/changes/@visactor/vtable/136-refactor-last-column-to-resize-width-is-inflexibility_2023-08-02-04-43.json
  common/changes/@visactor/vtable/155-feature-add-option-heightmode-standard-autoheight-adaptive_2023-07-24-04-13.json
  common/changes/@visactor/vtable/185-refactor-barwidth-compute-chart-column-width_2023-07-31-11-49.json
  common/changes/@visactor/vtable/187-refactor-widthmode-set-adaptive-compute-body-column-to-adaptive-lefted-container-space_2023-08-01-12-23.json
  common/changes/@visactor/vtable/189-bug-indicators-set-first-indicator-spec-width-series-data-filter-error_2023-08-01-11-02.json
  common/changes/@visactor/vtable/196-refactor-compute-optimize-height-for-chart-by-axis-tick-count_2023-08-03-08-49.json
  common/changes/@visactor/vtable/demo-179-add-official-website-demo-for-pivot-chart_2023-07-30-13-45.json
  common/changes/@visactor/vtable/feat-117-expose-chart-event_2023-07-17-08-49.json
  common/changes/@visactor/vtable/feat-141-legend-with-pivot-chart_2023-07-18-06-08.json
  common/changes/@visactor/vtable/feat-146-add-api-position-chart-datum_2023-07-19-02-51.json
  common/changes/@visactor/vtable/feat-right-bottom-frozen_2023-08-09-04-05.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: core, chore

#225 refactor: icon should disapper when mouse leave table
  packages/vtable/src/components/tooltip/TooltipHandler.ts
  packages/vtable/src/event/drill.ts
Labels: core

#231 feat: sort support don't execute inner sort logic #230
  common/changes/@visactor/vtable/230-feature-sort-support-dont-execute-inner-sort-logic_2023-08-18-09-40.json
  packages/vtable/examples/list/list.ts
  packages/vtable/examples/pivot/pivot-column-pref.ts
  packages/vtable/examples/pivot/pivot-frozen.ts
  packages/vtable/examples/pivot/pivot-indicator-row.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/state/sort/index.ts
  packages/vtable/src/ts-types/events.ts
Labels: core, chore

#234 233 feature optimize selected interaction with shift keyboard
  common/changes/@visactor/vtable/233-feature-optimize-selected-interaction-with-shift-keyboard_2023-08-21-10-43.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/state/sort/index.ts
Labels: core, chore

#239 236 demo title and legend usecase demo
  common/changes/@visactor/vtable/236-demo-title-and-legend-usecase-demo_2023-08-23-11-43.json
  packages/vtable/examples/components/legend2.ts
  packages/vtable/examples/components/legend3.ts
  packages/vtable/examples/frozen/list-table-bottom-frozen.ts
  packages/vtable/examples/frozen/list-table-right-frozen.ts
  packages/vtable/examples/frozen/list-table-transpose-right-frozen.ts
  packages/vtable/examples/frozen/pivot-table-both-frozen.ts
  packages/vtable/examples/frozen/pivot-table-bottom-frozen.ts
  packages/vtable/examples/frozen/pivot-table-right-frozen.ts
  packages/vtable/examples/fs/update-option.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/site-demo/component/legend.md
  packages/vtable/site-demo/component/title.md
  packages/vtable/site-demo/menu.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/resize/update-resize-column.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, chore

#251 fix: fix axis label rotate layout problem
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/package.json
  packages/vtable/src/components/axis/get-axis-attributes.ts
  packages/vtable/src/components/axis/get-axis-component-size.ts
Labels: core, chore

#256 feat: add analysis for pivot table
  common/changes/@visactor/vtable/254-data-analysis-pivot-analysis_2023-08-29-03-56.json
  packages/vtable/examples/README.md
  packages/vtable/examples/index.html
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-aggregationRules.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-filter.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-mapping.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-more-data.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-sort.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-total.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis.ts
  packages/vtable/examples/pivot/pivot-dataset.ts
  packages/vtable/site-demo/README.md
  packages/vtable/site-demo/index.html
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/new-data-set.ts
Labels: core, chore

#255 chore: update vrender version to fix mearsure text width
  common/changes/@visactor/vtable/183-refactor-wrap-text-should-suit-english-word_2023-08-24-06-49.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/type/spark-line.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/graphic/text.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, chore

#247 240 feature update single option item
  common/changes/@visactor/vtable/240-feature-update-single-option-item_2023-08-24-10-38.json
  common/changes/@visactor/vtable/240-feature-update-single-option-item_2023-08-25-08-35.json
  packages/vtable/examples/list/list.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, chore

#266 feat: add horizontal sort progress
  packages/vtable/examples/list/list.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/sort-horizontal.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/sort-vertical.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core

#270 269 bug pivottable horizontal scroll bar
  common/changes/@visactor/vtable/269-bug-pivottable-horizontal-scroll-bar_2023-08-31-07-47.json
  packages/vtable/src/core/BaseTable.ts
Labels: core, chore
