Repository VisActor/VTable, pull requests merged in 2023-10, with the labels that each got.

#377 Docs/multi tree toturial
  docs/assets/demo/en/table-type/pivot-analysis-table.md
  docs/assets/demo/en/table-type/pivot-chart.md
  docs/assets/demo/en/table-type/pivot-table.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/table-type/pivot-analysis-table.md
  docs/assets/demo/zh/table-type/pivot-chart.md
  docs/assets/demo/zh/table-type/pivot-table-multi-tree.md
  docs/assets/demo/zh/table-type/pivot-table-tree.md
  docs/assets/demo/zh/table-type/pivot-table.md
  docs/assets/guide/en/components/axes.md
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_dataAnalysis.md
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_tree.md
  docs/assets/guide/en/table_type/pivot_chart.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/components/axes.md
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_dataAnalysis.md
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_overview.md
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_tree.md
  docs/assets/guide/zh/table_type/pivot_chart.md
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/examples/pivot-chart/noDimension-updateOption.ts
  packages/vtable/examples/pivot-chart/percent-horizontal-bar.ts
  packages/vtable/examples/pivot-chart/pivotChart-3W.ts
  packages/vtable/examples/pivot-chart/pivotChart-adaptive.ts
  packages/vtable/examples/pivot-chart/pivotChart-axis.ts
  packages/vtable/examples/pivot-chart/pivotChart-fromDataId.ts
  packages/vtable/examples/pivot-chart/pivotChart-hideHeader.ts
  packages/vtable/examples/pivot-chart/pivotChart-horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart-legend.ts
  packages/vtable/examples/pivot-chart/pivotChart-no-columns.ts
  packages/vtable/examples/pivot-chart/pivotChart-no-dimensions.ts
  packages/vtable/examples/pivot-chart/pivotChart-no-dimensions2.ts
  packages/vtable/examples/pivot-chart/pivotChart-records.ts
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/examples/pivot-chart/pivotChart_site_demo.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: core, docs

#382 fix: no columns occur error
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: core

#384 383 when update option indicators not exist,pivot table error
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
Labels: core, chore, test, bundler, docs

#376 Fix/fix list frozen resize
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/vtable/examples/list/list.ts
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/examples/pivot-chart/pivotChart-legend.ts
  packages/vtable/package.json
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core, chore, docs

#381 Fix/chart for fs
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/vtable/examples/icon/icon-register.ts
  packages/vtable/examples/interactive/menu.ts
  packages/vtable/package.json
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
  packages/vtable/src/components/title/title.ts
  packages/vtable/src/components/tooltip/logic/BubbleTooltipElement.ts
  packages/vtable/src/components/util/tick-data/config.ts
  packages/vtable/src/components/util/tick-data/continuous.ts
  packages/vtable/src/components/util/tick-data/discrete/linear.ts
  packages/vtable/src/components/util/tick-data/discrete/polar-angle.ts
  packages/vtable/src/components/util/tick-data/index.ts
  packages/vtable/src/components/util/tick-data/util.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/chart-helper/get-axis-domain.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/tools/get-data-path/index.ts
Labels: core, chore, docs

#385 357 mobile test fix problems
  common/changes/@visactor/vtable/357-mobile-test-fix-problems_2023-10-11-08-53.json
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core, chore

#387 Fix/chart for fs
  packages/vtable/examples/interactive/menu.ts
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/src/components/title/title.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: core

#389 develop to dev/0.12.0
  common/changes/@visactor/vtable/338-bug-container-resize-chart-display-exception_2023-09-18-11-24.json
  common/changes/@visactor/vtable/338-bug-container-resize-chart-display-exception_2023-09-19-02-27.json
  common/changes/@visactor/vtable/338-bug-container-resize-chart-display-exception_2023-09-21-03-21.json
  common/changes/@visactor/vtable/339-bug-loss-tree-hierarchystate_2023-09-18-03-51.json
  common/changes/@visactor/vtable/357-mobile-test-fix-problems_2023-10-11-08-53.json
  common/changes/@visactor/vtable/feat-multi-columnTree_2023-09-25-10-46.json
  docs/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: core, chore, docs

#394 fix: noColumns and Indicator in row pivotChart interaction occur erro…
  packages/vtable/examples/menu.ts
  packages/vtable/examples/unit-test-demo/pivotTable-color-legend.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/event/EventHandler.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
Labels: core

#396 fix: tooltip can not show in rightFrozenColumn #395
  docs/assets/demo/en/custom-render/custom-icon.md
  docs/assets/demo/zh/custom-render/custom-icon.md
  packages/vtable/src/components/menu/dom/logic/MenuContainer.ts
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
  packages/vtable/src/components/tooltip/logic/BubbleTooltipElement.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
Labels: core, docs

#408 407 feature description show not ishowoverflowtexttooltip
  common/changes/@visactor/vtable/407-feature-description-show-not-ishowoverflowtexttooltip_2023-10-16-09-17.json
  packages/vtable/src/components/tooltip/TooltipHandler.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: core, chore

#392 Fix/chart for fs
  common/changes/@visactor/vtable/fix-chart-for-fs_2023-10-12-04-10.json
  packages/vtable/__tests__/layout/get-data-cell-path.test.ts
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: core, chore

#415 docs: fix Derived Field demo
  docs/assets/demo/en/data-analysis/pivot-analysis-derivedField.md
  docs/assets/demo/zh/data-analysis/pivot-analysis-derivedField.md
Labels: docs

#419 fix: fix pivot merge header layout problem
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-field.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/util.ts
Labels: core

#423 Main
  common/changes/@visactor/vtable/docs-addUpdateDemos_2023-10-18-10-17.json
  common/changes/@visactor/vtable/docs-addUpdateDemos_2023-10-18-11-36.json
  docs/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: core, chore, docs

#425 301 feature add vtable rendering to finished api
  common/changes/@visactor/vtable/301-feature-add-vtable-rendering-to-finished-api_2023-10-19-06-43.json
  common/changes/@visactor/vtable/301-feature-add-vtable-rendering-to-finished-api_2023-10-19-07-07.json
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/demo/en/component/dropdown.md
  docs/assets/demo/en/component/tooltip.md
  docs/assets/demo/en/interaction/context-menu.md
  docs/assets/guide/en/Event/event_list.md
  docs/assets/guide/zh/Event/event_list.md
  packages/vtable/examples/frozen/pivot-table-both-frozen.ts
  packages/vtable/examples/frozen/pivot-table-bottom-frozen.ts
  packages/vtable/examples/frozen/pivot-table-right-frozen.ts
  packages/vtable/examples/list/list-100w.ts
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/examples/pivot-chart/pivot-chart-event.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/events.ts
Labels: core, chore, docs

#426 fix: frozen column progress index error
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: core

#428 427 bug row height changed
  common/changes/@visactor/vtable/427-bug-row-height-changed_2023-10-19-09-34.json
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: core, chore

#429 391 feature header select mode
  common/changes/@visactor/vtable/391-feature-headerSelectMode_2023-10-19-10-17.json
  docs/assets/demo/en/interaction/select.md
  docs/assets/demo/zh/interaction/select.md
  docs/assets/guide/en/interaction/select.md
  docs/assets/guide/zh/interaction/select.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
Labels: core, chore, docs

#433 432 bug fix resize compute col width logic
  common/changes/@visactor/vtable/432-bug-fix-resize-compute-col-width-logic_2023-10-20-03-20.json
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core, chore

#430 feat: change frozen column method
  packages/vtable/__tests__/pivotTable-tree.test.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/layout/frozen.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core, test

#434 Fix/fs 0.13.0
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/body-helper/style.ts
  packages/vtable/src/components/axis/get-axis-attributes.ts
  packages/vtable/src/components/axis/get-axis-component-size.ts
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/event/EventTarget.ts
  packages/vtable/src/header-helper/style.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/render/layout/container.ts
  packages/vtable/src/render/layout/icon.ts
  packages/vtable/src/render/layout/image.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/spark-line-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/utils/get-prop.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/NumberMap.ts
Labels: core

#436 fix: fix row progress
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/layout/frozen.ts
Labels: core

#447 refactor: [refactor] judge when use isHorizontalScrollable isVertical…
  packages/vtable/src/event/listener/touch.ts
  packages/vtable/src/event/scroll.ts
Labels: core

#410 Feat/nodejs
  .gitignore
  common/config/rush/pnpm-lock.yaml
  packages/vtable/.eslintrc.js
  packages/vtable/nodejs/index.js
  packages/vtable/nodejs/index.ts
  packages/vtable/nodejs/list-table.js
  packages/vtable/nodejs/list-table.ts
  packages/vtable/nodejs/pivot-chart.js
  packages/vtable/nodejs/pivot-chart.ts
  packages/vtable/nodejs/pivot-table.js
  packages/vtable/nodejs/pivot-table.ts
  packages/vtable/nodejs/small-table.js
  packages/vtable/nodejs/small-table.ts
  packages/vtable/package.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/components/menu/dom/logic/MenuElementStyle.ts
  packages/vtable/src/components/tooltip/logic/BubbleTooltipElementStyle.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/style.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, chore, eslint

#390 Feat/checkbox
  common/changes/@visactor/vtable/feat-checkbox_2023-10-12-02-55.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo/en/cell-type/checkbox.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/cell-type/checkbox.md
  docs/assets/guide/en/cell_type/checkbox.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/cell_type/checkbox.md
  docs/assets/option/en/column/checkbox-column-type.md
  docs/assets/option/en/column/column-define.md
  docs/assets/option/zh/column/checkbox-column-type.md
  docs/assets/option/zh/column/column-define.md
  packages/vtable/examples/menu.ts
  packages/vtable/examples/type/checkbox.ts
  packages/vtable/src/body-helper/body-helper.ts
  packages/vtable/src/body-helper/style/CheckboxStyle.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/context/canvas.ts
  packages/vtable/src/scenegraph/context/context.ts
  packages/vtable/src/scenegraph/context/module.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/ts-types/column/style.ts
  packages/vtable/src/ts-types/column/type.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/list-table/define/checkbox-define.ts
  packages/vtable/src/ts-types/list-table/define/index.ts
  packages/vtable/src/ts-types/pivot-table/indicator/checkbox-indicator.ts
  packages/vtable/src/ts-types/pivot-table/indicator/index.ts
Labels: core, chore, docs

#441 fix: when columns is blank and set indicatorsAsCol=false，pivot show t…
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
Labels: core

#449 refactor: theme's defaultfontFamily change to 'Arial,sans-serif' #448
  packages/vtable/__tests__/options/listTable-autoRowHeight.test.ts
  packages/vtable/__tests__/pivotTable.test.ts
  packages/vtable/src/components/tooltip/logic/BubbleTooltipElement.ts
  packages/vtable/src/render/layout/text.ts
  packages/vtable/src/scenegraph/component/menu.ts
  packages/vtable/src/scenegraph/utils/text-measure.ts
  packages/vtable/src/themes/ARCO.ts
  packages/vtable/src/themes/BRIGHT.ts
  packages/vtable/src/themes/DARK.ts
  packages/vtable/src/themes/DEFAULT.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/tools/global.ts
  packages/vtable/src/ts-types/theme.ts
  packages/vtable/src/ts-types/tooltip.ts
Labels: core, test

#450 Fix/fs 0.13.0
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/components/axis/linear-scale.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-axis-domain.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: core

#455 feat: move chart viewbox in deactivate()
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: core

#459 fix: just to trigger bugserver
  common/changes/@visactor/vtable/458-bug-set-records-blank-scroll-error_2023-10-25-04-01.json
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: core, chore

#460 Dev/0.13.0
  common/changes/@visactor/vtable/458-bug-set-records-blank-scroll-error_2023-10-25-04-01.json
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
Labels: core, chore

#465 feat: add checkbox headertype
  common/changes/@visactor/vtable/feat-checkbox-header_2023-10-27-09-27.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/demo/en/cell-type/checkbox.md
  docs/assets/demo/en/component/legend.md
  docs/assets/demo/en/custom-render/custom-cell-layout.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/business/information.md
  docs/assets/demo/zh/cell-type/checkbox.md
  docs/assets/demo/zh/component/legend.md
  docs/assets/demo/zh/custom-render/custom-cell-layout.md
  docs/assets/guide/en/cell_type/checkbox.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/cell_type/checkbox.md
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/en/column/checkbox-column-type.md
  docs/assets/option/zh/column/base-column-type.md
  docs/assets/option/zh/column/checkbox-column-type.md
  docs/package.json
  packages/vtable/__tests__/columns/listTable-checkbox.test.ts
  packages/vtable/__tests__/columns/listTable-custom-layout.test.ts
  packages/vtable/__tests__/components/listTable-legend.test.ts
  packages/vtable/examples/components/legend2.ts
  packages/vtable/examples/custom-layout-jsx/list-jsx.tsx
  packages/vtable/examples/custom/custom-layout.ts
  packages/vtable/examples/list/list.ts
  packages/vtable/examples/pivot/pivot-tree.ts
  packages/vtable/examples/type/checkbox.ts
  packages/vtable/package.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/dataset/statistics-helper.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/header-helper/header-helper.ts
  packages/vtable/src/header-helper/style/CheckboxStyle.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/pivot-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/get-hierarchy-offset.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/get-data-path/index.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/column/type.ts
  packages/vtable/src/ts-types/list-table/define/checkbox-define.ts
  packages/vtable/src/ts-types/list-table/define/composite-define.ts
  packages/vtable/src/ts-types/list-table/define/index.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: core, chore, docs

#483 Main
  common/config/rush/pnpm-lock.yaml
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/demo/en/cell-type/checkbox.md
  docs/assets/demo/en/component/legend.md
  docs/assets/demo/en/custom-render/custom-cell-layout.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/business/information.md
  docs/assets/demo/zh/cell-type/checkbox.md
  docs/assets/demo/zh/component/legend.md
  docs/assets/demo/zh/custom-render/custom-cell-layout.md
  docs/assets/guide/en/cell_type/checkbox.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/cell_type/checkbox.md
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/en/column/checkbox-column-type.md
  docs/assets/option/zh/column/base-column-type.md
  docs/assets/option/zh/column/checkbox-column-type.md
  docs/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/__tests__/columns/listTable-checkbox.test.ts
  packages/vtable/__tests__/columns/listTable-custom-layout.test.ts
  packages/vtable/__tests__/components/listTable-legend.test.ts
  packages/vtable/examples/components/legend2.ts
  packages/vtable/examples/custom-layout-jsx/list-jsx.tsx
  packages/vtable/examples/custom/custom-layout.ts
  packages/vtable/examples/list/list.ts
  packages/vtable/examples/pivot/pivot-tree.ts
  packages/vtable/examples/type/checkbox.ts
  packages/vtable/package.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/dataset/statistics-helper.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/header-helper/header-helper.ts
  packages/vtable/src/header-helper/style/CheckboxStyle.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/pivot-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/get-hierarchy-offset.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/get-data-path/index.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/column/type.ts
  packages/vtable/src/ts-types/list-table/define/checkbox-define.ts
  packages/vtable/src/ts-types/list-table/define/composite-define.ts
  packages/vtable/src/ts-types/list-table/define/index.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: core, chore, docs

#487 develop merge to dev/0.14.0
  common/changes/@visactor/vtable/feat-checkbox-header_2023-10-27-09-27.json
  docs/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: core, chore, docs

#490 fix: fix MOUSEOVER_CHART_SYMBOL event error
  packages/vtable/src/event/listener/table-group.ts
Labels: core

#492 fix: fix forzen cell sort error
  packages/vtable/src/scenegraph/group-creater/progress/update-position/sort-horizontal.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/sort-vertical.ts
Labels: core

#495 fix: fix window resize result
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core

#498 468 async load records demo
  common/changes/@visactor/vtable/468-async-load-records-demo_2023-10-31-11-59.json
  packages/vtable/src/PivotTable.ts
Labels: core, chore
