Repository VisActor/VTable, pull requests merged in 2023-09, with the labels that each got.

#274 Feat/pivot chart
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/list/list.ts
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/package.json
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/components/axis/get-axis-attributes.ts
  packages/vtable/src/components/axis/get-axis-component-size.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core, chore

#280 Main
  common/changes/@visactor/vtable/183-refactor-wrap-text-should-suit-english-word_2023-08-24-06-49.json
  common/changes/@visactor/vtable/230-feature-sort-support-dont-execute-inner-sort-logic_2023-08-18-09-40.json
  common/changes/@visactor/vtable/233-feature-optimize-selected-interaction-with-shift-keyboard_2023-08-21-10-43.json
  common/changes/@visactor/vtable/236-demo-title-and-legend-usecase-demo_2023-08-23-11-43.json
  common/changes/@visactor/vtable/240-feature-update-single-option-item_2023-08-24-10-38.json
  common/changes/@visactor/vtable/240-feature-update-single-option-item_2023-08-25-08-35.json
  common/changes/@visactor/vtable/254-data-analysis-pivot-analysis_2023-08-29-03-56.json
  common/changes/@visactor/vtable/269-bug-pivottable-horizontal-scroll-bar_2023-08-31-07-47.json
  common/changes/@visactor/vtable/feat-resize-mode_2023-08-17-09-30.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: core, chore

#287 feat(ts-types): 283 add type(number) in StylePropertyFunctionArg/data…
  packages/vtable/src/ts-types/style-define.ts
Labels: core

#291 fix: mouseenter_cell cann't trigger #289
  packages/vtable/src/event/listener/table-group.ts
Labels: core

#281 Feat/pivot chart
  common/changes/@visactor/vtable/feat-pivot-chart_2023-09-06-03-44.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/vtable/examples/list/list.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/examples/pivot-chart/horizontal-hideHeader.ts
  packages/vtable/examples/pivot-chart/horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart-3W.ts
  packages/vtable/examples/pivot-chart/pivotChart-adaptive.ts
  packages/vtable/examples/pivot-chart/pivotChart-axis.ts
  packages/vtable/examples/pivot-chart/pivotChart-headerTitle.ts
  packages/vtable/examples/pivot-chart/pivotChart-horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart-no-columns.ts
  packages/vtable/examples/pivot-chart/pivotChart-records.ts
  packages/vtable/examples/pivot-chart/pivotChart-updateOption.ts
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/examples/vchart/test.ts
  packages/vtable/package.json
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/components/axis/get-axis-component-size.ts
  packages/vtable/src/components/axis/label-overlap.ts
  packages/vtable/src/components/util/tick-data/continuous.ts
  packages/vtable/src/components/util/tick-data/discrete/linear.ts
  packages/vtable/src/components/util/tick-data/discrete/polar-angle.ts
  packages/vtable/src/components/util/tick-data/util.ts
  packages/vtable/src/index.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core, chore, docs

#293 feat: add legend and axis component document
  docs/assets/options/en/common/option-secondary.md
  docs/assets/options/en/legend/continuous-legend.md
  docs/assets/options/en/legend/legend-color.md
  docs/assets/options/en/legend/legend-discrete.md
  docs/assets/options/en/legend/legend-size.md
  docs/assets/options/zh/common/option-secondary.md
  docs/assets/options/zh/legend/continuous-legend.md
  docs/assets/options/zh/legend/legend-color.md
  docs/assets/options/zh/legend/legend-discrete.md
  docs/assets/options/zh/legend/legend-size.md
  docs/assets/tutorials/en/components/axis.md
  docs/assets/tutorials/en/components/legend.md
  docs/assets/tutorials/menu.json
  docs/assets/tutorials/zh/components/axis.md
  docs/assets/tutorials/zh/components/legend.md
  docs/menu.json
  packages/vtable/examples/components/legend.ts
Labels: core, docs

#288 feat: add size and color legend
  packages/vtable/examples/components/color.ts
  packages/vtable/examples/components/size.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/components/legend/continue-legend/continue-legend.ts
  packages/vtable/src/components/legend/continue-legend/get-continue-legend-attributes.ts
  packages/vtable/src/components/legend/create-legend.ts
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
  packages/vtable/src/components/legend/discrete-legend/get-discrete-legend-attributes.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/component/legend.ts
  packages/vtable/src/ts-types/events.ts
Labels: core

#298 Main
  common/changes/@visactor/vtable/264-feature-add-pagerconf-to-pivottable_2023-09-06-03-42.json
  common/changes/@visactor/vtable/feat-pivot-chart_2023-09-06-03-44.json
  docs/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: core, chore, docs

#306 292 bug indicators customrender exception
  common/changes/@visactor/vtable/292-bug-indicators-customrender-exception_2023-09-07-07-11.json
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/noDimension-updateOption.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset-pivot-table.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/dataset/flatDataToObject.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/pivot-layout.ts
Labels: core, chore

#304 fix: fix bottom right frozen display problem
  packages/vtable/examples/frozen/list-table-bottom-frozen.ts
  packages/vtable/examples/frozen/list-table-right-frozen.ts
  packages/vtable/src/header-helper/header-helper.ts
  packages/vtable/src/scenegraph/layout/frozen.ts
  packages/vtable/src/state/spark-line/index.ts
Labels: core

#307 fix: fix invalid record progress
  packages/vtable/examples/pivot-chart/aeolus.ts
  packages/vtable/src/dataset/dataset.ts
Labels: core

#309 docs: update the route for vtable document preview
  common/config/rush/pnpm-lock.yaml
  docs/assets/option/en/option.md
  docs/assets/option/zh/option.md
  docs/src/app.tsx
  docs/src/header.tsx
  docs/src/markdown.tsx
  docs/src/option.tsx
  docs/src/option/outline.tsx
Labels: chore, docs

#314 fix: when chart data just one itembar axix range min=max ，chart can't…
  packages/vtable/src/components/title/title.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: core

#330 feat(scenegraph): 328 add autoFillHeight option
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list-transpose-autoFillHeight.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, docs

#331 328 feature add autofillheight option
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list-transpose-autoFillHeight.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, docs

#329 259 bug fix minwidth limit adaptive
  packages/vtable/examples/list/list.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core

#325 Feat/pivot chart
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/pivot/pivot-size-legend.ts
  packages/vtable/package.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/pivot-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/stick-text/index.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/state/sort/index.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, chore

#334 Main
  common/changes/@visactor/vtable/292-bug-indicators-customrender-exception_2023-09-07-07-11.json
  common/changes/@visactor/vtable/300-feature-support-select-cell-range_2023-09-11-02-57.json
  common/changes/@visactor/vtable/320-feature-support-celltypeFun-for-same-column-cell_2023-09-12-08-51.json
  common/changes/@visactor/vtable/feat-pivot-chart_2023-09-11-10-23.json
  common/changes/@visactor/vtable/feat-pivot-chart_2023-09-12-06-22.json
  docs/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: core, chore, docs

#243 Feat/custom layout jsx
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/vtable/.eslintrc.js
  packages/vtable/examples/custom-layout-jsx/list-jsx.tsx
  packages/vtable/examples/custom-layout-jsx/pivot-jsx.tsx
  packages/vtable/examples/interactive/resize-container.ts
  packages/vtable/examples/main.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/mock-data/json/supermarket-flat-for-customRender.json
  packages/vtable/examples/resource-url/json.ts
  packages/vtable/examples/vite.config.js
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/index.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/render/jsx/index.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/spark-line/index.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/events.ts
Labels: core, chore, eslint, docs

#340 339 bug loss tree hierarchystate
  common/changes/@visactor/vtable/339-bug-loss-tree-hierarchystate_2023-09-18-03-51.json
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: core, chore

#343 338 bug container resize chart display exception
  common/changes/@visactor/vtable/338-bug-container-resize-chart-display-exception_2023-09-18-11-24.json
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core, chore

#345 chart shake when after resize container #344
  common/changes/@visactor/vtable/338-bug-container-resize-chart-display-exception_2023-09-19-02-27.json
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core, chore

#353 338 bug container resize chart display exception
  common/changes/@visactor/vtable/338-bug-container-resize-chart-display-exception_2023-09-21-03-21.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/tools/NumberMap.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, chore

#354 fix: fix legend padding format supportment
  packages/vtable/src/scenegraph/utils/padding.ts
Labels: core

#364 fix: fix pivot table scroll cell layout problem
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/util.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: core

#363 Fix docs pivot tabel
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_overview.md
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_useage.md
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_overview.md
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_useage.md
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-different-dimension.ts
Labels: core, docs

#366 365 VTable.TYPES add type TextAlignType
  packages/vtable/src/body-helper/style/Style.ts
  packages/vtable/src/header-helper/style/Style.ts
  packages/vtable/src/index.ts
  packages/vtable/src/render/layout/text.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/column/style.ts
  packages/vtable/src/ts-types/customElement.ts
  packages/vtable/src/ts-types/style-define.ts
Labels: core, chore, docs
