Repository VisActor/VTable, pull requests merged in 2023-06, with the labels that each got.

#9 Chore/bugserver ci
  packages/vtable/github-ci.js
Labels: core

#17 chore: update vchart version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/test/vchart.ts
  packages/vtable/examples/vite.config.js
  packages/vtable/package.json
  packages/vtable/site-demo/main.ts
  packages/vtable/site-demo/vite.config.js
Labels: core, chore

#25 Feat/merge fillfillcolor strokestrokecolor into fillstroke
  common/changes/@visactor/vtable/feat-merge-fillfillcolor-strokestrokecolor-into-fillstroke_2023-06-13-08-30.json
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/custom/default.ts
  packages/vtable/examples/icon/icon-shape.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-basic.ts
  packages/vtable/examples/pivot/pivot-no-indicator.ts
  packages/vtable/examples/style/border.ts
  packages/vtable/examples/type/link.ts
  packages/vtable/package.json
  packages/vtable/site-demo/custom-render/custom-cell-layout.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/render/layout/arc.ts
  packages/vtable/src/render/layout/circle.ts
  packages/vtable/src/render/layout/container.ts
  packages/vtable/src/render/layout/element.ts
  packages/vtable/src/render/layout/rect.ts
  packages/vtable/src/render/layout/text.ts
  packages/vtable/src/scenegraph/component/cell-content.ts
  packages/vtable/src/scenegraph/component/cell-mover.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/component/menu.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/debug-tool/debug-tool.ts
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/index.ts
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/spark-line-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/select/create-select-border.ts
  packages/vtable/src/scenegraph/style/frame-border.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/state/spark-line/index.ts
  packages/vtable/src/ts-types/customElement.ts
Labels: core, chore

#30 chore: update package.json
  packages/vtable/package.json
Labels: core

#33 Feature/improve interactive performance while resize column
  common/config/rush/pnpm-lock.yaml
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: core, chore

#5 feat: add text stick function
  packages/vtable/examples/menu.ts
  packages/vtable/examples/stack-text/stack-pivot.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/stick-text/index.ts
  packages/vtable/src/ts-types/pivot-table/dimension/multilinetext-dimension.ts
Labels: core

#35 chore: add pre-release
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  common/autoinstallers/lint/change-all.ts
  common/autoinstallers/lint/package.json
  common/autoinstallers/lint/pnpm-lock.yaml
  common/config/rush/command-line.json
  common/scripts/pre-release.js
  common/scripts/release.js
Labels: chore

#36 fix: normalize getCellStyle return object
  packages/vtable/__tests__/listTable-autoRowHeight.test.ts
  packages/vtable/__tests__/pivotTable.test.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/style-define.ts
Labels: core, test

#38 27 bug sparkline render
  .vscode/settings.json
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/pivot/pivot-chart.ts
  packages/vtable/examples/type/spark-line.ts
  packages/vtable/package.json
  packages/vtable/site-demo/business/trend.md
  packages/vtable/site-demo/cell-type/multi-type.md
  packages/vtable/src/index.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/spark-line-cell.ts
  packages/vtable/src/ts-types/pivot-table/corner.ts
  packages/vtable/src/ts-types/pivot-table/dimension/index.ts
  packages/vtable/src/ts-types/pivot-table/indicator/chart-indicator.ts
  packages/vtable/src/ts-types/pivot-table/indicator/image-indicator.ts
  packages/vtable/src/ts-types/pivot-table/indicator/index.ts
  packages/vtable/src/ts-types/pivot-table/indicator/link-indicator.ts
  packages/vtable/src/ts-types/pivot-table/indicator/progress-indicator.ts
  packages/vtable/src/ts-types/pivot-table/indicator/sparkline-indicator.ts
  packages/vtable/src/ts-types/sparkline.ts
Labels: core, chore

#40 refactor: rename rate to percentile
  packages/vtable/examples/pivot/pivot-basic.ts
  packages/vtable/examples/pivot/pivot-header-title.ts
  packages/vtable/examples/stack-text/stack-pivot.ts
  packages/vtable/examples/style/auto-wrap-text.ts
  packages/vtable/examples/style/function.ts
  packages/vtable/examples/type/progress-bar.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/ts-types/style-define.ts
Labels: core

#41 chore: release workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/pr_cn.md
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  common/git-hooks/pre-commit
Labels: chore

#44 Feat/43 refactor pin rename to frozen
  common/changes/@visactor/vtable/feat-43-refactor-pin-rename-to-frozen_2023-06-20-02-21.json
  packages/vtable/examples/auto-size/auto-width.ts
  packages/vtable/examples/cell-move/column.ts
  packages/vtable/examples/cell-move/pivot.ts
  packages/vtable/examples/cell-move/row.ts
  packages/vtable/examples/header/frozen.ts
  packages/vtable/examples/header/merge-cell.ts
  packages/vtable/examples/header/sort.ts
  packages/vtable/examples/icon/icon-register.ts
  packages/vtable/examples/icon/icon-shape.ts
  packages/vtable/examples/interactive/hover.ts
  packages/vtable/examples/interactive/menu.ts
  packages/vtable/examples/interactive/scroll.ts
  packages/vtable/examples/interactive/select.ts
  packages/vtable/examples/interactive/tooltip.ts
  packages/vtable/examples/pivot/pivot-basic.ts
  packages/vtable/examples/pivot/pivot-header-title.ts
  packages/vtable/examples/pivot/pivot-no-indicator.ts
  packages/vtable/examples/stack-text/stack-pivot.ts
  packages/vtable/examples/style/auto-wrap-text.ts
  packages/vtable/examples/style/border.ts
  packages/vtable/examples/style/function.ts
  packages/vtable/examples/style/pivot.ts
  packages/vtable/examples/theme/arco.ts
  packages/vtable/examples/theme/custom-list.ts
  packages/vtable/examples/theme/custom-pivot.ts
  packages/vtable/examples/type/image.ts
  packages/vtable/examples/type/link.ts
  packages/vtable/examples/type/progress-bar.ts
  packages/vtable/examples/type/spark-line.ts
  packages/vtable/examples/type/text-wrap.ts
  packages/vtable/examples/type/text.ts
  packages/vtable/examples/type/video.ts
  packages/vtable/site-demo/custom-render/custom-icon.md
  packages/vtable/site-demo/interaction/frozen-col.md
  packages/vtable/site-demo/mock-data/freeze.svg
  packages/vtable/site-demo/mock-data/frozen.svg
  packages/vtable/site-demo/mock-data/frozenCurrent.svg
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/header-helper/header-helper.ts
  packages/vtable/src/icons.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/frozen/index.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/icon.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
Labels: core, chore

#53 chore: bundler add external and globals
  .github/workflows/bug-server.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/unit-test.yml
  packages/vtable/bundler.config.js
  tools/bundler/src/logic/config.ts
  tools/bundler/src/logic/rollup.config.ts
  tools/bundler/src/tasks/umd.ts
Labels: core, bundler

#55 Main
  .github/workflows/bug-server.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/unit-test.yml
  packages/vtable/bundler.config.js
  tools/bundler/src/logic/config.ts
  tools/bundler/src/logic/rollup.config.ts
  tools/bundler/src/tasks/umd.ts
Labels: core, bundler

#58 Feat/13 refactorxxxradius config renamed with cornerradius
  common/changes/@visactor/vtable/feat-13-refactorxxxradius-config-renamed-with-cornerradius_2023-06-20-04-17.json
  common/changes/@visactor/vtable/feat-13-refactorxxxradius-config-renamed-with-cornerradius_2023-06-25-03-41.json
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/custom/default.ts
  packages/vtable/examples/style/border.ts
  packages/vtable/examples/theme/custom-list.ts
  packages/vtable/examples/theme/custom-pivot.ts
  packages/vtable/package.json
  packages/vtable/site-demo/cell-type/chart.md
  packages/vtable/site-demo/cell-type/progressbar.md
  packages/vtable/site-demo/custom-render/custom-cell-layout.md
  packages/vtable/site-demo/custom-render/custom-render-global.md
  packages/vtable/site-demo/custom-render/custom-render.md
  packages/vtable/site-demo/menu.ts
  packages/vtable/src/body-helper/style/ProgressBarStyle.ts
  packages/vtable/src/render/layout/container.ts
  packages/vtable/src/render/layout/element.ts
  packages/vtable/src/render/layout/rect.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/component/menu.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/graphic/text.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/style/frame-border.ts
  packages/vtable/src/themes/ARCO.ts
  packages/vtable/src/themes/BRIGHT.ts
  packages/vtable/src/themes/DARK.ts
  packages/vtable/src/themes/DEFAULT.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/customElement.ts
  packages/vtable/src/ts-types/theme.ts
Labels: core, chore

#57 chore: update release workflow and add test-cov
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  common/autoinstallers/lint/change-all.ts
  common/changes/@visactor/vtable/feat-13-refactorxxxradius-config-renamed-with-cornerradius_2023-06-20-04-17.json
  common/changes/@visactor/vtable/feat-13-refactorxxxradius-config-renamed-with-cornerradius_2023-06-25-03-41.json
  common/config/rush/command-line.json
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/custom/default.ts
  packages/vtable/examples/style/border.ts
  packages/vtable/examples/theme/custom-list.ts
  packages/vtable/examples/theme/custom-pivot.ts
  packages/vtable/jest.config.js
  packages/vtable/package.json
  packages/vtable/site-demo/cell-type/chart.md
  packages/vtable/site-demo/cell-type/progressbar.md
  packages/vtable/site-demo/custom-render/custom-cell-layout.md
  packages/vtable/site-demo/custom-render/custom-render-global.md
  packages/vtable/site-demo/custom-render/custom-render.md
  packages/vtable/site-demo/menu.ts
  packages/vtable/src/body-helper/style/ProgressBarStyle.ts
  packages/vtable/src/render/layout/container.ts
  packages/vtable/src/render/layout/element.ts
  packages/vtable/src/render/layout/rect.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/component/menu.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/graphic/text.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/style/frame-border.ts
  packages/vtable/src/themes/ARCO.ts
  packages/vtable/src/themes/BRIGHT.ts
  packages/vtable/src/themes/DARK.ts
  packages/vtable/src/themes/DEFAULT.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/customElement.ts
  packages/vtable/src/ts-types/theme.ts
Labels: core, chore, jest

#51 feat: deal with promise data
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/list/list-data-promise.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/type/text-wrap.ts
  packages/vtable/examples/type/text.ts
  packages/vtable/package.json
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/group.ts
  packages/vtable/src/scenegraph/graphic/text.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/image-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/layout/auto-width.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/update-cell.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/style/frame-border.ts
  packages/vtable/src/scenegraph/utils/deal-promise-data.ts
  packages/vtable/src/scenegraph/utils/empty-group.ts
  packages/vtable/src/scenegraph/utils/padding.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/scenegraph/utils/text-pos.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, chore

#61 Demo/15 add vtable demo
  common/changes/@visactor/vtable/demo-15-add-vtable-demo_2023-06-25-09-28.json
  common/changes/@visactor/vtable/demo-15-add-vtable-demo_2023-06-26-06-48.json
  packages/vtable/examples/business/one.ts
  packages/vtable/examples/business/three.ts
  packages/vtable/examples/business/two.ts
  packages/vtable/examples/list/list.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot.ts
  packages/vtable/examples/test/vchart.ts
  packages/vtable/examples/type/chart.ts
  packages/vtable/site-demo/business/temperature-trend.md
  packages/vtable/site-demo/cell-type/chart.md
  packages/vtable/site-demo/layout/merge.md
  packages/vtable/site-demo/menu.ts
  packages/vtable/src/body-helper/style/Style.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/scroll.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/column.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/stick-text/index.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/helper.ts
Labels: core, chore

#63 fix: fix handleTextStick row maybe -1
  packages/vtable/examples/list/list.ts
  packages/vtable/examples/pivot/pivot.ts
  packages/vtable/src/scenegraph/stick-text/index.ts
Labels: core

#50 Feat/tree structure in pivot table
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-tree.ts
  packages/vtable/examples/pivot/supermarket-flat.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/body-helper/body-helper.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/header-helper/header-helper.ts
  packages/vtable/src/icons.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/get-hierarchy-offset.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/tools/diff-cell.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core

#67 fix: fix tree layout problem
  packages/vtable/examples/pivot/pivot-tree.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/stick-text/index.ts
Labels: core

#70 fix: fix auto height computation problem in colHeader
  packages/vtable/src/scenegraph/layout/auto-height.ts
Labels: core

#64 fix: fix column resize effect in adaptive widthMode
  packages/vtable/src/state/state.ts
Labels: core

#76 fix: fix tree structure select header problem
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/select/create-select-border.ts
Labels: core

#75 fix: cell move problem in pivot tree mode
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/state/cell-move/adjust-header.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core

#83 Bug/60 update chart image
  common/changes/@visactor/vtable/bug-60-update-chart-image_2023-06-30-08-09.json
  packages/vtable/examples/pivot/pivot-header-title.ts
  packages/vtable/site-demo/cell-type/chart.md
  packages/vtable/site-demo/table-type/list-table-tree.md
  packages/vtable/src/event/event.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/layout/move-cell.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/themes/theme.ts
Labels: core, chore

#85 Feat/resize event
  common/changes/@visactor/vtable/feat-resize-event_2023-06-30-17-00.json
  packages/vtable/examples/style.css
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/scroll-bar.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/listener/touch.ts
  packages/vtable/src/event/scroll.ts
  packages/vtable/src/event/util.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: core, chore

#84 feat: support Event in mobile device
  common/changes/@visactor/vtable/feat-mobile-device-event_2023-06-30-16-00.json
Labels: chore

#87 Fix/86 customrender and transpose problem
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/column.ts
Labels: core
