Repository VisActor/VTable, pull requests merged in 2024-06, with the labels that each got.

#1821 1803 list table aggregation
  common/changes/@visactor/vtable/1803-list-table-aggregation_2024-05-30-07-50.json
  common/changes/@visactor/vtable/1803-list-table-aggregation_2024-05-30-09-07.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/demo/en/component/legend.md
  docs/assets/demo/en/custom-render/custom-cell-layout.md
  docs/assets/demo/zh/component/legend.md
  docs/assets/demo/zh/custom-render/custom-cell-layout.md
  docs/assets/guide/en/custom_define/custom_layout.md
  docs/assets/guide/zh/custom_define/custom_layout.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: chore, docs, vtable

#1827 1823 change screen pixelratio
  common/changes/@visactor/vtable/1823-change-screen-pixelratio_2024-05-30-12-22.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/EventHandler.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/tools/pixel-ratio.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, vtable

#1842 feat: add InputEditor config
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
  packages/vtable-editors/src/input-editor.ts
  packages/vtable/examples/list-analysis/list-aggregation-edit.ts
Labels: docs, vtable

#1843 feat: add SelectAllOnCtrlA option
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: docs, vtable

#1849 1167 feature selected highlight
  common/changes/@visactor/vtable/1167-feature-selected-highlight_2024-06-04-06-31.json
  packages/vtable/examples/list/list.ts
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/themes/DEFAULT.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/theme.ts
Labels: chore, vtable

#1851 Feat/select all on ctrl a option
  common/changes/@visactor/vtable/feat-selectAllOnCtrlAOption_2024-06-04-08-13.json
  docs/assets/faq/en/19-Can the VTable table component copy the contents of selected cells.md
  docs/assets/faq/zh/19-Can the VTable table component copy the contents of selected cells.md
  docs/assets/guide/en/shortcut.md
  docs/assets/guide/zh/shortcut.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#1775 feat: add basix appear animation
  docs/assets/demo/en/animation/appear-animation.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/animation/appear-animation.md
  docs/assets/guide/en/animation/appear_animation.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/animation/appear_animation.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/debug/animation.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/animation/appear.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/animation/appear.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: docs, vtable

#1863 1848 feature icon tooltip delay disappear
  common/changes/@visactor/vtable/1848-feature-icon-tooltip-delay-disappear_2024-06-05-10-34.json
  docs/assets/demo/en/component/tooltip.md
  docs/assets/demo/zh/component/tooltip.md
  docs/assets/guide/en/components/tooltip.md
  docs/assets/guide/en/custom_define/custom_icon.md
  docs/assets/guide/zh/components/tooltip.md
  docs/assets/guide/zh/custom_define/custom_icon.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/icon/base-icon.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/icon/base-icon.md
  packages/vtable/examples/icon/icon-register.ts
  packages/vtable/src/components/tooltip/TooltipHandler.ts
  packages/vtable/src/components/tooltip/logic/BubbleTooltipElement.ts
  packages/vtable/src/components/tooltip/logic/BubbleTooltipElementStyle.ts
  packages/vtable/src/scenegraph/icon/icon-update.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/icon.ts
  packages/vtable/src/ts-types/tooltip.ts
Labels: chore, docs, vtable

#1889 1873 feature keyboard arrow shift ctrl
  common/changes/@visactor/vtable/1873-feature-keyboard-arrow-shiftCtrl_2024-06-11-12-07.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, vtable

#1891 1882 bug inline front icon
  common/changes/@visactor/vtable/1882-bug-inlineFront-icon_2024-06-12-04-01.json
  docs/assets/api/en/icon/base-icon.md
  docs/assets/api/zh/icon/base-icon.md
  docs/assets/option/en/icon/base-icon.md
  docs/assets/option/zh/icon/base-icon.md
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: chore, docs, vtable

#1900 1899 bug drill down icon can not click
  common/changes/@visactor/vtable/1899-bug-drill-down-icon-can-not-click_2024-06-12-10-50.json
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, vtable

#1859 feat: add ignoreIcon&formatExportOutput config in vtable-export #1813
  common/changes/@visactor/vtable/feat-export-icon_2024-06-05-07-00.json
  docs/assets/demo/en/export/table-export-format.md
  docs/assets/demo/en/export/table-export-ignore-icon.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/export/table-export-format.md
  docs/assets/demo/zh/export/table-export-ignore-icon.md
  docs/assets/guide/en/export/excel.md
  docs/assets/guide/zh/export/excel.md
  packages/vtable-export/demo/list/list-checkbox.ts
  packages/vtable-export/demo/list/list-tree.ts
  packages/vtable-export/demo/main.ts
  packages/vtable-export/demo/menu.ts
  packages/vtable-export/src/csv/index.ts
  packages/vtable-export/src/excel/index.ts
  packages/vtable-search/README.md
  packages/vtable/src/ListTable.ts
Labels: chore, docs, vtable

#1885 fix: fix ellipsis error in _disableColumnAndRowSizeRound mode #1884
  common/changes/@visactor/vtable/fix-ellipsis_2024-06-11-08-30.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: chore, vtable

#1910 fix: fix merge cell size update #1869
  common/changes/@visactor/vtable/1167-feature-selected-highlight_2024-06-05-03-27.json
  common/changes/@visactor/vtable/1848-feature-icon-tooltip-delay-disappear_2024-06-05-10-34.json
  common/changes/@visactor/vtable/1865-refactor-updatepivotsortstate_2024-06-07-12-32.json
  common/changes/@visactor/vtable/1873-feature-keyboard-arrow-shiftCtrl_2024-06-11-12-07.json
  common/changes/@visactor/vtable/1882-bug-inlineFront-icon_2024-06-12-04-01.json
  common/changes/@visactor/vtable/1899-bug-drill-down-icon-can-not-click_2024-06-12-10-50.json
  common/changes/@visactor/vtable/feat-export-icon_2024-06-05-07-00.json
  common/changes/@visactor/vtable/feat-inputEditorConfig_2024-06-05-03-03.json
  common/changes/@visactor/vtable/fix-bug-fix-for-fs_2024-06-12-04-05.json
  common/changes/@visactor/vtable/fix-bug-fix-for-fs_2024-06-12-04-06.json
  common/changes/@visactor/vtable/fix-bug-fix-for-fs_2024-06-12-04-07.json
  common/changes/@visactor/vtable/fix-ellipsis_2024-06-11-08-30.json
  common/changes/@visactor/vtable/fix-merge-cell-size-update_2024-06-13-04-41.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: chore, vtable

#1912 fix: fix frozenColCount large than colCount error #1872
  packages/vtable/src/scenegraph/layout/frozen.ts
Labels: vtable

#1919 1918 bug drag select beyond table occur error
  common/changes/@visactor/vtable/1918-bug-drag-select-beyond-table-occur-error_2024-06-13-11-32.json
  common/changes/@visactor/vtable/1918-bug-drag-select-beyond-table-occur-error_2024-06-13-11-33.json
  packages/vtable/src/event/listener/container-dom.ts
Labels: chore, vtable

#1913 chore: update issue yml and highlightMode type
  .github/ISSUE_TEMPLATE/feaure_request.yml
  docs/assets/demo/en/cell-type/list-table-chart.md
  docs/assets/demo/zh/cell-type/list-table-chart.md
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, docs, vtable

#1896 1887 refactor tooltip scroll
  common/changes/@visactor/vtable/1887-refactor-tooltip-scroll_2024-06-12-08-25.json
  docs/assets/demo/en/component/tooltip.md
  docs/assets/demo/zh/component/tooltip.md
  docs/assets/guide/en/components/tooltip.md
  docs/assets/guide/zh/components/tooltip.md
  docs/assets/option/en/icon/base-icon.md
  docs/assets/option/zh/icon/base-icon.md
  packages/vtable/examples/icon/icon-register.ts
  packages/vtable/examples/interactive/tooltip.ts
  packages/vtable/src/components/tooltip/TooltipHandler.ts
  packages/vtable/src/components/tooltip/logic/BubbleTooltipElement.ts
  packages/vtable/src/components/tooltip/logic/BubbleTooltipElementStyle.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/icon.ts
  packages/vtable/src/ts-types/theme.ts
  packages/vtable/src/ts-types/tooltip.ts
Labels: chore, docs, vtable

#1925 1924 refactor rowtree not supplement indicators
  common/changes/@visactor/vtable/1924-refactor-rowtree-not-supplement-indicators_2024-06-14-04-14.json
  docs/assets/option/en/table/pivotChart.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotChart.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable/src/layout/layout-helper.ts
Labels: chore, docs, vtable

#1916 1895 feature pivot table corner empty tip
  common/changes/@visactor/vtable/1895-feature-pivotTable-corner-emptyTip_2024-06-13-10-12.json
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-empty-tip.ts
  packages/vtable/src/components/empty-tip/empty-tip.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: chore, vtable

#1930 1864 bug cell is in visual view error
  common/changes/@visactor/vtable/1864-bug-cellIsInVisualView-error_2024-06-17-09-05.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/__tests__/options/listTable-api-with-frozen.test.ts
  packages/vtable/src/core/BaseTable.ts
Labels: chore, docs, vtable

#1879 fix: rename 'broswer' to 'browser' to correct a typo
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

#1914 feat: add blankAreaClickDeselect/outsideClickDeselect option
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: docs, vtable

#1931 1892 bug autowraptext computerowheight
  common/changes/@visactor/vtable/1892-bug-autowraptext-computerowheight_2024-06-17-10-20.json
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: chore, vtable

#1932 Feat/add deselect option
  common/changes/@visactor/vtable/feat-add-deselect-option_2024-06-17-10-39.json
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, docs, vtable

#1940 docs: Change the url of tooltip_custom_content demo
  docs/assets/faq/en/5-How to customize the content of a tooltip in a pop-up box.md
  docs/assets/faq/zh/5-How to customize the content of a tooltip in a pop-up box.md
Labels: docs

#1947 Chore/update vrender
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
Labels: chore, docs, vtable, react-vtable, openinula-vtable

#1959 fix: fix column update problem #1951
  common/changes/@visactor/vtable/fix-column-update_2024-06-20-11-59.json
  packages/vtable/examples/debug/scroll.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/update-auto-row.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, vtable

#1890 chore: update vrender version
  common/changes/@visactor/vtable/chore-updateVrender_2024-06-19-06-19.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
Labels: chore, docs, vtable, react-vtable, openinula-vtable

#1954 1953 feature pivot table set records emptytip
  common/changes/@visactor/vtable/1953-feature-pivotTable-setRecords-emptytip_2024-06-19-11-17.json
  packages/vtable/src/PivotTable.ts
Labels: chore, vtable

#1961 1955 bug get cell rect api
  common/changes/@visactor/vtable/1955-bug-getCellRect-api_2024-06-20-12-24.json
  packages/vtable/__tests__/api/listTable-getCellRect.test.ts
  packages/vtable/src/core/BaseTable.ts
Labels: chore, vtable

#1964 1939 bug updatesortstate set null
  common/changes/@visactor/vtable/1939-bug-updatesortstate-set-null_2024-06-21-03-46.json
  packages/vtable/src/ListTable.ts
Labels: chore, vtable

#1962 feat: add indent in vtable-export
  common/changes/@visactor/vtable/feat-export-indent_2024-06-20-13-09.json
  packages/vtable-export/src/excel/index.ts
  packages/vtable-export/src/excel/style.ts
  packages/vtable-export/src/util/indent.ts
Labels: chore

#1967 fix: fix size update problem in pivot table sort #1958
  common/changes/@visactor/vtable/fix-pivot-sort-size-update_2024-06-21-09-20.json
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: chore, vtable

#1938 Feat/react component container
  common/changes/@visactor/vtable/feat-react-component-container_2024-05-07-09-28.json
  common/changes/@visactor/vtable/feat-react-component-container_2024-05-15-06-22.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo-react/en/component/custom-component.md
  docs/assets/demo-react/en/custom-layout/cell-custom-component.md
  docs/assets/demo-react/en/custom-layout/cell-custom-dom.md
  docs/assets/demo-react/en/custom-layout/cell-custom-layout-dom.md
  docs/assets/demo-react/en/custom-layout/custom-layout.md
  docs/assets/demo-react/menu.json
  docs/assets/demo-react/zh/custom-layout/cell-custom-component.md
  docs/assets/demo-react/zh/custom-layout/cell-custom-dom.md
  docs/assets/demo-react/zh/custom-layout/cell-custom-layout-dom.md
  docs/assets/demo-react/zh/custom-layout/custom-layout.md
  docs/assets/guide/en/Developer_Ecology/react-custom-component.md
  docs/assets/guide/en/Developer_Ecology/react.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/Developer_Ecology/react-custom-component.md
  docs/assets/guide/zh/Developer_Ecology/react.md
  docs/src/main.tsx
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/component/custom-layout-dom-site-1.tsx
  packages/react-vtable/demo/src/component/custom-layout-dom-site.tsx
  packages/react-vtable/demo/src/component/custom-layout-dom.tsx
  packages/react-vtable/demo/src/component/custom-layout.tsx
  packages/react-vtable/demo/vite.config.ts
  packages/react-vtable/package.json
  packages/react-vtable/src/components/base-component.tsx
  packages/react-vtable/src/components/custom/component.ts
  packages/react-vtable/src/components/custom/custom-layout.tsx
  packages/react-vtable/src/components/custom/graphic.ts
  packages/react-vtable/src/components/custom/reconciler.ts
  packages/react-vtable/src/components/custom/vtable-browser-env-contribution.ts
  packages/react-vtable/src/components/custom/vtable-react-attribute-plugin.ts
  packages/react-vtable/src/components/index.ts
  packages/react-vtable/src/index.ts
  packages/react-vtable/src/tables/base-table.tsx
  packages/react-vtable/src/vtable.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/components/react/react-custom-layout.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/style.ts
  packages/vtable/src/index.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/customLayout.ts
  packages/vtable/src/vrender.ts
Labels: chore, docs, vtable, react-vtable

#1970 Merge main into develop
  common/changes/@visactor/vtable/1939-bug-updatesortstate-set-null_2024-06-21-03-46.json
  common/changes/@visactor/vtable/1941-feature-support-calculate-field_2024-06-18-12-05.json
  common/changes/@visactor/vtable/1945-bug-error-when-editing-corner-header_2024-06-20-03-03.json
  common/changes/@visactor/vtable/1953-feature-pivotTable-setRecords-emptytip_2024-06-19-11-17.json
  common/changes/@visactor/vtable/1955-bug-getCellRect-api_2024-06-20-12-24.json
  common/changes/@visactor/vtable/1956-bug-error-when-editing-corner-header_2024-06-20-09-05.json
  common/changes/@visactor/vtable/chore-updateVrender_2024-06-19-06-19.json
  common/changes/@visactor/vtable/feat-export-indent_2024-06-20-13-09.json
  common/changes/@visactor/vtable/feat-react-component-container_2024-05-07-09-28.json
  common/changes/@visactor/vtable/feat-react-component-container_2024-05-15-06-22.json
  common/changes/@visactor/vtable/fix-compute-size_2024-06-21-06-26.json
  common/changes/@visactor/vtable/fix-compute-size_2024-06-21-06-28.json
  common/changes/@visactor/vtable/fix-pivot-sort-size-update_2024-06-21-09-20.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#1975 fix: add editorManager judgement
  common/changes/@visactor/vtable/fix-editorManager-judgement_2024-06-24-07-04.json
  common/config/rush/command-line.json
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, vtable

#1968 fix: fix keydown enter problem #1965
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable
