Repository VisActor/VTable, pull requests merged in 2024-10, with the labels that each got.

#2559 Main
  common/changes/@visactor/vtable/fix-richtext-icon-state_2024-09-30-09-13.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#2548 feat: corner customLayout && customRender
  docs/assets/demo/en/custom-render/complex-corner.md
  docs/assets/demo/en/custom-render/simple-corner.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/custom-render/complex-corner.md
  docs/assets/demo/zh/custom-render/simple-corner.md
  docs/assets/option/en/common/pivot-corner.md
  docs/assets/option/zh/common/pivot-corner.md
  docs/package.json
  packages/vtable/examples/custom/complex-corner.ts
  packages/vtable/examples/custom/simple-corner.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/pivot-table/corner.ts
Labels: docs, vtable

#2561 Feat/corner custom layout
  docs/assets/demo/en/custom-render/complex-corner.md
  docs/assets/demo/en/custom-render/simple-corner.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/custom-render/complex-corner.md
  docs/assets/demo/zh/custom-render/simple-corner.md
  docs/assets/option/en/common/pivot-corner.md
  docs/assets/option/zh/common/pivot-corner.md
  docs/package.json
  packages/vtable/examples/custom/complex-corner.ts
  packages/vtable/examples/custom/simple-corner.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/pivot-table/corner.ts
Labels: docs, vtable

#2564 2558 bug row series number sort error
  common/changes/@visactor/vtable/2558-bug-rowSeriesNumber-sort-error_2024-10-08-06-58.json
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: chore, vtable

#2566 2519 bug updatecolumns aggregation
  common/changes/@visactor/vtable/2519-bug-updatecolumns-aggregation_2024-10-08-09-24.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/DataSource.ts
Labels: chore, vtable

#2569 2553 feature select outside click deselect
  common/changes/@visactor/vtable/2553-feature-select-outsideClickDeselect_2024-10-08-11-41.json
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, vtable

#2586 fix: fix custom component in forzen cell #2568
  common/changes/@visactor/vtable/fix-forzen-custom-component_2024-10-11-08-09.json
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
  packages/vtable/src/scenegraph/layout/frozen-react.ts
Labels: chore, vtable, react-vtable

#2571 2515 pivottable corner header width auto
  common/changes/@visactor/vtable/2515-pivottable-corner-header-width-auto_2024-10-09-03-58.json
  packages/vtable/examples/pivot-analysis/pivot-analysis.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: chore, vtable

#2578 2549 list promise bg color func
  common/changes/@visactor/vtable/2549-list-promise-bgColorFunc_2024-10-09-11-43.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: chore, vtable

#2584 fix: fix legend with padding layout size
  common/changes/@visactor/vtable/fix-legend-size_2024-10-10-07-01.json
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
Labels: chore, vtable

#2579 fix: fix merge cell select range #2521
  common/changes/@visactor/vtable/fix-select-merge_2024-10-09-13-11.json
  packages/vtable/src/state/select/update-position.ts
Labels: chore, vtable

#2576 fix: fix cellLocation in createComplexColumn #2517
  common/changes/@visactor/vtable/fix-pivot-cellLocation_2024-10-09-08-06.json
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: chore, vtable

#2575 fix: fix select auto-scroll in bottom #2546
  common/changes/@visactor/vtable/fix-auto-scroll-bottom_2024-10-09-07-03.json
  packages/vtable/src/event/listener/container-dom.ts
Labels: chore, vtable

#2574 fix: fix auto size in react custom component
  common/changes/@visactor/vtable/fix-component-auto-size_2024-10-09-06-51.json
  packages/vtable/src/components/react/react-custom-layout.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: chore, vtable

#2565 fix: fix custom component flash when cell resizes #2516
  common/changes/@visactor/vtable/fix-custom-component-flash_2024-10-08-08-13.json
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: chore, vtable, react-vtable

#2594 fix: fix sort icon update in merge cell
  common/changes/@visactor/vtable/fix-merge-sort-icon_2024-10-11-12-38.json
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#2599 docs: fix animation guide url
  docs/assets/guide/en/animation/appear_animation.md
  docs/assets/guide/en/animation/scroll_animation.md
  docs/assets/guide/zh/animation/appear_animation.md
  docs/assets/guide/zh/animation/scroll_animation.md
Labels: docs

#2596 fix: convert camel case in tables
  docs/assets/demo-vue/en/custom-layout/cell-custom-component.md
  docs/assets/demo-vue/en/edit-data/arco-select-editor.md
  docs/assets/demo-vue/en/edit-data/edit-cell.md
  docs/assets/demo-vue/zh/custom-layout/cell-custom-component.md
  docs/assets/demo-vue/zh/edit-data/arco-select-editor.md
  docs/assets/demo-vue/zh/edit-data/edit-cell.md
  packages/vue-vtable/demo/src/table/gramatical/options/ListTable-v-for.vue
  packages/vue-vtable/src/tables/list-table.vue
  packages/vue-vtable/src/tables/pivot-chart.vue
  packages/vue-vtable/src/tables/pivot-table.vue
  packages/vue-vtable/src/tables/utils.ts
Labels: docs

#2601 feat: add option dragSortRow
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list-rowSeriesNumber.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/component/cell-mover.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: docs, vtable

#2620 2609 bug togglehierarchystate customlayout
  common/changes/@visactor/vtable/2609-bug-togglehierarchystate-customlayout_2024-10-15-11-12.json
  packages/vtable/src/ListTable.ts
Labels: chore, vtable

#2611 2607 feature gantt underlaybackgroundcolor
  common/changes/@visactor/vtable/2607-feature-gantt-underlaybackgroundcolor_2024-10-14-07-16.json
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore

#2636 fix: fix sort icon update in transpose list-table
  common/changes/@visactor/vtable/fix-transpose-sort-icon_2024-10-18-06-38.json
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#2621 fix: fix multi-sort icon update in updateSortState() #2614
  common/changes/@visactor/vtable/fix-multi-sort-icon_2024-10-15-13-25.json
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#2613 fix: fix row resize mark position when scrolled vertically #2606
  common/changes/@visactor/vtable/fix-row-scroll-resize_2024-10-14-07-58.json
  packages/vtable/src/scenegraph/component/util.ts
Labels: chore, vtable

#2610 fix: fix border rect missing when borderLineWidth is 0
  common/changes/@visactor/vtable/fix-frame-border_2024-10-14-06-54.json
  packages/vtable/src/scenegraph/style/frame-border.ts
Labels: chore, vtable

#2618 feat: update vrender version
  common/changes/@visactor/vtable/feat-update-vrender_2024-10-16-04-21.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/Developer_Ecology/node.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/Developer_Ecology/node.md
  packages/vtable/package.json
  packages/vtable/src/scenegraph/style/frame-border.ts
Labels: chore, docs, vtable

#2646 2643 bug row series sort icon
  common/changes/@visactor/vtable/2643-bug-rowSeries-sort-icon_2024-10-21-09-51.json
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#2698 feat: contextMenuItems add table params
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/openinula-vtable/src/components/component/menu.tsx
  packages/react-vtable/src/table-components/component/menu.tsx
  packages/vtable/examples/list/list-title.ts
  packages/vtable/src/components/menu/dom/MenuHandler.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: docs, vtable, react-vtable, openinula-vtable

#2678 fix: fix check state update #2667
  common/changes/@visactor/vtable/fix-check-state-update_2024-10-25-11-40.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: chore, vtable

#2679 fix: add selected_cell event in select-all #2664
  common/changes/@visactor/vtable/fix-select-all-event_2024-10-25-12-11.json
  packages/vtable/src/event/event.ts
Labels: chore, vtable

#2684 fix: fix list-editor space problem
  common/changes/@visactor/vtable/fix-list-editor_2024-10-28-08-52.json
  docs/assets/demo/zh/edit/edit-cell.md
  packages/vtable-editors/src/list-editor.ts
Labels: chore, docs

#2686 fix: add event in react-vtable
  common/changes/@visactor/vtable/fix-react-event_2024-10-28-09-24.json
  packages/react-vtable/src/eventsUtils.ts
Labels: chore, react-vtable

#2687 fix: fix disableRowSeriesNumberSelect in select-all #2665
  common/changes/@visactor/vtable/fix-select-all-series-number_2024-10-28-09-43.json
  packages/vtable/src/state/select/update-position.ts
Labels: chore, vtable

#2688 fix: change pointerupoutside event callback #2674 #2659
  common/changes/@visactor/vtable/fix-pointerupoutside_2024-10-28-12-12.json
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, vtable

#2640 2600 bug group row series number
  common/changes/@visactor/vtable/2600-bug-group-rowSeriesNumber_2024-10-18-10-57.json
  common/changes/@visactor/vtable/2600-bug-group-rowSeriesNumber_2024-10-20-14-00.json
  packages/vtable/examples/list/list-group-manyChild.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/row-height-map.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/sort-vertical.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: chore, vtable

#2644 2641 bug freeze click event
  common/changes/@visactor/vtable/2641-bug-freeze_click-event_2024-10-21-03-19.json
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#2649 2647 bug drag select row number
  common/changes/@visactor/vtable/2647-bug-dragSelect-rowNumber_2024-10-22-06-43.json
  packages/vtable/src/event/listener/container-dom.ts
Labels: chore, vtable

#2650 2627 bug min aggregator nan value
  common/changes/@visactor/vtable/2627-bug-minAggregator-NaN_2024-10-22-07-28.json
  packages/vtable/src/dataset/statistics-helper.ts
Labels: chore, vtable

#2706 fix: fix title resize in adaptive mode #2704
  common/changes/@visactor/vtable/fix-title-resize_2024-10-29-13-01.json
  packages/vtable/src/components/title/title.ts
Labels: chore, vtable

#2712 fix: fix animation config in TableAnimatinManager
  packages/vtable/src/core/animation.ts
Labels: vtable

#2661 2653 bug frozencolcount rowseriesnumber
  common/changes/@visactor/vtable/2653-bug-frozencolcount-rowseriesnumber_2024-10-23-09-36.json
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: chore, vtable

#2695 2691 paste cell value validate
  common/changes/@visactor/vtable/2691-paste-cell-value-validate_2024-10-29-06-41.json
  packages/vtable-editors/src/types.ts
  packages/vtable/src/core/record-helper.ts
Labels: chore, vtable

#2699 2690 bug empty tip scroll bartoside
  common/changes/@visactor/vtable/2690-bug-emptyTip-ScrollBartoside_2024-10-29-08-44.json
  packages/vtable/src/components/empty-tip/empty-tip.ts
Labels: chore, vtable

#2703 2702 bug field set array error
  common/changes/@visactor/vtable/2702-bug-field-set-array-error_2024-10-29-10-35.json
  packages/vtable/src/tools/util.ts
Labels: chore, vtable

#2711 2708 refactor gantt change vtable theme
  common/changes/@visactor/vtable/2708-refactor-gantt-change-vtable-theme_2024-10-30-06-58.json
  packages/vtable-gantt/examples/gantt/gantt-listTable.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable/src/themes/theme.ts
Labels: chore, vtable

#2710 2696 feature pivot table column wdith
  common/changes/@visactor/vtable/2696-feature-pivot-table-columnWdith_2024-10-30-03-49.json
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-column-width.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#2714 docs: update faq file name delete colons #2713
  docs/assets/faq/en/24-How to display table row numbers.md
  docs/assets/faq/en/27-How to set the expanded and collapsed state of the tree structure.md
  docs/assets/faq/en/29-How to obtain the total number of rows in a table and the actual height of the content.md
  docs/assets/faq/en/31-How to implement hover to a cell to show or hide part of the content.md
  docs/assets/faq/en/32-How to implement scrollbar DOM container boundary display.md
  docs/assets/faq/en/33-How to implement drag-and-drop adjustment of line-height.md
  docs/assets/faq/en/34-How to implement text type buttons.md
  docs/assets/faq/en/35-How to set the border style around cells separately.md
  docs/assets/faq/en/36-How to make the table automatically calculate column width based only on the content width of the table header.md
  docs/assets/faq/en/42-How to add column total information to the list.md
  docs/assets/faq/en/43-How to listen to table area selection and cancellation events.md
  docs/assets/faq/en/44-How to set only one column to not be selected for operation.md
  docs/assets/faq/en/45-How to manually control the tooltip display.md
  docs/assets/faq/en/46-How to set multi-level table headers.md
  docs/assets/faq/en/52-How to configure the editor and whether it can be reused.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/24-How to display table row numbers.md
  docs/assets/faq/zh/27-How to set the expanded and collapsed state of the tree structure.md
  docs/assets/faq/zh/29-How to obtain the total number of rows in a table and the actual height of the content.md
  docs/assets/faq/zh/31-How to implement hover to a cell to show or hide part of the content.md
  docs/assets/faq/zh/32-How to implement scrollbar DOM container boundary display.md
  docs/assets/faq/zh/33-How to implement drag-and-drop adjustment of line-height.md
  docs/assets/faq/zh/34-How to implement text type buttons.md
  docs/assets/faq/zh/35-How to set the border style around cells separately.md
  docs/assets/faq/zh/36-How to make the table automatically calculate column width based only on the content width of the table header.md
  docs/assets/faq/zh/42-How to add column total information to the list.md
  docs/assets/faq/zh/43-How to listen to table area selection and cancellation events.md
  docs/assets/faq/zh/44-How to set only one column to not be selected for operation.md
  docs/assets/faq/zh/45-How to manually control the tooltip display.md
  docs/assets/faq/zh/46-How to set multi-level table headers.md
  docs/assets/faq/zh/52-How to configure the editor and whether it can be reused.md
Labels: docs

#2685 2683 refactor custom merge check state
  common/changes/@visactor/vtable/2683-refactor-customMerge-checkState_2024-10-28-09-15.json
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, vtable

#2722 fix: fix large number rows in updateRow()
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: vtable

#2724 Merge main into develop
  common/changes/@visactor/vtable/2491-feature-justSelectBody_2024-10-22-09-28.json
  common/changes/@visactor/vtable/2491-feature-justSelectBody_2024-10-23-04-12.json
  common/changes/@visactor/vtable/2600-bug-group-rowSeriesNumber_2024-10-18-10-57.json
  common/changes/@visactor/vtable/2600-bug-group-rowSeriesNumber_2024-10-20-14-00.json
  common/changes/@visactor/vtable/2627-bug-minAggregator-NaN_2024-10-22-07-28.json
  common/changes/@visactor/vtable/2641-bug-freeze_click-event_2024-10-21-03-19.json
  common/changes/@visactor/vtable/2647-bug-dragSelect-rowNumber_2024-10-22-06-43.json
  common/changes/@visactor/vtable/2653-bug-frozencolcount-rowseriesnumber_2024-10-23-09-36.json
  common/changes/@visactor/vtable/2683-refactor-customMerge-checkState_2024-10-28-09-15.json
  common/changes/@visactor/vtable/2690-bug-emptyTip-ScrollBartoside_2024-10-29-08-44.json
  common/changes/@visactor/vtable/2691-paste-cell-value-validate_2024-10-29-06-41.json
  common/changes/@visactor/vtable/2696-feature-pivot-table-columnWdith_2024-10-30-03-49.json
  common/changes/@visactor/vtable/2702-bug-field-set-array-error_2024-10-29-10-35.json
  common/changes/@visactor/vtable/2708-refactor-gantt-change-vtable-theme_2024-10-30-06-58.json
  common/changes/@visactor/vtable/fix-check-state-update_2024-10-25-11-40.json
  common/changes/@visactor/vtable/fix-list-editor_2024-10-28-08-52.json
  common/changes/@visactor/vtable/fix-pointerupoutside_2024-10-28-12-12.json
  common/changes/@visactor/vtable/fix-react-event_2024-10-28-09-24.json
  common/changes/@visactor/vtable/fix-select-all-event_2024-10-25-12-11.json
  common/changes/@visactor/vtable/fix-select-all-series-number_2024-10-28-09-43.json
  common/changes/@visactor/vtable/fix-title-resize_2024-10-29-13-01.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable
