Repository VisActor/VTable, pull requests merged in 2024-05, with the labels that each got.

#1770 fix: use table option in hasAutoImageColumn()
  common/changes/@visactor/vtable/fix-auto-image-perf_2024-05-23-06-37.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/layout-helper.ts
Labels: chore, vtable

#1781 fix: fix lineClamp config in computeRowsHeight() #1772
  common/changes/@visactor/vtable/fix-lineClamp_2024-05-23-13-15.json
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/height-util.ts
Labels: chore, vtable

#1786 fix: axis size align with vrender-component #1784
  common/changes/@visactor/vtable/fix-axis-size_2024-05-24-07-49.json
  packages/vtable/src/components/axis/get-axis-component-size.ts
Labels: chore, vtable

#1789 fix: fix progress cell create problem in vtable-export #1787
  common/changes/@visactor/vtable/fix-progress-cell-export_2024-05-24-09-45.json
  packages/vtable-export/src/excel/index.ts
  packages/vtable/src/scenegraph/graphic/group.ts
Labels: chore, vtable

#1773 docs: supplement padding to style toturial
  docs/assets/guide/en/theme_and_style/style.md
  docs/assets/guide/zh/theme_and_style/style.md
Labels: docs

#1777 1740 bug legends
  common/changes/@visactor/vtable/1740-bug-legends_2024-05-23-10-20.json
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-chart/pivotChart-two-legends.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, vtable

#1779 1778 bug tree mode with rowhierarchytextstartalignment computcolwidth error
  common/changes/@visactor/vtable/1778-bug-tree-mode-with-rowhierarchytextstartalignment-computcolwidth-error_2024-05-23-11-35.json
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: chore, vtable

#1795 Main
  common/changes/@visactor/vtable/1740-bug-legends_2024-05-23-10-20.json
  common/changes/@visactor/vtable/1778-bug-tree-mode-with-rowhierarchytextstartalignment-computcolwidth-error_2024-05-23-11-35.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#1791 1780 how to update rawdata
  common/changes/@visactor/vtable/1780-how-to-update-rawdata_2024-05-24-10-14.json
  packages/vtable/src/data/DataSource.ts
Labels: chore, vtable

#1808 1800 feature disable select move header
  common/changes/@visactor/vtable/1800-feature-disableSelect-moveHeader_2024-05-28-11-10.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
Labels: chore, vtable

#1805 1782 feature listtable empty tip
  common/changes/@visactor/vtable/1782-feature-listtable-emptyTip_2024-05-27-12-45.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo/en/component/empty-tip.md
  docs/assets/demo/en/search/search-component.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/component/empty-tip.md
  docs/assets/demo/zh/search/search-component.md
  docs/assets/guide/en/data/data_format.md
  docs/assets/guide/zh/data/data_format.md
  docs/assets/option/en/common/empty-tip-define.md
  docs/assets/option/en/common/option-important.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/empty-tip-define.md
  docs/assets/option/zh/common/option-important.md
  docs/assets/option/zh/common/option-secondary.md
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/examples/list/list-empty-tip.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot.ts
  packages/vtable/package.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/components/empty-tip/empty-tip.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/component/empty-tip.ts
Labels: chore, docs, vtable, react-vtable, openinula-vtable

#1807 fix: fix tree create problem in getDataCellPath()
  common/changes/@visactor/vtable/fix-config-get-date-path_2024-05-28-09-11.json
  packages/vtable/__tests__/layout/get-data-cell-path.test.ts
  packages/vtable/src/tools/get-data-path/create-dataset.ts
Labels: chore, vtable

#1820 1817 bug indicatorkey same with dimension value
  common/changes/@visactor/vtable/1817-bug-indicatorkey-sameWithDimensionValue_2024-05-30-04-33.json
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
Labels: chore, vtable

#1814 fix: fix table frame corner radius display problem #1783
  common/changes/@visactor/vtable/fix-border-cornor_2024-05-28-12-54.json
  packages/vtable/src/scenegraph/style/frame-border.ts
Labels: chore, vtable

#1834 Chore/update vrender version
  common/changes/@visactor/vtable/chore-update-vrender-version_2024-05-31-08-36.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: chore, vtable
