Repository VisActor/VTable, pull requests merged in 2024-11, with the labels that each got.

#2725 Fix/type define column width config
  common/changes/@visactor/vtable/fix-type_define_columnWidthConfig_2024-11-01-02-28.json
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, vtable

#2721 fix: tab key navigation behavior
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

#2739 docs:fix word errors in the document
  docs/assets/guide/en/theme_and_style/style.md
  docs/assets/guide/zh/theme_and_style/style.md
Labels: docs

#2747 fix: trigger SELECTED_CLEAR event when clicking disable-select cell
  packages/vtable/src/event/event.ts
Labels: vtable

#2756 Feat/multiple row highlight
  .vscode/settings.json
  common/config/rush/.npmrc
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, docs, vtable

#2773 docs: revise component import example
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/zh/Developer_Ecology/vue.md
Labels: docs

#2730 2689 bug gantt markline position error
  common/changes/@visactor/vtable/2689-bug-gantt-markline-position-error_2024-11-01-06-18.json
  docs/assets/guide/en/Contribution_Guide.md
  docs/assets/guide/zh/Contribution_Guide.md
  packages/vtable-gantt/src/scenegraph/mark-line.ts
Labels: chore, docs

#2733 Fix/last row tab not work esc focus
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

#2737 2735 bug header icon display incorrect
  common/changes/@visactor/vtable/2735-bug-header-icon-display-incorrect_2024-11-01-08-26.json
  packages/vtable/src/layout/tree-helper.ts
Labels: chore, vtable

#2752 2749 bug stack no work in vtable
  common/changes/@visactor/vtable/2749-bug-stack-no-work-in-vtable_2024-11-04-07-44.json
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: chore, vtable

#2762 2758 bug pivot table celltype chart error
  common/changes/@visactor/vtable/2758-bug-pivot-table-celltype-chart-error_2024-11-05-07-26.json
  docs/assets/option/en/column/chart-column-type.md
  docs/assets/option/en/indicator/chart-indicator-type.md
  docs/assets/option/zh/column/chart-column-type.md
  docs/assets/option/zh/indicator/chart-indicator-type.md
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/ts-types/list-table/define/chart-define.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/pivot-table/indicator/chart-indicator.ts
Labels: chore, docs, vtable

#2763 2754 bug celltype function error
  common/changes/@visactor/vtable/2754-bug-celltype-function-error_2024-11-05-06-17.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: chore, vtable

#2765 docs: supplement rowSeriesNumber options
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/common/row-series-number.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/common/row-series-number.md
Labels: docs

#2775 2751 feature darg header select
  common/changes/@visactor/vtable/2751-feature-dargHeader-select_2024-11-06-06-29.json
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: chore, vtable

#2778 2771 bug gantt create schedule
  common/changes/@visactor/vtable/2771-bug-gantt-createSchedule_2024-11-06-07-57.json
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: chore

#2779 2764 bug legend scrolling conflicts with table
  common/changes/@visactor/vtable/2764-bug-legend-scrolling-conflicts-with-table_2024-11-06-10-58.json
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, vtable

#2769 fix: fix tree frozen row problem #2619
  common/changes/@visactor/vtable/fix-tree-frozen-row_2024-11-05-13-32.json
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: chore, vtable

#2767 fix: fix menu scale pos problem #2734
  common/changes/@visactor/vtable/fix-scale-menu-pos_2024-11-05-09-24.json
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
Labels: chore, vtable

#2761 fix: fix cellLocation in pivot-table #2694
  common/changes/@visactor/vtable/fix-pivot-frozen-col_2024-11-05-06-26.json
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/column.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: chore, vtable

#2793 Fix sort state field undefined error
  common/changes/@visactor/vtable/fix-sortState-fieldUndefined-error_2024-11-07-14-50.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#2787 2210 bug vtable pivot chart selectenable
  common/changes/@visactor/vtable/2210-bug-vtable-pivotChart-selectenable_2024-11-07-10-57.json
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: chore, vtable

#2827 docs: supplement showTooltip api description
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/components/tooltip.md
  docs/assets/guide/zh/components/tooltip.md
Labels: docs

#2810 2178 bug pivotchart pie selected selected reverse
  common/changes/@visactor/vtable/2178-bug-pivotchart-pie-selected-selected_reverse_2024-11-11-08-51.json
  common/changes/@visactor/vtable/2178-bug-pivotchart-pie-selected-selected_reverse_2024-11-11-10-40.json
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
Labels: chore, vtable

#2815 2799 bug disableselec selectcell api
  common/changes/@visactor/vtable/2799-bug-disableselec-selectcell-api_2024-11-11-11-32.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#2819 2804 bug select range after resize
  common/changes/@visactor/vtable/2804-bug-selectRange-after-resize_2024-11-12-05-57.json
  packages/vtable/src/scenegraph/layout/frozen.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: chore, vtable

#2821 2800 bug frozen vchart render error
  common/changes/@visactor/vtable/2800-bug-frozen-vchart-render-error_2024-11-12-09-28.json
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
Labels: chore, vtable

#2822 2817 feature toggle hierarchy state add arg recalculate col widths
  common/changes/@visactor/vtable/2817-feature-toggleHierarchyState-add-arg-recalculateColWidths_2024-11-12-10-19.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: chore, docs, vtable

#2700 2680 feature gantt drag taskbar order line style
  common/changes/@visactor/vtable/2680-feature-gantt-drag-taskbar-order_2024-10-28-10-55.json
  common/changes/@visactor/vtable/2680-feature-gantt-drag-taskbar-order_2024-11-01-10-33.json
  common/changes/@visactor/vtable/2680-feature-gantt-drag-taskbar-order_2024-11-01-10-49.json
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/guide/en/Developer_Ecology/react.md
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/Developer_Ecology/react.md
  docs/assets/guide/zh/Developer_Ecology/vue.md
  docs/assets/guide/zh/gantt/introduction.md
  packages/react-vtable/src/eventsUtils.ts
  packages/vtable-gantt/examples/gantt/gantt-dependency.ts
  packages/vtable-gantt/examples/gantt/gantt-editor.ts
  packages/vtable-gantt/examples/gantt/gantt-minMaxDate.ts
  packages/vtable-gantt/examples/gantt/gantt-noLeftListTable.ts
  packages/vtable-gantt/examples/gantt/gantt-splitLine.ts
  packages/vtable-gantt/examples/gantt/gantt-style.ts
  packages/vtable-gantt/examples/gantt/gantt-tree.ts
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/drag-order-line.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/component/cell-mover.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/events.ts
  packages/vue-vtable/src/eventsUtils.ts
Labels: chore, docs, vtable, react-vtable

#2836 2835 bug call renderwithrecreatecells col width change
  common/changes/@visactor/vtable/2835-bug-call-renderwithrecreatecells-colWidthChange_2024-11-14-12-03.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vue-vtable/package.json
Labels: chore, docs, vtable, react-vtable, openinula-vtable

#2839 fix: fix originCol/Row in custom computation
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/ts-types/customElement.ts
Labels: vtable, react-vtable

#2837 Feat/component animation
  common/config/rush/pnpm-lock.yaml
  docs/assets/api/en/icon/image-icon.md
  docs/assets/api/en/methods.md
  docs/assets/api/zh/icon/image-icon.md
  docs/assets/api/zh/methods.md
  docs/assets/demo-vue/en/custom-layout/cell-custom-component.md
  docs/assets/demo-vue/zh/custom-layout/cell-custom-component.md
  docs/assets/demo/en/custom-render/complex-corner.md
  docs/assets/demo/en/custom-render/custom-cell-layout.md
  docs/assets/demo/en/custom-render/simple-corner.md
  docs/assets/demo/en/table-type/list-table-tree-lazy-load.md
  docs/assets/demo/zh/custom-render/complex-corner.md
  docs/assets/demo/zh/custom-render/custom-cell-layout.md
  docs/assets/demo/zh/custom-render/simple-corner.md
  docs/assets/demo/zh/table-type/list-table-tree-lazy-load.md
  docs/assets/faq/en/34-How to implement text type buttons.md
  docs/assets/faq/en/47- How to make text automatically omitted based on cell width when using custom rendering with VTable components.md
  docs/assets/faq/zh/34-How to implement text type buttons.md
  docs/assets/faq/zh/47- How to make text automatically omitted based on cell width when using custom rendering with VTable components.md
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/en/components/dropdown.md
  docs/assets/guide/en/custom_define/custom_component.md
  docs/assets/guide/en/custom_define/custom_layout.md
  docs/assets/guide/en/custom_define/vue-custom-component.md
  docs/assets/guide/en/table_type/List_table/group_list.md
  docs/assets/guide/en/table_type/List_table/tree_list.md
  docs/assets/guide/zh/Developer_Ecology/vue.md
  docs/assets/guide/zh/components/dropdown.md
  docs/assets/guide/zh/custom_define/custom_component.md
  docs/assets/guide/zh/custom_define/custom_layout.md
  docs/assets/guide/zh/custom_define/vue-custom-component.md
  docs/assets/guide/zh/table_type/List_table/group_list.md
  docs/assets/guide/zh/table_type/List_table/tree_list.md
  docs/assets/option/en/custom-layout/container-custom-layout-element.md
  docs/assets/option/zh/custom-layout/container-custom-layout-element.md
  packages/vtable/examples/custom-layout-jsx/list-jsx.tsx
  packages/vtable/examples/custom/custom-layout.ts
  packages/vtable/examples/icon/icon-register.ts
  packages/vtable/examples/icons8.gif
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/package.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/animation.ts
  packages/vtable/src/icons.ts
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/graphic/contributions/draw-interceptor.ts
  packages/vtable/src/scenegraph/graphic/contributions/image-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/index.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/tools/icons.ts
  packages/vtable/src/ts-types/icon.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#2843 fix: when call updatePagination with tree mode render error
  packages/vtable/src/data/DataSource.ts
Labels: vtable

#2856 Docs/supplemet gantt option
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/table/gantt.md
Labels: docs

#2857 2830 bug editor validatevalue repeatedly
  common/changes/@visactor/vtable/2830-bug-editor-validatevalue-repeatedly_2024-11-18-07-08.json
  packages/vtable/src/edit/edit-manager.ts
Labels: chore, vtable

#2848 2831 bug drag row error
  common/changes/@visactor/vtable/2831-bug-drag-row-error_2024-11-15-10-55.json
  packages/vtable/src/event/helper.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/state/cell-move/index.ts
Labels: chore, vtable

#2866 fix: fix merge cell text position #2858
  common/changes/@visactor/vtable/fix-merge-cell-pos-fs_2024-11-18-13-39.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: chore, vtable

#2868 feat: optimize range select in HeaderHighlightPlugin
  common/changes/@visactor/vtable/feat-HeaderHighlightPlugin-update_2024-11-19-03-55.json
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/plugins/header-highlight.ts
Labels: chore, vtable

#2871 feat: add setCustomSelectRanges in stateManager #2750 #2845
  common/changes/@visactor/vtable/feat-custom-select_2024-11-19-09-29.json
  packages/vtable/examples/interactive/highlight-color.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/scenegraph/select/update-select-style.ts
  packages/vtable/src/state/select/custom-select.ts
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#2894 Docs/list table hierarchy expand level
  common/changes/@visactor/vtable/2860-feature-dragColumnOrder_2024-11-21-07-20.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/table_type/List_table/tree_list.md
  docs/assets/guide/zh/table_type/List_table/tree_list.md
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/state/hover/row.ts
  packages/vtable/src/state/hover/single.ts
  packages/vue-vtable/package.json
Labels: chore, docs, vtable, react-vtable, openinula-vtable

#2886 2861 bug select state clear when reisze col width
  common/changes/@visactor/vtable/2861-bug-selectState-clear-whenReiszeColWidth_2024-11-21-06-19.json
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#2884 2883 bug gantt markline resize
  common/changes/@visactor/vtable/2883-bug-gantt-markline-resize_2024-11-21-03-34.json
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
Labels: chore

#2877 fix: fix functional padding update #2774
  common/changes/@visactor/vtable/fix-padding-func_2024-11-20-07-15.json
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: chore, vtable

#2879 feat: templateLink support function #2847
  common/changes/@visactor/vtable/feat-templateLink-func_2024-11-20-08-59.json
  docs/assets/guide/en/cell_type/link.md
  docs/assets/guide/zh/cell_type/link.md
  docs/assets/option/en/column/link-column-type.md
  docs/assets/option/en/dimension/link-dimension-type.md
  docs/assets/option/en/indicator/link-indicator-type.md
  docs/assets/option/zh/column/link-column-type.md
  docs/assets/option/zh/dimension/link-dimension-type.md
  docs/assets/option/zh/indicator/link-indicator-type.md
  packages/vtable/src/event/media-click.ts
  packages/vtable/src/ts-types/list-table/define/composite-define.ts
  packages/vtable/src/ts-types/list-table/define/link-define.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/pivot-table/dimension/link-dimension.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
  packages/vtable/src/ts-types/pivot-table/indicator/composite-indicator.ts
  packages/vtable/src/ts-types/pivot-table/indicator/link-indicator.ts
Labels: chore, docs, vtable

#2891 chore: remove react in react-vtable umd file
  packages/react-vtable/bundler.config.js
Labels: bundler, react-vtable

#2896 feat: add position in tooltip config #2869
  common/changes/@visactor/vtable/feat-tooltip-position_2024-11-22-07-21.json
  packages/vtable/examples/interactive/tooltip.ts
  packages/vtable/src/components/tooltip/TooltipHandler.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, vtable

#2898 fix: fix select all in row-series-number checkbox #2880
  common/changes/@visactor/vtable/fix-row-series-number-checkbox_2024-11-22-10-11.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: chore, vtable

#2904 Fix/carousel config
  common/changes/@visactor/vtable/fix-carousel-config_2024-11-26-08-11.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/src/components/menu/dom/logic/MenuContainer.ts
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/plugins/carousel-animation.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, vtable

#2897 2892 bug gantt set records
  common/changes/@visactor/vtable/2892-bug-gantt-setRecords_2024-11-22-09-44.json
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/data/DataSource.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
Labels: chore

#2913 feat: gannt add dependency link point click event
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: docs

#2929 feat: change disableselect function api
  .gitignore
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/column/base-column-type.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
Labels: docs, vtable

#2942 docs: update auto-wrap-text demo
  docs/assets/demo/en/basic-functionality/auto-wrap-text.md
  docs/assets/demo/zh/basic-functionality/auto-wrap-text.md
Labels: docs

#2923 docs: supplement icon register and gantt-customlayout demo #2921
  docs/assets/demo/en/gantt/gantt-customLayout.md
  docs/assets/demo/zh/gantt/gantt-customLayout.md
  docs/assets/guide/en/custom_define/custom_icon.md
  docs/assets/guide/zh/custom_define/custom_icon.md
Labels: docs

#2946 docs: update row series number guide and auto wrap text guide
  docs/assets/guide/en/basic_function/auto_wrap_text.md
  docs/assets/guide/en/basic_function/row_series_number.md
  docs/assets/guide/zh/basic_function/auto_wrap_text.md
  docs/assets/guide/zh/basic_function/row_series_number.md
Labels: docs

#2930 Feat/add link point click event
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: docs

#2931 2876 bug frozen vchart update
  common/changes/@visactor/vtable/2876-bug-frozen-vchart-update_2024-11-27-08-56.json
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: chore, vtable

#2940 2922 feature disable select function
  .gitignore
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/column/base-column-type.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
Labels: docs, vtable

#2943 fix: when arrange custom style cell range is beyond table ange occor …
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: vtable

#2951 2948 refactor columnwidthconfig
  common/changes/@visactor/vtable/2948-refactor-columnwidthconfig_2024-11-28-10-24.json
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/event/event.ts
Labels: chore, vtable

#2961 2957 bug hide indicator columnwidthconfig
  common/changes/@visactor/vtable/2957-bug-hideIndicator-columnwidthconfig_2024-11-29-03-15.json
  packages/vtable/src/PivotTable.ts
Labels: chore, vtable

#2952 Feat/fire target info when enter or leave
  common/changes/@visactor/vtable/feat-fireTargetInfoWhenEnterOrLeave_2024-11-28-11-56.json
  common/changes/@visactor/vtable/feat-fireTargetInfoWhenEnterOrLeave_2024-11-28-12-31.json
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: chore, docs

#2964 fix: parseColumnWidthConfig occor error when argument is error
  packages/vtable/src/PivotTable.ts
Labels: vtable

#2966 Docs/gantt api error
  common/changes/@visactor/vtable/feat-fireTargetInfoWhenEnterOrLeave_2024-11-28-11-56.json
  common/changes/@visactor/vtable/feat-fireTargetInfoWhenEnterOrLeave_2024-11-28-12-31.json
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: chore, docs

#2971 Feat/vtable plugins
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/package.json
Labels: chore

#2974 merge Main into develop
  common/changes/@visactor/vtable/feat-fireTargetInfoWhenEnterOrLeave_2024-11-28-11-56.json
  common/changes/@visactor/vtable/feat-fireTargetInfoWhenEnterOrLeave_2024-11-28-12-31.json
  common/changes/@visactor/vtable/feat-vtable-plugins_2024-11-29-06-41.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable
