Repository VisActor/VTable, pull requests merged in 2024-09, with the labels that each got.

#2332 2331 bug group by merge cell chart render
  common/changes/@visactor/vtable/2331-bug-groupBy-mergeCell-chart-render_2024-08-30-04-09.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: chore, vtable

#2371 Multiple sort update v4
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/state/sort/index.ts
Labels: vtable

#2379 fix: fix custom style arrangement duplicate #2370
  common/changes/@visactor/vtable/fix-custom-style-duplicate_2024-09-04-09-54.json
  packages/vtable/src/plugins/custom-cell-style.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: chore, vtable

#2377 fix: fix select range judgement in cellBgColor #2368
  common/changes/@visactor/vtable/fix-select-highlight_2024-09-04-07-18.json
  packages/vtable/src/state/select/is-cell-select-highlight.ts
Labels: chore, vtable

#2365 fix: fix event bind problem in react-vtable
  common/changes/@visactor/vtable/fix-react-component-event_2024-09-03-06-38.json
  packages/react-vtable/src/components/checkbox/checkbox.tsx
  packages/react-vtable/src/components/radio/radio.tsx
  packages/react-vtable/src/components/tag/tag.tsx
Labels: chore, react-vtable

#2367 fix: fix no-text cell custom merge #2343
  common/changes/@visactor/vtable/fix-no-text-custom-merge_2024-09-03-09-06.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: chore, vtable

#2374 2372 bug ctrlshift trigger edit mode
  common/changes/@visactor/vtable/2372-bug-ctrlshift-trigger-edit-mode_2024-09-04-02-35.json
  packages/vtable-editors/src/input-editor.ts
  packages/vtable/src/event/listener/container-dom.ts
Labels: chore, vtable

#2323 2261 bug error expand tree node sort pivot table
  common/changes/@visactor/vtable/2261-bug-error-expandTreeNode-sort-pivot-table_2024-08-28-07-04.json
  docs/assets/guide/en/basic_function/sort/pivot_sort.md
  docs/assets/guide/zh/basic_function/sort/pivot_sort.md
  docs/assets/option/en/common/column-resize-style.md
  docs/assets/option/en/common/scroll-style.md
  docs/assets/option/en/dimension/base-dimension-type.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/common/column-resize-style.md
  docs/assets/option/zh/dimension/base-dimension-type.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-sortBy.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-sortByIndicator.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-sortField.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-sortFunc.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-updateSortRule.ts
  packages/vtable/examples/pivot-chart/bug-fix.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/dataset/statistics-helper.ts
  packages/vtable/src/header-helper/header-helper.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/new-data-set.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#2389 fix: fix large number table position problem #2349
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/index.ts
Labels: vtable

#2388 fix: fix interactive layer dom clear problem
  common/changes/@visactor/vtable/fix-interactive-layer-com_2024-09-05-12-10.json
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: chore, react-vtable

#2386 fix: fix sparkline range when data has null
  common/changes/@visactor/vtable/fix-sparkline-range_2024-09-05-06-42.json
  packages/vtable/src/scenegraph/group-creater/cell-type/spark-line-cell.ts
Labels: chore, vtable

#2380 Multiple sort update v5
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/state/state.ts
Labels: vtable

#2397 Main
  common/changes/@visactor/vtable/2261-bug-error-expandTreeNode-sort-pivot-table_2024-08-28-07-04.json
  common/changes/@visactor/vtable/fix-interactive-layer-com_2024-09-05-12-10.json
  common/changes/@visactor/vtable/fix-some_bugs_2024-09-05-10-27.json
  common/changes/@visactor/vtable/fix-some_bugs_2024-09-06-04-13.json
  common/changes/@visactor/vtable/fix-sparkline-range_2024-09-05-06-42.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#2408 fix: drag auto select
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

#2406 fix: selecting to srcoll code occor error #2404
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/scroll.ts
Labels: vtable

#2400 docs: add getLayoutColumnTree api
  common/changes/@visactor/vtable/2359-feature-pivot-spanLevel_2024-09-09-08-06.json
  common/changes/@visactor/vtable/2359-feature-pivot-spanLevel_2024-09-09-08-56.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/table_type/Pivot_table/custom_header.md
  docs/assets/guide/zh/table_type/Pivot_table/custom_header.md
  docs/assets/option/en/table/pivotChart.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotChart.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#2394 Refactor/gantt split line render
  common/changes/@visactor/vtable/2355-bug-outsideClickDeselect-selectRange_2024-09-06-10-53.json
  common/changes/@visactor/vtable/2355-bug-outsideClickDeselect-selectRange_2024-09-06-12-31.json
  docs/assets/demo/en/list-table-data-analysis/list-table-aggregation.md
  docs/assets/demo/en/list-table-data-analysis/list-table-data-filter.md
  docs/assets/demo/zh/list-table-data-analysis/list-table-aggregation.md
  docs/assets/demo/zh/list-table-data-analysis/list-table-data-filter.md
  docs/assets/guide/en/Getting_Started/Getting_Started.md
  docs/assets/guide/en/gantt/Getting_Started.md
  docs/assets/guide/zh/Getting_Started/Getting_Started.md
  docs/assets/guide/zh/gantt/Getting_Started.md
  packages/vtable-gantt/examples/gantt/gantt-splitLine.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, docs, vtable

#2412 fix: dataset-pivot-table compile error
  packages/vtable/src/dataset/dataset-pivot-table.ts
Labels: vtable

#2421 2255 get filtered records api
  common/changes/@visactor/vtable/2255-getFilteredRecords-api_2024-09-10-11-40.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
Labels: chore, docs, vtable

#2316 Feat/multiple sort list table
  docs/assets/guide/en/basic_function/sort/list_sort.md
  docs/assets/guide/zh/basic_function/sort/list_sort.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable-gantt/__tests__/listTable-1W.test.ts
  packages/vtable/examples/header/sort.ts
  packages/vtable/examples/list/list.ts
  packages/vtable/package.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/body-helper/body-helper.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/event/EventHandler.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/spark-line-cell.ts
  packages/vtable/src/scenegraph/icon/icon-update.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/sort/index.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/util.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: test, docs, vtable

#2272 Feat/tick mode func
  common/changes/@visactor/vtable/feat-tickMode-func_2024-08-20-07-28.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-search/package.json
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
  packages/vtable/package.json
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/vrender.ts
Labels: chore, docs, vtable, react-vtable, openinula-vtable

#2434 Merge main into develop
  common/changes/@visactor/vtable/2255-getFilteredRecords-api_2024-09-10-11-40.json
  common/changes/@visactor/vtable/2355-bug-outsideClickDeselect-selectRange_2024-09-06-10-53.json
  common/changes/@visactor/vtable/2355-bug-outsideClickDeselect-selectRange_2024-09-06-12-31.json
  common/changes/@visactor/vtable/2359-feature-pivot-spanLevel_2024-09-09-08-06.json
  common/changes/@visactor/vtable/2359-feature-pivot-spanLevel_2024-09-09-08-56.json
  common/changes/@visactor/vtable/2419-bug-pivotchart-rerender-problem_2024-09-10-11-35.json
  common/changes/@visactor/vtable/feat-tickMode-func_2024-08-20-07-28.json
  common/changes/@visactor/vtable/fix-group-series_2024-09-11-10-17.json
  common/changes/@visactor/vtable/fix-group-series_2024-09-11-10-19.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#2439 fix: set table theme error in gantt chart
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable/src/scenegraph/style/frame-border.ts
  packages/vtable/src/themes/theme.ts
Labels: vtable

#2450 2449 refactor gantt exports
  common/changes/@visactor/vtable/2449-refactor-gantt-exports_2024-09-13-07-35.json
  docs/assets/demo/en/gantt/gantt-basic.md
  docs/assets/demo/en/gantt/gantt-customLayout.md
  docs/assets/demo/en/gantt/gantt-edit.md
  docs/assets/demo/en/gantt/gantt-interaction-drag-table-width.md
  docs/assets/demo/en/gantt/gantt-interaction-drag-taskBar.md
  docs/assets/demo/zh/gantt/gantt-customLayout.md
  docs/assets/demo/zh/gantt/gantt-edit.md
  docs/assets/guide/en/gantt/Getting_Started.md
  docs/assets/guide/en/gantt/gantt_customLayout.md
  docs/assets/guide/en/gantt/gantt_edit.md
  docs/assets/guide/zh/gantt/Getting_Started.md
  docs/assets/guide/zh/gantt/gantt_customLayout.md
  docs/assets/guide/zh/gantt/gantt_edit.md
  packages/vtable-gantt/examples/gantt/gantt-design-custom.ts
  packages/vtable-gantt/examples/gantt/gantt-editor.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/index.ts
  packages/vtable-gantt/src/scenegraph/graphic/text-contribution-render.ts
  packages/vtable-gantt/src/vrender.ts
  packages/vtable-gantt/src/vtable.ts
Labels: chore, docs

#2477 feat: add vue-VTable documentation for Developer Ecology
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo-vue/menu.json
  docs/assets/demo-vue/zh/component/custom-component.md
  docs/assets/demo-vue/zh/component/menu.md
  docs/assets/demo-vue/zh/component/tooltip.md
  docs/assets/demo-vue/zh/custom-layout/cell-custom-component.md
  docs/assets/demo-vue/zh/custom-layout/cell-custom-dom.md
  docs/assets/demo-vue/zh/custom-layout/cell-custom-layout-dom.md
  docs/assets/demo-vue/zh/event/event.md
  docs/assets/demo-vue/zh/event/ready.md
  docs/assets/demo-vue/zh/functional-components/arco-select-editor.md
  docs/assets/demo-vue/zh/grammatical-tag/pivot-chart.md
  docs/assets/demo-vue/zh/grammatical-tag/pivot-table.md
  docs/assets/demo-vue/zh/usage/grammatical-tag.md
  docs/assets/demo-vue/zh/usage/option-record.md
  docs/assets/demo-vue/zh/usage/option.md
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/Developer_Ecology/vue.md
  docs/menu.json
  docs/package.json
  docs/vite.config.js
  packages/vue-vtable/demo/vite.config.ts
Labels: chore, docs

#2438 2279 feat columntree aggregator records
  common/changes/@visactor/vtable/2279-feat-columntree-aggregator-records_2024-09-11-10-13.json
  common/changes/@visactor/vtable/2455-bug-customTotalValue_2024-09-13-12-21.json
  docs/assets/guide/en/table_type/Pivot_table/custom_header.md
  docs/assets/guide/zh/table_type/Pivot_table/custom_header.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-columnTree.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-columnTree2.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#2445 Fix/resize trigger click cell
  common/changes/@visactor/vtable/fix-resize_trigger_clickCell_2024-09-12-07-23.json
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, vtable

#2475 2474 bug no record edit error
  common/changes/@visactor/vtable/2474-bug-noRecord-edit-error_2024-09-19-08-01.json
  packages/vtable/src/dataset/dataset.ts
Labels: chore, vtable

#2478 2465 bug click event target icon sort icon name
  common/changes/@visactor/vtable/2465-bug-click-event-targetIcon-SortIconName_2024-09-20-03-18.json
  packages/vtable/src/header-helper/header-helper.ts
  packages/vtable/src/icons.ts
Labels: chore, vtable

#2479 2469 bug edit validate false
  common/changes/@visactor/vtable/2469-bug-edit-validate-false_2024-09-20-03-57.json
  packages/vtable/src/edit/edit-manager.ts
Labels: chore, vtable

#2482 2459 bug addrecords update aggregation
  common/changes/@visactor/vtable/2459-bug-addrecords-updateAggregation_2024-09-20-09-31.json
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/dataset/statistics-helper.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: chore, vtable

#2468 fix: add children === true hierarchyState in initChildrenNodeHierarchy()
  common/changes/@visactor/vtable/fix-children-hierarchy_2024-09-18-09-14.json
  packages/vtable/src/data/DataSource.ts
Labels: chore, vtable

#2484 feat: add async support in vtable-export #2460
  common/changes/@visactor/vtable/feat-export-async_2024-09-20-10-48.json
  packages/vtable-export/demo/list/image.ts
  packages/vtable-export/demo/list/list-async.ts
  packages/vtable-export/demo/menu.ts
  packages/vtable-export/src/excel/index.ts
  packages/vtable-export/src/util/promise.ts
Labels: chore

#2480 fix: fix cell border clip in 'bottom-right' borde mode #2442
  common/changes/@visactor/vtable/fix-bottomRight-border-clip_2024-09-20-08-05.json
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
Labels: chore, vtable

#2498 fix: rush compile error
  packages/vtable/src/dataset/dataset-pivot-table.ts
  packages/vtable/src/dataset/dataset.ts
Labels: vtable

#2500 feat: add configuration and live demo for ArcoVue as Editor
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo-vue/en/edit-data/arco-select-editor.md
  docs/assets/demo-vue/zh/edit-data/arco-select-editor.md
  docs/package.json
  docs/src/main.tsx
Labels: chore, docs

#2524 update cover image URLs in examples and enhance documentation with additional examples
  docs/assets/demo-vue/en/component/menu.md
  docs/assets/demo-vue/en/component/tooltip.md
  docs/assets/demo-vue/en/custom-layout/cell-custom-component.md
  docs/assets/demo-vue/en/edit-data/arco-select-editor.md
  docs/assets/demo-vue/en/edit-data/edit-cell.md
  docs/assets/demo-vue/en/grammatical-tag/list-table.md
  docs/assets/demo-vue/en/grammatical-tag/pivot-chart.md
  docs/assets/demo-vue/en/grammatical-tag/pivot-table.md
  docs/assets/demo-vue/en/usage/event.md
  docs/assets/demo-vue/en/usage/grammatical-tag.md
  docs/assets/demo-vue/en/usage/option-record.md
  docs/assets/demo-vue/en/usage/option.md
  docs/assets/demo-vue/zh/component/menu.md
  docs/assets/demo-vue/zh/component/tooltip.md
  docs/assets/demo-vue/zh/custom-layout/cell-custom-component.md
  docs/assets/demo-vue/zh/edit-data/arco-select-editor.md
  docs/assets/demo-vue/zh/edit-data/edit-cell.md
  docs/assets/demo-vue/zh/grammatical-tag/list-table.md
  docs/assets/demo-vue/zh/grammatical-tag/pivot-chart.md
  docs/assets/demo-vue/zh/grammatical-tag/pivot-table.md
  docs/assets/demo-vue/zh/usage/event.md
  docs/assets/demo-vue/zh/usage/grammatical-tag.md
  docs/assets/demo-vue/zh/usage/option-record.md
  docs/assets/demo-vue/zh/usage/option.md
  docs/assets/guide/en/custom_define/vue-custom-component.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/custom_define/vue-custom-component.md
  packages/vue-vtable/demo/src/App.vue
  packages/vue-vtable/demo/src/table/single/single-checkbox.vue
  packages/vue-vtable/demo/src/table/single/single-radio.vue
  packages/vue-vtable/demo/src/table/single/single-tag.vue
  packages/vue-vtable/src/tables/index.ts
Labels: docs

#2527 fix: corner options were not set correctly
  docs/assets/demo-vue/menu.json
  docs/assets/demo-vue/zh/compilation/list-table-integrated-chart.md
  docs/assets/demo-vue/zh/compilation/pivot-chart-pie.md
  docs/assets/demo-vue/zh/compilation/pivot-table-dimension.md
  docs/assets/demo-vue/zh/custom-layout/cell-custom-component.md
  docs/assets/demo-vue/zh/edit-data/arco-select-editor.md
  docs/assets/demo-vue/zh/edit-data/edit-cell.md
  docs/assets/demo-vue/zh/grammatical-tag/pivot-chart.md
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable-editor-arco.vue
  packages/vue-vtable/src/tables/pivot-table.vue
Labels: docs

#2504 docs: document error
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/ts-types/table-engine.ts
Labels: docs, vtable

#2508 fix: fix estimate position in updateAutoRow() #2494
  common/changes/@visactor/vtable/fix-bottom-frozen-updateRow_2024-09-25-03-54.json
  packages/vtable/examples/list-analysis/list-aggregation-deleteRecord.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/update-auto-row.ts
Labels: chore, vtable

#2509 1308 refactor icon under different theme
  common/changes/@visactor/vtable/1308-refactor-icon-under-different-theme_2024-09-26-07-43.json
  docs/assets/option/en/common/theme.md
  docs/assets/option/zh/common/theme.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/icons.ts
  packages/vtable/src/themes/ARCO.ts
  packages/vtable/src/themes/BRIGHT.ts
  packages/vtable/src/themes/DARK.ts
  packages/vtable/src/themes/DEFAULT.ts
  packages/vtable/src/themes/SIMPLIFY.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/theme.ts
Labels: chore, docs, vtable

#2530 fix: fix drag check state update #2518
  common/changes/@visactor/vtable/fix-checkbox-drag_2024-09-27-08-27.json
  docs/assets/guide/en/custom_define/custom_style.md
  docs/assets/guide/zh/custom_define/custom_style.md
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/state/radio/radio.ts
  packages/vtable/src/state/state.ts
Labels: chore, docs, vtable

#2534 fix: symbol in VueVTable livedemos
  docs/assets/demo-vue/en/component/menu.md
  docs/assets/demo-vue/en/component/tooltip.md
  docs/assets/demo-vue/en/edit-data/arco-select-editor.md
  docs/assets/demo-vue/en/edit-data/edit-cell.md
  docs/assets/demo-vue/en/grammatical-tag/pivot-chart.md
  docs/assets/demo-vue/en/grammatical-tag/pivot-table.md
  docs/assets/demo-vue/en/usage/option-record.md
  docs/assets/demo-vue/zh/compilation/pivot-chart-pie.md
  docs/assets/demo-vue/zh/component/menu.md
  docs/assets/demo-vue/zh/component/tooltip.md
  docs/assets/demo-vue/zh/edit-data/arco-select-editor.md
  docs/assets/demo-vue/zh/edit-data/edit-cell.md
  docs/assets/demo-vue/zh/grammatical-tag/pivot-table.md
  docs/assets/demo-vue/zh/usage/option-record.md
  docs/assets/demo-vue/zh/usage/option.md
Labels: docs

#2543 Fix/vue component name
  common/changes/@visactor/vtable/feat-gantt-v2_2024-09-29-07-19.json
  packages/vue-vtable/src/components/component/menu.tsx
  packages/vue-vtable/src/components/component/tooltip.tsx
  packages/vue-vtable/src/components/custom/checkBox.tsx
  packages/vue-vtable/src/components/custom/custom-layout.tsx
  packages/vue-vtable/src/components/custom/group.tsx
  packages/vue-vtable/src/components/custom/image.tsx
  packages/vue-vtable/src/components/custom/radio.tsx
  packages/vue-vtable/src/components/custom/tag.tsx
  packages/vue-vtable/src/components/custom/text.tsx
  packages/vue-vtable/src/components/list/list-column.tsx
  packages/vue-vtable/src/components/pivot/pivot-column-dimension.tsx
  packages/vue-vtable/src/components/pivot/pivot-column-header-title.tsx
  packages/vue-vtable/src/components/pivot/pivot-corner.tsx
  packages/vue-vtable/src/components/pivot/pivot-indicator.tsx
  packages/vue-vtable/src/components/pivot/pivot-row-dimension.tsx
  packages/vue-vtable/src/components/pivot/pivot-row-header-title.tsx
  packages/vue-vtable/src/tables/list-table.vue
  packages/vue-vtable/src/tables/pivot-chart.vue
  packages/vue-vtable/src/tables/pivot-table.vue
  packages/vue-vtable/src/tables/utils.ts
Labels: chore

#2361 fix: fix richtext icon update
  common/changes/@visactor/vtable/fix-richtext-icon-state_2024-09-30-09-13.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/list/list.ts
  packages/vtable/package.json
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: chore, vtable
