Repository VisActor/VTable, pull requests merged in 2024-07, with the labels that each got.

#1984 1981 bug selected clear event
  common/changes/@visactor/vtable/1981-bug-selected_clear-event_2024-06-25-06-47.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/state/sort/index.ts
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#1986 1965 bug keydown change cell value
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

#1988 docs: add important release log
  docs/assets/changelog/en/important-release.md
  docs/assets/changelog/menu.json
  docs/assets/changelog/zh/important-release.md
  docs/assets/demo/en/cell-type/pivot-sparkline.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/cell-type/pivot-sparkline.md
  docs/assets/guide/en/Contribution_Guide.md
  docs/assets/guide/en/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/guide/zh/Contribution_Guide.md
  docs/assets/guide/zh/data_analysis/pivot_table_dataAnalysis.md
Labels: docs

#1992 1991 feature listtable column support hide
  common/changes/@visactor/vtable/1991-feature-listtable-column-support-hide_2024-06-26-09-46.json
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/zh/column/base-column-type.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
Labels: chore, docs, vtable

#2001 1999 refactor sparkline celltype aggregationtype none
  common/changes/@visactor/vtable/1999-refactor-sparkline-celltype-aggregationtype-none_2024-06-27-09-41.json
  packages/vtable/src/layout/layout-helper.ts
Labels: chore, vtable

#2008 2002 bug virtual edit value
  common/changes/@visactor/vtable/2002-bug-virtual-edit-value_2024-06-29-13-37.json
  packages/vtable/src/PivotTable.ts
Labels: chore, vtable

#2010 2003 bug enable copy cell tooltip cannot be copy
  common/changes/@visactor/vtable/2003-bug-enable-copyCell-tooltipCannotBeCopy_2024-07-01-02-25.json
  packages/vtable/src/components/tooltip/logic/BubbleTooltipElement.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/tools/util.ts
Labels: chore, vtable

#1987 fix: fix vrender export module
  common/changes/@visactor/vtable/fix-export-name_2024-06-25-09-23.json
  packages/vtable/src/index.ts
Labels: chore, vtable

#2004 fix: fix split stroke pisition
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
Labels: vtable

#1983 fix: fix merge cell update performance problem #1972
  common/changes/@visactor/vtable/fix-merge-cell-pref_2024-06-25-03-42.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo/en/export/table-export-format.md
  docs/assets/demo/en/export/table-export-ignore-icon.md
  docs/assets/demo/zh/export/table-export-format.md
  docs/assets/demo/zh/export/table-export-ignore-icon.md
  docs/package.json
  packages/vtable/src/scenegraph/component/custom.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: chore, docs, vtable

#2011 fix: fix regexp format for webpack 3 #2005
  common/changes/@visactor/vtable/fix-reg-s_2024-07-01-03-22.json
  packages/vtable/src/event/listener/container-dom.ts
Labels: chore, vtable

#1973 feat: add getCellAtRelativePosition api
  common/changes/@visactor/vtable/feat-getCellAtRelativePosition_2024-06-14-09-37.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/utils/get-cell-position.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, vtable

#2022 fix: fix width computation in shrinkSparklineFirst mode
  common/changes/@visactor/vtable/fix-shrink-sparkline_2024-07-02-03-47.json
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: chore, vtable

#2030 Main
  common/changes/@visactor/vtable/1926-feature-corner-titleondimension-all_2024-06-25-09-12.json
  common/changes/@visactor/vtable/1974-bug-validatevalue-false-notSelectOther_2024-06-27-08-10.json
  common/changes/@visactor/vtable/1981-bug-selected_clear-event_2024-06-25-06-47.json
  common/changes/@visactor/vtable/1991-feature-listtable-column-support-hide_2024-06-26-09-46.json
  common/changes/@visactor/vtable/1999-refactor-sparkline-celltype-aggregationtype-none_2024-06-27-09-41.json
  common/changes/@visactor/vtable/2002-bug-virtual-edit-value_2024-06-29-13-37.json
  common/changes/@visactor/vtable/2003-bug-enable-copyCell-tooltipCannotBeCopy_2024-07-01-02-25.json
  common/changes/@visactor/vtable/feat-getCellAtRelativePosition_2024-06-14-09-37.json
  common/changes/@visactor/vtable/fix-export-name_2024-06-25-09-23.json
  common/changes/@visactor/vtable/fix-merge-cell-pref_2024-06-25-03-42.json
  common/changes/@visactor/vtable/fix-reg-s_2024-07-01-03-22.json
  common/changes/@visactor/vtable/fix-shrink-sparkline_2024-07-02-03-47.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#2020 feat: add formatExcelJSCell config in vtable-export #1989
  common/changes/@visactor/vtable/feat-export-format_2024-07-01-13-15.json
  docs/assets/guide/en/export/excel.md
  docs/assets/guide/zh/export/excel.md
  packages/vtable-export/src/excel/index.ts
Labels: chore, docs

#2023 fix: fix left top frozen cell computation in getTargetColAtConsiderRi…
  packages/vtable/__tests__/api/listTable-getCellRelativePosition.test.ts
  packages/vtable/examples/list/list.ts
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable

#2021 2017 bug pivot chart select state
  common/changes/@visactor/vtable/2017-bug-pivot-chart-selectState_2024-07-02-03-12.json
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: chore, vtable

#2024 2009 feature add api columnresize line
  common/changes/@visactor/vtable/2009-feature-add-api-columnresize-line_2024-07-02-08-32.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/core/BaseTable.ts
Labels: chore, docs, vtable

#2025 fix: fix select-rect update when scroll #2015
  common/changes/@visactor/vtable/fix-select-rect-update_2024-07-02-09-46.json
  packages/vtable/src/scenegraph/select/update-select-border.ts
Labels: chore, vtable

#2034 fix: fix selected highlight update when scrolling #2028
  common/changes/@visactor/vtable/fix-highlight-update_2024-07-03-08-08.json
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
Labels: chore, vtable

#2035 fix: fix test judgement in customMergeCell #2031
  common/changes/@visactor/vtable/fix-customMergeCell-text_2024-07-03-08-15.json
  packages/vtable/src/core/BaseTable.ts
Labels: chore, vtable

#2044 fix: fix fillhandle error in updateComponent()
  packages/vtable/src/scenegraph/select/update-select-border.ts
Labels: vtable

#2043 2040 bug last col resize width
  common/changes/@visactor/vtable/2040-bug-lastColResizeWidth_2024-07-04-10-59.json
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, vtable

#2045 2039 bug edit input position
  common/changes/@visactor/vtable/2039-bug-editInputPosition_2024-07-04-11-27.json
  packages/vtable/examples/editor/input-editor.ts
  packages/vtable/src/state/select/update-position.ts
Labels: chore, vtable

#2050 Main
  common/changes/@visactor/vtable/2009-feature-add-api-columnresize-line_2024-07-02-08-32.json
  common/changes/@visactor/vtable/2017-bug-pivot-chart-selectState_2024-07-02-03-12.json
  common/changes/@visactor/vtable/2039-bug-editInputPosition_2024-07-04-11-27.json
  common/changes/@visactor/vtable/2040-bug-lastColResizeWidth_2024-07-04-10-59.json
  common/changes/@visactor/vtable/feat-export-format_2024-07-01-13-15.json
  common/changes/@visactor/vtable/feat-package-size_2024-07-01-07-08.json
  common/changes/@visactor/vtable/fix-customMergeCell-text_2024-07-03-08-15.json
  common/changes/@visactor/vtable/fix-highlight-update_2024-07-03-08-08.json
  common/changes/@visactor/vtable/fix-select-rect-update_2024-07-02-09-46.json
  common/changes/@visactor/vtable/fix-sort-update_2024-07-01-12-15.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#2056 2054 bug getCellAtRelativePosition
  common/changes/@visactor/vtable/2054-bug-barToSide_2024-07-08-06-36.json
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: chore, vtable

#2060 docs: fix list_sort demo
  docs/assets/guide/en/basic_function/sort/list_sort.md
  docs/assets/guide/zh/basic_function/sort/list_sort.md
Labels: docs

#2061 feat: update editingEditor's validate method to support asynchronous
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
  packages/vtable-editors/src/types.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/tools/helper.ts
Labels: docs, vtable

#2059 fix: add tolerance for scroll in _disableColumnAndRowSizeRound mode
  common/changes/@visactor/vtable/fix-no-round-size_2024-07-09-03-15.json
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#2077 docs: records as array in pivottable demo
  docs/assets/guide/en/data/data_format.md
  docs/assets/guide/zh/data/data_format.md
Labels: docs

#2042 Feat/pivot pref
  packages/vtable/src/core/utils/get-cell-position.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/tools/join.ts
Labels: vtable

#2079 fix: fix axes default config in scatter chart #2071
  common/changes/@visactor/vtable/fix-scatter-axes_2024-07-12-08-37.json
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/layout/chart-helper/get-axis-config.ts
  packages/vtable/src/layout/chart-helper/get-chart-spec.ts
Labels: chore, vtable

#2072 fix: fix empty line display in multilinesForXTable mode
  packages/vtable/src/scenegraph/utils/break-string.ts
Labels: vtable

#2062 1797 feature validate async
  common/changes/@visactor/vtable/1797-feature-validate-async_2024-07-11-07-21.json
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
  packages/vtable-editors/src/types.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/tools/helper.ts
Labels: chore, docs, vtable

#2068 Fix/change field value occor error
  common/changes/@visactor/vtable/fix-changeFieldValueOccorError_2024-07-10-06-29.json
  packages/vtable/src/data/DataSource.ts
Labels: chore, vtable

#2080 feat: levelSpan control tree node header merge
  packages/vtable/examples/pivot/virtual-node.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
Labels: vtable

#2085 fix: keyboard can select disable cell error #1328
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
Labels: vtable

#2097 1328 feature keyboard to select disable cell
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
Labels: vtable

#2091 2089 feature add starteditcell add param value
  common/changes/@visactor/vtable/2089-feature-add-starteditcell-addParam-value_2024-07-16-03-53.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#2098 fix: fix option config in vtable-export
  common/changes/@visactor/vtable/fix-export-option_2024-07-17-07-39.json
  packages/vtable-export/src/excel/index.ts
Labels: chore

#2095 fix: add size-tolerance in scroll position judgement
  packages/vtable/src/event/scroll.ts
Labels: vtable

#2102 Feat/add empty tip react component
  common/changes/@visactor/vtable/feat-add-emptyTip-react-component_2024-07-18-08-44.json
  common/changes/@visactor/vtable/feat-add-emptyTip-react-component_2024-07-24-08-00.json
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/pivot-table/pivot-component-empty-tip.tsx
  packages/react-vtable/src/components/component/emptyTip.tsx
  packages/react-vtable/src/components/index.ts
Labels: chore, react-vtable

#2107 2106 bug pivot table sort rule
  common/changes/@visactor/vtable/2106-bug-pivotTable-sortRule_2024-07-19-08-00.json
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: chore, vtable

#2111 docs: supplement pivot analysis guide
  docs/assets/guide/en/data/data_format.md
  docs/assets/guide/en/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_dataAnalysis.md
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_useage.md
  docs/assets/guide/zh/data/data_format.md
  docs/assets/guide/zh/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_dataAnalysis.md
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_useage.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
Labels: docs

#2119 2115 bug clearselected api
  common/changes/@visactor/vtable/2115-bug-clearselected-api_2024-07-23-04-00.json
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: chore, vtable

#2122 2120 feature support icon in corner
  common/changes/@visactor/vtable/2120-feature-support-icon-in-corner_2024-07-24-03-54.json
  docs/assets/option/en/dimension/base-dimension-type.md
  docs/assets/option/zh/dimension/base-dimension-type.md
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/pivot-table/dimension/basic-dimension.ts
Labels: chore, docs, vtable

#2124 1952 feature react emptytip component
  common/changes/@visactor/vtable/feat-add-emptyTip-react-component_2024-07-18-08-44.json
  common/changes/@visactor/vtable/feat-add-emptyTip-react-component_2024-07-24-08-00.json
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/pivot-table/pivot-component-empty-tip.tsx
  packages/react-vtable/src/components/component/emptyTip.tsx
  packages/react-vtable/src/components/index.ts
Labels: chore, react-vtable
