Repository VisActor/VTable, pull requests merged in 2024-12, with the labels that each got.

#2977 2938 bug edit create link error
  common/changes/@visactor/vtable/2938-bug-edit-createLink-error_2024-11-29-10-32.json
  packages/vtable-gantt/examples/gantt/gantt-editor.ts
  packages/vtable-gantt/examples/gantt/gantt-tree-dependency.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable/src/data/DataSource.ts
Labels: chore, vtable

#2970 2920 feature vtable gantt taskbar position
  common/changes/@visactor/vtable/2920-feature-vtable-gantt-taskbar-position_2024-11-29-07-40.json
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/en/methods.md
  docs/assets/api/zh/GanttAPI.md
  docs/assets/api/zh/methods.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable/src/ListTable.ts
Labels: chore, docs, vtable

#2984 fix: fix react-component in tree mode update
  common/changes/@visactor/vtable/fix-custom-component-update_2024-12-02-09-42.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
Labels: chore, vtable

#2985 fix: fix strokeArrayWidth update in updateCell() #2811
  common/changes/@visactor/vtable/fix-strokeArrayWidth-update_2024-12-02-12-11.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: chore, vtable

#2986 fix: fix legend visible problem when reize table
  common/changes/@visactor/vtable/fix-legeng-resize_2024-12-02-13-30.json
  packages/vtable/src/components/legend/continue-legend/continue-legend.ts
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
Labels: chore, vtable

#2991 fix: fix merge radio cell check update #2881
  common/changes/@visactor/vtable/fix-radio-update_2024-12-03-07-55.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
Labels: chore, vtable

#2994 fix: fix cache problem in Icon.loadGif() #2905
  common/changes/@visactor/vtable/fix-load-gif_2024-12-03-09-19.json
  packages/vtable/src/scenegraph/graphic/icon.ts
Labels: chore, vtable

#2993 fix: fix default row height in computeRowHeight() #2903
  common/changes/@visactor/vtable/fix-default-row-height-compute_2024-12-03-08-44.json
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: chore, vtable

#3000 fix: fix textAlign in checkbox/radio #2908
  common/changes/@visactor/vtable/fix-checkbox-textAlign_2024-12-04-07-37.json
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
Labels: chore, vtable

#3001 fix: fix col&row range in getCellMergeRange() #2906
  common/changes/@visactor/vtable/fix-merge-range_2024-12-04-06-17.json
  packages/vtable/src/scenegraph/icon/icon-update.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/stick-text/index.ts
  packages/vtable/src/state/hover/update-cell.ts
  packages/vtable/src/tools/merge-range.ts
Labels: chore, vtable

#3004 fix: fix ListTreeStickCellPlugin update in tree_hierarchy_state_chang…
  common/changes/@visactor/vtable/fix-tree-stick-update_2024-12-04-09-21.json
  packages/vtable/src/plugins/list-tree-stick-cell.ts
Labels: chore, vtable

#3007 fix: fix merge cell select range update #2944
  common/changes/@visactor/vtable/fix-select-range_2024-12-04-13-07.json
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/merge-range.ts
Labels: chore, vtable

#3010 Docs/fix vue example
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/zh/Developer_Ecology/vue.md
Labels: docs

#3024 feat: add panelStyle&arrowStyle config in Popover #2988
  common/changes/@visactor/vtable/fix-popup-style_2024-12-06-07-14.json
  packages/react-vtable/demo/src/component/custom-layout.tsx
  packages/react-vtable/src/components/popover/popover.tsx
Labels: chore, react-vtable

#2992 2981 select cell api disableselect
  common/changes/@visactor/vtable/2981-selectCell-api-disableselect_2024-12-03-08-05.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/examples/interactive/select.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/state/select/is-cell-select-highlight.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, docs, vtable

#3027 feat: add disableMultiSelect config #2995
  common/changes/@visactor/vtable/feat-disableMultiSelect_2024-12-06-07-55.json
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/scenegraph/icon/icon-update.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#3037 Merge main into develop
  common/changes/@visactor/vtable/2981-selectCell-api-disableselect_2024-12-03-08-05.json
  common/changes/@visactor/vtable/feat-disableMultiSelect_2024-12-06-07-55.json
  common/changes/@visactor/vtable/feat-update-vrender_2024-12-06-10-11.json
  common/changes/@visactor/vtable/fix-checkbox-textAlign_2024-12-04-07-37.json
  common/changes/@visactor/vtable/fix-menu-clear-select_2024-12-05-03-54.json
  common/changes/@visactor/vtable/fix-merge-range_2024-12-04-06-17.json
  common/changes/@visactor/vtable/fix-popup-style_2024-12-06-07-14.json
  common/changes/@visactor/vtable/fix-select-range_2024-12-04-13-07.json
  common/changes/@visactor/vtable/fix-tree-stick-update_2024-12-04-09-21.json
  common/changes/@visactor/vtable/fix-tree-update_2024-12-06-06-42.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#3047 3033 bug table width auto resize col width
  common/changes/@visactor/vtable/3033-bug-tableWidth-auto-resizeColWidth_2024-12-10-07-09.json
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: chore

#3082 Main
  common/changes/@visactor/vtable/2976-feature-gantt-scale-hour_2024-12-04-11-46.json
  common/changes/@visactor/vtable/3033-bug-tableWidth-auto-resizeColWidth_2024-12-10-07-09.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#3065 feat: customize the width of the column width handle
  docs/assets/guide/en/interaction/resize_column_width.md
  docs/assets/guide/en/theme_and_style/theme.md
  docs/assets/guide/zh/interaction/resize_column_width.md
  docs/assets/guide/zh/theme_and_style/theme.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/theme.ts
Labels: docs, vtable

#3079 Feat/resizable moveable function
  common/changes/@visactor/vtable/feat-resizable_moveable_function_2024-12-13-08-20.json
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#3084 Fix/set records update parse options
  common/changes/@visactor/vtable/fix-setRecords-UpdateParseOptions_2024-12-13-09-10.json
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/data/DataSource.ts
  packages/vtable-gantt/src/gantt-helper.ts
Labels: chore

#3086 feat: gird line support custom funtion
  docs/assets/option/en/common/gantt/grid.md
  docs/assets/option/zh/common/gantt/grid.md
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

#3100 3085 bug row height resize bug
  common/changes/@visactor/vtable/3085-bug-rowHeight-resize-bug_2024-12-16-06-55.json
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#3102 3077 bug vtable copy occor error
  common/changes/@visactor/vtable/3077-bug-vtable-copy-occor-error_2024-12-16-07-12.json
  packages/vtable/src/event/listener/container-dom.ts
Labels: chore, vtable

#3088 3045 resize col width row heigth interactive hot spot size
  common/changes/@visactor/vtable/feat-resizable_moveable_function_2024-12-13-08-20.json
  docs/assets/guide/en/interaction/resize_column_width.md
  docs/assets/guide/en/theme_and_style/theme.md
  docs/assets/guide/zh/interaction/resize_column_width.md
  docs/assets/guide/zh/theme_and_style/theme.md
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/gantt/task-bar.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/examples/list/list.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/theme.ts
Labels: chore, docs, vtable

#3104 fix: hack loading icon url
  packages/vtable/src/icons.ts
Labels: vtable

#2945 Feat/enhance mergeCell functionality to support more detailed conditions
  common/changes/@visactor/vtable/feat-merge-cell_2024-12-02-03-04.json
  docs/assets/guide/zh/basic_function/merge_cell.md
  docs/assets/option/en/column/text-column-type.md
  docs/assets/option/zh/column/text-column-type.md
  packages/vtable/examples/list/list-merge-cell-function.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
  packages/vtable/src/ts-types/common.ts
Labels: chore, docs, vtable

#3136 fix(vtable): inside getCellValue method of ListTable
  packages/vtable/src/ListTable.ts
Labels: vtable

#3117 fix: fix group title link click #3022
  common/changes/@visactor/vtable/fix-group-link_2024-12-17-13-32.json
  packages/vtable/src/event/media-click.ts
Labels: chore, vtable

#3116 fix: fix font-weight in vtable-export #3005
  common/changes/@visactor/vtable/fix-excel-font-weight_2024-12-17-13-14.json
  packages/vtable-export/src/excel/style.ts
Labels: chore

#3114 fix: fix customStyle update not work #3068
  common/changes/@visactor/vtable/fix-custom-style_2024-12-17-11-34.json
  packages/vtable/src/plugins/custom-cell-style.ts
Labels: chore, vtable

#3064 fix: fix react-component update in tree table
  common/changes/@visactor/vtable/fix-component-tree-update_2024-12-10-11-38.json
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
  packages/vtable/src/tools/update-row.ts
Labels: chore, vtable, react-vtable

#3111 Refactor/custom compute row height
  common/changes/@visactor/vtable/refactor-customComputeRowHeight_2024-12-17-07-19.json
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/components/react/react-custom-layout.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/text-cell.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/sort-vertical.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#3143 3097 feature gantt milestone
  common/changes/@visactor/vtable/3097-feature-gantt-milestone_2024-12-18-10-17.json
  docs/assets/demo/en/gantt/gantt-basic.md
  docs/assets/demo/en/gantt/gantt-dependency-link-create.md
  docs/assets/demo/en/gantt/gantt-edit.md
  docs/assets/demo/en/gantt/gantt-hour.md
  docs/assets/demo/en/gantt/gantt-interaction-creation-button.md
  docs/assets/demo/en/gantt/gantt-interaction-drag-taskBar.md
  docs/assets/demo/en/gantt/gantt-taskShowMode.md
  docs/assets/demo/zh/gantt/gantt-basic.md
  docs/assets/demo/zh/gantt/gantt-dependency-link-create.md
  docs/assets/demo/zh/gantt/gantt-edit.md
  docs/assets/demo/zh/gantt/gantt-hour.md
  docs/assets/demo/zh/gantt/gantt-interaction-creation-button.md
  docs/assets/demo/zh/gantt/gantt-interaction-drag-taskBar.md
  docs/assets/demo/zh/gantt/gantt-taskShowMode.md
  docs/assets/guide/en/gantt/Getting_Started.md
  docs/assets/guide/en/gantt/gantt_customLayout.md
  docs/assets/guide/en/gantt/gantt_edit.md
  docs/assets/guide/zh/gantt/Getting_Started.md
  docs/assets/guide/zh/gantt/gantt_customLayout.md
  docs/assets/guide/zh/gantt/gantt_edit.md
  docs/assets/option/en/common/gantt/milestone-style.md
  docs/assets/option/en/common/gantt/task-bar-style.md
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/milestone-style.md
  docs/assets/option/zh/common/gantt/task-bar-style.md
  docs/assets/option/zh/common/gantt/task-bar.md
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Arrange.ts
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Inline.ts
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Separate.ts
  packages/vtable-gantt/examples/gantt/gantt-customLayout.ts
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#3145 Feat/merge cell arguments
  common/changes/@visactor/vtable/feat-merge-cell_2024-12-02-03-04.json
  docs/assets/contributing/en/5-How to Contribute Code.md
  docs/assets/contributing/zh/5-How to Contribute Code.md
  docs/assets/guide/zh/basic_function/merge_cell.md
  docs/assets/option/en/column/text-column-type.md
  docs/assets/option/zh/column/text-column-type.md
  packages/vtable/examples/list/list-merge-cell-function.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
  packages/vtable/src/ts-types/common.ts
Labels: chore, docs, vtable

#3151 Feat/update markline
  common/changes/@visactor/vtable/feat-updateMarkline_2024-12-19-09-05.json
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
Labels: chore, docs

#3153 3152 resize hot area limited table group
  common/changes/@visactor/vtable/3152-resize-hotArea-limitedTableGroup_2024-12-19-11-14.json
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, vtable

#3154 3144 bug validatevalue recall
  common/changes/@visactor/vtable/3144-bug-validatevalue-recall_2024-12-19-11-29.json
  packages/vtable/src/edit/edit-manager.ts
Labels: chore, vtable

#3164 3013 feature gantt contextmenu event
  common/changes/@visactor/vtable/3013-feature-gantt-contextmenu-event_2024-12-19-12-05.json
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/table/gantt.md
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#3167 fix: fix no records in initRecordCheckState()
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

#3173 Feat/change cell value when update
  packages/vtable/examples/editor/date-editor.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/record-helper.ts
Labels: vtable

#3163 3155 feature gantt workday style
  common/changes/@visactor/vtable/3155-feature-gantt-workday-style_2024-12-20-08-58.json
  docs/assets/demo/en/gantt/gantt-basic.md
  docs/assets/demo/en/gantt/gantt-table-mergeCell.md
  docs/assets/demo/zh/gantt/gantt-basic.md
  docs/assets/demo/zh/gantt/gantt-table-mergeCell.md
  docs/assets/option/en/common/gantt/grid.md
  docs/assets/option/zh/common/gantt/grid.md
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#3165 3160 refactor vtable anti jitter
  common/changes/@visactor/vtable/3160-refactor-vtable-anti-jitter_2024-12-20-09-32.json
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, docs, vtable

#3178 Refactor/change cell value when update
  packages/vtable/examples/editor/date-editor.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/record-helper.ts
Labels: vtable

#3179 3161 refactor gantt taskbar resize
  common/changes/@visactor/vtable/3161-refactor-gantt-taskbar-resize_2024-12-23-07-54.json
  packages/vtable-gantt/src/state/state-manager.ts
Labels: chore

#3187 Main
  common/changes/@visactor/vtable/3155-feature-gantt-workday-style_2024-12-20-08-58.json
  common/changes/@visactor/vtable/3160-refactor-vtable-anti-jitter_2024-12-20-09-32.json
  common/changes/@visactor/vtable/3161-refactor-gantt-taskbar-resize_2024-12-23-07-54.json
  common/changes/@visactor/vtable/fix-seriesId-repeat_2024-12-23-08-05.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#3185 feat: taskbar scheduleCreatable support function
  common/changes/@visactor/vtable/feature-taskBarCreatableSupportFn_2024-12-25-10-50.json
  common/changes/@visactor/vtable/feature-taskBarCreatableSupportFn_2024-12-26-07-10.json
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#3182 2630 feature show sort function
  common/changes/@visactor/vtable/2630-feature-showSort-function_2024-12-23-08-39.json
  common/changes/@visactor/vtable/2630-feature-showSort-function_2024-12-25-07-49.json
  docs/assets/api/en/register.md
  docs/assets/api/zh/register.md
  docs/assets/guide/en/table_type/Pivot_table/custom_header.md
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_useage.md
  docs/assets/guide/zh/table_type/Pivot_table/custom_header.md
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_useage.md
  docs/assets/option/en/dimension/base-dimension-type.md
  docs/assets/option/en/indicator/base-indicator-type.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/column/base-column-type.md
  docs/assets/option/zh/dimension/base-dimension-type.md
  docs/assets/option/zh/indicator/base-indicator-type.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable/examples/cell-move/pivot-move.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-hide.ts
  packages/vtable/examples/pivot/pivot-tree-hide.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/header-helper/header-helper.ts
  packages/vtable/src/layout/layout-helper.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/pivot-table/dimension/basic-dimension.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#3208 Fix/update list tabel option
  common/changes/@visactor/vtable/fix-updateListTabelOption_2024-12-25-09-34.json
  docs/assets/contributing/zh/5-How to Contribute Code.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable/src/core/BaseTable.ts
Labels: chore, docs, vtable

#3228 Main
  common/changes/@visactor/vtable/2630-feature-showSort-function_2024-12-23-08-39.json
  common/changes/@visactor/vtable/2630-feature-showSort-function_2024-12-25-07-49.json
  common/changes/@visactor/vtable/feat-tree-checkbox_2024-12-27-08-44.json
  common/changes/@visactor/vtable/fix-stroke-array_2024-12-25-07-33.json
  common/changes/@visactor/vtable/fix-updateListTabelOption_2024-12-25-09-34.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable
