Repository VisActor/VTable, pull requests merged in 2024-08, with the labels that each got.

#2144 2129 refactor prevent drag to front header
  common/changes/@visactor/vtable/2129-refactor-prevent-dragTo-frontHeader_2024-07-29-14-18.json
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/state/cell-move/index.ts
Labels: chore, vtable

#2152 2136 feature support keydown enter edit
  .bashrc
  common/changes/@visactor/vtable/2136-feature-support-keydown-enter-edit_2024-07-31-10-21.json
  docs/assets/demo/en/edit/edit-cell.md
  docs/assets/demo/zh/edit/edit-cell.md
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/en/shortcut.md
  docs/assets/guide/zh/edit/edit_cell.md
  docs/assets/guide/zh/shortcut.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/editor/date-editor.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#2146 feat: add escape config in csv-exporter
  common/changes/@visactor/vtable/feat-csv-escape_2024-07-30-08-15.json
  packages/vtable-export/demo/list/csv.ts
  packages/vtable-export/demo/menu.ts
  packages/vtable-export/src/csv/index.ts
Labels: chore

#2143 fix: fix customMege cell update
  common/changes/@visactor/vtable/fix-custom-merge-update_2024-07-29-13-26.json
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: chore, vtable

#2142 fix: fix legend visible config #2137
  common/changes/@visactor/vtable/fix-legeng-visible_2024-07-29-12-26.json
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
Labels: chore, vtable

#2130 fix: fix custom-element update problem ##2126
  common/changes/@visactor/vtable/fix-custom-element-update_2024-07-25-13-11.json
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: chore, vtable

#2131 fix: remove resizing update in endResizeCol()
  common/changes/@visactor/vtable/fix-remove-endResizing-async_2024-07-25-12-19.json
  docs/assets/guide/zh/interaction/hover_cell.md
  packages/vtable/src/state/state.ts
Labels: chore, docs, vtable

#2165 docs: fix boundsPadding in custom-layout
  docs/assets/guide/en/custom_define/custom_layout.md
  docs/assets/guide/zh/custom_define/custom_layout.md
Labels: docs

#2163 2155 bug setrowheight chart render
  common/changes/@visactor/vtable/2155-bug-setrowheight-chart-render_2024-08-02-07-08.json
  common/changes/@visactor/vtable/2155-bug-setrowheight-chart-render_2024-08-02-08-25.json
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/demo/list/csv.ts
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/state.ts
Labels: chore, docs, vtable, react-vtable, openinula-vtable

#2167 Fix/remove end resizing async
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

#2166 fix: fix CellContent pickable config #2134
  common/changes/@visactor/vtable/fix-header-cursor_2024-07-30-08-34.json
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: chore, vtable

#2168 fix: reset endResizeCol in StateManager
  packages/vtable/src/state/state.ts
Labels: vtable

#2170 Main
  common/changes/@visactor/vtable/2106-bug-pivotTable-sortRule_2024-07-19-08-00.json
  common/changes/@visactor/vtable/2115-bug-clearselected-api_2024-07-23-04-00.json
  common/changes/@visactor/vtable/2120-feature-support-icon-in-corner_2024-07-24-03-54.json
  common/changes/@visactor/vtable/2129-refactor-prevent-dragTo-frontHeader_2024-07-29-14-18.json
  common/changes/@visactor/vtable/2136-feature-support-keydown-enter-edit_2024-07-31-10-21.json
  common/changes/@visactor/vtable/2155-bug-setrowheight-chart-render_2024-08-02-07-08.json
  common/changes/@visactor/vtable/2155-bug-setrowheight-chart-render_2024-08-02-08-25.json
  common/changes/@visactor/vtable/feat-add-emptyTip-react-component_2024-07-18-08-44.json
  common/changes/@visactor/vtable/feat-add-emptyTip-react-component_2024-07-24-08-00.json
  common/changes/@visactor/vtable/feat-csv-escape_2024-07-30-08-15.json
  common/changes/@visactor/vtable/feat-selectFillMode_2024-07-30-13-20.json
  common/changes/@visactor/vtable/fix-cell-range-clear_2024-07-26-07-32.json
  common/changes/@visactor/vtable/fix-custom-element-update_2024-07-25-13-11.json
  common/changes/@visactor/vtable/fix-custom-merge-update_2024-07-29-13-26.json
  common/changes/@visactor/vtable/fix-header-cursor_2024-07-30-08-34.json
  common/changes/@visactor/vtable/fix-legeng-visible_2024-07-29-12-26.json
  common/changes/@visactor/vtable/fix-release-async_2024-07-30-13-31.json
  common/changes/@visactor/vtable/fix-remove-endResizing-async_2024-07-25-12-19.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#1029 Feat/viewbox
  common/changes/@visactor/vtable/feat-viewbox_2024-01-25-07-49.json
  common/changes/@visactor/vtable/fix-release-async_2024-07-30-13-31.json
  packages/vtable/examples/debug/viewbox.ts
  packages/vtable/examples/menu.ts
  packages/vtable/package.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/components/axis/axis.ts
  packages/vtable/src/components/legend/discrete-legend/discrete-legend.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/FouseInput.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/core/utils/get-cell-position.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/util.ts
  packages/vtable/src/scenegraph/debug-tool/debug-tool.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/chart-cell.ts
  packages/vtable/src/scenegraph/refresh-node/update-chart.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/resize/update-resize-row.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/helper.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, vtable

#2197 Main
  common/changes/@visactor/vtable/feat-viewbox_2024-01-25-07-49.json
  common/changes/@visactor/vtable/fix-release-async_2024-07-30-13-31.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#2190 2180 bug corner header pivot table
  common/changes/@visactor/vtable/2180-bug-corner-header-pivot-table_2024-08-07-08-41.json
  common/changes/@visactor/vtable/2180-bug-corner-header-pivot-table_2024-08-08-06-52.json
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/pivot-table/corner.ts
Labels: chore, vtable

#2224 feat: update @vitejs/plugin-vue for rollup build
  common/config/rush/pnpm-lock.yaml
  tools/bundler/package.json
  tools/bundler/src/logic/rollup.config.ts
Labels: chore, bundler

#2219 feat: add basic split corner-radius function
  common/config/rush/pnpm-lock.yaml
  packages/vtable/examples/list/list.ts
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
  packages/vtable/src/scenegraph/style/frame-border.ts
Labels: chore, vtable

#2204 2200 bug framestyle borrerlinewidth set array table render positon error
  common/changes/@visactor/vtable/2200-bug-framestyle-borrerlinewidth-set-array-table-render-positon-error_2024-08-08-08-37.json
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: chore, vtable

#2230 1518 editor input bg color
  common/changes/@visactor/vtable/1518-editor-input-bgColor_2024-08-14-03-48.json
  packages/vtable-editors/src/date-input-editor.ts
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-editors/src/list-editor.ts
  packages/vtable-editors/src/textArea-editor.ts
Labels: chore

#2240 fix: when setRowHeight with rowSeriesNumber occor error #2239
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: vtable

#2176 fix: add function support in barAxisColor style
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
Labels: vtable

#2199 fix: fix jsx customLayout size compute mode #2192
  common/changes/@visactor/vtable/fix-custom-layout-size_2024-08-08-06-39.json
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
Labels: chore, vtable

#2205 feat: add frozenRowCount in transpose table #2182
  common/changes/@visactor/vtable/feat-transpose-frozen-row_2024-08-08-10-18.json
  packages/vtable/examples/list/list-transpose-frozen-row.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
Labels: chore, vtable

#2216 fix: fix icon margin error in update size #2206
  common/changes/@visactor/vtable/fix-column-resize-icon-size_2024-08-09-09-48.json
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: chore, vtable

#2213 fix: fix row-series cell type #2188
  common/changes/@visactor/vtable/fix-row-series-type_2024-08-09-07-39.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
Labels: chore, vtable

#2251 fix: fix type errors in 1.6.0
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vtable/src/body-helper/style/Style.ts
  packages/vtable/src/header-helper/style/Style.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/vrender.ts
Labels: chore, docs, vtable, react-vtable, openinula-vtable

#2259 fix: add react component release in vtable release()
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

#2262 merge main into develop
  common/changes/@visactor/vtable/1518-editor-input-bgColor_2024-08-14-03-48.json
  common/changes/@visactor/vtable/2180-bug-corner-header-pivot-table_2024-08-07-08-41.json
  common/changes/@visactor/vtable/2180-bug-corner-header-pivot-table_2024-08-08-06-52.json
  common/changes/@visactor/vtable/2200-bug-framestyle-borrerlinewidth-set-array-table-render-positon-error_2024-08-08-08-37.json
  common/changes/@visactor/vtable/2207-feature-framestyle-cornerradius-support-array-type_2024-08-08-12-32.json
  common/changes/@visactor/vtable/feat-custom-component_2024-08-16-12-13.json
  common/changes/@visactor/vtable/feat-group_2024-07-17-04-01.json
  common/changes/@visactor/vtable/feat-stick-enum_2024-08-06-13-33.json
  common/changes/@visactor/vtable/feat-transpose-frozen-row_2024-08-08-10-18.json
  common/changes/@visactor/vtable/fix-column-resize-icon-size_2024-08-09-09-48.json
  common/changes/@visactor/vtable/fix-custom-layout-component-height_2024-08-16-09-14.json
  common/changes/@visactor/vtable/fix-custom-layout-size_2024-08-08-06-39.json
  common/changes/@visactor/vtable/fix-export-color-default_2024-08-14-06-46.json
  common/changes/@visactor/vtable/fix-export-color-default_2024-08-16-07-38.json
  common/changes/@visactor/vtable/fix-row-series-type_2024-08-09-07-39.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#2283 fix: fix menu auto hide when page crolled #2241
  common/changes/@visactor/vtable/fix-menu-bottom-auto-hide_2024-08-22-06-40.json
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, vtable

#2284 fix: fix frozen column custom component clip
  common/changes/@visactor/vtable/fix-custom-frozen-clip_2024-08-22-11-46.json
  packages/react-vtable/demo/src/component/custom-layout-dom-site-1.tsx
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: chore, vtable, react-vtable

#2285 feat: add formatCopyValue config
  common/changes/@visactor/vtable/feat-copy-format_2024-08-22-11-58.json
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, docs, vtable

#2287 merge main into develop
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#2282 docs: supplement export excel docs
  docs/assets/demo/en/export/table-export-ignore-icon.md
  docs/assets/demo/zh/export/table-export-ignore-icon.md
  docs/assets/guide/en/export/excel.md
  docs/assets/guide/zh/export/excel.md
Labels: docs

#2312 feat: options select config add disableDragSelect
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: docs, vtable

#2315 fix: makeSelectCellVisible params reserve
  packages/vtable/src/core/BaseTable.ts
Labels: docs, vtable

#2288 Multiple sort update
  docs/assets/guide/en/basic_function/sort/list_sort.md
  docs/assets/guide/zh/basic_function/sort/list_sort.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/examples/header/sort.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/scenegraph/icon/icon-update.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/sort/index.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/util.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: docs, vtable

#2322 feat: options columResize add hiddenLabel
  docs/assets/option/en/common/column-resize-style.md
  docs/assets/option/zh/common/column-resize-style.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/theme.ts
Labels: docs, vtable

#2317 2305 bug pivottable editor value
  common/changes/@visactor/vtable/2305-bug-pivottable-editor-value_2024-08-27-08-18.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/edit/edit_cell.md
  docs/assets/guide/zh/edit/edit_cell.md
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vtable/src/dataset/dataset.ts
Labels: chore, docs, vtable, react-vtable, openinula-vtable

#2314 Feat/add option disable drag select
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: docs, vtable

#2307 2306 bug pivot tree expand tree occor error
  common/changes/@visactor/vtable/2306-bug-pivot-tree-expand-tree-occor-error_2024-08-26-10-57.json
  packages/vtable/examples/pivot/pivot-drag-header.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: chore, vtable

#2313 Feat/select cell make select cell visible
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: docs, vtable

#2324 Feat/add hide label for resize column width
  common/changes/@visactor/vtable/feat-add-hideLabel-for-resizeColumnWidth_2024-08-28-12-09.json
  docs/assets/option/en/common/column-resize-style.md
  docs/assets/option/zh/common/column-resize-style.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/theme.ts
Labels: chore, docs, vtable

#2303 2299 bug changeheaderposition event trigger
  common/changes/@visactor/vtable/2299-bug-changeheaderposition-event-trigger_2024-08-26-08-40.json
  packages/vtable/examples/list/list-rowSeriesNumber.ts
  packages/vtable/examples/list/list-tree-rowSeriesNumber.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/state/cell-move/index.ts
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#2276 refactor: scroll event add argument #2249
  common/changes/@visactor/vtable/2248-bug-when-selecting-multiple-cells-edit-first-cell_2024-08-21-07-42.json
  docs/assets/guide/en/Getting_Started/Getting_Started.md
  docs/assets/guide/zh/Getting_Started/Getting_Started.md
  packages/vtable/src/dataset/dataset-pivot-table.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/scroll.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#2325 feat: scrollbar option add padding
  docs/assets/option/en/common/scroll-style.md
  docs/assets/option/zh/common/scroll-style.md
  packages/vtable/examples/debug/scroll.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/theme.ts
Labels: docs, vtable

#2294 fix: fix leftRowSeriesNumberColumnCount error in getBodyLayoutRangeBy…
  common/changes/@visactor/vtable/fix-row-series-id_2024-08-23-09-48.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: chore, vtable

#2326 Feat/scrollbar option add padding
  docs/assets/option/en/common/scroll-style.md
  docs/assets/option/zh/common/scroll-style.md
  packages/vtable/examples/debug/scroll.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/theme.ts
Labels: docs, vtable

#2302 fix: fix cellLocation in top frozen row #2267
  common/changes/@visactor/vtable/fix-frozen-row-cell-location_2024-08-26-08-06.json
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: chore, vtable

#2304 fix: add judgement in array find function #2289
  common/changes/@visactor/vtable/fix-array-find-judgement_2024-08-26-08-54.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: chore, vtable

#2310 feat: add parentElement config in tooltip #2290
  common/changes/@visactor/vtable/feat-tooltip-parent-element_2024-08-26-13-25.json
  packages/vtable/src/components/tooltip/logic/BubbleTooltipElement.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, vtable

#2318 fix: fix list-table group mode style update problem
  common/changes/@visactor/vtable/fix-group-update_2024-08-27-09-51.json
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/list-table/list-table-group.tsx
  packages/vtable/src/ListTable.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
Labels: chore, vtable, react-vtable

#2333 Main
  common/changes/@visactor/vtable/2248-bug-when-selecting-multiple-cells-edit-first-cell_2024-08-21-07-42.json
  common/changes/@visactor/vtable/2299-bug-changeheaderposition-event-trigger_2024-08-26-08-40.json
  common/changes/@visactor/vtable/2305-bug-pivottable-editor-value_2024-08-27-08-18.json
  common/changes/@visactor/vtable/2306-bug-pivot-tree-expand-tree-occor-error_2024-08-26-10-57.json
  common/changes/@visactor/vtable/feat-add-hideLabel-for-resizeColumnWidth_2024-08-28-12-09.json
  common/changes/@visactor/vtable/feat-copy-format_2024-08-22-11-58.json
  common/changes/@visactor/vtable/feat-tooltip-parent-element_2024-08-26-13-25.json
  common/changes/@visactor/vtable/fix-array-find-judgement_2024-08-26-08-54.json
  common/changes/@visactor/vtable/fix-custom-frozen-clip_2024-08-22-11-46.json
  common/changes/@visactor/vtable/fix-frozen-row-cell-location_2024-08-26-08-06.json
  common/changes/@visactor/vtable/fix-group-update_2024-08-27-09-51.json
  common/changes/@visactor/vtable/fix-menu-bottom-auto-hide_2024-08-22-06-40.json
  common/changes/@visactor/vtable/fix-progress-text-align_2024-08-23-04-44.json
  common/changes/@visactor/vtable/fix-react-vtable-umd_2024-08-26-12-24.json
  common/changes/@visactor/vtable/fix-right-frozen-column-resize_2024-08-26-07-29.json
  common/changes/@visactor/vtable/fix-row-series-id_2024-08-23-09-48.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#2338 chore: update VRender Version
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/vrender.ts
Labels: chore, vtable
