Repository VisActor/VTable, pull requests merged in 2025-02, with the labels that each got.

#3365 401 feature pivot grid expand collapse
  common/changes/@visactor/vtable/3294-bug-mouseleave_task_bar-trigger_2025-01-10-07-50.json
  common/changes/@visactor/vtable/feat-barType-dependField-func_2025-01-26-07-58.json
  common/changes/@visactor/vtable/feat-react-dom-component_2025-01-15-09-55.json
  common/changes/@visactor/vtable/feat-tableSIzeAdaptive_2025-01-14-08-35.json
  common/changes/@visactor/vtable/feat-tree-data-update_2025-01-10-07-14.json
  common/changes/@visactor/vtable/feat-tree-data-update_2025-01-17-07-17.json
  common/changes/@visactor/vtable/feat-vtable-export-skipImageExportCellType_2025-01-24-03-58.json
  common/changes/@visactor/vtable/fix-empty-tip-layout_2025-01-16-12-41.json
  common/changes/@visactor/vtable/fix-stick-frozen_2025-01-16-13-12.json
  common/config/rush/version-policies.json
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/assets/demo/en/gantt/gantt-dependency-link-create.md
  docs/assets/demo/zh/gantt/gantt-dependency-link-create.md
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/pivot-table/dimension/basic-dimension.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
  packages/vtable/src/ts-types/table-engine.ts
  packages/vue-vtable/package.json
Labels: chore, docs, vtable, react-vtable, openinula-vtable

#3345 fix: update class names for Vue ArcoSelect components
  docs/assets/demo-vue/en/edit-data/arco-select-editor.md
  docs/assets/demo-vue/zh/edit-data/arco-select-editor.md
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable-editor-arco.vue
Labels: docs

#3332 fix: typo error for datasource
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
Labels: docs

#3378 3373 bug vtable gantt mousemove border occor error
  common/changes/@visactor/vtable/3373-bug-vtable-gantt-mousemoveBorderOccorError_2025-02-07-10-00.json
  packages/vtable-gantt/src/Gantt.ts
Labels: chore

#3370 3362 bug rowseriesnumber headerstyle
  common/changes/@visactor/vtable/3362-bug-rowseriesnumber-headerstyle_2025-02-06-09-13.json
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: chore, vtable

#3366 3287 bug gantt dependency line
  common/changes/@visactor/vtable/3287-bug-gantt-dependencyLine_2025-02-05-10-55.json
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
Labels: chore

#3358 3348 bug vtable gantt update scale
  common/changes/@visactor/vtable/3348-bug-vtable-gantt-updateScale_2025-01-26-09-55.json
  packages/vtable-gantt/src/tools/util.ts
Labels: chore

#3369 fix: fix rowData error in media-click #3342
  common/changes/@visactor/vtable/fix-fix-pivot-link_2025-02-06-08-47.json
  packages/vtable/src/event/media-click.ts
Labels: chore, vtable

#3371 feat: support async in downloadCsv&downloadExcel
  common/changes/@visactor/vtable/feat-export-async_2025-02-06-11-52.json
  docs/assets/demo/en/export/table-export-format.md
  docs/assets/demo/en/export/table-export-ignore-icon.md
  docs/assets/demo/en/export/table-export.md
  docs/assets/demo/zh/export/table-export-format.md
  docs/assets/demo/zh/export/table-export-ignore-icon.md
  docs/assets/demo/zh/export/table-export.md
  docs/assets/guide/en/export/csv.md
  docs/assets/guide/en/export/excel.md
  docs/assets/guide/zh/export/csv.md
  docs/assets/guide/zh/export/excel.md
  packages/vtable-export/README.md
  packages/vtable-export/demo/main.ts
  packages/vtable-export/src/util/download.ts
Labels: chore, docs

#3372 feat: linkJump & linkDetect support function
  common/changes/@visactor/vtable/feat-link-func_2025-02-06-12-39.json
  docs/assets/option/en/column/link-column-type.md
  docs/assets/option/en/dimension/link-dimension-type.md
  docs/assets/option/en/indicator/link-indicator-type.md
  docs/assets/option/zh/column/link-column-type.md
  docs/assets/option/zh/dimension/link-dimension-type.md
  docs/assets/option/zh/indicator/link-indicator-type.md
  packages/vtable/src/event/media-click.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/ts-types/list-table/define/link-define.ts
  packages/vtable/src/ts-types/style-define.ts
Labels: chore, docs, vtable

#3368 fix: fix text vertical layout #3353
  common/changes/@visactor/vtable/fix-nodejs-text-layout_2025-02-06-06-45.json
  packages/vtable/src/scenegraph/utils/text-measure.ts
Labels: chore, vtable

#3376 feat: add keepColumnWidthChange in vue-vtable #3346
  .vscode/settings.json
  common/changes/@visactor/vtable/feat-vue-keepColumnWidthChange_2025-02-07-08-03.json
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/zh/Developer_Ecology/vue.md
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable.vue
  packages/vue-vtable/src/tables/base-table.vue
Labels: chore, docs

#3379 feat: support react17 in customLayout function
  common/changes/@visactor/vtable/feat-react-17_2025-02-07-12-01.json
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: chore, react-vtable

#3380 fix: fix merge cell style update in vtable-search #3327
  common/changes/@visactor/vtable/fix-search-style-update_2025-02-07-12-26.json
  packages/vtable-search/demo/menu.ts
  packages/vtable-search/demo/pivot/pivot-merge.ts
  packages/vtable-search/src/search-component/search-component.ts
Labels: chore

#3355 3321 bug update table record error
  common/changes/@visactor/vtable/3321-bug-updateTableRecordError_2025-01-26-07-26.json
  packages/vtable-gantt/examples/gantt/gantt-tree.ts
  packages/vtable-gantt/src/Gantt.ts
Labels: chore

#3385 fix: fix clipped judgement in getCellOverflowText()
  common/changes/@visactor/vtable/fix-cliped-text_2025-02-08-09-01.json
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: chore, vtable

#3328 401 feature pivot grid expand collapse
  common/changes/@visactor/vtable/401-feature-pivot-grid-expandCollapse_2025-02-05-11-03.json
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/demo/en/gantt/gantt-dependency-link-create.md
  docs/assets/demo/en/table-type/pivot-analysis-table-grid-tree.md
  docs/assets/demo/en/table-type/pivot-analysis-table-tree.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-dependency-link-create.md
  docs/assets/demo/zh/table-type/pivot-analysis-table-grid-tree.md
  docs/assets/demo/zh/table-type/pivot-analysis-table-tree.md
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_tree.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_tree.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-grid-tree-column.ts
  packages/vtable/examples/pivot/pivot-grid-tree-row&column.ts
  packages/vtable/examples/pivot/pivot-grid-tree-totals.ts
  packages/vtable/examples/pivot/pivot-grid-tree.ts
  packages/vtable/examples/pivot/pivot.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/layout-helper.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/update-auto-row.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/frozen.ts
  packages/vtable/src/scenegraph/layout/update-col.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/utils/get-hierarchy-offset.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/NumberMap.ts
  packages/vtable/src/tools/diff-cell.ts
  packages/vtable/src/tools/get-data-path/create-dataset.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/pivot-table/dimension/basic-dimension.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#3389 Main
  common/changes/@visactor/vtable/3287-bug-gantt-dependencyLine_2025-02-05-10-55.json
  common/changes/@visactor/vtable/3321-bug-updateTableRecordError_2025-01-26-07-26.json
  common/changes/@visactor/vtable/3348-bug-vtable-gantt-updateScale_2025-01-26-09-55.json
  common/changes/@visactor/vtable/3362-bug-rowseriesnumber-headerstyle_2025-02-06-09-13.json
  common/changes/@visactor/vtable/3373-bug-vtable-gantt-mousemoveBorderOccorError_2025-02-07-10-00.json
  common/changes/@visactor/vtable/401-feature-pivot-grid-expandCollapse_2025-02-05-11-03.json
  common/changes/@visactor/vtable/feat-export-async_2025-02-06-11-52.json
  common/changes/@visactor/vtable/feat-link-func_2025-02-06-12-39.json
  common/changes/@visactor/vtable/feat-react-17_2025-02-07-12-01.json
  common/changes/@visactor/vtable/feat-vue-keepColumnWidthChange_2025-02-07-08-03.json
  common/changes/@visactor/vtable/fix-cliped-text_2025-02-08-09-01.json
  common/changes/@visactor/vtable/fix-fix-pivot-link_2025-02-06-08-47.json
  common/changes/@visactor/vtable/fix-func-checkbox_2025-02-07-13-05.json
  common/changes/@visactor/vtable/fix-nodejs-text-layout_2025-02-06-06-45.json
  common/changes/@visactor/vtable/fix-search-style-update_2025-02-07-12-26.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#3398 fix: fix dom position in react-vtable #3314
  common/changes/@visactor/vtable/fix-dom-container_2025-02-10-09-32.json
  packages/react-vtable/src/table-components/custom/vtable-react-attribute-plugin.ts
Labels: chore, react-vtable

#3417 fix: fix bodyGroup frame update #3404
  common/changes/@visactor/vtable/fix-body-frame_2025-02-13-06-22.json
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-x.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/style/frame-border.ts
Labels: chore, vtable

#3418 fix: fix sorted checkbox state #3394
  common/changes/@visactor/vtable/fix-sort-checkbox_2025-02-13-06-33.json
  packages/vtable/src/ListTable.ts
Labels: chore, vtable

#3415 feat: disable auto resize column width when double clicking the colum…
  common/changes/@visactor/vtable/feat-listable-disableDbTapColBdAutoResizeColWidth_2025-02-13-07-41.json
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/react-vtable/demo/src/list-table/list-table.tsx
  packages/vtable/examples/list/list.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, docs, vtable, react-vtable

#3419 fix: fix groupBy judgement in getHierarchyState() #3406
  common/changes/@visactor/vtable/fix-group-hierarchy-state_2025-02-13-06-42.json
  packages/vtable/src/ListTable.ts
Labels: chore, vtable

#3402 3400 refactor bottom frozen style
  common/changes/@visactor/vtable/3400-refactor-bottomFrozenStyle_2025-02-11-09-54.json
  docs/assets/option/en/common/theme.md
  docs/assets/option/zh/common/theme.md
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: chore, docs, vtable

#3410 3349 feature hover show resize line
  common/changes/@visactor/vtable/3349-feature-hoverShowResizeLine_2025-02-12-08-42.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/option/en/common/column-resize-style.md
  docs/assets/option/zh/common/column-resize-style.md
  packages/vtable/examples/pivot-analysis/pivot-analysis-total.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/theme.ts
Labels: chore, docs, vtable

#3408 3322 bug pivot tree showgrandtotalsontop
  common/changes/@visactor/vtable/3322-bug-pivot-tree-showgrandtotalsontop_2025-02-12-03-47.json
  packages/vtable/src/dataset/dataset.ts
Labels: chore, vtable

#3399 3364 feature vtable gantt style function
  common/changes/@visactor/vtable/3364-feature-vtable-gantt-style-function_2025-02-10-10-51.json
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#3403 3401 bug gantt progress one value
  common/changes/@visactor/vtable/3401-bug-gantt-progress-oneValue_2025-02-11-11-13.json
  packages/vtable-gantt/src/gantt-helper.ts
Labels: chore

#3412 3295 bug progressbar customlayout
  common/changes/@visactor/vtable/3295-bug-progressbar-customlayout_2025-02-12-09-42.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: chore, vtable

#3416 refactor: rowSeriesNumber setting add customlayout #3413
  packages/vtable/examples/list/list-rowSeriesNumber.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

#3425 merge develop
  common/changes/@visactor/vtable/3295-bug-progressbar-customlayout_2025-02-12-09-42.json
  common/changes/@visactor/vtable/3322-bug-pivot-tree-showgrandtotalsontop_2025-02-12-03-47.json
  common/changes/@visactor/vtable/3333-bug-edit-customAggragtion_2025-02-10-07-56.json
  common/changes/@visactor/vtable/3349-feature-hoverShowResizeLine_2025-02-12-08-42.json
  common/changes/@visactor/vtable/3364-feature-vtable-gantt-style-function_2025-02-10-10-51.json
  common/changes/@visactor/vtable/3400-refactor-bottomFrozenStyle_2025-02-11-09-54.json
  common/changes/@visactor/vtable/3401-bug-gantt-progress-oneValue_2025-02-11-11-13.json
  common/changes/@visactor/vtable/fix-group-hierarchy-state_2025-02-13-06-42.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/option/en/common/column-resize-style.md
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/en/common/theme.md
  docs/assets/option/zh/common/column-resize-style.md
  docs/assets/option/zh/common/gantt/task-bar.md
  docs/assets/option/zh/common/theme.md
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/examples/editor/input-editor.ts
  packages/vtable/examples/list/list-rowSeriesNumber.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-total.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/themes/theme.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
  packages/vtable/src/ts-types/table-engine.ts
  packages/vtable/src/ts-types/theme.ts
Labels: chore, docs, vtable

#3423 Feat/listable disable db tap col bd auto resize col width
  common/changes/@visactor/vtable/feat-listable-disableDbTapColBdAutoResizeColWidth_2025-02-13-07-41.json
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/react-vtable/demo/src/list-table/list-table.tsx
  packages/vtable/examples/list/list.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, docs, vtable, react-vtable

#3426 fix: fix args in _generateCustomElementsGroup()
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

#3422 complement the missing `columns` type
  packages/vtable/src/tools/diff-cell.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/customElement.ts
  packages/vtable/src/ts-types/index.ts
Labels: vtable

#3428 Support onStart function to provide table field
  packages/vtable-editors/src/types.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

#3441 docs: change event RESIZE_COLUMN_END return property name
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/option/en/register/theme.md
Labels: docs

#3445 fix: fix sort function in getCheckboxState() #3394
  common/changes/@visactor/vtable/fix-state-sort_2025-02-17-13-31.json
  packages/vtable/src/ListTable.ts
Labels: chore, vtable

#3451 3444 bug pivot chart axis auto width
  common/changes/@visactor/vtable/3444-bug-pivotChart-axis-autoWidth_2025-02-19-03-04.json
  packages/vtable/src/components/axis/get-axis-component-size.ts
Labels: chore, vtable

#3449 3442 feature show one chart crosshair
  common/changes/@visactor/vtable/3442-feature-showOneChart-crosshair_2025-02-18-11-49.json
  packages/vtable/src/PivotChart.ts
Labels: chore, vtable

#3437 Feat/support onstart table
  packages/vtable-editors/src/types.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

#3420 3405 3409 sortBytTotal & field with dot occor error
  common/changes/@visactor/vtable/3409-feature-pivot-table-sortByTotalValue_2025-02-13-06-54.json
  packages/vtable/__tests__/layout/pivot-header-layout.test.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-SortTotal.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
Labels: chore, vtable

#3438 EditCellTrigger does not take effect after fixing the options update
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: docs, vtable

#3477 fix: fix bug of duplicate compute tableY in getCellAtRelativePosition
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable

#3429 3098 feature gantt hide scale
  common/changes/@visactor/vtable/3098-feature-gantt-hide-scale_2025-02-14-09-34.json
  common/changes/@visactor/vtable/3098-feature-gantt-hide-scale_2025-02-14-09-35.json
  docs/assets/demo/en/gantt/gantt-hide-hour-scale.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-hide-hour-scale.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/en/common/gantt/timeline-scale.md
  docs/assets/option/zh/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/timeline-scale.md
  packages/vtable-gantt/examples/gantt/gantt-hour-scaleHide.ts
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#3461 3459 bug after released resize error
  common/changes/@visactor/vtable/3459-bug-after-released-resize-error_2025-02-21-03-46.json
  common/changes/@visactor/vtable/3459-bug-after-released-resize-error_2025-02-21-09-16.json
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_useage.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_useage.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: chore, docs, vtable

#3465 Feat/operate active chart instance
  common/changes/@visactor/vtable/feat-operate-activeChartInstance_2025-02-24-02-35.json
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: chore, vtable

#3466 3460 bug gantt resize taskbar time error
  common/changes/@visactor/vtable/3460-bug-gantt-resize-taskbar-time-error_2025-02-24-03-23.json
  packages/vtable-gantt/src/Gantt.ts
Labels: chore

#3473 Fix/table options editCellTrigger and memory release
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: docs, vtable

#3476 3443 feature dropdownmenu function
  common/changes/@visactor/vtable/3443-feature-dropdownmenu-function_2025-02-19-09-07.json
  docs/assets/guide/en/components/dropdown.md
  docs/assets/guide/zh/components/dropdown.md
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/dimension/base-dimension-type.md
  docs/assets/option/en/indicator/base-indicator-type.md
  docs/assets/option/zh/column/base-column-type.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/dimension/base-dimension-type.md
  docs/assets/option/zh/indicator/base-indicator-type.md
  packages/vtable/examples/interactive/menu.ts
  packages/vtable/src/components/menu/dom/MenuHandler.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/header-helper/header-helper.ts
  packages/vtable/src/scenegraph/component/menu.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/list-table/layout-map/api.ts
  packages/vtable/src/ts-types/pivot-table/dimension/basic-dimension.ts
  packages/vtable/src/ts-types/pivot-table/indicator/basic-indicator.ts
Labels: chore, docs, vtable

#3472 3467 feature gantt vertical line dependence on time scale
  common/changes/@visactor/vtable/3467-feature-gantt-verticalLineDependenceOnTimeScale_2025-02-24-08-08.json
  docs/assets/demo/en/gantt/gantt-hide-hour-scale.md
  docs/assets/demo/zh/gantt/gantt-hide-hour-scale.md
  docs/assets/option/en/common/gantt/grid.md
  docs/assets/option/zh/common/gantt/grid.md
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/package.json
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: chore, docs, vtable
