Repository VisActor/VTable, pull requests merged in 2025-03, with the labels that each got.

#3516 Fix/table should disable col mov when checking
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

#3489 feat: add tree support for row series number column
  packages/vtable/examples/debug/site.ts
  packages/vtable/src/layout/layout-helper.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

#3464 feat: vue-vtable support custom dom components
  docs/assets/demo-vue/en/custom-layout/cell-dom-component.md
  docs/assets/demo-vue/en/edit-data/edit-render.md
  docs/assets/demo-vue/menu.json
  docs/assets/demo-vue/zh/custom-layout/cell-dom-component.md
  docs/assets/demo-vue/zh/edit-data/edit-render.md
  packages/vue-vtable/demo/src/components/content.vue
  packages/vue-vtable/demo/src/components/sidebar.vue
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable-dom.vue
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable-editor-render.vue
  packages/vue-vtable/demo/src/table/unified/composition/list-table/list-table-dom.vue
  packages/vue-vtable/demo/src/table/utils/index.ts
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
  packages/vue-vtable/src/edit/editor.ts
  packages/vue-vtable/src/edit/index.ts
  packages/vue-vtable/src/edit/util.ts
  packages/vue-vtable/src/tables/base-table.vue
  packages/vue-vtable/src/utils/customLayoutUtils.ts
  packages/vue-vtable/src/utils/slotUtils.ts
Labels: docs

#3537 docs: update changlog of rush
  common/changes/@visactor/vtable/chore-update_vrender_version_2025-03-07-07-23.json
Labels: chore

#3486 fix: active right button interactive #3482
  common/changes/@visactor/vtable/fix-right-button-interactive_2025-02-27-06-45.json
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, vtable

#3498 fix: getBodyIndexByTableIndex api with row series number #3494
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

#3499 fix: click row series number cell cellRnage #3492
  packages/vtable/src/state/state.ts
Labels: vtable

#3500 3485 feature mobile pivot table drill
  common/changes/@visactor/vtable/3485-feature-mobile-pivotTable-drill_2025-02-27-11-18.json
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, vtable

#3503 refactor: dragHeaderMode move position
  common/changes/@visactor/vtable/3493-feature-dragOrder-option_2025-03-03-10-19.json
  docs/assets/demo/en/cell-type/chart.md
  docs/assets/demo/en/component/tooltip_custom_content.md
  docs/assets/demo/en/custom-render/complex-corner.md
  docs/assets/demo/en/interaction/move-header-position.md
  docs/assets/demo/en/list-table-data-analysis/list-table-aggregation-multiple.md
  docs/assets/demo/en/table-type/pivot-table-multi-tree.md
  docs/assets/demo/en/table-type/pivot-table-tree-lazy-load.md
  docs/assets/demo/en/table-type/pivot-table-tree.md
  docs/assets/demo/zh/cell-type/chart.md
  docs/assets/demo/zh/component/tooltip_custom_content.md
  docs/assets/demo/zh/custom-render/complex-corner.md
  docs/assets/demo/zh/interaction/move-header-position.md
  docs/assets/demo/zh/list-table-data-analysis/list-table-aggregation-multiple.md
  docs/assets/demo/zh/table-type/pivot-table-multi-tree.md
  docs/assets/demo/zh/table-type/pivot-table-tree-lazy-load.md
  docs/assets/demo/zh/table-type/pivot-table-tree.md
  docs/assets/faq/en/7-How to improve the performance of rendering a large number of charts in a web page.md
  docs/assets/faq/zh/7-How to improve the performance of rendering a large number of charts in a web page.md
  docs/assets/guide/en/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/guide/en/interaction/drag_header.md
  docs/assets/guide/en/table_type/Pivot_table/pivot_table_useage.md
  docs/assets/guide/zh/data_analysis/pivot_table_dataAnalysis.md
  docs/assets/guide/zh/interaction/drag_header.md
  docs/assets/guide/zh/table_type/Pivot_table/pivot_table_useage.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/examples/cell-move/column-move.ts
  packages/vtable/examples/list/list-rowSeriesNumber.ts
  packages/vtable/examples/pivot/pivot-drag-header.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#3509 3508 feature pivottable sortbyindicatorrule
  common/changes/@visactor/vtable/3508-feature-pivottable-sortbyindicatorrule_2025-03-03-08-00.json
  docs/assets/faq/en/60-How the VTable component progressively loads sub-nodes in pivot tables.md
  docs/assets/faq/zh/60-How the VTable component progressively loads sub-nodes in pivot tables.md
  docs/assets/guide/en/basic_function/sort/pivot_sort.md
  docs/assets/guide/en/table_type/Pivot_table/custom_header.md
  docs/assets/guide/zh/basic_function/sort/pivot_sort.md
  docs/assets/guide/zh/table_type/Pivot_table/custom_header.md
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/ts-types/new-data-set.ts
Labels: chore, docs, vtable

#3521 Feat/add milestone mark line
  common/changes/@visactor/vtable/feat-add_milestone_2025-03-05-09-29.json
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  docs/assets/demo/en/gantt/gantt-interaction-create-mark-line.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-interaction-create-mark-line.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  docs/assets/option/en/common/gantt/create-mark-line.md
  docs/assets/option/en/common/gantt/mark-line.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/common/gantt/create-mark-line.md
  docs/assets/option/zh/common/gantt/mark-line.md
  docs/assets/option/zh/table/gantt.md
  packages/vtable-gantt/examples/gantt/gantt-createMarkLine.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/EventTarget.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/scenegraph/tooltip.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/common.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#3522 chore: update vrender version
  common/changes/@visactor/vtable/chore-update_vrender_version_2025-03-07-07-23.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: chore, vtable

#3535 Fix/table should disable col mov when checking
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
Labels: vtable

#3526 fix: strict canvasSize config
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

#3539 fix: clickHeader cell drag Header order error #3492
  packages/vtable/src/state/select/update-position.ts
Labels: vtable

#3540 chore: update pnpm lock file
  common/config/rush/pnpm-lock.yaml
Labels: chore

#3548 fix: custom container value error
  packages/vue-vtable/bundler.config.js
  packages/vue-vtable/src/hooks/useCellRender.ts
Labels: bundler

#3553 chore: add external dependencies
  packages/vue-vtable/bundler.config.js
Labels: bundler

#3551 Fix/vue custom component
  common/changes/@visactor/vtable/fix-vue-custom-component_2025-03-11-02-43.json
  packages/vue-vtable/bundler.config.js
  packages/vue-vtable/src/hooks/useCellRender.ts
Labels: chore, bundler

#3554 Fix/vue vtable build error
  packages/vue-vtable/bundler.config.js
Labels: bundler

#3559 Main
  common/changes/@visactor/vtable/fix-vue-custom-component_2025-03-11-02-43.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#3584 3575 feature after resize event
  common/changes/@visactor/vtable/3575-feature-after-resize-event_2025-03-18-07-24.json
  common/config/rush/version-policies.json
  docs/assets/api/en/event/event.md
  docs/assets/api/en/methods.md
  docs/assets/api/zh/event/event.md
  docs/assets/api/zh/methods.md
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/assets/demo-vue/en/custom-layout/cell-dom-component.md
  docs/assets/demo-vue/zh/custom-layout/cell-dom-component.md
  docs/assets/guide/en/Event/event_list.md
  docs/assets/guide/zh/Event/event_list.md
  docs/assets/option/en/common/scroll-style.md
  docs/assets/option/en/register/theme.md
  docs/assets/option/zh/common/scroll-style.md
  docs/assets/option/zh/register/theme.md
  packages/openinula-vtable/package.json
  packages/openinula-vtable/src/eventsUtils.ts
  packages/react-vtable/package.json
  packages/react-vtable/src/eventsUtils.ts
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/examples/pivot-chart/pivot-chart-event.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/theme.ts
  packages/vue-vtable/package.json
  packages/vue-vtable/src/eventsUtils.ts
Labels: chore, docs, vtable, react-vtable, openinula-vtable

#3578 3574 bug frame border
  common/changes/@visactor/vtable/3574-bug-frameBorder_2025-03-17-06-37.json
  packages/vtable/src/core/tableHelper.ts
Labels: chore, vtable

#3538 Fix/canvas size 3520
  packages/vtable/src/core/BaseTable.ts
Labels: vtable

#3550 3529 bug selectionfillmode replace error
  common/changes/@visactor/vtable/3529-bug-selectionfillmode-replace-error_2025-03-10-08-42.json
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/state/select/update-position.ts
Labels: chore, vtable

#3561 Fix/get cell path api
  common/changes/@visactor/vtable/fix-getCellPath_api_2025-03-11-10-06.json
  packages/vtable/examples/pivot/pivot-extension-row.ts
  packages/vtable/examples/pivot/pivot-tree-lazy-load.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: chore, vtable

#3589 docs: add operate scenegraph guide
  docs/assets/guide/en/data/data_format.md
  docs/assets/guide/en/operate_scenegraph.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/data/data_format.md
  docs/assets/guide/zh/operate_scenegraph.md
  packages/vtable/src/ListTable.ts
Labels: docs, vtable

#3586 docs: fix gantt api updateOptions to updateOption
  docs/assets/api/zh/GanttAPI.md
Labels: docs

#3607 fix: fix row update range #3468
  common/changes/@visactor/vtable/fix-row-update-direction_2025-03-21-07-18.json
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: chore, vtable

#3566 Feat/add get cell pivot role
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/common.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: vtable

#3531 fix: fix cell border in cell with corner-radius
  common/changes/@visactor/vtable/fix-corner-stroke_2025-03-06-11-35.json
  packages/vtable/examples/interactive/custom-scroll.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
  packages/vtable/src/scenegraph/select/create-select-border.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/events.ts
Labels: chore, vtable

#3609 Fix/react component update
  common/changes/@visactor/vtable/fix-react-component-update_2025-03-21-09-53.json
  packages/react-vtable/src/table-components/custom/custom-layout.tsx
  packages/vtable/__tests__/listTable-highlightInRange.test.ts
  packages/vtable/__tests__/listTable.test.ts
  packages/vtable/examples/interactive/custom-scroll.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/components/react/react-custom-layout.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/radio-cell.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/video-cell.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/dynamic-set-y.ts
  packages/vtable/src/scenegraph/group-creater/progress/update-position/sort-vertical.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/compute-row-height.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/customElement.ts
  packages/vtable/src/ts-types/events.ts
Labels: chore, test, vtable, react-vtable

#3620 Main
  common/changes/@visactor/vtable/3529-bug-selectionfillmode-replace-error_2025-03-10-08-42.json
  common/changes/@visactor/vtable/3558-feature-rowSeriesNumber-radio_2025-03-12-09-32.json
  common/changes/@visactor/vtable/3574-bug-frameBorder_2025-03-17-06-37.json
  common/changes/@visactor/vtable/feat-custom-react-plugin_2025-03-12-08-14.json
  common/changes/@visactor/vtable/feat-maintainedColumnCount_2025-03-19-04-33.json
  common/changes/@visactor/vtable/fix-corner-stroke_2025-03-06-11-35.json
  common/changes/@visactor/vtable/fix-enable-ticks-label_2025-03-20-03-20.json
  common/changes/@visactor/vtable/fix-frozen-update_2025-03-19-03-13.json
  common/changes/@visactor/vtable/fix-getCellPath_api_2025-03-11-10-06.json
  common/changes/@visactor/vtable/fix-react-component-update_2025-03-21-09-53.json
  common/changes/@visactor/vtable/fix-right-button_2025-03-20-07-25.json
  common/changes/@visactor/vtable/fix-row-update-direction_2025-03-21-07-18.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#3623 docs: product compare demo
  docs/assets/demo/en/business/product-compare.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/business/product-compare.md
Labels: docs

#3630 Docs/product compare demo
  docs/assets/demo/en/business/product-compare.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/business/product-compare.md
Labels: docs

#3523 fix: fix tree checkbox state update problem
  common/changes/@visactor/vtable/fix-fix-tree-checkbox-state-sync_2025-03-05-13-32.json
  packages/vtable/examples/list/list-tree-checkbox.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, vtable

#3621 fix: add isCustom tag for merge cell range #3504
  common/changes/@visactor/vtable/fix-custom-merge-tag_2025-03-24-11-25.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, vtable

#3626 fix: fix checkbox state order update #3606
  common/changes/@visactor/vtable/fix-checkbox-order-change_2025-03-25-06-58.json
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: chore, vtable

#3628 feat: add barMarkInBar style config in progressbar #3616
  common/changes/@visactor/vtable/feat-barMarkInBar_2025-03-25-07-07.json
  docs/assets/option/en/common/style.md
  docs/assets/option/zh/common/style.md
  packages/vtable/src/body-helper/style/ProgressBarStyle.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/ts-types/column/style.ts
Labels: chore, docs, vtable

#3631 fix: disable group title editor
  common/changes/@visactor/vtable/fix-group-title-editor_2025-03-25-10-01.json
  packages/vtable/examples/editor/date-editor.ts
  packages/vtable/src/edit/edit-manager.ts
Labels: chore, vtable

#3663 Fix/group title editor
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable
