Repository VisActor/VTable, pull requests merged in 2025-07, with the labels that each got.

#4132 doc/3839 and fix editing pivot aggregation
  docs/assets/demo/en/data-analysis/pivot-analysis-updateTotalData.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/data-analysis/pivot-analysis-updateTotalData.md
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: docs, vtable

#4137 docs: update list table header hierarchy preview image
  docs/assets/demo/en/basic-functionality/list-table-header-group-collapse.md
  docs/assets/demo/zh/basic-functionality/list-table-header-group-collapse.md
Labels: docs

#4136 Fix/frozen column invisible container 3836
  common/changes/@visactor/vtable/fix-frozen-column-invisible-container-3836_2025-07-01-05-55.json
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#4140 Fix/3839
  docs/assets/demo/en/data-analysis/pivot-analysis-updateTotalData.md
  docs/assets/demo/zh/data-analysis/pivot-analysis-updateTotalData.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: docs, vtable

#3998 3839 pivot aggregation update
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo/en/data-analysis/pivot-analysis-updateTotalData.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/data-analysis/pivot-analysis-updateTotalData.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable-plugins/demo/excel-import/excel-import.ts
  packages/vtable/__tests__/dataset/aggregation.test.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-updateTotalData.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/edit/edit-manager.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
  packages/vtable/src/ts-types/new-data-set.ts
Labels: chore, docs, vtable

#4144 Main
  common/changes/@visactor/vtable/fix-excel-link_2025-06-27-07-56.json
  common/changes/@visactor/vtable/fix-list-tree-deleteRecords-bug-3991_2025-06-27-07-43.json
  common/changes/@visactor/vtable/fix-min-max-width-autoFillWidth_2025-06-27-08-37.json
  common/changes/@visactor/vtable/fix-updateColumnsError_hasAggregator_2025-06-27-08-02.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#4148 docs: update excel import demo data
  docs/assets/guide/en/plugin/excel-import.md
  docs/assets/guide/zh/plugin/excel-import.md
Labels: docs

#4155 docs: clarify hierarchy type descriptions for grid, tree, and grid-tree in PivotTable documentation
  docs/assets/contributing/en/source-code-details/7.3-PivotTable-Code-Structure-and-Detail-Analysis.md
  docs/assets/contributing/zh/source-code-details/7.3-PivotTable-Code-Structure-and-Detail-Analysis.md
Labels: docs

#4168 Fix/3975
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-moveRow.ts
  packages/vtable/src/state/cell-move/index.ts
Labels: vtable

#4138 Fix/validate edit value promise
  common/changes/@visactor/vtable/develop_2025-06-27-08-49.json
  docs/assets/api/zh/methods.md
  docs/assets/guide/zh/edit/edit_cell.md
  packages/vtable/examples/editor/custom-date-editor.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#4141 Fix/frozen column invisible container 3836
  common/changes/@visactor/vtable/fix-frozen-column-invisible-container-3836_2025-07-01-05-55.json
  packages/vtable/src/state/state.ts
Labels: chore, vtable

#4177 4170 click edit cell not work with groupBy
  common/changes/@visactor/vtable/4170-bug-svg-replace_2025-07-08-09-01.json
  docs/assets/guide/en/custom_define/custom_icon.md
  docs/assets/guide/zh/custom_define/custom_icon.md
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, docs, vtable

#4154 Feat/table series number plugin
  common/config/rush/pnpm-lock.yaml
  docs/assets/api/en/event/event.md
  docs/assets/api/en/methods.md
  docs/assets/api/zh/event/event.md
  docs/assets/api/zh/methods.md
  docs/assets/guide/en/plugin/table-series-number.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/table-series-number.md
  docs/vite.config.js
  packages/vtable-plugins/demo/combine-plugins/combine-plugins.ts
  packages/vtable-plugins/demo/index.html
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/style.css
  packages/vtable-plugins/demo/table-series-number/pivot-table-series-number.ts
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/src/components/VTableSheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable/package.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/core/animation.ts
  packages/vtable/src/core/utils/get-cell-position.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/events.ts
Labels: chore, docs, vtable

#4127 feat: vtable-sheet developing...
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-06-29-17-24.json
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-06-29-23-02.json
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-06-30-21-53.json
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-07-01-15-19.json
  common/changes/@visactor/vtable/feat-vtable-sheet-beta_2025-07-14-22-24.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable-editors/src/input-editor.ts
  packages/vtable-sheet/examples/sheet/sheet.ts
  packages/vtable-sheet/package.json
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable-sheet/src/event/event-manager.ts
  packages/vtable-sheet/src/event/event-target.ts
  packages/vtable-sheet/src/formula/a
  packages/vtable-sheet/src/index.ts
  packages/vtable-sheet/src/managers/FormulaManager.ts
  packages/vtable-sheet/src/managers/data-manager.ts
  packages/vtable-sheet/src/managers/filter-manager.ts
  packages/vtable-sheet/src/managers/formula-manager.ts
  packages/vtable-sheet/src/managers/sheet-manager.ts
  packages/vtable-sheet/src/state/state-manager.ts
  packages/vtable-sheet/src/styles/sheet.css
  packages/vtable-sheet/src/ts-types/base.ts
  packages/vtable-sheet/src/ts-types/event.ts
  packages/vtable-sheet/src/ts-types/filter.ts
  packages/vtable-sheet/src/ts-types/formula.ts
  packages/vtable-sheet/src/ts-types/index.ts
  packages/vtable-sheet/src/ts-types/sheet.ts
Labels: chore

#4203 fix: fix custom style update dx
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

#4209 3293 refactor update merge cell performance
  common/changes/@visactor/vtable/3293-refactor-update-mergeCell-performance_2025-07-16-07-16.json
  packages/vtable/src/scenegraph/layout/update-col.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
Labels: chore, vtable

#4237 4235 bug vchart transparent bgcolor replace cell bgcolor
  common/changes/@visactor/vtable/4235-bug-vchart-transparent-bgcolor-replace-cell-bgcolor_2025-07-23-08-33.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/scenegraph/graphic/chart.ts
  packages/vtable/src/state/hover/update-position.ts
Labels: chore, vtable

#3969 Feat/pasted add row col plugin
  .lintstagedrc
  common/changes/@visactor/vtable/feat-paste-add-row-plugin_2025-05-14-14-49.json
  common/changes/@visactor/vtable/feat-pasted-add-row-col-plugin_2025-05-26-10-53.json
  docs/assets/demo/en/plugin/excel-online-editing.md
  docs/assets/demo/zh/plugin/excel-online-editing.md
  docs/assets/guide/en/plugin/paste-add-row-column.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/paste-add-row-column.md
  packages/vtable-gantt/examples/gantt/gantt-borderLineWidth-array-config.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/paste-add-row-column/paste-add-row-column.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/paste-add-row-column.ts
  packages/vtable/__tests__/dataset/aggregation.test.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: chore, docs, vtable

#4193 feat: context menu plugin
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/demo/context-menu/context-menu.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/table-series-number/table-series-number.ts
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/context-menu.ts
  packages/vtable-plugins/src/contextmenu/handle-menu-helper.ts
  packages/vtable-plugins/src/contextmenu/index.ts
  packages/vtable-plugins/src/contextmenu/menu-manager.ts
  packages/vtable-plugins/src/contextmenu/styles.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/table-series-number.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/Sheet.ts
  packages/vtable-sheet/src/core/table-plugins.ts
  packages/vtable/examples/list/list-contextMenu-disabledMenu.ts
  packages/vtable/package.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/layout/frozen.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/scenegraph/select/create-select-border.ts
  packages/vtable/src/scenegraph/select/update-custom-select-border.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/scenegraph/utils/cell-pos.ts
  packages/vtable/src/scenegraph/utils/update-container.ts
  packages/vtable/src/state/select/custom-select.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/tools/style.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/style-define.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, vtable

#4243 4214 bug scroll hide menu list
  common/changes/@visactor/vtable/4214-bug-scrollHideMenuList_2025-07-25-06-27.json
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/self-event-listener/base-table/dropdown-menu.ts
Labels: chore, vtable

#4251 3902 feature rowseriesnumber field
  common/changes/@visactor/vtable/3902-feature-rowseriesnumber-field_2025-07-28-07-42.json
  docs/assets/guide/en/basic_function/row_series_number.md
  docs/assets/guide/zh/basic_function/row_series_number.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/common/row-series-number.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/common/row-series-number.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#4230 fix check-box spell error
  docs/assets/guide/en/cell_type/checkbox.md
  docs/assets/guide/zh/cell_type/checkbox.md
Labels: docs

#4244 4130 checkbox not linkage
  common/changes/@visactor/vtable/4130-checkbox-not-linkage_2025-07-25-08-19.json
  common/changes/@visactor/vtable/4130-checkbox-not-linkage_2025-07-25-11-48.json
  docs/assets/demo/en/gantt/gantt-project-taskShowMode.md
  docs/assets/demo/en/gantt/gantt-table-mergeCell.md
  docs/assets/demo/en/gantt/gantt-taskShowMode.md
  docs/assets/demo/en/table-type/list-table-group-checkbox.md
  docs/assets/demo/en/table-type/list-table-group.md
  docs/assets/demo/en/table-type/list-table-tree-lazy-load.md
  docs/assets/demo/zh/gantt/gantt-project-taskShowMode.md
  docs/assets/demo/zh/gantt/gantt-table-mergeCell.md
  docs/assets/demo/zh/table-type/list-table-group-checkbox.md
  docs/assets/demo/zh/table-type/list-table-group.md
  docs/assets/demo/zh/table-type/list-table-tree-lazy-load.md
  docs/assets/guide/en/cell_type/checkbox.md
  docs/assets/guide/en/table_type/List_table/group_list.md
  docs/assets/guide/zh/cell_type/checkbox.md
  docs/assets/guide/zh/table_type/List_table/group_list.md
  docs/assets/option/en/common/row-series-number.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/common/row-series-number.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/examples/list/list-group.ts
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/layout/cell-range/simple-cell-range.ts
  packages/vtable/src/layout/layout-helper.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
  packages/vtable/src/scenegraph/group-creater/init-scenegraph.ts
  packages/vtable/src/scenegraph/layout/update-height.ts
  packages/vtable/src/scenegraph/layout/update-width.ts
  packages/vtable/src/scenegraph/utils/get-hierarchy-offset.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/list-table/define/checkbox-define.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#4253 english site
  .github/workflows/static.yml
  README.md
  docs/en/README.md
  docs/en/advanced/performance-optimization.md
  docs/en/core/data-handling.md
  docs/en/core/table-types.md
  docs/en/examples/enterprise-examples.md
  docs/en/faq.md
  docs/en/getting-started.md
  docs/en/integrations/react-integration.md
  docs/en/integrations/vue-integration.md
  docs/en/troubleshooting/debugging-guide.md
  english-demo/README.md
  english-demo/examples/color-themes.html
  english-demo/examples/interactive-behavior.html
  english-demo/examples/performance-advanced.html
  english-demo/examples/table-operations-offline.html
  english-demo/examples/table-operations.html
  english-demo/index.html
  english-demo/offline-demo.html
  llms.txt
Labels: chore, docs

#4258 Main
  common/changes/@visactor/vtable/3293-refactor-update-mergeCell-performance_2025-07-16-07-16.json
  common/changes/@visactor/vtable/3902-feature-rowseriesnumber-field_2025-07-28-07-42.json
  common/changes/@visactor/vtable/4130-checkbox-not-linkage_2025-07-25-08-19.json
  common/changes/@visactor/vtable/4130-checkbox-not-linkage_2025-07-25-11-48.json
  common/changes/@visactor/vtable/4214-bug-scrollHideMenuList_2025-07-25-06-27.json
  common/changes/@visactor/vtable/4226-bug-change_header_position-args_2025-07-21-15-39.json
  common/changes/@visactor/vtable/4235-bug-vchart-transparent-bgcolor-replace-cell-bgcolor_2025-07-23-08-33.json
  common/changes/@visactor/vtable/develop_2025-07-28-07-48.json
  common/changes/@visactor/vtable/feat-paste-add-row-plugin_2025-05-14-14-49.json
  common/changes/@visactor/vtable/feat-pasted-add-row-col-plugin_2025-05-26-10-53.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#4276 Feat/move end task bar event
  common/changes/@visactor/vtable/test_2025-07-30-10-21.json
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  packages/vtable-gantt/examples/gantt/gantt-task-bar-move.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
Labels: chore, docs

#4272 4267 feature add option enableheadercheckboxcascade
  common/changes/@visactor/vtable/4267-feature-add-option-enableheadercheckboxcascade_2025-07-30-11-53.json
  docs/assets/demo/en/table-type/list-table-group-checkbox.md
  docs/assets/demo/en/table-type/list-table-group.md
  docs/assets/demo/en/table-type/list-table-tree-lazy-load.md
  docs/assets/demo/zh/table-type/list-table-group-checkbox.md
  docs/assets/demo/zh/table-type/list-table-group.md
  docs/assets/demo/zh/table-type/list-table-tree-lazy-load.md
  docs/assets/guide/en/cell_type/checkbox.md
  docs/assets/guide/en/table_type/List_table/group_list.md
  docs/assets/guide/zh/cell_type/checkbox.md
  docs/assets/guide/zh/table_type/List_table/group_list.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, docs, vtable

#4269 Refactor/delete&addrecords update checkstate
  common/changes/@visactor/vtable/refactor-delete-addrecordsUpdateCheckstate_2025-07-30-09-19.json
  common/changes/@visactor/vtable/refactor-delete-addrecordsUpdateCheckstate_2025-07-30-09-47.json
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, vtable
