Repository VisActor/VTable, pull requests merged in 2025-05, with the labels that each got.

#3776 Feat/scrollbar always visible space correction
  packages/vtable/examples/menu.ts
  packages/vtable/examples/theme/scrollbar-always-visible-space-correction.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/tools/style.ts
Labels: vtable

#3808 Feature/add support for text not to be hidden
  common/changes/@visactor/vtable/feature-text-fix_2025-04-25-13-09.json
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore

#3843 fix: unintended edit state activation on functional button clicks
  packages/vtable/src/edit/edit-manager.ts
Labels: vtable

#3853 feat: add support for text not to be hidden
  docs/assets/demo/en/gantt/gantt-orient.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-orient.md
  docs/assets/option/en/common/gantt/task-bar-label-text-style.md
  docs/assets/option/zh/common/gantt/task-bar-label-text-style.md
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

#3854 fix: resolve taskBar width problem when click linkPonitNode #3829
  common/changes/@visactor/vtable/fix-pointerdown-resizeTaskBar-resizing_2025-05-09-08-39.json
  packages/vtable-gantt/src/state/state-manager.ts
Labels: chore

#3856 feat: add support for text not to be hidden
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable/src/index.ts
Labels: vtable

#3826 feat(gantt): Implement plugin manager and add full export feature
  common/changes/@visactor/vtable/feat-gantt-export_2025-05-08-13-36.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/plugin/contribute.md
  docs/assets/guide/en/plugin/gantt-export-image.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/contribute.md
  docs/assets/guide/zh/plugin/gantt-export-image.md
  docs/assets/guide/zh/plugin/usage.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/index.ts
  packages/vtable-gantt/src/plugins/index.ts
  packages/vtable-gantt/src/plugins/interface.ts
  packages/vtable-gantt/src/plugins/plugin-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable-plugins/demo/gantt-export-image/gantt-export-image.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/gantt-export-image.ts
  packages/vtable-plugins/src/index.ts
Labels: chore, docs

#3862 Feature/markline position date
  common/changes/@visactor/vtable/feature-Markline-position-date_2025-05-10-11-41.json
  docs/assets/demo/en/gantt/gantt-interaction-create-mark-line.md
  docs/assets/demo/zh/gantt/gantt-interaction-create-mark-line.md
  docs/assets/option/en/common/gantt/mark-line.md
  docs/assets/option/zh/common/gantt/mark-line.md
  packages/vtable-gantt/__tests__/gantt-mark-line.test.ts
  packages/vtable-gantt/examples/gantt/gantt-createMarkLine.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, test, docs

#3835 Feature/gantt taskbar text orient
  common/changes/@visactor/vtable/feature-text-fix_2025-04-25-13-09.json
  docs/assets/demo/en/gantt/gantt-orient.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-orient.md
  docs/assets/option/en/common/gantt/task-bar-label-text-style.md
  docs/assets/option/zh/common/gantt/task-bar-label-text-style.md
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/src/index.ts
Labels: chore, docs, vtable

#3838 refactor: add id to plugin options
  docs/assets/guide/en/plugin/rotate-table.md
  docs/assets/guide/zh/plugin/rotate-table.md
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/column-series.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-plugins/src/focus-highlight.ts
  packages/vtable-plugins/src/highlight-header-when-select-cell.ts
  packages/vtable-plugins/src/rotate-table.ts
  packages/vtable-plugins/src/row-series.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
Labels: docs

#3847 3828 feature theme frozencolumnlineshadow
  common/changes/@visactor/vtable/3828-feature-theme-frozencolumnlineshadow_2025-05-08-10-17.json
  docs/assets/guide/en/theme_and_style/theme.md
  docs/assets/guide/zh/theme_and_style/theme.md
  docs/assets/option/en/common/frozen-column-line-style.md
  docs/assets/option/zh/common/frozen-column-line-style.md
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/themes/ARCO.ts
  packages/vtable/src/themes/BRIGHT.ts
  packages/vtable/src/themes/DARK.ts
  packages/vtable/src/themes/DEFAULT.ts
  packages/vtable/src/themes/theme-define.ts
  packages/vtable/src/ts-types/theme.ts
Labels: chore, docs, vtable

#3855 Fix/click link point resize task bar error
  common/changes/@visactor/vtable/fix-pointerdown-resizeTaskBar-resizing_2025-05-09-08-39.json
  packages/vtable-gantt/src/state/state-manager.ts
Labels: chore

#3858 Feat/gantt export plugin
  common/changes/@visactor/vtable/feat-gantt-export_2025-05-08-13-36.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/plugin/contribute.md
  docs/assets/guide/en/plugin/gantt-export-image.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/contribute.md
  docs/assets/guide/zh/plugin/gantt-export-image.md
  docs/assets/guide/zh/plugin/usage.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/index.ts
  packages/vtable-gantt/src/plugins/index.ts
  packages/vtable-gantt/src/plugins/interface.ts
  packages/vtable-gantt/src/plugins/plugin-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable-plugins/demo/gantt-export-image/gantt-export-image.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/gantt-export-image.ts
  packages/vtable-plugins/src/index.ts
Labels: chore, docs

#3866 chore: improvement of plug-in unit testing
  .github/workflows/unit-test.yml
  common/changes/@visactor/vtable/chore-ai-enhance-plugins-tests_2025-05-12-02-53.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable-plugins/__tests__/add-row-column.test.ts
  packages/vtable-plugins/__tests__/column-series.test.ts
  packages/vtable-plugins/__tests__/excel-edit-cell-keyboard.test.ts
  packages/vtable-plugins/__tests__/focus-highlight.test.ts
  packages/vtable-plugins/__tests__/highlight-header-when-select-cell.test.ts
  packages/vtable-plugins/__tests__/rotate-table.test.ts
  packages/vtable-plugins/__tests__/row-series.test.ts
  packages/vtable-plugins/__tests__/table-carousel-animation.test.ts
  packages/vtable-plugins/jest.config.js
  packages/vtable-plugins/package.json
Labels: chore, test, jest

#3874 Feat/export all data
  common/changes/@visactor/vtable/fix-export-all-data_2025-05-12-02-37.json
  docs/assets/guide/zh/export/csv.md
  docs/assets/guide/zh/export/excel.md
  packages/vtable-export/src/csv/index.ts
  packages/vtable-export/src/excel/index.ts
  packages/vtable-export/src/util/pagination.ts
  packages/vtable/src/ListTable.ts
Labels: chore, docs, vtable

#3871 Feat/touch gantt
  common/changes/@visactor/vtable/feat-touch-gantt_2025-05-12-12-18.json
  packages/vtable-gantt/examples/gantt/gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/event/touch.ts
  packages/vtable/src/event/listener/touch.ts
Labels: chore, vtable

#3887 Feat/parent child selected sync
  packages/vtable/examples/list/list-checkbox-tree.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/scenegraph/component/checkbox-content.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/ts-types/list-table/define/checkbox-define.ts
Labels: vtable

#3816 Feature/milestone text
  common/changes/@visactor/vtable/feature-milestoneText_2025-04-27-03-18.json
  docs/assets/demo/en/gantt/gantt-milestone.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-milestone.md
  docs/assets/option/en/common/gantt/milestone-style.md
  docs/assets/option/zh/common/gantt/milestone-style.md
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#3905 feat: add milestone text
  docs/assets/demo/en/gantt/gantt-milestone.md
  docs/assets/demo/zh/gantt/gantt-milestone.md
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: docs

#3920 docs: source code detail
  docs/assets/contributing/en/source-code-details/0-VTable-Engineering.md
  docs/assets/contributing/en/source-code-details/1.1-Basic-Concepts-of-Vtable.md
  docs/assets/contributing/en/source-code-details/1.2-Basic-Architecture-and-Source-Code-Structure-of-VTable.md
  docs/assets/contributing/en/source-code-details/1.3-VTable-Lifecycle.md
  docs/assets/contributing/en/source-code-details/11-Data-Editing.md
  docs/assets/contributing/en/source-code-details/2.1-Scenegraph-Concept-Interpretation.md
  docs/assets/contributing/en/source-code-details/2.2-VTable-Elements-and-the-Expression-Relationship-with-the-Scene-Tree.md
  docs/assets/contributing/en/source-code-details/2.3-VTable-Scene-Tree-Rendering.md
  docs/assets/contributing/en/source-code-details/2.4-Rendering-Process-of-Different-Primitive-Types.md
  docs/assets/contributing/en/source-code-details/2.5-Scene-Tree-Update.md
  docs/assets/contributing/en/source-code-details/2.6-Progressive-Loading-of-Scene-Tree.md
  docs/assets/contributing/en/source-code-details/3.1-Basic-Table-Header-Structure.md
  docs/assets/contributing/en/source-code-details/3.2-Pivot-Table-Header-Structure.md
  docs/assets/contributing/en/source-code-details/3.3-Row-Height-Column-Width-Calculation.md
  docs/assets/contributing/en/source-code-details/4.1-VTable-Event-Design.md
  docs/assets/contributing/en/source-code-details/4.2-Event-Listening.md
  docs/assets/contributing/en/source-code-details/4.3-Built-in-Event-Definition-and-Implementation.md
  docs/assets/contributing/en/source-code-details/4.4-VTable-State-Management-Types.md
  docs/assets/contributing/en/source-code-details/4.5-Event-to-State-Update-Process.md
  docs/assets/contributing/en/source-code-details/6.1-ListTable-Concept-and-Capability-Definition.md
  docs/assets/contributing/en/source-code-details/6.2-Basic-Table-Data-Processing.md
  docs/assets/contributing/en/source-code-details/6.3-ListTable-Code-Structure-and-Detail-Analysis.md
  docs/assets/contributing/en/source-code-details/7.1-PivotTable-Concepts-and-Capability-Definition.md
  docs/assets/contributing/en/source-code-details/7.2-Pivot-Table-and-Pivot-Chart-Data-Module.md
  docs/assets/contributing/en/source-code-details/7.3-PivotTable-Code-Structure-and-Detail-Analysis.md
  docs/assets/contributing/en/source-code-details/Detailed-Explanation-of-VTable-Perspective-Combination-Chart.md
  docs/assets/contributing/en/source-code-details/React-VTable-Source-Code-Analysis-Document.md
  docs/assets/contributing/menu.json
  docs/assets/contributing/zh/source-code-details/0-VTable-Engineering.md
  docs/assets/contributing/zh/source-code-details/1.1-Basic-Concepts-of-Vtable.md
  docs/assets/contributing/zh/source-code-details/1.2-Basic-Architecture-and-Source-Code-Structure-of-VTable.md
  docs/assets/contributing/zh/source-code-details/1.3-VTable-Lifecycle.md
  docs/assets/contributing/zh/source-code-details/11-Data-Editing.md
  docs/assets/contributing/zh/source-code-details/2.1-Scenegraph-Concept-Interpretation.md
  docs/assets/contributing/zh/source-code-details/2.2-VTable-Elements-and-the-Expression-Relationship-with-the-Scene-Tree.md
  docs/assets/contributing/zh/source-code-details/2.3-VTable-Scene-Tree-Rendering.md
  docs/assets/contributing/zh/source-code-details/2.4-Rendering-Process-of-Different-Primitive-Types.md
  docs/assets/contributing/zh/source-code-details/2.5-Scene-Tree-Update.md
  docs/assets/contributing/zh/source-code-details/2.6-Progressive-Loading-of-Scene-Tree.md
  docs/assets/contributing/zh/source-code-details/3.1-Basic-Table-Header-Structure.md
  docs/assets/contributing/zh/source-code-details/3.2-Pivot-Table-Header-Structure.md
  docs/assets/contributing/zh/source-code-details/3.3-Row-Height-Column-Width-Calculation.md
  docs/assets/contributing/zh/source-code-details/4.1-VTable-Event-Design.md
  docs/assets/contributing/zh/source-code-details/4.2-Event-Listening.md
  docs/assets/contributing/zh/source-code-details/4.3-Built-in-Event-Definition-and-Implementation.md
  docs/assets/contributing/zh/source-code-details/4.4-VTable-State-Management-Types.md
  docs/assets/contributing/zh/source-code-details/4.5-Event-to-State-Update-Process.md
  docs/assets/contributing/zh/source-code-details/6.1-ListTable-Concept-and-Capability-Definition.md
  docs/assets/contributing/zh/source-code-details/6.2-Basic-Table-Data-Processing.md
  docs/assets/contributing/zh/source-code-details/6.3-ListTable-Code-Structure-and-Detail-Analysis.md
  docs/assets/contributing/zh/source-code-details/7.1-PivotTable-Concepts-and-Capability-Definition.md
  docs/assets/contributing/zh/source-code-details/7.2-Pivot-Table-and-Pivot-Chart-Data-Module.md
  docs/assets/contributing/zh/source-code-details/7.3-PivotTable-Code-Structure-and-Detail-Analysis.md
  docs/assets/contributing/zh/source-code-details/Detailed-Explanation-of-VTable-Perspective-Combination-Chart.md
  docs/assets/contributing/zh/source-code-details/React-VTable-Source-Code-Analysis-Document.md
Labels: docs

#3921 docs: update readme
  README.ja-JP.md
  README.md
  README.zh-CN.md
  docs/assets/contributing/menu.json
Labels: docs

#3868 Feature/markline position date
  common/changes/@visactor/vtable/feature-Markline-position-date_2025-05-10-11-41.json
  docs/assets/demo/en/gantt/gantt-interaction-create-mark-line.md
  docs/assets/demo/zh/gantt/gantt-interaction-create-mark-line.md
  docs/assets/option/en/common/gantt/mark-line.md
  docs/assets/option/zh/common/gantt/mark-line.md
  packages/vtable-gantt/__tests__/gantt-mark-line.test.ts
  packages/vtable-gantt/examples/gantt/gantt-createMarkLine.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, test, docs

#3890 Feat/parent child selected sync
  packages/vtable/examples/list/list-checkbox-tree.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/scenegraph/component/checkbox-content.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/state/checkbox/checkbox.ts
  packages/vtable/src/ts-types/list-table/define/checkbox-define.ts
Labels: vtable

#3901 Feature/milestone text
  common/changes/@visactor/vtable/feature-milestoneText_2025-04-27-03-18.json
  docs/assets/demo/en/gantt/gantt-milestone.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-milestone.md
  docs/assets/option/en/common/gantt/milestone-style.md
  docs/assets/option/zh/common/gantt/milestone-style.md
  packages/vtable-gantt/examples/gantt/gantt-milestone.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/gantt-node.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#3906 Fix/bug of chart matrix
  common/changes/@visactor/vtable/fix-bug-of-chart-matrix_2025-05-19-12-47.json
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
Labels: chore, vtable

#3949 docs: add Trae context documentation
  docs/assets/guide/en/Getting_Started/Quickly_Get_Started_with_VisActor_Using_Trae_Context_Doc.md
  docs/assets/guide/zh/Getting_Started/Quickly_Get_Started_with_VisActor_Using_Trae_Context_Doc.md
Labels: docs

#3943 Feat/parent child selected sync
  docs/assets/demo/en/table-type/list-table-tree-lazy-load.md
  docs/assets/demo/zh/table-type/list-table-tree-lazy-load.md
  packages/vtable/examples/list/list-checkbox-tree.ts
  packages/vtable/examples/list/list-tree-checkbox.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/self-event-listener/list-table/checkbox.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/checkbox-cell.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: docs, vtable

#3927 feat: add vue-table export type /es/*.d.ts
  common/changes/@visactor/vtable/develop_2025-05-22-08-21.json
  packages/vue-vtable/package.json
Labels: chore

#3934 fix: maintain scrollbar visibility after scrolling in focus mode
  packages/vtable/src/event/scroll.ts
Labels: vtable

#3941 Feat pasted add row col plugin
  common/changes/@visactor/vtable/feat-paste-add-row-plugin_2025-05-14-14-49.json
  common/changes/@visactor/vtable/feat-pasted-add-row-col-plugin_2025-05-26-10-53.json
  docs/assets/demo/en/plugin/excel-online-editing.md
  docs/assets/demo/zh/plugin/excel-online-editing.md
  docs/assets/guide/en/plugin/paste-add-row-column.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/paste-add-row-column.md
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/paste-add-row-column/paste-add-row-column.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/paste-add-row-column.ts
Labels: chore, docs

#3959 feat(gantt): allow outerFrameStyle borderLineWidth array config
  docs/assets/option/en/common/gantt/frame-style.md
  docs/assets/option/zh/common/gantt/frame-style.md
  packages/vtable-gantt/examples/gantt/gantt-borderLineWidth-array-config.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/src/index.ts
Labels: docs, vtable
