Repository VisActor/VTable, pull requests merged in 2025-09, with the labels that each got.

#4406 Feat/vtable sheet hokkine
  docs/assets/guide/en/plugin/auto-fill.md
  docs/assets/guide/zh/plugin/auto-fill.md
  packages/vtable-plugins/src/auto-fill/auto-fill-helper.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
  packages/vtable-plugins/src/auto-fill/rules.ts
Labels: docs

#4426 docs: update change log
  docs/assets/changelog/zh/release.md
Labels: docs

#4405 feat: add progress adjustment feature for task bars
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

#4473 Feat/table within table2
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/demo/en/plugin/master-detail.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/plugin/master-detail.md
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/master-detail.md
  docs/assets/guide/zh/plugin/usage.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin2.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin4.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin5.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin6.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin7.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin8.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/checkbox.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/index.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
  packages/vtable-plugins/src/master-detail-plugin/utils.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/ts-types/events.ts
Labels: docs, vtable

#4482 docs: fix document writing errors
  docs/assets/guide/en/Developer_Ecology/vue.md
  docs/assets/guide/zh/Developer_Ecology/react.md
  docs/assets/guide/zh/Developer_Ecology/vue.md
Labels: docs

#4231 Feat/table within table
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/demo/en/plugin/master-detail.md
  docs/assets/demo/zh/plugin/master-detail.md
  docs/assets/guide/en/plugin/master-detail.md
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin5.ts
  packages/vtable-plugins/src/master-detail-plugin/checkbox.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
  packages/vtable-plugins/src/master-detail-plugin/utils.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/ts-types/events.ts
Labels: docs, vtable

#4481 Chore/update vrender version
  common/changes/@visactor/vtable/chore-update-vrender-version_2025-09-16-10-18.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: chore, vtable

#4309 Feature/zoom interaction
  docs/assets/demo/en/gantt/gantt-datazoom.md
  docs/assets/demo/en/gantt/gantt-zoom.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/gantt/gantt-datazoom.md
  docs/assets/demo/zh/gantt/gantt-zoom.md
  docs/assets/guide/en/gantt/gantt_datazoom.md
  docs/assets/guide/en/gantt/gantt_zoom_scale.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/gantt/gantt_datazoom.md
  docs/assets/guide/zh/gantt/gantt_zoom_scale.md
  docs/assets/option/en/common/gantt/data-zoom-config.md
  docs/assets/option/en/common/gantt/zoom-scale.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/common/gantt/data-zoom-config.md
  docs/assets/option/zh/common/gantt/zoom-scale.md
  docs/assets/option/zh/table/gantt.md
  packages/vtable-gantt/examples/gantt/gantt-zoom.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable-gantt/src/ts-types/index.ts
  packages/vtable-gantt/src/ts-types/zoom-scale.ts
  packages/vtable-gantt/src/zoom-scale/DataZoomIntegration.ts
  packages/vtable-gantt/src/zoom-scale/ZoomScaleManager.ts
  packages/vtable-gantt/src/zoom-scale/index.ts
Labels: docs

#4507 fix: the serial number column configuration field
  packages/vtable/src/ListTable.ts
Labels: vtable

#4503 fix: solve which problem #4419
  packages/vtable/src/event/event.ts
Labels: vtable

#4502 4436 bug delete record switch state error after renderwithrecreatecells
  common/changes/@visactor/vtable/4436-bug-deleteRecord-switchStateError-after-renderwithrecreatecells_2025-09-24-02-18.json
  packages/vtable/__tests__/cell-type/issue-4436-reproduction.test.ts
  packages/vtable/__tests__/cell-type/simple-switch-delete.test.ts
  packages/vtable/src/core/record-helper.ts
Labels: chore, vtable

#4501 4494 bug maxfrozenwidth not work when brower scale
  CLAUDE.md
  common/changes/@visactor/vtable/4494-bug-maxfrozenwidth-notWork-WhenBrowerScale_2025-09-23-11-28.json
  packages/vtable/src/core/BaseTable.ts
Labels: chore, vtable

#4486 Fix/gannt progress decimal
  docs/assets/demo/zh/gantt/gantt-progress-adjust.md
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/state/state-manager.ts
Labels: docs

#4519 docs: add a new FAQ to solve the problem of blurred fonts
  docs/assets/faq/en/61-The font of VTable is blurry or ghosted after the browser is zoomed.md
  docs/assets/faq/menu.json
  docs/assets/faq/zh/61-The font of VTable is blurry or ghosted after the browser is zoomed.md
  docs/public/vtable/faq/61-1.gif
  docs/vite.config.js
Labels: docs

#4524 Feat/table within table2
  docs/assets/guide/zh/plugin/master-detail.md
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin2.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin3.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin4.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin5.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin6.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin7.ts
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin8.ts
  packages/vtable-plugins/src/master-detail-plugin/checkbox.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/table-api-extensions.ts
  packages/vtable-plugins/src/master-detail-plugin/utils.ts
Labels: docs
