Repository VisActor/VTable, pull requests merged in 2025-08, with the labels that each got.

#4293 Feat/pivot chart column width config
  common/changes/@visactor/vtable/feat-pivot_chart_columnWidthConfig_2025-08-04-07-08.json
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/en/gantt/gantt_date.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  docs/assets/guide/zh/gantt/gantt_date.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/en/table/pivotChart.md
  docs/assets/option/en/table/pivotTable.md
  docs/assets/option/zh/table/listTable.md
  docs/assets/option/zh/table/pivotChart.md
  docs/assets/option/zh/table/pivotTable.md
  packages/vtable/examples/pivot-chart/pivotChart-horizontal.ts
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#4287 4254 bug column hierarchy type grid expand error
  common/changes/@visactor/vtable/4254-bug-columnHierarchyType-grid-expand-error_2025-08-01-06-08.json
  packages/vtable/src/scenegraph/icon/icon-update.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
Labels: chore, vtable

#4286 chore: add workflow to sync main to develop after release
  .github/workflows/sync-main-to-develop.yml
Labels: chore

#4323 fix: fix error in syncGroupCollapseState when use InputEditor update groupBy config key.#4216
  common/changes/@visactor/vtable/new-groupBy_2025-08-11-09-44.json
  packages/vtable/examples/list/list-groupBy.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/CachedDataSource.ts
Labels: chore, vtable

#4333 Feat/table within table2
  packages/vtable-plugins/demo/master-detail-plugin/master-detail-plugin.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/master-detail-plugin.ts
  packages/vtable-plugins/src/master-detail-plugin/config.ts
  packages/vtable-plugins/src/master-detail-plugin/core.ts
  packages/vtable-plugins/src/master-detail-plugin/events.ts
  packages/vtable-plugins/src/master-detail-plugin/index.ts
  packages/vtable-plugins/src/master-detail-plugin/subtable.ts
  packages/vtable-plugins/src/master-detail-plugin/types.ts
  packages/vtable-plugins/src/master-detail-plugin/utils.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/ts-types/events.ts
Labels: vtable

#4134 Feat/scrollbar layout
  packages/vtable/examples/menu.ts
  packages/vtable/examples/theme/scroll-style.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/component/table-component.ts
  packages/vtable/src/state/resize/update-resize-column.ts
  packages/vtable/src/state/resize/update-resize-row.ts
Labels: vtable

#4353 Main
  common/changes/@visactor/vtable/4223-bug-listtable-set-hidetrueError_2025-08-11-06-37.json
  common/changes/@visactor/vtable/4319-bug-gantt-markline-notShow-after-setrecords_2025-08-14-12-02.json
  common/changes/@visactor/vtable/new-groupBy_2025-08-11-09-44.json
  common/changes/@visactor/vtable/refactor-scrollbar-layout_2025-08-12-08-03.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#4368 Newdocs and fixSearch error
  docs/assets/guide/zh/search.md
  packages/vtable-search/src/search-component/search-component.ts
Labels: docs

#4393 4388 bug columnwidthconfig error
  common/changes/@visactor/vtable/4388-bug-columnwidthconfig-error_2025-08-28-08-23.json
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: chore, vtable

#4361 4346 bug getlayoutrowtree api error
  common/changes/@visactor/vtable/4346-bug-getlayoutrowtree-api-error_2025-08-20-06-53.json
  docs/assets/faq/en/8-How to insert sparklines in table.md
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/tree-helper.ts
Labels: chore, docs, vtable

#4396 test bugserver
  common/changes/@visactor/vtable/4346-bug-getlayoutrowtree-api-error_2025-08-20-06-53.json
  common/changes/@visactor/vtable/4357-bug-scenegraph-origanize-error_2025-08-22-06-26.json
  common/changes/@visactor/vtable/4364-bug-right-click-cornerCell-arguments-cell_2025-08-22-09-16.json
  common/changes/@visactor/vtable/4388-bug-columnwidthconfig-error_2025-08-28-08-23.json
  docs/assets/faq/en/8-How to insert sparklines in table.md
  packages/vtable-search/src/search-component/search-component.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/self-event-listener/base-table/right-button-click.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: chore, docs, vtable

#4397 chore: implement fx formula bar select multipe cell to calculate
  common/changes/@visactor/vtable/feat-vtable-sheet-formula_2025-08-28-16-00.json
  packages/vtable-sheet/src/components/formula-range-selector.ts
  packages/vtable-sheet/src/components/vtable-sheet.ts
  packages/vtable-sheet/src/core/WorkSheet.ts
Labels: chore

#4390 Feat/vtable sheet hokkine
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/auto-fill.md
  packages/vtable-plugins/demo/auto-fill/auto-fill.ts
  packages/vtable-plugins/demo/auto-fill/mockData.ts
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/auto-fill/auto-fill-helper.ts
  packages/vtable-plugins/src/auto-fill/auto-fill-manager.ts
  packages/vtable-plugins/src/auto-fill/date-tools.ts
  packages/vtable-plugins/src/auto-fill/index.ts
  packages/vtable-plugins/src/auto-fill/rules.ts
  packages/vtable-plugins/src/auto-fill/series-converters.ts
  packages/vtable-plugins/src/auto-fill/types.ts
  packages/vtable-plugins/src/auto-fill/utils/date.ts
  packages/vtable-plugins/src/auto-fill/utils/fill.ts
Labels: docs

#4395 Fix/search error test#4368
  docs/assets/guide/zh/search.md
  packages/vtable-search/src/search-component/search-component.ts
Labels: docs

#4401 Main
  common/changes/@visactor/vtable/4346-bug-getlayoutrowtree-api-error_2025-08-20-06-53.json
  common/changes/@visactor/vtable/4357-bug-scenegraph-origanize-error_2025-08-22-06-26.json
  common/changes/@visactor/vtable/4364-bug-right-click-cornerCell-arguments-cell_2025-08-22-09-16.json
  common/changes/@visactor/vtable/4388-bug-columnwidthconfig-error_2025-08-28-08-23.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable
