Repository VisActor/VTable, pull requests merged in 2025-06, with the labels that each got.

#3981 fix: right click cannot preserve inverse selection
  packages/vtable/src/event/self-event-listener/base-table/right-button-click.ts
Labels: vtable

#3948 feat: add import execl functional plugin
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/plugin/execl-import.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/execl-import.md
  docs/assets/guide/zh/plugin/gantt-export-image.md
  docs/assets/guide/zh/plugin/usage.md
  packages/vtable-plugins/demo/execl-import/execl-import.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/excel-import.ts
  packages/vtable-plugins/src/index.ts
Labels: chore, docs

#3930 Fix/3839 update aggregation value when edit cell On pivotTable
  common/changes/@visactor/vtable/3908-feature-add-pasted_data-event-for-vtable_2025-05-20-11-12.json
  common/changes/@visactor/vtable/develop_2025-05-22-08-21.json
  common/changes/@visactor/vtable/feature-Markline-position-date_2025-05-10-11-41.json
  common/changes/@visactor/vtable/fix-bug-of-chart-matrix_2025-05-19-12-47.json
  common/config/rush/version-policies.json
  docs/assets/changelog/en/release.md
  docs/assets/changelog/zh/release.md
  docs/assets/guide/en/gantt/gantt_tasks.md
  docs/assets/guide/en/plugin/gantt-export-image.md
  docs/assets/guide/zh/gantt/gantt_tasks.md
  docs/assets/guide/zh/plugin/gantt-export-image.md
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
  packages/vtable/src/ts-types/new-data-set.ts
  packages/vue-vtable/demo/src/table/gramatical/composition/ListTable.vue
  packages/vue-vtable/package.json
  packages/vue-vtable/src/eventsUtils.ts
Labels: vtable

#3989 fix: when pointer up set isDown false
  common/changes/@visactor/vtable/fix-mobileModeOnPCbrower_2025-06-03-12-15.json
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, vtable

#3984 Fix/3867 adjust menu positon
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
Labels: vtable

#3966 Fix/issue 3914 scrollbar visible
  packages/vtable/src/event/scroll.ts
Labels: vtable

#3963 Fix/table box selection
  packages/vtable/src/event/listener/container-dom.ts
Labels: vtable

#4003 fix: fix node-canvas range in PivotChart #3997
  common/changes/@visactor/vtable/fix-canvas-range_2025-06-06-06-51.json
  packages/vtable/src/core/BaseTable.ts
Labels: chore, vtable

#3926 feat:add levelSpan for list-table
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/zh/column/base-column-type.md
  packages/vtable/examples/list/list-header-levelSpan.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
Labels: docs, vtable

#3974 Feat/issue 3851 自定义连接线样式
  docs/assets/guide/en/gantt/gantt_dependency_links.md
  docs/assets/guide/zh/gantt/gantt_dependency_links.md
  docs/assets/option/en/common/gantt/dependency-line.md
  docs/assets/option/zh/common/gantt/dependency-line.md
  packages/vtable-gantt/examples/gantt/gantt-linkLine-style.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: docs

#4050 Feat/3078
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/examples/list/list-tree-expandAndCollapseAll.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/data/DataSource.ts
Labels: docs, vtable

#4045 fix: update import paths for Style in ButtonStyle and SwitchStyle #4404
  packages/vtable/src/body-helper/style/ButtonStyle.ts
  packages/vtable/src/body-helper/style/SwitchStyle.ts
Labels: vtable

#4017 feat: add task-bar minSize config #4016
  common/changes/@visactor/vtable/feat-min-bar-size_2025-06-09-07-54.json
  docs/assets/option/en/common/gantt/task-bar-style.md
  docs/assets/option/zh/common/gantt/task-bar-style.md
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#4039 Fix/fix update columns
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/ListTable.ts
Labels: docs, vtable

#4040 Feat/table container fit mode
  common/changes/@visactor/vtable/3337-feat-add-containerFit_2025-06-13-06-29.jseaon
  docs/assets/demo/en/basic-functionality/container-fit.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/basic-functionality/container-fit.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/scenegraph.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, docs, vtable

#4048 Feat/wps fill handle
  common/changes/@visactor/vtable/docs-wps-fill-handle_2025-06-13-04-27.json
  common/changes/@visactor/vtable/feat-wps-fill-handle_2025-06-16-01-00.json
  common/changes/@visactor/vtable/feat-wps-fill-handle_2025-06-16-01-04.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/zh/plugin/wps-fill-handle.md
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/wps-fill-handle/mockData.ts
  packages/vtable-plugins/demo/wps-fill-handle/wps-fill-handle.ts
  packages/vtable-plugins/package.json
  packages/vtable-plugins/src/fillHandleUtils/autoFillHandle.ts
  packages/vtable-plugins/src/fillHandleUtils/translateRowObj.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/wps-fill-handle.ts
Labels: chore, docs

#4041 4029 bug loading gif release
  common/changes/@visactor/vtable/4029-bug-loading-gif-release_2025-06-13-06-29.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  packages/vtable/examples/list/list-tree.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: chore, docs, vtable

#4062 fix: 修复透视表多列树形表格行表头收起再重新展开后,getCellAddressByHeaderPaths方法获取行号不正确的问题
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-extension-row3.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

#4069 Fix/animation error
  .vscode/launch.json
  common/changes/@visactor/vtable/fix-animation-error_2025-06-18-07-12.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/core/animation.ts
Labels: chore, vtable

#4076 merge develop test bugserver
  .vscode/launch.json
  common/changes/@visactor/vtable/fix-animation-error_2025-06-18-07-12.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/core/animation.ts
Labels: chore, vtable

#4078 Feat/gantt export
  docs/assets/guide/en/plugin/gantt-export-image.md
  docs/assets/guide/zh/plugin/gantt-export-image.md
  packages/vtable-plugins/demo/gantt-export-image/gantt-export-image.ts
  packages/vtable-plugins/src/gantt-export-image.ts
Labels: docs

#4068 Fix/container fit calculate
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/row-height-map.ts
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

#4081 fix: compatible with base class definitions
  packages/vtable/src/scenegraph/graphic/icon.ts
Labels: vtable

#4080 Fix/container fit calculate
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/layout/row-height-map.ts
  packages/vtable/src/scenegraph/graphic/contributions/group-contribution-render.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: vtable

#4082 Feat/process bar with icon
  common/changes/@visactor/vtable/processBar_2025-06-19-06-54.json
  packages/vtable/examples/list/list-cellType-progressBar.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: chore, vtable

#4055 Fix/3839
  packages/vtable/__tests__/dataset/aggregation.test.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot-analysis/pivot-analysis-updateTotalData.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/dataset/dataset.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
  packages/vtable/src/ts-types/dataset/aggregation.ts
Labels: vtable

#4109 Fix/3839
  packages/vtable/src/ts-types/dataset/aggregation.ts
Labels: vtable

#4094 Fix/groupby falsy value display
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: vtable

#3978 Feat/allow frame array from Violet2314
  docs/assets/option/en/common/gantt/frame-style.md
  docs/assets/option/zh/common/gantt/frame-style.md
  packages/vtable-gantt/examples/gantt/gantt-borderLineWidth-array-config.ts
  packages/vtable-gantt/examples/menu.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable-plugins/demo/gantt-export-image/gantt-export-image.ts
  packages/vtable-plugins/src/gantt-export-image.ts
  packages/vtable/examples/list/list-cellType-progressBar.ts
  packages/vtable/src/index.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
Labels: docs, vtable

#4075 Fix/pivottable tree extension expandtoggle roworder
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-extension-row3.ts
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: vtable

#4117 Fix/list tree delete records bug 3991
  common/changes/@visactor/vtable/fix-list-tree-deleteRecords-bug-3991_2025-06-27-07-43.json
  packages/vtable/src/data/DataSource.ts
Labels: chore, vtable

#4119 fix: fix minWidth & maxWidth in autoFill
  common/changes/@visactor/vtable/fix-min-max-width-autoFillWidth_2025-06-27-08-37.json
  packages/vtable/examples/index.html
  packages/vtable/examples/list/list-autoFillWidth.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
Labels: chore, vtable

#4125 fix:header-description error
  packages/vtable/examples/list/list-header-levelSpan.ts
  packages/vtable/src/layout/simple-header-layout.ts
Labels: vtable
