Repository VisActor/VTable, pull requests merged in 2025-04, with the labels that each got.

#3597 3582 feature fill handle function
  common/changes/@visactor/vtable/3582-feature-fillHandle-function_2025-03-19-10-33.json
  packages/vtable/examples/interactive/fill-handle.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/scenegraph/select/update-select-border.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, vtable

#3615 3612 bug gantt render problem
  common/changes/@visactor/vtable/3612-bug-gantt-renderProblem_2025-03-24-08-21.json
  packages/vtable-gantt/src/tools/util.ts
Labels: chore

#3641 3640 bug adaptive heightmode
  common/changes/@visactor/vtable/3640-bug-adaptive-heightmode_2025-03-26-09-15.json
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: chore, vtable

#3647 3639 bug gantt create schedule
  common/changes/@visactor/vtable/3639-bug-gantt-createSchedule_2025-03-27-12-11.json
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable/src/core/BaseTable.ts
Labels: chore, vtable

#3652 3638 bug gantt overscrollbehavior
  common/changes/@visactor/vtable/3638-bug-gantt-overscrollbehavior_2025-03-28-03-49.json
  packages/vtable-gantt/src/event/scroll.ts
Labels: chore

#3662 3661 bug renderchartasync setrecords render error
  common/changes/@visactor/vtable/3661-bug-renderchartasync-setrecords-renderError_2025-03-31-11-43.json
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotChart.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
Labels: chore, vtable

#3670 fix: when set corner customlayout and customMerge cornder cell render…
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
Labels: vtable

#3669 3653 feature pivot table corner
  common/changes/@visactor/vtable/3653-feature-pivotTable-corner_2025-04-01-08-01.json
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable/src/layout/pivot-header-layout.ts
  packages/vtable/src/layout/tree-helper.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: chore, vtable

#3685 fix: fix merge cell checkbox state update #3668
  common/changes/@visactor/vtable/fix-fix-merge-checkbox-state_2025-04-02-08-58.json
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: chore, vtable

#3650 #3648 Improve the performance of exporting Excel
  docs/assets/guide/en/export/excel.md
  docs/assets/guide/zh/export/excel.md
  packages/vtable-export/src/excel/index.ts
Labels: docs

#3618 feat: add select/cornerHeaderSelectMode config
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-grid-tree-select-cornerHeaderSelectMode.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: docs, vtable

#3671 Perf/vue cell custom render
  docs/assets/demo-vue/en/custom-layout/cell-dom-component.md
  docs/assets/demo-vue/zh/custom-layout/cell-dom-component.md
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
  packages/vue-vtable/src/edit/editor.ts
Labels: docs

#3691 feat: column header of the ListTable supports folding
  docs/assets/demo/en/basic-functionality/list-table-header-group-collapse.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/basic-functionality/list-table-header-group-collapse.md
  docs/assets/guide/en/table_type/List_table/columns_tree.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/table_type/List_table/columns_tree.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: docs, vtable

#3699 Feat/listtable columntree
  common/changes/@visactor/vtable/feat-listtable-columntree_2025-04-03-10-14.json
  packages/vtable/src/layout/simple-header-layout.ts
Labels: chore, vtable

#3712 Refactor/compute cols width api call time
  docs/assets/demo-vue/en/custom-layout/cell-dom-component.md
  docs/assets/demo-vue/zh/custom-layout/cell-dom-component.md
  docs/assets/guide/en/export/excel.md
  docs/assets/guide/zh/export/excel.md
  packages/vtable-export/src/excel/index.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vue-vtable/src/components/custom/vtable-vue-attribute-plugin.ts
  packages/vue-vtable/src/edit/editor.ts
Labels: docs, vtable

#3716 3693 bug mobile touch event error
  common/changes/@visactor/vtable/3693-bug-mobile-touch-event-error_2025-04-03-06-30.json
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, vtable

#3700 Feat/change cell value
  common/changes/@visactor/vtable/feat-changeCellValue_2025-04-08-13-35.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
Labels: chore, docs, vtable

#3705 Feat corner header select mode
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list-rowSeriesNumber-cornerHeaderSelectMode.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-grid-tree-select-cornerHeaderSelectMode.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: docs, vtable

#3720 docs: correct the dropdown menu click event name
  docs/assets/demo/en/component/dropdown.md
  docs/assets/demo/en/interaction/context-menu.md
  docs/assets/demo/zh/component/dropdown.md
  docs/assets/demo/zh/interaction/context-menu.md
  docs/assets/faq/en/16-How to customize the drop-down menu in table component.md
  docs/assets/faq/en/18-How to customize the context menu in the table component.md
  docs/assets/faq/zh/16-How to customize the drop-down menu in table component.md
  docs/assets/faq/zh/18-How to customize the context menu in the table component.md
  docs/assets/guide/en/Event/event_list.md
  docs/assets/guide/zh/Event/event_list.md
  packages/vtable/src/scenegraph/component/menu.ts
Labels: docs, vtable

#3718 fix: fix flex layout update in react-custom-layout component #3696
  common/changes/@visactor/vtable/fix-custom-flex-layout_2025-04-09-08-08.json
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/component/user/custom-layout-update.tsx
  packages/react-vtable/src/table-components/custom/reconciler.ts
Labels: chore, react-vtable

#3694 3693 bug mobile touch event error
  common/changes/@visactor/vtable/3693-bug-mobile-touch-event-error_2025-04-03-06-30.json
  packages/vtable/src/event/listener/table-group.ts
Labels: chore, vtable

#3695 Feat/corner header select mode
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-grid-tree-select-cornerHeaderSelectMode.ts
  packages/vtable/src/state/select/update-position.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: docs, vtable

#3697 Feat/listtable columntree
  common/changes/@visactor/vtable/feat-listtable-columntree_2025-04-03-10-14.json
  docs/assets/demo/en/basic-functionality/list-table-header-group-collapse.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/basic-functionality/list-table-header-group-collapse.md
  docs/assets/guide/en/table_type/List_table/columns_tree.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/table_type/List_table/columns_tree.md
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/events.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#3701 3684 bug frame border with array
  common/changes/@visactor/vtable/3684-bug-frame-border-with-array_2025-04-07-03-54.json
  packages/vtable/src/scenegraph/graphic/contributions/rect-contribution-render.ts
Labels: chore, vtable

#3707 Fix/gantt update record
  common/changes/@visactor/vtable/fix-gantt-updateRecord_2025-04-07-11-35.json
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
Labels: chore, docs

#3708 3702 bug disabledragselect frozencolcount
  common/changes/@visactor/vtable/3702-bug-disabledragselect-frozencolcount_2025-04-07-07-57.json
  packages/vtable/src/event/listener/container-dom.ts
Labels: chore, vtable

#3711 refactor: computeColsWidth api call time
  common/changes/@visactor/vtable/refactor-computeColsWidth_api_call_time_2025-04-09-06-31.json
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
Labels: chore, vtable

#3724 Main
  common/changes/@visactor/vtable/3645-bug-tree-node-move-position-error_2025-04-08-02-45.json
  common/changes/@visactor/vtable/3684-bug-frame-border-with-array_2025-04-07-03-54.json
  common/changes/@visactor/vtable/3693-bug-mobile-touch-event-error_2025-04-03-06-30.json
  common/changes/@visactor/vtable/3702-bug-disabledragselect-frozencolcount_2025-04-07-07-57.json
  common/changes/@visactor/vtable/feat-changeCellValue_2025-04-08-13-35.json
  common/changes/@visactor/vtable/feat-listtable-columntree_2025-04-03-10-14.json
  common/changes/@visactor/vtable/fix-custom-flex-layout_2025-04-09-08-08.json
  common/changes/@visactor/vtable/fix-gantt-updateRecord_2025-04-07-11-35.json
  common/changes/@visactor/vtable/refactor-computeColsWidth_api_call_time_2025-04-09-06-31.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#3732 Menu list item/disabled
  docs/assets/option/en/common/menu-list-item.md
  docs/assets/option/zh/common/menu-list-item.md
  packages/vtable/examples/list/list-contextMenu-disabledMenu.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-grid-tree.ts
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
  packages/vtable/src/components/menu/dom/logic/MenuElementStyle.ts
  packages/vtable/src/ts-types/menu.ts
Labels: docs, vtable

#3735 docs: update gantt/dependency/linkDeletable docs
  docs/assets/option/en/common/gantt/dependency-line.md
  docs/assets/option/zh/common/gantt/dependency-line.md
Labels: docs

#3741 pivotTable: fix rowseriesNumber/header icon not taking effect
  docs/assets/guide/en/export/excel.md
  docs/assets/guide/zh/export/excel.md
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: docs, vtable

#3747 Fix/column index calculation with series number
  common/changes/@visactor/vtable/fix-column-index-calculation-with-series-number_2025-04-16-05-30.json
  packages/vtable/src/layout/simple-header-layout.ts
Labels: chore, vtable

#3751 fix: fix row/column update problem in text-stick #3744
  common/changes/@visactor/vtable/fix-stick-row-update_2025-04-16-08-02.json
  packages/vtable/src/scenegraph/layout/update-col.ts
  packages/vtable/src/scenegraph/layout/update-row.ts
  packages/vtable/src/scenegraph/stick-text/index.ts
Labels: chore, vtable

#3746 fix: fix table size in getCellsRect() #3681
  common/changes/@visactor/vtable/fix-cell-rect_2025-04-15-12-40.json
  packages/vtable/src/core/BaseTable.ts
Labels: chore, vtable

#3733 Feat/menu list item disabled
  docs/assets/option/en/common/menu-list-item.md
  docs/assets/option/zh/common/menu-list-item.md
  packages/vtable/examples/list/list-contextMenu-disabledMenu.ts
  packages/vtable/examples/menu.ts
  packages/vtable/examples/pivot/pivot-grid-tree.ts
  packages/vtable/src/components/menu/dom/logic/MenuElement.ts
  packages/vtable/src/components/menu/dom/logic/MenuElementStyle.ts
  packages/vtable/src/ts-types/menu.ts
Labels: docs, vtable

#3736 Feat/on before cache chart image
  common/changes/@visactor/vtable/feat-onBeforeCacheChartImage_2025-04-14-09-57.json
  packages/react-vtable/src/eventsUtils.ts
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/src/core/TABLE_EVENT_TYPE.ts
  packages/vtable/src/scenegraph/graphic/contributions/chart-render-helper.ts
  packages/vtable/src/ts-types/events.ts
Labels: chore, vtable, react-vtable

#3753 Fix/column index calculation with series number
  common/changes/@visactor/vtable/fix-column-index-calculation-with-series-number_2025-04-16-05-30.json
  packages/vtable/src/layout/simple-header-layout.ts
Labels: chore, vtable

#3756 fix: fix chart picker logic
  packages/vtable/examples/pivot-chart/pivotChart.ts
  packages/vtable/src/scenegraph/graphic/contributions/vchart-graphic-picker.ts
Labels: vtable

#3759 Main
  common/changes/@visactor/vtable/feat-onBeforeCacheChartImage_2025-04-14-09-57.json
  common/changes/@visactor/vtable/feat-support-disable-buildin-active-chart_2025-03-27-03-30.json
  common/changes/@visactor/vtable/fix-cell-rect_2025-04-15-12-40.json
  common/changes/@visactor/vtable/fix-column-index-calculation-with-series-number_2025-04-16-05-30.json
  common/changes/@visactor/vtable/fix-fix-switch-direction_2025-04-02-09-23.json
  common/changes/@visactor/vtable/fix-image-flash_2025-04-16-06-43.json
  common/changes/@visactor/vtable/fix-selected-border-update_2025-03-28-08-48.json
  common/changes/@visactor/vtable/fix-stick-row-update_2025-04-16-08-02.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#3762 chore: release 1.18.0
  common/changes/@visactor/vtable/chore-release-minor_2025-04-17-07-31.json
Labels: chore

#3764 Merge main into develop
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#3761 docs: fix search-component url path incorrect
  docs/assets/guide/en/search.md
  docs/assets/guide/zh/search.md
Labels: docs

#3774 Fix/vtable hide row series number checkbox
  common/changes/@visactor/vtable/fix-vtable-hide-rowSeriesNumber-checkbox_2025-04-19-15-01.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: chore, vtable

#3773 Fix/group series number for aggregation rows
  common/changes/@visactor/vtable/fix-group-series-number-for-aggregation-rows_2025-04-18-14-45.json
  packages/vtable/src/ListTable.ts
Labels: chore, vtable

#3780 fix: fix scroll console error #3770
  common/changes/@visactor/vtable/fix-scroll-error_2025-04-21-09-16.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
Labels: chore, vtable

#3787 fix: optimize icon display logic for body cells
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: vtable

#3789 Merge main into develop
  common/changes/@visactor/vtable/fix-scroll-error_2025-04-21-09-16.json
  common/config/rush/version-policies.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-editors/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/CHANGELOG.json
  packages/vtable/CHANGELOG.md
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, vtable, react-vtable, openinula-vtable

#3785 fix(frozen-layout): skip border nodes during row movement
  packages/vtable/src/scenegraph/layout/frozen.ts
Labels: vtable

#3800 feat: add `getAllColsWidths` api, support to get a list of all table column widths
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: docs, vtable

#3743 3734 refactor unify event listen use vrender
  common/changes/@visactor/vtable/3734-refactor-unify-event-listen-use-vrender_2025-04-15-09-07.json
  packages/vtable-editors/src/list-editor.ts
  packages/vtable-editors/src/textArea-editor.ts
  packages/vtable-plugins/demo/menu.ts
  packages/vtable-plugins/demo/rotate-table/rotate-table.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-plugins/src/index.ts
  packages/vtable-plugins/src/rotate-table.ts
  packages/vtable/package.json
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/listener/touch.ts
Labels: chore, vtable

#3794 3766 bug row frozen occor error
  common/changes/@visactor/vtable/3766-bug-row-frozen-occor-error_2025-04-23-12-19.json
  packages/vtable/src/ListTable.ts
Labels: chore, vtable

#3779 Fix/group series number for aggregation rows
  common/changes/@visactor/vtable/fix-group-series-number-for-aggregation-rows_2025-04-18-14-45.json
  packages/vtable/src/ListTable.ts
Labels: chore, vtable

#3778 Fix/vtable hide row series number checkbox
  common/changes/@visactor/vtable/fix-vtable-hide-rowSeriesNumber-checkbox_2025-04-19-15-01.json
  packages/vtable/src/scenegraph/group-creater/cell-helper.ts
  packages/vtable/src/scenegraph/group-creater/column-helper.ts
Labels: chore, vtable

#3784 3768 bug updateoption data source error
  common/changes/@visactor/vtable/3768-bug-updateoption-dataSource-error_2025-04-21-09-55.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/DataSource.ts
Labels: chore, docs, vtable

#3793 Fix/frozen layout border
  packages/vtable/src/scenegraph/layout/frozen.ts
Labels: vtable

#3801 3791 bug pivot table width config not work no header case
  common/changes/@visactor/vtable/3791-bug-pivotTable-widthConfig-notWork-noHeaderCase_2025-04-24-11-27.json
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: chore, vtable

#3806 3796 bug adaptive with setting maxwidth
  common/changes/@visactor/vtable/3796-bug-adaptive-with-setting-maxwidth_2025-04-25-08-53.json
  packages/vtable/examples/cell-move/column-move.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/scenegraph/scenegraph.ts
Labels: chore, vtable

#3792 3788 bug focus highlight plugin
  common/changes/@visactor/vtable/3788-bug-focusHighlight-plugin_2025-04-23-07-29.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  docs/assets/demo/zh/plugin/excel-online-editing.md
  docs/assets/guide/en/plugin/contribute.md
  docs/assets/guide/en/plugin/row-column-series.md
  docs/assets/guide/zh/plugin/contribute.md
  docs/assets/guide/zh/plugin/row-column-series.md
  packages/vtable-plugins/demo/combine-plugins/combine-plugins.ts
  packages/vtable-plugins/demo/focus-highlight/focus-highlight.ts
  packages/vtable-plugins/demo/highlight-header/highlight-header.ts
  packages/vtable-plugins/src/add-row-column.ts
  packages/vtable-plugins/src/carousel-animation.ts
  packages/vtable-plugins/src/column-series.ts
  packages/vtable-plugins/src/excel-edit-cell-keyboard.ts
  packages/vtable-plugins/src/focus-highlight.ts
  packages/vtable-plugins/src/highlight-header-when-select-cell.ts
  packages/vtable-plugins/src/row-series.ts
  packages/vtable-plugins/src/table-carousel-animation.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/plugins/interface.ts
  packages/vtable/src/plugins/plugin-manager.ts
Labels: chore, docs, vtable

#3814 docs: add trae guid
  docs/assets/guide/menu.json
Labels: docs

#3813 feat: add configuration to display aggregation result when data is empty
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: docs, vtable

#3818 Feat/show aggregation when empty
  docs/assets/option/en/table/listTable.md
  docs/assets/option/zh/table/listTable.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: docs, vtable

#3815 fix: cancel rotate api
  common/changes/@visactor/vtable/fix-cancelTransform_2025-04-29-02-11.json
  common/changes/@visactor/vtable/fix-cancelTransform_2025-04-30-08-40.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/guide/en/plugin/rotate-table.md
  docs/assets/guide/en/plugin/usage.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/plugin/rotate-table.md
  docs/assets/guide/zh/plugin/usage.md
  packages/vtable-plugins/demo/index.html
  packages/vtable-plugins/demo/rotate-table/rotate-table.ts
  packages/vtable-plugins/demo/style.css
  packages/vtable-plugins/src/rotate-table.ts
  packages/vtable/package.json
  packages/vtable/src/components/menu/dom/MenuHandler.ts
  packages/vtable/src/components/tooltip/TooltipHandler.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/event.ts
  packages/vtable/src/event/listener/container-dom.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/event/listener/touch.ts
  packages/vtable/src/plugins/plugin-manager.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, docs, vtable
