Repository VisActor/VTable, pull requests merged in 2025-01, with the labels that each got.

#3203 fix: add string type to width and height of BaseTableProps
  packages/react-vtable/src/tables/base-table.tsx
Labels: react-vtable

#3259 fix: state/checkbox undefined error
  packages/vtable/src/state/checkbox/checkbox.ts
Labels: vtable

#3220 3201 refactor frozen width
  common/changes/@visactor/vtable/3201-refactor-frozenWidth_2024-12-27-06-44.json
  docs/assets/guide/en/basic_function/frozen_column_row.md
  docs/assets/guide/zh/basic_function/frozen_column_row.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/examples/list/list.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/event/listener/table-group.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/scenegraph/group-creater/progress/proxy.ts
  packages/vtable/src/state/state.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, docs, vtable

#3232 docs: supplement apis
  docs/assets/api/en/methods.md
  docs/assets/api/en/properties.md
  docs/assets/api/zh/methods.md
  docs/assets/api/zh/properties.md
  docs/assets/guide/en/Developer_Ecology/react.md
  docs/assets/guide/zh/Developer_Ecology/react.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: docs, vtable

#3236 3221 bug taskbar move occor error
  common/changes/@visactor/vtable/3221-bug-taskbar-move-occor-error_2024-12-30-10-25.json
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#3241 3199 bug listtable row height hide
  common/changes/@visactor/vtable/3199-bug-listtable-rowHeight-hide_2024-12-31-06-37.json
  packages/vtable/src/layout/simple-header-layout.ts
Labels: chore, vtable

#3243 chore: update vchart version
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-export/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/package.json
  packages/vue-vtable/package.json
Labels: chore, docs, vtable, react-vtable, openinula-vtable

#3244 feat: tasksShowMode sub_task mode support createSchedule #3235
  common/changes/@visactor/vtable/feature-taskBarCreatableSupportFn_2024-12-25-10-50.json
  common/changes/@visactor/vtable/feature-taskBarCreatableSupportFn_2024-12-26-07-10.json
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Arrange.ts
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Inline.ts
  packages/vtable-gantt/examples/gantt/gantt-Sub_Tasks_Separate.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#3246 Feature/task bar creatable support fn
  common/changes/@visactor/vtable/feature-taskBarCreatableSupportFn_2024-12-25-10-50.json
  common/changes/@visactor/vtable/feature-taskBarCreatableSupportFn_2024-12-26-07-10.json
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/zh/common/gantt/task-bar.md
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#3254 docs: supplement sort usage #3250
  docs/assets/guide/en/basic_function/sort/list_sort.md
  docs/assets/guide/zh/basic_function/sort/list_sort.md
  packages/vtable/examples/header/sort-false.ts
  packages/vtable/examples/menu.ts
Labels: docs, vtable

#3260 3258 bug columnwidthconfig not work
  common/changes/@visactor/vtable/3258-bug-columnwidthconfig-not-work_2025-01-06-06-30.json
  packages/vtable/src/layout/pivot-header-layout.ts
Labels: chore, vtable

#3272 3266 bug gantt width change
  common/changes/@visactor/vtable/3266-bug-gantt-width-change_2025-01-07-09-18.json
  packages/vtable-gantt/src/state/gantt-table-sync.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, vtable

#3275 3263 bug taskbar labeltextstyle update
  common/changes/@visactor/vtable/3263-bug-taskbar-labeltextstyle-update_2025-01-07-11-24.json
  docs/assets/api/en/methods.md
  docs/assets/api/zh/methods.md
  packages/vtable-gantt/src/state/state-manager.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#3276 fix: clear sort target when setRecords in dataset
  common/changes/@visactor/vtable/fix-dataset-sort_2025-01-07-12-36.json
  packages/vtable/src/dataset/dataset.ts
Labels: chore, vtable

#3252 fix: fix iterator map in getCheckboxState() #3177 #3239
  common/changes/@visactor/vtable/fix-interator-map-checkbox_2025-01-02-12-13.json
  packages/vtable/src/ListTable.ts
Labels: chore, vtable

#3249 fix: fix frozen update problem in react-dom-component
  common/changes/@visactor/vtable/fix-frozen-update-in-reacr-vtable_2025-01-02-09-08.json
  packages/react-vtable/demo/src/component/custom-layout-dom.tsx
  packages/vtable/src/scenegraph/layout/frozen-react.ts
Labels: chore, vtable, react-vtable

#3269 fix: fix aggregation display issue in tree-structured table headers
  common/changes/@visactor/vtable/fix-aggregation_2025-01-07-06-07.json
  packages/vtable/examples/list-analysis/list-aggregation-group-header.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/data/DataSource.ts
Labels: chore, vtable

#3242 feat: add keepColumnWidthChange props in react-vtable
  common/changes/@visactor/vtable/fix-react-props-update_2024-12-31-07-46.json
  docs/assets/guide/en/Developer_Ecology/react.md
  docs/assets/guide/zh/Developer_Ecology/react.md
  packages/react-vtable/demo/src/App.tsx
  packages/react-vtable/demo/src/list-table/list-component.tsx
  packages/react-vtable/demo/src/list-table/list-table.tsx
  packages/react-vtable/demo/src/pivot-table/pivot-comonent.tsx
  packages/react-vtable/demo/src/pivot-table/pivot-data.json
  packages/react-vtable/src/tables/base-table.tsx
  packages/vtable/src/ListTable.ts
  packages/vtable/src/PivotTable.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/scenegraph/layout/compute-col-width.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/list-table/define/basic-define.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable, react-vtable

#3282 fix: listTable aggregation dimension change to field
  packages/vtable/src/data/DataSource.ts
Labels: vtable

#3279 3268 feature gantt delete link line
  common/changes/@visactor/vtable/3268-feature-gantt-deleteLinkLine_2025-01-08-07-27.json
  docs/assets/api/en/GanttAPI.md
  docs/assets/api/zh/GanttAPI.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  docs/assets/option/en/column/base-column-type.md
  docs/assets/option/en/common/gantt/dependency-line.md
  docs/assets/option/en/common/row-series-number.md
  docs/assets/option/zh/column/base-column-type.md
  docs/assets/option/zh/common/gantt/dependency-line.md
  docs/assets/option/zh/common/row-series-number.md
  packages/vtable-gantt/examples/gantt/gantt-dependency.ts
  packages/vtable-gantt/src/Gantt.ts
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/event/scroll.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable-gantt/src/ts-types/EVENT_TYPE.ts
  packages/vtable-gantt/src/ts-types/events.ts
  packages/vtable-gantt/src/ts-types/gantt-engine.ts
Labels: chore, docs

#3237 feat: customMergeCell support array config #3202
  common/changes/@visactor/vtable/feat-custom-merge-config_2024-12-30-11-28.json
  docs/assets/guide/en/basic_function/merge_cell.md
  docs/assets/guide/zh/basic_function/merge_cell.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/utils/get-custom-merge-cell-func.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#3264 feat: add vtable-calendar gif demo
  common/changes/@visactor/vtable/feat-calendar-gif_2025-01-08-12-00.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo/en/calendar/calendar-custom-layout.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/calendar/calendar-custom-layout.md
  docs/assets/guide/en/calendar/calendar_custom_layout.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/calendar/calendar_custom_layout.md
  packages/vtable-calendar/demo/gif/icons8-冬季.gif
  packages/vtable-calendar/demo/gif/icons8-夏季.gif
  packages/vtable-calendar/demo/gif/icons8-多云兼雨.gif
  packages/vtable-calendar/demo/gif/icons8-小雨2.gif
  packages/vtable-calendar/demo/gif/icons8-有风的天气.gif
  packages/vtable-calendar/demo/gif/icons8-瓢泼大雨.gif
  packages/vtable-calendar/demo/gif/icons8-白天晴间多云.gif
  packages/vtable-calendar/demo/gif/icons8-雨.gif
  packages/vtable-calendar/demo/list/custom-weather.ts
  packages/vtable-calendar/demo/menu.ts
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-calendar/src/table/table-option.ts
  packages/vtable/package.json
  packages/vtable/src/index.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
Labels: chore, docs, vtable

#3288 Fix/schedule creation show mode
  common/changes/@visactor/vtable/feat-calendar-gif_2025-01-08-12-00.json
  common/changes/@visactor/vtable/feat-custom-merge-config_2024-12-30-11-28.json
  common/config/rush/pnpm-lock.yaml
  docs/assets/demo/en/calendar/calendar-custom-layout.md
  docs/assets/demo/menu.json
  docs/assets/demo/zh/calendar/calendar-custom-layout.md
  docs/assets/guide/en/basic_function/merge_cell.md
  docs/assets/guide/en/calendar/calendar_custom_layout.md
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/menu.json
  docs/assets/guide/zh/basic_function/merge_cell.md
  docs/assets/guide/zh/calendar/calendar_custom_layout.md
  docs/assets/guide/zh/gantt/introduction.md
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/common/gantt/task-bar.md
  docs/assets/option/zh/common/option-secondary.md
  docs/assets/option/zh/table/gantt.md
  packages/vtable-calendar/demo/gif/icons8-冬季.gif
  packages/vtable-calendar/demo/gif/icons8-夏季.gif
  packages/vtable-calendar/demo/gif/icons8-多云兼雨.gif
  packages/vtable-calendar/demo/gif/icons8-小雨2.gif
  packages/vtable-calendar/demo/gif/icons8-有风的天气.gif
  packages/vtable-calendar/demo/gif/icons8-瓢泼大雨.gif
  packages/vtable-calendar/demo/gif/icons8-白天晴间多云.gif
  packages/vtable-calendar/demo/gif/icons8-雨.gif
  packages/vtable-calendar/demo/list/custom-weather.ts
  packages/vtable-calendar/demo/menu.ts
  packages/vtable-calendar/src/month-calendar.ts
  packages/vtable-calendar/src/table/table-option.ts
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable/package.json
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/utils/get-custom-merge-cell-func.ts
  packages/vtable/src/index.ts
  packages/vtable/src/scenegraph/graphic/icon.ts
  packages/vtable/src/ts-types/base-table.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#3280 Fix/aggregation header children
  common/changes/@visactor/vtable/fix-aggregation_2025-01-07-06-07.json
  docs/assets/guide/en/gantt/introduction.md
  docs/assets/guide/zh/gantt/introduction.md
  docs/assets/option/en/common/gantt/task-bar.md
  docs/assets/option/en/table/gantt.md
  docs/assets/option/zh/common/gantt/task-bar.md
  docs/assets/option/zh/table/gantt.md
  packages/vtable-gantt/src/gantt-helper.ts
  packages/vtable/examples/list-analysis/list-aggregation-group-header.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/data/DataSource.ts
Labels: chore, docs, vtable

#3289 Feat/groupby value get
  common/changes/@visactor/vtable/feat-groupby-value-get_2025-01-02-07-31.json
  common/changes/@visactor/vtable/feat-groupby-value-get_2025-01-02-08-34.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/tsconfig.json
Labels: chore, typescript, vtable

#3247 feat: groupby support array config
  common/changes/@visactor/vtable/feat-groupby-value-get_2025-01-02-07-31.json
  common/changes/@visactor/vtable/feat-groupby-value-get_2025-01-02-08-34.json
  common/config/rush/pnpm-lock.yaml
  packages/vtable/package.json
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/tsconfig.json
Labels: chore, typescript, vtable

#2899 Feat/vrender measure
  common/config/rush/pnpm-lock.yaml
  docs/package.json
  packages/openinula-vtable/package.json
  packages/react-vtable/package.json
  packages/vtable-calendar/package.json
  packages/vtable-export/package.json
  packages/vtable-gantt/package.json
  packages/vtable-plugins/package.json
  packages/vtable-search/package.json
  packages/vtable/__tests__/listTable-highlightInRange.test.ts
  packages/vtable/__tests__/listTable.test.ts
  packages/vtable/package.json
  packages/vtable/src/scenegraph/utils/text-icon-layout.ts
  packages/vtable/src/scenegraph/utils/text-measure.ts
  packages/vue-vtable/package.json
Labels: chore, test, docs, vtable, react-vtable, openinula-vtable

#3317 Feat table size adaptive
  common/changes/@visactor/vtable/feat-tableSIzeAdaptive_2025-01-14-08-35.json
  docs/assets/guide/en/basic_function/row_height_column_width.md
  docs/assets/guide/zh/basic_function/row_height_column_width.md
  docs/assets/option/en/common/option-secondary.md
  docs/assets/option/zh/common/option-secondary.md
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/scenegraph/group-creater/progress/create-group-for-first-screen.ts
  packages/vtable/src/ts-types/base-table.ts
Labels: chore, docs, vtable

#3306 3294 bug mouseleave task bar trigger
  common/changes/@visactor/vtable/3294-bug-mouseleave_task_bar-trigger_2025-01-10-07-50.json
  packages/vtable-gantt/src/event/event-manager.ts
  packages/vtable-gantt/src/scenegraph/dependency-link.ts
  packages/vtable-gantt/src/scenegraph/drag-order-line.ts
  packages/vtable-gantt/src/scenegraph/frame-border.ts
  packages/vtable-gantt/src/scenegraph/grid.ts
  packages/vtable-gantt/src/scenegraph/mark-line.ts
  packages/vtable-gantt/src/scenegraph/scenegraph.ts
  packages/vtable-gantt/src/scenegraph/scroll-bar.ts
  packages/vtable-gantt/src/scenegraph/task-bar.ts
  packages/vtable-gantt/src/scenegraph/timeline-header.ts
Labels: chore

#3313 Test/move tree node
  common/changes/@visactor/vtable/feat-tree-data-update_2025-01-10-07-14.json
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/demo/en/business/population-pyramid.md
  docs/assets/demo/zh/business/population-pyramid.md
  docs/assets/guide/en/basic_function/row_series_number.md
  docs/assets/guide/en/interaction/drag_header.md
  docs/assets/guide/zh/basic_function/row_series_number.md
  docs/assets/guide/zh/interaction/drag_header.md
  packages/vtable/examples/list/list-dataSource-changeOrder.ts
  packages/vtable/examples/menu.ts
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/record-helper.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/CachedDataSource.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: chore, docs, vtable

#3301 3096 feature move row table tree
  docs/assets/api/en/event/event.md
  docs/assets/api/zh/event/event.md
  docs/assets/demo/en/business/population-pyramid.md
  docs/assets/demo/zh/business/population-pyramid.md
  packages/vtable/src/ListTable.ts
  packages/vtable/src/core/BaseTable.ts
  packages/vtable/src/core/tableHelper.ts
  packages/vtable/src/data/DataSource.ts
  packages/vtable/src/layout/simple-header-layout.ts
  packages/vtable/src/ts-types/table-engine.ts
Labels: docs, vtable

#3325 fix: remove tree limit in handleTextStick() #3274
  common/changes/@visactor/vtable/fix-stick-frozen_2025-01-16-13-12.json
  packages/vtable/src/scenegraph/stick-text/index.ts
Labels: chore, vtable

#3324 fix: fix empty-tip layout problem when resize window #3312
  common/changes/@visactor/vtable/fix-empty-tip-layout_2025-01-16-12-41.json
  packages/vtable/src/components/empty-tip/empty-tip.ts
Labels: chore, vtable

#3305 perf: replace the anonymous types with the declared types
  packages/vtable/src/core/utils/get-cell-position.ts
Labels: vtable

#3356 feat: dependField&batType support function in progress-bar
  common/changes/@visactor/vtable/feat-barType-dependField-func_2025-01-26-07-58.json
  packages/vtable/src/scenegraph/group-creater/cell-type/progress-bar-cell.ts
Labels: chore, vtable

#3352 feat: add skipImageExportCellType in vtable-export
  common/changes/@visactor/vtable/feat-vtable-export-skipImageExportCellType_2025-01-24-03-58.json
  packages/vtable-export/demo/list/list-custom.ts
  packages/vtable-export/demo/menu.ts
  packages/vtable-export/src/excel/index.ts
Labels: chore

#3340 Feat/react dom component
  packages/react-vtable/src/eventsUtils.ts
  packages/vtable-editors/src/date-input-editor.ts
  packages/vtable-editors/src/input-editor.ts
  packages/vtable/src/components/empty-tip/empty-tip.ts
Labels: vtable, react-vtable
